[% USE L %]
[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]
<h1>[% title | html %]</h1>

<form method=post action="[% script | html %]">

[% L.hidden_tag('accno', accno) %]
[% L.hidden_tag('description', description) %]
[% L.hidden_tag('sort', 'transdate') %]
[% L.hidden_tag('accounttype', accounttype) %]

<table>
        <tr>
          <th align=left>[% L.radio_button_tag('reporttype', value='custom', label=LxERP.t8('Customized Report')) %]</th>
        </tr>
        <tr>
          <th colspan=1>[% 'Year' | $T8 %]</th>
          <td><input name=year size=11 title="[% 'YYYY' | $T8 %]" value="[% year %]"></td>
        </tr>

        <tr>
                <td align=right><b>[% 'Yearly' | $T8 %]</b></td>
                <th align=left>[% 'Quarterly' | $T8 %]</th>
                <th align=left colspan=3>[% 'Monthly' | $T8 %]</th>
        </tr>
        <tr>
                <td align=right>[% L.radio_button_tag('duetyp', value=13) %]</td>
                <td>[% L.radio_button_tag('duetyp', value='A', label='1. ' _ LxERP.t8('Quarter')) %]</td>
                <td>[% L.radio_button_tag('duetyp', value='1', label=LxERP.t8('January')) %]</td>
                <td>[% L.radio_button_tag('duetyp', value='5', label=LxERP.t8('May')) %]</td>
                <td>[% L.radio_button_tag('duetyp', value='9', label=LxERP.t8('September')) %]</td>
        </tr>
        <tr>
                <td></td>
                <td>[% L.radio_button_tag('duetyp', value='B', label='2. ' _ LxERP.t8('Quarter')) %]</td>
                <td>[% L.radio_button_tag('duetyp', value='2', label=LxERP.t8('February')) %]</td>
                <td>[% L.radio_button_tag('duetyp', value='6', label=LxERP.t8('June')) %]</td>
                <td>[% L.radio_button_tag('duetyp', value='10', label=LxERP.t8('October')) %]</td>
        </tr>
        <tr>
                <td></td>
                <td>[% L.radio_button_tag('duetyp', value='C', label='3. ' _ LxERP.t8('Quarter')) %]</td>
                <td>[% L.radio_button_tag('duetyp', value='3', label=LxERP.t8('March')) %]</td>
                <td>[% L.radio_button_tag('duetyp', value='7', label=LxERP.t8('July')) %]</td>
                <td>[% L.radio_button_tag('duetyp', value='11', label=LxERP.t8('November')) %]</td>
        </tr>
        <tr>
                <td></td>
                <td>[% L.radio_button_tag('duetyp', value='D', label='4. ' _ LxERP.t8('Quarter')) %]</td>
                <td>[% L.radio_button_tag('duetyp', value='4', label=LxERP.t8('April')) %]</td>
                <td>[% L.radio_button_tag('duetyp', value='8', label=LxERP.t8('August')) %]</td>
                <td>[% L.radio_button_tag('duetyp', value='12', label=LxERP.t8('December')) %]</td>

        </tr>
        <tr>
                   <td colspan=5><hr size=3 noshade></td>
        </tr>
        <tr>
          <th align=left>[% L.radio_button_tag('reporttype', value='free', label=LxERP.t8('Free report period')) %]</th>
          <td align=left colspan=4>[% 'From' | $T8 %] [% L.date_tag('fromdate') %]
              [% 'Bis' | $T8 %] [% L.date_tag('todate') %]
          </td>
        </tr>
        <tr>
                   <td colspan=5><hr size=3 noshade></td>
        </tr>
        <tr>
         <th align=right colspan=4>[% 'Decimalplaces' | $T8 %]</th>
         <td><input name=decimalplaces size=3 value="2"></td>
        </tr>
        <tr>
           <td>[% L.checkbox_tag('subtotal', label=LxERP.t8('Subtotal')) %]</td>
        </tr>

  <tr><td colspan=5 ><hr size=3 noshade></td></tr>
</table>

<br>[% L.submit_tag('action', LxERP.t8('List Transactions')) %]
</form>
