[% USE HTML %]
[% USE LxERP %]
[% USE L %]
[% USE P %]
[% USE T8 %]

<h1>[% HTML.escape(title) %]</h1>

<form action="controller.pl" method="post" id="form">
[% L.hidden_tag("id", SELF.config.id) %]
[% L.hidden_tag("registration", SELF.config.registration) %]

<div class="wrapper">

<table class="tbl-horizontal">
  <tbody>
    <tr><th>regstration</th><td>[% SELF.config.registration %]</td></tr>
    [% IF SELF.config.registration == 'microsoft' %]
      <tr>
        <th>[% 'E-Mail' | $T8 %]</th>
        <td>[% L.input_tag("config.email", SELF.config.email, "data-validate"="required", "data-title"=LxERP.t8("E-Mail"), size=50) %]</td>
      </tr>
    [% END %]
  </tbody>
</table>


</div><!-- /.wrapper -->
</form>
