[%- USE HTML -%][%- USE LxERP -%][%- USE L -%][%- USE T8 -%][%- INCLUDE 'common/flash.html' %]

<h1>[% title %]</h1>

<div class="wrapper">
<table class="tbl-list" id="taxzone_list">
  <thead>
    <tr>
      <th>id</th>
      <th>[% 'registration' | $T8 %]</th>
      <th>scope</th>
      <th>email</th>
      <th>state</th>
      <th>expires in (s)</th>
      <th>access_token</th>
      <th>refresh_token</th>
    </tr>
  </thead>
  <tbody>
    [%- FOREACH tok = TOKENS %]
    <tr id="tzone_id_[% tok.id %]">
      <td>[% HTML.escape(tok.id) %]</td>
      <td>[% HTML.escape(tok.registration) %]</td>
      <td>[% HTML.escape(tok.scope) %]</td>
      <td>[% HTML.escape(tok.email) %]</td>
      <td>[% HTML.escape(tok.tokenstate) %]</td>
      <td>[% HTML.escape(tok.expiration) %]</td>
      <td>[% HTML.escape(tok.access_token) %]</td>
      <td>[% HTML.escape(tok.refresh_token) %]</td>
    </tr>
    [%- END %]
  </tbody>
</table>


[% # L.sortable_element('#taxzone_list tbody', url=SELF.url_for(action='reorder'), with='tzone_id') %]

</div>
