[%- USE HTML -%][%- USE LxERP -%][%- USE L -%][%- USE T8 -%][%- INCLUDE 'common/flash.html' %]

<h1>[% title %]</h1>

<div class="wrapper">
<table class="tbl-list" id="taxzone_list">
  <thead>
    <tr>
      <th>id</th>
      <th>[% 'registration' | $T8 %]</th>
      <th>authflow</th>
      <th>email</th>
      <th>access_token_expiration</th>
      <th>access_token</th>
      <th>refresh_token</th>
      <th>itime</th>
      <th>mtime</th>
    </tr>
  </thead>
  <tbody>
    [%- FOREACH tok = TOKENS %]
    <tr id="tzone_id_[% tok.id %]">
      <td>[% tok.id %]</td>
      <td>[% tok.registration %]</td>
      <td>[% tok.authflow %]</td>
      <td>[% tok.email %]</td>
      <td>[% tok.access_token_expiration %]</td>
      <td style="max-width: 80ch; word-break: break-all;">[% tok.access_token %]</td>
      <td style="max-width: 32ch; word-break: break-all;">[% tok.refresh_token %]</td>
      <td>[% tok.itime %]</td>
      <td>[% tok.mtime %]</td>
    </tr>
    [%- END %]
  </tbody>
</table>


[% # L.sortable_element('#taxzone_list tbody', url=SELF.url_for(action='reorder'), with='tzone_id') %]

</div>
