[%- USE T8 %]
[% USE HTML %]

<input name="id" type="hidden" id="cvid" value="[% HTML.escape(id) %]">
<input name="business_save" type="hidden" value="[% HTML.escape(selectbusiness) %]">
<input name="title_save" type="hidden" value="[% HTML.escape(title) %]">

<input type="hidden" name="callback" value="[% HTML.escape(callback) %]">
<input type="hidden" name="db" id="db" value="[% HTML.escape(db) %]">

<br>
  <input class="submit" type="submit" name="action" accesskey="s" value="[% 'Save' | $T8 %]">
  <input class="submit" type="submit" name="action" accesskey="s" value="[% 'Save and Close' | $T8 %]">
  [%- IF is_customer %]
  <input class="submit" type="submit" name="action" value="[% 'Save and AR Transaction' | $T8 %]">
  [%- ELSE %]
  <input class="submit" type="submit" name="action" value="[% 'Save and AP Transaction' | $T8 %]">
  [%- END %]
  <input class="submit" type="submit" name="action" value="[% 'Save and Invoice' | $T8 %]">
  <input class="submit" type="submit" name="action" value="[% 'Save and Order' | $T8 %]">
  [%- IF is_customer %]
  <input class="submit" type="submit" name="action" value="[% 'Save and Quotation' | $T8 %]">
  [%- ELSE %]
  <input class="submit" type="submit" name="action" value="[% 'Save and RFQ' | $T8 %]">
  [%- END %]
[%- IF id AND is_orphaned %]
  <input class="submit" type="submit" name="action" value="[% 'Delete' | $T8 %]">
[%- END %]
[%- IF id %]
  <input type="button" class="submit" onclick="set_history_window([% HTML.escape(id) %]);" name="history" id="history" value="[% 'history' | $T8 %]">
[%- END %]

  </form>

 <script type="text/javascript">
  <!--
      Calendar.setup({ inputField : "from",    ifFormat :"[% myconfig_jsc_dateformat %]", align : "BL", button : "trigger_from" });
      Calendar.setup({ inputField : "to",      ifFormat :"[% myconfig_jsc_dateformat %]", align : "BL", button : "trigger_to" });
      Calendar.setup({ inputField : "FU_date", ifFormat :"[% myconfig_jsc_dateformat %]", align : "BR", button : "FU_date_trigger" });

      function enable_delete_shipto(used) { var s=document.getElementById('delete_shipto');  if (s) s.disabled = (used > 0 ? true : false); }
      function enable_delete_contact(used){ var s=document.getElementById('delete_contact'); if (s) s.disabled = (used > 0 ? true : false); }

      var maintab = new ddtabcontent("maintab");
      maintab.setpersist(true);
      maintab.setselectedClassTarget("link"); //"link" or "linkparent"
      maintab.init();

    -->
 </script>
</body>
</html>
