
<input name=id type=hidden id=cvid value=[% id %]>
<input name=business_save type=hidden value="[% selectbusiness %]">
<input name=title_save type=hidden value="[% title %]">

<input type=hidden name=login value=[% login %]>
<input type=hidden name=password value=[% password %]>

<input type=hidden name=callback value="[% callback %]">
<input type=hidden name=db id=db value=[% db %]>

<br>
  <input class=submit type=submit name=action accesskey="s" value="<translate>Save</translate>">
  <input class=submit type=submit name=action accesskey="s" value="<translate>Save and Close</translate>">
  <input class=submit type=submit name=action value=" [% IF is_cumstomer %]<translate>Save and AR Transaction</translate>[% ELSE %]<translate>Save and AP Transaction</translate>[% END %]">
  <input class=submit type=submit name=action value="<translate>Save and Invoice</translate>">
  <input class=submit type=submit name=action value="<translate>Save and Order</translate>">
  <input class=submit type=submit name=action value="[% IF is_customer %]<translate>Save and Quotation</translate>[% ELSE %]<translate>Save and RFQ</translate>[% END %]">
[%- IF id AND is_orphaned %]
  <input class=submit type=submit name=action value="<translate>Delete</translate>">
[%- END %]
[%- IF id %]
  <input type=button class=submit onclick=set_history_window([% id %]); name=history id=history value=<translate>history</translate>>|;
[%- END %]

  </form>
<script type="text/javascript">
//Start Tab Content script for UL with id="maintab" Separate multiple ids each with a comma.
initializetabcontent("maintab")
</script>
</body>
</html>
