[% USE HTML %][% USE LxERP %]
<table width="100%">
  <tr>
    <td>
      <table width="100%">
        <tr class="listheading">
          <th class="listheading"><translate>Shipping Address</translate></th>
          <th class="listheading"><translate>Invoice</translate></th>
          <th class="listheading"><translate>Order</translate></th>
          <th class="listheading"><translate>Invdate</translate></th>
          <th class="listheading"><translate>Description</translate></th>
          <th class="listheading"><translate>Qty</translate></th>
          <th class="listheading"><translate>Unit</translate></th>
[%- IF is_customer %]
          <th class="listheading"><translate>Sell Price</translate></th>
[%- ELSE %]
          <th class="listheading"><translate>Last Cost</translate></th>
[%- END %]
        </tr>
[%- FOREACH row = DELIVERY %]
[%-
    row.script = is_customer ?  ( row.invoice ? 'is' : 'ar' )
                             :  ( row.invoice ? 'ir' : 'ap' )
-%]
        <tr class="listrow[% loop.count % 2 %]">
          <td>[% HTML.escape(row.shiptoname) UNLESS loop.prev.shiptoname == row.shiptoname %]&nbsp;</td>
          <td>[% IF row.id %]<a href='[% row.script %].pl?action=edit&id=[% HTML.escape(row.id) %]'>[% END %][% HTML.escape(row.invnumber)   || '&nbsp;' %][% IF row.id %]</a>[% END %]</td>
          <td>[% IF row.oe_id %]<a href='oe.pl?action=edit&type=[% IF is_customer %]sales_order[% ELSE %]purchase_order[% END %]&vc=customer&id=[% HTML.escape(row.oe_id) %]'>[% END %][% HTML.escape(row.ordnumber)   || '&nbsp;' %][% IF row.oe_id %]</a>[% END %]</td>
          <td>[% HTML.escape(row.transdate)   || '&nbsp;' %]</td>
          <td>[% HTML.escape(row.description) || '&nbsp;' %]</td>
          <td>[% HTML.escape(row.qty)         || '&nbsp;' %]</td>
          <td>[% HTML.escape(row.unit)        || '&nbsp;' %]</td>
          <td>[% LxERP.format_amount(row.sellprice, 2) || '&nbsp;' %]</td>
        </tr>
[%- END %]

     </table>
[%- IF DELIVERY.size == 15 %]
     <p><translate>This list is capped at 15 items to keep it fast. If you need a full list, please use reports.</translate></p>
[%- END %]
