[% USE HTML %]<body onload="fokus()">

 <form method="post" action="ct.pl" name="Form">

  <input type="hidden" name="db" value="[% HTML.escape(db) %]">

  <div class="listtop">[% title %]</div>

  <table>
   <tr>
    <th align="right" nowrap>[% IF IS_CUSTOMER %]Kundennummer[% ELSE %]Lieferantennummer[% END %]</th>
    <td><input name="[% IF IS_CUSTOMER %]customer[% ELSE %]vendor[% END %]number" size="35"></td>
   </tr>

   <tr>
    <th align="right" nowrap>[% IF IS_CUSTOMER %]Kundenname[%- ELSE %]Lieferantenname[%- END %]</th>
    <td><input name="name" size="35"></td>
   </tr>

   <tr>
    <th align="right" nowrap>Kontakt</th>
    <td><input name="contact" size="35"></td>
   </tr>

   <tr>
    <th align="right" nowrap>eMail</th>
    <td><input name="email" size="35"></td>
   </tr>
   <tr>
    <th align="right" nowrap>Ansprechpartner (Nachname)</th>
    <td><input name="cp_name" size="35"></td>
   </tr>
   </tr>
    <th align="right" nowrap>Rechnungsadresse (Straße)</th>
    <td><input name="addr_street" size="35"></td>
   </tr>
 <tr>
    <th align="right" nowrap>Rechnungsadresse (PLZ)</th>
    <td><input name="addr_zipcode" size="35"></td>
 </tr>
   <tr>
    <th align="right" nowrap>Rechnungsadresse (Stadt)</th>
    <td><input name="addr_city" size="35"></td>
   </tr>
   [% IF SHOW_BUSINESS_TYPES %]
   <tr>
    <th align="right" nowrap>[% IF IS_CUSTOMER %]Kundentyp[% ELSE %]Lieferantentyp[% END %]</th>
    <td>
     <select name="business_id"><option value=""></option>
      [% FOREACH bt = ALL_BUSINESS_TYPES %]<option value="[% HTML.escape(bt.id) %]">[% HTML.escape(bt.description) %]</option>[% END %]
     </select>
    </td>
   </tr>
   [% END %]

   [% CUSTOM_VARIABLES_FILTER_CODE %]

   <tr>
    <td></td>
    <td>
     <input name="status" class="radio" type="radio" value="all" checked> Alle
     <input name="status" class="radio" type="radio" value="orphaned"> Nie benutzt
    </td>
   </tr>

   <tr>
    <td></td>
    <td><input name="obsolete" class="radio" type="radio" value="all"> Alle
     <input name="obsolete" class="radio" type="radio" value="Y"> Ungültig
     <input name="obsolete" class="radio" type="radio" value="N" checked> Gültig
    </td>
   </tr>

   <tr>
    <th align="right" nowrap>In Bericht aufnehmen</th>
    <td>
     <table border="0">
      <tr>
       <td>
        <input name="l_id" id="l_id" type="checkbox" class="checkbox" value="Y">
        <label for="l_id">Buchungsnummer</label>
       </td>
       <td>
        <input name="l_[% db %]number" id="l_[% db %]number" type="checkbox" class="checkbox" value="Y" checked>
        <label for="l_[% db %]number">[% IF IS_CUSTOMER %]Kundennummer[% ELSE %]Lieferantennummer[% END %]</label>
       </td>
       <td>
        <input name="l_name" id="l_name" type="checkbox" class="checkbox" value="Y" checked>
        <label for="l_name">[% IF IS_CUSTOMER %]Kundenname[%- ELSE %]Lieferantenname[%- END %]</label>
       </td>
       <td>
        <input name="l_street" id="l_street" type="checkbox" class="checkbox" value="Y" checked>
        <label for="l_street">Straße</label>
       </td>
      </tr>

      <tr>
       <td>
        <input name="l_contact" id="l_contact" type="checkbox" class="checkbox" value="Y" checked>
        <label for="l_contact">Kontakt</label>
       </td>
       <td>
        <input name="l_phone" id="l_phone" type="checkbox" class="checkbox" value="Y" checked>
        <label for="l_phone">Telefon</label>
       </td>
       <td>
        <input name="l_fax" id="l_fax" type="checkbox" class="checkbox" value="Y">
        <label for="l_fax">Fax</label>
       </td>
       <td>
        <input name="l_zipcode" id="l_zipcode" type="checkbox" class="checkbox" value="Y" checked>
        <label for="l_zipcode">PLZ</label>
       </td>
      </tr>

      <tr>
       <td>
        <input name="l_taxnumber" id="l_taxnumber" type="checkbox" class="checkbox" value="Y">
        <label for="l_taxnumber">Steuernummer</label>
       </td>
       <td>
        <input name="l_email" id="l_email" type="checkbox" class="checkbox" value="Y" checked>
        <label for="l_email">eMail</label>
       </td>
       <td>
        <input name="l_business" id="l_business" type="checkbox" class="checkbox" value="Y">
        <label for="l_business">[% IF IS_CUSTOMER %]Kundentyp[% ELSE %]Lieferantentyp[% END %]</label>
       </td>
       <td>
        <input name="l_city" id="l_city" type="checkbox" class="checkbox" value="Y" checked>
        <label for="l_city">Stadt</label>
      </td>
      </tr>

      <tr>
       <td>
        <input name="l_invnumber" id="l_invnumber" type="checkbox" class="checkbox" value="Y">
        <label for="l_invnumber">Rechnungen</label>
       </td>
       <td>
        <input name="l_ordnumber" id="l_ordnumber" type="checkbox" class="checkbox" value="Y">
        <label for="l_ordnumber">[% IF IS_CUSTOMER %]Aufträge[% ELSE %]Lieferantenaufträge[% END %]</label>
       </td>
       <td>
        <input name="l_quonumber" id="l_quonumber" type="checkbox" class="checkbox" value="Y">
        <label for="l_quonumber">[% IF IS_CUSTOMER %]Angebote[% ELSE %]Preisanfragen[% END %]</label>
       </td>
       <td>
       </td>
      </tr>

      [% CUSTOM_VARIABLES_INCLUSION_CODE %]

     </table>
    </td>
   </tr>
  </table>

  <input type="hidden" name="nextsub" value="list_names">

  <input type="submit" class="submit" name="action" value="Weiter">
 </form>

</body>
</html>
