[%- USE T8 %]
[%- USE L %]
[%- USE HTML %][%- USE LxERP -%]
<h1>[% title %]</h1>

 <form method="post" action="ct.pl" name="Form" id="form">

  <input type="hidden" name="db" value="[% HTML.escape(db) %]">

  <table>
   <tr>
    <th align="right" nowrap>[% IF IS_CUSTOMER %][% 'Customer Number' | $T8 %][% ELSE %][% 'Vendor Number' | $T8 %][% END %]</th>
    <td><input name="[% IF IS_CUSTOMER %]customer[% ELSE %]vendor[% END %]number" size="35"></td>
   </tr>

   <tr>
    <th align="right" nowrap>[% IF IS_CUSTOMER %][% 'Customer Name' | $T8 %][%- ELSE %][% 'Vendor Name' | $T8 %][%- END %]</th>
    <td><input id="name" name="name" size="35" class="initial_focus"></td>
   </tr>

   <tr>
    <th align="right" nowrap>[% 'Contact' | $T8 %]</th>
    <td><input name="contact" size="35"></td>
   </tr>

   <tr>
    <th align="right" nowrap>[% 'E-mail' | $T8 %]</th>
    <td><input name="email" size="35"></td>
   </tr>
   <tr>
    <th align="right" nowrap>[% 'Contact person (surname)' | $T8 %]</th>
    <td><input name="cp_name" size="35"></td>
   </tr>
   <tr>
    <th align="right" nowrap>[% 'Billing/shipping address (street)' | $T8 %]</th>
    <td><input name="addr_street" size="35"></td>
   </tr>
   <tr>
    <th align="right" nowrap>[% 'Billing/shipping address (zipcode)' | $T8 %]</th>
    <td><input name="addr_zipcode" size="35"></td>
   </tr>
   <tr>
    <th align="right" nowrap>[% 'Billing/shipping address (city)' | $T8 %]</th>
    <td><input name="addr_city" size="35"></td>
   </tr>
   <tr>
    <th align="right" nowrap>[% 'Billing/shipping address (country)' | $T8 %]</th>
    <td><input name="addr_country" size="35"></td>
   </tr>
   <tr>
    <th align="right" nowrap>[% 'Billing/shipping address (GLN)' | $T8 %]</th>
    <td><input name="addr_gln" size="35"></td>
   </tr>

   [% IF SHOW_BUSINESS_TYPES %]
   <tr>
    <th align="right" nowrap>[% IF IS_CUSTOMER %][% 'Customer type' | $T8 %][% ELSE %][% 'Vendor type' | $T8 %][% END %]</th>
    <td>
     [% L.select_tag('business_id', ALL_BUSINESS_TYPES, title_key = 'description', with_empty = 1) %]
    </td>
   </tr>
   [% END %]

[% IF IS_CUSTOMER %]
   <tr>
     <th align="right" nowrap>[% LxERP.t8("Factur-X/ZUGFeRD settings") %]</th>
     <td>[% L.select_tag('create_zugferd_invoices', ZUGFERD_SETTINGS, with_empty = 1) %]</td>
   </tr>
[% END %]

   [% IF IS_CUSTOMER && ALL_SALESMEN.size %]
   <tr>
    <th align="right" nowrap>[% 'Salesman' | $T8 %]</th>
    <td>
     [% L.select_tag('salesman_id', ALL_SALESMEN, title_key = 'name', with_empty = 1) %]
    </td>
   </tr>
   [% END %]

   <tr>
    <th align="right">[% 'Insert Date' | $T8 %] [% 'From' | $T8 %]</th>
    <td>
      [% L.date_tag('insertdatefrom') %]
    </td>
    <th align="right">[% 'Bis' | $T8 %]</th>
    <td>
      [% L.date_tag('insertdateto') %]
    </td>
   </tr>

   [% CUSTOM_VARIABLES_FILTER_CODE %]

   <tr>
    <td></td>
    <td>
     <input name="status" class="radio" type="radio" value="all" checked> [% 'All' | $T8 %]
     <input name="status" class="radio" type="radio" value="orphaned"> [% 'Orphaned' | $T8 %]
    </td>
   </tr>

   <tr>
    <td></td>
    <td><input name="obsolete" class="radio" type="radio" value="all"> [% 'All' | $T8 %]
     <input name="obsolete" class="radio" type="radio" value="Y"> [% 'Obsolete' | $T8 %]
     <input name="obsolete" class="radio" type="radio" value="N" checked> [% 'Not obsolete' | $T8 %]
    </td>
   </tr>

   <tr>
    <th align="right" nowrap>[% 'Include in Report' | $T8 %]</th>
    <td colspan="5">
     <table border="0">
      <tr>
       <td>
        <input name="l_id" id="l_id" type="checkbox" class="checkbox" value="Y">
        <label for="l_id">[% 'ID' | $T8 %]</label>
       </td>
       <td>
        <input name="l_[% db %]number" id="l_[% db %]number" type="checkbox" class="checkbox" value="Y" checked>
        <label for="l_[% db %]number">[% IF IS_CUSTOMER %][% 'Customer Number' | $T8 %][% ELSE %][% 'Vendor Number' | $T8 %][% END %]</label>
       </td>
       <td>
        <input name="l_name" id="l_name" type="checkbox" class="checkbox" value="Y" checked>
        <label for="l_name">[% IF IS_CUSTOMER %][% 'Customer Name' | $T8 %][%- ELSE %][% 'Vendor Name' | $T8 %][%- END %]</label>
       </td>
       <td>
        <input name="l_street" id="l_street" type="checkbox" class="checkbox" value="Y" checked>
        <label for="l_street">[% 'Street' | $T8 %]</label>
       </td>
      </tr>

      <tr>
       <td>
        <input name="l_contact" id="l_contact" type="checkbox" class="checkbox" value="Y" checked>
        <label for="l_contact">[% 'Contact' | $T8 %]</label>
       </td>
       <td>
        <input name="l_phone" id="l_phone" type="checkbox" class="checkbox" value="Y" checked>
        <label for="l_phone">[% 'Phone' | $T8 %]</label>
       </td>
       <td>
        <input name="l_fax" id="l_fax" type="checkbox" class="checkbox" value="Y">
        <label for="l_fax">[% 'Fax' | $T8 %]</label>
       </td>
       <td>
        <input name="l_zipcode" id="l_zipcode" type="checkbox" class="checkbox" value="Y" checked>
        <label for="l_zipcode">[% 'Zipcode' | $T8 %]</label>
       </td>
      </tr>

      <tr>
       <td>
        <input name="l_taxnumber" id="l_taxnumber" type="checkbox" class="checkbox" value="Y">
        <label for="l_taxnumber">[% 'Tax Number' | $T8 %]</label>
       </td>
       <td>
        <input name="l_email" id="l_email" type="checkbox" class="checkbox" value="Y" checked>
        <label for="l_email">[% 'E-mail' | $T8 %]</label>
       </td>
       <td>
        <input name="l_business" id="l_business" type="checkbox" class="checkbox" value="Y">
        <label for="l_business">[% IF IS_CUSTOMER %][% 'Customer type' | $T8 %][% ELSE %][% 'Vendor type' | $T8 %][% END %]</label>
       </td>
       <td>
        <input name="l_city" id="l_city" type="checkbox" class="checkbox" value="Y" checked>
        <label for="l_city">[% 'City' | $T8 %]</label>
       </td>
      </tr>

      <tr>
       <td>
        <input name="l_invnumber" id="l_invnumber" type="checkbox" class="checkbox" value="Y">
        <label for="l_invnumber">[% 'Invoices' | $T8 %]</label>
       </td>
       <td>
        <input name="l_ordnumber" id="l_ordnumber" type="checkbox" class="checkbox" value="Y">
        <label for="l_ordnumber">[% IF IS_CUSTOMER %][% 'Sales Orders' | $T8 %][% ELSE %][% 'Purchase Orders' | $T8 %][% END %]</label>
       </td>
       <td>
        <input name="l_quonumber" id="l_quonumber" type="checkbox" class="checkbox" value="Y">
        <label for="l_quonumber">[% IF IS_CUSTOMER %][% 'Quotations' | $T8 %][% ELSE %][% 'RFQs' | $T8 %][% END %]</label>
       </td>
       <td>
        <input name="l_country" id="l_country" type="checkbox" class="checkbox" value="Y" checked>
        <label for="l_country">[% 'Country' | $T8 %]</label>
       </td>
      </tr>
      <tr>
       <td>
        <input name="l_discount" id="l_discount" type="checkbox" class="checkbox" value="Y">
        <label for="l_discount">[% 'Discount' | $T8 %]</label>
       </td>
       <td>
        <input name="l_payment" id="l_payment" type="checkbox" class="checkbox" value="Y">
        <label for="l_payment">[% 'Payment Terms' | $T8 %]</label>
       </td>
       <td>
        <input name="l_insertdate" id="l_insertdate" class="checkbox" type="checkbox" value="Y">
        <label for="l_insertdate">[% 'Insert Date' | $T8 %]</label>
       </td>
       <td>
        <input name="l_gln" id="l_gln" type="checkbox" class="checkbox" value="Y" checked>
        <label for="l_gln">[% 'GLN' | $T8 %]</label>
       </td>
      </tr>
      [% IF IS_CUSTOMER %]
      <tr>
       <td>
        <input name="l_salesman" id="l_salesman" type="checkbox" class="checkbox" value="Y">
        <label for="l_salesman">[% 'Salesman' | $T8 %]</label>
       </td>
       <td>
        <input name="l_pricegroup" id="l_pricegroup" type="checkbox" class="checkbox" value="Y">
        <label for="l_pricegroup">[% 'Pricegroup' | $T8 %]</label>
       </td>
       <td>
        <input name="l_contact_origin" id="l_contact_origin" type="checkbox" class="checkbox" value="Y">
        <label for="l_contact_origin">[% 'Origin of personal data' | $T8 %]</label>
       </td>
       <td>
        <input name="l_invoice_mail" id="l_invoice_mail" type="checkbox" class="checkbox" value="Y">
        <label for="l_invoice_mail">[% 'Email of the invoice recipient' | $T8 %]</label>
       </td>
      </tr>
      [% END %]
      <tr>
       <td>
        <input name="l_ustid" id="l_ustid" type="checkbox" class="checkbox" value="Y">
        <label for="l_ustid">[% 'VAT ID' | $T8 %]</label>
       </td>
      [% IF !IS_CUSTOMER %]
      </tr>
      [% ELSE %]
       <td>
        <input name="l_creditlimit" id="l_creditlimit" type="checkbox" class="checkbox" value="Y">
        <label for="l_creditlimit">[% 'Credit Limit' | $T8 %]</label>
       </td>
       <td>
        <input name="l_commercial_court" id="l_commercial_court" type="checkbox" class="checkbox" value="Y">
        <label for="l_commercial_court">[% 'Commercial court' | $T8 %]</label>
       </td>
       <td>
        <input name="l_main_contact_person" id="l_main_contact_person" type="checkbox" class="checkbox" value="Y">
        <label for="l_main_contact_person">[% 'Main Contact Person' | $T8 %]</label>
       </td>

       <td>
      </tr>
      <tr>
       <td>
        <input name="l_delivery_order_mail" id="l_delivery_order_mail" type="checkbox" class="checkbox" value="Y">
        <label for="l_delivery_order_mail">[% 'Email of the delivery order recipient' | $T8 %]</label>
       </td>
      </tr>
      [% END %]

      [% CUSTOM_VARIABLES_INCLUSION_CODE %]

     </table>
    </td>
   </tr>
  </table>
 </form>
