[%- USE HTML -%][%- USE LxERP -%][%- USE L -%][%- USE T8 -%]

[% SET style="width: 400px" %]
[% SET size=34 %]

<h1>[% HTML.escape(title) %]</h1>

<form action="controller.pl" method="post">

[%- INCLUDE 'common/flash.html' %]

[%- L.hidden_tag("id", SELF.bank_account.id) %]

<table>
  <tr>
    <th align="right">[% 'Description' | $T8 %]</th>
    <td>[%- L.input_tag("bank_account.name", SELF.bank_account.name, size=size) %]</td>
  </tr>
  <tr>
    <th align="right">[% 'IBAN' | $T8 %]</th>
    <td>[%- L.input_tag("bank_account.iban", SELF.bank_account.iban, size=size) %]</td>
  </tr>
  <tr>
    <th align="right">[% 'Bank' | $T8 %]</th>
    <td>[%- L.input_tag("bank_account.bank", SELF.bank_account.bank, size=size) %]</td>
  </tr>
  <tr>
    <th align="right">[% 'Account number' | $T8 %]</th>
    <td>[%- L.input_tag("bank_account.account_number", SELF.bank_account.account_number, size=size) %]</td>
  </tr>
  <tr>
    <th align="right">[% 'BIC' | $T8 %]</th>
    <td>[%- L.input_tag("bank_account.bic", SELF.bank_account.bic, size=size) %]</td>
  </tr>
  <tr>
    <th align="right">[% 'Bank code' | $T8 %]</th>
    <td>[%- L.input_tag("bank_account.bank_code", SELF.bank_account.bank_code, size=size) %]</td>
  </tr>
  <tr>
    <th align="right">[% 'Chart' | $T8 %]</th>
    <td>[% L.chart_picker('bank_account.chart_id', SELF.bank_account.chart_id, type='AR_paid,AP_paid', category='A,L,Q', choose=1, style=style) %]</td>
  </tr>
  <tr>
    <th align="right">[% 'Obsolete' | $T8 %]</th>
    <td>[% L.checkbox_tag('bank_account.obsolete', checked = SELF.bank_account.obsolete, for_submit=1) %]</td>
  </tr>
  <tr>
    <td align="left">[% 'Reconciliation' | $T8 %]:</td>
    <td></td>
  </tr>
  <tr>
    <th align="right">[% 'Starting date' | $T8 %]</th>
    <td>[% L.date_tag('bank_account.reconciliation_starting_date', SELF.bank_account.reconciliation_starting_date) %]</td>
  </tr>
  <tr>
    <th align="right">[% 'Starting balance' | $T8 %]</th>
    <td>[%- L.input_tag('bank_account.reconciliation_starting_balance_as_number', SELF.bank_account.reconciliation_starting_balance_as_number) %]</td>
  </tr>
</table>

 <p>
  [% L.hidden_tag("action", "BankAccount/dispatch") %]
  [% L.submit_tag("action_" _  (SELF.bank_account.id ? "update" : "create"), LxERP.t8('Save'), onclick="return check_prerequisites();") %]
  [%- IF SELF.bank_account.id AND SELF.bank_account.number_of_bank_transactions == 0 -%]
    [% L.submit_tag("action_delete", LxERP.t8('Delete')) %]
  [%- END %]
  <a href="[% SELF.url_for(action='list') %]">[%- LxERP.t8("Cancel") %]</a>
 </p>

 <hr>

<script type="text/javascript">
<!--
function check_prerequisites() {
  if ($('#bank_account_name').val() === "") {
    alert(kivi.t8('The name is missing.'));
    return false;
  }
  if ($('#bank_account_iban').val() === "") {
    alert(kivi.t8('The IBAN is missing.'));
    return false;
  }
  if ($('#bank_account_chart_id').val() === "") {
    alert(kivi.t8('There is no connected chart.'));
    return false;
  }

  return true;
}
-->
</script>
</form>
