[%- USE HTML -%][%- USE LxERP -%][%- USE L -%][%- USE T8 -%][%- INCLUDE 'common/flash.html' %]

<h1>[% title %]</h1>

<p>
 <table width="100%" id="bankaccount_list">
  <thead>
   <tr class="listheading">
    <th align="center" width="1%"><img src="image/updown.png" alt="[ LxERP.t8('reorder item') %]"></th>
    <th>[% 'Name' | $T8 %]</th>
    <th>[% 'IBAN' | $T8 %]</th>
    <th>[% 'Bank' | $T8 %]</th>
    <th>[% 'Bank code' | $T8 %]</th>
    <th>[% 'BIC' | $T8 %]</th>
    <th>[% 'Date' | $T8 %]</th>
    <th>[% 'Balance' | $T8 %]</th>
   </tr>
  </thead>

  <tbody>
   [%- FOREACH account = BANKACCOUNTS %]
    <tr class="listrow" id="account_id_[% account.id %]">
     <td align="center" class="dragdrop"><img src="image/updown.png" alt="[ LxERP.t8('reorder item') %]"></td>
     <td><a href="[% SELF.url_for(action='edit', id=account.id) %]">[% HTML.escape(account.name) %]</a></td>
     <td>[% HTML.escape(account.iban) %]</a></td>
     <td>[% HTML.escape(account.bank) %]</a></td>
     <td>[% HTML.escape(account.bank_code) %]</a></td>
     <td>[% HTML.escape(account.bic) %]</a></td>
     <td>[% HTML.escape(account.reconciliation_starting_date.to_kivitendo) %]</a></td>
     <td align="right">[% HTML.escape(account.reconciliation_starting_balance_as_number) %]</a></td>
    </tr>
   [%- END %]
  </tbody>
 </table>
</p>

<hr height="3">

[% L.sortable_element('#bankaccount_list tbody', url=SELF.url_for(action='reorder'), with='account_id') %]

<p>
 <a href="[% SELF.url_for(action='new') %]">[%- 'Add' | $T8 %]</a>
</p>
