.icon24 { background: url(../image/maps/icons24.png) 24px 0px no-repeat; padding: 0; width: 24px; height: 24px; }
.icon24.ap--add-purchase-order { background-position: -0px 0px; }
.icon24.ap--add-rfq { background-position: -24px 0px; }
.icon24.ap { background-position: -48px 0px; }
.icon24.ap--reports { background-position: -72px 0px; }
.icon24.ap--reports--purchase-orders { background-position: -96px 0px; }
.icon24.ap--reports--rfqs { background-position: -120px 0px; }
.icon24.ar--add-dunning { background-position: -144px 0px; }
.icon24.ar--add-quotation { background-position: -168px 0px; }
.icon24.ar--add-sales-invoice { background-position: -192px 0px; }
.icon24.ar--add-sales-order { background-position: -216px 0px; }
.icon24.ar { background-position: -240px 0px; }
.icon24.ar--reports--dunnings { background-position: -264px 0px; }
.icon24.ar--reports--invoices { background-position: -288px 0px; }
.icon24.ar--reports { background-position: -312px 0px; }
.icon24.ar--reports--quotations { background-position: -336px 0px; }
.icon24.ar--reports--sales-orders { background-position: -360px 0px; }
.icon24.batch-printing--packing-lists { background-position: -384px 0px; }
.icon24.batch-printing { background-position: -408px 0px; }
.icon24.batch-printing--purchase-orders { background-position: -432px 0px; }
.icon24.batch-printing--quotations { background-position: -456px 0px; }
.icon24.batch-printing--receipts { background-position: -480px 0px; }
.icon24.batch-printing--rfqs { background-position: -504px 0px; }
.icon24.batch-printing--sales-invoices { background-position: -528px 0px; }
.icon24.batch-printing--sales-orders { background-position: -552px 0px; }
.icon24.cash--payment { background-position: -576px 0px; }
.icon24.cash { background-position: -600px 0px; }
.icon24.cash--receipt { background-position: -624px 0px; }
.icon24.cash--reconciliation { background-position: -648px 0px; }
.icon24.cash--reports--payments { background-position: -672px 0px; }
.icon24.cash--reports { background-position: -696px 0px; }
.icon24.cash--reports--receipts { background-position: -720px 0px; }
.icon24.crm--add--customer { background-position: -744px 0px; }
.icon24.crm--add--person { background-position: -768px 0px; }
.icon24.crm--add--vendor { background-position: -792px 0px; }
.icon24.crm--admin--document-template { background-position: -816px 0px; }
.icon24.crm--admin--label { background-position: -840px 0px; }
.icon24.crm--admin--message { background-position: -864px 0px; }
.icon24.crm--admin { background-position: -888px 0px; }
.icon24.crm--admin--status { background-position: -912px 0px; }
.icon24.crm--admin--user-groups { background-position: -936px 0px; }
.icon24.crm--admin--user { background-position: -960px 0px; }
.icon24.crm--appointments { background-position: -984px 0px; }
.icon24.crm--email { background-position: -1008px 0px; }
.icon24.crm--follow-up { background-position: -1032px 0px; }
.icon24.crm--help { background-position: -1056px 0px; }
.icon24.crm--knowledge { background-position: -1080px 0px; }
.icon24.crm--memo { background-position: -1104px 0px; }
.icon24.crm--opportunity { background-position: -1128px 0px; }
.icon24.crm { background-position: -1152px 0px; }
.icon24.crm--search { background-position: -1176px 0px; }
.icon24.crm--service { background-position: -1200px 0px; }
.icon24.general-ledger--add-ap-transaction { background-position: -1224px 0px; }
.icon24.general-ledger--add-ar-transaction { background-position: -1248px 0px; }
.icon24.general-ledger--add-transaction { background-position: -1272px 0px; }
.icon24.general-ledger--datev---export-assistent { background-position: -1296px 0px; }
.icon24.general-ledger { background-position: -1320px 0px; }
.icon24.general-ledger--reports--ap-aging { background-position: -1344px 0px; }
.icon24.general-ledger--reports--ar-aging { background-position: -1368px 0px; }
.icon24.general-ledger--reports--journal { background-position: -1392px 0px; }
.icon24.general-ledger--reports { background-position: -1416px 0px; }
.icon24.leftarrow_-- { background-position: -1440px 0px; }
.icon24.master-data--add-assembly { background-position: -1464px 0px; }
.icon24.master-data--add-customer { background-position: -1488px 0px; }
.icon24.master-data--add-license { background-position: -1512px 0px; }
.icon24.master-data--add-part { background-position: -1536px 0px; }
.icon24.master-data--add-project { background-position: -1560px 0px; }
.icon24.master-data--add-service { background-position: -1584px 0px; }
.icon24.master-data--add-vendor { background-position: -1608px 0px; }
.icon24.master-data { background-position: -1632px 0px; }
.icon24.master-data--reports--assemblies { background-position: -1656px 0px; }
.icon24.master-data--reports--customers { background-position: -1680px 0px; }
.icon24.master-data--reports--licenses { background-position: -1704px 0px; }
.icon24.master-data--reports--parts { background-position: -1728px 0px; }
.icon24.master-data--reports { background-position: -1752px 0px; }
.icon24.master-data--reports--projects { background-position: -1776px 0px; }
.icon24.master-data--reports--projecttransactions { background-position: -1800px 0px; }
.icon24.master-data--reports--services { background-position: -1824px 0px; }
.icon24.master-data--reports--vendors { background-position: -1848px 0px; }
.icon24.neues-fenster { background-position: -1872px 0px; }
.icon24.productivity { background-position: -1896px 0px; }
.icon24.program--logout { background-position: -1920px 0px; }
.icon24.program { background-position: -1944px 0px; }
.icon24.program--preferences { background-position: -1968px 0px; }
.icon24.program--version { background-position: -1992px 0px; }
.icon24.reports--balance-sheet { background-position: -2016px 0px; }
.icon24.reports--chart-of-accounts { background-position: -2040px 0px; }
.icon24.reports--income-statement { background-position: -2064px 0px; }
.icon24.reports { background-position: -2088px 0px; }
.icon24.reports--ustva { background-position: -2112px 0px; }
.icon24.rightarrow_-- { background-position: -2136px 0px; }
.icon24.system { background-position: -2160px 0px; }
.icon24.warehouse { background-position: -2184px 0px; }
