.icon24 { background: url(../image/maps/icons24.png) 24px 0px no-repeat; padding: 0; width: 24px; height: 24px; }
.icon24.AP--Add-Purchase-Order { background-position: -0px 0px; }
.icon24.AP--Add-RFQ { background-position: -24px 0px; }
.icon24.AP { background-position: -48px 0px; }
.icon24.AP--Reports { background-position: -72px 0px; }
.icon24.AP--Reports--Purchase-Orders { background-position: -96px 0px; }
.icon24.AP--Reports--RFQs { background-position: -120px 0px; }
.icon24.AR--Add-Dunning { background-position: -144px 0px; }
.icon24.AR--Add-Quotation { background-position: -168px 0px; }
.icon24.AR--Add-Sales-Invoice { background-position: -192px 0px; }
.icon24.AR--Add-Sales-Order { background-position: -216px 0px; }
.icon24.AR { background-position: -240px 0px; }
.icon24.AR--Reports--Dunnings { background-position: -264px 0px; }
.icon24.AR--Reports--Invoices { background-position: -288px 0px; }
.icon24.AR--Reports { background-position: -312px 0px; }
.icon24.AR--Reports--Quotations { background-position: -336px 0px; }
.icon24.AR--Reports--Sales-Orders { background-position: -360px 0px; }
.icon24.Batch-Printing--Packing-Lists { background-position: -384px 0px; }
.icon24.Batch-Printing { background-position: -408px 0px; }
.icon24.Batch-Printing--Purchase-Orders { background-position: -432px 0px; }
.icon24.Batch-Printing--Quotations { background-position: -456px 0px; }
.icon24.Batch-Printing--Receipts { background-position: -480px 0px; }
.icon24.Batch-Printing--RFQs { background-position: -504px 0px; }
.icon24.Batch-Printing--Sales-Invoices { background-position: -528px 0px; }
.icon24.Batch-Printing--Sales-Orders { background-position: -552px 0px; }
.icon24.Cash--Payment { background-position: -576px 0px; }
.icon24.Cash { background-position: -600px 0px; }
.icon24.Cash--Receipt { background-position: -624px 0px; }
.icon24.Cash--Reconciliation { background-position: -648px 0px; }
.icon24.Cash--Reports--Payments { background-position: -672px 0px; }
.icon24.Cash--Reports { background-position: -696px 0px; }
.icon24.Cash--Reports--Receipts { background-position: -720px 0px; }
.icon24.CRM--Admin--Benutzer { background-position: -744px 0px; }
.icon24.CRM--Admin--Dokumentvorlage { background-position: -768px 0px; }
.icon24.CRM--Admin--Etiketten { background-position: -792px 0px; }
.icon24.CRM--Admin--Gruppen { background-position: -816px 0px; }
.icon24.CRM--Admin--Mitteilungen { background-position: -840px 0px; }
.icon24.CRM--Admin { background-position: -864px 0px; }
.icon24.CRM--Admin--Status { background-position: -888px 0px; }
.icon24.CRM--Auftragschance { background-position: -912px 0px; }
.icon24.CRM--eMail { background-position: -936px 0px; }
.icon24.CRM--Hilfe { background-position: -960px 0px; }
.icon24.CRM--Kunden { background-position: -984px 0px; }
.icon24.CRM--Lieferant { background-position: -1008px 0px; }
.icon24.CRM--Notizen { background-position: -1032px 0px; }
.icon24.CRM--Personen { background-position: -1056px 0px; }
.icon24.CRM { background-position: -1080px 0px; }
.icon24.CRM--Schnellsuche { background-position: -1104px 0px; }
.icon24.CRM--Service { background-position: -1128px 0px; }
.icon24.CRM--Termine { background-position: -1152px 0px; }
.icon24.CRM--Wiedervorlage { background-position: -1176px 0px; }
.icon24.CRM--Wissens-DB { background-position: -1200px 0px; }
.icon24.General-Ledger--Add-AP-Transaction { background-position: -1224px 0px; }
.icon24.General-Ledger--Add-AR-Transaction { background-position: -1248px 0px; }
.icon24.General-Ledger--Add-Transaction { background-position: -1272px 0px; }
.icon24.General-Ledger--DATEV---Export-Assistent { background-position: -1296px 0px; }
.icon24.General-Ledger { background-position: -1320px 0px; }
.icon24.General-Ledger--Reports--AP-Aging { background-position: -1344px 0px; }
.icon24.General-Ledger--Reports--AR-Aging { background-position: -1368px 0px; }
.icon24.General-Ledger--Reports--Journal { background-position: -1392px 0px; }
.icon24.General-Ledger--Reports { background-position: -1416px 0px; }
.icon24.leftarrow_24 { background-position: -1440px 0px; }
.icon24.Master-Data--Add-Assembly { background-position: -1464px 0px; }
.icon24.Master-Data--Add-Customer { background-position: -1488px 0px; }
.icon24.Master-Data--Add-License { background-position: -1512px 0px; }
.icon24.Master-Data--Add-Part { background-position: -1536px 0px; }
.icon24.Master-Data--Add-Project { background-position: -1560px 0px; }
.icon24.Master-Data--Add-Service { background-position: -1584px 0px; }
.icon24.Master-Data--Add-Vendor { background-position: -1608px 0px; }
.icon24.Master-Data { background-position: -1632px 0px; }
.icon24.Master-Data--Reports--Assemblies { background-position: -1656px 0px; }
.icon24.Master-Data--Reports--Customers { background-position: -1680px 0px; }
.icon24.Master-Data--Reports--Licenses { background-position: -1704px 0px; }
.icon24.Master-Data--Reports--Parts { background-position: -1728px 0px; }
.icon24.Master-Data--Reports { background-position: -1752px 0px; }
.icon24.Master-Data--Reports--Projects { background-position: -1776px 0px; }
.icon24.Master-Data--Reports--Projecttransactions { background-position: -1800px 0px; }
.icon24.Master-Data--Reports--Services { background-position: -1824px 0px; }
.icon24.Master-Data--Reports--Vendors { background-position: -1848px 0px; }
.icon24.Neues-Fenster { background-position: -1872px 0px; }
.icon24.Productivity { background-position: -1896px 0px; }
.icon24.Program--Logout { background-position: -1920px 0px; }
.icon24.Program { background-position: -1944px 0px; }
.icon24.Program--Preferences { background-position: -1968px 0px; }
.icon24.Program--Version { background-position: -1992px 0px; }
.icon24.Reports--Balance-Sheet { background-position: -2016px 0px; }
.icon24.Reports--Chart-of-Accounts { background-position: -2040px 0px; }
.icon24.Reports--Income-Statement { background-position: -2064px 0px; }
.icon24.Reports { background-position: -2088px 0px; }
.icon24.Reports--UStVa { background-position: -2112px 0px; }
.icon24.rightarrow_24 { background-position: -2136px 0px; }
.icon24.System { background-position: -2160px 0px; }
.icon24.Warehouse { background-position: -2184px 0px; }
