.icon24 { background: url(../image/maps/icons24.png) 24px 0px no-repeat; padding: 0; width: 24px; height: 24px; }
.icon24.admin { background-position: -0px 0px; }
.icon24.ap { background-position: -24px 0px; }
.icon24.ap_aging { background-position: -48px 0px; }
.icon24.ap_report { background-position: -72px 0px; }
.icon24.ap_transaction_add { background-position: -96px 0px; }
.icon24.appointment { background-position: -120px 0px; }
.icon24.ar { background-position: -144px 0px; }
.icon24.ar_aging { background-position: -168px 0px; }
.icon24.ar_report { background-position: -192px 0px; }
.icon24.ar_transaction_add { background-position: -216px 0px; }
.icon24.assembly_add { background-position: -240px 0px; }
.icon24.assembly_report { background-position: -264px 0px; }
.icon24.balance_sheet { background-position: -288px 0px; }
.icon24.cash { background-position: -312px 0px; }
.icon24.cash_report { background-position: -336px 0px; }
.icon24.chart_of_accounts { background-position: -360px 0px; }
.icon24.contact { background-position: -384px 0px; }
.icon24.crm { background-position: -408px 0px; }
.icon24.customer { background-position: -432px 0px; }
.icon24.customer_add { background-position: -456px 0px; }
.icon24.customer_report { background-position: -480px 0px; }
.icon24.datev { background-position: -504px 0px; }
.icon24.document_template { background-position: -528px 0px; }
.icon24.dunning_add { background-position: -552px 0px; }
.icon24.dunnings_report { background-position: -576px 0px; }
.icon24.email { background-position: -600px 0px; }
.icon24.follow_up { background-position: -624px 0px; }
.icon24.gl { background-position: -648px 0px; }
.icon24.gl_report { background-position: -672px 0px; }
.icon24.help { background-position: -696px 0px; }
.icon24.income_statement { background-position: -720px 0px; }
.icon24.invoices_report { background-position: -744px 0px; }
.icon24.journal { background-position: -768px 0px; }
.icon24.knowledge { background-position: -792px 0px; }
.icon24.label { background-position: -816px 0px; }
.icon24.leftarrow_24 { background-position: -840px 0px; }
.icon24.license_add { background-position: -864px 0px; }
.icon24.license_report { background-position: -888px 0px; }
.icon24.logout { background-position: -912px 0px; }
.icon24.master_data { background-position: -936px 0px; }
.icon24.master_data_report { background-position: -960px 0px; }
.icon24.memo { background-position: -984px 0px; }
.icon24.message { background-position: -1008px 0px; }
.icon24.opportunity { background-position: -1032px 0px; }
.icon24.package_lists { background-position: -1056px 0px; }
.icon24.part_add { background-position: -1080px 0px; }
.icon24.part_report { background-position: -1104px 0px; }
.icon24.payment { background-position: -1128px 0px; }
.icon24.payment_report { background-position: -1152px 0px; }
.icon24.preferences { background-position: -1176px 0px; }
.icon24.printing { background-position: -1200px 0px; }
.icon24.productivity { background-position: -1224px 0px; }
.icon24.program { background-position: -1248px 0px; }
.icon24.project_add { background-position: -1272px 0px; }
.icon24.project_report { background-position: -1296px 0px; }
.icon24.project_transaction_report { background-position: -1320px 0px; }
.icon24.purchase_order_add { background-position: -1344px 0px; }
.icon24.purchase_order_printing { background-position: -1368px 0px; }
.icon24.purchase_order_report { background-position: -1392px 0px; }
.icon24.quotation_add { background-position: -1416px 0px; }
.icon24.quotation_printing { background-position: -1440px 0px; }
.icon24.receipt { background-position: -1464px 0px; }
.icon24.receipt_printing { background-position: -1488px 0px; }
.icon24.receipt_report { background-position: -1512px 0px; }
.icon24.reconcilliation { background-position: -1536px 0px; }
.icon24.report { background-position: -1560px 0px; }
.icon24.report_quotations { background-position: -1584px 0px; }
.icon24.report_sales_orders { background-position: -1608px 0px; }
.icon24.rfq_add { background-position: -1632px 0px; }
.icon24.rfq_printing { background-position: -1656px 0px; }
.icon24.rfq_report { background-position: -1680px 0px; }
.icon24.rightarrow_24 { background-position: -1704px 0px; }
.icon24.sales_invoice_add { background-position: -1728px 0px; }
.icon24.sales_invoice_printing { background-position: -1752px 0px; }
.icon24.sales_order_add { background-position: -1776px 0px; }
.icon24.sales_order_printing { background-position: -1800px 0px; }
.icon24.search { background-position: -1824px 0px; }
.icon24.service { background-position: -1848px 0px; }
.icon24.service_add { background-position: -1872px 0px; }
.icon24.service_report { background-position: -1896px 0px; }
.icon24.status { background-position: -1920px 0px; }
.icon24.system { background-position: -1944px 0px; }
.icon24.transaction_add { background-position: -1968px 0px; }
.icon24.user { background-position: -1992px 0px; }
.icon24.user_group { background-position: -2016px 0px; }
.icon24.ustva { background-position: -2040px 0px; }
.icon24.vendor { background-position: -2064px 0px; }
.icon24.vendor_add { background-position: -2088px 0px; }
.icon24.vendor_report { background-position: -2112px 0px; }
.icon24.version { background-position: -2136px 0px; }
.icon24.warehouse { background-position: -2160px 0px; }
.icon24.window_new { background-position: -2184px 0px; }
