.icon32 { background: url(../image/maps/icons32.png) 32px 0px no-repeat; padding: 0; width: 32px; height: 32px; }
.icon32.AP--Add-Purchase-Order { background-position: -0px 0px; }
.icon32.AP--Add-RFQ { background-position: -32px 0px; }
.icon32.AP { background-position: -64px 0px; }
.icon32.AP--Reports { background-position: -96px 0px; }
.icon32.AP--Reports--Purchase-Orders { background-position: -128px 0px; }
.icon32.AP--Reports--RFQs { background-position: -160px 0px; }
.icon32.AR--Add-Dunning { background-position: -192px 0px; }
.icon32.AR--Add-Quotation { background-position: -224px 0px; }
.icon32.AR--Add-Sales-Invoice { background-position: -256px 0px; }
.icon32.AR--Add-Sales-Order { background-position: -288px 0px; }
.icon32.AR { background-position: -320px 0px; }
.icon32.AR--Reports--Dunnings { background-position: -352px 0px; }
.icon32.AR--Reports--Invoices { background-position: -384px 0px; }
.icon32.AR--Reports { background-position: -416px 0px; }
.icon32.AR--Reports--Quotations { background-position: -448px 0px; }
.icon32.AR--Reports--Sales-Orders { background-position: -480px 0px; }
.icon32.Batch-Printing--Packing-Lists { background-position: -512px 0px; }
.icon32.Batch-Printing { background-position: -544px 0px; }
.icon32.Batch-Printing--Purchase-Orders { background-position: -576px 0px; }
.icon32.Batch-Printing--Quotations { background-position: -608px 0px; }
.icon32.Batch-Printing--Receipts { background-position: -640px 0px; }
.icon32.Batch-Printing--RFQs { background-position: -672px 0px; }
.icon32.Batch-Printing--Sales-Invoices { background-position: -704px 0px; }
.icon32.Batch-Printing--Sales-Orders { background-position: -736px 0px; }
.icon32.Cash--Payment { background-position: -768px 0px; }
.icon32.Cash { background-position: -800px 0px; }
.icon32.Cash--Receipt { background-position: -832px 0px; }
.icon32.Cash--Reconciliation { background-position: -864px 0px; }
.icon32.Cash--Reports--Payments { background-position: -896px 0px; }
.icon32.Cash--Reports { background-position: -928px 0px; }
.icon32.Cash--Reports--Receipts { background-position: -960px 0px; }
.icon32.CRM--Admin--Benutzer { background-position: -992px 0px; }
.icon32.CRM--Admin--Dokumentvorlage { background-position: -1024px 0px; }
.icon32.CRM--Admin--Etiketten { background-position: -1056px 0px; }
.icon32.CRM--Admin--Gruppen { background-position: -1088px 0px; }
.icon32.CRM--Admin--Mitteilungen { background-position: -1120px 0px; }
.icon32.CRM--Admin { background-position: -1152px 0px; }
.icon32.CRM--Admin--Status { background-position: -1184px 0px; }
.icon32.CRM--Auftragschance { background-position: -1216px 0px; }
.icon32.CRM--eMail { background-position: -1248px 0px; }
.icon32.CRM--Hilfe { background-position: -1280px 0px; }
.icon32.CRM--Kunden { background-position: -1312px 0px; }
.icon32.CRM--Lieferant { background-position: -1344px 0px; }
.icon32.CRM--Notizen { background-position: -1376px 0px; }
.icon32.CRM--Personen { background-position: -1408px 0px; }
.icon32.CRM { background-position: -1440px 0px; }
.icon32.CRM--Schnellsuche { background-position: -1472px 0px; }
.icon32.CRM--Service { background-position: -1504px 0px; }
.icon32.CRM--Termine { background-position: -1536px 0px; }
.icon32.CRM--Wiedervorlage { background-position: -1568px 0px; }
.icon32.CRM--Wissens-DB { background-position: -1600px 0px; }
.icon32.General-Ledger--Add-AP-Transaction { background-position: -1632px 0px; }
.icon32.General-Ledger--Add-AR-Transaction { background-position: -1664px 0px; }
.icon32.General-Ledger--Add-Transaction { background-position: -1696px 0px; }
.icon32.General-Ledger--DATEV---Export-Assistent { background-position: -1728px 0px; }
.icon32.General-Ledger { background-position: -1760px 0px; }
.icon32.General-Ledger--Reports--AP-Aging { background-position: -1792px 0px; }
.icon32.General-Ledger--Reports--AR-Aging { background-position: -1824px 0px; }
.icon32.General-Ledger--Reports--Journal { background-position: -1856px 0px; }
.icon32.General-Ledger--Reports { background-position: -1888px 0px; }
.icon32.Master-Data--Add-Assembly { background-position: -1920px 0px; }
.icon32.Master-Data--Add-Customer { background-position: -1952px 0px; }
.icon32.Master-Data--Add-License { background-position: -1984px 0px; }
.icon32.Master-Data--Add-Part { background-position: -2016px 0px; }
.icon32.Master-Data--Add-Project { background-position: -2048px 0px; }
.icon32.Master-Data--Add-Service { background-position: -2080px 0px; }
.icon32.Master-Data--Add-Vendor { background-position: -2112px 0px; }
.icon32.Master-Data { background-position: -2144px 0px; }
.icon32.Master-Data--Reports--Assemblies { background-position: -2176px 0px; }
.icon32.Master-Data--Reports--Customers { background-position: -2208px 0px; }
.icon32.Master-Data--Reports--Licenses { background-position: -2240px 0px; }
.icon32.Master-Data--Reports--Parts { background-position: -2272px 0px; }
.icon32.Master-Data--Reports { background-position: -2304px 0px; }
.icon32.Master-Data--Reports--Projects { background-position: -2336px 0px; }
.icon32.Master-Data--Reports--Projecttransactions { background-position: -2368px 0px; }
.icon32.Master-Data--Reports--Services { background-position: -2400px 0px; }
.icon32.Master-Data--Reports--Vendors { background-position: -2432px 0px; }
.icon32.Neues-Fenster { background-position: -2464px 0px; }
.icon32.Program--Logout { background-position: -2496px 0px; }
.icon32.Program { background-position: -2528px 0px; }
.icon32.Program--Preferences { background-position: -2560px 0px; }
.icon32.Program--Version { background-position: -2592px 0px; }
.icon32.Reports--Balance-Sheet { background-position: -2624px 0px; }
.icon32.Reports--Chart-of-Accounts { background-position: -2656px 0px; }
.icon32.Reports--Income-Statement { background-position: -2688px 0px; }
.icon32.Reports { background-position: -2720px 0px; }
.icon32.Reports--UStVa { background-position: -2752px 0px; }
.icon32.System { background-position: -2784px 0px; }
.icon32.Warehouse--Produce-Assembly { background-position: -2816px 0px; }
