.icon16 { background: url(../image/maps/icons16.png) 16px 0px no-repeat; padding: 0; width: 16px; height: 16px; }
.icon16.AP--Add-Purchase-Order { background-position: -0px 0px; }
.icon16.AP--Add-RFQ { background-position: -16px 0px; }
.icon16.AP { background-position: -32px 0px; }
.icon16.AP--Reports { background-position: -48px 0px; }
.icon16.AP--Reports--Purchase-Orders { background-position: -64px 0px; }
.icon16.AP--Reports--RFQs { background-position: -80px 0px; }
.icon16.AR--Add-Credit-Note { background-position: -96px 0px; }
.icon16.AR--Add-Delivery-Order { background-position: -112px 0px; }
.icon16.AR--Add-Dunning { background-position: -128px 0px; }
.icon16.AR--Add-Quotation { background-position: -144px 0px; }
.icon16.AR--Add-Sales-Invoice { background-position: -160px 0px; }
.icon16.AR--Add-Sales-Order { background-position: -176px 0px; }
.icon16.AR { background-position: -192px 0px; }
.icon16.AR--Reports--Delivery-Orders { background-position: -208px 0px; }
.icon16.AR--Reports--Dunnings { background-position: -224px 0px; }
.icon16.AR--Reports--Invoices { background-position: -240px 0px; }
.icon16.AR--Reports { background-position: -256px 0px; }
.icon16.AR--Reports--Quotations { background-position: -272px 0px; }
.icon16.AR--Reports--Sales-Orders { background-position: -288px 0px; }
.icon16.Batch-Printing--Packing-Lists { background-position: -304px 0px; }
.icon16.Batch-Printing { background-position: -320px 0px; }
.icon16.Batch-Printing--Purchase-Orders { background-position: -336px 0px; }
.icon16.Batch-Printing--Quotations { background-position: -352px 0px; }
.icon16.Batch-Printing--Receipts { background-position: -368px 0px; }
.icon16.Batch-Printing--RFQs { background-position: -384px 0px; }
.icon16.Batch-Printing--Sales-Invoices { background-position: -400px 0px; }
.icon16.Batch-Printing--Sales-Orders { background-position: -416px 0px; }
.icon16.Cash--Payment { background-position: -432px 0px; }
.icon16.Cash { background-position: -448px 0px; }
.icon16.Cash--Receipt { background-position: -464px 0px; }
.icon16.Cash--Reconciliation { background-position: -480px 0px; }
.icon16.Cash--Reports--Payments { background-position: -496px 0px; }
.icon16.Cash--Reports { background-position: -512px 0px; }
.icon16.Cash--Reports--Receipts { background-position: -528px 0px; }
.icon16.CRM--Admin--Benutzer { background-position: -544px 0px; }
.icon16.CRM--Admin--Dokumentvorlage { background-position: -560px 0px; }
.icon16.CRM--Admin--Etiketten { background-position: -576px 0px; }
.icon16.CRM--Admin--Gruppen { background-position: -592px 0px; }
.icon16.CRM--Admin--Mitteilungen { background-position: -608px 0px; }
.icon16.CRM--Admin { background-position: -624px 0px; }
.icon16.CRM--Admin--Status { background-position: -640px 0px; }
.icon16.CRM--Auftragschance { background-position: -656px 0px; }
.icon16.CRM--eMail { background-position: -672px 0px; }
.icon16.CRM--Hilfe { background-position: -688px 0px; }
.icon16.CRM--Kunden { background-position: -704px 0px; }
.icon16.CRM--Lieferant { background-position: -720px 0px; }
.icon16.CRM--Notizen { background-position: -736px 0px; }
.icon16.CRM--Personen { background-position: -752px 0px; }
.icon16.CRM { background-position: -768px 0px; }
.icon16.CRM--Schnellsuche { background-position: -784px 0px; }
.icon16.CRM--Service { background-position: -800px 0px; }
.icon16.CRM--Termine { background-position: -816px 0px; }
.icon16.CRM--Wiedervorlage { background-position: -832px 0px; }
.icon16.CRM--Wissens-DB { background-position: -848px 0px; }
.icon16.General-Ledger--Add-AP-Transaction { background-position: -864px 0px; }
.icon16.General-Ledger--Add-AR-Transaction { background-position: -880px 0px; }
.icon16.General-Ledger--Add-Transaction { background-position: -896px 0px; }
.icon16.General-Ledger--DATEV---Export-Assistent { background-position: -912px 0px; }
.icon16.General-Ledger { background-position: -928px 0px; }
.icon16.General-Ledger--Reports--AP-Aging { background-position: -944px 0px; }
.icon16.General-Ledger--Reports--AR-Aging { background-position: -960px 0px; }
.icon16.General-Ledger--Reports--Journal { background-position: -976px 0px; }
.icon16.General-Ledger--Reports { background-position: -992px 0px; }
.icon16.Master-Data--Add-Assembly { background-position: -1008px 0px; }
.icon16.Master-Data--Add-Customer { background-position: -1024px 0px; }
.icon16.Master-Data--Add-License { background-position: -1040px 0px; }
.icon16.Master-Data--Add-Part { background-position: -1056px 0px; }
.icon16.Master-Data--Add-Project { background-position: -1072px 0px; }
.icon16.Master-Data--Add-Service { background-position: -1088px 0px; }
.icon16.Master-Data--Add-Vendor { background-position: -1104px 0px; }
.icon16.Master-Data { background-position: -1120px 0px; }
.icon16.Master-Data--Reports--Assemblies { background-position: -1136px 0px; }
.icon16.Master-Data--Reports--Customers { background-position: -1152px 0px; }
.icon16.Master-Data--Reports--Licenses { background-position: -1168px 0px; }
.icon16.Master-Data--Reports--Parts { background-position: -1184px 0px; }
.icon16.Master-Data--Reports { background-position: -1200px 0px; }
.icon16.Master-Data--Reports--Projects { background-position: -1216px 0px; }
.icon16.Master-Data--Reports--Projecttransactions { background-position: -1232px 0px; }
.icon16.Master-Data--Reports--Services { background-position: -1248px 0px; }
.icon16.Master-Data--Reports--Vendors { background-position: -1264px 0px; }
.icon16.Master-Data--Update-Prices { background-position: -1280px 0px; }
.icon16.MDI-Text-Editor-16x16 { background-position: -1296px 0px; }
.icon16.Neues-Fenster { background-position: -1312px 0px; }
.icon16.Program--Logout { background-position: -1328px 0px; }
.icon16.Program { background-position: -1344px 0px; }
.icon16.Program--Preferences { background-position: -1360px 0px; }
.icon16.Program--Version { background-position: -1376px 0px; }
.icon16.Reports--Balance-Sheet { background-position: -1392px 0px; }
.icon16.Reports--Chart-of-Accounts { background-position: -1408px 0px; }
.icon16.Reports--Income-Statement { background-position: -1424px 0px; }
.icon16.Reports { background-position: -1440px 0px; }
.icon16.Reports--UStVa { background-position: -1456px 0px; }
.icon16.System { background-position: -1472px 0px; }
.icon16.Warehouse { background-position: -1488px 0px; }
.icon16.Warehouse--Produce-Assembly { background-position: -1504px 0px; }
