input.rs_input_field, select.rs_input_field,
table.rs_input_field input, table.rs_input_field select {
  width: 300px;
}

#column-container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

#tree-column {
  float: left;
  width: 25%;
}

#content-column {
  float: right;
  width: 74%;
  padding-left: 10px;
}

.section-empty-description {
  color: #bbb;
}

.function-block {
  border-bottom: 1px solid #bbb;
}

.section-description-heading {
  font-weight: bold;
}

.section-description {
  color: #000;
  background: rgb(235, 235, 235);
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.sub-function-block {
  border-bottom: 1px solid #ccc;
}

.sub-function-block-container {
  margin: 10px 0px 10px 20px;
  border: 1px solid #ccc;
}

.sub-function-block-header {
  padding: 5px;
  font-weight: bold;
  color: #fff;
  background: #ccc;
}

.function-block-form {
  background: rgb(235, 235, 235);
  border: 1px solid rgb(0, 100, 0);
}

.function-block-form > div {
  padding: 5px;
}
