[%- USE T8 %][%- USE LxERP -%]
[%- UNLESS skip_frame_header %]
<div id="frame-header">
[%- UNLESS is_links %]
 <span class="frame-header-element frame-header-left">
    [<a href="controller.pl?action=LoginScreen/user_login" target="_blank" title="[% 'Open a further kivitendo window or tab' | $T8 %]">[% 'New window/tab' | $T8 %]</a>]
    [<a href="JavaScript:top.print();" title="[% 'Hardcopy' | $T8 %]">[% 'Print' | $T8 %]</a>]
 </span>
[%- END %]
 <span class="frame-header-element frame-header-right">
  [[% 'User' | $T8 %]: [% MYCONFIG.login | html %] -
   [% 'Client' | $T8 %]: [% AUTH.client.name | html %] -
   <a href="controller.pl?action=LoginScreen/logout" target="_top" title="[% 'Logout now' | $T8 %]">[% 'Logout' | $T8 %]</a>]
 </span>
 <span class="frame-header-element frame-header-right" id="ajax-spinner">
  <img src="image/spinner-white.gif" alt="[% LxERP.t8('Loading...') %]">
 </span>
[%- FOREACH search = quick_search.enabled_modules %]
   <span class='frame-header-quicksearch'><input id="top-quick-search-[% search.name %]" module="[% search.name %]" placeholder="[% search.description_field %]" maxlength="20"></span>
[%- END %]

</div>
[%- END %]
