<body style="padding:0px; margin:0px;">

 <script type="text/javascript">
<!--
function clockon() {
  var now = new Date();
  var h = now.getHours();
  var m = now.getMinutes();
  document.getElementById('clock_id').innerHTML = (h<10?'0'+h:h)+":"+(m<10?'0'+m:m);
  var timer=setTimeout("clockon()", 10000);
}
window.onload=clockon
//-->
 </script>

 <table border="0" width="100%" background="image/bg_titel.gif" cellpadding="0" cellspacing="0">
  <tr>
   <td style="color:white; font-family:verdana,arial,sans-serif; font-size: 12px;">
    &nbsp;
    [<a href="menuv3.pl?action=display&login=<TMPL_VAR login ESCAPE=URL>&password=<TMPL_VAR password ESCAPE=URL>" target="_blank"><translate>new Window</translate></a>]
    &nbsp;
    [<a href="JavaScript:top.main_window.print()"><translate>print</translate></a>]
   </td>
   <td align="right" style="vertical-align:middle; color:white; font-family:verdana,arial,sans-serif; font-size: 12px;" nowrap>
    [<translate>User</translate>: <TMPL_VAR login ESCAPE=HTML> -
    <a href="login.pl?action=logout&login=<TMPL_VAR login ESCAPE=URL>&password=<TMPL_VAR password ESCAPE=URL>" target="_top"><translate>logout</translate></a>]
    <TMPL_VAR date> <span id='clock_id' style='position:relative'></span>&nbsp;
   </td>
  </tr>
 </table>


 <div id="menu">

  <TMPL_VAR menu>

 </div>

 <div style="clear: both;"></div>

 <iframe id="win1" src="login.pl?action=company_logo&login=<TMPL_VAR login ESCAPE=URL>&password=<TMPL_VAR password ESCAPE=URL>" width="100%" height="94%" name="main_window" style="position: absolute; border: 0px; z-index: 99; ">
  <p><translate>MSG_BROWSER_DOES_NOT_SUPPORT_IFRAMES</translate></p>
 </iframe>
</body>
</html>
