[%- USE L %]
[%- USE HTML %]
<div id="menuv3">[% FOREACH node = menu.tree %][% NEXT UNLESS node.visible %]<ul><li>[% PROCESS submenu top=1 %]</li></ul>[% END %]</div>
<div style="clear: both;"></div>
[%- %]
[%- BLOCK submenu %]
  [%- IF top              %]<h2>[% menu.name_for_node(node) | html %]</h2>
  [%- ELSIF node.children %]<div class="x">[% menu.name_for_node(node) | html %]</div>
  [%- ELSE                %][% L.link(menu.href_for_node(node), menu.name_for_node(node), title=menu.name_for_node(node), target=node.target) %]
  [%- END %]
  [%- IF node.children %]<ul>[%- FOREACH node = node.children %][% NEXT UNLESS node.visible %]<li>[% PROCESS submenu top=0 %]</li>[% END %]</ul>[%- END %]
[%- END %]
