[%- USE T8 %]
[% USE HTML %][%- USE LxERP -%]
[% UNLESS skip_frame_header %]
 <script type="text/javascript" src="js/quicksearch_input.js"></script>
 <script type="text/javascript">
 <!--
function clockon() {
  var now = new Date();
  var h = now.getHours();
  var m = now.getMinutes();
  document.getElementById('clock_id').innerHTML = (h<10?'0'+h:h)+":"+(m<10?'0'+m:m);
  var timer=setTimeout("clockon()", 10000);
}
$(clockon);
//-->
 </script>

<div id="frame-header">
 <span class="frame-header-element frame-header-left">
    [<a href="login.pl?action=company_logo" target="_blank">[% 'new Window' | $T8 %]</a>]
    [<a href="JavaScript:top.print()">[% 'print' | $T8 %]</a>]
    [[% 'Search contacts' | $T8 %] <input size="15" name="search_term" id="search_term" onkeydown="return on_keydown_quicksearch($('#search_term'), event)">]
 </span>
 <span class="frame-header-element frame-header-right">
    [[% 'User' | $T8 %]: [% MYCONFIG.login | html %] -
     [% 'Client' | $T8 %]: [% AUTH.client.name | html %] -
    <a href="controller.pl?action=LoginScreen/logout" target="_top">[% 'logout' | $T8 %]</a>]
    [% date %] <span id='clock_id' style='position:relative'></span>&nbsp;
 </span>
 <span class="frame-header-element frame-header-right" id="ajax-spinner">
  <img src="image/[% IF MYCONFIG.stylesheet == 'lx-office-erp.css' %]spinner-blue.gif[% ELSE %]spinner-white.gif[% END %]" alt="[% LxERP.t8('Loading...') %]">
 </span>
</div>
[% END %]
 <div id="menuv3">

  [% menu %]

 </div>
 <div style="clear: both;"></div>
