[%- USE T8 %]
[% USE HTML %]<body style="padding:0px; margin:0px;">

 <script type="text/javascript" src="js/jquery.js"></script>
 <script type="text/javascript">
 <!--
function on_keydown_quicksearch(e) {
  var key;

  if (window.event)
    key = window.event.keyCode;   // IE
  else
    key = e.which;                // Firefox

  if (key != 13)
    return true;

  var search_term = $("#search_term");
  var value       = search_term.val();
  if (!value)
    return true;

  var url = "ct.pl?action=list_contacts&INPUT_ENCODING=utf-8&filter.status=active&search_term=" + encodeURIComponent(value);

  search_term.val('');
  $("#win1").attr('src', url);

  return false;
}

function clockon() {
  var now = new Date();
  var h = now.getHours();
  var m = now.getMinutes();
  document.getElementById('clock_id').innerHTML = (h<10?'0'+h:h)+":"+(m<10?'0'+m:m);
  var timer=setTimeout("clockon()", 10000);
}
window.onload=clockon
//-->
 </script>

 <table border="0" width="100%" background="image/bg_titel.gif" cellpadding="0" cellspacing="0">
  <tr>
   <td style="color:white; font-family:verdana,arial,sans-serif; font-size: 12px;" nowrap>
    &nbsp;
    [<a href="menuv3.pl?action=display" target="_blank">[% 'new Window' | $T8 %]</a>]
    &nbsp;
    [<a href="JavaScript:top.main_window.print()">[% 'print' | $T8 %]</a>]
    &nbsp;
    [[% 'Search contacts' | $T8 %] <input size="15" name="search_term" id="search_term" onkeydown="return on_keydown_quicksearch(event)">]
   </td>
   <td align="right" style="vertical-align:middle; color:white; font-family:verdana,arial,sans-serif; font-size: 12px;" nowrap>
    [[% 'User' | $T8 %]: [% HTML.escape(login) %] -
    <a href="controller.pl?action=LoginScreen/logout" target="_top">[% 'logout' | $T8 %]</a>]
    [% date %] <span id='clock_id' style='position:relative'></span>&nbsp;
   </td>
  </tr>
 </table>


 <div id="menuv3">

  [% menu %]

 </div>

 <div style="clear: both;"></div>

 <iframe id="win1" src="[% callback %]" width="100%" height="94%" name="main_window" style="position: absolute; border: 0px; z-index: 99; ">
  <p>[% 'MSG_BROWSER_DOES_NOT_SUPPORT_IFRAMES' | $T8 %]</p>
 </iframe>
</body>
</html>
