[%- USE HTML -%]
[%- USE LxERP -%]
[%- USE P -%]
[%- USE L -%]
<div id="function-block-[% requirement_spec_item.id %]" class="function-block[%- IF requirement_spec_item.is_flagged -%] flagged[%- END -%]">

 <div id="function-block-content-[%- requirement_spec_item.id -%]" class="function-block-content function-block-context-menu">

  [% INCLUDE 'requirement_spec_item/_function_block_content_top.html' id_prefix='' %]
  [% INCLUDE 'requirement_spec_item/_function_block_content_bottom.html' id_prefix='' %]


<div class="sub-function-block-container" id="sub-function-block-container-[%- requirement_spec_item.id -%]"[%- IF !requirement_spec_item.children.size -%] style="display: none"[%- END -%]>
 <div class="sub-function-block-header" id="sub-function-block_header_[%- requirement_spec_item.id -%]">
  [%- LxERP.t8("Sub function blocks") -%]
 </div>
 [%- FOREACH sub_function_block = requirement_spec_item.children_sorted -%]
  [%- INCLUDE 'requirement_spec_item/_sub_function_block.html' requirement_spec_item=sub_function_block -%]
 [%- END -%]
</div>







  </div>








 </div>
</div>
