[%- USE HTML -%][%- USE LxERP -%][%- USE L -%][%- USE T8 -%][%- USE P -%]
[% SET style="width: 400px" %]

<h1>[% HTML.escape(title) %]</h1>

<form action="controller.pl" method="post" id="form">
[%- L.hidden_tag("id", SELF.config.id) %]

<table>
  <tr>
    <th align="right">[% 'Description' | $T8 %]</th>
    <td>[%- L.input_tag("config.description", SELF.config.description, "data-validate"="required", "data-title"=LxERP.t8("Description")) %]</td>
  </tr>
  <tr>
    <th align="right">[% 'Inventory Account' | $T8 %]</th>
    [%- IF NOT SELF.config.id %]
    <td>[% P.chart.picker("config.inventory_accno_id", SELF.defaults.inventory_accno_id, choose=1, type='IC', style=style) %]</td>
    [%- ELSIF SELF.config.id AND SELF.config.orphaned %]
    <td>[% P.chart.picker("config.inventory_accno_id", SELF.config.inventory_accno_id, choose=1, type='IC', style=style) %]</td>
    [%- ELSE %]
      <td>[%- CHARTLIST.inventory_accno_description %]</td>
    [%- END %]
  </tr>
[%- FOREACH tz = TAXZONES %]
  <tr>
    <th align="right">[% 'Revenue' | $T8 %] [% HTML.escape(tz.description) %]</th>
    [%- IF NOT SELF.config.id %]
    <td>[% P.chart.picker('income_accno_id_' _ tz.id, SELF.defaults.income_accno_id, choose=1, type='IC_income,IC_sale', style=style) %]</td>
    [%- ELSIF SELF.config.id AND SELF.config.orphaned %]
    <td>[% P.chart.picker('income_accno_id_' _ tz.id, CHARTLIST.${tz.id}.income_accno_id, choose=1, type='IC_income,IC_sale', style=style) %]</td>
    [%- ELSE %]
      <td>[% CHARTLIST.${tz.id}.income_accno_description %]</td>
    [%- END %]
  </tr>
  <tr>
    <th align="right">[% 'Expense' | $T8 %] [% HTML.escape(tz.description) %]</th>
    [%- IF NOT SELF.config.id %]
      <td>[% P.chart.picker('expense_accno_id_' _ tz.id, SELF.defaults.expense_accno_id, choose=1, type='IC_expense,IC_cogs', style=style) %]</td>
    [%- ELSIF SELF.config.id AND SELF.config.orphaned %]
      <td>[% P.chart.picker('expense_accno_id_' _ tz.id, CHARTLIST.${tz.id}.expense_accno_id, choose=1, type='IC_expense,IC_cogs', style=style) %]</td>
    [%- ELSE %]
      <td>[% CHARTLIST.${tz.id}.expense_accno_description %]</td>
    [%- END %]
  </tr>
[%- END %]
</table>
</form>
