[%- USE HTML -%][%- USE LxERP -%][%- USE L -%][%- USE T8 -%][%- INCLUDE 'common/flash.html' %]

<h1>[% title %]</h1>

<p>
 <table width="100%" id="buchungsgruppen_list">
  <thead>
   <tr class="listheading">
    <th align="center" width="1%"><img src="image/updown.png" alt="[%- LxERP.t8('reorder item') %]"></th>
    <th width="20%">[% 'Description' | $T8 %]</th>
    <th width="20%">[% 'Inventory Account' | $T8 %]</th>
     [%- FOREACH tz = TAXZONES %]
        <th width="20%">[% 'Revenue' | $T8 %] [% HTML.escape(tz.description) %]</th>
        <th width="20%">[% 'Expense' | $T8 %] [% HTML.escape(tz.description) %]</th>
     [%- END %]
   </tr>
  </thead>

  <tbody>
   [%- FOREACH bg = BUCHUNGSGRUPPEN %]
    <tr class="listrow" id="bg_id_[% bg.id %]">
     <td align="center" class="dragdrop"><img src="image/updown.png" alt="[%- LxERP.t8('reorder item') %]"></td>
     <td><a href="[% SELF.url_for(action='edit', id=bg.id) %]">[% HTML.escape(bg.description) %]</a></td>
     <td>[% HTML.escape(CHARTLIST.${bg.id}.inventory_accno) %]</td>
     [%- FOREACH tz = TAXZONES %]
        <td>[% HTML.escape(CHARTLIST.${bg.id}.${tz.id}.income_accno) %]</td>
        <td>[% HTML.escape(CHARTLIST.${bg.id}.${tz.id}.expense_accno) %]</td>
     [%- END %]
   [%- END %]
  </tbody>
 </table>
</p>

[% L.sortable_element('#buchungsgruppen_list tbody', url=SELF.url_for(action='reorder'), with='bg_id') %]
