[% USE T8 %]
[% USE L %]
[% USE LxERP %]
[% USE HTML %]
[% USE JavaScript %]

[% L.hidden_tag("", SELF.template_type, id="record_template_dialog_template_type",
                "data-controller"=SELF.data.controller,
                "data-load_action"=SELF.data.load_action,
                "data-save_action"=SELF.data.save_action,
                "data-form_selector"=SELF.data.form_selector) %]

<h2>[% LxERP.t8("Add new record template") %]</h2>

<p>
 [% LxERP.t8("Name") %]:
 [% L.input_tag("", "", id="record_template_dialog_new_template_name") %]
 [% L.button_tag("kivi.RecordTemplate.create()", LxERP.t8("Save")) %]
</p>

<h2 class="listheading">[% LxERP.t8("Filter record template") %]</h2>
<p>
<form method="post" action="javascript:kivi.RecordTemplate.filter_templates()">
 [% LxERP.t8("Name") %]:
 [% L.input_tag("template_filter", SELF.template_filter) %]
 [% L.submit_tag('', LxERP.t8("Filter")) %]
 [% L.button_tag('$("#template_filter").val("")', LxERP.t8('Reset')) %]
</form>
</p>

[% SET templates = SELF.templates.as_list %]

[% IF templates.size %]

<h2>[% LxERP.t8("Existing templates") %]</h2>

<table>
 <thead>
  <tr>
   <th>[% LxERP.t8("Action") %]</th>
   <th>[% LxERP.t8("Name") %]</th>
   <th>[% LxERP.t8("Modification date") %]</th>
  </tr>
 </thead>

 <tbody>
[% FOREACH template = templates %]
  <tr class="listrow">
   <td>
    [% L.hidden_tag("", template.template_name, id="record_template_dialog_template_name_" _ template.id) %]
    [% L.button_tag("kivi.RecordTemplate.load(" _ template.id _ ")", LxERP.t8("Load")) %]
    [% L.button_tag("kivi.RecordTemplate.save(" _ template.id _ ")", LxERP.t8("Save")) %]
    [% L.button_tag("kivi.RecordTemplate.rename(" _ template.id _ ")", LxERP.t8("Rename")) %]
    [% L.button_tag("kivi.RecordTemplate.delete(" _ template.id _ ")", LxERP.t8("Delete")) %]
   </td>
   <td>[% HTML.escape(template.template_name) %]</td>
   <td>[% HTML.escape(template.mtime.to_kivitendo) %] [% HTML.escape(template.mtime.to_kivitendo_time) %]</td>
  </tr>
[% END %]
 </tbody>

</table>
[% ELSE %]

<p>[% LxERP.t8("There are no record templates yet.") %]</p>

[% END %]
