[%- USE T8 %]
[%- USE L %]
[%- USE P %]
[%- USE LxERP %]
[%- USE HTML %]

<form action='controller.pl' method='post' id='filter_form'>
<div class="wrapper">

[% BLOCK filter_toggle_panel %]
<table id='filter_table' class="tbl-horizontal">
  <tbody>
    <tr>
      <th>[% 'Date' | $T8 %] [% 'From Date' | $T8 %]</th>
      <td>[% L.date_tag('filter.date:date::ge', filter.date_date__ge, class='wi-date') %] [% 'To (time)' | $T8 %][% L.date_tag('filter.date:date::le', filter.date_date__le, class='wi-date') %]</td>
    </tr>
    <tr>
      <th>[% 'Customer' | $T8 %]</th>
      <td>[% L.input_tag('filter.customer.name:substr::ilike', filter.customer.name_substr__ilike, class='wi-lightwide') %]</td>
    </tr>
    <tr>
      <th>[% 'Customer Number' | $T8 %]</th>
      <td>[% L.input_tag('filter.customer.customernumber:substr::ilike', filter.customer.customernumber_substr__ilike, class='wi-lightwide') %]</td>
    </tr>
    <tr>
      <th>[% 'Order Number' | $T8 %]</th>
      <td>[% L.input_tag('filter.order.ordnumber:substr::ilike', filter.order.ordnumber_substr__ilike, class='wi-lightwide') %]</td>
    </tr>
    <tr>
      <th>[% 'Project' | $T8 %]</th>
      <td>[% P.project.picker('filter.project_id', filter.project_id, active="both", valid="both", description_style='both', class='wi-lightwide') %]</td>
    </tr>
    <tr>
      <th>[% 'Description' | $T8 %]</th>
      <td>[% L.input_tag('filter.description:substr::ilike', filter.description_substr__ilike, class='wi-lightwide') %]</td>
    </tr>

    [%- IF SELF.can_view_all -%]
    <tr>
      <th>[% 'Mitarbeiter' | $T8 %]</th>
      <td>
        [% L.select_tag('filter.staff_member_id', SELF.all_employees,
                        default    => filter.staff_member_id,
                        title_key  => 'name',
                        value_key  => 'id',
                        with_empty => 1,
                        class      => 'wi-lightwide') %]
      </td>
    </tr>
  [%- END -%]

    <tr>
      <th>[% 'Booked' | $T8 %]</th>
      <td>[% L.select_tag('filter.booked', [ [ '1', LxERP.t8('Yes') ], [ '0', LxERP.t8('No') ] ], default=filter.booked, with_empty=1, class => 'wi-lightwide') %]</td>
    </tr>
  </tbody>
</table>

[% L.hidden_tag('sort_by', FORM.sort_by) %]
[% L.hidden_tag('sort_dir', FORM.sort_dir) %]
[% L.hidden_tag('page', FORM.page) %]
<div class="buttons">
  [% L.button_tag('$("#filter_form").clearForm()', LxERP.t8('Reset'), class='neutral') %]
</div>

[% END # /BLOCK filter_toggle_panel %]

[% INCLUDE 'common/toggle_panel.html' %]

</div>
</form>
