[%- USE L %][%- USE LxERP %][%- USE HTML %]
<div>
 <form action="controller.pl" method="post">
  <div class="filter_toggle" [% IF nowshow==0 %]style="display:none"[% END %]>
   <a href="#" onClick="javascript:$('.filter_toggle').toggle()">[% LxERP.t8('Show Filter') %]</a>
   [% IF SELF.filter_summary %]([% LxERP.t8("Current filter") %]: [% SELF.filter_summary %])[% END %]
  </div>

  <div class="filter_toggle" [% IF nowshow==1 %]style="display:none"[% END %]>
   <a href="#" onClick="javascript:$('.filter_toggle').toggle()">[% LxERP.t8('Hide Filter') %]</a>
   <table id="filter_table">
    <tr>
     <th align="right">[% LxERP.t8('Customer') %]</th>
     <td>[% L.input_tag('filter.customer.name:substr::ilike', filter.customer.name_substr__ilike, size = 20) %]</td>
    </tr>
    <tr>
     <th align="right">[% LxERP.t8('Shipping address (name)') %]</th>
     <td>[% L.input_tag('filter.shipto.shiptoname:substr::ilike', filter.shipto.shiptoname_substr__ilike, size = 20) %]</td>
    </tr>
    <tr>
     <th align="right">[% LxERP.t8('Delivery Date') %] [% LxERP.t8('From Date') %]</th>
     <td>[% L.date_tag('filter.reqdate:date::ge', filter.reqdate_date__ge) %]</td>
    </tr>
    <tr>
     <th align="right">[% LxERP.t8('Delivery Date') %] [% LxERP.t8('To Date') %]</th>
     <td>[% L.date_tag('filter.reqdate:date::le', filter.reqdate_date__le) %]</td>
    </tr>
   </table>

   [% L.hidden_tag('action', 'ODMassPrint/dispatch') %]
   [% L.hidden_tag('sort_by', FORM.sort_by) %]
   [% L.hidden_tag('sort_dir', FORM.sort_dir) %]
   [% L.hidden_tag('page', FORM.page) %]
   [% L.submit_tag(LIST_ACTION, LxERP.t8('Continue'))%]

   <a href="#" onClick="javascript:$('#filter_table input,#filter_table select').val('');">[% LxERP.t8('Reset') %]</a>

  </div>

 </form>
</div>
