[%- USE T8 %]
[%- USE HTML %]
[%- USE L %]
[%- USE LxERP %]

[% SET debug = 0 %]

[% IF !SELF.LINKED_TRANSACTIONS.size %]
  <tbody>
    <td colspan="11"><p class="message message_hint">[% 'No data was found.' | $T8 %]</p></td>
  </tbody>
[% ELSE %]
  [% FOREACH link = SELF.LINKED_TRANSACTIONS %]
    [% IF link.type == 'Link' %]
      <tbody>
        [% FOREACH bt = link.BT %]
          <tr>
            [% IF loop.count == 1 %]
              <td rowspan="[% link.BT.size + link.BB.size %]" class="button">
                [% L.button_tag('delete_reconciliation(' _ link.rec_group  _ ')', LxERP.t8("X")) %]
              </td>
            [% END %]

            <td><img width="16px" height="16px" src="image/bank-building.jpg"></td>
            <td>[% 'Bank Transaction' | $T8 %]</td>
            [% IF debug %]<td>[% HTML.escape(bt.id) %]</td>[% END %]
            <td class="date right [% HTML.escape(bt.class) %]">[% HTML.escape(bt.transdate_as_date) %]</td>
            <td class="numeric right [% HTML.escape(bt.class) %]">[% HTML.escape(bt.amount_as_number) %]</td>
            <td></td>
            <td>[% HTML.escape(bt.remote_name) %]</td>
            <td>[% HTML.escape(bt.purpose) %]</td>
            <td>[% HTML.escape(bt.remote_account_number) %]</td>
            <td>[% HTML.escape(bt.remote_bank_code) %]</td>
            <td></td>
          </tr>
        [% END %]
        [% FOREACH bb = link.BB %]
          <tr>
            <td><div class="icon16 general-ledger--reports--journal"></div></td>
            <td>[% 'Acc Transaction' | $T8 %]</td>
            [% IF debug %]<td>[% HTML.escape(bb.acc_trans_id) %]</td>[% END %]
            <td class="date right [% HTML.escape(bb.class) %]">[% HTML.escape(bb.transdate_as_date) %]</td>
            <td></td>
            <td class="numeric right [% HTML.escape(bb.class) %]">[% LxERP.format_amount(-1 * bb.amount, 2) %]</td>
            <td>[% HTML.escape(bb.record.customer.name) %][% HTML.escape(bb.record.vendor.name) %][% HTML.escape(bb.record.description) %]</td>
            <td>[% bb.record.link %] [% HTML.escape(bb.source) %] [% HTML.escape(bb.memo) %]</td>
            <td></td>
            <td></td>
            <td>[% HTML.escape(bb.source) %]</td>
          </tr>
        [% END %]
      </tbody>
    [% ELSE %]
      <tbody class="listrow_error">
        [% FOREACH bt = link.BT %]
          <tr>
            <td>
              [%- L.checkbox_tag('bt_ids[]', value=link.id, onchange='update_reconciliation_table();')     %]
            </td>

            <td><img width="16px" height="16px" src="image/bank-building.jpg"></td>
            <td>[% 'Bank Transaction' | $T8 %]</td>
            [% IF debug %]<td>[% HTML.escape(bt.id) %]</td>[% END %]
            <td class="date right">[% HTML.escape(bt.transdate_as_date) %]</td>
            <td class="numeric right">[% HTML.escape(bt.amount_as_number) %]</td>
            <td></td>
            <td>[% HTML.escape(bt.remote_name) %]</td>
            <td>[% HTML.escape(bt.purpose) %]</td>
            <td>[% HTML.escape(bt.remote_account_number) %]</td>
            <td>[% HTML.escape(bt.remote_bank_code) %]</td>
            <td></td>
          </tr>
        [% END %]
        [% FOREACH bb = link.BB %]
          <tr>
            <td>
              [%- L.checkbox_tag('bb_ids[]', value=link.id, onchange='update_reconciliation_table();')     %]
            </td>

            <td><div class="icon16 general-ledger--reports--journal"></div></td>
            <td>[% 'Acc Transaction' | $T8 %]</td>
            [% IF debug %]<td>[% HTML.escape(bb.acc_trans_id) %]</td>[% END %]
            <td class="date right">[% HTML.escape(bb.transdate_as_date) %]</td>
            <td></td>
            <td class="numeric right">[% LxERP.format_amount(-1 * bb.amount, 2) %]</td>
            <td>[% HTML.escape(bb.record.customer.name) %][% HTML.escape(bb.record.vendor.name) %][% HTML.escape(bb.record.description) %]</td>
            <td>[% bb.record.link %] [% HTML.escape(bb.source) %] [% HTML.escape(bb.memo) %]</td>
            <td></td>
            <td></td>
            <td>[% HTML.escape(bb.source) %]</td>
          </tr>
        [% END %]
      </tbody>
    [% END %]
  [% END %]
[% END %]
