[% USE T8 %]
[% USE HTML %]
[% USE L %]
[% USE LxERP %]

<h1>[% 'Reconciliation with bank' | $T8 %]</h1>
<form method="post" action="controller.pl" id="search_form">

<div class="wrapper">
  <table class="tbl-horizontal">
    <caption>[% 'Choose bank account for reconciliation' | $T8 %]</caption>
    <tbody>
      <tr>
       <th>[% 'Bank account' | $T8 %]</th>
       <td>[% L.select_tag('filter.local_bank_account_id:number', SELF.BANK_ACCOUNTS, title_key='displayable_name', with_empty=0, class='wi-wide') %]</td>
      </tr>
      <tr>
       <th>[% 'From' | $T8 %]</th>
       <td><span class="wi-date">[% L.date_tag('filter.fromdate:date::ge') %]</span></td>
      </tr>
      <tr>
       <th>[% 'to (date)' | $T8 %]</th>
       <td><span class="wi-date">[% L.date_tag('filter.todate:date::le') %]</span></td>
      </tr>
      <tr>
       <th>[% 'Cleared/uncleared only' | $T8 %]</th>
       <td>[% L.select_tag('filter.cleared:eq_ignore_empty', SELF.cleared, value_key = 'value', title_key = 'title', default = 'FALSE', class='wi-wide' ) %]</td>
      </tr>
      <tr>
       <th>[% 'Show Stornos' | $T8 %]</th>
       <td>[% L.checkbox_tag('filter.show_stornos', value='1') %]</td>
      </tr>
    </tbody>
   </table>
</div>
</form>
