[%- USE HTML %]
[%- USE LxERP %]
[%- USE L %]
[%- USE T8 %]

 <div class="listtop">[% FORM.title %]</div>

 [% IF profile %]
 <p>
 [% "Import a MT940 file:" | $T8 %]
 </p>

 <form method="post" action="controller.pl" enctype="multipart/form-data" id="form">
    [% L.input_tag('file', '', type => 'file', accept => '*') %]
 </form>
 [% ELSE %]
 <p>
 [% "Please create a CSV import profile called \"MT940\" for the import type bank transactions:" | $T8 %] <a href="[% SELF.url_for(controller => 'CsvImport', action => 'new', 'profile.type' => 'bank_transactions' ) %]">CsvImport</a>
 </p>
 [% END %]
