[% USE HTML %]
[% USE T8 %]
[% USE L %]
[% USE LxERP %]

<h1>[% title | html %]</h1>


<form id='filter_form'>

<div class="wrapper">

<p>[% 'This export will include all records in the given time range and all supplicant information from checked entities. You will receive a single zip file. Please extract this file onto the data medium requested by your auditor.' | $T8 %]</p>


<table class="tbl-horizontal">
  <tbody>
    <tr>
      <th>[% 'Year' | $T8 %]</th>
      <td>[% L.radio_button_tag('method', value='year', checked=1) %]
      <td>[% L.select_tag('year', SELF.available_years, default=current_year) %]</td>
    </tr>
    <tr>
      <th>[% 'Period' | $T8 %]</th>
      <td>[% L.radio_button_tag('method') %]
      <!-- <td>[% 'From Date' | $T8 %]</td> -->
      <td>[% L.date_tag('from', SELF.from) %] [% 'To Date' | $T8 %] [% L.date_tag('to', SELF.to) %]</td>
    </tr>
  </tbody>
</table>

</div>

</form>
