[% USE T8 %]
[% USE L %]
[% USE LxERP %]
[% USE HTML %]

<form action='controller.pl' metdod='post' id="shop_part_filter">

<div class="wrapper">
[% L.hidden_tag('filter.shop.obsolete', 0) %]

<table id="filter_table" class="tbl-horizontal">
  <caption>[% 'Filter' | $T8 %]</caption>
  <tbody>
    <tr>
      <th>[% 'Shop' | $T8 %]</th>
      <td>[% L.select_tag('filter.shop_id:eq_ignore_empty', SELF.shops, value_key = 'value', title_key = 'title', default=0, class='wi-small') %]</td>
    </tr>
    <tr>
      <th>[% 'Part marked as "Shop part"' | $T8 %]</th>
      <td>[% L.yes_no_tag('filter.part.shop', FORM.filter.part.shop, default='1', with_empty=1, empty_title='---', class='wi-small') %]</td>
    </tr>
  </tbody>
</table>
 
<div class="buttons">
  <a href='#' onclick='javascript:$("#filter_table input").val("");$("#filter_table input[type=checkbox]").prop("checked", 0);' class="button neutral">[% 'Reset' | $T8 %]</a>
  [% L.hidden_tag('action', 'ShopPart/dispatch') %]
  [% L.submit_tag('action_list_articles',LxERP.t8('renew')) %]
</div>

</div><!-- /.wrapper -->

</form>
