[% USE HTML %]
[% USE T8 %]
[% USE L %]
[% USE P %]
[% USE LxERP %]

[%  LxERP.t8("Part") %]: [% HTML.escape(SELF.shop_part.part.displayable_name) %]<br>
[%  LxERP.t8("Shop") %]: [% HTML.escape(SELF.shop_part.shop.description) %]<br>

<form action="controller.pl" method="post">
  [% BLOCK recurse %]
    [% # path = '' %]<!-- TODO: Pfad wg neuer Kategorie im Shop anlegen -->
    <ul>
      [% FOREACH obj = data %]
        <li>
          [% checked = '' %]
          [% # path = path _ obj.name %]
          [% # test = path.split('\|') %]
          [% IF SELF.shop_part.shop_category.1.grep(obj.name).size %]
            [% checked = 'checked' %]
          [% ELSE %]
            [% FOREACH cat_row = SELF.shop_part.shop_category %]
              [% IF cat_row.1.grep(obj.name).size %]
                [% checked = 'checked' %]
              [% END %]
            [% END %]
          [% END %]
          [% L.checkbox_tag('categories[]',value=obj.id, checked=checked) %][% HTML.escape(obj.name) %][% L.hidden_tag("cat_id_" _ obj.id, obj.name) %]
        </li>
        [% IF obj.childrenCount >= 1 %]
          [% # path = path _ '|' %]
          [% INCLUDE recurse data=obj.children %]
        [% END %]
      [% END %]
    </ul>
  [% END %]
  <div>
    <h2>[% LxERP.t8("Shopcategories") %]</h2>
      [% FOREACH row = CATEGORIES %]
        <!-- TODO: Is still hardcoded 'Root' is shopware specified -->
        [% IF row.name == 'Root' %]
          [% IF row.childrenCount >= 1 %]
            [% path = '' %]
            [% INCLUDE recurse data=row.children path=path %]
          [% END %]
        [% END %]
      [% END %]
  </div>
    [% L.button_tag("kivi.ShopPart.save_categories(" _ SELF.shop_part.id _", " _ SELF.shop_part.shop.id _")", LxERP.t8("Save"))  %]</td>
</form>
