<hr>

<div class="listtop">Introduction of Buchungsgruppen</div>

<p>
 Prior to Lx-Office v2.4.0 the user had to chose the accounts for each part and service.
 Lx-Office 2.4.0 introduces two new concepts: tax zones and Buchungsgruppen.
 There are four tax zones.
 A Buchungsgruppe consists of a descriptive name and the account numbers for the income and expense accounts for those four tax zones as well as the inventory account number.
 Now the user must select a single Buchungsgruppe for each part instead of three distinct accounts.
 Therefore there's no need to create the same article more than once if it is sold or bought in/from another tax zone.
</p>

<p>
 This upgrade script tries to map all existing parts in the database to the newly created Buchungsgruppen.
 It is possible to do this automatically for some Buchungsgruppen, but not for all.
 You have to create new Buchungsgruppen for all the combinations of inventory, income and expense accounts that have been used already.
</p>
