[% USE HTML %]<div class="listtop"><translate>Step 1 of 3: Parts</translate></div>

<form name="Form" method="post" action="login.pl">

 <input type="hidden" name="type" value="parts">
 <input type="hidden" name="action" value="login">
 <input type="hidden" name="action2" value="">

 [% IF saved_message %]
  <p>[% saved_message %]</p>
 [% END %]

 <div class="subsubheading"><translate>Existing Buchungsgruppen</translate></div>

 <p>
  <translate>The following Buchungsgruppen have already been created:</translate>
  <br>
  <ul>
   [% FOREACH row = BUCHUNGSGRUPPEN %]
    <li>
     [% HTML.escape(row.description) %]:
     <translate>Inventory</translate>: [% row.inventory_accno %];

     <translate>Income accno</translate>/<translate>Expense accno</translate>
     <translate>National</translate>: [% row.income_accno_0 %]/[% row.expense_accno_0 %];

     <translate>Income accno</translate>/<translate>Expense accno</translate>
     <translate>EU with VAT ID</translate>: [% row.income_accno_1 %]/[% row.expense_accno_1 %];

     <translate>Income accno</translate>/<translate>Expense accno</translate>
     <translate>EU without VAT ID</translate>: [% row.income_accno_2 %]/[% row.expense_accno_2 %];

     <translate>Income accno</translate>/<translate>Expense accno</translate>
     <translate>International</translate>: [% row.income_accno_3 %]/[% row.expense_accno_3 %]
    </li>
   [% END %]
  </ul>
 </p>

 [% FOREACH row = LIST %]
  <div class="subsubheading"><translate>New Buchungsgruppe [% loop.count %]</translate></div>

  <table>
   <tr>
    <td><translate>Description</translate>:</td>
    <td><input name="description_[% loop.count %]"></td>
   </tr>

   [% IF row.eur %]
    <input type="hidden" name="inventory_accno_id_[% loop.count %]" value="[% std_inventory_accno_id %]">
    [% ELSE %]
    <tr>
     <td><translate>Inventory</translate>:</td>
     <td>
      <input type="hidden" name="inventory_accno_id_[% loop.count %]" value="[% HTML.escape(row.inventory_accno_id) %]">
      [% HTML.escape(row.inventory_accno) %]--[% HTML.escape(row.inventory_description) %]
     </td>
    </tr>
   [% END %]

   <tr>
    <td><translate>Income accno</translate> <translate>National</translate>:</td>
    <td>
     <input type="hidden" name="income_accno_id_0_[% loop.count %]" value="[% HTML.escape(row.income_accno_id) %]">
     [% HTML.escape(row.income_accno) %]--[% HTML.escape(row.income_description) %]
    </td>
   </tr>

   <tr>
    <td><translate>Expense accno</translate> <translate>National</translate>:</td>
    <td>
     <input type="hidden" name="expense_accno_id_0_[% loop.count %]" value="[% HTML.escape(row.expense_accno_id) %]">
     [% HTML.escape(row.expense_accno) %]--[% HTML.escape(row.expense_description) %]
    </td>
   </tr>

   <tr>
    <td><translate>Income accno</translate> <translate>EU with VAT ID</translate>:</td>
    <td>
     <select name="income_accno_id_1_[% loop.count %]">
      [% FOREACH acc_row = ACC_INCOME %]<option value="[% acc_row.id %]" [% acc_row.selected %]>[% HTML.escape(acc_row.accno) %]--[% HTML.escape(acc_row.description) %]</option>[% END %]
     </select>
    </td>
   </tr>

   <tr>
    <td><translate>Expense accno</translate> <translate>EU with VAT ID</translate>:</td>
    <td>
     <select name="expense_accno_id_1_[% loop.count %]">
      [% FOREACH acc_row = ACC_EXPENSE %]<option value="[% acc_row.id %]" [% acc_row.selected %]>[% HTML.escape(acc_row.accno) %]--[% HTML.escape(acc_row.description) %]</option>[% END %]
     </select>
    </td>
   </tr>

   <tr>
    <td><translate>Income accno</translate> <translate>EU without VAT ID</translate>:</td>
    <td>
     <select name="income_accno_id_2_[% loop.count %]">
      [% FOREACH acc_row = ACC_INCOME %]<option value="[% acc_row.id %]" [% acc_row.selected %]>[% HTML.escape(acc_row.accno) %]--[% HTML.escape(acc_row.description) %]</option>[% END %]
     </select>
    </td>
   </tr>

   <tr>
    <td><translate>Expense accno</translate> <translate>EU without VAT ID</translate>:</td>
    <td>
     <select name="expense_accno_id_2_[% loop.count %]">
      [% FOREACH acc_row = ACC_EXPENSE %]<option value="[% acc_row.id %]" [% acc_row.selected %]>[% HTML.escape(acc_row.accno) %]--[% HTML.escape(acc_row.description) %]</option>[% END %]
     </select>
    </td>
   </tr>

   <tr>
    <td><translate>Income accno</translate> <translate>International</translate>:</td>
    <td>
     <select name="income_accno_id_3_[% loop.count %]">
      [% FOREACH acc_row = ACC_INCOME %]<option value="[% acc_row.id %]" [% acc_row.selected %]>[% HTML.escape(acc_row.accno) %]--[% HTML.escape(acc_row.description) %]</option>[% END %]
     </select>
    </td>
   </tr>

   <tr>
    <td><translate>Expense accno</translate> <translate>International</translate>:</td>
    <td>
     <select name="expense_accno_id_3_[% loop.count %]">
      [% FOREACH acc_row = ACC_EXPENSE %]<option value="[% acc_row.id %]" [% acc_row.selected %]>[% HTML.escape(acc_row.accno) %]--[% HTML.escape(acc_row.description) %]</option>[% END %]
     </select>
    </td>
   </tr>
  </table>

  [% IF loop.last %]
   <input type="hidden" name="rowcount" value="[% loop.count %]">
  [% END %]

  <hr>
 [% END %]

 <input type="submit" onclick="document.Form.action2.value = 'create_buchungsgruppen'; document.Form.submit();" name="dummy" value="<translate>Create Buchungsgruppen</translate>">

</form>

