[%- USE T8 %]
[% USE HTML %]<div class="listtop">[% 'Select the chart of accounts in use' | $T8 %]</div>

<form name="Form" method="post" action="login.pl">

 <input type="hidden" name="action" value="login">
 <input type="hidden" name="action2" value="">

 [% IF saved_message %]
  <p>[% saved_message %]</p>
 [% END %]

 <p>
  [% 'Please select the chart of accounts this installation is using from the list below.' | $T8 %]
 </p>

 <p>
  [% 'Chart of accounts' | $T8 %]:
  <select name="coa">[% FOREACH row = COAS %]<option>[% row.name %]</option>[% END %]</select>
 </p>

 <input type="submit" onclick="document.Form.action2.value = 'set_coa'; document.Form.submit();" name="dummy" value="[% 'Continue' | $T8 %]">

</form>

