[% USE HTML %]<div class="listtop">Benutzten Kontenrahmen ausw&auml;hlen</div>

<form name="Form" method="post" action="login.pl">

 <input type="hidden" name="login" value="[% HTML.escape(login) %]">
 <input type="hidden" name="hashed_password" value="[% HTML.escape(password) %]">
 <input type="hidden" name="action" value="login">
 <input type="hidden" name="action2" value="">

 [% IF saved_message %]
  <p>[% saved_message %]</p>
 [% END %]

 <p>
  Bitte w&auml;hlen Sie den Kontenrahmen aus, der bei dieser Installation verwendet wird.
 </p>

 <p>
  Kontenrahmen:
  <select name="coa">[% FOREACH row = COAS %]<option>[% row.name %]</option>[% END %]</select>
 </p>

 <input type="submit" onclick="document.Form.action2.value = 'set_coa'; document.Form.submit();" name="dummy" value="Weiter">

</form>

