[%- USE T8 %]
[%- USE HTML %]
[%- USE LxERP %]

<div class="listtop">[% '<b>Default Bins Migration !READ CAREFULLY!</b>' | $T8 %]</div>
<form name="Form" method="post" action="login.pl">
<input type="hidden" name="action" value="login">
<input type="hidden" name="continued" value="1">

<p>[% 'There are Bins defined in your master data.' | $T8 %]</p>
<p>[% 'The Bins in master data were only a information text field.' | $T8 %]</p>
<p>[% 'This has been changed in this version.' | $T8 %]</p>
<p>[% 'Unfortunately you have no warehouse defined.' | $T8 %]</p>

<p>[% 'Three Options:' | $T8 %]</p>
<p>[% '<b> I DO NOT CARE</b> Please click continue and the following data (see list) will be deleted:' | $T8 %]</p>
<p>[% '<b> I DO CARE!</b> Please click back and cancel the update and come back after there has been at least one warehouse defined with bin(s).:' | $T8 %]</p>
<p>[% '<b> I DO CARE!</b> Please check create warehouse and bins and define a name for the warehouse (Bins will be created automatically) and then continue'  | $T8 %]</p>

<table>
  <tr>
    <th class="listheading">[% 'Partnumber' | $T8 %]</th>
    <th class="listheading">[% 'Description' | $T8 %]</th>
    <th class="listheading">[% 'Master Data Bin Text Deleted' | $T8 %]</th>
  </tr>

  [% SET row_odd = '1' %][% FOREACH row = PARTS %]
  <tr class="listrow[% IF row_odd %]1[% SET row_odd = '0' %][% ELSE %]0[% SET row_odd = '1' %][% END %]">
   <td align="left"> [% HTML.escape(row.partnumber) %]</a></td>
    <td align="left"> [% HTML.escape(row.description) %]</a></td>
    <td align="right">[% HTML.escape(row.bin) %]
    <input type="hidden" name='partid_[% loop.count %]' value='[% HTML.escape(row.id) %]'>
    <input type="hidden" id="bin_[% loop.count %]" name="bin_[% loop.count %]" value="[% HTML.escape(row.bin) %]">
   </tr>
  [% SET rowcount = loop.count %]
  [% END %]
  <input type="hidden" name="rowcount" value="[% rowcount %]">
<tr><td colspan="5"><hr/></td></tr>
<tr><td colspan="5"><input type="checkbox" name="create_new_bins"> [% '<b>Automatically create new bins</b> in the following new warehouse ' | $T8 %] <input type="text" name="new_warehouse"></td></tr>
<tr><td colspan="5"><hr/></td></tr>
<tr><td><input type="button" class="submit" onclick="history.back()" value="[% 'Back' | $T8 %]"> </td><td colspan="3" align="center"><td><input style="background-color:#FA1400" type="submit" value="[% 'Continue' | $T8 %]"></td></tr>
</table>
</form>
