[% USE HTML %]<div class="listtop">Unbekannter Kontenrahmen</div>

<form name="Form" method="post" action="login.pl">

 <input type="hidden" name="action" value="login">
 <input type="hidden" name="action2" value="">

 [% IF saved_message %]
  <p>[% saved_message %]</p>
 [% END %]

 <p>
  Hinweis:
  Diese Installation benutzt einen unbekannten Kontenrahmen (&quot;[% HTML.escape(coa) %]&quot;). Dieses Datenbankupgrade kann die Standardbuchungsgruppen nicht automatisch anlegen.
 </p>

 <hr>

</form>

