[% USE HTML %]<div class="listtop"><translate>Unknown chart of accounts</translate></div>

<form name="Form" method="post" action="login.pl">

 <input type="hidden" name="action" value="login">
 <input type="hidden" name="action2" value="">

 [% IF saved_message %]
  <p>[% saved_message %]</p>
 [% END %]

 <p>
  <translate>Note</translate>:
  <translate>This installation uses an unknown chart of accounts
   (&quot;[% HTML.escape(coa) %]&quot;). This database upgrade
   cannot create standard buchungsgruppen automatically.</translate>
 </p>

 <hr>

</form>

