[%- USE T8 %]
[% USE HTML %]
<h1>[% 'taxkey 0 is already allocated.' | $T8 %]</h1>

<form name="Form" method="post" action="login.pl">
<input type="hidden" name="action" value="login">

<p>[% 'There is already a taxkey 0 with tax rate not 0.' | $T8 %]</p>
<p>[% 'From this version on the taxkey 0 must have a tax rate of 0 (for DATEV compatibility).' | $T8 %]</p>
<p>[% 'To continue please change the taxkey 0 to another value.' | $T8 %]</p>
<p>[% 'Do not change the tax rate of taxkey 0.' | $T8 %]</p>
<p>[% 'During the next update a taxkey 0 with tax rate of 0 will automatically created.' | $T8 %]</p>
<p>[% 'Please contact your administrator.' | $T8 %]</p>

</form>

