<div class="listtop"><translate>Step 3 of 3: Default units</translate></div>

<form name="Form" method="post" action="login.pl">

 <input type="hidden" name="login" value="<TMPL_VAR login ESCAPE=HTML>">
 <input type="hidden" name="hashed_password" value="<TMPL_VAR password ESCAPE=HTML>">
 <input type="hidden" name="unit_type" value="dimension">
 <input type="hidden" name="action" value="login">
 <input type="hidden" name="action2" value="">

 <p>
  <translate>There are still entries in the database for which no unit
   has been assigned.</translate>
  <translate>You have to chose a dimension unit and a service unit
   which will then be assigned to those entries.</translate>
 </p>

 <table>
  <tr>
   <td><translate>Dimension unit</translate>:</td>
   <td>
    <select name="default_dimension_unit">
     <TMPL_LOOP DIMENSION_DDBOX><option><TMPL_VAR name ESCAPE=HTML></option></TMPL_LOOP>
    </select>
   </td>
  </tr>
  <tr>

   <td><translate>Service unit</translate>:</td>
   <td>
    <select name="default_service_unit">
     <TMPL_LOOP SERVICE_DDBOX><option><TMPL_VAR name ESCAPE=HTML></option></TMPL_LOOP>
    </select>
   </td>
  </tr>
 </table>

 <p><input type="submit" onclick="document.Form.action2.value = 'set_default'; document.Form.submit();" name="dummy" value="<translate>Assign units</translate>"></p>

</form>
