<hr>

<div class="listtop">Introduction of units</div>

<p>
 Prior to Lx-Office v2.4.0 the user could enter arbitrary strings as units for parts, services and in invoices, sales quotations etc.
 In Lx-Office 2.4.0 the administrator has to enter a list of units in the administrative section.
 These units can be based on other units so that Lx-Office can convert prices when the user switches from one unit to another.
</p>

<p>
 This upgrade script tries to map all existing units in the database to the newly created units.
 It is possible to do this automatically for some units, but for others the user has to chose the new unit.
 You cannot continue until all unknown units have been mapped to known ones.
 You can also create new units now.
</p>
