<div class="listtop"><translate>Introduction of units</translate></div>

<p>
 <translate>Prior to Lx-Office v2.4.0 the user could enter arbitrary
  strings as units for parts, services and in invoices, sales quotations
  etc.</translate>
 <translate>In Lx-Office 2.4.0 the administrator has to enter a list
  of units in the administrative section.</translate>
 <translate>These units can be based on other units so that Lx-Office
  can convert prices when the user switches from one unit to
  another.</translate>
</p>

<p>
 <translate>This upgrade script tries to map all existing units in the
  database to the newly created units.</translate>
 <translate>It is possible to do this automatically for some units,
  but for others the user has to chose the new unit.</translate>
 <translate>You cannot continue until all unknown units have been
  mapped to known ones.</translate>
 <translate>You can also create new units now.</translate>
</p>
