[%- USE T8 %]
[%- USE HTML %]
[%- USE LxERP %]
<form name="Form" method="post" action="controller.pl">

 <input type="hidden" name="action" value="LoginScreen/login">
 <p><input type="button" class="submit" onclick="history.back()" value="[% 'Back' | $T8 %]"></p>
 <p class="message_hint">
  [% LxERP.t8('kivitendo is about to update the database [ #1 ].', dbname) | html %]
 </p>
 <p>
  [% 'You should create a backup of the database before proceeding because the backup might not be reversible.' | $T8 %]
 </p>

 <input type="submit" name="dummy" value="[% 'Continue' | $T8 %]">
</form>
