 <input type="hidden" name="rowcount" value="<TMPL_VAR row_idx ESCAPE=HTML>">

 <TMPL_VAR PRINT_OPTIONS>

 <input type="hidden" name="todate" value="<TMPL_VAR todate ESCAPE=HTML>">
 <input type="hidden" name="title" value="<TMPL_VAR title ESCAPE=HTML>">
 <input type="hidden" name="arap" value="<TMPL_VAR arap ESCAPE=HTML>">
 <input type="hidden" name="ct" value="<TMPL_VAR ct ESCAPE=HTML>">
 <input type="hidden" name="customer" value="<TMPL_VAR customer ESCAPE=HTML>">
 <input type="hidden" name="vendor" value="<TMPL_VAR vendor ESCAPE=HTML>">
 <input type="hidden" name="department" value="<TMPL_VAR department ESCAPE=HTML>">

 <input type="hidden" name="login" value="<TMPL_VAR login ESCAPE=HTML>">
 <input type="hidden" name="password" value="<TMPL_VAR password ESCAPE=HTML>">

 <translate>Statement</translate>
 <br>
 <input class="submit" type="submit" name="action" value="<translate>Select all</translate>">
 <input class="submit" type="submit" name="action" value="<translate>Print</translate>">
 <input class="submit" type="submit" name="action" value="<translate>E-mail</translate>">

</form>
