[%- USE HTML %]
[%- USE L %]
[%- USE LxERP %]
[%- USE T8 %]

<h1>[% 'E-mail Statement to' | $T8 %] [% $ct %]</h1>

<form method=post action='[% script %]'>

<table>
  <tr>
    <th align=right nowrap>[% 'E-mail' | $T8 %]</th>
    <td><input name=email size=30 value="[% email %]"></td>
    <th align=right nowrap>[% 'Cc' | $T8 %]</th>
    <td><input name=cc size=30 value="[% cc %]"></td>
  </tr>
  <tr>
    <th align=right nowrap>[% 'Subject' | $T8 %]</th>
    <td><input name=subject size=30 value="[% subject %]"></td>
[% IF show_bcc %]
    <th align=right nowrap=true>[% 'Bcc' | $T8 %]</th>
    <td><input name=bcc size=30 value="[% bcc | $T8 %]"></td>
[%- END %]
  </tr>
</table>
<table width=100%>
  <tr>
    <th align=left nowrap>[% 'Message' | $T8 %]</th>
  </tr>
  <tr>
    <td><textarea name=message rows=15 cols=60 wrap=soft>[% message %]</textarea></td>
  </tr>
</table>
[% print_options %]
<hr size=3 noshade>

<input type=hidden name=nextsub value=send_email>
[%- FOREACH var = hidden_values %]
[% L.hidden_tag(var, $var) %]
[%- END %]

<br>
<input name=action class=submit type=submit value="[% 'Continue' | $T8 %]">
</form>

