[%- USE T8 %]
[%- USE HTML %]
[%- USE LxERP %]

<h2 align="center">
  <br>[% company %]
  <br>[% address %]
  <p>[% 'ERFOLGSRECHNUNG' %]
  <br>[% fromdate %] bis [% todate %]
</h2>
<table border="0">
  <tr>
    <th align="left" width="400" colspan="2"><br></th>
  </tr>
  [%- FOREACH category = categories %]
    <tr valign="top">
      <th align="left" colspan="4">[% category.name %]<b><hr align="left" width="250" size="5" noshade></th>
    </tr>
    [%- FOREACH row = category.accounts %]
      [% IF row.total != '0.00' %]
      <tr>
        <td align="left">[% row.accno %]</td>
        <td align="left">[% row.description %]</td>
        <td align="right">[% row.total %]</td>
      </tr>
      [% END %]
    [%- END %]
    <tr>
      <td colspan="2"> </td>
      <td><hr noshade size="1"></td>
      <td><hr noshade size="1"></td>
    </tr>
    <tr valign="top">
      <th align="left" colspan="2">TOTAL</th>
      <td align="right">[% category.total %]<hr noshade size="2"></td>
    </tr>
  [%- END %]
  <tr valign="top">
    <th align="left" colspan="2">GEWINN/VERLUST</th>
    <td align="right">[% total %]<br><hr noshade size="2"></td>
  </tr>
</table>
