[%- USE T8 %]
[%- USE HTML %]
<h1>[% 'Summen- und Saldenliste' | $T8 %] [% template_fromto %]</h1>

 <script type="text/javascript">
  <!--
      function submit_report_generator_form(nextsub) {
        document.report_generator_form.report_generator_dispatch_to.value = nextsub;
        document.report_generator_form.submit();
      }

    -->
 </script>

 <style type="text/css">
  <!--
.top_border {
  border-top: solid black;
  border-width: 4px;
}
.bottom_border {
  border-bottom: solid black;
  border-width: 4px;
}
    -->
 </style>

 [% IF MESSAGE %]
  <p>[% MESSAGE %]</p>
 [% END %]

 [% IF TOP_INFO_TEXT %]
  <p>[% TOP_INFO_TEXT %]</p>
 [% END %]

 [% RAW_TOP_INFO_TEXT %]

 [% IF DATA_PRESENT %]
 <p>
  <table width="100%">
   <tr>
     <th class="listheading" rowspan=2>[% 'Account' | $T8 %]</th>
     <th class="listheading" rowspan=2>[% 'Description' | $T8 %]</th>
     <th class="listheading" rowspan=2>[% 'Last Transaction' | $T8 %]</th>
     <th class="listheading" colspan=2>[% 'Starting Balance' | $T8 %]</th>
     <th class="listheading" colspan=2>[% 'Sum for' | $T8 %] [% template_fromto %]</th>
     <th class="listheading" colspan=2>[% 'Sum per' | $T8 %] [% template_to %]</th>
     <th class="listheading" colspan=2>[% 'Saldo per' | $T8 %] [% template_to %]</th>
   </tr>
   <tr>
    <th class="listheading">[% 'Assets' | $T8 %]</th>
    <th class="listheading">[% 'Equity' | $T8 %]</th>
    <th class="listheading">[% 'Debit' | $T8 %]</th>
    <th class="listheading">[% 'Credit' | $T8 %]</th>
    <th class="listheading">[% 'Debit' | $T8 %]</th>
    <th class="listheading">[% 'Credit' | $T8 %]</th>
    <th class="listheading">[% 'Debit' | $T8 %]</th>
    <th class="listheading">[% 'Credit' | $T8 %]</th>
   </tr>
   [% FOREACH row = ROWS %]
    [% IF row.IS_CONTROL %]
     [% IF row.IS_COLSPAN_DATA %]<tr><td colspan="[% row.NUM_COLUMNS %]">[% row.data %]</td></tr>[% END %]
     [% ELSE %]
     <tr class="listrow[% row.outer_idx_odd %]">
      [%- FOREACH col = row.COLUMNS %]
      <td[% IF col.align %] align="[% col.align %]"[% END %]
         [%- IF col.valign %] valign="[% col.valign %]"[%- END %]
         [%- SET tdclass = '' %]
         [%- IF row.BORDER_TOP %][%- SET tdclass = "$tdclass top_border" %][%- END %]
         [%- IF row.BORDER_BOTTOM %][%- SET tdclass = "$tdclass bottom_border" %][%- END %]
         [%- IF col.class %][%- SET tdclass = "$tdclass $col.class" %][%- END %]
         [%- IF tdclass %] class="[% tdclass %]"[%- END %]>
       [%- IF col.raw_data %][%- col.raw_data %][%- END %]
       [%- USE iterator(col.CELL_ROWS) %][%- FOREACH cell_row = iterator %]
        [%- IF cell_row.data != '' %]
         [%- IF cell_row.link %]<a href="[% cell_row.link %]">[%- END %]
         [%- cell_row.data %]
         [%- IF cell_row.link %]</a>[%- END %]
        [%- END %]
       [%- UNLESS iterator.last %]<br>[%- END %]
       [%- END %]
      </td>
      [%- END %]
     </tr>
    [% END %]
   [% END %]
  </table>
 </p>
 [% ELSE %]
  <p class="message_hint">[% 'No data was found.' | $T8 %]</p>
 [% END %]

 [% RAW_BOTTOM_INFO_TEXT %]

 [% IF BOTTOM_INFO_TEXT %]
  <p>[% BOTTOM_INFO_TEXT %]</p>
 [% END %]

 [% IF SHOW_EXPORT_BUTTONS %]
  <form action="[% HTML.escape(script) %]" name="report_generator_form" id="report_generator_form" method="post">
   [% FOREACH var = EXPORT_VARIABLES %]<input type="hidden" name="report_generator_hidden_[% var.key %]" value="[% HTML.escape(var.value) %]">
   [% END %]

   <input type="hidden" name="report_generator_nextsub" value="[% HTML.escape(EXPORT_NEXTSUB) %]">
   <input type="hidden" name="report_generator_variable_list" value="[% HTML.escape(EXPORT_VARIABLE_LIST) %]">
   <input type="hidden" name="report_generator_dispatch_to" value="">
   <input type="hidden" name="action" value="report_generator_dispatcher">
  </form>
 [% END %]
