[% USE HTML %]<body>

 <script type="text/javascript">
  <!--
      function submit_report_generator_form(nextsub) {
        document.report_generator_form.report_generator_dispatch_to.value = nextsub;
        document.report_generator_form.submit();
      }

    -->
 </script>

 <div class="listheading" width="100%">[% HTML.escape(title) %]</div>

 <form action="[% HTML.escape(script) %]" method="post" name="report_generator_form">

  [%- FOREACH var = HIDDEN %]
  <input type="hidden" name="[% HTML.escape(var.key) %]" value="[% HTML.escape(var.value) %]">
  [%- END %]

  <input type="hidden" name="report_generator_csv_options_set" value="1">
  <input type="hidden" name="report_generator_dispatch_to" value="">
  <input type="hidden" name="action" value="report_generator_dispatcher">

  <table>
   <tr>
    <td align="right">Anf&uuml;hrungszeichen</td>
    <td>
     <select name="report_generator_csv_options_quote_char" style="width: 300px">
      <option value="&quot;" selected>&quot;</option>
      <option value="'">'</option>
     </select>
    </td>
   </tr>

   <tr>
    <td align="right">Escape-Zeichen</td>
    <td>
     <select name="report_generator_csv_options_escape_char" style="width: 300px">
      <option value="QUOTE_CHAR" selected>Wie Anf&uuml;hrungszeichen</option>
      <option value="&quot;">&quot;</option>
      <option value="'">'</option>
     </select>
    </td>
   </tr>

   <tr>
    <td align="right">Feldtrennzeichen</td>
    <td>
     <select name="report_generator_csv_options_sep_char" style="width: 300px">
      <option value=";" selected>;</option>
      <option value=",">,</option>
      <option value=":">:</option>
      <option value="TAB">TAB (Das Tabulator-Symbol)</option>
     </select>
    </td>
   </tr>

   <tr>
    <td align="right">Zeilenumbr&uuml;che</td>
    <td>
     <select name="report_generator_csv_options_eol_style" style="width: 300px">
      <option value="DOS">DOS/Windows (CR/LF)</option>
      <option value="Unix" selected>Unix (LF)</option>
     </select>
    </td>
   </tr>

   <tr>
    <td align="right" valign="top">Optionen:</td>
    <td valign="top">
     <input type="checkbox" name="report_generator_csv_options_headers" value="1" checked>
     Spalten&uuml;berschriften erzeugen
    </td>
   </tr>

  </table>

  <p>
   <button type="button" class="submit" onclick="submit_report_generator_form('report_generator_export_as_csv')">Als CSV exportieren</button>
   <button type="button" class="submit" onclick="submit_report_generator_form('report_generator_back')">Zurück</button>
  </p>

 </form>
</body>
</html>
