<body>

 <script type="text/javascript">
  <!--
      function submit_report_generator_form(nextsub) {
        document.report_generator_form.report_generator_dispatch_to.value = nextsub;
        document.report_generator_form.submit();
      }

    -->
 </script>

 <TMPL_IF MESSAGE>
  <p><TMPL_VAR MESSAGE></p>
 </TMPL_IF>

 <div class="listtop" width="100%"><TMPL_VAR TITLE></div>

 <TMPL_IF TOP_INFO_TEXT>
  <p><TMPL_VAR TOP_INFO_TEXT></p>
 </TMPL_IF>

 <TMPL_VAR RAW_TOP_INFO_TEXT>

 <p>
  <table width="100%">
   <tr>
    <TMPL_LOOP COLUMN_HEADERS>
     <th class="listheading"><TMPL_IF link><a href="<TMPL_VAR link>"></TMPL_IF><TMPL_VAR text ESCAPE=HTML><TMPL_IF link><TMPL_IF show_sort_indicator><img border="0" src="image/<TMPL_IF sort_indicator_direction>down<TMPL_ELSE>up</TMPL_IF>.png"></TMPL_IF></a><TMPL_ELSE><TMPL_IF show_sort_indicator><img src="image/<TMPL_IF sort_indicator_direction>down<TMPL_ELSE>up</TMPL_IF>.png"></TMPL_IF></TMPL_IF></th>
    </TMPL_LOOP>
   </tr>

   <TMPL_LOOP ROWS>
    <TMPL_IF IS_CONTROL>
     <TMPL_IF IS_SEPARATOR><tr><td colspan="<TMPL_VAR NUM_COLUMNS>"><hr size="3" noshade></td></tr></TMPL_IF>
     <TMPL_ELSE>
     <tr class="listrow<TMPL_VAR outer_idx_odd>">
      <TMPL_LOOP COLUMNS><td<TMPL_IF align> align="<TMPL_VAR align>"</TMPL_IF><TMPL_IF valign> valign="<TMPL_VAR valign>"</TMPL_IF><TMPL_IF class> class="<TMPL_VAR class>"</TMPL_IF>><TMPL_IF raw_data><TMPL_VAR raw_data></TMPL_IF><TMPL_IF data><TMPL_IF link><a href="<TMPL_VAR link>"></TMPL_IF><TMPL_VAR data><TMPL_IF link></a></TMPL_IF></TMPL_IF></td>
      </TMPL_LOOP>
     </tr>
    </TMPL_IF>
   </TMPL_LOOP>

   <tr><td colspan="<TMPL_VAR NUM_COLUMNS>"><hr size="3" noshade></td></tr>

  </table>
 </p>

 <TMPL_VAR RAW_BOTTOM_INFO_TEXT>

 <TMPL_IF BOTTOM_INFO_TEXT>
  <p><TMPL_VAR BOTTOM_INFO_TEXT></p>
 </TMPL_IF>

 <TMPL_IF SHOW_EXPORT_BUTTONS>
  <form action="<TMPL_VAR script ESCAPE=HTML>" name="report_generator_form" method="post">
   <input type="hidden" name="login" value="<TMPL_VAR login ESCAPE=HTML>">
   <input type="hidden" name="password" value="<TMPL_VAR password ESCAPE=HTML>">

   <TMPL_LOOP EXPORT_VARIABLES><input type="hidden" name="report_generator_hidden_<TMPL_VAR key ESCAPE=HTML>" value="<TMPL_VAR value ESCAPE=HTML>">
   </TMPL_LOOP>

   <input type="hidden" name="report_generator_nextsub" value="<TMPL_VAR EXPORT_NEXTSUB ESCAPE=HTML>">
   <input type="hidden" name="report_generator_variable_list" value="<TMPL_VAR EXPORT_VARIABLE_LIST ESCAPE=HTML>">
   <input type="hidden" name="report_generator_dispatch_to" value="">
   <input type="hidden" name="action" value="report_generator_dispatcher">

   <p>
    <translate>List export</translate><br>
    <TMPL_IF ALLOW_PDF_EXPORT><button type="button" class="submit" onclick="submit_report_generator_form('report_generator_export_as_pdf')"><translate>Export as PDF</translate></button></TMPL_IF>
    <TMPL_IF ALLOW_CSV_EXPORT><button type="button" class="submit" onclick="submit_report_generator_form('report_generator_export_as_csv')"><translate>Export as CSV</translate></button></TMPL_IF>
   </p>
  </form>
 </TMPL_IF>

</body>
