[%- USE T8 %]
[%- USE HTML %][%- USE LxERP %]

 [%- SET default_ymargin = LxERP.format_amount(1.5) %]
 [%- SET default_xmargin = LxERP.format_amount(0.8) %]

 <h1>[% HTML.escape(title) %]</h1>

 <form action="[% HTML.escape(script) %]" method="post" name="report_generator_form">

  [%- FOREACH var = HIDDEN %]
  <input type="hidden" name="[% HTML.escape(var.key) %]" value="[% HTML.escape(var.value) %]">
  [%- END %]

  <input type="hidden" name="report_generator_pdf_options_set" value="1">
  <input type="hidden" name="report_generator_dispatch_to" value="">

  <table>
   <tr>
    <td align="right">[% 'Orientation' | $T8 %]</td>
    <td>
     <select name="report_generator_pdf_options_paper_size">
      <option value="A3">A3</option>
      <option value="A4" selected>A4</option>
      <option value="A5">A5</option>
      <option value="letter">Letter</option>
      <option value="legal">Legal</option>
     </select>
     <select name="report_generator_pdf_options_orientation">
      <option value="portrait">[% 'Portrait' | $T8 %]</option>
      <option value="landscape" selected>[% 'Landscape' | $T8 %]</option>
     </select>
    </td>
   </tr>

   [%- IF ALLOW_FONT_SELECTION %]
   <tr>
    <td align="right">[% 'Font' | $T8 %]</td>
    <td>
     <select name="report_generator_pdf_options_font_name">
      <option>Courier</option>
      <option>Georgia</option>
      <option>Helvetica</option>
      <option>Times</option>
      <option selected>Verdana</option>
     </select>
    </td>
   </tr>
   [%- END %]

   <tr>
    <td align="right">[% 'Font size' | $T8 %]</td>
    <td>
     <select name="report_generator_pdf_options_font_size">
      <option>6</option>
      <option selected>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
      <option>13</option>
      <option>14</option>
      <option>15</option>
     </select>
     &nbsp;
     pt
    </td>
   </tr>

   <tr>
    <td align="right">[% 'Margins' | $T8 %]:</td>
   </tr>

   <tr>
    <td align="right">[% 'Top' | $T8 %]</td>
    <td><input name="report_generator_pdf_options_margin_top" size="4" value="[% HTML.escape(default_ymargin) %]"> cm</td>
   </tr>

   <tr>
    <td align="right">[% 'Left' | $T8 %]</td>
    <td><input name="report_generator_pdf_options_margin_left" size="4" value="[% HTML.escape(default_xmargin) %]"> cm</td>
   </tr>

   <tr>
    <td align="right">[% 'Bottom' | $T8 %]</td>
    <td><input name="report_generator_pdf_options_margin_bottom" size="4" value="[% HTML.escape(default_ymargin) %]"> cm</td>
   </tr>

   <tr>
    <td align="right">[% 'Right' | $T8 %]</td>
    <td><input name="report_generator_pdf_options_margin_right" size="4" value="[% HTML.escape(default_xmargin) %]"> cm</td>
   </tr>

   <tr>
    <td align="right" valign="top">[% 'Options' | $T8 %]:</td>
    <td valign="top">
     <input type="checkbox" name="report_generator_pdf_options_number" id="report_generator_pdf_options_number" value="1" checked>
     <label for="report_generator_pdf_options_number">[% 'Number pages' | $T8 %]</label>
     [% IF ALL_PRINTERS.size %]
      <br>
      <input type="checkbox" name="report_generator_pdf_options_print" id="report_generator_pdf_options_print" value="1">
      <label for="report_generator_pdf_options_print">[% 'Print list' | $T8 %]</label>
     [% END %]
    </td>
   </tr>

   [% IF ALL_PRINTERS.size %]
    <tr>
     <td align="right">[% 'Printer' | $T8 %]</td>
     <td>
      <select name="report_generator_pdf_options_printer_id">
       [%- FOREACH printer = ALL_PRINTERS %]
       <option value="[% HTML.escape(printer.id) %]"[% IF printer.selected %] selected[% END %]>[% HTML.escape(printer.printer_description) %]</option>
       [%- END %]
      </select>
     </td>
    </tr>

    <tr>
     <td align="right">[% 'Copies' | $T8 %]</td>
     <td><input name="report_generator_pdf_options_copies" size="4" value="[% HTML.escape(copies) %]"></td>
    </tr>
   [% END %]
  </table>

[%- IF CONTROLLER_DISPATCH %]
   <p>
    <input type="hidden" name="action" value="[% CONTROLLER_DISPATCH | html %]/dispatch">
    <input type="submit" name="action_report_generator_export_as_pdf" value="[% 'Export as PDF' | $T8 %]">
    <input type="submit" name="action_report_generator_back" value="[% 'Back' | $T8 %]">
    <input type="hidden" name="CONTROLLER_DISPATCH" value="[% CONTROLLER_DISPATCH | html %]">
   </p>
[%- ELSE %]
  <p>
   <input type="hidden" name="action" value="report_generator_dispatcher">
   <input type="submit" class="submit" onclick="submit_report_generator_form('report_generator_export_as_pdf')" value="[% 'Export as PDF' | $T8 %]">
   <input type="submit" class="submit" onclick="submit_report_generator_form('report_generator_back')" value="[% 'Back' | $T8 %]">
  </p>
 <script type="text/javascript"><!--
      function submit_report_generator_form(nextsub) {
        document.report_generator_form.report_generator_dispatch_to.value = nextsub;
        document.report_generator_form.submit();
      } // -->
 </script>
[%- END %]

 </form>
