[% USE T8 %]
[% USE L %]
[% USE LxERP %]
[% USE HTML %]
<form method="post" action="controller.pl" name="shop_orders" id="shoporders">

<div class="wrapper">

<table id='filter_table' class="tbl-horizontal">
  <tr>
    <th>[% 'Shop' | $T8 %]</th>
    <td>[% L.select_tag('filter.shop_id:eq_ignore_empty', SELF.shops, value_key = 'value', title_key = 'title', default=0, class='wi-normal') %]</td>
  </tr>
  <tr>
    <th>[% 'Status' | $T8 %]</th>
    <td>[% L.select_tag('filter.transferred:eq_ignore_empty', SELF.transferred, value_key = 'value', title_key = 'title', default=0, class='wi-normal') %]</td>
  </tr>
  <tr>
    <th>[% 'from' | $T8 %]</th>
    <td>[% L.date_tag('filter.order_date:date::ge', FORM.filter.order_date_date__ge, class='wi-date') %]</td>
  </tr>
  <tr>
    <th>[% 'to' | $T8 %]</th>
    <td>[% L.date_tag('filter.order_date:date::le', FORM.filter.order_date_date__le, class='wi-date') %]</td>
  </tr>
  <tr>
    <th>[% 'Obsolete' | $T8 %]</th>
    <td>[% L.yes_no_tag('filter.obsolete', FORM.filter.obsolete, default='0', with_empty=1, empty_title='---', class='wi-small') %]</td>
  </tr>
</table>


<div class="buttons">
  <a href='#' onClick='javascript:$("#filter_table input").val("");$("#filter_table input[type=checkbox]").prop("checked", 0);' class="button neutral">[% 'Reset' | $T8 %]</a>
</div>

</div><!-- /.wrapper -->
