[% USE T8 %]
[% USE HTML %]
[% USE L %]
[% USE P %]

[% SET var_name = HTML.escape(name_prefix) _ "cvar_" _ HTML.escape(var.name) _ HTML.escape(name_postfix) %]

[% IF (hide_non_editable && !var.flag_editable) || var.partsgroup_filtered %]
  <input type="hidden" name="[% var_name %]" value="[% HTML.escape(var.value) %]">

[% ELSIF !var.valid %]
  [% IF show_disabled_message %]
    <i>[% 'Element disabled' | $T8 %]</i>
  [% END %]

[% ELSIF var.type == 'bool' %]
  <input type="checkbox" name="[% var_name %]" value="1"[% IF var.value %] checked[% END %]>

[% ELSIF var.type == 'textfield' %]
  <textarea name="[% var_name %]" cols="[% HTML.escape(var.width) %]" rows="[% HTML.escape(var.height) %]">[% HTML.escape(var.value) %]</textarea>

[% ELSIF var.type == 'date' %]
  [% L.date_tag(var_name, var.value) %]

[% ELSIF var.type == 'timestamp' %]
  <input type="text" name="[% var_name %]" value="[% HTML.escape(var.value) %]">

[% ELSIF var.type == 'customer' %]
  [% P.customer_vendor.picker(var_name, var.value, type='customer') %]

[% ELSIF var.type == 'vendor' %]
  [% P.customer_vendor.picker(var_name, var.value, type='vendor') %]

[% ELSIF var.type == 'part' %]
  [% P.part.picker(var_name, var.value) %]

[% ELSIF var.type == 'select' %]
  <select name="[% var_name %]">
    [% FOREACH option = var.OPTIONS %]
      <option value="[% option.value | html %]"[% IF option.value == var.value %] selected[% END %]>[% HTML.escape(option.value) %]</option>
    [% END %]
  </select>

[% ELSE %]
  <input type="text" name="[% var_name %]" value="[% HTML.escape(var.value) %]"[% IF var.maxlength %] maxlength="[% HTML.escape(var.maxlength) %]"[% END %]>

[% END %]
