[% USE T8 %]
[% USE L %]
[% USE HTML %]

[% FOREACH var = variables %]
  [% IF var.searchable %]
    <tr id='cvar_filter_[% var.name %]'>
     <th>[% HTML.escape(var.description) %]</th>
     <td>

      [% IF var.type == 'bool' %]
      <select name="[% filter_prefix %]cvar_[% HTML.escape(var.name) %]">
       <option value="">---</option>
       <option value="yes">[% 'Yes' | $T8 %]</option>
       <option value="no">[% 'No' | $T8 %]</option>
      </select>

      [% ELSIF var.type == 'date' %]
      [% L.date_tag(filter_prefix _'cvar_'_ HTML.escape(var.name) _'_from') %]

      [% 'to (time)' | $T8 %]
      [% L.date_tag(filter_prefix _'cvar_'_ HTML.escape(var.name) _'_to') %]

      [% ELSIF var.type == 'number' %]
      <select name="[% filter_prefix %]cvar_[% HTML.escape(var.name) %]_qtyop">
       <option selected>==</option>
       <option>=/=</option>
       <option>&gt;</option>
       <option>&gt;=</option>
       <option>&lt;</option>
       <option>&lt;=</option>
      </select>
      <input type="text" name="[% filter_prefix %]cvar_[% HTML.escape(var.name) %]"[% IF var.maxlength %] maxlength="[% HTML.escape(var.maxlength) %]"[% END %]>

      [% ELSIF var.type == 'customer' %]
      <input type="text" name="[% filter_prefix %]cvar_[% var.name | html %]">

      [% ELSIF var.type == 'select' %]
      <select name="[% filter_prefix %]cvar_[% HTML.escape(var.name) %]">
       <option value="" selected>---</option>
       [% FOREACH option = var.OPTIONS %]
       <option>[% HTML.escape(option.value) %]</option>
       [% END %]
      </select>

      [% ELSE %]
      <input type="text" name="[% filter_prefix %]cvar_[% HTML.escape(var.name) %]"[% IF var.maxlength %] maxlength="[% HTML.escape(var.maxlength) %]"[% END %]>

      [% END %]
     </td>
    </tr>
  [% END %]
[% END %]
[% IF hidden_cvar_filters %]
  <tr class="cvar_filter-toggle-wrapper">
    <td></td>
    <td>
      <a href="javascript:void(0);" class="cvar_filter-toggle button"><i>[% 'click here to edit cvars' | $T8 %]</i></a>
    </td>
  </tr>
  <script type='text/javascript'>
    $(function(){
      $('[id^="cvar_filter_"]').hide();
      $('[id^="l_cvartd_"]').hide();

      $('a.cvar_filter-toggle').click(function(){
        $(".cvar_filter-toggle-wrapper").hide();
        $('[id^="cvar_filter"]').show();
        $('[id^="l_cvartd_"]').show();
      });
    });
  </script>
[% END %]
