[%- USE T8 %]
[%- USE HTML %]
[%- USE LxERP %]
[%- USE P %]
[%- USE L %]

[% SET num_compare_ops = [
  [ 'eq', LxERP.t8('is equal to') ],
  [ 'le', LxERP.t8('is lower than or equal') ],
  [ 'ge', LxERP.t8('is greater than or equal') ],
] %]
[% SET date_compare_ops = [
  [ 'eq', LxERP.t8('is equal to') ],
  [ 'gt', LxERP.t8('is after') ],
  [ 'lt', LxERP.t8('is before') ],
] %]

[%- BLOCK condition_input %]
  [%- SWITCH item.type %]
    [%- CASE 'container_and' %][% PROCESS condition_container_and_input %]
    [%- CASE 'container_or' %][% PROCESS condition_container_or_input %]
    [%- CASE 'customer' %][% PROCESS condition_customer_input %]
    [%- CASE 'vendor' %][% PROCESS condition_vendor_input %]
    [%- CASE 'business' %][% PROCESS condition_business_input %]
    [%- CASE 'part' %][% PROCESS condition_part_input %]
    [%- CASE 'partsgroup' %][% PROCESS condition_partsgroup_input %]
    [%- CASE 'pricegroup' %][% PROCESS condition_pricegroup_input %]
    [%- CASE 've' %][% PROCESS condition_ve_input %]
    [%- CASE 'qty' %][% PROCESS condition_qty_input %]
    [%- CASE 'qty_range' %][% PROCESS condition_qty_range_input %]
    [%- CASE 'transdate' %][% PROCESS condition_transdate_input %]
    [%- CASE 'reqdate' %][% PROCESS condition_reqdate_input %]
  [% END %]
[%- END %]

[%- BLOCK condition_container_and_input %]
  <fieldset class='price_rule_container price_rule_element'>
    <legend>[%- PROCESS remove_control %] [% 'And' | $T8 %]:</legend>
    [%- INCLUDE condition_elements items=item.condition %]
    [%- PROCESS add_condition_element_control %]
  </fieldset>
[%- END %]

[%- BLOCK condition_container_or_input %]
  <fieldset class='price_rule_container'>
    <legend>[%- PROCESS remove_control %] [% 'Or' | $T8 %]:</legend>
    [%- INCLUDE condition_elements items=item.condition %]
    [%- PROCESS add_condition_element_control %]
  </fieldset>
[%- END %]

[%- BLOCK condition_elements %]
  [% FOREACH item IN items %]
    [% INCLUDE condition_element %]
  [% END %]
[%- END %]

[%- BLOCK condition_element %]
  <div class='price_rule_element'>
    [% L.hidden_tag(prefix _ '.condition[+].type', item.type) %]
    [% INCLUDE condition_input prefix=prefix _ '.condition[]' %]
  </div>
[%- END %]

[%- BLOCK condition_customer_input %]
  <fieldset>
   <legend>[%- PROCESS remove_control %] [% 'Customer' | $T8 %] [% 'is' | $T8 %]</legend>
     [% FOREACH id = item.id %]
       [% PROCESS condition_customer_value_input %]
     [% END %]
     [% PROCESS add_value %]
  </fieldset>
[%- END %]

[% BLOCK condition_customer_value_input %]
  <div class='price_rule_element'>
    [%- PROCESS remove_control %]
    [% P.customer_vendor.picker(prefix _ '.id[]', id, type='customer') %]
  </div>
[%- END %]

[%- BLOCK condition_vendor_input %]
  <fieldset>
   <legend>[%- PROCESS remove_control %] [% 'Vendor' | $T8 %] [% 'is' | $T8 %]</legend>
     [% FOREACH id = item.id %]
       [% PROCESS condition_vendor_value_input %]
     [% END %]
     [% PROCESS add_value %]
  </fieldset>
[%- END %]

[% BLOCK condition_vendor_value_input %]
  <div class='price_rule_element'>
    [%- PROCESS remove_control %]
    [% P.customer_vendor.picker(prefix _ '.id[]', id, type='vendor') %]
  </div>
[%- END %]

[%- BLOCK condition_business_input %]
  <fieldset>
    <legend>
     [%- PROCESS remove_control %]
     [% 'Type of Business' | $T8 %]
     [% 'is' | $T8 %]
    </legend>
     [% FOREACH id = item.id %]
       [% PROCESS condition_business_value_input %]
     [% END %]
     [% PROCESS add_value %]
  </fieldset>
[%- END %]

[%- BLOCK condition_business_value_input %]
  <div class='price_rule_element'>
    [%- PROCESS remove_control %]
    [% P.business.picker(prefix _ '.id[]', id) %]
  </div>
[%- END %]

[%- BLOCK condition_part_input %]
  <fieldset>
    <legend>
     [%- PROCESS remove_control %]
     [% 'Part' | $T8 %] [% 'is' | $T8 %]
    </legend>
     [% FOREACH id = item.id %]
       [% PROCESS condition_part_value_input %]
     [% END %]
     [% PROCESS add_value %]
  </fieldset>
[%- END %]

[%- BLOCK condition_part_value_input %]
  <div class='price_rule_element'>[%- PROCESS remove_control %] [% P.part.picker(prefix _ '.id[]', id) %]</div>
[%- END %]

[%- BLOCK condition_partsgroup_input %]
  <fieldset>
    <legend>
      [%- PROCESS remove_control %]
      [% 'Partsgroup' | $T8 %]
      [% 'is' | $T8 %]
    </legend>
    <div>
     [% FOREACH id = item.id %]
       [% PROCESS condition_partsgroup_value_input %]
     [%- END %]
    </div>
     [% PROCESS add_value %]
  </fieldset>
[%- END %]

[%- BLOCK condition_partsgroup_value_input %]
  <div class='price_rule_element'>
    [%- PROCESS remove_control %]
    [% P.partsgroup.picker(prefix _ '.id[]', id) %]
  </div>
[%- END %]

[%- BLOCK condition_pricegroup_input %]
  <fieldset>
    <legend>
      [%- PROCESS remove_control %]
      [% 'Pricegroup' | $T8 %]
      [% 'is' | $T8 %]
    </legend>
     [% FOREACH id = item.id %]
       [% PROCESS condition_pricegroup_value_input %]
     [%- END %]
     [% PROCESS add_value %]
  </fieldset>
[%- END %]

[%- BLOCK condition_pricegroup_value_input %]
  <div class='price_rule_element'>
    [%- PROCESS remove_control %]
    [% P.pricegroup.picker(prefix _ '.id[]', id) %]
  </div>
[%- END %]

[%- BLOCK condition_ve_input %]
  <fieldset>
    <legend>
     [%- PROCESS remove_control %]
     [% 'Ve' | $T8 %]
    </legend>
    <div>
      [% L.select_tag(prefix _ '.op', num_compare_ops, default=item.op) %]
      [% L.input_tag(prefix _ '.num_as_number', item.num_as_number) %]
    </div>
  </fieldset>
[%- END %]

[%- BLOCK condition_qty_input %]
  <fieldset>
    <legend>
      [%- PROCESS remove_control %]
      [% 'Quantity' | $T8 %]
    </legend>
    <div>
      [% L.select_tag(prefix _ '.op', num_compare_ops, default=item.op) %]
      [% L.input_tag(prefix _ '.num_as_number', item.num_as_number) %]
    </div>
  </fieldset>
[%- END %]

[%- BLOCK condition_qty_range_input %]
  <fieldset>
   <legend>
     [%- PROCESS remove_control %]
     [% 'Quantity Range' | $T8 %]
   </legend>
  [% L.input_tag(prefix _ '.min_as_number', item.min_as_number) %]
  [% 'To (range)' | $T8 %]
  [% L.input_tag(prefix _ '.max_as_number', item.max_as_number) %]
  </fieldset>
[%- END %]

[%- BLOCK condition_reqdate_input %]
  <fieldset>
    <legend>
      [%- PROCESS remove_control %]
      [% 'Reqdate' | $T8 %]
    </legend>
    <div>
      [% L.select_tag(prefix _ '.op', date_compare_ops, default=item.op) %]
      [% L.date_tag(prefix _ '.date', item.date) %]
    </div>
  </fieldset>
[%- END %]

[%- BLOCK condition_transdate_input %]
  <fieldset>
    <legend>
      [%- PROCESS remove_control %]
      [% 'Transdate Record' | $T8 %]
    </legend>
    <div>
      [% L.select_tag(prefix _ '.op', date_compare_ops, default=item.op) %]
      [% L.date_tag(prefix _ '.date', item.date) %]
    </div>
  </fieldset>
[%- END %]



[%- BLOCK action_input %]
  [% FOR item IN item %]
  [%- SWITCH item.type %]
    [%- CASE 'action_container_and' %][% PROCESS action_container_and_input %]
    [%- CASE 'conditional_action' %][% PROCESS action_conditional_action_input %]
    [%- CASE 'simple_action' %][% PROCESS simple_action_input %]
    [%- CASE 'price_action' %][% PROCESS price_action_input %]
    [%- CASE 'discount_action' %][% PROCESS discount_action_input %]
    [%- CASE 'reduction_action' %][% PROCESS reduction_action_input %]
    [%- CASE 'price_scale_action' %][% PROCESS price_scale_action_input %]
    [%- CASE 'parts_price_list_action' %][% PROCESS parts_price_list_action_input %]
  [% END %]
  [% END %]
[%- END %]

[%- BLOCK action_element %]
  [% INCLUDE action_input prefix=prefix %]
[%- END %]

[%- BLOCK element %]
  <div class='price_rule_element'>
    [% L.hidden_tag(prefix _ '[+].type', item.type) %]
    [% content %]
  </div>
[%- END %]

[%- BLOCK action_container_and_input %]
  [% WRAPPER element %]
  <fieldset class='price_rule_container price_rule_element'>
    <legend>[%- PROCESS remove_control %] [% 'And' | $T8 %]:</legend>
      [% FOREACH row IN item.action %]
        [% INCLUDE action_input item=row prefix=prefix _ '[].action' %]
      [% END %]
    [%- INCLUDE add_action_element_control prefix=prefix _ '[].action' %]
  </fieldset>
 [% END %]
[%- END %]

[%- BLOCK action_conditional_action_input %]
[%- END %]

[%- BLOCK simple_action_input %]
  <fieldset>
    <legend>
      [%- PROCESS remove_control %]
      [% 'Simple Action' | $T8 %]
    </legend>
    <div>
      [% 'Set (set to)' | $T8 %]
      [% L.select_tag(prefix _ '[].price_type', SELF.all_price_types, default=item.price_type) %]
      [% 'to (set to)' | $T8 %]
      [% L.input_tag(prefix _ '[].price_or_discount_as_number', item.price_or_discount_as_number) %]
    </div>
  </fieldset>
[%- END %]

[%- BLOCK price_action_input %]
  <fieldset>
    <legend>
      [%- PROCESS remove_control %]
      [% 'Set price to' | $T8 %]
    </legend>
    <div>
      [% L.input_tag(prefix _ '[].price_as_number', item.price_as_number, class='numeric', "data-validate"='number') %]
    </div>
  </fieldset>
[%- END %]

[%- BLOCK discount_action_input %]
  <fieldset>
    <legend>
      [%- PROCESS remove_control %]
      [% 'Set discount to' | $T8 %]
    </legend>
    <div>
      [% L.input_tag(prefix _ '[].discount_as_number', item.discount_as_number, class='numeric', "data-validate"='number') %] %
    </div>
  </fieldset>
[%- END %]

[%- BLOCK reduction_action_input %]
  <fieldset>
    <legend>
      [%- PROCESS remove_control %]
      [% 'Reduce price by' | $T8 %]
    </legend>
    <div>
      [% L.input_tag(prefix _ '[].reduction_as_number', item.reduction_as_number, class='numeric', "data-validate"='number') %]
    </div>
  </fieldset>
[%- END %]

[%- BLOCK conditional_action %]
  <div>
    [% INCLUDE condition_input item=item.condition %]
    [% INCLUDE action_input item=item.action %]
  <div>
[%- END %]

[%- BLOCK price_scale_action_input %]
[% WRAPPER element %]
<fieldset>
  <legend>[%- PROCESS remove_control %] [% 'Price Scale' | $T8 %]</legend>
  [% FOREACH row = item.price_scale_action_line %]
    [% INCLUDE price_scale_action_line_input item=row prefix=prefix _ '[].price_scale_action_line' %]
  [% END %]
  [% INCLUDE add_action_line prefix=prefix _ '[].price_scale_action_line' %]
</fieldset>
[%- END %]
[%- END %]

[%- BLOCK price_scale_action_line_input %]
  [% WRAPPER element %]
  <div>
    [%- PROCESS remove_control %]
    [% 'Starting with (Price Scale Action)' | $T8 %]
    [% L.input_tag(prefix _ '[].min_as_number', item.min_as_number, class='numeric', 'data-validate'='number') %]
    <span>&nbsp;</span>
    [% 'Price' | $T8 %]
    [% L.input_tag(prefix _ '[].price_as_number', item.price_as_number, class='numeric', 'data-validate'='number') %]
    [% 'Discount' | $T8 %]
    [% L.input_tag(prefix _ '[].discount_as_number', item.discount_as_number, class='numeric', 'data-validate'='number') %] %
  <div>
  [% END %]
[%- END %]

[%- BLOCK parts_price_list_action_input %]
[% WRAPPER element %]
<fieldset>
  <legend>[%- PROCESS remove_control %] [% 'Parts Price List' | $T8 %]</legend>
  <div>
    [% FOREACH row = item.parts_price_list_action_line %]
      [% INCLUDE parts_price_list_action_line_input item=row prefix=prefix _ '[].parts_price_list_action_line' %]
    [% END %]
  </div>
  [% INCLUDE add_action_line prefix=prefix _ '[].parts_price_list_action_line' %]
</fieldset>
[%- END %]
[%- END %]

[%- BLOCK parts_price_list_action_line_input %]
  [% WRAPPER element %]
  <div>
    [%- PROCESS remove_control %]
    [% 'Part' | $T8 %] [% 'is' | $T8 %]
    [% P.part.picker(prefix _ '[].id', item.id) %]
    <span>&nbsp;</span>
    [% 'Price' | $T8 %]
    [% L.input_tag(prefix _ '[].price_as_number', item.price_as_number, class='numeric', 'data-validate'='number') %]
    [% 'Discount' | $T8 %]
    [% L.input_tag(prefix _ '[].discount_as_number', item.discount_as_number, class='numeric', 'data-validate'='number') %] %
  <div>
[%- END %]
[%- END %]


[%- BLOCK remove_control %]
  <span class='price_rule_macro_remove_line interact cursor-pointer'>✘</span>
[%- END %]

[% BLOCK add_condition_element_control %]
[%- PROCESS add_element_control element_class='condition' %]
[% END %]

[% BLOCK add_action_element_control %]
[%- PROCESS add_element_control element_class='action' %]
[% END %]

[%- BLOCK add_element_control %]
  <span class='add-element-control' data-prefix='[% prefix | html %]' data-element-class='[% element_class | html %]'>
    [% L.select_tag('', SELF.allowed_elements_for(item), class='element-type-select') %]
    <span class='price_rule_macro_add_element interact cursor-pointer'>[% 'Add element' | $T8 %]</span>
  </span>
[%- END %]

[%- BLOCK add_value %]
  <span class='interact cursor-pointer price_rule_macro_add_value' data-element-type='[% item.type | html %]' data-prefix='[% prefix | html %]'>[% 'Add value' | $T8 %]</span>
[%- END %]

[%- BLOCK add_action_line %]
  <span class='interact cursor-pointer price_rule_macro_add_line' data-element-type='[% item.type | html %]' data-prefix='[% prefix | html %]'>[% 'Add line' | $T8 %]</span>
[%- END %]
