[% USE LxERP %]
[% USE L %]
[% USE HTML %]
[% USE P %]
[% DEFAULT id_prefix = 'time_and_cost_estimate_form' %]

<div id="time_cost_estimate_form_container" class="edit-time-cost-estimate-context-menu">
<div class="wrapper">
 [% IF !SELF.requirement_spec.sections.size %]
  <p>[% LxERP.t8("Neither sections nor function blocks have been created yet.") %]</p>

 [% ELSE %]

  [% SET at_least_one_function_block = 0 %]

  <form method="post" id="edit_time_cost_estimate_form">
   [% L.hidden_tag('id', SELF.requirement_spec.id, id=id_prefix _ '_id') %]

   [%# time-cost-estimate-context-menu %]
   <table class="tbl-list time-cost-estimate test">
     [% FOREACH section = SELF.requirement_spec.sections_sorted %]
     <thead>
      <tr>
       <th>[% LxERP.t8("Function block") %]</th>
       <th>[% LxERP.t8("Complexity") %]</th>
       <th>[% LxERP.t8("Risk") %]</th>
       <th class="right">[% LxERP.t8("Time estimate") %]</th>
      </tr>
      </thead>
    <tbody>
      <tr class="listrow section">
       <th class="caption" colspan="4">[% HTML.escape(section.fb_number) %]: [% HTML.escape(section.title) %]</td>
      </tr>

      [% IF section.children.size %]
       [% SET at_least_one_function_block = 1 %]
       [% FOREACH child = section.children_sorted %]
        [% INCLUDE 'requirement_spec/_edit_time_and_cost_estimate_item.html'
                    id_prefix = id_prefix
                    item      = child
                    level     = 1 %]
       [% END %]
      [% END %]
     [% END %]
    </tbody>
   </table>

   [% L.button_tag("kivi.requirement_spec.standard_time_cost_estimate_ajax_call('save')", LxERP.t8("Save")) %]
  </form>
 [% END %]
</div>
</div>
