[% USE LxERP %]
[% USE L %]
[% SET id_prefix = "project_link_form" %]
[% style = "width:300px;" %] 

<form method="post" action="controller.pl" id="[% id_prefix %]"[% UNLESS submit_as == 'post' %] class="edit-project-link-context-menu"[% END %]>


[% L.hidden_tag("id", SELF.requirement_spec.id, id=id_prefix _ "_id") %]
[% L.hidden_tag("project_link_action", "create", id=id_prefix _ "_project_link_action") %]

<table class="tbl-horizontal rs_input_field">
  <caption>[% LxERP.t8("Edit project link") %]: [% LxERP.t8("Create a new project") %]</caption>
  <tbody>
    <tr>
      <th>[% LxERP.t8("Project Number") %]</th>
      <td>[% L.input_tag("project.projectnumber", "", id=id_prefix _ "_projectnumber", style=style) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Description") %]</th>
      <td>[% L.input_tag("project.description", SELF.requirement_spec.title, id=id_prefix _ "_description", style=style) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Project Type") %]</th>
      <td>[% L.select_tag("project.project_type_id", SELF.project_types, default=SELF.default_project_type.id, title_key="description", id=id_prefix _ "_project_type_id", style=style) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Project Status") %]</th>
      <td>[% L.select_tag("project.project_status_id", SELF.project_statuses, default=SELF.default_project_status.id, title_key="description", id=id_prefix _ "_project_status_id", style=style) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Customer") %]</th>
      <td>[% L.select_tag("project.customer_id", SELF.customers, default=SELF.requirement_spec.customer_id, title_key="name", with_empty=1, id=id_prefix _ "_customer_id", style=style) %]</td>
    </tr>
  </tbody>
</table>

 <div class="buttons">
  [% L.ajax_submit_tag("controller.pl?action=RequirementSpec/update_project_link",  "#" _ id_prefix, LxERP.t8("Save"), id=id_prefix _ '_submit') %]
  <script type="text/javascript"><!--
  $(function() {
    $("#[% id_prefix %] INPUT[type=text]").keydown(function(event) {
      if(event.keyCode == 13) {
        event.preventDefault();
        $("#[% id_prefix %]_submit").click();
        return false;
      }
    });
  });
--></script>
</div>
</form>
