[% USE JSON %]
[% USE HTML %]
[% USE L %]
[% USE LxERP %]
[% USE P %]
[% USE JavaScript %]
[% SET sections = SELF.requirement_spec.sections_sorted || [] %]

[% INCLUDE 'requirement_spec/_header.html' %]

[% L.hidden_tag('requirement_spec_id', SELF.requirement_spec.id, 'data-is-template'=(SELF.requirement_spec.is_template ? 1 : 0)) %]

<div id="requirement_spec_tabs" class="tabwidget">
 
<ul>
  <li id="tab-header-function-block"><a href="#function-blocks-tab">[% LxERP.t8("Content") %]</a></li>
  <li id="tab-header-basic-settings"><a href="controller.pl?action=RequirementSpec/ajax_show_basic_settings&id=[% HTML.url(SELF.requirement_spec.id) %]">[% LxERP.t8("Basic settings") %]</a></li>
  <li id="tab-header-time-cost-estimate"><a href="controller.pl?action=RequirementSpec/ajax_show_time_and_cost_estimate&id=[% HTML.url(SELF.requirement_spec.id) %]">[% LxERP.t8("Time and price estimate") %]</a></li>
  <li id="tab-header-additional-parts"><a href="controller.pl?action=RequirementSpecPart/show&requirement_spec_id=[% HTML.url(SELF.requirement_spec.id) %]">[% LxERP.t8("Additional articles") %]</a></li>
  [% UNLESS SELF.requirement_spec.is_template %] 
    <li id="tab-header-versions"><a href="controller.pl?action=RequirementSpecVersion/list&requirement_spec_id=[% HTML.url(SELF.requirement_spec.id) %]">[% LxERP.t8("Versions") %]</a></li>
    <li id="tab-header-quotations-orders"><a href="[% SELF.url_for(controller='RequirementSpecOrder', action='list', requirement_spec_id=SELF.requirement_spec.id) %]">[% LxERP.t8("Quotations and orders") %]</a></li>
  [% END %] 
</ul>

<div id="function-blocks-tab" class="section-context-menu">
  [% UNLESS SELF.requirement_spec.is_template %]
    <div id="requirement_spec_version">
      [% INCLUDE 'requirement_spec/_version.html' requirement_spec=SELF.requirement_spec %]
    </div>
  [% END %]

  <div id="column-container" class="clearfix">
    <div id="tree-column">
     <div id="tree"></div>
    </div>

    <div id="content-column" class="clearfix">
      [% L.hidden_tag('current_content_type', SELF.requirement_spec_item.id ? 'section' : '') %]
      [% L.hidden_tag('current_content_id',   SELF.requirement_spec_item.id) %]

      <div id="column-content">
        [% IF SELF.requirement_spec_item %]
          [% INCLUDE 'requirement_spec_item/_section.html' requirement_spec_item=SELF.requirement_spec_item %]
        [% ELSE %]
          [% INCLUDE 'requirement_spec_item/_no_section.html' %]
        [% END %]
    </div>
   </div>
  </div><!-- /#column-container -->
 </div>



</div><!-- /#requirement_spec_tabs -->

<script type="text/javascript"><!--
$(function() {
  var tree_data = [
    { data:     [% JSON.json(LxERP.t8("Text blocks front")) %],
      metadata: { type: "text-blocks-front" },
      attr:     { id: "tb-front", class: "text-block-context-menu" },
      children: [
[% FOREACH tb = SELF.requirement_spec.text_blocks_sorted(output_position=0) %]
 [% tb.presenter.jstree_data.json %][% IF !loop.last %],[% END %]
[% END %]
      ]},

    { data:     [% JSON.json(LxERP.t8("Sections")) %],
      metadata: { type: "sections" },
      attr:     { id: "sections", class: "section-context-menu" },
      children: [
[% FOREACH section = sections %]
 [% section.presenter.jstree_data.json %][% IF !loop.last %],[% END %]
[% END %]
      ]},

    { data:     [% JSON.json(LxERP.t8("Text blocks back")) %],
      metadata: { type: "text-blocks-back" },
      attr:     { id: "tb-back", class: "text-block-context-menu" },
      children: [
[% FOREACH tb = SELF.requirement_spec.text_blocks_sorted(output_position=1) %]
 [% tb.presenter.jstree_data.json %][% IF !loop.last %],[% END %]
[% END %]
      ]}
  ];

  var initially_open = ['tb-front', 'tb-back', 'sections'
[% FOREACH section = sections %]
        , "fb-[% section.id %]"
 [% FOREACH function_block = section.children %]
        , "fb-[% function_block.id %]"
 [% END %]
[% END %]
  ];

  kivi.requirement_spec.initialize_requirement_spec({
      initially_open:          initially_open
    , tree_data:               tree_data
    , is_template:             [% SELF.requirement_spec.is_template ? 'true' : 'false' %]
    , html_template_exists:    [% SELF.html_template                ? 'true' : 'false' %]
[% IF SELF.requirement_spec_item %]
    , initially_selected_node: '#fb-[% SELF.requirement_spec_item.id %]'
[% END %]
    , time_based_units: {
      [% FOREACH unit = SELF.time_based_units %]
       [% UNLESS loop.first %], [% END %] "[% JavaScript.escape(unit.name) %]": true
      [% END %]
    }
  });
});

  --></script>
