[% USE HTML %]<body>

 <div class="listtop" width="100%">Lieferadresse &uuml;bernehmen</div>

 <p>Sie haben die folgende Lieferadresse eingegeben oder ausgew&auml;hlt:</p>

 <p>
  <table>
   <tr>
    <th align="right" valign="top">Name:</th>
    <td valign="top">[% HTML.escape(CFDD_shiptoname) %]</td>
   </tr>

   <tr>
    <th align="right" valign="top">Abteilung:</th>
    <td valign="top">[% HTML.escape(CFDD_shiptodepartment_1) %]</td>
   </tr>

   <tr>
    <th align="right" valign="top">&nbsp;</th>
    <td valign="top">[% HTML.escape(CFDD_shiptodepartment_2) %]</td>
   </tr>

   <tr>
    <th align="right" valign="top">Straﬂe:</th>
    <td valign="top">[% HTML.escape(CFDD_shiptostreet) %]</td>
   </tr>

   <tr>
    <th align="right" valign="top">PLZ:</th>
    <td valign="top">[% HTML.escape(CFDD_shiptozipcode) %]</td>
   </tr>

   <tr>
    <th align="right" valign="top">Stadt:</th>
    <td valign="top">[% HTML.escape(CFDD_shiptocity) %]</td>
   </tr>

   <tr>
    <th align="right" valign="top">Land:</th>
    <td valign="top">[% HTML.escape(CFDD_shiptocountry) %]</td>
   </tr>

   <tr>
    <th align="right" valign="top">Kontakt:</th>
    <td valign="top">[% HTML.escape(CFDD_shiptocontact) %]</td>
   </tr>

   <tr>
    <th align="right" valign="top">Telefon:</th>
    <td valign="top">[% HTML.escape(CFDD_shiptophone) %]</td>
   </tr>

   <tr>
    <th align="right" valign="top">Fax:</th>
    <td valign="top">[% HTML.escape(CFDD_shiptofax) %]</td>
   </tr>

   <tr>
    <th align="right" valign="top">eMail:</th>
    <td valign="top">[% HTML.escape(CFDD_shiptoemail) %]</td>
   </tr>
  </table>
 </p>

  Wollen Sie diese Lieferadresse in den neuen Lieferantenauftrag &uuml;bernehmen, damit der H&auml;ndler die Waren direkt an Ihren Kunden liefern kann?
 </p>

 <form method="post" action="oe.pl">

  <p>
   <input type="submit" name="action" value="Ja">&nbsp;
   <input type="submit" name="action" value="Nein">
  </p>

  <input type="hidden" name="yes_nextsub" value="check_for_direct_delivery_yes">
  <input type="hidden" name="no_nextsub" value="check_for_direct_delivery_no">

  [%- FOREACH row = VARIABLES %]
  <input type="hidden" name="[% HTML.escape(row.key) %]" value="[% HTML.escape(row.value) %]">
  [%- END %]

 </form>

</body>
</html>
