[% USE HTML %]
[% USE LxERP %]
[% USE L %]
[% SET style="width: 400px" %]
<h1>[% title %]</h1>

 <form name="Form" action="oe.pl" method="post">

  <p>
   <table border="0">
    <tr>
     <th align="right">[% LxERP.t8('Status') %]</th>
     <td>[% L.checkbox_tag("active", checked => active, label => LxERP.t8('Active')) %]</td>
    </tr>

    <tr>
     <td>&nbsp;</td>
     <td>
      [% L.checkbox_tag('terminated', label => LxERP.t8('terminated'), checked => terminated) %]
     </td>
    </tr>

    <tr>
     <th align="right" valign="top">[%- LxERP.t8('Billing Periodicity') %]</th>
     <td valign="top">
      [% L.select_tag("periodicity", [ [ "m", LxERP.t8("monthly") ], [ "q", LxERP.t8("every third month") ], [ "b", LxERP.t8("semiannually") ], [ "y", LxERP.t8("yearly") ] ], default=periodicity, style=style) %]
     </td>
    </tr>

    <tr>
     <th align="right" valign="top">[%- LxERP.t8('Order value periodicity') %]</th>
     <td valign="top">
      [% L.select_tag("order_value_periodicity",
                      [ [ "p", LxERP.t8("same as periodicity") ], [ "m", LxERP.t8("monthly") ], [ "q", LxERP.t8("every third month") ], [ "b", LxERP.t8("semiannually") ], [ "y", LxERP.t8("yearly") ],
                        [ "2", LxERP.t8("2 years") ], [ "3", LxERP.t8("3 years") ], [ "4", LxERP.t8("4 years") ], [ "5", LxERP.t8("5 years") ], ],
                      default=order_value_periodicity, style=style) %]
     </td>
    </tr>

    <tr>
     <th align="right">[%- LxERP.t8('Start date') %]</th>
     <td valign="top">
      [% L.date_tag("start_date_as_date", start_date_as_date) %]
     </td>
    </tr>

    <tr>
     <th align="right">[%- LxERP.t8('End date') %]<sup>(1)</sup></th>
     <td valign="top">
      [% L.date_tag("end_date_as_date", end_date_as_date) %]
     </td>
    </tr>

    <tr>
     <th align="right">[%- LxERP.t8('Create first invoice on') %]<sup>(2)</sup></th>
     <td valign="top">
      [% L.date_tag("first_billing_date_as_date", first_billing_date_as_date) %]
     </td>
    </tr>

    <tr>
     <th align="right">[% LxERP.t8('Extend automatically by n months') %]</th>
     <td valign="top">
      [% L.input_tag("extend_automatically_by", extend_automatically_by, size => 10) %]
     </td>
    </tr>

    <tr>
     <th align="right">[%- LxERP.t8('Record in') %]</th>
     <td valign="top">
      [% L.select_tag("ar_chart_id", AR, title_key => 'description', default => ar_chart_id, style=style) %]
     </td>
    </tr>

    <tr>
     <th align="right">[%- LxERP.t8('direct debit') %]</th>
     <td valign="top">[% L.checkbox_tag("direct_debit", checked=direct_debit) %]</td>
    </tr>

    <tr class="rule-before">
     <th align="right">[%- LxERP.t8('Print automatically') %]</th>
     <td valign="top">
      [% L.checkbox_tag("print", onclick => "toggle_printer_id_ctrl()", checked => print) %]
     </td>
    </tr>

    <tr>
     <th align="right">[%- LxERP.t8('Printer') %]</th>
     <td valign="top">
      [% L.select_tag("printer_id", ALL_PRINTERS, title_key = 'printer_description', default = printer_id, disabled = !print, style=style) %]
     </td>
    </tr>

    <tr>
     <th align="right">[%- LxERP.t8('Copies') %]</th>
     <td valign="top">[% L.input_tag("copies", copies, size => 6, disabled => !print) %]</td>
    </tr>

    <tr class="rule-before">
     <th align="right">[%- LxERP.t8("Send invoice via email") %]</th>
     <td>[% L.checkbox_tag("send_email", onclick => "toggle_send_email_ctrl()", checked=send_email) %]</td>
    </tr>

    <tr>
     <th align="right">[%- LxERP.t8("Contact to send to") %]</th>
     <td>[% L.select_tag("email_recipient_contact_id", ALL_CONTACTS, title_key="full_name_dep", value_key="cp_id", default=email_recipient_contact_id, with_empty=1, disabled=!send_email, style=style) %]</td>
    </tr>

    <tr>
     <th align="right">[%- LxERP.t8("Other recipients") %]<sup>3</sup></th>
     <td>[% L.input_tag("email_recipient_address", email_recipient_address, disabled=!send_email, style=style) %]</td>
    </tr>

    <tr>
     <th align="right">[%- LxERP.t8("Sender") %]</th>
     <td>[% L.input_tag("email_sender", email_sender, disabled=!send_email, style=style) %]</td>
    </tr>

    <tr>
     <th align="right">[%- LxERP.t8("Subject") %]</th>
     <td>[% L.input_tag("email_subject", email_subject, disabled=!send_email, style=style) %]</td>
    </tr>

    <tr>
     <th align="right" valign="top">[%- LxERP.t8("Message") %]</th>
     <td valign="top">[% L.textarea_tag("email_body", email_body, disabled=!send_email, rows=8, style=style) %]</td>
    </tr>
   </table>
  </p>

  <hr>

  <p>(1): [%- LxERP.t8('The end date is the last day for which invoices will possibly be created.') %]</p>
  <p>(2): [% LxERP.t8("If missing then the start date will be used.") %]</p>
  <p>(3): [% LxERP.t8("Multiple addresses can be entered separated by commas.") %]</p>

  [% L.hidden_tag('action', 'save_periodic_invoices_config') %]

  <p>
   [% L.submit_tag('', LxERP.t8('Close')) %]
   [% L.submit_tag('', LxERP.t8('Cancel'), onclick => "self.close(); return false;") %]
  </p>
 </form>

 <script type="text/javascript">
  <!--
    function toggle_printer_id_ctrl() {
      var disabled = !$('#print').prop('checked');
      $('#printer_id').prop('disabled', disabled);
      $('#copies').prop('disabled', disabled);
    }

    function toggle_send_email_ctrl() {
      var disabled = !$('#send_email').prop('checked');
      $('#email_recipient_contact_id').prop('disabled', disabled);
      $('#email_recipient_address').prop('disabled', disabled);
      $('#email_from').prop('disabled', disabled);
      $('#email_subject').prop('disabled', disabled);
      $('#email_body').prop('disabled', disabled);
    }
    -->
 </script>
