[%- USE T8 %]
[%- USE HTML %]
[%- USE LxERP %]
[%- USE L %][%- USE P -%]

  <form method="post" id='form' name="oe" action="[% script %]"
        data-transport-cost-reminder-article-id="[% HTML.escape(transport_cost_reminder_article.id) %]"
        data-transport-cost-reminder-article-description="[% HTML.escape(transport_cost_reminder_article.displayable_name) %]"
        >

    <script type="text/javascript" src="js/delivery_customer_selection.js"></script>
    <script type="text/javascript" src="js/calculate_qty.js"></script>
    <script type="text/javascript" src="js/follow_up.js"></script>
    [%- IF is_sales_ord %]
     [% L.javascript_tag("js/edit_periodic_invoices_config") %]
    [%- END %]

[%- FOREACH row = HIDDENS %]
   <input type="hidden" name="[% HTML.escape(row.name) %]" id="[% HTML.escape(row.name) %]" value="[% HTML.escape(row.value) %]" >
[%- END %]

    <input type="hidden" name="convert_from_oe_ids" value="[% HTML.escape(convert_from_oe_ids) %]">

    <input type="hidden" name="follow_up_trans_id_1" value="[% HTML.escape(id) %]">
    <input type="hidden" name="follow_up_trans_type_1" value="[% HTML.escape(type) %]">
    <input type="hidden" name="follow_up_trans_info_1" value="[% HTML.escape(follow_up_trans_info) %]">
    <input type="hidden" name="follow_up_rowcount" value="1">
    <input type="hidden" name="lastmtime" value="[% HTML.escape(lastmtime) %]">

    <h1>[% title %]</h1>

[%- INCLUDE 'common/flash.html' %]
[%- INCLUDE 'generic/set_longdescription.html' %]

    <div id="oe_tabs" class="tabwidget">
     <ul>
      <li><a href="#ui-tabs-basic-data">[% 'Basic Data' | $T8 %]</a></li>
[%- IF INSTANCE_CONF.get_webdav %]
      <li><a href="#ui-tabs-webdav">[% 'WebDAV' | $T8 %]</a></li>
[%- END %]
[%- IF id AND INSTANCE_CONF.get_doc_storage %]
      <li><a href="controller.pl?action=File/list&file_type=document&object_type=[% HTML.escape(type) %]&object_id=[% HTML.url(id) %]">[% 'Documents' | $T8 %]</a></li>
      <li><a href="controller.pl?action=File/list&file_type=attachment&object_type=[% HTML.escape(type) %]&object_id=[% HTML.url(id) %]">[% 'Attachments' | $T8 %]</a></li>
[%- END %]
[%- IF id AND AUTH.assert('record_links', 1) %]
      <li><a href="controller.pl?action=RecordLinks/ajax_list&object_model=Order&object_id=[% HTML.url(id) %]">[% 'Linked Records' | $T8 %]</a></li>
[%- END %]
     </ul>

     <div id="ui-tabs-basic-data">

    <table width="100%">
      <tr>
        <td>
          <table width="100%">
            <tr valign="top">
              <td width="50%">
                <table width="100%">
                  <tr>
                    <th align="right">[% IF vc == 'customer' %][% 'Customer' | $T8 %][% ELSE %][% 'Vendor' | $T8 %][% END %]</th>
                    <td>
                     [%- SET vc_id = vc _ "_id" %]
                     [% P.customer_vendor.picker(vc_id, $vc_id, type=vc, style="width: 250px", class="initial_focus", onchange="\$('#update_button').click()") %]
                     [% P.button_tag("show_vc_details('" _ HTML.escape(vc) _  "')", LxERP.t8("Details (one letter abbreviation)")) %]
                     [% P.hidden_tag("previous_" _ vc_id, $vc_id) %]
                    </td>
                  </tr>
[%- IF ALL_CONTACTS.size %]
                  <tr>
                    <th align="right">[% 'Contact Person' | $T8 %]</th>
                    <td>
                      [% L.select_tag('cp_id', ALL_CONTACTS, default=cp_id, value_key='cp_id', title_key='full_name_dep', with_empty=1, style='width: 250px') %]
                    </td>
                  </tr>
[%- END %]
                  <tr>
                    <th align="right">[% 'Shipping Address' | $T8 %]</th>
                    <td>
[%- IF ALL_SHIPTO.size %]
                      [% shiptos = [ [ "", LxERP.t8("No/individual shipping address") ] ] ;
                         L.select_tag('shipto_id', shiptos.import(ALL_SHIPTO), default=shipto_id, value_key='shipto_id', title_key='displayable_id', style='width: 250px') %]
[%- END %]
                      [% L.button_tag("kivi.SalesPurchase.edit_custom_shipto()", LxERP.t8("Custom shipto")) %]
                    </td>
                  </tr>
[%- IF is_order %]
                  <tr>
                    <td align="right">[% 'Credit Limit' | $T8 %]</td>
                    <td>[% LxERP.format_amount(creditlimit, 0) %]; [% 'Remaining' | $T8 %] <span class="plus[% is_credit_remaining_negativ %]">[% LxERP.format_amount(creditremaining, 0) %]</span></td>
                  </tr>
[%- END %]
[%- IF business %]
                  <tr>
                    <th align="right">[% business_label %]</th>
                    <td>[% HTML.escape(business) %]; [% 'Trade Discount' | $T8 %] [% LxERP.format_percent(tradediscount) %] %</td>
                  </tr>
[%- END %]
[%- IF max_dunning_level %]
                  <tr>
                    <th align="right">[% 'Max. Dunning Level' | $T8 %]:</th>
                    <td>
                      <b>[% HTML.escape(max_dunning_level) %]</b>;
                      [% 'Dunning Amount' | $T8 %]: <b>[% LxERP.format_amount(dunning_amount, 2) %]</b>
                    </td>
                  </tr>
[%- END %]
                  <tr>
                    <th align="right">[% 'Steuersatz' | $T8 %]</th>
                    <td>
                      [% L.select_tag('taxzone_id', ( id ? ALL_TAXZONES : ALL_ACTIVE_TAXZONES), default=taxzone_id, title_key='description', style='width: 250px') %]
                    </td>
                  </tr>
[%- IF ALL_LANGUAGES.size %]
                  <tr>
                    <th align="right" nowrap>[% 'Language' | $T8 %]</th>
                    <td colspan="3">
                      [% L.select_tag('language_id', ALL_LANGUAGES, default=language_id, title_key = 'description', with_empty=1, style='width:250px') %]
                    </td>
                  </tr>
[%- END %]
[%- IF ALL_DEPARTMENTS.size %]
                  <tr>
                    <th align="right" nowrap>[% 'Department' | $T8 %]</th>
                    <td colspan="3">
                      [% L.select_tag('department_id', ALL_DEPARTMENTS, default=department_id, title_key = 'description', with_empty=1, style='width:250px') %]
                    </td>
                  </tr>
[%- END %]
                  <tr>
                    <th align="right">[% 'Currency' | $T8 %]</th>
                    <td>[% L.select_tag("currency", ALL_CURRENCIES, value_key="name", default=currency, onchange="document.getElementById('update_button').click();") %]</td>
                  </tr>
[%- IF show_exchangerate %]
                  <tr>
                    <th align="right">[% 'Exchangerate' | $T8 %]</th>
                    <td>
                     [%- IF forex %]
                      [% LxERP.format_amount(exchangerate, 5) %]
                     [%- ELSE %]
                      <input name="exchangerate" size="10" value="[% HTML.escape(LxERP.format_amount(exchangerate)) %]">
                     [%- END %]
                    </td>
                  </tr>
[%- END %]
                  <tr>
                    <th align="right">[% 'Shipping Point' | $T8 %]</th>
                    <td colspan="3"><input name="shippingpoint" size="35" value="[% HTML.escape(shippingpoint) %]"></td>
                  </tr>
                  <tr>
                    <th align="right">[% 'Ship via' | $T8 %]</th>
                    <td colspan="3"><input name="shipvia" size="35" value="[% HTML.escape(shipvia) %]"></td>
                  </tr>
                  <tr>
                    <th align="right">[% 'Transaction description' | $T8 %]</th>
                    <td colspan="3">[% L.input_tag("transaction_description", transaction_description, size=35, "data-validate"=INSTANCE_CONF.get_require_transaction_description_ps ? 'required' : '') %]</td>
                  </tr>
[%- IF show_delivery_customer %]
                  <tr>
                    <td colspan="4">
                      <table>
                        <tr>
                          <td colspan="2">
                          <button type="button" onclick="delivery_customer_selection_window('delivery_customer_string','delivery_customer_id')">[% 'Choose Customer' | $T8 %]</button>
                        </td>
                          <td colspan="2"><input type="hidden" name="delivery_customer_id" value="[% HTML.escape(delivery_customer_id) %]">
                          <input size="45" id="delivery_customer_string" name="delivery_customer_string" value="[% HTML.escape(delivery_customer_string) %]"></td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <button type="button" onclick="vendor_selection_window('delivery_vendor_string','delivery_vendor_id')">[% 'Choose Vendor' | $T8 %]</button>
                          </td>
                          <td colspan="2"><input type="hidden" name="delivery_vendor_id" value="[% HTML.escape(delivery_vendor_id) %]">
                          <input size="45" id="vendor_string" name="delivery_vendor_string" value="[% HTML.escape(delivery_vendor_string) %]"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
[%- END %]
                </table>
              </td>
              <td align="right">
                <table>
              [% openclosed %]
                  <tr>
                    <th align="right">[% 'Employee' | $T8 %]</th>
                    <td>
                      [% L.select_tag('employee_id', ALL_EMPLOYEES, default=employee_id, title_key='safe_name') %]
                    </td>
                  </tr>
[%- IF is_sales and ALL_SALESMEN.size %]
                  <tr>
                    <th align="right">[% 'Salesman' | $T8 %]</th>
                    <td>
                      [% L.select_tag('salesman_id', ALL_SALESMEN, default=(salesman_id ? salesman_id : employee_id), title_key='safe_name') %]
                    </td>
                  </tr>
[%- END %]
[%- IF is_order %]
                  <tr>
                    <th width="70%" align="right" nowrap>[% 'Order Number' | $T8 %]</th>
                    <td><input name="ordnumber" id="ordnumber" size="11" value="[% HTML.escape(ordnumber) %]"></td>
                  </tr>
[%- END %]
                  <tr>
                    <th width="70%" align="right" nowrap>[% IF is_req_quo %][% 'RFQ Number' | $T8 %][% ELSE %][% 'Quotation Number' | $T8 %][% END %]</th>
                    <td><input name="quonumber" id="quonumber" size="11" value="[% HTML.escape(quonumber) %]"></td>
                  </tr>
[%- IF is_order %]
                  <tr>
                    <th width="70%" align="right" nowrap>[% 'Customer Order Number' | $T8 %]</th>
                    <td><input name="cusordnumber" id="cusordnumber" size="11" value="[% HTML.escape(cusordnumber) %]"></td>
                  </tr>
[%- END %]
                  <tr>
                    <th align="right" nowrap>
                     [%- IF is_order %]
                      [% 'Order Date' | $T8 %]
                     [%- ELSIF is_req_quo %]
                      [% 'RFQ Date' | $T8 %]
                     [%- ELSE %]
                      [% 'Quotation Date' | $T8 %]
                     [%- END %]
                    </th>
                    <td nowrap>
                      [% L.date_tag('transdate', transdate, id='transdate') %]
                    </td>
                  </tr>
                  <tr>
                    <th align="right" nowrap>[% LxERP.t8('Tax point') %]</th>
                    <td nowrap>[% L.date_tag('tax_point', tax_point, id='tax_point') %]</td>
                  </tr>
                  <tr>
                    <th align="right" nowrap>
                     [%- IF is_sales_quo %]
                      [% 'Valid until' | $T8 %]
                     [%- ELSE %]
                      [% 'Reqdate' | $T8 %]
                     [%- END %]
                    </th>
                    <td nowrap>
                      [% L.date_tag('reqdate', reqdate, id='reqdate') %]
                    </td>
                  </tr>
                  [%- IF is_sales_ord %]
                  <tr>
                    <th align="right" nowrap>[% 'Insert Date' | $T8 %]</th>
                    <td>[% oe_obj.itime_as_date %]</td>
                  </tr>
                  [%- END %]
                  <tr>
                    <th width="70%" align="right" nowrap>[% 'Project Number' | $T8 %]</th>
                    <td>
                      [%- L.select_tag('globalproject_id', ALL_PROJECTS, title_key='projectnumber', default=globalproject_id, with_empty='1', onChange="document.getElementById('update_button').click();") %]
                    </td>
                  </tr>
[%- IF type == 'sales_quotation' %]
                  <tr>
                    <th width="70%" align="right" nowrap>[% 'Order probability' | $T8 %]</th>
                    <td nowrap>
                      [%- L.select_tag('order_probability', ORDER_PROBABILITIES, title='title', default=order_probability) %]%
                    </td>
                  </tr>
                  <tr>
                    <th width="70%" align="right" nowrap>[% 'Expected billing date' | $T8 %]</th>
                    <td nowrap>
                      [%- L.date_tag('expected_billing_date', expected_billing_date) %]
                    </td>
                  </tr>
[%- END %]
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
