[% USE HTML %][% USE LxERP %]

<div class="listtop"><translate>Overdue sales quotations and requests for quotations</translate></div>

<p>
 <table width="100%">
  <tr>
   <td class="listheading"><translate>Date</translate></td>
   <td class="listheading"><translate>Valid until</translate></td>
   <td class="listheading"><translate>Sales quotation</translate> / <translate>Request quotation</translate></td>
   <td class="listheading"><translate>Customer</translate> / <translate>Vendor</translate></td>
   <td class="listheading"><translate>Transaction description</translate></td>
   <td class="listheading"><translate>Amount</translate></td>
   <td class="listheading"><translate>Employee</translate></td>
  </tr>

  [%- FOREACH row = QUOTATIONS %]
  <tr class="listrow[% loop.count % 2 %]">
   <td>[% HTML.escape(row.transdate) %]</td>
   <td>[% HTML.escape(row.reqdate) %]</td>
   <td>
    <a href="[% edit_url %]&vc=[% HTML.url(row.vc) %]&type=[% IF row.vc == 'customer' %]sales_quotation[% ELSE %]request_quotation[% END %]&id=[% HTML.url(row.id) %]">
     [% IF row.vc == 'customer' %]
     <translate>Sales quotation</translate>
     [% ELSE %]
     <translate>Request quotation</translate>
     [% END %]
     [% HTML.escape(row.quonumber) %]
    </a>
   </td>
   <td>
    [% IF row.vc == 'customer' %]
    [% HTML.escape(row.customer) %]
    [% ELSE %]
    [% HTML.escape(row.vendor) %]
    [% END %]
   </td>
   <td>[% HTML.escape(row.transaction_description) %]</td>
   <td>[% HTML.escape(LxERP.format_amount(row.amount, 2)) %]</td>
   <td>[% HTML.escape(row.employee) %]</td>
  </tr>
  [%- END %]
 </table>
</p>
