[% USE HTML %]
<tr>
 <td>
  <input type="button" id="cb_show_details" name="show_details" value='<translate>Show details</translate>'>
  <script type="text/javascript">
   $('#cb_show_details').click(function(){ $('[id$="row2"]').toggle() });
  </script>
  <table id='display_row' width="100%">
   <tr class="listheading">[% FOREACH header = HEADER %][% IF header.display %]
    <th align="left" nowrap width="[% header.width %]" class="listheading">[% header.value %]</th>[% END %][% END %]
   </tr>

   [% FOREACH row = ROWS %]
     <tr valign="top" class="[% IF row.error %]error_message[% ELSE %]listrow[% loop.count % 2 %][% END %]">[% FOREACH row1 = row.ROW1 %]
      <td align="[% row1.align %]"[% IF row1.nowrap %] nowrap[% END %]>[% row1.value %]</td>[% END %]
     </tr>

     [% FOREACH hidden = row.HIDDENS %][% hidden.value %]
     [% END %]

     <tr class="listrow[% loop.count % 2 %]" id="[% loop.count %].row2" [% UNLESS show_details %]style="display:none;"[% END %]><td colspan="[% row.colspan %]">[% FOREACH row2 = row.ROW2 %]
      [% IF row2.line_break %]<br/>[% END %]
      [% row2.value %][% END %]
     </td></tr>
   [% END %]

  </table>
 </td>
</tr>
<script type='text/javascript'>
  $(document).ready( function(){ $('#display_row tr:gt(1) input[name*="description"]').focus() });
</script>
