[%- USE T8 %]
[%- USE HTML %]
[%- USE L %]
[%- USE LxERP %]
[%- PROCESS 'amcvar/render_inputs_block.html' %]
<tr>
 <td>
  <input type="button" id="cb_show_details" name="show_details_button" value='[% 'Show details' | $T8 %]'[% IF  show_details %] style="display:none"[% END %]>
  <input type="button" id="cb_hide_details" name="hide_details_button" value='[% 'Hide details' | $T8 %]'[% IF !show_details %] style="display:none"[% END %]>
  <script type="text/javascript">
   $('#cb_show_details,#cb_hide_details').click(function(){
     $('[id^="row2"],#cb_show_details,#cb_hide_details').toggle();
     if ( $('[id^="row2"]').is(":visible") ) {
      $("[name='show_details']").val(1);
     } else {
      $("[name='show_details']").val(0);
     }}
   );
  </script>
  <table id='display_row' width="100%">
   <tr class="listheading">
[%- FOREACH header = HEADER %]
 [%- IF header.display %]
    <th align="left" nowrap width="[% header.width %]" class="listheading">[% header.value %]</th>
 [%- END %]
[%- END %]
   </tr>
[%- FOREACH row = ROWS %]
     <tr valign="top" class="row [% IF row.error %]error_message[% ELSE %]listrow[% loop.count % 2 %][% END %]">
 [%- FOREACH row1 = row.ROW1 %]
      <td[% IF row1.align %] align="[% row1.align %]"[% END %][% IF row1.nowrap %] nowrap[% END %][% IF row1.class %] class="[% row1.class %]"[% END %]>[% row1.value %]</td>
 [%- END %]
     </tr>
     <tr style='display:none'>
      <td>
 [%- FOREACH hidden = row.HIDDENS %]
      [% hidden.value %]
 [%- END %]
      </td>
     </tr>
     <tr class="listrow[% loop.count % 2 %]" id="row2.[% loop.count %]" [% UNLESS show_details %]style="display:none;"[% END %]>
      <td colspan="[% row.colspan %]">

 [%# render all row2 entries except cvars  %]
 [%- FOREACH row2 = row.ROW2 %]
   [%- IF !row2.cvar %]
     [% row2.value %]
   [%- END %]
 [%- END %]

 [%# process editable cvars  %]
 <table class='row2-cvars-table'>
   <tr>
   [%- FOREACH row2 = row.ROW2 %]
     [%- SET show = ((row2.render_options.var.flag_editable || !row2.render_options.hide_non_editable ) && row2.render_options.valid && !row2.render_options.partsgroup_filtered) %]
     [%- IF row2.cvar && show %]
       [%- IF row2.line_break %]
         </tr><tr>
       [%- END %]
     <th>
       [% row2.description %]
     </th>
     <td>
       [% PROCESS cvar_inputs cvar = row2.render_options %]
     </td>
     [%- END %]
   [%- END %]
   </tr>
 </table>

 [%# process non editable cvars extra to not disturb the table layout (this will be hidden inputs) %]
 [%- FOREACH row2 = row.ROW2 %]
   [%- SET hide = (!row2.render_options.var.flag_editable && row2.render_options.hide_non_editable) %]
   [%- IF row2.cvar && hide %]
     [% PROCESS cvar_inputs cvar = row2.render_options %]
   [%- END %]
 [%- END %]

      </td>
     </tr>
[%- END %]

  </table>
 </td>
</tr>
