[%- USE HTML %]
[%- USE T8 %]
[%- USE LxERP %]
[%- USE L %][%- USE P -%]
<h1>[% HTML.escape(title) %]</h1>

[%- SET vclabel = vc == 'customer' ? LxERP.t8('Customer') : LxERP.t8('Vendor') %]
[%- SET vcnumberlabel = vc == 'customer' ? LxERP.t8('Customer Number') : LxERP.t8('Vendor Number') %]
[%- SET vctypelabel = vc == 'customer' ? LxERP.t8('Customer type') : LxERP.t8('Vendor type') %]
[%- SET vcdefault = 'old' _ vc %]
[%- SET style="width: 250px" %]

<form method="post" action="oe.pl" id="form">

<table width="100%">
 <tr>
  <td>
   <table>
    <tr>
     <th align="right">[% HTML.escape(vclabel) %]</th>
     <td>[% L.input_tag(vc, $vcdefault, style=style, class="initial_focus") %]</td>
    </tr>
    <tr>
     <th align="right" nowrap>[% 'Contact Person' | $T8 %]</th>
     <td>[% L.input_tag("cp_name", '', style=style) %]</td>
    </tr>
[%- IF ALL_DEPARTMENTS.size %]
    <tr>
     <th align="right" nowrap>[% 'Department' | $T8 %]</th>
     <td colspan=3>[% L.select_tag('department_id', ALL_DEPARTMENTS, default = department_id, title_key = 'description', with_empty = 1, style=style) %]</td>
    </tr>
[%- END %]
    <tr>
     <th align="right">[% HTML.escape(ordlabel) %]</th>
     <td>[% L.input_tag(ordnrname, "", style=style) %]</td>
    </tr>
[% IF is_order %]
    <tr>
     <th align="right">[% LxERP.t8("Customer Order Number") %]</th>
     <td>[% L.input_tag("cusordnumber", '', style=style) %]</td>
    </tr>
[% END %]
    <tr>
     <th align="right">[% 'Employee' | $T8 %]</th>
     <td>[% L.select_tag('employee_id', ALL_EMPLOYEES, title_key='safe_name', with_empty=1, style=style) %]</td>
    </tr>
    <tr>
     <th align="right">[% 'Salesman' | $T8 %]</th>
     <td>[% L.select_tag('salesman_id', ALL_EMPLOYEES, title_key='safe_name', with_empty=1, style=style) %]</td>
    </tr>
    <tr>
     <th align="right">[% 'Steuersatz' | $T8 %]</th>
     <td>[% L.select_tag('taxzone_id', ALL_TAXZONES, with_empty=1, title_key='description', style=style) %]</td>
    </tr>
    <tr>
     <th align="right">[% 'Shipping Point' | $T8 %]</th>
     <td>[% L.input_tag('shippingpoint', '', style=style) %]</td>
    </tr>
    <tr>
     <th align="right">[% 'Transaction description' | $T8 %]</th>
     <td>[% L.input_tag("transaction_description", "", style=style) %]</td>
     <th align="right">[% 'Part Description' | $T8 %]</th>
     <td>[% L.input_tag("parts_description", "", style=style) %]</td>
    </tr>
    <tr>
     <th align="right">[% 'Project' | $T8 %]</th>
     <td>[% P.project.picker("project_id", '', style=style) %]</td>
     <th align="right">[% 'Part Number' | $T8 %]</th>
     <td>[% L.input_tag("parts_partnumber", "", style=style) %]</td>
    </tr>
    [%- UNLESS ALL_BUSINESS_TYPES.size == 0 %]
    <tr>
     <th align="right" nowrap>[% vctypelabel %]</th>
     <td>
      [% L.select_tag('business_id', ALL_BUSINESS_TYPES, title_key = 'description', with_empty = 1, style=style) %]
     </td>
    </tr>
    [%- END %]
    <tr>
     <th align="right">[% 'Internal Notes' | $T8 %]</th>
     <td>[% L.input_tag('intnotes', '', style=style) %]</td>
    </tr>
    <tr>
     <th align="right">[% IF is_order %][% 'Order Date' | $T8 %][% ELSE %][% 'Quotation Date' | $T8 %][% END %] [% 'From' | $T8 %]</th>
     <td>
       [% L.date_tag('transdatefrom') %]
       [% 'Bis' | $T8 %]
      [% L.date_tag('transdateto') %]
     </td>
    </tr>
    <tr>
     <th align="right">[% IF is_order %][% 'Delivery Date' | $T8 %][% ELSE %][% 'Valid until' | $T8 %][% END %] [% 'From' | $T8 %]</th>
     <td>
       [% L.date_tag('reqdatefrom') %]
       [% 'Bis' | $T8 %]
       [% L.date_tag('reqdateto') %]
     </td>
    </tr>

    [%- IF type == 'sales_order' %]
    <tr>
     <th align="right">[% 'Insert Date' | $T8 %] [% 'From' | $T8 %]</th>
     <td>
       [% L.date_tag('insertdatefrom') %]
       [% 'Bis' | $T8 %]
       [% L.date_tag('insertdateto') %]
     </td>
    </tr>
    [%- END %]

[%- IF type == 'sales_quotation' %]
    <tr>
     <th align="right">[% 'Expected billing date' | $T8 %] [% 'From' | $T8 %]</th>
     <td>
      [% L.date_tag('expected_billing_date_from', '') %]
      [% 'Bis' | $T8 %]
      [% L.date_tag('expected_billing_date_to', '') %]
     </td>
    </tr>
    <tr>
     <th align="right">[% 'Order probability' | $T8 %]</th>
     <td>
      [% L.select_tag('order_probability_op', [[ 'ge', '>=' ], [ 'le', '<=' ]]) %]
      [% L.select_tag('order_probability_value', ORDER_PROBABILITIES, title='title', with_empty=1) %]
     </td>
    </tr>
[%- END %]

[%- IF CT_CUSTOM_VARIABLES.size %]
    <tr>
      <td></td>
      <td colspan=4 align=left><b>[% 'Custom variables for module' | $T8 %]: [%'Customers and vendors' | $T8 %]</b></td>
    </tr>
    [% CT_CUSTOM_VARIABLES_FILTER_CODE %]
[%- END %]

    <tr>
     <th align="right">[% 'Include in Report' | $T8 %]</th>
     <td colspan="5">
      <table>
       <tr>
        <td>
         <input type="checkbox" name="open" value="1" id="open" checked>
         <label for="open">[% 'Open' | $T8 %]</label>
        </td>
        <td>
         <input type="checkbox" name="closed" value="1" id="closed">
         <label for="closed">[% 'Closed' | $T8 %]</label>
        </td>
       </tr>
[%- IF type == 'sales_order' OR type == 'purchase_order' %]
       <tr>
        <td>
         <input name="notdelivered" id="notdelivered" class="checkbox" type="checkbox" value="1" checked>
         <label for="notdelivered">[% 'Not delivered' | $T8 %]</label>
        </td>
        <td>
         <input name="delivered" id="delivered" class="checkbox" type="checkbox" value="1" checked>
         <label for="delivered">[% 'Delivery Order(s) for full qty created' | $T8 %]</label>
        </td>
       </tr>
[%- END %]
[%- IF type == 'sales_order' %]
       <tr>
        <td>
         [% L.checkbox_tag("periodic_invoices_active", label => LxERP.t8("Periodic invoices active")) %]
        </td>
        <td>
         [% L.checkbox_tag("periodic_invoices_inactive", label => LxERP.t8("Periodic invoices inactive")) %]
        </td>
       </tr>
[%- END %]
       <tr>
        <td>
         <input name="l_id" id="l_id" class="checkbox" type="checkbox" value="Y">
         <label for="l_id">[% 'ID' | $T8 %]</label>
        </td>
        <td>
         <input name="l_[% HTML.escape(ordnrname) %]" id="l_[% HTML.escape(ordnrname) %]" class="checkbox" type="checkbox" value="Y" checked>
         <label for="l_[% HTML.escape(ordnrname) %]">[% HTML.escape(ordlabel) %]</label>
        </td>
[% IF is_order %]
        <td>
         <input name="l_cusordnumber" id="l_cusordnumber" class="checkbox" type="checkbox" value="Y" checked>
         <label for="l_cusordnumber">[% LxERP.t8("Customer Order Number") %]</label>
        </td>
[% END %]
       </tr>
       <tr>
        <td>
         <input name="l_transdate" id="l_transdate" class="checkbox" type="checkbox" value="Y" checked>
         <label for="l_transdate">[% 'Date' | $T8 %]</label>
        </td>
        <td>
         <input name="l_reqdate" id="l_reqdate" class="checkbox" type="checkbox" value="Y" checked>
         <label for="l_reqdate">[% IF is_order %][% 'Required by' | $T8 %][% ELSE %][% 'Valid until' | $T8 %][% END %]</label>
        </td>
        [%- IF type == 'sales_order' %]
        <td>
          <input name="l_insertdate" id="l_insertdate" class="checkbox" type="checkbox" value="Y">
          <label for="l_insertdate">[% 'Insert Date' | $T8 %]</label>
        </td>
        [%- END %]
       </tr>
       <tr>
        <td>
         <input name="l_name" id="l_name" class="checkbox" type="checkbox" value="Y" checked>
         <label for="l_name">[% HTML.escape(vclabel) %]</label>
        </td>
        <td>
         <input name="l_employee" id="l_employee" class="checkbox" type="checkbox" value="Y" checked>
         <label for="l_employee">[% 'Employee' | $T8 %]</label>
        </td>
        <td>
         <input name="l_shipvia" id="l_shipvia" class="checkbox" type="checkbox" value="Y">
         <label for="l_shipvia">[% 'Ship via' | $T8 %]</label>
        </td>
       </tr>
       <tr>
        <td>
         <input name="l_customernumber" id="l_customernumber" class="checkbox" type="checkbox" value="Y">
         <label for="l_customernumber">[% 'Customer Number' | $T8 %]</label>
        </td>
        <td>[%- L.checkbox_tag('l_taxzone',       label => LxERP.t8('Steuersatz'))     %]</td>
        <td>[%- L.checkbox_tag('l_shippingpoint', label => LxERP.t8('Shipping Point')) %]</td>
       </tr>
       <tr>
        <td>
         <input name="l_netamount" id="l_netamount" class="checkbox" type="checkbox" value="Y">
         <label for="l_netamount">[% 'Amount' | $T8 %]</label>
        </td>
        <td>
         <input name="l_tax" id="l_tax" class="checkbox" type="checkbox" value="Y">
         <label for="l_tax">[% 'Tax' | $T8 %]</label>
        </td>
        <td>
         <input name="l_amount" id="l_amount" class="checkbox" type="checkbox" value="Y" checked>
         <label for="l_amount">[% 'Total' | $T8 %]</label>
        </td>
       </tr>
       <tr>
        <td>
         <input name="l_marge_total" id="l_marge_total" class="checkbox" type="checkbox" value="Y">
         <label for="l_marge_total">[% 'Ertrag' | $T8 %]</label>
        </td>
        <td>
         <input name="l_marge_percent" id="l_marge_percent" class="checkbox" type="checkbox" value="Y">
         <label for="l_marge_percent">[% 'Ertrag prozentual' | $T8 %]</label>
        </td>
        <td>
         <input name="l_payment_terms" id="l_payment_terms" class="checkbox" type="checkbox" value="Y">
         <label for="l_payment_terms">[% 'Payment Terms' | $T8 %]</label>
        </td>
       </tr>
       <tr>
        <td>
         <input name="l_globalprojectnumber" id="l_globalprojectnumber" class="checkbox" type="checkbox" value="Y">
         <label for="l_globalprojectnumber">[% 'Project Number' | $T8 %]</label>
        </td>
        <td>
         <input name="l_transaction_description" id="l_transaction_description" class="checkbox" type="checkbox" value="Y"[% IF INSTANCE_CONF.get_require_transaction_description_ps %] checked[% END %]>
         <label for="l_transaction_description">[% 'Transaction description' | $T8 %]</label>
        </td>
        <td>
         [%- L.checkbox_tag('l_department', label => LxERP.t8('Department')) %]
        </td>

       </tr>
       <tr>
        <td>
         <input name="l_subtotal" id="l_subtotal" class="checkbox" type="checkbox" value="Y">
         <label for="l_subtotal">[% 'Subtotal' | $T8 %]</label>
        </td>
        <td>
         <input name="l_salesman" id="l_salesman" class="checkbox" type="checkbox" value="Y">
         <label for="l_salesman">[% 'Salesman' | $T8 %]</label>
        </td>
        <td>
         <input name="l_intnotes" id="l_intnotes" class="checkbox" type="checkbox" value="Y">
         <label for="l_intnotes">[% 'Internal Notes' | $T8 %]</label>
        </td>
       </tr>
[% IF type == 'sales_quotation' %]
       <tr>
        <td colspan="2">
         <input name="l_order_probability_expected_billing_date" id="l_order_probability_expected_billing_date" class="checkbox" type="checkbox" value="Y">
         <label for="l_order_probability_expected_billing_date">[% 'Order probability & expected billing date' | $T8 %]</label>
        </td>
       </tr>
[%- END %]
       <tr>
        <td>
         <input name="l_remaining_amount" id="l_remaining_amount" class="checkbox" type="checkbox" value="Y">
         <label for="l_remaining_amount">[% 'Remaining Amount' | $T8 %]</label>
        </td>
        <td>
         <input name="l_remaining_netamount" id="l_remaining_netamount" class="checkbox" type="checkbox" value="Y">
         <label for="l_remaining_netamount">[% 'Remaining Net Amount' | $T8 %]</label>
        </td>
       </tr>
       <tr>
        <td colspan=4 align=left><b>[% HTML.escape(vclabel) %]</b></td>
       </tr>
       <tr>
        <td>
         <input name="l_vcnumber" id="l_vcnumber" class="checkbox" type="checkbox" value="Y">
         <label for="l_vcnumber">[% HTML.escape(vcnumberlabel) %]</label>
        </td>
        <td>
         <input name="l_country" id="l_country" class="checkbox" type="checkbox" value="Y">
         <label for="l_country">[% 'Country' | $T8 %]</label>
        </td>
        <td>
         <input name="l_ustid"  id="l_ustid" class="checkbox" type="checkbox" value="Y">
         <label for="l_ustid">[% 'USt-IdNr.' | $T8 %]</label>
        </td>
       </tr>

      [% CT_CUSTOM_VARIABLES_INCLUSION_CODE %]

      </table>
     </td>
    </tr>
   </table>
  </td>
 </tr>
</table>

<input type="hidden" name="vc" value="[% HTML.escape(vc) %]">
<input type="hidden" name="type" value="[% HTML.escape(type) %]">
<input type="hidden" name="action" value="orders">
</form>
