[% USE HTML %][% USE L %][% USE LxERP %][%- USE P -%]

 <h1>[% FORM.title %]</h1>

[%- INCLUDE 'common/flash.html' %]

 <table id="email_journal_details" class="email_journal_details">
  <tbody>
   <tr class="listrow">
    <th>[%- LxERP.t8("From") %]</th>
    <td>[%- HTML.escape(SELF.entry.from) %]</td>
   </tr>

   <tr class="listrow">
    <th>[%- LxERP.t8("Recipients") %]</th>
    <td>[%- HTML.escape(SELF.entry.recipients) %]</td>
   </tr>

   <tr class="listrow">
    <th>[%- LxERP.t8("Subject") %]</th>
    <td>[%- HTML.escape(SELF.entry.subject) %]</td>
   </tr>

   <tr class="listrow">
    <th>[%- LxERP.t8("Sent on") %]</th>
    <td>[%- HTML.escape(SELF.entry.sent_on.to_lxoffice("precision" => "second")) %]</td>
   </tr>

   <tr class="listrow">
    <th>[%- LxERP.t8("Status") %]</th>
    <td>
        [% P.email_journal.entry_status(SELF.entry) %]
    </td>
   </tr>

   <tr class="listrow">
    <th>[%- LxERP.t8("Extended status") %]</th>
    <td><pre>[%- HTML.escape(SELF.entry.extended_status) %]</pre></td>
   </tr>

   <tr class="listrow">
    <th>[%- LxERP.t8("Headers") %]</th>
    <td><pre>[% HTML.escape(SELF.entry.headers) %]</pre></td>
   </tr>

   <tr class="listrow">
    <th>[%- LxERP.t8("Body") %]</th>
    <td>
     [%- IF SELF.entry.headers.match('(?i)content-type:.*text/html') %]
      [% P.restricted_html(SELF.entry.body) %]
     [%- ELSE %]
      <pre>[% HTML.escape(SELF.entry.body) %]</pre>
     [%- END %]
    </td>
   </tr>
 </table>

 [% SET attachments = SELF.entry.attachments_sorted %]
  <h2>[% LxERP.t8("Attachments") %]</h2>
 [% IF attachments.size %]

  <table id="email_journal_details" class="email_journal_details">
   <thead>
    <tr>
     <th>[% LxERP.t8("Attachment name") %]</th>
     <th>[% LxERP.t8("MIME type") %]</th>
     <th>[% LxERP.t8("Size") %]</th>
    </tr>
   </thead>

   <tbody>
    [% FOREACH attachment = attachments %]
     <tr class="listrow">
      <td>[% L.link(SELF.url_for(action="download_attachment", id=attachment.id), attachment.name) %]</td>
      <td>[% HTML.escape(attachment.mime_type) %]</td>
      <td>[% HTML.escape(LxERP.format_amount(attachment.content.length, 0)) %]</td>
     </tr>
    [% END %]
   </tbody>
  </table>
 [% END %]

[% IF SELF.entry.status == 'imported' || SELF.entry.status == 'record_imported' %]
<form method="post" action="controller.pl" id="record_action_form">
  [% L.hidden_tag('email_journal_id', SELF.entry.id) %]

  <table> <tr>
    <td>
      [% L.select_tag('attachment_id',
           attachments, value_key='id', title_key='name',
           default = attachments.0.id,
           with_empty=1, empty_value='', empty_title=LxERP.t8("No attachment"),
           'data-title'=LxERP.t8("Attachment"), class="wi-normal",
           onchange='kivi.EmailJournal.update_attachment_preview();'
           )
        %]
    </td>

    <td>
      [% L.select_tag('record_action',
         # id has to start with customer_ or vendor_ for picker selection
         [
           [ LxERP.t8("Hard linking"), [
             {id => "link_sales_quotation",           name => LxERP.t8("Link to sales quotation")},
             {id => "link_sales_order_intake",        name => LxERP.t8("Link to sales order intake")},
             {id => "link_sales_order",               name => LxERP.t8("Link to sales order")},
             {id => "link_request_quotation",         name => LxERP.t8("Link to request quotation")},
             {id => "link_purchase_quotation_intake", name => LxERP.t8("Link to purchase quotation intake")},
             {id => "link_purchase_order",            name => LxERP.t8("Link to purchase order")},

           ] ],
           [ LxERP.t8("Sales"), [
               {id => "customer_sales_order",  name => LxERP.t8("Create sales order")},
               {id => "customer_sales_order_intake",  name => LxERP.t8("Create sales order intake")},
               {id => "customer_sales_quotation",  name => LxERP.t8("Create sales quotation")},
           ] ],
           [ LxERP.t8("Purchase"), [
               {id => "vendor_purchase_order", name => LxERP.t8("Create purchase order")},
               {id => "vendor_purchase_quotation_intake", name => LxERP.t8("Create purchase quotation intake")},
               {id => "vendor_request_quotation", name => LxERP.t8("Create request quotation")},

           ] ],
         ],
         value_key='id', title_key='name',
         with_empty=1, empty_value='', empty_title=LxERP.t8("No action"),
         with_optgroups=1,
         class="wi-normal",
         onchange='kivi.EmailJournal.update_extra_div_selection();'
         ) %]
    </td>

    <td>
      [% FOREACH cv_type_name = [['customer', 'Customer'], ['vendor', 'Vendor']] %]
      [% SET cv_type = cv_type_name.0 %]
      [% SET cv_name = cv_type_name.1 %]
      <div id="[% cv_type _ "_div" %]" style="display:none">
        [% P.customer_vendor.picker(
             cv_type _ "_id", SELF.find_cv_from_email(cv_type, SELF.entry),
             type=cv_type, class="wi-normal", placeholder=LxERP.t8(cv_name)
             ) %]
      </div>
      [% END %]
      [% FOREACH record_type  = [
           'sales_quotation', 'sales_order_intake', 'sales_order',
           'request_quotation', 'purchase_quotation_intake', 'purchase_order'
           ] %]
      <div id="[% "link_" _ record_type _ "_div" %]" style="display:none">
        [% L.input_tag(record_type _ "_id", '',
             style="color:black", class="wi-normal",
             placeholder=record_type _ " id") %]
      </div>
      [% END %]
      <div id="placeholder_div" style="display:block">
        [% L.input_tag('cv_placeholder', '',
             style="color:black", class="wi-normal", disabled=1,
             placeholder=LxERP.t8("Select action first"),
             ) %]
      </div>
    </td>

    <td>
      [% L.button_tag('kivi.EmailJournal.apply_record_action();', LxERP.t8('Apply with Attachment')) %]
    </td>
  </tr> </table>
</form>

<!-- kivi.EmailJournal.update_attachment_preview -->
<div id="attachment_preview"></div>
[% END %]
