[% USE HTML %][% USE L %][% USE LxERP %][%- USE P -%]

 <h1>[% FORM.title %]</h1>

[%- INCLUDE 'common/flash.html' %]

 <table id="email_journal_details" class="email_journal_details">
  <tbody>
   <tr class="listrow">
    <th>[%- LxERP.t8("From") %]</th>
    <td>[%- HTML.escape(SELF.entry.from) %]</td>
   </tr>

   <tr class="listrow">
    <th>[%- LxERP.t8("Recipients") %]</th>
    <td>[%- HTML.escape(SELF.entry.recipients) %]</td>
   </tr>

   <tr class="listrow">
    <th>[%- LxERP.t8("Subject") %]</th>
    <td>[%- HTML.escape(SELF.entry.subject) %]</td>
   </tr>

   <tr class="listrow">
    <th>[%- LxERP.t8("Sent on") %]</th>
    <td>[%- HTML.escape(SELF.entry.sent_on.to_lxoffice("precision" => "second")) %]</td>
   </tr>

   <tr class="listrow">
    <th>[%- LxERP.t8("Status") %]</th>
    <td>
        [% P.email_journal.entry_status(SELF.entry) %]
    </td>
   </tr>

   <tr class="listrow">
    <th>[%- LxERP.t8("Extended status") %]</th>
    <td><pre>[%- HTML.escape(SELF.entry.extended_status) %]</pre></td>
   </tr>

   <tr class="listrow">
    <th>[%- LxERP.t8("Headers") %]</th>
    <td><pre>[% HTML.escape(SELF.entry.headers) %]</pre></td>
   </tr>

   <tr class="listrow">
    <th>[%- LxERP.t8("Body") %]</th>
    <td>
     [%- IF SELF.entry.headers.match('(?i)content-type:.*text/html') %]
      [% P.restricted_html(SELF.entry.body) %]
     [%- ELSE %]
      <pre>[% HTML.escape(SELF.entry.body) %]</pre>
     [%- END %]
    </td>
   </tr>
 </table>

 [% SET attachments = SELF.entry.attachments_sorted %]
  <h2>[% LxERP.t8("Attachments") %]</h2>
 [% IF attachments.size %]

  <table id="email_journal_details" class="email_journal_details">
   <thead>
    <tr>
     <th>[% LxERP.t8("Attachment name") %]</th>
     <th>[% LxERP.t8("MIME type") %]</th>
     <th>[% LxERP.t8("Size") %]</th>
    </tr>
   </thead>

   <tbody>
    [% FOREACH attachment = attachments %]
     <tr class="listrow">
      <td>[% L.link(SELF.url_for(action="download_attachment", id=attachment.id), attachment.name) %]</td>
      <td>[% HTML.escape(attachment.mime_type) %]</td>
      <td>[% HTML.escape(LxERP.format_amount(attachment.content.length, 0)) %]</td>
     </tr>
    [% END %]
   </tbody>
  </table>
 [% END %]
<div>
  <form method="post" action="controller.pl" id="attachment_form">
    [% L.hidden_tag('id', SELF.entry.id) %]
    [% L.select_tag('attachment_id',
         attachments, value_key='id', title_key='name',
         with_empty=1, empty_value='', empty_title=LxERP.t8("No attachment"),
         'data-title'=LxERP.t8("Attachment"), class="wi-normal",
         onchange='kivi.EmailJournal.update_attachment_preview();'
         )
      %]
    [% L.select_tag('record_type', [ ["value", "Name"] ], class="wi-normal") %]

    [% L.button_tag('kivi.EmailJournal.create_record();', LxERP.t8('Create Record with Attachment')) %]
  </form>

  <!--  <div id="attachment_preview"> -->
  [% P.email_journal.attachment_preview(attachments.0,
       style="width:489px;border:1px solid black;margin:9px") %]
</div>
