/config/authentication.pl
/config/console.conf
/config/kivitendo.conf
/config/lx-erp-local.conf
/config/lx_office.conf
/doc/build/dobudish*
/doc/online/*/*.html
/locale/*/missing
/locale/*/lost
/spool/*

/webdav/*
crm
pod2html*
tags

/users/*
!/users/gdpdu-*.dtd
!/users/html2ps-config
!/users/.openoffice.org2
!/users/.openoffice.org2/**

# autogenerierte Dateien verschiedener Editoren
## vi
.*.sw?
.sw?

# emacs
*~
