/config/authentication.pl
/config/console.conf
/config/kivitendo.conf
/config/lx-erp-local.conf
/config/lx_office.conf
/doc/build/dobudish*
/doc/online/*/*.html
/locale/*/missing
/locale/*/lost
/spool/*
/templates/demo*
/users/*_finanzamt.ini
/users/.cache/
/users/.fonts.cache*
/users/.openoffice.org2/
/users/.recently-used
/users/.texmf-var
/users/console_history
/users/datev-export*
/users/kivitendo-print*
/users/pid/
/users/session_files/
/users/templates-cache/
/users/templates-cache-for-tests/
/users/xvfb_display
/webdav/*
crm
pod2html*
tags
