### Choose a character set (just in case you like to change it here)
### uncomment the line you wish to activate
#AddDefaultCharset ISO-8859-15
#AddDefaultCharset UTF-8

### simple access control by client ip
### uncomment the lines starting with <IfModule ...> until last </IfModule>
### examples for Apache >= 2.4: "Require ip 192.168" or "Require ip 192.168.1" or "Require ip 192.168.178" or "Require ip 217.84.201.2"
### examples for Apache <= 2.2: "Allow from 192.168" or "Allow from 192.168.1" or "Allow from 192.168.178" or "Allow from 217.84.201.2"
#<IfModule mod_authz_core.c>
#  # Apache 2.4
#  Require ip 192.168
#</IfModule>
#<IfModule !mod_authz_core.c>
#  # Apache 2.2
#  Order deny,allow
#  Deny from all
#  Allow from 192.168
#</IfModule>
