# Should always be the default
#AddDefaultCharset UTF-8

### simple access control by client ip
### uncomment the lines starting with <IfModule ...> until last </IfModule>
### examples for Apache >= 2.4: "Require ip 192.168" or "Require ip 192.168.1" or "Require ip 192.168.178" or "Require ip 217.84.201.2"
#<IfModule mod_authz_core.c>
#  # Apache 2.4
#  Require ip 192.168
#</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule .*/(\.git|config)/.*$ - [F,NC]
</IfModule>

