Bernd Bleßmann <bernd@kivitendo-premium.de> <bb@it-entwicklung.de>
Bernd Bleßmann <bernd@kivitendo-premium.de> <bibi@online.de>
Bernd Bleßmann <bernd@kivitendo-premium.de> bernd <bernd@lxbug.(none)>
Bernd Bleßmann <bernd@kivitendo-premium.de> <bernd@dohle>
Christian Wittmer <chris@computersalat.de> ChrisWi <chris@computersalat.de>
Enrique Morales <enrique@kivitendo.de> <13034873+QuiueMora@users.noreply.github.com>
Geoffrey Richardson <information@kivitendo-premium.de>
Geoffrey Richardson <information@kivitendo-premium.de> G. Richardson <grichardson@kivitec.de>
Geoffrey Richardson <information@kivitendo-premium.de> <information@lx-office-hosting.de>
Geoffrey Richardson <information@kivitendo-premium.de> <information@richardson-bueren.de>
Geoffrey Richardson <information@kivitendo-premium.de> grichardson <gr@richardson-bueren.de>
Holger Lindemann <hli@lx-system.de> <hli@debian7.lx-system.de>
Holger Lindemann <hli@lx-system.de> <hli@lenny.hoch.ul>
Jan Büren <jan@kivitendo-premium.de> <jan@baobab.intranet.xplace.de>
Jan Büren <jan@kivitendo-premium.de> <jan@circa-support.eu>
Jan Büren <jan@kivitendo-premium.de> <jan@echinacea.es>
Jan Büren <jan@kivitendo-premium.de> <jan@kivitendo.de>
Jan Büren <jan@kivitendo-premium.de> <jan@lx-office-hosting.de>
Jan Büren <jan@kivitendo-premium.de> <jan@lx-office-premium.de>
Jan Büren <jan@kivitendo-premium.de> <jan@richardson-bueren.de>
Jan Büren <jan@kivitendo-premium.de> <jan@weitan.org>
Jan Büren <jan@kivitendo-premium.de> <root@vc-kivi.vitracom.org>
Jan Büren <jan@kivitendo-premium.de> <root@kivi>
Jason Dobrzanski <j.dobrzanski@ukd.de> <j.dobrzanski@ukd.de>
Joachim Zach <joachim@lx-office-hosting.de> <info@ceos-gmbh.de>
Johannes Grassler <info@computer-grassler.de> <johannes@btw23.de>
Lukas Umlandt <lukas.umlandt@heybyte.de> LU-386 <85061979+LU-386@users.noreply.github.com>
Marei Peischl <marei@peitex.de> Marei (peiTeX) <marei@peitex.de>
Marei Peischl <marei@peitex.de> Marei Peischl (peiTeX) <marei@peitex.de>
Martin Alpers <alpers@zwitscher.it> <martin-alpers@web.de>
Martin Helmling <martin.helmling@octosoft.eu> <MartinHelmling@octo-soft.de>
Martin Helmling <martin.helmling@octosoft.eu> <mh@waldpark.octosoft.eu>
Martin Helmling <martin.helmling@octosoft.eu> Martin Helmling martin.helmling@octosoft.eu
Martin Helmling <martin.helmling@octosoft.eu> Martin Helmling mh@waldpark.octosoft.eu <martin.helmling@octosoft.eu>
Moritz Bunkus <m.bunkus@linet.de> <moritz@bunkus.org>
Moritz Bunkus <m.bunkus@linet.de> <m.bunkus@linet-services.de>
Moritz Bunkus <m.bunkus@linet.de> <mo@bunkus.online>
Niclas Zimmermann <niclas@kivitendo-premium.de> <niclas@lx-office-hosting.de>
Rolf Eike Beer <dakon@users.sf.net> Rolf Eike Beer <eike@sf-mail.de>
Roman Karuschka <karuschka@ok-it-services.de> R. Karuschka <r.karuschka@ok-it-services.de>
Roman Karuschka <karuschka@ok-it-services.de> Roman Karushka <karuschka@ok-it-services.de>
Roman Karuschka <karuschka@ok-it-services.de> roman <roman@omega.ok-it-services.de>
Roman Karuschka <karuschka@ok-it-services.de> <roman.karuschka@nx-it.com>
Sven Schöling <s.schoeling@googlemail.com> <s.schoeling@linet-services.de>
Sven Schöling <s.schoeling@googlemail.com> <sven.schoeling@opendynamic.de>
Sven Schöling <s.schoeling@googlemail.com> <s.schoeling@ths-bs.com>
Sven Schöling <s.schoeling@googlemail.com> <s.schoeling@googlemail.com>
Tamino Steinert <tamino.steinert@tamino.st> Tamino <tamino.steinert@web.de>
Tamino Steinert <tamino.steinert@tamino.st> Tamino <tamino.steinert@tamino.st>
Tamino Steinert <tamino.steinert@tamino.st> Tamino Steinert <74305567+z4m1n0@users.noreply.github.com>
Timo Eickmeyer <timo@kivitendo-premium.de> T. Eickmeyer <timo@kivitendo-premium.de>
Waldemar Toews <waldemar.toews@opendynamic.de> <toews@erp-d300.opendynamic.local>
Wulf Coulmann <wulf@coulmann.de> Wulf <wulf@coulmann.de>
Wulf Coulmann <wulf@coulmann.de> root <root@coulmann.de>
Wulf Coulmann <wulf@coulmann.de> wulf@coulmann.de <root@coulmann.de>
Wulf Coulmann <wulf@coulmann.de> wulf@coulmann.de <wulf@coulmann.de>
