[% USE HTML %][% USE L %][% USE LxERP %]

<h1>[% FORM.title %] — [% LxERP.t8("Step #1/#2", 2, 2) %] — [% LxERP.t8("Query parameters") %]</h1>
<div class="wrapper">
  <form method="post" action="controller.pl" id="form">
    [% L.hidden_tag("id", SELF.query.id) %]
    [% L.hidden_tag("query.name", SELF.query.name) %]
    [% L.hidden_tag("query.access_right", SELF.query.access_right) %]
    [% L.hidden_tag("query.description", SELF.query.description) %]
    [% L.hidden_tag("query.sql_query", SELF.query.sql_query) %]

    [% IF !PARAMETERS.size %]
    <p>
    [% LxERP.t8("The SQL query does not contain any parameter that need to be configured.") %]
    </p>

    [% ELSE %]

    <div class="input-panel control-panel">
      <table class="tbl-plain condensed"> 
        <tbody>
          <tr>
            <td>[% LxERP.t8("Variable Name") %]</td>
            <td>[% LxERP.t8("Type") %]</td>
            <td>[% LxERP.t8("Description") %]</td>
            <td colspan="2">[% LxERP.t8("Default value") %]</td>
          </tr>

          [% FOREACH parameter = PARAMETERS %]
          <tr>
            <td>
              [% L.hidden_tag("parameters[+].name", parameter.name) %]
              [% HTML.escape(parameter.name) %]
            </td>
            <td>
              [% L.select_tag("parameters[].parameter_type", [ [ "text", LxERP.t8("Text") ], [ "number", LxERP.t8("Number") ], [ "date", LxERP.t8("Date") ] ], default=parameter.parameter_type) %]
            </td>
            <td>[% L.input_tag("parameters[].description", parameter.description, class="wi-verywide") %]</td>
            <td>
              [% L.select_tag("parameters[].default_value_type",
              [ [ "none", LxERP.t8("No default value") ], [ "current_user_login", LxERP.t8("Current user's login") ], [ "sql_query", LxERP.t8("Result of SQL query") ],
              [ "fixed_value", LxERP.t8("Fixed value") ] ],
              default=parameter.default_value_type,
              id="default_value_type_" _ loop.count) %]
            </td>
            <td>
              [% SET disabled = (parameter.default_value_type == "none") || (parameter.default_value_type == "current_user_login") ? "disabled" : "" %]
              [% L.textarea_tag("parameters[].default_value", parameter.default_value, id="default_value_" _ loop.count, cols=80, rows=3, disabled=disabled) %]
            </td>
          </tr>
          [% END %]
        </tbody>
        [% END %]
      </table>
    </div>
  </form>
</div>
