[% USE HTML %][% USE L %][% USE LxERP %]

<h1>[% FORM.title %]</h1>

<div class="wrapper">
  [% IF !SELF.queries.size %]
  <p>
  [%- LxERP.t8("No custom reports have been created yet.") %]
  </p>

  [%- ELSE %]
  <table class="tbl-list moderate">
    <colgroup>
      <col class="wi-wide">
      <col>
    </colgroup>
    <thead>
      <tr class="listheading">
        <th>[% LxERP.t8("Name") %]</th>
        <th>[% LxERP.t8("Description") %]</th>
      </tr>
    </thead>

    <tbody>
      [%- FOREACH query = SELF.queries %]
      <tr class="listrow">
        <td>[% L.link(SELF.url_for(action="edit", id=query.id), query.name) %]</td>
        <td>[% IF query.description %][% query.description %][% END %]</td>
      </tr>
      [%- END %]
    </tbody>
  </table>
  [%- END %]
</div>
