[% USE T8 %]
[% USE HTML %]

<h1>[% title %]</h1>

[% IF type == 'templates' %]
  <p style="text-align: right;">[<a href="doc/html/ch03s03.html" target="_blank" title="[% 'Open in new window' | $T8 %]">[% 'Help Template Variables' | $T8 %]</a>]</p>
[% END %]

<form method="post" name="Form" action="amtemplates.pl" id="form">
[% FOREACH var = HIDDEN %]<input type="hidden" name="[% HTML.escape(var.name) %]" value="[% HTML.escape(var.value) %]">[% END %]

[% IF SHOW_EDIT_OPTIONS %]
<table class="tbl-horizontal">
  <colgroup> <col class="wi-small"><col class="wi-lightwide"> </colgroup>
  <tbody>
    <tr>
      <th>[% 'Template' | $T8 %]</th>
      <td>
        <select name="formname">
          [% FOREACH row = FORMNAME %]<option value="[% HTML.escape(row.value) %]" [% IF row.value == formname %]selected[% END %]>[% HTML.escape(row.label) %]</option>[% END %]
        </select>
      </td>
    </tr>
    [% IF LANGUAGE.size %]
    <tr>
      <th>[% 'Language' | $T8 %]</th>
      <td>
        <select name="language">
          <option></option>
          [% FOREACH row = LANGUAGE %]<option value="[% HTML.escape(row.value) %]" [% IF row.value == language %]selected[% END %]>[% HTML.escape(row.label) %]</option>[% END %]
        </select>
      </td>
    </tr>
    [% END %]
    [% IF PRINTER.size %]
    <tr>
      <th>[% 'Printer' | $T8 %]</th>
      <td>
      <select name="printer">
        <option></option>
        [% FOREACH row = PRINTER %]<option value="[% HTML.escape(row.value) %]" [% IF row.value == printer %]selected[% END %]>[% HTML.escape(row.label) %]</option>[% END %]
      </select>
      </td>
    </tr>
    [% END %]
  </tbody>
</table>

<input type="hidden" name="display_nextsub" value="display_template">
<input name="action" type="submit" value="[% 'Display' | $T8 %]">
[% END %]

[% IF SHOW_CONTENT %]
  <h2>
    [% IF CAN_EDIT %][% 'Edit file' | $T8 %][% ELSE %][% 'Display file' | $T8 %][% END %]
    [% HTML.escape(display_filename) %]
  </h2>

  [% IF CAN_EDIT %]
    <p><textarea name="content" id="edit_content" cols="100" rows="25"[% IF edit %] class="initial_focus"[% END %]>[% HTML.escape(content) %]</textarea></p>
  [% ELSE %]
    <p><pre class="filecontent">[% HTML.escape(content) %]</pre></p>
  [% END %] <!-- CAN_EDIT -->

[% END %] <!-- SHOW_CONTENT -->

</form>
