[% USE HTML %][% USE L %][% USE LxERP %]
<h1>[% FORM.title %]</h1>

[%- INCLUDE 'common/flash.html' %]

 <form method="post" action="controller.pl">
  [% IF !REQUIREMENT_SPEC_TYPES.size %]
   <p>
    [%- LxERP.t8('No requirement spec type has been created yet.') %]
   </p>

  [%- ELSE %]
   <table id="requirement_spec_type_list">
    <thead>
    <tr class="listheading">
     <th align="center"><img src="image/updown.png" alt="[%- LxERP.t8('reorder item') %]"></th>
     <th>[%- LxERP.t8('Description') %]</th>
     <th>[%- LxERP.t8('Section number format') %]</th>
     <th>[%- LxERP.t8('Function block number format') %]</th>
    </tr>
    </thead>

    <tbody>
    [%- FOREACH requirement_spec_type = REQUIREMENT_SPEC_TYPES %]
    <tr class="listrow[% loop.count % 2 %]" id="requirement_spec_type_id_[% requirement_spec_type.id %]">
     <td align="center" class="dragdrop"><img src="image/updown.png" alt="[%- LxERP.t8('reorder item') %]"></td>
     <td>
      <a href="[% SELF.url_for(action => 'edit', id => requirement_spec_type.id) %]">
       [%- HTML.escape(requirement_spec_type.description) %]
      </a>
     </td>

     <td>[% HTML.escape(requirement_spec_type.section_number_format) %]</td>
     <td>[% HTML.escape(requirement_spec_type.function_block_number_format) %]</td>
    </tr>
    [%- END %]
    </tbody>
   </table>
  [%- END %]

  <p>
   <a href="[% SELF.url_for(action => 'new') %]">[%- LxERP.t8('Create a new requirement spec type') %]</a>
  </p>
 </form>

 [% L.sortable_element('#requirement_spec_type_list tbody', url => 'controller.pl?action=RequirementSpecType/reorder', with => 'requirement_spec_type_id') %]
