[% USE HTML %][% USE L %][% USE LxERP %]
<h1>[% FORM.title %]</h1>

 <form method="post" action="controller.pl">

[%- INCLUDE 'common/flash.html' %]

  <table>
   <tr>
    <td>[% LxERP.t8('Description') %]</td>
    <td>[% L.input_tag("part_classification.description",  LxERP.t8(SELF.part_classification.description)) %]</td>
   </tr>
   <tr>
    <td>[% LxERP.t8('TypeAbbreviation') %]</td>
    <td>[% L.input_tag("part_classification.abbreviation",  LxERP.t8(SELF.part_classification.abbreviation),size=>"2",maxlength=>"2" ) %]</td>
   </tr>
   <tr>
    <td>[% LxERP.t8('Used for Purchase') %]</td>
    <td>[% L.checkbox_tag("part_classification.used_for_purchase", checked=(SELF.part_classification.used_for_purchase ? 1:'')) %]</td>
   </tr>
   <tr>
    <td>[% LxERP.t8('Used for Sale') %]</td>
    <td>[% L.checkbox_tag("part_classification.used_for_sale", checked=(SELF.part_classification.used_for_sale ? 1:'')) %]</td>
   </tr>
  </table>

  <p>
   [% L.hidden_tag("id", SELF.part_classification.id) %]
   [% L.hidden_tag("action", "PartClassification/dispatch") %]
   [% L.submit_tag("action_" _ (SELF.part_classification.id ? 'update' : 'create'), LxERP.t8('Save')) %]
   [%- IF SELF.part_classification.id %]
    [% L.submit_tag("action_destroy", LxERP.t8('Delete'), confirm=LxERP.t8('Do you really want to delete this object?')) %]
   [%- END %]
   <a href="[% SELF.url_for(action => 'list') %]">[% LxERP.t8('Abort') %]</a>
  </p>

 </form>
