[%- USE HTML %]
[%- USE T8 %]
[%- USE L %]
[%- USE LxERP %]

<h1>[% title | html %]</h1>

<div class="wrapper">

[% IF carry_over_chart AND profit_chart AND (loss_chart OR SELF.defaults.yearend_method == 'simple') %] [% THEN %]
<form id="filter" name="filter" method="post" action="controller.pl">
<table class="tbl-horizontal">
  <tr>
    <td>[% 'Year-end date' | $T8 %]</td>
    <td>[% L.date_tag('cb_date', SELF.cb_date) %]</td>
  </tr>
  <tr class="startdate">
   <td>[% 'Startdate method' | $T8 %]</td>
   <td>[% L.select_tag('balance_startdate_method', balance_startdate_method_options, value_key = 'value', title_key = 'title') %]</td>
  </tr>
  <tr class="startdate">
    <td>[% 'Start date' | $T8 %]</td>
    <td>[% L.date_tag('cb_startdate', '', readonly=1) %]</td>
  </tr>
  [% IF SELF.defaults.yearend_method == 'simple' %] [% THEN %]
  <tr>
    <td>[% 'Year-end closing account' | $T8 %]</td>
    <td>[% carry_over_chart.displayable_name | html %]</td>
  </tr>
  <tr>
    <td>[% 'Profit or loss carried forward account' | $T8 %]</td>
    <td>[% profit_chart.displayable_name | html %]</td>
  </tr>
  [% ELSE %]
  <tr>
    <td>[% 'Carry over account for year-end closing' | $T8 %]</td>
    <td>[% carry_over_chart.displayable_name | html %]</td>
  </tr>
  <tr>
    <td>[% 'Profit carried forward account' | $T8 %]</td>
    <td>[% profit_chart.displayable_name | html %]</td>
  </tr>
  <tr>
    <td>[% 'Loss carried forward account' | $T8 %]</td>
    <td>[% loss_chart.displayable_name | html %]</td>
  </tr>
  [% END %]
</table>
</form>
[% ELSIF SELF.defaults.yearend_method == 'simple' %]
  [% 'Please configure the year-end closing and the profit or loss carried forward accounts for year-end closing in the client configuration!' | $T8 %]
[% ELSE %]
  [% 'Please configure the carry over and profit and loss accounts for year-end closing in the client configuration!' | $T8 %]
[% END %]

[% # L.button_tag("refresh_charts();", LxERP.t8("Preview")) %]
[% L.button_tag("year_end_bookings();", LxERP.t8("Apply year-end bookings"), id='apply_year_end_bookings_button', confirm=LxERP.t8("Are you sure?")) %]

<div id="charts" style="padding-top: 20px">
</div>

</div> <!-- wrapper -->

<script type="text/javascript">

  function get_startdate() {
    $.get("controller.pl", {
      action:                   'YearEndTransactions/get_start_date',
      cb_date:                  $('#cb_date').val(),
      balance_startdate_method: $('#balance_startdate_method').val()
    }, kivi.eval_json_result)
  }

  function year_end_bookings() {
    $.post("controller.pl", {
      action:  'YearEndTransactions/year_end_bookings',
      cb_date: $('#cb_date').val(),
    }, kivi.eval_json_result)
  }

  function refresh_charts() {
    var filterdata = $('#filter').serialize()
    var url = './controller.pl?action=YearEndTransactions/update_charts&' + filterdata;
    $.ajax({
       url : url,
       type: 'GET',
       success: function(data){
           $('#charts').html(data);
       }
    })
  };

$(function(){

  $('#apply_year_end_bookings_button').hide();
  $('.startdate').hide();

  $('#balance_startdate_method').change(function(){
    get_startdate();
    setTimeout(function() {
      refresh_charts();
    }, 200);    
  });

  $('#cb_date').change(function(){
    get_startdate();
    setTimeout(function() {
      refresh_charts();
    }, 200);    
  });
})

</script>
