[%- USE L %][%- USE LxERP %][%- USE HTML %]
<div>
 <form action="controller.pl" method="post" id="search_form">
  <div class="filter_toggle" [% IF noshow == 0 %]style="display:none"[% END %]>
   <a href="#" onClick="javascript:$('.filter_toggle').toggle()">[% LxERP.t8('Show Filter') %]</a>
      [% SELF.filter_summary %]
  </div>

  <div class="filter_toggle" [% IF noshow  == 1 %]style="display:none"[% END %]>
   <a href="#" onClick="javascript:$('.filter_toggle').toggle()">[% LxERP.t8('Hide Filter') %]</a>
   <table id="filter_table">
    <tr>
     <th align="right">[% LxERP.t8('Customer') %]</th>
     <td>[% L.input_tag('filter.customer.name:substr::ilike', filter.customer.name_substr__ilike, size = 20) %]</td>
    </tr>
    <tr>
     <th align="right">[% LxERP.t8('Customer type') %]</th>
     <td>
      [% L.select_tag('filter.customer.business_id', SELF.all_businesses,
                      default    => filter.customer.business_id
                      title_key  => 'description',
                      value_key  => 'id',
                      with_empty => 1,
                      style      => 'width: 200px') %]
     </td>
    </tr>
    <tr>
     <th align="right">[% LxERP.t8('Delivery Order Date') %] [% LxERP.t8('From Date') %]</th>
     <td>[% L.date_tag('filter.transdate:date::ge', filter.transdate_date__ge) %]</td>
    </tr>
    <tr>
     <th align="right">[% LxERP.t8('Delivery Order Date') %] [% LxERP.t8('To Date') %]</th>
     <td>[% L.date_tag('filter.transdate:date::le', filter.transdate_date__le) %]</td>
    </tr>
  </table>

   [% L.hidden_tag('action', 'MassInvoiceCreatePrint/' _ LIST_ACTION, id='filter_action') %]
   [% L.hidden_tag('sort_by', FORM.sort_by) %]
   [% L.hidden_tag('sort_dir', FORM.sort_dir) %]
   [% L.hidden_tag('page', FORM.page) %]
   [% L.button_tag('$("#search_form").resetForm()', LxERP.t8('Reset')) %]
  </div>

 </form>
</div>
