[% USE Dumper %][% USE HTML %][% USE L %][% USE LxERP %]


<h1>[% FORM.title %]</h1>

[%- INCLUDE "common/flash.html" %]

[% LIST_ACTION  = 'list_sales_delivery_orders' %]
[% SET MODELS = SELF.sales_delivery_order_models;
       dummy  = MODELS.finalize %]

[%- PROCESS 'mass_invoice_create_print_from_do/_filter.html' filter=SELF.sales_delivery_order_models.filtered.laundered  %]

[% IF noshow == 1 %]
  [% SET sales_delivery_orders = MODELS.get %]
   <form method="post" action="controller.pl">
  [% IF !sales_delivery_orders.size %]
     <p>
    [%- LxERP.t8("There are currently no open sales delivery orders.") %]
     </p>
  [%- ELSE %]
    <table width="100%">
     <thead>
      <tr class="listheading">
       <th>[% L.checkbox_tag("", id="check_all", checkall="[data-checkall=1]") %]</th>
       <th>[% L.sortable_table_header("transdate") %]</th>
       <th>[% L.sortable_table_header("donumber") %]</th>
       <th>[% L.sortable_table_header("ordnumber") %]</th>
      <th>[% L.sortable_table_header("customer") %]</th>
     </tr>
     </thead>

     <tbody>
     [%- FOREACH sales_delivery_order = sales_delivery_orders %]
     <tr class="listrow">
      <td>[% L.checkbox_tag('id[]', value=sales_delivery_order.id, "data-checkall"=1) %]</td>
      <td>[% HTML.escape(sales_delivery_order.transdate_as_date) %]</td>
      <td>[% L.link(SELF.url_for(controller="controller.pl", action="DeliveryOrder/edit", id=sales_delivery_order.id), sales_delivery_order.donumber) %]</td>
      <td>[% L.link(SELF.url_for(controller="controller.pl", action="Order/edit", type="sales_order", id=sales_delivery_order.sales_order.id), sales_delivery_order.ordnumber) %]</td>
      <td>[% HTML.escape(sales_delivery_order.customer.name) %]</td>
     </tr>
     [%- END %]
     </tbody>
    </table>

    [% L.paginate_controls %]

    <div id="create_print_all_dialog" style="display: none;">
     [%- INCLUDE 'mass_invoice_create_print_from_do/_create_print_all_step_1.html' %]
    </div>
  [%- END %]
 </form>
[%- END %]
