[%- USE LxERP -%][%- USE L -%][%- USE HTML -%]
[% SET data = job.data_as_hash %]
<h2>[% LxERP.t8("Step 2 -- Watch status") %]</h2>

[% L.hidden_tag('', job.id, id="cpa_job_id") %]

<p>
 [% LxERP.t8("This status output will be refreshed every five seconds.") %]
</p>

<p>
 [% IF data.status < 3 %]
  [% L.link("login.pl?action=company_logo", LxERP.t8("Open new tab"), target="_blank") %]

 [% ELSE %]
 [% IF data.pdf_file_name %]
   [% L.link(SELF.url_for(action="create_print_all_download", job_id=job.id), LxERP.t8("Download PDF")) %]
 [% END %]
 [% L.link("#", LxERP.t8("Close window"), onclick="kivi.MassInvoiceCreatePrint.createPrintAllFinishProcess();") %]
[% END %]
</p>

 <table>
  <tr>
   <th valign="top" align="left">[% LxERP.t8("Current status:") %]</th>
   <td valign="top">
    [% IF !data.status %]
     [% LxERP.t8("waiting for job to be started") %]
    [% ELSIF data.status == 1 %]
     [% LxERP.t8("Creating invoices") %]
    [% ELSIF data.status == 2 %]
     [% LxERP.t8("Printing invoices (this can take a while)") %]
    [% ELSE %]
     [% LxERP.t8("Done.") %]
     [% IF data.pdf_file_name %]
      [% LxERP.t8("The file is available for download.") %]
     [% ELSIF data.printer_id %]
      [% LxERP.t8("The file has been sent to the printer.") %]
     [% END %]
    [% END %]
   </td>
  </tr>

  <tr>
   <th valign="top" align="left">[% LxERP.t8("Number of invoices created:") %]</th>
   <td valign="top">[% IF data.status > 0 %][% HTML.escape(data.num_created) %] / [% HTML.escape(data.record_ids.size) %][% ELSE %]–[% END %]</td>
  </tr>

  <tr>
   <th valign="top" align="left">[% LxERP.t8("Number of invoices printed:") %]</th>
   <td valign="top">[% IF data.status > 1 %][% HTML.escape(data.num_printed) %] / [% HTML.escape(data.invoice_ids.size) %][% ELSE %]–[% END %]</td>
  </tr>

  <tr>
   <th valign="top" align="left">[% LxERP.t8("Errors during conversion:") %]</th>
   <td valign="top">
[% IF !data.status %]
  –
[% ELSIF !data.conversion_errors.size %]
 [% LxERP.t8("No errors have occurred.") %]
[% ELSE %]
    <table>
     <tr class="listheader">
      <th>[% LxERP.t8("Delivery Order") %]</th>
      <th>[% LxERP.t8("Error") %]</th>
     </tr>

 [% FOREACH error = data.conversion_errors %]
     <tr>
      <td valign="top">[% IF error.id %][% L.link(SELF.url_for(controller='do.pl', action='edit', type='sales_delivery_order', id=error.id), HTML.escape(error.number), target="_blank") %][% ELSE %]–[% END %]</td>
      <td valign="top">[% HTML.escape(error.message) %]</td>
     </tr>
 [% END %]
    </table>
[% END %]
   </td>
  </tr>

  <tr>
   <th valign="top" align="left">[% LxERP.t8("Errors during printing:") %]</th>
   <td valign="top">
[% IF data.status < 2 %]
 –
[% ELSIF !data.print_errors.size %]
 [% LxERP.t8("No errors have occurred.") %]
[% ELSE %]
    <table>
     <tr class="listheader">
      <th>[% LxERP.t8("Invoice") %]</th>
      <th>[% LxERP.t8("Error") %]</th>
     </tr>

 [% FOREACH error = data.print_errors %]
     <tr>
      <td valign="top">[% IF error.id %][% L.link(SELF.url_for(controller='is.pl', action='edit', type='sales_invoice',id=error.id), HTML.escape(error.number), target="_blank") %][% ELSE %]–[% END %]</td>
      <td valign="top">[% HTML.escape(error.message) %]</td>
     </tr>
 [% END %]
    </table>
[% END %]
   </td>
  </tr>

 </table>

