[%- USE LxERP -%][%- USE L -%]
<div>
 <p>
  [% LxERP.t8("Only run tests from this file:") %]
  [% opts = [ [ '', LxERP.t8("– all available test files –") ] ];
     opts = opts.import(SELF.all_scripts);
     L.select_tag('file_filter', opts, default=FORM.file_filter) %]
  [% L.button_tag('run_tests_from();', LxERP.t8('Run tests'), id='run_js_tests_button') %]
 </p>

 <hr>
</div>

<script type="text/javascript">
  function run_tests_from() {
    window.location.href = "controller.pl?action=JSTests/run&file_filter=" + encodeURIComponent($('#file_filter').val());
    return false;
  };

  $('#file_filter').change(run_tests_from);
</script>

<div id="qunit"></div>
<div id="qunit-fixture"></div>
<script src="js/qunit.js"></script>
[% FOREACH script = SELF.scripts_to_run %]
  <script src="[% script %]"></script>
[% END %]
