[% USE HTML %][% USE T8 %][% USE L %][% USE LxERP %]

[% BLOCK header %]
 [% SET new_sort_dir = SELF.sort_by == sort_by ? 1 - SELF.sort_dir : SELF.sort_dir %]
 <th width="[% size %]%">
  <a href="[% SELF.url_for(action => 'list') %]&sort_by=[% sort_by %]&sort_dir=[% new_sort_dir %]&page=[% FORM.page %]">
   [%- title %]
   [%- IF SELF.sort_by == sort_by %]
    <img src="image/[% IF SELF.sort_dir %]down[% ELSE %]up[% END %].png" border="0">
   [%- END %]
  </a>
 </th>
[% END %]

<div id="orders">
[%- IF !SELF.orderitems.size %]
 <p>[%- 'There are no outstanding deliveries at the moment.' | $T8 %]</p>
[%- ELSE %]

 <table width=100%>
  <tr class="listheading">
   [% PROCESS header   title=LxERP.t8('Date')        sort_by='transdate',     size=15 %]
   [% PROCESS header   title=LxERP.t8('Description') sort_by='description',   size=15 %]
   [% PROCESS header   title=LxERP.t8('Part Number') sort_by='partnumber',    size=15 %]
   [% PROCESS header   title=LxERP.t8('Qty')         sort_by='qty',           size=10 %]
   [% PROCESS header   title=LxERP.t8('Order')       sort_by='ordnumber',     size=10 %]
   [% PROCESS header   title=LxERP.t8('Customer')    sort_by='customer',      size=10 %]
  </tr>

  [%- FOREACH row = SELF.orderitems %]
  <tr class="listrow[% loop.count % 2 %]">
   <td>[% row.transdate ? row.transdate : row.order.reqdate_as_date %]</td>
   <td>[% row.part.partnumber | html %]</td>
   <td>[% row.description | html %]</td>
   <td class='numeric'>[% LxERP.format_amount(row.qty, 2) | html %]</td>
   <td>[% row.order.ordnumber | html %]</td>
   <td>[% row.order.customer.name | html %]</td>
  </tr>
  [%- END %]
 </table>
 <p align=right>[% PROCESS 'common/paginate.html' pages=SELF.pages, base_url=SELF.url_for(action='list', sort_dir=SELF.sort_dir, sort_by=SELF.sort_by) %]</p>

[%- END %]
</div>
