<body>

 <form action="<TMPL_VAR script ESCAPE=HTML>" method="post">

  <input type="hidden" name="login" value="<TMPL_VAR login ESCAPE=HTML>">
  <input type="hidden" name="password" value="<TMPL_VAR password ESCAPE=HTML>">

  <input type="hidden" name="SAVED_FORM" value="<TMPL_VAR SAVED_FORM ESCAPE=HTML>">

  <table width="100%">
   <tr>
    <th class="listtop"><translate>Load draft</translate></th>
   </tr>
   <tr height="5"></tr>

   <tr>
    <td>
     <translate>The following drafts have been saved and can be loaded.</translate>
    </td>
   </tr>

   <tr>
    <td>
     <table>
      <tr>
       <th class="listheading">&nbsp;</th>
       <th class="listheading"><translate>Date</translate></th>
       <th class="listheading"><translate>Description</translate></th>
       <th class="listheading"><translate>Employee</translate></th>
      </tr>

      <TMPL_LOOP DRAFTS>
       <tr class="listrow<TMPL_IF __odd__>1<TMPL_ELSE>0</TMPL_IF>">
        <td><input type="checkbox" name="checked_<TMPL_VAR id>" value="1"></td>
        <td><TMPL_VAR itime ESCAPE=HTML></td>
        <td><a href="<TMPL_VAR script ESCAPE=URL>?login=<TMPL_VAR login ESCAPE=URL>&password=<TMPL_VAR password ESCAPE=URL>&action=load_draft&id=<TMPL_VAR id ESCAPE=URL>"><TMPL_VAR description ESCAPE=HTML></a></td>
        <td><TMPL_VAR employee_name ESCAPE=HTML></td>
       </tr>
      </TMPL_LOOP>
     </table>
    </td>
   </tr>

   <tr>
    <td>
     <input type="hidden" name="action" value="draft_action_dispatcher">
     <input type="submit" class="submit" name="draft_action" value="<translate>Skip</translate>">
     <input type="submit" class="submit" name="draft_action" value="<translate>Delete drafts</translate>">
    </td>
   </tr>
  </table>

 </form>
</body>
</html>
