[%- USE T8 %]
[%- USE HTML %]

 <form action="[% HTML.escape(script) %]" method="post">

  <input type="hidden" name="SAVED_FORM" value="[% HTML.escape(SAVED_FORM) %]">

  <table width="100%">
   <tr>
    <th class="listtop">[% 'Load draft' | $T8 %]</th>
   </tr>
   <tr height="5"></tr>

   <tr>
    <td>
     [% 'The following drafts have been saved and can be loaded.' | $T8 %]
    </td>
   </tr>

   <tr>
    <td>
     <table>
      <tr>
       <th class="listheading">&nbsp;</th>
       <th class="listheading">[% 'Date' | $T8 %]</th>
       <th class="listheading">[% 'Description' | $T8 %]</th>
       <th class="listheading">[% 'Employee' | $T8 %]</th>
      </tr>

      [% FOREACH row = DRAFTS %]
       <tr class="listrow[% loop.count % 2 %]">
        <td><input type="checkbox" name="checked_[% row.id %]" value="1"></td>
        <td>[% HTML.escape(row.itime) %]</td>
        <td><a href="[% HTML.url(script) %]?action=load_draft&id=[% HTML.url(row.id) %]">[% HTML.escape(row.description) %]</a></td>
        <td>[% HTML.escape(row.employee_name) %]</td>
       </tr>
      [% END %]
     </table>
    </td>
   </tr>

   <tr>
    <td>
     <input type="hidden" name="action" value="draft_action_dispatcher">
     <input type="submit" class="submit" name="draft_action" value="[% 'Skip' | $T8 %]">
     <input type="submit" class="submit" name="draft_action" value="[% 'Delete drafts' | $T8 %]">
    </td>
   </tr>
  </table>

 </form>
