[%- USE T8 %]
[%- USE HTML %]

 <form action="[% HTML.escape(script) %]" method="post">

  <input type="hidden" name="SAVED_FORM" value="[% HTML.escape(SAVED_FORM) %]">

  <table width="100%">
   <tr>
    <th class="listtop">[% 'Save draft' | $T8 %]</th>
   </tr>
   <tr height="5"></tr>

   <tr>
    <td>[% 'Enter a description for this new draft.' | $T8 %]</td>
   </tr>

   <tr>
    <td>
    [% 'Description' | $T8 %]:
    <input name="draft_description">
    </td>
   </tr>

   <tr>
    <td>
     <input type="submit" class="submit" name="action" value="[% 'Save draft' | $T8 %]">
    </td>
   </tr>
  </table>

 </form>
