<body>

 <form action="<TMPL_VAR script ESCAPE=HTML>" method="post">

  <input type="hidden" name="login" value="<TMPL_VAR login ESCAPE=HTML>">
  <input type="hidden" name="password" value="<TMPL_VAR password ESCAPE=HTML>">

  <input type="hidden" name="SAVED_FORM" value="<TMPL_VAR SAVED_FORM ESCAPE=HTML>">

  <table width="100%">
   <tr>
    <th class="listtop"><translate>Save draft</translate></th>
   </tr>
   <tr height="5"></tr>

   <tr>
    <td><translate>Enter a description for this new draft.</translate></td>
   </tr>

   <tr>
    <td>
    <translate>Description</translate>:
    <input name="draft_description">
    </td>
   </tr>

   <tr>
    <td>
     <input type="submit" class="submit" name="action" value="<translate>Save draft</translate>">
    </td>
   </tr>
  </table>

 </form>
</body>
</html>
