[%- USE T8 %]
[%- USE L %]
[%- USE P %]
[%- USE HTML %]
[%- USE LxERP %]
  <tr>
  </tr>
  <tr>
    <td>
      <table id="businessmodel_table">
        <thead>
         <tr>
          <th class="listheading" style='text-align:center' nowrap width="1"><img src="image/close.png" alt="[%- LxERP.t8('delete item') %]"></th>
          <th class="listheading">[% 'Business'            | $T8 %]</th>
          <th class="listheading">[% 'Business Type Model' | $T8 %]</th>
          <th class="listheading">[% 'Part Description'    | $T8 %]</th>
          <th class="listheading">[% 'Long Description'    | $T8 %]</th>
         </tr>
        </thead>
        <tbody id="businessmodel_rows">
        [%- FOREACH businessmodel = SELF.part.businessmodels %]
          [% PROCESS 'part/_businessmodel_row.html' businessmodel=businessmodel %]
        [%- END %]
       </tbody>
       <tbody>
        <tr>
         <td></td>
         <td align="right">[% 'Business' | $T8 %]</td>
         <td>[% P.select_tag('add_businessmodel', SELF.all_businesses, title_key="description", with_empty=1, style='width: 300px', onchange='kivi.Part.add_businessmodel_row()') %]</td>
         <td align="right">[% L.button_tag('kivi.Part.add_businessmodel_row()', LxERP.t8('Add')) %]</td>
         <td></td>
        </tr>
       </tbody>
      </table>
    </td>
  </tr>
