[%- USE HTML %][%- USE L -%][%- USE P -%][%- USE LxERP -%]

<div id="translations_tab">
 <table>
  <tr class="listheading">
   <th>[% LxERP.t8("Language") %]</th>
   <th>[% LxERP.t8("Description") %]</th>
   <th>[% LxERP.t8("Long Description") %]</th>
  </tr>

  [%- FOREACH language = SELF.all_languages %]
   [% SET language_id = language.id
          translation = translations_map.$language_id %]
   <tr class="listrow" valign="top">
    <td>
      [% L.hidden_tag('translations[+].language_id', language.id) %]
      [% HTML.escape(language.description) %]
    </td>
    <td>[% L.areainput_tag("translations[].translation", translation.translation, size=40) %]</td>
    <td>[% L.textarea_tag("translations[].longdescription", P.restricted_html(translation.longdescription), id="translations_longdescription_" _ language_id, class="texteditor", style="width: 500px; height: 100px") %]</td>
   </tr>
  [%- END %]
 </table>
</div>
