[%- USE T8 %]
[%- USE L %]
[%- USE P %]
[%- USE HTML %]
[%- USE LxERP %]
  <tr>
  </tr>
  <tr>
    <td>
      <table id="makemodel_table">
        <thead>
         <tr>
          <th class="listheading" style='text-align:center' nowrap width="1"><img src="image/close.png" alt="[%- LxERP.t8('delete item') %]"></th>
          <th class="listheading">[% 'position'     | $T8 %]</th>
          <th class="listheading" style='text-align:center' nowrap width="1"><img src="image/updown.png" alt="[%- LxERP.t8('reorder item') %]"></th>
          <th class="listheading" style='width:12em'>[% 'Vendor Number' | $T8 %]</th>
          <th class="listheading">[% 'Vendor'        | $T8 %]</th>
          <th class="listheading">[% 'Model'         | $T8 %]</th>
          <th class="listheading">[% 'Last Cost'     | $T8 %]</th>
          <th class="listheading">[% 'Updated'       | $T8 %]</th>
         </tr>
        </thead>
        <tbody id="makemodel_rows">
        [% SET listrow = 0 %]
        [%- FOREACH makemodel = SELF.part.makemodels %]
        [% listrow = listrow + 1 %]
        [% PROCESS 'part/_makemodel_row.html' makemodel=makemodel listrow=listrow %]
        [%- END %]
       </tbody>
       <tbody>
        <tr>
         <td></td>
         <td></td>
         <td></td>
         <td align="right">[% 'Vendor' | $T8 %]</td>
         <td rowspan="2">[% P.customer_vendor.picker('add_makemodel', '', type='vendor', style='width: 300px', class="add_makemodel_input", action={commit_one='kivi.Part.add_makemodel_row'}) %]</td>
         <td rowspan="2" align="right">[% L.button_tag('kivi.Part.add_makemodel_row()', LxERP.t8('Add')) %]</td>
        </tr>
       </tbody>
      </table>
    </td>
  </tr>
  [% L.sortable_element('#makemodel_rows') %]
