[%- USE HTML %]
[%- USE L %]
[%- USE LxERP %]
[%- USE T8 %]

<div style='overflow:hidden'>

[% LxERP.t8("Filter") %]: [% L.input_tag('part_picker_filter', SELF.models.filtered.laundered.all_substr_multi__ilike, class='part_picker_filter') %]
[% L.hidden_tag('part_picker_real_id', FORM.real_id) %]

<div class='float-right'>
  [% L.checkbox_tag('no_paginate', checked=FORM.no_paginate, id='no_paginate', for_submit=1, label=LxERP.t8('All as list')) %]
</div>

<div style='clear:both'></div>
<div id='part_picker_result'></div>
</div>

<script type='text/javascript'>
  var pp = kivi.Part.Picker($('#[% FORM.real_id %]'));
  $(function(){
    $('#part_picker_filter').focus();
    pp.update_results();
  });
  $('#part_picker_filter').keypress(pp.result_timer);
  $('#no_paginate').change(pp.update_results);

</script>
