[% USE HTML %]
[% USE L %]
[% USE P %]
[% USE LxERP %]

<h1>[% FORM.title %]</h1>

[% PROCESS 'email_journal/_filter.html' filter=SELF.models.filtered.laundered %]

[% IF !ENTRIES.size %]
  <p>[% LxERP.t8('There are no entries that match the filter.') %]</p>

[% ELSE %]

<table id="email_journal_list" class="tbl-list wi-moderate">
  <thead>
    <tr>
      [% IF SELF.can_view_all %]
        <th>[% L.sortable_table_header("sender") %]</th>
      [% END %]
      <th>[% L.sortable_table_header("from") %]</th>
      <th>[% L.sortable_table_header("recipients") %]</th>
      <th>[% L.sortable_table_header("subject") %]</th>
      <th>[% L.sortable_table_header("sent_on") %]</th>
      <th>[% L.sortable_table_header("status") %]</th>
      <th>[% L.sortable_table_header("extended_status") %]</th>
      <th>[% L.sortable_table_header("record_type") %]</th>
      <th>[% L.sortable_table_header("obsolete") %]</th>
      <th>[% L.sortable_table_header("linked_to") %]</th>
    </tr>
  </thead>
  <tbody>
    [% FOREACH entry = ENTRIES %]
    <tr id="email_journal_id_[% entry.id %]" [% IF entry.status == 'send_failed' %] class="listrow_error" [% END %]>
      [% IF SELF.can_view_all %]
        <td>[% IF entry.sender %] [% HTML.escape(entry.sender.name) %] [% ELSE %] [% LxERP.t8("kivitendo") %] [% END %]</td>
      [% END %]
      [% action_show_link = SELF.url_for(
           action => 'show', id => entry.id,
           back_to => SELF.models.get_callback(),
      ) %]
      <td><a href="[% action_show_link %]"> [% HTML.escape(entry.from) %] </a></td>
      <td>[% HTML.escape(entry.recipients) %]</td>
      <td><a href="[% action_show_link %]"> [% HTML.escape(entry.subject) %] </a></td>
      <td>[% HTML.escape(entry.sent_on.to_lxoffice('precision' => 'second')) %]</td>
      <td> [% P.email_journal.entry_status(entry) %] </td>
      <td>[% HTML.escape(entry.extended_status) %]</td>
      <td>[% HTML.escape(RECORD_TYPES_TO_TEXT.${entry.record_type}) %]</td>
      <td>[% HTML.escape(entry.obsolete_as_bool_yn) %]</td>
      <td>
        [% P.record.simple_grouped_record_list(entry.linked_records) %]
      </td>
    </tr>
    [% END %]
  </tbody>
</table>

[% END %]

[% L.paginate_controls %]
