[%- USE LxERP -%][%- USE L -%][%- USE HTML -%]
[% SET style="width: 400px" %]
<div id="miscellaneous">
 <table>
  <tr><td class="listheading" colspan="4">[% LxERP.t8("Company name and address") %]</td></tr>

  <tr>
   <td align="right">[% LxERP.t8("Company name") %]</td>
   <td>[% L.input_tag('defaults.company', SELF.defaults.company, style=style) %]</td>
  </tr>

  <tr>
   <td align="right" valign="top">[% LxERP.t8("Street 1") %]</td>
   <td>[% L.input_tag('defaults.address_street1', SELF.defaults.address_street1, style=style) %]</td>
  </tr>

  <tr>
   <td align="right" valign="top">[% LxERP.t8("Street 2") %]</td>
   <td>[% L.input_tag('defaults.address_street2', SELF.defaults.address_street2, style=style) %]</td>
  </tr>

  <tr>
   <td align="right" valign="top">[% LxERP.t8("Zipcode and city") %]</td>
   <td>
     [% L.input_tag('defaults.address_zipcode', SELF.defaults.address_zipcode, size=8) %]
     [% L.input_tag('defaults.address_city', SELF.defaults.address_city, size=30) %]
   </td>
  </tr>

  <tr>
   <td align="right" valign="top">[% LxERP.t8("Country") %]</td>
   <td>[% L.input_tag('defaults.address_country', SELF.defaults.address_country, style=style) %]</td>
  </tr>

  <tr><td class="listheading" colspan="4">[% LxERP.t8("Company settings") %]</td></tr>

  <tr>
   <td align="right" valign="top">[% LxERP.t8("Signature") %]</td>
   <td valign="top">[% L.textarea_tag('defaults.signature', SELF.defaults.signature, style=style, rows=4) %]</td>
  </tr>

  <tr>
   <td align="right">[% LxERP.t8("Tax number") %]</td>
   [% IF SELF.defaults.feature_ustva %]
   <td>[% SELF.defaults.taxnumber %]&nbsp;&nbsp;<a href="ustva.pl?action=config_step1">([% LxERP.t8("For changeing goto USTVA Config") %])</a></td>
   [% ELSE %]
   <td>[% L.input_tag('defaults.taxnumber', SELF.defaults.taxnumber, style=style) %]</td>
   [% END %]
  </tr>

  <tr>
   <td align="right">[% LxERP.t8("Tax ID number") %]</td>
   <td>[% L.input_tag('defaults.co_ustid', SELF.defaults.co_ustid, style=style) %]</td>
  </tr>

  <tr>
   <td align="right">[% LxERP.t8("SEPA creditor ID") %]</td>
   <td>[% L.input_tag('defaults.sepa_creditor_id', SELF.defaults.sepa_creditor_id, style=style) %]</td>
  </tr>

  <tr>
   <td align="right">[% LxERP.t8("Business Number") %]</td>
   <td>[% L.input_tag('defaults.businessnumber', SELF.defaults.businessnumber, style=style) %]</td>
  </tr>

  <tr>
   <td align="right">[% LxERP.t8("DUNS number") %]</td>
   <td>[% L.input_tag('defaults.duns', SELF.defaults.duns, style=style) %]</td>
  </tr>

  <tr><td class="listheading" colspan="4">[% LxERP.t8("Language settings") %]</td></tr>

  <tr>
   <td align="right">[% LxERP.t8('Default Customer/Vendor Language') %]</td>
   <td>[% L.select_tag('defaults.language_id', SELF.all_languages, title_key='description', default=SELF.defaults.language_id, with_empty=1, style=style) %]</td>
  </tr>

  <tr><td class="listheading" colspan="4">[% LxERP.t8("Print templates") %]</td></tr>

  <tr>
   <td align="right" valign="top">[% LxERP.t8("Print templates to use") %]</td>
   <td colspan="3" valign="top">
    <table>
     <tr>
      <td>[% L.radio_button_tag('use_templates', value='existing', id='use_templates_existing', label=LxERP.t8('Use existing templates'), checked=(FORM.use_templates == 'existing')) %]</td>
      <td>[% L.select_tag('defaults.templates', SELF.all_templates.print_templates, default=SELF.defaults.templates, value_sub=\make_templates_value, style=style) %]</td>
     </tr>

     <tr>
      <td>[% L.radio_button_tag('use_templates', value='new', id='use_templates_new', label=LxERP.t8('Create new templates from master templates'), checked=(FORM.use_templates == 'new')) %]</td>
      <td>[% L.select_tag('new_master_templates', SELF.all_templates.master_templates, default=FORM.new_master_templates, style=style) %]</td>
     </tr>

     <tr>
      <td align="right">[% LxERP.t8("New name") %]</td>
      <td>[% L.input_tag('new_templates', FORM.new_templates, style=style) %]</td>
     </tr>
    </table>
   </td>
  </tr>

  <tr><td class="listheading" colspan="4">[% LxERP.t8("Currencies") %]</td></tr>

  <tr>
   <th></th>
   <th>[% LxERP.t8("Currency name") %]</th>
   <th>[% LxERP.t8("Default currency") %]</th>
   <th>[% LxERP.t8("Hints") %]</th>
  </tr>

[% FOREACH currency = SELF.all_currencies %]
  <tr>
   <td align="right">
     [% L.hidden_tag("currencies[+].id", currency.id) %]
     [% IF loop.count == 1 %][% LxERP.t8("Currencies") %][% END %]
   </td>
   <td>[% L.input_tag("currencies[].name", currency.name, style=style) %]</td>
   <td align="center">[% L.radio_button_tag('defaults.currency_id', value=currency.id, id='defaults.currency_id_' _ currency.id, checked=(SELF.defaults.currency_id == currency.id)) %]</td>
   <td>[% IF loop.count == 1 %][% LxERP.t8("Edit the currency names in order to rename them.") %][%- END %]</td>
  </tr>
[% END %]

  <tr>
   <td align="right">[% LxERP.t8("Add new currency") %]</td>
   <td>[% L.input_tag("new_currency", FORM.new_currency, style=style) %]</td>
   <td align="center">[% L.radio_button_tag('defaults.currency_id', value=-1, id='defaults.currency_id__1', checked=(SELF.defaults.currency_id == -1)) %]</td>
  </tr>

[% IF SELF.all_weightunits.size %]
  <tr><td class="listheading" colspan="4">[% LxERP.t8("Weight") %]</td></tr>

  <tr>
   <td align="right">[% LxERP.t8("Weight unit") %]</td>
   <td>[% L.select_tag('defaults.weightunit', SELF.all_weightunits, default=SELF.defaults.weightunit, value_key='name', title_key='name', style=style) %]</td>
  </tr>

  <tr>
   <td align="right">[% LxERP.t8('Show weights') %]</td>
   <td>[% L.yes_no_tag('defaults.show_weight', SELF.defaults.show_weight, style=style) %]</td>
   <td colspan="2">[% LxERP.t8('Show the weights of articles and the total weight in orders, invoices and delivery notes?') %]</td>
  </tr>
[% END %]
 </table>
</div>
