[%- USE LxERP -%][%- USE L -%]
<div id="orders_deleteable">
 <table>
  <tr>
   <td align="right">[% LxERP.t8('Sales Orders deleteable') %]</td>
   <td>[% L.yes_no_tag('defaults.sales_order_show_delete', SELF.defaults.sales_order_show_delete) %]</td>
   <td>[% LxERP.t8('Show delete button in sales orders?') %]</td>
  </tr>
  <tr>
   <td align="right">[% LxERP.t8('Purchase Orders deleteable') %]</td>
   <td>[% L.yes_no_tag('defaults.purchase_order_show_delete', SELF.defaults.purchase_order_show_delete) %]</td>
   <td>[% LxERP.t8('Show delete button in purchase orders?') %]</td>
  </tr>
  <tr>
   <td align="right">[% LxERP.t8('Sales Delivery Orders deleteable') %]</td>
   <td>[% L.yes_no_tag('defaults.sales_delivery_order_show_delete', SELF.defaults.sales_delivery_order_show_delete) %]</td>
   <td>[% LxERP.t8('Show delete button in sales delivery orders?') %]</td>
  </tr>
  <tr>
   <td align="right">[% LxERP.t8('Purchase Delivery Orders deleteable') %]</td>
   <td>[% L.yes_no_tag('defaults.purchase_delivery_order_show_delete', SELF.defaults.purchase_delivery_order_show_delete) %]</td>
   <td>[% LxERP.t8('Show delete button in purchase delivery orders?') %]</td>
  </tr>
 </table>
</div>
