[%- USE LxERP -%][%- USE L -%][%- USE HTML -%]
<div id="ranges_of_numbers">
 <table>
  <tr>
   <td align="right" nowrap>[% LxERP.t8('Last Invoice Number') %]</td>
   <td>[% L.input_tag("defaults.invnumber", SELF.defaults.invnumber, size="15") %]</td>
   <td align="right" nowrap>[% LxERP.t8('Last Customer Number') %]</td>
   <td>[% L.input_tag("defaults.customernumber", SELF.defaults.customernumber, size="15") %]</td>
   <td align="right" nowrap>[% LxERP.t8('Last Sales Reclamation Number') %]</td>
   <td>[% L.input_tag("defaults.s_reclamation_record_number", SELF.defaults.s_reclamation_record_number, size="15") %]</td>
  </tr>

  <tr>
   <td align="right" nowrap>[% LxERP.t8('Last Credit Note Number') %]</td>
   <td>[% L.input_tag("defaults.cnnumber", SELF.defaults.cnnumber, size="15") %]</td>
   <td align="right" nowrap>[% LxERP.t8('Last Vendor Number') %]</td>
   <td>[% L.input_tag("defaults.vendornumber", SELF.defaults.vendornumber, size="15") %]</td>
   <td align="right" nowrap>[% LxERP.t8('Last Purchase Reclamation Number') %]</td>
   <td>[% L.input_tag("defaults.p_reclamation_record_number", SELF.defaults.p_reclamation_record_number, size="15") %]</td>
  </tr>

  <tr>
   <td align="right" nowrap>[% LxERP.t8('Last Sales Order Intake Number') %]</td>
   <td>[% L.input_tag("defaults.soinumber", SELF.defaults.soinumber, size="15") %]</td>
  </tr>

  <tr>
   <td align="right" nowrap>[% LxERP.t8('Last Purchase Quotation Intake Number') %]</td>
   <td>[% L.input_tag("defaults.pqinumber", SELF.defaults.pqinumber, size="15") %]</td>
  </tr>

  <tr>
   <td align="right" nowrap>[% LxERP.t8('Last Sales Order Number') %]</td>
   <td>[% L.input_tag("defaults.sonumber", SELF.defaults.sonumber, size="15") %]</td>
  </tr>

  <tr>
   <td align="right" nowrap>[% LxERP.t8('Last Purchase Order Number') %]</td>
   <td>[% L.input_tag("defaults.ponumber", SELF.defaults.ponumber, size="15") %]</td>
   <td align="right" nowrap>[% LxERP.t8('Last Article Number') %]</td>
   <td>[% L.input_tag("defaults.articlenumber", SELF.defaults.articlenumber, size="15") %]</td>
  </tr>

  <tr>
   <td align="right" nowrap>[% LxERP.t8('Last Purchase Order Confirmation Number') %]</td>
   <td>[% L.input_tag("defaults.pocnumber", SELF.defaults.pocnumber, size="15") %]</td>
  </tr>

  <tr>
   <td align="right" nowrap>[% LxERP.t8('Last Sales Quotation Number') %]</td>
   <td>[% L.input_tag("defaults.sqnumber", SELF.defaults.sqnumber, size="15") %]</td>
   <td align="right" nowrap>[% LxERP.t8('Last Service Number') %]</td>
   <td>[% L.input_tag("defaults.servicenumber", SELF.defaults.servicenumber, size="15") %]</td>
  </tr>

  <tr>
   <td align="right" nowrap>[% LxERP.t8('Last RFQ Number') %]</td>
   <td>[% L.input_tag("defaults.rfqnumber", SELF.defaults.rfqnumber, size="15") %]</td>
   <td align="right" nowrap>[% LxERP.t8('Last Assembly Number') %]</td>
   <td>[% L.input_tag("defaults.assemblynumber", SELF.defaults.assemblynumber, size="15") %]</td>
  </tr>

  <tr>
   <td align="right" nowrap>[% LxERP.t8('Last Sales Delivery Order Number') %]</td>
   <td>[% L.input_tag("defaults.sdonumber", SELF.defaults.sdonumber, size="15") %]</td>
   <td align="right" nowrap>[% LxERP.t8('Last Assortment Number') %]</td>
   <td>[% L.input_tag("defaults.assortmentnumber", SELF.defaults.assortmentnumber, size="15") %]</td>
  </tr>

  <tr>
   <td align="right" nowrap>[% LxERP.t8('Last Purchase Delivery Order Number') %]</td>
   <td>[% L.input_tag("defaults.pdonumber", SELF.defaults.pdonumber, size="15") %]</td>
  </tr>

  <tr>
   <td align="right" nowrap>[% LxERP.t8('Last Supplier Delivery Order Number') %]</td>
   <td>[% L.input_tag("defaults.sudonumber", SELF.defaults.sudonumber, size="15") %]</td>
  </tr>

  <tr>
   <td align="right" nowrap>[% LxERP.t8('Last RMA Delivery Order Number') %]</td>
   <td>[% L.input_tag("defaults.rdonumber", SELF.defaults.rdonumber, size="15") %]</td>
  </tr>
 </table>
</div>
