[%- USE HTML -%][%- USE LxERP -%][%- USE L -%]
<div id="record_links">
 <table>
  <tr>
   <td align="right" nowrap="true">[% LxERP.t8('View record links from Sales Order') %]</td>
   <td>[% L.yes_no_tag('defaults.always_record_links_from_order', SELF.defaults.always_record_links_from_order) %]</td>
   <td>
    [% LxERP.t8('If enabled the record links view starts always from the sales order including all sublevels') %]<br>
   </td>
  </tr>
  <tr>
   <td align="right" nowrap="true">[% LxERP.t8('Include a link to the record itself') %]</td>
   <td>[% L.yes_no_tag('defaults.record_links_from_order_with_myself', SELF.defaults.record_links_from_order_with_myself) %]</td>
   <td>
    [% LxERP.t8('Include the record itself in the list of linked records, if the view for record links from sales order is enabled.') %]<br>
    [% LxERP.t8('This way you can get a similar list of linked records for every record in the same workflow.') %]<br>
   </td>
  </tr>
  <tr>
   <td align="right" nowrap="true">[% LxERP.t8('Include links to sales quotations') %]</td>
   <td>[% L.yes_no_tag('defaults.record_links_from_order_with_quotations', SELF.defaults.record_links_from_order_with_quotations) %]</td>
   <td>
    [% LxERP.t8('Include sales quotations in the list of linked records, if the view for record links from sales order is enabled.') %]<br>
    [% LxERP.t8('As the view starts from sales orders, normally sales quotations are not included.') %]<br>
   </td>
  </tr>
 </table>
</div>
