[%- USE T8 %][%- USE L %][% USE LxERP %][% USE HTML %]
[%- USE JavaScript -%]
 <script type="text/javascript" src="js/common.js"></script>
 <script type="text/javascript" src="js/parts_language_selection.js"></script>
 <script type="text/javascript">
  <!--
var warehouses = [
 [%- USE warehouses_it = Iterator(SELF.all_warehouses) %][%- FOREACH warehouse = warehouses_it %]
  { id:   [% warehouse.id %],
    bins: [
     [% USE bins_it = Iterator(warehouse.bins_sorted) %][% FOREACH bin = bins_it %]
      { id: [% bin.id %], description: "[% JavaScript.escape(bin.description) %]" }[% UNLESS bins_it.last %],[% END %]
     [% END %]
   ] }[% UNLESS warehouses_it.last %],[% END %]
 [% END %]
];

function warehouse_selected(warehouse_id, bin_id, bin_id_name) {
  // bin_id_name is optional and only used in client_config.html
  bin_id_name = bin_id_name || 'bin_id';

  // Remove all bins safe for the empty entry
  var bin_select = $('#' + bin_id_name);
  bin_select.find('option').filter('[value!=""]').remove();

  // Find selected warehouse
  var warehouse = warehouses.filter(function(elt) { return elt.id == warehouse_id; })[0];
  if (!warehouse)
    return;

  // Add bins as options to select.
  $(warehouse.bins).each(function(idx, bin) {
    bin_select.append($('<option>', { value: bin.id, selected: bin.id == bin_id }).text(bin.description));
  });
}

$(function() {
  warehouse_selected([% SELF.defaults.warehouse_id || -1 %], [% SELF.defaults.bin_id || -1 %], 'bin_id');
  warehouse_selected([% SELF.defaults.warehouse_id_ignore_onhand || -1 %], [% SELF.defaults.bin_id_ignore_onhand || -1 %], 'bin_id_ignore_onhand');
})
    -->
 </script>
<h1>[% title | html %]</h1>

[% PROCESS 'common/flash.html' %]

<form action='controller.pl' method='POST'>
 <div class="tabwidget">
  <ul>
   <li><a href="#posting_configuration">[% 'Posting Configuration' | $T8 %]</a></li>
   <li><a href="#datev_check_configuration">[% 'DATEV check configuration' | $T8 %]</a></li>
   <li><a href="#orders_deleteable">[% 'Orders / Delivery Orders deleteable' | $T8 %]</a></li>
   <li><a href="#warehouse">[% 'Warehouse' | $T8 %]</a></li>
   <li><a href="#miscellaneous">[% 'Miscellaneous' | $T8 %]</a></li>
  </ul>

[% PROCESS 'client_config/_posting_configuration.html' %]
[% PROCESS 'client_config/_datev_check_configuration.html' %]
[% PROCESS 'client_config/_orders_deleteable.html' %]
[% PROCESS 'client_config/_warehouse.html' %]
[% PROCESS 'client_config/_miscellaneous.html' %]

 <div>
  [%- L.hidden_tag('action',  'ClientConfig/dispatch')  %]
  [%- L.submit_tag('action_save',  LxERP.t8('Save'))  %]
 </div>

</form>
