[%- USE T8 %]
[%- USE L %]
<h1>[% 'DATEX - Export Assistent' | $T8 %]</h1>

<form method="post" action="[% script %]" id="form">

<table width=100%>
  <tr>
    <th align=left>[% 'Zeitraum' | $T8 %]</th>
  </tr>
  <tr height="5"></tr>
  <tr valign=top>
    <td>
      <table>
        <tr>
          <td align=left><input checked name=zeitraum class=radio type=radio value=monat>&nbsp;</td>
          <td align=left>[% 'Monat' | $T8 %]</td>
          <td align=left></td>
          <td align=left></td>
          <td align=left><select name=monat>
            <option value=1>[% 'January' | $T8 %]</option>
            <option value=2>[% 'February' | $T8 %]</option>
            <option value=3>[% 'March' | $T8 %]</option>
            <option value=4>[% 'April' | $T8 %]</option>
            <option value=5>[% 'May' | $T8 %]</option>
            <option value=6>[% 'June' | $T8 %]</option>
            <option value=7>[% 'July' | $T8 %]</option>
            <option value=8>[% 'August' | $T8 %]</option>
            <option value=9>[% 'September' | $T8 %]</option>
            <option value=10>[% 'October' | $T8 %]</option>
            <option value=11>[% 'November' | $T8 %]</option>
            <option value=12>[% 'December last year period' | $T8 %]</option>
          </select></td>
        </tr>
        <tr>
          <td align=left><input name=zeitraum class=radio type=radio value=quartal>&nbsp;</td>
          <td align=left>[% 'Quartal' | $T8 %]</td>
          <td align=left></td>
          <td align=left></td>
          <td align=left><select name=quartal>
            <option selected value=1>[% 'I' | $T8 %]</option>
            <option value=2>[% 'II' | $T8 %]</option>
            <option value=3>[% 'III' | $T8 %]</option>
            <option value=4>[% 'IV' | $T8 %]</option>
          </select></td>
        </tr>
        <tr>
          <td align=left><input name=zeitraum class=radio type=radio value=zeit>&nbsp;</td>
          <td align=left>[% 'Datum von' | $T8 %]</td>
          <td align=left>[% L.date_tag('transdatefrom') %]</td>
          <td align=left>[% 'bis' | $T8 %]</td>
          <td align=left>[% L.date_tag('transdateto') %]</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
   <td><hr size=1 noshade></td>
   </tr>
   <tr>
     <td>
        <table>
         <tr>
           <td align=left>[% 'Gldate' | $T8 %] [% 'From' | $T8 %]</td>
           <td align=left></td>
           <td>[% L.date_tag('gldatefrom') %]</td>
         </tr>
        </table>
     </td>
   </tr>
   <tr>
   <tr>
    <td><hr size=1 noshade></td>
   </tr>
  [% IF ALL_DEPARTMENTS.as_list.size %]
   <tr>
     <td>
        <table>
         <tr>
           <td align=left>[% 'Department' | $T8 %]</td>
           <td align=left></td>
           <td>[% L.select_tag('department_id', ALL_DEPARTMENTS, title_key = 'description', with_empty = 1) %]</td>
         </tr>
        </table>
     </td>
   </tr>
   <tr>
  <td><hr size=3 noshade></td>
  </tr>
  [% END %]
   <tr>
     <td>
        <table>
         <tr>
          [% IF show_pk_option %]
           <td align=left>[% 'Export with CV Charts' | $T8 %]</td>
           <td align=left></td>
           <td>[% L.checkbox_tag('use_pk', value => 1, checked => 0) %]</td>
          [% ELSE %]
           <td align=left><font color="gray">[% 'Export with CV Charts' | $T8 %]</font></td>
           <td align=left></td>
           <td>[% L.checkbox_tag('use_pk', value => 1, checked => 0, disabled => 1) %] </td>
           <td colspan="2"><font color="gray">[% 'Hint: Not all VC Numbers are personal accounts compliant' | $T8 %]</font></td>
          [% END %]
         </tr>
         <tr>
           <td align=left>[% 'Lock bookings' | $T8 %]</td>
           <td align=left></td>
           <td colspan="3">[% L.yes_no_tag('locked', 0) %]</td>
        </tr>
         <tr>
           <td align=left>[% 'Export imported bookings' | $T8 %]</td>
           <td align=left></td>
           <td colspan="3">[% L.yes_no_tag('imported', 0) %]</td>
        </tr>
        </table>
     </td>
   </tr>
   <tr>
  <td><hr size=3 noshade></td>
  </tr>
</table>

<input type=hidden name=beraternr value="[% beraternr %]">
<input type=hidden name=dfvkz value="[% dfvkz %]">
<input type=hidden name=beratername value="[% beratername %]">
<input type=hidden name=passwort value="[% passwort %]">
<input type=hidden name=mandantennr value="[% mandantennr %]">
<input type=hidden name=datentraegernr value="[% datentraegernr %]">
<input type=hidden name=exportformat value="[% exportformat %]">
<input type=hidden name=abrechnungsnr value="[% abrechnungsnr %]">

<input type=hidden name=exporttype value="[% exporttype %]">

</form>
