[%- USE T8 %]
[%- USE HTML %]
  [% 'Working on export' | $T8 %]<br>

  <br>
  Done.
  <br>

  <br><b>
[% IF exportformat == 'kne' %]
  [% 'KNE Export successful!' | $T8 %]
[% END %]
[% IF exportformat == 'csv' %]
  [% 'CSV Export successful!' | $T8 %]
[% END %]

</b>
<br/><br/>
[% IF WARNINGS.size %]
  <b>[% 'Warning: One or more field value are not in valid DATEV format at:' | $T8 %]</b><br /><br />
  [%- FOREACH warning = WARNINGS %]
    [% warning | $T8 %]<br/>
  [%- END %]
<br />
[% END %]

[% IF datev.net_gross_differences.size %]
[% INCLUDE 'datev/net_gross_difference.html'
  net_gross_differences     = datev.net_gross_differences,
  sum_net_gross_differences = datev.sum_net_gross_differences
%]
[% END %]
