[%- USE T8 %]
[% USE HTML %]
<h1>[% 'Tax Office Preferences' | $T8 %]</h1>

<form name="verzeichnis" method="post" action="[% HTML.escape(script) %]">
<table width="100%">
    <tr>
     <td>
       <br />
[%- IF COA_Germany %]
       <fieldset>
       <legend><b>[% 'Local Tax Office Preferences' | $T8 %]</b></legend>
       <br />
       [% select_tax_office %]
       </fieldset>
       <br />
[%- END %]
       <fieldset>
       <legend><b>[% 'Taxation' | $T8 %]</b>
       </legend>
            [%- IF method_local %]
              [% method_local %]
            [%- END %]
       </fieldset>
       <br>
       <fieldset>
       <legend><b>[% 'Tax Period' | $T8 %]</b>
       </legend>


           <input name=fa_voranmeld id=month class=radio type=radio value="month"
             [% checked_monthly %]>
           <label for="month">[% 'month' | $T8 %]</label>
           <br>
           <input name="fa_voranmeld" id=quarter class=radio type=radio value="quarter"
             [% checked_quarterly %]>
           <label for="quarter">[% 'quarter' | $T8 %]</label>
           <br>
           <input name="fa_dauerfrist" id=fa_dauerfrist class=checkbox type=checkbox value="1"
             [% checked_dauerfristverlaengerung %]>
           <label for="">[% 'Extension Of Time' | $T8 %]</label>

           </fieldset>
           <br>
           <fieldset>
           <legend><b>[% 'Tax Consultant' | $T8 %]</b>
           </legend>
          <!-- <input name="fa_71" id=fa_71 class=checkbox type=checkbox value="X"
             [% checked_kz_71 %]>
           <label for="fa_71">[% 'Clearing Tax Received (No 71)' | $T8 %]
    .      </label>
           <br>
           <br>-->
           <table>
           <tr>
           <td>
           [% 'Name' | $T8 %]
           </td>
           <td>
           [% 'Street' | $T8 %]
           </td>
           <td>
           [% 'Zip, City' | $T8 %]
           </td>
           <td>
           [% 'Telephone' | $T8 %]
           </td>
           </tr>
           <tr>
           <td>
           <input name="fa_steuerberater_name" id=steuerberater size=25
             value="[% HTML.escape(fa_steuerberater_name) %]">
           </td>
           <td>
           <input name="fa_steuerberater_street" id=steuerberater size=25
             value="[% HTML.escape(fa_steuerberater_street) %]">
           </td>
           <td>
           <input name="fa_steuerberater_city" id=steuerberater size=25
             value="[% HTML.escape(fa_steuerberater_city) %]">
           </td>
           <td>
           <input name="fa_steuerberater_tel" id=steuerberater size=25
             value="[% HTML.escape(fa_steuerberater_tel) %]">
           </tr>
           </table>

           </fieldset>

           <br>
           <br>
           <hr>
           <!--<input type=submit class=submit name=action value="
           [% 'debug' | $T8 %]">-->
           <input type=submit class=submit name=action
             value="[% 'continue' | $T8 %]">
         </td>
       </tr>
     </table>

     [%- FOREACH var = hidden_variables %]
       <input type="hidden" name="[% HTML.escape(var.variable) %]" value="[% HTML.escape(var.value) %]">
     [%- END %]
  </form>
