[%- USE T8 %]
[%- USE HTML %]

<h1>[% 'Generic Tax Report' | $T8 %]</h1>
<p>[% 'Taxnumber' | $T8 %]: [% taxnumber %]</p>
<p>[% 'Year' | $T8 %]: [% year %]</p>
<p>[% 'Period' | $T8 %]: [% period %]</p>
<br />
<table width="33%">
  <tr>
    <th>[% 'Tax Position' | $T8 %]</th>
    <th>[% 'Amount' | $T8 %]</th>
  </tr>
[% FOREACH row = USTVA %]
  <tr class="listrow[% loop.count % 2 %]">

    <td align="left">[% HTML.escape(row.id) %]</td>
    <td align="right">[% HTML.escape(row.amount) %]</td>
  </tr>
[% END %]

</table>

