[%- USE T8 %]
[%- USE LxERP %]
[%- USE HTML %]
[%- USE L %]
[%- USE Dumper %]
<div class="counted">
  <table class="tbl-list">
    <caption>[% "On stock" | $T8 %]</caption>
    <thead>
      <tr>
        <th>[% "Bin" | $T8 %]</th>
        <th>[% "Article" | $T8 %]</th>
        <th>[% "Chargenumber" | $T8 %]</th>
      </tr>
    </thead>
    <tbody>
      [%  FOREACH row = DATA %]
      [% SET style ='' %]
      [% IF row.counted %]
      [% SET style = 'style="background-color:green;"' %]
      [% END %]
      <tr [% style %]>
        <td>[% HTML.escape(row.bin.description) %]</td>
        <td>[% HTML.escape(row.part.displayable_name) %]</td>
        <td>[% HTML.escape(row.chargenumber) %]</td>
      </tr>
      [% END %]
    </tbody>
  </table>
</div>
