[%- USE HTML -%][%- USE LxERP -%][%- USE L -%][%- USE T8 -%]<h1>[% HTML.escape(title) %]</h1>
[% SET style="width: 400px" %]

<form action="controller.pl" method="post">
[%- L.hidden_tag("id", SELF.config.id) %]

<table>
  <tr>
    <th align="right">[% 'Description' | $T8 %]</th>
    <td>[%- L.input_tag("config.description", SELF.config.description) %]</td>
  </tr>
[%- FOREACH bg = BUCHUNGSGRUPPEN %]
  <tr>
    <th align="right">[% 'Revenue' | $T8 %] [% HTML.escape(bg.description) %]</th>
    [%- IF SELF.config.id %]
    <td>[% CHARTLIST.${bg.id}.income_accno %] -- [% CHARTLIST.${bg.id}.income_accno_description %]</td>
    [%- ELSE %]
    <td>[% L.chart_picker('income_accno_id_' _ bg.id, SELF.defaults.income_accno_id, choose=1, type='IC_income,IC_sale', style=style) %]</td>
    [%- END %]
  </tr>
  <tr>
    <th align="right">[% 'Expense' | $T8 %] [% HTML.escape(bg.description) %]</th>
    [%- IF SELF.config.id %]
    <td>[% CHARTLIST.${bg.id}.expense_accno %] -- [% CHARTLIST.${bg.id}.expense_accno_description %]</td>
    [%- ELSE %]
    <td>[% L.chart_picker('expense_accno_id_' _ bg.id, SELF.defaults.expense_accno_id, choose=1, type='IC_expense,IC_cogs', style=style) %]</td>
    [%- END %]
  </tr>
[%- END %]
</table>

[% LxERP.t8('Obsolete') %]: [% L.checkbox_tag('config.obsolete', checked = SELF.config.obsolete, for_submit=1) %]

 <p>
  [% L.hidden_tag("action", "Taxzones/dispatch") %]
  [% L.submit_tag("action_" _  (SELF.config.id ? "update" : "create"), LxERP.t8('Save'), onclick="return check_prerequisites();") %]
  <a href="[% SELF.url_for(action='list') %]">[%- LxERP.t8("Cancel") %]</a>
 </p>

 <hr>

<script type="text/javascript">
<!--
function check_prerequisites() {
  if ($('#config_description').val() === "") {
    alert(kivi.t8('The description is missing.'));
    return false;
  }

  return true;
}
-->
</script>
</form>
