[%- USE HTML -%][%- USE LxERP %][%- USE T8 %]
[%- BLOCK output %]
 <div id="flash_[% type %]" class="flash_message_[% type %]"[% IF !messages || !messages.size %] style="display: none"[% END %]>
  <a href='#' style='float:right'
     onclick='$("#flash_[% type %]_content").empty();$("#flash_[% type %]_detail").empty();$("#flash_[% type %]").hide()'>
     <img src='image/close.png' border='0' alt='[% 'Close Flash' | $T8 %]'></a>
  <span class="flash_title">[%- title %]:</span>
  <span id="flash_[% type %]_content">
   [% FOREACH message = messages %]
    [%- HTML.escape(message) %]
    [%- UNLESS loop.last %]<br>[% END %]
   [%- END %]
  </span>
  <span id="flash_[% type %]_disp" style="display: none">
  <a href='#' style='float:left' onclick='$("#flash_detail_[% type %]").toggle();'>
     [[% 'Details' | $T8 %]]</a>&nbsp;&nbsp;</span>
  <div id="flash_detail_[% type %]" style="display: none">
    <br>
    <span id="flash_[% type %]_detail"></span><br>
    <a href='#' style='float:left'
      onclick='$("#flash_detail_[% type %]").hide()'>
      <img src='image/close.png' border='0' alt='[% 'Close Details' | $T8 %]'></a><br>
  </div>
 </div>
[%- END %]
[%- PROCESS output title=LxERP.t8('Error')       type='error'   messages = FLASH.error %]
[%- PROCESS output title=LxERP.t8('Warning')     type='warning' messages = FLASH.warning %]
[%- PROCESS output title=LxERP.t8('Information') type='info'    messages = FLASH.info %]
[%- PROCESS output title=LxERP.t8('Ok')          type='ok'      messages = FLASH.ok %]
