[%- USE T8 %]
[%- USE L %]
[% USE HTML %]
<h1>[% 'history search engine' | $T8 %]</h1>

<form method="post" action="am.pl">

<input type="hidden" name="action" value="show_am_history">

<table>
  <tr>
    <td>[% '<b>What</b> do you want to look for?' | $T8 %]:</td>
    <td>
      <select name="what2search" id="what2search">
        <option name="Artikelnummer" value="Artikelnummer" id="Artikelnummer">[% 'Part Number' | $T8 %]</option>
        <option name="Kundennummer" value="Kundennummer" id="Kundennummer">[% 'Customer Number' | $T8 %]</option>
        <option name="Lieferantennummer" value="Lieferantennummer" id="Lieferantennummer">[% 'Vendor Number' | $T8 %]</option>
        <option name="Projektnummer" value="Projektnummer" id="Projektnummer">[% 'Project Number' | $T8 %]</option>
        <option name="Auftragsnummer" value="Auftragsnummer" id="Auftragsnummer">[% 'Order Number' | $T8 %]</option>
        <option name="Angebotsnummer" value="Angebotsnummer" id="Angebotsnummer">[% 'Quotation Number' | $T8 %]</option>
        <option name="Eingangsrechnungnummer" value="Eingangsrechnungnummer" id="Eingangsrechnungnummer">[% 'Incoming invoice number' | $T8 %]</option>
        <option name="Ausgangsrechnungnummer" value="Ausgangsrechnungnummer" id="Ausgangsrechnungnummer">[% 'Sales invoice number' | $T8 %]</option>
        <option name="Mahnungsnummer" value="Mahnungsnummer" id="Mahnungsnummer">[% 'Dunning number' | $T8 %]</option>
        <option name="Buchungsnummer" value="Buchungsnummer" id="Buchungsnummer">[% 'ID' | $T8 %]</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>[% 'What <b>term</b> you are looking for?' | $T8 %]</td>
    <td><input type="text" name="searchid" id="searchid" value="[% searchid  | html %]"></td>
  </tr>
  <tr>
    <td valign="top">[% 'Do you want to <b>limit</b> your search?' | $T8 %]</td>
    <td>
      <table>
        <tr>
          <td>
            <div id="initForm">
              <a id='show_extended_options' href='#'>[% 'Yes' | $T8 %]</a>
            </div>
            <div id="selectTable" style="display:none;">
              <select id='selectForm'>
              </select>
            </div>
            <div id="inputHead" style="display:none;"><b>[% 'You\'ve already chosen the following limitations:' | $T8 %]</b></div>
            <div id="inputText" style="display:none;"></div>
          </td>
        </tr>
        <tr>
          <td>
            <div id="selectEmployee" style="display:none;">
              <b>Mitarbeiter:</b>&nbsp; <input type="text" name="mitarbeiter" id="mitarbeiter">
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div id="selectDate" style="display:none;">
                  <b>[% 'Period' | $T8 %]:&nbsp;</b>
                     [% 'from (time)' | $T8 %]:&nbsp; [% L.date_tag('fromdate', todate) %]
                     [% 'to (time)' | $T8 %]:&nbsp; [% L.date_tag('todate', todate) %]
            </div>
          </td>
        </tr>
      </table>
      <input type="hidden" name="einschraenkungen" id="einschraenkungen" value="">
    </td>
  </tr>
</table>

<hr>
<input type="submit" class="submit" value="[% 'submit' | $T8 %]">
<input type="reset" class="submit" value="[% 'reset' | $T8 %]" id='reset_button'>

</form>

<script type="text/javascript">
  <!--
  var defaults = ['SAVED', 'DELETED', 'ADDED', 'PAYMENT POSTED', 'POSTED',
  'POSTED AS NEW', 'SAVED FOR DUNNING', 'DUNNING STARTED', 'PRINTED',
  'QUEUED', 'CANCELED' ,'IMPORT', 'UNIMPORT' ];
  var available;
  var selected;
  var translated = {
    'SAVED'             : '[% 'SAVED' | $T8 %]',
    'SCREENED'          : '[% 'SCREENED' | $T8 %]',
    'DELETED'           : '[% 'DELETED' | $T8 %]',
    'ADDED'             : '[% 'ADDED' | $T8 %]',
    'PAYMENT POSTED'    : '[% 'PAYMENT POSTED' | $T8 %]',
    'POSTED'            : '[% 'POSTED' | $T8 %]',
    'POSTED AS NEW'     : '[% 'POSTED AS NEW' | $T8 %]',
    'SAVED FOR DUNNING' : '[% 'SAVED FOR DUNNING' | $T8 %]',
    'DUNNING STARTED'   : '[% 'DUNNING STARTED' | $T8 %]',
    'PRINTED'           : '[% 'PRINTED' | $T8 %]',
    'QUEUED'            : '[% 'QUEUED' | $T8 %]',
    'CANCELED'          : '[% 'CANCELED' | $T8 %]',
    'IMPORT'            : '[% 'IMPORT' | $T8 %]',
    'UNIMPORT'          : '[% 'UNIMPORT' | $T8 %]',
  };

  function addForm(index) {
    $('#inputHead').show();
    selected.push(available.splice(index.index-1, 1));
    $('#inputText').html($(selected).map(function(){ return translated[this]; }).get().join('<br>'));
    $('#einschraenkungen').val(selected.join(','));

    showForm();
  }

  function showForm() {
    $('#selectForm').empty();
    $('<option/>').appendTo('#selectForm');
    $(available).map(function(){
      $('<option/>').val(this).text(translated[this]).click(function(){ addForm(this) }).appendTo('#selectForm');
    });
  }

  function resetAll() {
    available = defaults.slice(0);
    selected  = [];
    initForm();

    $('#inputForm').empty();
    $('#inputText').html('');
    $('#selectTable, #inputHead, #inputText, #selectEmployee, #selectDate').hide();
    $('#initForm').show();
  }

  function initForm() {
    showForm();

    $('#selectTable, #inputText, #selectEmployee, #selectDate').show();
    $('#initForm').hide();
  }

  $(function(){
    resetAll();
    $('#show_extended_options').click(initForm);
    $('#reset_button').click(resetAll);
  });
  //-->
</script>
