[% USE HTML %]

[% BLOCK jump_block %]
 <p>
  <translate>Jump to</translate> <a href="#billing"><translate>Billing Address</translate></a>
  [%- FOREACH shipto = SHIPTO %]
   ,
   <a href="#shipping[% loop.count %]">
    <translate>Shipping Address</translate>
    &quot;[% HTML.escape(shipto.shiptoname) %]&quot;
   </a>
  [%- END %]
  [%- FOREACH contact = CONTACTS %]
   ,
   <a href="#contact[% loop.count %]">
    <translate>Contact Person</translate>
    &quot;[% HTML.escape(contact.cp_name) %]&quot;
   </a>
  [%- END %]
 </p>

 <hr>
[% END %]

<body>

 <div width="100%" class="listtop">
  [% IF is_customer %]<translate>Customer details</translate>[% ELSE %]<translate>Vendor details</translate>[% END %] &quot;[% HTML.escape(name) %]&quot;
 </div>

 [%- INCLUDE jump_block CONTACTS = CONTACTS, SHIPTO = SHIPTO %]

 <a name="billing"><div class="listheading"><translate>Billing Address</translate></div></a>

 <table>
  <tr>
   <td align="right"><translate>Customer Number</translate></td>
   <td>[% HTML.escape(customernumber) %]</td>
  </tr>

  <tr>
   <td align="right"><translate>Company Name</translate></td>
   <td>[% HTML.escape(name) %]</td>
  </tr>

  <tr>
   <td align="right"><translate>Department</translate></td>
   <td>[% HTML.escape(department_1) %][% IF department_2 %][% IF department_1 %]; [% END %][% HTML.escape(department_2) %][% END %]</td>
  </tr>

  <tr>
   <td align="right"><translate>Street</translate></td>
   <td>[% HTML.escape(street) %]</td>
  </tr>

  <tr>
   <td align="right"><translate>Zip, City</translate></td>
   <td>[% HTML.escape(zipcode) %] [% HTML.escape(city) %]</td>
  </tr>

  <tr>
   <td align="right"><translate>Country</translate></td>
   <td>[% HTML.escape(country) %]</td>
  </tr>

  <tr>
   <td align="right"><translate>Contact Person</translate></td>
   <td>[% IF greeting %][% HTML.escape(greeting) %] [% END %][% HTML.escape(contact) %]</td>
  </tr>

  <tr>
   <td align="right"><translate>Phone</translate></td>
   <td>[% HTML.escape(phone) %]</td>
  </tr>

  <tr>
   <td align="right"><translate>Fax</translate></td>
   <td>[% HTML.escape(fax) %]</td>
  </tr>

  <tr>
   <td align="right"><translate>E-mail</translate></td>
   <td>[% HTML.escape(email) %]</td>
  </tr>

  <tr>
   <td align="right"><translate>Homepage</translate></td>
   <td>[% HTML.escape(homepage) %]</td>
  </tr>

  <tr>
   <td align="right"><translate>Credit Limit</translate></td>
   <td>[% HTML.escape(creditlimit) %]</td>
  </tr>

  <tr>
   <td align="right"><translate>Discount</translate></td>
   <td>[% HTML.escape(discount) %]%</td>
  </tr>

  <tr>
   <td align="right"><translate>Payment Terms</translate></td>
   <td>[% HTML.escape(payment_terms) %]</td>
  </tr>

  <tr>
   <td align="right"><translate>Tax Number</translate></td>
   <td>[% HTML.escape(taxnumber) %]</td>
  </tr>

  <tr>
   <td align="right"><translate>USt-IdNr.</translate></td>
   <td>[% HTML.escape(ustid) %]</td>
  </tr>

  [% IF is_customer %]
   <tr>
    <td align="right"><translate>KNr. beim Kunden</translate></td>
    <td>[% HTML.escape(c_vendor_id) %]</td>
   </tr>
  [% END %]

  <tr>
   <td align="right"><translate>Account Number</translate></td>
   <td>[% HTML.escape(account_number) %]</td>
  </tr>

  <tr>
   <td align="right"><translate>Bank Code</translate></td>
   <td>[% HTML.escape(bank_code) %]</td>
  </tr>

  <tr>
   <td align="right"><translate>Bank</translate></td>
   <td>[% HTML.escape(bank) %]</td>
  </tr>

  <tr>
   <td align="right">[% IF is_customer %]<translate>Customer type</translate>[% ELSE %]<translate>Vendor type</translate>[% END %]</td>
   <td>[% HTML.escape(business) %]</td>
  </tr>

  <tr>
   <td align="right"><translate>Language</translate></td>
   <td>[% HTML.escape(language) %]</td>
  </tr>

  <tr>
   <td align="right" valign="top"><translate>Notes</translate></td>
   <td valign="top">[% HTML.escape(notes) %]</td>
  </tr>

 </table>




 [% FOREACH row = SHIPTO %]

  <hr>

  [%- INCLUDE jump_block CONTACTS = CONTACTS, SHIPTO = SHIPTO %]

  <a name="shipping[% loop.count %]"><div class="listheading"><translate>Shipping Address</translate> &quot;[% HTML.escape(row.shiptoname) %]&quot;</div></a>

  <table>
   <tr>
    <td align="right"><translate>Company Name</translate></td>
    <td>[% HTML.escape(row.shiptoname) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Department</translate></td>
    <td>[% HTML.escape(row.shiptodepartment_1) %][% IF row.shiptodepartment_2 %][% IF row.shiptodepartment_1 %]; [% END %][% HTML.escape(row.shiptodepartment_2) %][% END %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Street</translate></td>
    <td>[% HTML.escape(row.shiptostreet) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Zip, City</translate></td>
    <td>[% HTML.escape(row.shiptozipcode) %] [% HTML.escape(row.shiptocity) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Country</translate></td>
    <td>[% HTML.escape(row.shiptocountry) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Contact Person</translate></td>
    <td>[% HTML.escape(row.shiptocontact) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Phone</translate></td>
    <td>[% HTML.escape(row.shiptophone) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Fax</translate></td>
    <td>[% HTML.escape(row.shiptofax) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>E-mail</translate></td>
    <td>[% HTML.escape(row.shiptoemail) %]</td>
   </tr>

  </table>
 [% END %]










 [% FOREACH row = CONTACTS %]

  <hr>

  [%- INCLUDE jump_block CONTACTS = CONTACTS, SHIPTO = SHIPTO %]

  <a name="contact[% loop.count %]"><div class="listheading"><translate>Contact Person</translate> &quot;[% HTML.escape(row.cp_name) %]&quot;</div></a>

  <table>
   <tr>
    <td align="right"><translate>Greeting</translate></td>
    <td>[% HTML.escape(row.cp_greeting) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Title</translate></td>
    <td>[% HTML.escape(row.cp_title) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Given Name</translate></td>
    <td>[% HTML.escape(row.cp_givenname) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Name</translate></td>
    <td>[% HTML.escape(row.cp_name) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Department</translate></td>
    <td>[% HTML.escape(row.cp_abteilung) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Phone1</translate></td>
    <td>[% HTML.escape(row.cp_phone1) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Phone2</translate></td>
    <td>[% HTML.escape(row.cp_phone2) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Fax</translate></td>
    <td>[% HTML.escape(row.cp_fax) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Mobile1</translate></td>
    <td>[% HTML.escape(row.cp_mobile1) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Mobile2</translate></td>
    <td>[% HTML.escape(row.cp_mobile2) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Sat. Phone</translate></td>
    <td>[% HTML.escape(row.cp_satphone) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Sat. Fax</translate></td>
    <td>[% HTML.escape(row.cp_satfax) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Project</translate></td>
    <td>[% HTML.escape(row.cp_project) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>E-mail</translate></td>
    <td>[% HTML.escape(row.cp_email) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Private Phone</translate></td>
    <td>[% HTML.escape(row.cp_privatphone) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Private E-mail</translate></td>
    <td>[% HTML.escape(row.cp_privatemail) %]</td>
   </tr>

   <tr>
    <td align="right"><translate>Birthday</translate></td>
    <td>[% HTML.escape(row.cp_birthday) %]</td>
   </tr>

  </table>

 [% END %]

</body>
</html>
