[%- USE T8 %]
[% USE HTML %]
[% IF SUCCESS %]

[% BLOCK column_header %]
            <table height="0" width="0" cellpadding="0" cellspacing="0" marginheight="0" marginwidth="0" valign="top" border="0">
             [% IF THIS_COLUMN && !THIS_COLUMN_DOWN %]
               <tr><td><a title="[% 'order' | $T8 %]" style="background: #ccccff; border: solid 1px #aaaade;">&and;</a></td></tr>
             [% ELSE %]
               <tr><td><a href="[% callback %]&order=[% column %]--0" title="[% 'order' | $T8 %]" style="border: solid 1px #aaaade;">&and;</a></td></tr>
             [% END %]
             [% IF THIS_COLUMN &&  THIS_COLUMN_DOWN %]
               <tr><td><a title="[% 'order' | $T8 %]" style="background: #ccccff; border: solid 1px #aaaade;">&or;</a></td></tr>
             [% ELSE %]
               <tr><td><a href="[% callback %]&order=[% column %]--1" title="[% 'order' | $T8 %]" style="border: solid 1px #aaaade;">&or;</a></td></tr>
             [% END %]
            </table>
[% END %]

<table>
  <tr class='listheading'>
    <th>
      <table height="0" width="0" cellpadding="0" cellspacing="0" marginheight="0" marginwidth="0" border="0">
        <tr>
          <td align="center" valign="middle">
           &nbsp;[% 'Time' | $T8 %]&nbsp;
          </td>
          <td valign="top">
           [% PROCESS column_header THIS_COLUMN=ITIME THIS_COLUMN_DOWN=ITIMEBY column='h.itime' %]
          </td>
        </tr>
      </table>
    </th>
    <th>
      <table height="0" width="0" cellpadding="0" cellspacing="0" marginheight="0" marginwidth="0" border="0">
        <tr>
          <td align="center" valign="middle">
            &nbsp;[% 'Employee' | $T8 %]&nbsp;
          </td>
          <td valign="top">
           [% PROCESS column_header THIS_COLUMN=NAME THIS_COLUMN_DOWN=NAMEBY column='emp.name' %]
          </td>
        </tr>
      </table>
    </th>
    <th>
      <table>
        <tr>
          <td>
            &nbsp;[% 'Action' | $T8 %]&nbsp;
          </td>
        </tr>
      </table>
    </th>
    <th>
      <table>
        <tr>
          <td>
            &nbsp;[% 'Addition' | $T8 %]&nbsp;
          </td>
        </tr>
      </table>
    </th>
    <th>
      <table height="0" width="0" cellpadding="0" cellspacing="0" marginheight="0" marginwidth="0" border="0">
        <tr>
          <td align="center" valign="middle">
           &nbsp;[% 'ID number' | $T8 %]&nbsp;
          </td>
          <td valign="top">
            [% PROCESS column_header THIS_COLUMN=TRANS_ID THIS_COLUMN_DOWN=TRANS_IDBY column='h.trans_id' %]
          </td>
        </tr>
      </table>
    </th>
    <th>
      <table height="0" width="0" cellpadding="0" cellspacing="0" marginheight="0" marginwidth="0" border="0">
        <tr>
          <td align="center" valign="middle">
           &nbsp;[% 'Record number' | $T8 %]&nbsp;
          </td>
          <td valign="top">
            [% PROCESS column_header THIS_COLUMN=SNUMBERS THIS_COLUMN_DOWN=SNUMBERSBY column='h.snumbers' %]
          </td>
        </tr>
      </table>
    </th>
  </tr>
  <tbody>
[% FOREACH row = DATEN %]
  <tr class="listrow[% loop.count % 2 %]">
    <td nowrap>
      &nbsp;[% HTML.escape(row.itime) %]&nbsp;
    </td>
    <td nowrap>
      &nbsp;[% HTML.escape(row.name) %]&nbsp;
    </td>
    <td>
      &nbsp;[% HTML.escape(row.addition) %]&nbsp;
    </td>
    <td>
      &nbsp;[% HTML.escape(row.what_done) %]&nbsp;
    </td>
    <td>
      &nbsp;[% HTML.escape(row.id) %]&nbsp;
    </td>
    <td>
      &nbsp;
      [% IF row.haslink %]
      <a href="[% row.haslink %]" target="_blank">[% HTML.escape(row.snumbers) %]</a>
      [% ELSE %]
      [% HTML.escape(row.snumbers) %]
      [% END %]
      &nbsp;
    </td>
  </tr>
[% END %]
</tbody>
</table>
[% ELSE %]
<b>[% 'No search results found!' | $T8 %]</b><br>
[% END %]
<p>
[% IF NONEWWINDOW %]
<input type="button" onclick="javascript:history.back(-1);" value="[% 'back' | $T8 %]">
[% ELSE %]
<input type="button" onclick="javascript:window.close();" value="[% 'close' | $T8 %]">
[% END %]
</p>
