<form>
<input type="hidden" name="path" value="<TMPL_VAR NAME=path ESCAPE=HTML>">
<input type="hidden" name="login" value="<TMPL_VAR NAME=login ESCAPE=HTML>">
<input type="hidden" name="password" value="<TMPL_VAR NAME=password ESCAPE=HTML>">
</form> 
<TMPL_IF NAME=SUCCESS>
<table>
	<tr>
		<th class=listtop>
			Zeitpunkt
		</th>
		<th class=listtop>
			Mitarbeiter
		</th>
		<th class=listtop>
			Vorgang
		</th>
		<th class=listtop>
			Zusatz
		</th>
	</tr>
<TMPL_LOOP NAME=DATEN>
	<tr class="listrow<TMPL_IF __odd__>1<TMPL_ELSE>0</TMPL_IF>">
		<td nowrap>
			<TMPL_VAR NAME=itime ESCAPE=HTML>
		</td>
		<td nowrap>
			<TMPL_VAR NAME=name ESCAPE=HTML>
		</td>
		<td>
			<TMPL_VAR NAME=addition ESCAPE=HTML>
		</td>
		<td>
			<TMPL_VAR NAME=what_done ESCAPE=HTML>
		</td>
	</tr>	
</TMPL_LOOP>
</table>
<TMPL_ELSE>
<b>Keine Suchergebnisse gefunden!</b><br>
</TMPL_IF>
<p>
<TMPL_IF NAME=NONEWWINDOW>
<input type="button" onclick="javascript:history.back(-1);" value="zurück">
<TMPL_ELSE>
<input type="button" onclick="javascript:window.close();" value="schließen">
</TMPL_IF>
</p>
