[% USE HTML %]

[% BLOCK jump_block %]
 <p>
  Springe zu <a href="#billing">Rechnungsadresse</a>
  [%- FOREACH shipto = SHIPTO %]
   ,
   <a href="#shipping[% loop.count %]">
    Lieferadresse
    &quot;[% HTML.escape(shipto.shiptoname) %]&quot;
   </a>
  [%- END %]
  [%- FOREACH contact = CONTACTS %]
   ,
   <a href="#contact[% loop.count %]">
    Ansprechpartner
    &quot;[% HTML.escape(contact.cp_name) %]&quot;
   </a>
  [%- END %]
 </p>

 <hr>
[% END %]

<body>

 <div width="100%" class="listtop">
  [% IF is_customer %]Kundendetails[% ELSE %]Lieferantendetails[% END %] &quot;[% HTML.escape(name) %]&quot;
 </div>

 [%- INCLUDE jump_block CONTACTS = CONTACTS, SHIPTO = SHIPTO %]

 <a name="billing"><div class="listheading">Rechnungsadresse</div></a>

 <table>
  <tr>
  [% IF is_customer %]
   <td align="right">Kundennummer</td>
   <td>[% HTML.escape(customernumber) %]</td>
  [% ELSE %]
   <td align="right">Lieferantennummer</td>
   <td>[% HTML.escape(vendornumber) %]</td>
  [% END %]
  </tr>

  <tr>
   <td align="right">Firmenname</td>
   <td>[% HTML.escape(name) %]</td>
  </tr>

  <tr>
   <td align="right">Abteilung</td>
   <td>[% HTML.escape(department_1) %][% IF department_2 %][% IF department_1 %]; [% END %][% HTML.escape(department_2) %][% END %]</td>
  </tr>

  <tr>
   <td align="right">Straﬂe</td>
   <td>[% HTML.escape(street) %]</td>
  </tr>

  <tr>
   <td align="right">PLZ, Ort</td>
   <td>[% HTML.escape(zipcode) %] [% HTML.escape(city) %]</td>
  </tr>

  <tr>
   <td align="right">Land</td>
   <td>[% HTML.escape(country) %]</td>
  </tr>

  <tr>
   <td align="right">Ansprechpartner</td>
   <td>[% IF greeting %][% HTML.escape(greeting) %] [% END %][% HTML.escape(contact) %]</td>
  </tr>

  <tr>
   <td align="right">Telefon</td>
   <td>[% HTML.escape(phone) %]</td>
  </tr>

  <tr>
   <td align="right">Fax</td>
   <td>[% HTML.escape(fax) %]</td>
  </tr>

  <tr>
   <td align="right">eMail</td>
   <td>[% HTML.escape(email) %]</td>
  </tr>

  <tr>
   <td align="right">Homepage</td>
   <td>[% HTML.escape(homepage) %]</td>
  </tr>

  <tr>
   <td align="right">Kreditlimit</td>
   <td>[% HTML.escape(creditlimit) %]</td>
  </tr>

  <tr>
   <td align="right">Rabatt</td>
   <td>[% HTML.escape(discount) %]%</td>
  </tr>

  <tr>
   <td align="right">Zahlungskonditionen</td>
   <td>[% HTML.escape(payment_terms) %]</td>
  </tr>

  <tr>
   <td align="right">Steuernummer</td>
   <td>[% HTML.escape(taxnumber) %]</td>
  </tr>

  <tr>
   <td align="right">USt-IdNr.</td>
   <td>[% HTML.escape(ustid) %]</td>
  </tr>

  [% IF is_customer %]
   <tr>
    <td align="right">KNr. beim Kunden</td>
    <td>[% HTML.escape(c_vendor_id) %]</td>
   </tr>
  [% END %]

  <tr>
   <td align="right">Kontonummer</td>
   <td>[% HTML.escape(account_number) %]</td>
  </tr>

  <tr>
   <td align="right">BLZ</td>
   <td>[% HTML.escape(bank_code) %]</td>
  </tr>

  <tr>
   <td align="right">Bank</td>
   <td>[% HTML.escape(bank) %]</td>
  </tr>

  <tr>
   <td align="right">[% IF is_customer %]Kundentyp[% ELSE %]Lieferantentyp[% END %]</td>
   <td>[% HTML.escape(business) %]</td>
  </tr>

  <tr>
   <td align="right">Sprache</td>
   <td>[% HTML.escape(language) %]</td>
  </tr>

  <tr>
   <td align="right" valign="top">Bemerkungen</td>
   <td valign="top">[% HTML.escape(notes) %]</td>
  </tr>

 </table>




 [% FOREACH row = SHIPTO %]

  <hr>

  [%- INCLUDE jump_block CONTACTS = CONTACTS, SHIPTO = SHIPTO %]

  <a name="shipping[% loop.count %]"><div class="listheading">Lieferadresse &quot;[% HTML.escape(row.shiptoname) %]&quot;</div></a>

  <table>
   <tr>
    <td align="right">Firmenname</td>
    <td>[% HTML.escape(row.shiptoname) %]</td>
   </tr>

   <tr>
    <td align="right">Abteilung</td>
    <td>[% HTML.escape(row.shiptodepartment_1) %][% IF row.shiptodepartment_2 %][% IF row.shiptodepartment_1 %]; [% END %][% HTML.escape(row.shiptodepartment_2) %][% END %]</td>
   </tr>

   <tr>
    <td align="right">Straﬂe</td>
    <td>[% HTML.escape(row.shiptostreet) %]</td>
   </tr>

   <tr>
    <td align="right">PLZ, Ort</td>
    <td>[% HTML.escape(row.shiptozipcode) %] [% HTML.escape(row.shiptocity) %]</td>
   </tr>

   <tr>
    <td align="right">Land</td>
    <td>[% HTML.escape(row.shiptocountry) %]</td>
   </tr>

   <tr>
    <td align="right">Ansprechpartner</td>
    <td>[% HTML.escape(row.shiptocontact) %]</td>
   </tr>

   <tr>
    <td align="right">Telefon</td>
    <td>[% HTML.escape(row.shiptophone) %]</td>
   </tr>

   <tr>
    <td align="right">Fax</td>
    <td>[% HTML.escape(row.shiptofax) %]</td>
   </tr>

   <tr>
    <td align="right">eMail</td>
    <td>[% HTML.escape(row.shiptoemail) %]</td>
   </tr>

  </table>
 [% END %]










 [% FOREACH row = CONTACTS %]

  <hr>

  [%- INCLUDE jump_block CONTACTS = CONTACTS, SHIPTO = SHIPTO %]

  <a name="contact[% loop.count %]"><div class="listheading">Ansprechpartner &quot;[% HTML.escape(row.cp_name) %]&quot;</div></a>

  <table>
   <tr>
    <td align="right">Anrede</td>
    <td>[% HTML.escape(row.cp_greeting) %]</td>
   </tr>

   <tr>
    <td align="right">Titel</td>
    <td>[% HTML.escape(row.cp_title) %]</td>
   </tr>

   <tr>
    <td align="right">Vorname</td>
    <td>[% HTML.escape(row.cp_givenname) %]</td>
   </tr>

   <tr>
    <td align="right">Name</td>
    <td>[% HTML.escape(row.cp_name) %]</td>
   </tr>

   <tr>
    <td align="right">Abteilung</td>
    <td>[% HTML.escape(row.cp_abteilung) %]</td>
   </tr>

   <tr>
    <td align="right">Telefon 1 </td>
    <td>[% HTML.escape(row.cp_phone1) %]</td>
   </tr>

   <tr>
    <td align="right">Telefon 2</td>
    <td>[% HTML.escape(row.cp_phone2) %]</td>
   </tr>

   <tr>
    <td align="right">Fax</td>
    <td>[% HTML.escape(row.cp_fax) %]</td>
   </tr>

   <tr>
    <td align="right">Mobile 1</td>
    <td>[% HTML.escape(row.cp_mobile1) %]</td>
   </tr>

   <tr>
    <td align="right">Mobile 2</td>
    <td>[% HTML.escape(row.cp_mobile2) %]</td>
   </tr>

   <tr>
    <td align="right">Sat. Tel.</td>
    <td>[% HTML.escape(row.cp_satphone) %]</td>
   </tr>

   <tr>
    <td align="right">Sat. Fax</td>
    <td>[% HTML.escape(row.cp_satfax) %]</td>
   </tr>

   <tr>
    <td align="right">Projekt</td>
    <td>[% HTML.escape(row.cp_project) %]</td>
   </tr>

   <tr>
    <td align="right">eMail</td>
    <td>[% HTML.escape(row.cp_email) %]</td>
   </tr>

   <tr>
    <td align="right">Privates Tel.</td>
    <td>[% HTML.escape(row.cp_privatphone) %]</td>
   </tr>

   <tr>
    <td align="right">Private eMail</td>
    <td>[% HTML.escape(row.cp_privatemail) %]</td>
   </tr>

   <tr>
    <td align="right">Geburtstag</td>
    <td>[% HTML.escape(row.cp_birthday) %]</td>
   </tr>

  </table>

 [% END %]

</body>
</html>
