[% USE HTML %]
[% IF SUCCESS %]
<script type="text/javascript">
  function orderBy(order,desc) {
    var reg = /\&order\=(.+)\-\-(\d)$/;
    reg.exec(document.location.href);
    if(RegExp.$1 == order) {
      document.location.href = document.location.href.substring(0,document.location.href.lastIndexOf("&order=")) + "&order=" + order + "--" + desc;
    }
    else {
      if(reg.test(document.location.href)) {
        document.location.href = document.location.href.substring(0,document.location.href.lastIndexOf("&order=")) + "&order=" + order + "--" + desc;
      }
      else {
        document.location.href = document.location.href + "&order=" + order + "--" + desc;
      }
    }
  }
</script>
<table>
	<tr>
		<th class="listtop">
      <table height="0" width="0" cellpadding="0" cellspacing="0" marginheight="0" marginwidth="0" border="0">
        <tr>
          <td align="center" valign="middle">
			     &nbsp;<translate>Zeitpunkt</translate>&nbsp;
          </td>
          <td valign="top">
            <table height="0" width="0" cellpadding="0" cellspacing="0" marginheight="0" marginwidth="0" valign="top" border="0">
              [% IF ITIME %]
                [% IF ITIMEBY %]
                  <tr><td><a href="javascript:orderBy('h.itime',0);" title="<translate>order</translate>" style="border: solid 1px #aaaade;">&and;</a></td></tr>
                  <tr><td><a title="<translate>order</translate>" style="background: #ccccff; border: solid 1px #aaaade;">&or;</a></td></tr>
                [% ELSE %]
                  <tr><td><a title="<translate>order</translate>" style="background: #ccccff; border: solid 1px #aaaade;">&and;</a></td></tr>
                  <tr><td><a href="javascript:orderBy('h.itime',1);" style="border: solid 1px #aaaade;">&or;</a></td></tr>
                [% END %]
              [% ELSE %]
                <tr><td><a href="javascript:orderBy('h.itime',0);" title="<translate>order</translate>" style="border: solid 1px #aaaade;">&and;</a></td></tr>
                <tr><td><a href="javascript:orderBy('h.itime',1);" title="<translate>order</translate>" style="border: solid 1px #aaaade;">&or;</a></td></tr>
              [% END %]
            </table>
          </td>
        </tr>
      </table>
		</th>
		<th class=listtop>
      <table height="0" width="0" cellpadding="0" cellspacing="0" marginheight="0" marginwidth="0" border="0">
        <tr>
          <td align="center" valign="middle">
            &nbsp;<translate>Mitarbeiter</translate>&nbsp;
          </td>
          <td valign="top">
            <table height="0" width="0" cellpadding="0" cellspacing="0" marginheight="0" marginwidth="0" valign="top" border="0">
              [% IF NAME %]
                [% IF NAMEBY %]
                  <tr><td height="0" width="0"><a href="javascript:orderBy('emp.name',0);" title="<translate>order</translate>" style="border: solid 1px #aaaade;">&and;</a></td></tr>
                  <tr><td height="0" width="0"><a title="<translate>order</translate>" style="background: #ccccff; border: solid 1px #aaaade;">&or;</a></td></tr>
                [% ELSE %]
                  <tr><td><a title="<translate>order</translate>" style="background: #ccccff; border: solid 1px #aaaade;">&and;</a></td></tr>
                  <tr><td><a href="javascript:orderBy('emp.name',1);" style="border: solid 1px #aaaade;">&or;</a></td></tr>
                [% END %]
              [% ELSE %]
                <tr><td><a href="javascript:orderBy('emp.name',0);" title="<translate>order</translate>" style="border: solid 1px #aaaade;">&and;</a></td></tr>
                <tr><td><a href="javascript:orderBy('emp.name',1);" title="<translate>order</translate>" style="border: solid 1px #aaaade;">&or;</a></td></tr>
              [% END %]
            </table>
          </td>
        </tr>
      </table>
		</th>
		<th class=listtop>
      <table>
        <tr>
          <td>
			      &nbsp;<translate>Aktion</translate>&nbsp;
          </td>
        </tr>
      </table>
		</th>
		<th class=listtop>
      <table>
        <tr>
          <td>
            &nbsp;<translate>Zusatz</translate>&nbsp;
          </td>
        </tr>
      </table>
    </th>
    <th class=listtop>
      <table height="0" width="0" cellpadding="0" cellspacing="0" marginheight="0" marginwidth="0" border="0">
        <tr>
          <td align="center" valign="middle">
           &nbsp;<translate>ID-Nummer</translate>&nbsp;
          </td>
          <td valign="top">
            <table height="0" width="0" cellpadding="0" cellspacing="0" marginheight="0" marginwidth="0" valign="top" border="0">
              [% IF TRANS_ID %]
                [% IF TRANS_IDBY %]
                  <tr><td height="0" width="0"><a href="javascript:orderBy('h.trans_id',0);" title="<translate>order</translate>" style="border: solid 1px #aaaade;">&and;</a></td></tr>
                  <tr><td height="0" width="0"><a title="<translate>order</translate>" style="background: #ccccff; border: solid 1px #aaaade;">&or;</a></td></tr>
                [% ELSE %]
                  <tr><td><a title="<translate>order</translate>" style="background: #ccccff; border: solid 1px #aaaade;">&and;</a></td></tr>
                  <tr><td><a href="javascript:orderBy('h.trans_id',1);" style="border: solid 1px #aaaade;">&or;</a></td></tr>
                [% END %]
              [% ELSE %]
                <tr><td><a href="javascript:orderBy('h.trans_id',0);" title="<translate>order</translate>" style="border: solid 1px #aaaade;">&and;</a></td></tr>
                <tr><td><a href="javascript:orderBy('h.trans_id',1);" title="<translate>order</translate>" style="border: solid 1px #aaaade;">&or;</a></td></tr>
              [% END %]
            </table>
          </td>
        </tr>
      </table>
    </th>
    <th class=listtop>
      <table height="0" width="0" cellpadding="0" cellspacing="0" marginheight="0" marginwidth="0" border="0">
        <tr>
          <td align="center" valign="middle">
           &nbsp;<translate>Belegnummer</translate>&nbsp;
          </td>
          <td valign="top">
            <table height="0" width="0" cellpadding="0" cellspacing="0" marginheight="0" marginwidth="0" valign="top" border="0" >
              [% IF SNUMBERS %]
                [% IF SNUMBERSBY %]
                  <tr><td height="0" width="0"><a href="javascript:orderBy('h.snumbers',0);" title="<translate>order</translate>" style="border: solid 1px #aaaade;">&and;</a></td></tr>
                  <tr><td height="0" width="0"><a title="<translate>order</translate>" style="background: #ccccff; border: solid 1px #aaaade;">&or;</a></td></tr>
                [% ELSE %]
                  <tr><td><a title="<translate>order</translate>" style="background: #ccccff; border: solid 1px #aaaade;">&and;</a></td></tr>
                  <tr><td><a href="javascript:orderBy('h.snumbers',1);" style="border: solid 1px #aaaade;">&or;</a></td></tr>
                [% END %]
              [% ELSE %]
                <tr><td><a href="javascript:orderBy('h.snumbers',0);" title="<translate>order</translate>" style="border: solid 1px #aaaade;">&and;</a></td></tr>
                <tr><td><a href="javascript:orderBy('h.snumbers',1);" title="<translate>order</translate>" style="border: solid 1px #aaaade;">&or;</a></td></tr>
              [% END %]
            </table>
          </td>
        </tr>
      </table>
    </th>
	</tr>
  <tbody>
[% FOREACH row = DATEN %]
  <tr class="listrow[% loop.count % 2 %]">
		<td nowrap>
			&nbsp;[% HTML.escape(row.itime) %]&nbsp;
		</td>
		<td nowrap>
			&nbsp;[% HTML.escape(row.name) %]&nbsp;
		</td>
		<td>
			&nbsp;[% HTML.escape(row.addition) %]&nbsp;
		</td>
		<td>
      &nbsp;[% HTML.escape(row.what_done) %]&nbsp;
    </td>
    <td>
      &nbsp;[% HTML.escape(row.id) %]&nbsp;
    </td>
    <td>
      &nbsp;[% HTML.escape(row.snumbers) %]&nbsp;
    </td>
	</tr>
[% END %]
</tbody>
</table>
[% ELSE %]
<b><translate>Keine Suchergebnisse gefunden!</translate></b><br>
[% END %]
<p>
[% IF NONEWWINDOW %]
<input type="button" onclick="javascript:history.back(-1);" value="<translate>back</translate>">
[% ELSE %]
<input type="button" onclick="javascript:window.close();" value="<translate>close</translate>">
[% END %]
</p>
