[% USE T8 %]
[% USE HTML %]
[% USE L %]
[% USE LxERP %]
[% SET auth_client = '{AUTH}client' %]
[% SET auth_login  = '{AUTH}login'  %]


<h1>[% LxERP.t8('kivitendo v#1', version) %]</h1>
<div id="login-elements">
<div class="logo">
  <a href="http://www.kivitendo.de" target="_top" class="no-underlined-links"><img src="image/kivitendo.png" class='kivitendo-logo'></a>
</div>

[% IF error %]
  <div class="message message_error">[% HTML.escape(error) %]</div>
[% END %]
[% IF warning %]
  <div class="message message_hint">[% HTML.escape(warning) %]</div>
[% END %]
[% IF info %]
  <div class="message message_ok">[% HTML.escape(info) %]</div>
[% END %]

<div class="separate-form">

  [% IF SELF.clients.size %]
  <form method="post" name="loginscreen" action="controller.pl" target="_top">
    <input type="hidden" name="show_dbupdate_warning" value="1">
    [% L.hidden_tag("callback", callback) %]

    <table class="tbl-horizontal login">
      <caption>[% 'User login' | $T8 %]</caption>
      <colgroup><col class="wi-small"><col class="wi-normal"></colgroup>
      <tbody>
        <tr>
          <th>[% 'Login Name' | $T8 %]</th>
          <td>[% L.input_tag('{AUTH}login', FORM.$auth_login, id='auth_login', class='initial_focus wi-normal') %]</td>
        </tr>
        <tr>
          <th>[% 'Password' | $T8 %]</th>
          <td>[% L.input_tag('{AUTH}password', '', type='password', class='wi-normal') %]</td>
        </tr>
        <tr>
          <th>[% 'Client' | $T8 %]</th>
          <td>[% L.select_tag('{AUTH}client_id', SELF.clients, title_key='name', default=SELF.default_client_id, class='wi-normal') %]</td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td>
            <input type="hidden" name="action" value="LoginScreen/login">
            <input type="submit" value="[% 'Login' | $T8 %]">
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div><!-- /.separate-form -->

[% ELSE %]
  <p>
    [% LxERP.t8("No clients have been created yet.") %]
    [% LxERP.t8("Please do so in the administration area.") %]
  </p>
  <p><a href="controller.pl?action=Admin/login">[% LxERP.t8("Administration area") %]</a></p>
[% END %]

<div>
  <p> <a href="controller.pl?action=Admin/login" target="_top">[% LxERP.t8('Administration area') %]</a> &nbsp;|&nbsp; <a href="doc/kivitendo-Dokumentation.pdf" target="_top">[% LxERP.t8('Documentation') %]</a> </p>
</div>

</div>


[% IF FORM.$auth_client %]
<script type='text/javascript'>
$(function() {
  $('[name="{AUTH}client_id"] option').filter(function() {
     return ($(this).text() === '[% FORM.$auth_client %]');
  }).prop('selected', true);
});
</script>
[% END %]
