
/* class for numeric columns in tables */
.numeric { text-align: right }

/* various oneshot decoration for legacy purpose. dont use */
.small-text { font-size: 70% }
.bold       { font-weight: bold }

.float-left  { float: left  }
.float-right { float: right }

/* quirk to force certain constructs to block context */
.block-context { overflow: hidden }

/* position */
.position-relative { position: relative }
.position-absolute { position: absolute }

.hidden { display: none; }

/* media stuff */
@media screen {   .noscreen { display: none } }
@media print {    .noprint  { display: none } }
@media handheld { .nomobile { display: none } }

body { behavior:url("csshover.htc") }

/* class to fix container around floats */
.clearfix:after {
  clear:both;
  content:".";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}

/* CTI */
a.cti_call_action {
  display: inline-block;
  padding-left: 18px;
  height: 16px;
  position: relative;
  top: 2px;
  vertical-align: center;
  background-image: url(../image/icons/16x16/phone.png);
  background-repeat: no-repeat;
}

/* the cvars table in the 2. row */
.row2-cvars-table tr { vertical-align: top }
.row2-cvars-table th { text-align: right; padding-left: 15px; padding-right: 0 }
.row2-cvars-table td, .row2-cvars-table th { padding-top: 10px }

input.grow_on_focus {
  width: 20px;
  transition:         width 0.1s;
  -moz-transition:    width 0.1s;
  -webkit-transition: width 0.1s;
  -o-transition:      width 0.1s;
}
input.grow_on_focus:focus { width: 150px }

/* clickable text anchors, usually with attached javascript handlers */
.interact { color: gray }
.interact:hover { color: black; }
.cursor-default { cursor: default }
.cursor-pointer { cursor: pointer }
.cursor-help { cursor: help }

/* dunning */
#dunning_invoice_list .direct_debit td,
#dunning_invoice_list .direct_debit a {
  color: #aaa;
}
/* orderitems */
.shipped     { color: green }
.not_shipped { color: red   }

/* actionbar styling */
div.layout-actionbar {
  position: fixed;
  height: 28px;
  top: 20px;
  z-index: 20;
  width: 100%;
  padding: 2px;
}

div.layout-actionbar-action {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* don't select text on double click */
}

div.layout-actionbar ~ div:first {
  padding-top: 25px;
}

div.layout-actionbar > div + div {
  margin-left: 2px;
}

div.layout-actionbar-separator {
  display: inline-block;
  width: 20px;
}

div.layout-actionbar div.layout-actionbar-link,
div.layout-actionbar div.layout-actionbar-submit,
div.layout-actionbar div.layout-actionbar-scriptbutton,
div.layout-actionbar div.layout-actionbar-link:focus,
div.layout-actionbar div.layout-actionbar-submit:focus,
div.layout-actionbar div.layout-actionbar-scriptbutton:focus {
  display: inline-block;
  width: 120px;
  box-sizing: border-box;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  padding: 4px 4px;
  cursor: default;
}

div.layout-actionbar div.layout-actionbar-link:hover,
div.layout-actionbar div.layout-actionbar-submit:hover,
div.layout-actionbar div.layout-actionbar-scriptbutton:hover {
  border-width: 1px;
  border-style: solid;
}

div.layout-actionbar-combobox {
  position: relative;
  display: inline-block;
}

div.layout-actionbar div.layout-actionbar-action {
  height: 25px;
}

div.layout-actionbar-combobox div.layout-actionbar-combobox-head div {
  width: 100px;
  height: 25px;
}

div.layout-actionbar-combobox div.layout-actionbar-combobox-head span {
  display: inline-block;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  padding: 4px;
  width: 14px;
  height: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

div.layout-actionbar-combobox div.layout-actionbar-combobox-head span:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -3px;
  border-width: 3px 3px 0 3px;
  border-style: solid;
}

div.layout-actionbar-combobox.active div.layout-actionbar-combobox-head span:after {
  border-width: 0 3px 3px 3px;
}


div.layout-actionbar-combobox div.layout-actionbar-combobox-head {
  padding-right: 20px;
  white-space: nowrap;
  display: block;
}

div.layout-actionbar-combobox div.layout-actionbar-combobox-list {
  position: absolute;
  display: none;
  min-width: 120px;
}

div.layout-actionbar-combobox.active div.layout-actionbar-combobox-list {
  display: inline-block;
  z-index: 10;
}

div.layout-actionbar-combobox-list div.layout-actionbar-action {
  white-space: nowrap;
  display: block;
  position: relative;
  width: 100%;
  text-align: left;
  padding: 4px;
}

div.cke_textarea_inline > :first-child {
  margin-top: 0;
}
div.cke_textarea_inline > :last-child {
  margin-bottom: 0;
}
div.cke_textarea_inline {
  overflow-y: auto;
}
div.cke_textarea_inline:focus {
  outline: 0;
}
