[%- USE HTML -%][%- USE L -%][%- USE LxERP -%]
<div id="text-block-[% HTML.escape(text_block.id) %]" class="requirement-spec-text-block text-block-context-menu[% IF text_block.is_flagged %] flagged[% END %]">
 <h2 class="requirement-spec-text-block-title">[% IF !text_block.title %]<span class="dimmed-text">[%- LxERP.t8("No title yet") %]</span>[% END %][%- HTML.escape(text_block.title) %]</h2>

 [% IF !text_block.text %]
  <div class="dimmed-text">
   [%- LxERP.t8("No text has been entered yet.") %]
  </div>
 [% ELSE %]
  <div class="requirement-spec-text-block-text">
   [% text_block.text_as_restricted_html %]
  </div>
 [% END %]

 <div class="clearfix requirement-spec-text-block-picture-list" id="text-block-[% HTML.escape(text_block.id) %]-pictures" [% UNLESS text_block.pictures.as_list.size %] style="display: none"[% END %]>
  [% FOREACH picture = text_block.pictures_sorted %]
   [% INCLUDE 'requirement_spec_text_block/_text_block_picture.html' picture=picture %]
  [% END %]
 </div>
</div>
