[%- USE HTML -%][%- USE L -%][%- USE LxERP -%]
<div id="text-block-[% HTML.escape(text_block.id) %]" class="requirement-spec-text-block text-block-context-menu[% IF text_block.is_flagged %] flagged[% END %]">
 <h2 class="requirement-spec-text-block-title">[% IF !text_block.title %]<span class="dimmed-text">[%- LxERP.t8("No title yet") %]</span>[% END %][%- HTML.escape(text_block.title) %]</h2>

 [% IF !text_block.text %]
  <div class="dimmed-text">
   [%- LxERP.t8("No text has been entered yet.") %]
  </div>
 [% ELSE %]
  <div class="requirement-spec-text-block-text">
   [% L.simple_format(text_block.text) %]
  </div>
 [% END %]
</div>
