[% USE HTML %]
<body onload="on_load()">

 <script type="text/javascript">
  <!--
      function on_load() {
        Calendar.setup({ inputField : "follow_up_date_from", ifFormat :"[% myconfig_jsc_dateformat %]", align : "BR", button : "follow_up_date_from_trigger" });
        Calendar.setup({ inputField : "follow_up_date_to",   ifFormat :"[% myconfig_jsc_dateformat %]", align : "BR", button : "follow_up_date_to_trigger" });
        Calendar.setup({ inputField : "itime_from",          ifFormat :"[% myconfig_jsc_dateformat %]", align : "BR", button : "itime_from_trigger" });
        Calendar.setup({ inputField : "itime_to",            ifFormat :"[% myconfig_jsc_dateformat %]", align : "BR", button : "itime_to_trigger" });
        document.Form.subject.focus();
      }
    -->
 </script>

 <div class="listtop">[% title %]</div>

 <form action="fu.pl" method="post" name="Form">
  <input type="hidden" name="nextsub" value="report">

  <p>
   <table>
    <tr>
     <td align="right">Erstellt f&uuml;r</td>
     <td>
      <select name="created_for">
       <option></option>
       [%- FOREACH row = EMPLOYEES %]
       <option value="[% HTML.escape(row.id) %]">
        [%- IF row.name %]
        [%- HTML.escape(row.name) %] ([% HTML.escape(row.login) %])
        [%- ELSE %]
        [%- HTML.escape(row.login) %]
        [%- END %]
       </option>
       [%- END %]
      </select>
     </td>
    </tr>

    <tr>
     <td align="right">Betreff</td>
     <td><input name="subject" size="20"></td>
    </tr>

    <tr>
     <td align="right">Text</td>
     <td><input name="body" size="20"></td>
    </tr>

    <tr>
     <td align="right">Referenz</td>
     <td><input name="reference" size="20"></td>
    </tr>

    <tr>
     <td align="right">Wiedervorlagedatum</td>
     <td>
      Von
      <input name="follow_up_date_from" id="follow_up_date_from" size="12">
      <input type="button" name="follow_up_date_from_button" id="follow_up_date_from_trigger" value="?">
      Bis
      <input name="follow_up_date_to" id="follow_up_date_to" size="12">
      <input type="button" name="follow_up_date_to_button" id="follow_up_date_to_trigger" value="?">
     </td>
    </tr>

    <tr>
     <td align="right">Erstellt am</td>
     <td>
      Von
      <input name="itime_from" id="itime_from" size="12">
      <input type="button" name="itime_from_button" id="itime_from_trigger" value="?">
      Bis
      <input name="itime_to" id="itime_to" size="12">
      <input type="button" name="itime_to_button" id="itime_to_trigger" value="?">
     </td>
    </tr>

    <tr>
     <td align="right">In Bericht aufnehmen</td>
     <td>

      <table>
       <tr>
        <td>
         <input type="checkbox" name="due_only" id="due_only" value="1" checked>
         <label for="due_only">Nur f&auml;llige Wiedervorlagen</label>
        </td>

        <td>
         <input type="checkbox" name="all_users" id="all_users" value="1" checked>
         <label for="all_users">Wiedervorlagen anderer Benutzer</label>
        </td>
       </tr>

       <tr>
        <td>
         <input type="checkbox" name="not_done" id="not_done" value="1" checked>
         <label for="not_done">Noch nicht fertig</label>
        </td>

        <td>
         <input type="checkbox" name="done" id="done" value="1">
         <label for="done">Fertig</label>
        </td>
       </tr>
      </table>

     </td>
    </tr>

   </table>
  </p>

  <p>
   <input type="submit" name="action" value="Weiter">
  </p>
 </form>

</body>
</html>
