[% USE LxERP %]
[% USE L %]

<div id="attachments">
<div class="wrapper">

[% SET file_type = 'attachment' %]
[% INCLUDE 'file/rename_dialog.html' %]

<h3>[% LxERP.t8("for Document types") %]</h3>
</div><!-- /.wrapper -->
<div class="tabwidget">

<ul>
  <li><a href="controller.pl?action=File/list&file_type=attachment&object_type=sales_quotation&object_id=0&is_global=1">[% LxERP.t8("Sales Quotations") %]</a></li>
  <li><a href="controller.pl?action=File/list&file_type=attachment&object_type=sales_order&object_id=0&is_global=1">[% LxERP.t8("Sales Orders") %]</a></li>
  <li><a href="controller.pl?action=File/list&file_type=attachment&object_type=sales_delivery_order&object_id=0&is_global=1">[% LxERP.t8("Sales Delivery Orders") %]</a></li>
  <li><a href="controller.pl?action=File/list&file_type=attachment&object_type=invoice&object_id=0&is_global=1">[% LxERP.t8("Invoices") %]</a></li>
  <li><a href="controller.pl?action=File/list&file_type=attachment&object_type=request_quotation&object_id=0&is_global=1">[% LxERP.t8("Request Quotations") %]</a></li>
  <li><a href="controller.pl?action=File/list&file_type=attachment&object_type=purchase_order&object_id=0&is_global=1">[% LxERP.t8("Purchase Orders") %]</a></li>
  <li><a href="controller.pl?action=File/list&file_type=attachment&object_type=purchase_delivery_order&object_id=0&is_global=1">[% LxERP.t8("Purchase Delivery Orders") %]</a></li>
  <li><a href="controller.pl?action=File/list&file_type=attachment&object_type=purchase_invoice&object_id=0&is_global=1">[% LxERP.t8("Purchase Invoices") %]</a></li>
</ul>

</div><!-- /.tabwidget -->

</div>
