[% USE HTML %]
[% USE LxERP %]
[% USE L %]
[% USE P %]

[% SET style="width: 500px" %]

[%# L.dump( SELF.defaults ) %]

<div id="default_accounts">
<div class="wrapper">

<table class="tbl-horizontal">
  <caption>[% LxERP.t8("Default Accounts") %]</caption>
  <tbody>
    <tr>
      <th>[% LxERP.t8("Inventory Account") %]</th>
      <td>[% P.chart.picker('defaults.inventory_accno_id', SELF.defaults.inventory_accno_id, type='IC', choose=1, style=style) %] </td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Revenue Account") %]</th>
      <td>[% P.chart.picker('defaults.income_accno_id', SELF.defaults.income_accno_id, type='IC_income,IC_sale', choose=1, style=style) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Expense Account") %]</th>
      <td>[% P.chart.picker('defaults.expense_accno_id', SELF.defaults.expense_accno_id, type='IC_expense,IC_cogs', choose=1, style=style) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Foreign Exchange Gain") %]</th>
      <td>[% P.chart.picker('defaults.fxgain_accno_id', SELF.defaults.fxgain_accno_id, category='I,A', choose=1, style=style) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Foreign Exchange Loss") %]</th>
      <td>[% P.chart.picker('defaults.fxloss_accno_id', SELF.defaults.fxloss_accno_id, category='E,A', choose=1, style=style) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Rounding Gain") %]</th>
      <td>[% P.chart.picker('defaults.rndgain_accno_id', SELF.defaults.rndgain_accno_id, category='I,A', choose=1, style=style) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Rounding Loss") %]</th>
      <td>[% P.chart.picker('defaults.rndloss_accno_id', SELF.defaults.rndloss_accno_id, category='E,A', choose=1, style=style) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Current assets account") %]</th>
      <td>[% P.chart.picker('defaults.ar_paid_accno_id', SELF.defaults.ar_paid_accno_id, type='AR_paid', choose=1, style=style) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Payable account") %]</th>
      <td>[% P.chart.picker('defaults.ap_chart_id', SELF.defaults.ap_chart_id, type='AP', choose=1, style=style) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Receivable account") %]</th>
      <td>[% P.chart.picker('defaults.ar_chart_id', SELF.defaults.ar_chart_id, type='AR', choose=1, style=style) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Account for workflow from purchase order to ap transaction") %]</th>
      <td>[% P.chart.picker('defaults.workflow_po_ap_chart_id', SELF.defaults.workflow_po_ap_chart_id, type='AP_amount', choose=1, style=style) %]<td>
    </tr>
  </tbody>
</table>

<table class="tbl-horizontal">
  <caption>[% LxERP.t8("Year-end closing") %]</caption>
  <tbody>
    <tr>
      <th>[% LxERP.t8("Carry over account for year-end closing") %]</th>
      <td>[% P.chart.picker('defaults.carry_over_account_chart_id', SELF.defaults.carry_over_account_chart_id, category='A', choose=1, style=style) %]<td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Profit carried forward account") %]</th>
      <td>[% P.chart.picker('defaults.profit_carried_forward_chart_id', SELF.defaults.profit_carried_forward_chart_id, category='A', choose=1, style=style) %]<td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Loss carried forward account") %]</th>
      <td>[% P.chart.picker('defaults.loss_carried_forward_chart_id', SELF.defaults.loss_carried_forward_chart_id, category='A', choose=1, style=style) %]<td>
    </tr>
  </tbody>
</table>

</div><!-- /.wrapper -->
</div><!-- /#default_accounts-->
