[% USE LxERP %]
[% USE L %]
[% USE P %]
[% USE T8 %]

<div id="features">

<div class="wrapper">

  <table class="tbl-horizontal expanded" style="margin-right:4.0em;">
    <caption>[% LxERP.t8("DATEV & UStVA") %]</caption>
    <colgroup> <col class="wi-mediumsmall"><col class="wi-small"><col class="wi-mediumsmall"> </colgroup>
    <tbody>
      <tr>
        <th>[% LxERP.t8('Datevautomatik') %]</th>
        <td>[% L.yes_no_tag('defaults.feature_datev', SELF.defaults.feature_datev) %]</td>
        <td class="long-desc">[% LxERP.t8('Use Datevautomatik') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('UStVA') %]</th>
        <td>[% L.yes_no_tag('defaults.feature_ustva', SELF.defaults.feature_ustva) %]</td>
        <td class="long-desc">[% LxERP.t8('Use UStVA') %]</td>
      </tr>
      <tr>
        <th class="caption" colspan="3">[% LxERP.t8("File Management") %]</th>
      </tr>
      <tr>
        <th>[% LxERP.t8('WebDAV') %]</th>
        <td>[% L.yes_no_tag('defaults.webdav', SELF.defaults.webdav) %]</td>
        <td class="long-desc">[% LxERP.t8('Use WebDAV Repository') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('WebDAV save documents') %]</th>
        <td>[% L.yes_no_tag('defaults.webdav_documents', SELF.defaults.webdav_documents) %]</td>
        <td class="long-desc">[% LxERP.t8('Save document in WebDAV repository') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('WebDAV sync extern') %]</td>
        <td>[% L.yes_no_tag('defaults.webdav_sync_extern', SELF.defaults.webdav_sync_extern) %]</td>
        <td class="long-desc">[% LxERP.t8('Synchronize WebDAV with owncloud repository') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Destination URL for sync') %]</td>
        <td>[% L.input_tag('defaults.webdav_sync_extern_url', SELF.defaults.webdav_sync_extern_url, style=style) %]</td>
        <td class="long-desc">[% LxERP.t8('Complete URL for WebDAV sync external, including port and folders, i.e.: https://foo.com:4433/owncloud/kivitendo') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Login for sync') %]</td>
        <td>[% L.input_tag('defaults.webdav_sync_extern_login', SELF.defaults.webdav_sync_extern_login, style=style) %]</td>
        <td class="long-desc">[% LxERP.t8('Login for WebDAV sync external') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Password for sync') %]</td>
        <td>[% L.input_tag('defaults.webdav_sync_extern_pass', SELF.defaults.webdav_sync_extern_pass, style=style) %]</td>
        <td class="long-desc">[% LxERP.t8('Password for WebDAV sync external') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Filemanagement') %]</th>
        <td>[% L.yes_no_tag('defaults.doc_storage', SELF.defaults.doc_storage) %]</td>
        <td class="long-desc">[% LxERP.t8('Use Filemanagement') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Storage Type for generated/imported PDF Documents') %]</th>
        <td>[% L.select_tag('defaults.doc_storage_for_documents', [ [ 'None', LxERP.t8('None') ],[ 'Filesystem', LxERP.t8('Files') ],[ 'Webdav', LxERP.t8('WebDAV') ] ], default = SELF.defaults.doc_storage_for_documents, onchange="return checkavailable_filebackend(this);") %]</td>
        <td class="long-desc">[% LxERP.t8('Use this storage backend for all generated PDF-Files') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Storage Type for Attachments') %]</th>
        <td>[% L.select_tag('defaults.doc_storage_for_attachments', [ [ 'None', LxERP.t8('None') ], [ 'Filesystem', LxERP.t8('Files') ],[ 'Webdav', LxERP.t8('WebDAV') ] ], default = SELF.defaults.doc_storage_for_attachments, onchange="return checkavailable_filebackend(this);") %]</td>
        <td class="long-desc">[% LxERP.t8('Use this storage backend for all uploaded attachments') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Storage Type for images') %]</th>
        <td>[% L.select_tag('defaults.doc_storage_for_images', [ [ 'None', LxERP.t8('None') ], [ 'Filesystem', LxERP.t8('Files') ],[ 'Webdav', LxERP.t8('WebDAV') ] ], default = SELF.defaults.doc_storage_for_images, onchange="return checkavailable_filebackend(this);") %]</td>
        <td class="long-desc">[% LxERP.t8('Use this storage backend for uploaded images') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Storage Type for shopimages') %]</th>
        <td>[% L.select_tag('defaults.doc_storage_for_shopimages',
             [ [ 'None', LxERP.t8('None') ], [ 'Filesystem', LxERP.t8('Files') ],[ 'Webdav', LxERP.t8('WebDAV') ] ],
                                   default = SELF.defaults.doc_storage_for_shopimages,
                                   onchange="return checkavailable_filebackend(this);") %]</td>
        <td class="long-desc">[% LxERP.t8('Use this storage backend for uploaded images') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Delete printfiles') %]</th>
        <td>[% L.yes_no_tag('defaults.doc_delete_printfiles', SELF.defaults.doc_delete_printfiles) %]</td>
        <td class="long-desc">[% LxERP.t8('Allow to delete generated printfiles') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('max filesize') %]</th>
        <td>[% L.input_tag('doc_max_filesize_MB','', size=10, onchange="verifyMBSize(this);", class='wi-small') %] [% L.hidden_tag('defaults.doc_max_filesize',SELF.defaults.doc_max_filesize) %] MB</td>
        <td class="long-desc">[% LxERP.t8('The maximum of uploadable filesize in Megabyte') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Preselect Customer/Vendor documents as email attachments') %]</th>
        <td>[% L.yes_no_tag('defaults.email_attachment_vc_files_checked', SELF.defaults.email_attachment_vc_files_checked) %]</td>
        <td class="long-desc">[% LxERP.t8('Preselect all documents saved for the current customer/vendor as a mail attachment.') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Preselect part documents as email attachments') %]</th>
        <td>[% L.yes_no_tag('defaults.email_attachment_part_files_checked', SELF.defaults.email_attachment_part_files_checked) %]</td>
        <td class="long-desc">[% LxERP.t8('Preselect all documents for the current selected parts in a record as a mail attachment.') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Preselect record documents as email attachments') %]</th>
        <td>[% L.yes_no_tag('defaults.email_attachment_record_files_checked', SELF.defaults.email_attachment_record_files_checked) %]</td>
        <td class="long-desc">[% LxERP.t8('Preselect all documents saved for the current record as a mail attachment.') %]</td>
      </tr>
      <tr>
        <th class="caption" colspan="3">[% LxERP.t8("Storage Backends") %]</th>
      </tr>
      <tr>
        <th>[% LxERP.t8('Files') %]</th>
        <td>[% L.yes_no_tag('defaults.doc_files', SELF.defaults.doc_files) %]</td>
        <td class="long-desc">[% LxERP.t8('Use File Storage backend') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('WebDAV') %]</th>
        <td>[% L.yes_no_tag('defaults.doc_webdav', SELF.defaults.doc_webdav) %]</td>
        <td class="long-desc">[% LxERP.t8('Use WebDAV Storage backend') %]</td>
      </tr>
      <tr>
        <th class="caption" colspan="3"> [% LxERP.t8("Reports") %] </th>
      </tr>
      <tr>
        <th>[% LxERP.t8('Balance') %]</th>
        <td>[% L.yes_no_tag('defaults.feature_balance', SELF.defaults.feature_balance) %]</td>
        <td class="long-desc">[% LxERP.t8('Use Balance Sheet') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('income') %]</th>
        <td>[% L.yes_no_tag('defaults.feature_eurechnung', SELF.defaults.feature_eurechnung) %]</td>
        <td class="long-desc">[% LxERP.t8('Use Income') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Erfolgsrechnung') %]</th>
        <td>[% L.yes_no_tag('defaults.feature_erfolgsrechnung', SELF.defaults.feature_erfolgsrechnung) %]</td>
        <td class="long-desc">[% LxERP.t8('Use Erfolgsrechnung') %]</td>
      </tr>
      <tr>
        <th class="caption" colspan="3"> [% 'E-mail' | $T8 %] </th>
      </tr>
      <tr>
        <th>[% LxERP.t8('Global Record BCC') %]</th>
        <td colspan="2"> [% L.input_tag('defaults.global_bcc', SELF.defaults.global_bcc, class='wi-wide') %] <div class="description">[% 'Manually sent E-Mails will have their BCC field appended with this address. Will not trigger for employees without the right to send bcc, and will not apply to mails sent by automated jobs.' | $T8 %]</div></td>

      </tr>
      <tr>
        <th>[% LxERP.t8('Send a BCC to logged in user?') %]</th>
        <td> [% L.yes_no_tag('defaults.bcc_to_login', SELF.defaults.bcc_to_login) %] </td>
        <td class="long-desc"> [% LxERP.t8('Send a blind copy of all outgoing emails to current user\'s email address?') %] </td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Email journal') %]</th>
        <td colspan="2"> [% L.select_tag('defaults.email_journal', [ [ 0, LxERP.t8('No Journal') ],[ 1, LxERP.t8('Without Attachments') ],[ 2, LxERP.t8('With Attachments') ] ], default=SELF.defaults.email_journal, class="wi-wide") %] <div class="description">[% 'Sent emails can be optionally stored in the database with or without their attachments.' | $T8 %]</div></td>
      </tr>
      <tr>
       <th>[% LxERP.t8('Email Sender Sales Quotation') %]</th>
       <td colspan="2">
         [% L.input_tag('defaults.email_sender_sales_quotation', SELF.defaults.email_sender_sales_quotation, class='wi-wide') %]
       <div class ="description">[% 'Generic email send address for this record type.' | $T8 %]</div></td>
      </tr>
      <tr>
       <th>[% LxERP.t8('Email Sender Request Quotation') %]</th>
       <td colspan="2">
         [% L.input_tag('defaults.email_sender_request_quotation', SELF.defaults.email_sender_request_quotation, class='wi-wide') %]
       <div class ="description">[% 'Generic email send address for this record type.' | $T8 %]</div></td>
      </tr>
      <tr>
       <th>[% LxERP.t8('Email Sender Sales Order') %]</th>
       <td colspan="2">
         [% L.input_tag('defaults.email_sender_sales_order', SELF.defaults.email_sender_sales_order, class='wi-wide') %]
       <div class ="description">[% 'Generic email send address for this record type.' | $T8 %]</div></td>
      </tr>
      <tr>
       <th>[% LxERP.t8('Email Sender Purchase Order') %]</th>
       <td colspan="2">
         [% L.input_tag('defaults.email_sender_purchase_order', SELF.defaults.email_sender_purchase_order, class='wi-wide') %]
       <div class ="description">[% 'Generic email send address for this record type.' | $T8 %]</div></td>
      </tr>
      <tr>
       <th>[% LxERP.t8('Email Sender Sales Delivery Order') %]</th>
       <td colspan="2">
         [% L.input_tag('defaults.email_sender_sales_delivery_order', SELF.defaults.email_sender_sales_delivery_order, class='wi-wide') %]
       <div class ="description">[% 'Generic email send address for this record type.' | $T8 %]</div></td>
      </tr>
      <tr>
       <th>[% LxERP.t8('Email Sender Purchase Delivery Order') %]</th>
       <td colspan="2">
         [% L.input_tag('defaults.email_sender_purchase_delivery_order', SELF.defaults.email_sender_purchase_delivery_order, class='wi-wide') %]
       <div class ="description">[% 'Generic email send address for this record type.' | $T8 %]</div></td>
      </tr>
      <tr>
       <th>[% LxERP.t8('Email Sender Sales Invoice') %]</th>
       <td colspan="2">
         [% L.input_tag('defaults.email_sender_invoice', SELF.defaults.email_sender_invoice, class='wi-wide') %]
       <div class ="description">[% 'Generic email send address for this record type.' | $T8 %]</div></td>
      </tr>
      <tr>
       <th>[% LxERP.t8('Email Sender Sales Purchase Invoice') %]</th>
       <td colspan="2">
         [% L.input_tag('defaults.email_sender_purchase_invoice', SELF.defaults.email_sender_purchase_invoice, class='wi-wide') %]
       <div class ="description">[% 'Generic email send address for this record type.' | $T8 %]</div></td>
      </tr>
      <tr>
       <th>[% LxERP.t8('Email Sender Letter') %]</th>
       <td colspan="2">
         [% L.input_tag('defaults.email_sender_letter', SELF.defaults.email_sender_letter, class='wi-wide') %]
       <div class ="description">[% 'Generic email send address for this record type.' | $T8 %]</div></td>
      </tr>
      <tr>
       <th>[% LxERP.t8('Email Sender Dunning') %]</th>
       <td colspan="2">
         [% L.input_tag('defaults.email_sender_dunning', SELF.defaults.email_sender_dunning, class='wi-wide') %]
       <div class ="description">[% 'Generic email send address for this record type.' | $T8 %]</div></td>
      </tr>
        <tr>
        <th class="caption" colspan="3">[% LxERP.t8("SEPA") %]</th>
      </tr>
      <tr>
        <th>[% 'Add Customer/Vendor Number' | $T8 %]</th>
        <td>[% L.yes_no_tag('defaults.sepa_reference_add_vc_vc_id', SELF.defaults.sepa_reference_add_vc_vc_id) %]</td>
        <td class="long-desc">[% LxERP.t8('Add Customer/Vendor Number as a reference add-on for SEPA export.') %]</td>
      </tr>
      <tr>
        <th>[% 'Execution Date = Invoice Duedate' | $T8 %]</th>
        <td>[% L.yes_no_tag('defaults.sepa_set_duedate_as_default_exec_date', SELF.defaults.sepa_set_duedate_as_default_exec_date) %]</td>
        <td class="long-desc">[% LxERP.t8('Set the invoice duedate as the default execution date for SEPA export.') %]</td>
      </tr>
      <tr>
        <th>[% 'Execution Date = Skonto Date' | $T8 %]</th>
        <td>[% L.yes_no_tag('defaults.sepa_set_skonto_date_as_default_exec_date', SELF.defaults.sepa_set_skonto_date_as_default_exec_date) %]</td>
        <td class="long-desc">[% LxERP.t8('Set the invoice skonto date (if exists) as the default execution date for SEPA export.') %]</td>
      </tr>
      <tr>
        <th>[% 'Execution Date Buffer' | $T8 %]</th>
        <td>[% L.input_tag('defaults.sepa_set_skonto_date_buffer_in_days_as_number', SELF.defaults.sepa_set_skonto_date_buffer_in_days_as_number, size=10, class='wi-small' ) %]</td>
        <td class="long-desc">[% LxERP.t8('In addition to the above date functions, subtract the following amount of days from the calculated date as a buffer.') %]</td>
      </tr>

      <tr>
        <th class="caption" colspan="3">[% LxERP.t8("Experimental Features") %]</th>
      </tr>
      <tr>
        <th>[% LxERP.t8('Order Controller') %]</th>
        <td>[% L.yes_no_tag('defaults.feature_experimental_order', SELF.defaults.feature_experimental_order) %]</td>
        <td class="long-desc">[% LxERP.t8('Replace legacy order controller with new one') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Assortment') %]</th>
        <td>[% L.yes_no_tag('defaults.feature_experimental_assortment', SELF.defaults.feature_experimental_assortment) %]</td>
        <td class="long-desc">[% LxERP.t8('Enable Assortment as new article type') %]</td>
      </tr>
    </tbody>
  </table>

  <table class="tbl-horizontal expanded">
    <caption>[% 'Customer Master Data' | $T8 %]</caption>
    <colgroup> <col class="wi-mediumsmall"><col class="wi-small"><col class="wi-wide"> </colgroup>
    <tbody>
      <tr>
        <th>[% LxERP.t8('Representative') %]</th>
        <td>[% L.yes_no_tag('defaults.vertreter', SELF.defaults.vertreter) %]</td>
        <td class="long-desc">[% LxERP.t8('Representative for Customer') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Normalize Customer / Vendor names') %]</th>
        <td>[% L.yes_no_tag('defaults.normalize_vc_names', SELF.defaults.normalize_vc_names) %]</td>
        <td class="long-desc">[% LxERP.t8('Automatic deletion of leading, trailing and excessive (repetitive) spaces in customer or vendor names') %]</td>
      </tr>
      <tr>
       <th>[% LxERP.t8('Use text field for greetings') %]</th>
       <td>[% L.yes_no_tag('defaults.vc_greetings_use_textfield', SELF.defaults.vc_greetings_use_textfield) %]</td>
       <td class="long-desc">[% LxERP.t8('Use a text field to enter (new) greetings if enabled. Otherwise, only a drop down box is offered.') %]</td>
      </tr>
      <tr>
       <th>[% LxERP.t8('Use text field for title of contacts') %]</th>
       <td>[% L.yes_no_tag('defaults.contact_titles_use_textfield', SELF.defaults.contact_titles_use_textfield) %]</td>
       <td class="long-desc">[% LxERP.t8('Use a text field to enter (new) contact titles if enabled. Otherwise, only a drop down box is offered.') %]</td>
      </tr>
      <tr>
       <th>[% LxERP.t8('Use text field for department of contacts') %]</th>
       <td>[% L.yes_no_tag('defaults.contact_departments_use_textfield', SELF.defaults.contact_departments_use_textfield) %]</td>
       <td class="long-desc">[% LxERP.t8('Use a text field to enter (new) contact departments if enabled. Otherwise, only a drop down box is offered.') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Hourly Rate') %]</th>
        <td>[% L.input_tag('defaults.customer_hourly_rate_as_number', SELF.defaults.customer_hourly_rate_as_number, class='wi-small') %]</td>
        <td class="long-desc">[% LxERP.t8('Default hourly rate for new customers') %]</td>
      </tr>
      <tr>
       <td>[% LxERP.t8('Customers: VAT ID / taxnumber unique') %]</td>
       <td>[% L.yes_no_tag('defaults.customer_ustid_taxnummer_unique', SELF.defaults.customer_ustid_taxnummer_unique) %]</td>
       <td class="long-desc">[% LxERP.t8('Should VAT ID or taxnumber be unique for customers? This is checked when saving a customer\'s master data. One of the fields is sufficient and required.') %]</td>
      </tr>
      <tr>
       <td>[% LxERP.t8('Vendors: VAT ID / taxnumber unique') %]</td>
       <td>[% L.yes_no_tag('defaults.vendor_ustid_taxnummer_unique', SELF.defaults.vendor_ustid_taxnummer_unique) %]</td>
       <td class="long-desc">[% LxERP.t8('Should VAT ID or taxnumber be unique for all vendors? This is checked when saving a vendor\'s master data. One of the fields is sufficient and required.') %]</td>
      </tr>
      <tr>
        <th class="caption" colspan="3">[% LxERP.t8("Parts Master Data") %]</th>
      </tr>
      <tr>
        <th>[% LxERP.t8('Pictures for parts') %]</th>
        <td>[% L.yes_no_tag('defaults.parts_show_image', SELF.defaults.parts_show_image) %]</td>
        <td class="long-desc">[% LxERP.t8('Show the picture in the part form') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Pictures for search parts') %]</th>
        <td>[% L.yes_no_tag('defaults.parts_listing_image', SELF.defaults.parts_listing_image) %]</td>
        <td class="long-desc">[% LxERP.t8('Show the pictures in the result for search parts') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('CSS style for pictures') %]</th>
        <td> [% L.input_tag('defaults.parts_image_css',SELF.defaults.parts_image_css, class='wi-mediumsmall') %]</td>
        <td class="long-desc">[% LxERP.t8('Style the picture with the following CSS code') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('If item not found, allow creation of new item') %]</th>
        <td>[% L.yes_no_tag('defaults.create_part_if_not_found', SELF.defaults.create_part_if_not_found) %]</td>
        <td class="long-desc">[% LxERP.t8('If searching a part from a document and no part is found then offer to create a new part.') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Normalize part description and part notes') %]</th>
        <td>[% L.yes_no_tag('defaults.normalize_part_descriptions', SELF.defaults.normalize_part_descriptions) %]</td>
        <td class="long-desc">[% LxERP.t8('Automatic deletion of leading, trailing and excessive (repetitive) spaces in part description and part notes. Affects the CSV import as well.') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Partsgroup is required for parts') %]</th>
        <td>[% L.yes_no_tag('defaults.partsgroup_required', SELF.defaults.partsgroup_required) %]</td>
        <td class="long-desc">[% LxERP.t8('If enabled, when saving parts the partsgroup must be not be empty.') %]</td>
      </tr>
      <tr>
        <th class="caption" colspan="3">[% LxERP.t8("Purchasing & Sales") %]</th>
      </tr>
      <tr>
        <th>[% LxERP.t8('Require a transaction description in purchase and sales records') %]</th>
        <td>[% L.yes_no_tag('defaults.require_transaction_description_ps', SELF.defaults.require_transaction_description_ps) %]</td>
        <td class="long-desc">[% LxERP.t8('If enabled purchase and sales records cannot be saved if no transaction description has been entered.') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8("Only list customer's projects in sales records") %]</th>
        <td>[% L.yes_no_tag("defaults.customer_projects_only_in_sales", SELF.defaults.customer_projects_only_in_sales) %]</td>
        <td class="long-desc">[% LxERP.t8("If enabled only those projects that are assigned to the currently selected customer are offered for selection in sales records.") %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Allow conversion from sales quotations to sales invoices') %]</th>
        <td>[% L.yes_no_tag('defaults.allow_sales_invoice_from_sales_quotation', SELF.defaults.allow_sales_invoice_from_sales_quotation) %]</td>
        <td class="long-desc">[% LxERP.t8('If disabled sales quotations cannot be converted into sales invoices directly.') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Allow conversion from sales orders to sales invoices') %]</th>
        <td>[% L.yes_no_tag('defaults.allow_sales_invoice_from_sales_order', SELF.defaults.allow_sales_invoice_from_sales_order) %]</td>
        <td class="long-desc">[% LxERP.t8('If disabled sales orders cannot be converted into sales invoices directly.') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Allow direct creation of new purchase delivery orders') %]</th>
        <td>[% L.yes_no_tag('defaults.allow_new_purchase_delivery_order', SELF.defaults.allow_new_purchase_delivery_order) %]</td>
        <td class="long-desc">[% LxERP.t8('If disabled purchase delivery orders can only be created by conversion from existing requests for quotations and purchase orders.') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Allow direct creation of new purchase invoices') %]</th>
        <td>[% L.yes_no_tag('defaults.allow_new_purchase_invoice', SELF.defaults.allow_new_purchase_invoice) %]</td>
        <td class="long-desc">[% LxERP.t8('If disabled purchase invoices can only be created by conversion from existing requests for quotations, purchase orders and purchase delivery orders.') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8("Show »not delivered qty/value« column in sales and purchase orders") %]</th>
        <td>[% L.yes_no_tag("defaults.sales_purchase_order_ship_missing_column", SELF.defaults.sales_purchase_order_ship_missing_column) %]</td>
        <td class="long-desc">[% LxERP.t8("If enabled a column will be shown in sales and purchase orders that lists both the amount and the value not shipped yet for each item.") %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8("Warn before saving orders with duplicate parts (new controller only)") %]</th>
        <td>[% L.yes_no_tag("defaults.order_warn_duplicate_parts", SELF.defaults.order_warn_duplicate_parts) %]</td>
        <td class="long-desc">[% LxERP.t8("If enabled a warning will be shown in sales and purchase orders if there are two or more positions of the same part (new controller only).") %]</td>
      </tr>
      <tr>
       <th>[% LxERP.t8("Warn before saving orders without a delivery date") %]</th>
       <td>[% L.yes_no_tag("defaults.order_warn_no_deliverydate", SELF.defaults.order_warn_no_deliverydate) %]</td>
       <td class="long-desc">[% LxERP.t8("If enabled a warning will be shown in sales and purchase orders if there the delivery date is empty.") %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8("Warn before saving sales orders with missing customer order number (new controller only)") %]</th>
        <td>[% L.yes_no_tag("defaults.order_warn_no_cusordnumber", SELF.defaults.order_warn_no_cusordnumber) %]</td>
        <td class="long-desc">[% LxERP.t8("If enabled a warning will be shown in sales delivery orders if the customer order number is missing.") %]</td>
       </tr>
      <tr>
       <th>[% LxERP.t8("For sales delivery orders, warn on workflow to invoice if not stocked out") %]</th>
       <td>[% L.yes_no_tag("defaults.sales_delivery_order_check_stocked", SELF.defaults.sales_delivery_order_check_stocked) %]</td>
       <td class="long-desc">[% LxERP.t8("If enabled a warning will be shown in sales delivery orders on workflow to invoices if positions are not stocked out.") %]</td>
      </tr>
      <tr>
       <th>[% LxERP.t8("For purchase delivery orders, warn on workflow to invoice if not stocked in") %]</th>
       <td>[% L.yes_no_tag("defaults.purchase_delivery_order_check_stocked", SELF.defaults.purchase_delivery_order_check_stocked) %]</td>
       <td class="long-desc">[% LxERP.t8("If enabled a warning will be shown in purchase delivery orders on workflow to invoices if positions are not stocked in.") %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8("For sales invoices, warn if invoice has no delivery order as a predecessor") %]</th>
        <td>[% L.yes_no_tag("defaults.warn_no_delivery_order_for_invoice", SELF.defaults.warn_no_delivery_order_for_invoice ) %]</td>
        <td class="long-desc">[% LxERP.t8("If enabled a warning will be shown if a sales invoices is created without having a sales delivery order as a predecessor.") %]</td>
       </tr>
      <tr>
       <th>[% LxERP.t8("Create sales invoices with Factur-X/ZUGFeRD data") %]</th>
       <td>[% L.select_tag("defaults.create_zugferd_invoices", SELF.zugferd_settings, default=SELF.defaults.create_zugferd_invoices) %]</td>
       <td class="long-desc">
         [% LxERP.t8("If enabled Factur-X/ZUGFeRD conformant sales invoice PDFs will be created.") %]
         [% LxERP.t8("If the test mode is enabled, the Factur-X/ZUGFeRD invoices will be flagged so that they're only fit to be used for testing purposes.") %]
       </td>
      </tr>
      <tr>
        <th>[% LxERP.t8("Create sales invoices with Swiss QR-bill") %]</th>
        <td>[% L.select_tag("defaults.create_qrbill_invoices", [ [ 0, LxERP.t8('Do not create QR-bill invoices') ], [ 1, LxERP.t8('Create variant QR-IBAN with QR reference') ], [ 2, LxERP.t8('Create variant IBAN without reference') ] ], default=SELF.defaults.create_qrbill_invoices) %]</td>
        <td class="long-desc">[% LxERP.t8("If enabled sales invoices created using OpenDocument/OASIS format will include data for Swiss QR-Bill creation.") %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8("When using Swiss QR-bill, copy the invoice number to the unstructured message automatically") %]</th>
        <td>[% L.yes_no_tag("defaults.qrbill_copy_invnumber", SELF.defaults.qrbill_copy_invnumber) %]</td>
        <td class="long-desc">[% LxERP.t8("If enabled the invoice number will be copied to the unstructured message upon booking. If there's a message already the invoice number will be appended to it.") %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8("Lock RFQ/Quotation and Order Subversion") %]</th>
        <td>[% L.yes_no_tag("defaults.lock_oe_subversions", SELF.defaults.lock_oe_subversions) %]</td>
        <td class="long-desc">[% LxERP.t8("If enabled RFQs, Quotations and Orders can only be send once via email. By creating another subversion the current record gets a minor subversion and can be send again via email.") %]</td>
      </tr>
      <tr>
        <th>[% 'Documents which are allowed to be saved with no positions' | $T8 %]</th>
        <td colspan="2">
          <div>
            [% L.select_tag("defaults.allowed_documents_with_no_positions[]",
                            SELF.available_documents_with_no_positions,
                            default=SELF.defaults.allowed_documents_with_no_positions,
                            multiple=1,
                            with_empty=1,
                            value_key="name",
                            title_key="description",
                            id="defaults_allowed_documents_with_no_positions",
                            size=SELF.available_documents_with_no_positions.size+1) %]
          </div>
        </td>
      </tr>
      <tr>
        <th class="caption" colspan="3">[% 'Show certain sales and purchase documents' | $T8 %]</th>
      </tr>
      <tr>
        <th>[% 'Show sales order intake' | $T8 %]</th>
        <td>[% L.yes_no_tag("defaults.show_sales_order_intake", SELF.defaults.show_sales_order_intake) %]</td>
        <td class="long-desc">[% 'When disabled, sales order intakes do not show up in the menu and in the workflow actions.' | $T8 %]</td>
      </tr>
      <tr>
        <th>[% 'Show purchase quotation intake' | $T8 %]</th>
        <td>[% L.yes_no_tag("defaults.show_purchase_quotation_intake", SELF.defaults.show_purchase_quotation_intake) %]</td>
        <td class="long-desc">[% 'When disabled, purchase quotation intakes do not show up in the menu and in the workflow actions.' | $T8 %]</td>
      </tr>
      <tr>
        <th>[% 'Show purchase order confirmation' | $T8 %]</th>
        <td>[% L.yes_no_tag("defaults.show_purchase_order_confirmation", SELF.defaults.show_purchase_order_confirmation) %]</td>
        <td class="long-desc">[% 'When disabled, purchase order confirmations do not show up in the menu and in the workflow actions.' | $T8 %]</td>
      </tr>
      <tr>
        <th>[% 'Show sales reclamation' | $T8 %]</th>
        <td>[% L.yes_no_tag("defaults.show_sales_reclamation", SELF.defaults.show_sales_reclamation) %]</td>
        <td class="long-desc">[% 'When disabled, sales reclamations do not show up in the menu and in the workflow actions.' | $T8 %]</td>
      </tr>
      <tr>
        <th>[% 'Show purchase reclamation' | $T8 %]</th>
        <td>[% L.yes_no_tag("defaults.show_purchase_reclamation", SELF.defaults.show_purchase_reclamation) %]</td>
        <td class="long-desc">[% 'When disabled, purchase reclamations do not show up in the menu and in the workflow actions.' | $T8 %]</td>
      </tr>
      <tr>
        <th>[% 'Show invoice for payment in advance and final invoice' | $T8 %]</th>
        <td>[% L.yes_no_tag("defaults.show_invoice_for_advance_payment", SELF.defaults.show_invoice_for_advance_payment) %]</td>
        <td class="long-desc">[% 'When disabled, invoices for payment in advance and final invoices do not show up in the menu and in the workflow actions.' | $T8 %]</td>
      </tr>
      <tr>
        <th class="caption" colspan="3">[% LxERP.t8('Transport and service costs reminder') %]</th>
      </tr>
      <tr>
        <th>[% LxERP.t8('Default transport article number') %]</th>
        <td>[% P.part.picker('defaults.transport_cost_reminder_article_number_id', SELF.defaults.transport_cost_reminder_article_number_id, class='wi-mediumsmall') %]</td>
        <td class="long-desc">[% LxERP.t8('Before saving a sales order, this article will be checked and a warning is generated.') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Invoice email settings') %]</th>
        <td>
          [% L.select_tag('defaults.invoice_mail_settings', [ [ 'cp', LxERP.t8('Contact Person') ],[ 'invoice_mail', LxERP.t8('Invoice email') ],[ 'invoice_mail_cc_cp', LxERP.t8('Invoice email and Contact Person') ]  ], default=SELF.defaults.invoice_mail_settings) %]
        </td>
        <td class="long-desc">[% 'The invoice recipient can either be a selected contact person (default) or the email adress set in the master data of the customer. Additionally a contact persons mail and the company\'s invoicing mail can be combined.' | $T8 %]</td>
      </tr>
      <tr>
        <th class="caption" colspan="3">[% LxERP.t8("Requirement Specs") %]</th>
      </tr>
      <tr>
        <th>[% LxERP.t8('Default article for converting into quotations and orders') %]</th>
        <td>
          [% IF SELF.h_unit_name %]
            [% P.part.picker('defaults.requirement_spec_section_order_part_id', SELF.defaults.requirement_spec_section_order_part_id, convertible_unit=SELF.h_unit_name, class='wi-mediumsmall') %]
          [% ELSE %]
            [% LxERP.t8("Error: this feature requires that articles with a time-based unit (e.g. 'h' or 'min') exist.") %]
          [% END %]
        </td>
        <td class="long-desc">[% LxERP.t8('When converting a requirement spec into a quotation or an oder each section gets converted into a line position in the new record. This is the article used by default for this conversion.') %]</td>
      </tr>
      <tr>
        <th class="caption" colspan="3">[% LxERP.t8("Projects") %]</th>
      </tr>
      <tr>
        <th>[% 'Orders with projectnumber' | $T8 %]</th>
        <td>[% L.yes_no_tag('defaults.order_always_project', SELF.defaults.order_always_project) %]</td>
        <td class="long-desc">[% LxERP.t8('Always save orders with a projectnumber (create new projects)') %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Project type') %]</th>
        <td>[% L.select_tag('defaults.project_type_id', SELF.all_project_types, default=SELF.defaults.project_type_id, title_key='description', with_empty=0, class='wi-mediumsmall') %]</td>
        <td class="long-desc"></td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Project Status') %]</th>
        <td>[% L.select_tag('defaults.project_status_id', SELF.all_project_statuses, default=SELF.defaults.project_status_id, title_key='description', with_empty=0, class='wi-mediumsmall') %]</td>
        <td class="long-desc"></td>
      </tr>
      <tr>
        <th class="caption" colspan="3">[% LxERP.t8("Select Mulit-Item Options") %]</th>
      </tr>
      <tr>
        <th>[% 'Long Description' | $T8 %]</th>
        <td>[% L.yes_no_tag('defaults.show_longdescription_select_item', SELF.defaults.show_longdescription_select_item) %]</td>
        <td class="long-desc">[% LxERP.t8('Show parts longdescription (notes) in select list') %]</td>
      </tr>
    </tbody>
  </table>

</div><!-- /.wrapper -->

<div class="wrapper">

<table class="tbl-horizontal expanded">
  <caption>[% LxERP.t8("Disabled Price Sources") %]</caption>
  <colgroup> <col class="wi-normal"><col class="wi-verywide"><col class="wi-normal"> </colgroup>
  <tbody>
    <tr>
      <th>[% 'Price Sources to be disabled in this client' | $T8 %]</th>
      <td colspan="2">
      <div>
        [% L.select_tag("defaults.disabled_price_sources[]", SELF.all_price_sources, id="defaults_price_sources", multiple=1, default=SELF.defaults.disabled_price_sources) %] [% L.multiselect2side("defaults_price_sources", labelsx=LxERP.t8("All price sources"), labeldx=LxERP.t8("Price sources deactivated in this client")) %]
      </div>
      </td>
    </tr>
    <tr>
      <th class="caption" colspan="3">[% LxERP.t8("Enabled Quick Searched") %]</th>
    </tr>
    <tr>
      <th>[% 'Quick Searches that will be shown in the header in this client' | $T8 %]</th>
      <td colspan="2">
      <div>
        [% L.select_tag("defaults.quick_search_modules[]", SELF.available_quick_search_modules, value_key="name", title_key="description_config", id="defaults_quick_searches", multiple=1, default=SELF.defaults.quick_search_modules) %] [% L.multiselect2side("defaults_quick_searches", labelsx=LxERP.t8("All modules"), labeldx=LxERP.t8("Enabled modules")) %]
      </div>
      </td>
    </tr>
  </tbody>
</table>

</div><!-- /.wrapper -->

<div class="wrapper">

<table class="tbl-horizontal expanded">
  <caption>[% LxERP.t8("Display options") %]</caption>
  <colgroup> <col class="wi-normal"><col class="wi-verywide"><col class="wi-normal"> </colgroup>
  <tbody>
    <tr><th class="caption", colspan="4">[% 'Displayable Name Preferences' | $T8 %]</th></tr>
    [% FOREACH module=SELF.displayable_name_specs_by_module.keys.sort %]
    [%- SET spec=SELF.displayable_name_specs_by_module.$module -%]
    <tr>
      <th class="left">[% spec.specs.title %]</th>
      <td>
        <table>
          <tr>
            <th class="left">[% 'Option' | $T8 %]</th>
            <th class="left">[% 'Name'   | $T8 %]</th>
          </tr>
          [% FOREACH option=spec.specs.options %]
          <tr>
            <td>[% option.title %]</td>
            <td>[% option.name  %]</td>
          </tr>
          [% END %]
          <tr>
            <th class="left">[% 'Display' | $T8 %]:</th>
            <td>
              [% L.hidden_tag("displayable_name_specs[+].module", module) %]
              [% L.input_tag("displayable_name_specs[].default", spec.prefs.get_default, size=50) %]
            </td>
          </tr>
        </table>
      </td>
      [% IF loop.first %]
      <td class="long-desc">[% 'The display of (mainly) picker results can be configured. To insert the value of one option use <%Name%>.' | $T8 %]<br>
        [% 'E.g. "<%customernumber%> <%name%>"' | $T8 %]
      </td>
      [% END %]
    </tr>
    [% END %]
    <tr><th class="caption">[% 'Forced Layout Style' | $T8 %]</th></tr>
    <tr>
      <th>[% 'Force a layout style' | $T8 %]</th>
      <td>[% L.select_tag('defaults.layout_style', [['', LxERP.t8('Automatic')], ['desktop', LxERP.t8('desktop version')]], default=SELF.defaults.layout_style, with_empty=0) %]</td>
      <td class="long-desc">[% 'The layout style normally is choosen by the user agent string the browser sends. Here you can force the desktop or mobile version. Users can override this setting in their user preferences.' | $T8 %]</td>
    </tr>
  </tbody>
</table>

</div><!-- /.wrapper -->

</div><!-- /#features -->
