[% USE HTML %]
[% USE T8 %]
[% USE L %]
[% USE LxERP %]

<h1>[% 'Contacts' | $T8 %]</h1>

<form method="post" action="ct.pl" name="Form" id="form">

<div class="wrapper">

<table class="tbl-horizontal">
  <tbody>
    <tr>
      <th>[% 'Name' | $T8 %] </th>
      <td><input type="text" name="filter.cp_name" class="wi-lightwide initial_focus"></td>
    </tr>
    <tr>
      <th>[% 'Greeting' | $T8 %] </th>
      <td><input type="text" name="filter.cp_greeting" class="wi-lightwide"></td>
    </tr>
    <tr>
      <th>[% 'Title' | $T8 %] </th>
      <td><input type="text" name="filter.cp_title" class="wi-lightwide"></td>
    </tr>
    <tr>
      <th>[% 'E-mail' | $T8 %] </th>
      <td><input type="text" name="filter.cp_email" class="wi-lightwide"></td>
    </tr>
    <tr>
      <th>[% 'Department' | $T8 %] </th>
      <td><input type="text" name="filter.cp_abteilung" class="wi-lightwide"></td>
    </tr>
    <tr>
      <th>[% 'Project' | $T8 %] </th>
      <td><input type="text" name="filter.cp_project" class="wi-lightwide"></td>
    </tr>
    [% CUSTOM_VARIABLES_FILTER_CODE %]
    <tr>
      <th>[% 'Scope' | $T8 %] </th>
      <td>
        <input name="filter.status" type="radio" value="active" checked id="rd1"> <label for="rd1">[% 'Active' | $T8 %]</label>
        <input name="filter.status" type="radio" value="all" id="rd2"> <label for="rd2">[% 'All' | $T8 %]</label>
        <input name="filter.status" type="radio" value="orphaned" id="rd3"> <label for="rd3">[% 'Orphaned' | $T8 %]</label>
      </td>
    </tr>
  </tbody>
</table>


</div>


<div class="wrapper form-addition control-panel">
  <h3 class="caption">[% 'Include in Report' | $T8 %] </h3>


  <div class="list col">
    <h4>[% 'Numbers & IDs' | $T8 %]</h4>
    <div>
      <input name="l.cp_id" id="l_cp_id" type="checkbox" value="Y">
      <label for="l_cp_id"> [% 'ID' | $T8 %] </label>
    </div>
    <div>
      <input name="l.vcnumber" id="l_vcnumber" type="checkbox" value="Y" checked>
      <label for="l_vcnumber"> [% 'Customer/Vendor Number' | $T8 %] </label>
    </div>
  </div>

  <div class="list col">
    <h4> [% 'Customer' | $T8 %] </h4>
    <div>
      <input name="l.vcname" id="l_vcname" type="checkbox" value="Y" checked>
      <label for="l_vcname"> [% 'Customer/Vendor Name' | $T8 %] </label>
    </div>
    <div>
      <input name="l.cp_name" id="l_cp_name" type="checkbox" value="Y" checked>
      <label for="l_cp_name"> [% 'Name' | $T8 %] </label>
    </div>
    <div>
      <input name="l.cp_givenname" id="l_cp_givenname" type="checkbox" value="Y" checked>
      <label for="l_cp_givenname"> [% 'Given Name' | $T8 %] </label>
    </div>
    <div>
      <input name="l.cp_abteilung" id="l_cp_abteilung" type="checkbox" value="Y">
      <label for="l_cp_abteilung"> [% 'Department' | $T8 %] </label>
    </div>
    <div>
      [% L.checkbox_tag('l.cp_position', value='Y', label=LxERP.t8('Function/position')) %]
    </div>
    <div>
      <input name="l.cp_gender" id="l_cp_gender" type="checkbox" value="Y">
      <label for="l_cp_gender"> [% 'Gender' | $T8 %] </label>
    </div>
    <div>
      <input name="l.cp_birthday" id="l_cp_birthday" type="checkbox" value="Y">
      <label for="l_cp_birthday"> [% 'Birthday' | $T8 %] </label>
    </div>
  </div>

  <div class="list col">
    <h4> [% 'Address' | $T8 %] </h4>
    <div>
      <input name="l.cp_street" id="l_cp_street" type="checkbox" value="Y">
      <label for="l_cp_street"> [% 'Street' | $T8 %] </label>
    </div>
    <div>
      <input name="l.cp_zipcode" id="l_cp_zipcode" type="checkbox" value="Y">
      <label for="l_cp_zipcode"> [% 'Zipcode' | $T8 %] </label>
    </div>
    <div>
      <input name="l.cp_city" id="l_cp_city" type="checkbox" value="Y">
      <label for="l_cp_city"> [% 'City' | $T8 %] </label>
    </div>
  </div>

  <div class="list col">
    <h4> [% 'Contact' | $T8 %] </h4>
    <div>
      <input name="l.cp_phone" id="l_cp_phone" type="checkbox" value="Y" checked>
      <label for="l_cp_phone"> [% 'Phone' | $T8 %] </label>
    </div>
    <div>
      <input name="l.cp_mobile" id="l_cp_mobile" type="checkbox" value="Y" checked>
      <label for="l_cp_mobile"> [% 'Mobile' | $T8 %] </label>
    </div>
    <div>
      [% L.checkbox_tag('l.cp_privatphone', value='Y', label=LxERP.t8('Private Phone'), checked=1) %]
    </div>
    <div>
      [% L.checkbox_tag('l.cp_fax', value='Y', label=LxERP.t8('Fax')) %]
    </div>
    <div>
      [% L.checkbox_tag('l.cp_email', value='Y', label=LxERP.t8('E-mail'), checked=1) %]
    </div>
    <div>
      [% L.checkbox_tag('l.cp_privatemail', value='Y', label=LxERP.t8('Private E-mail')) %]
    </div>
    [% CUSTOM_VARIABLES_INCLUSION_CODE %]
  </div>

</div>
</form>
