[%- USE T8 %]
[% USE HTML %]<body onload="fokus()">

 <form method="post" action="projects.pl" name="Form">

  <div class="listtop">[% title %]</div>

  <p>
   <table>
    <tr>
     <th align="right">[% 'Number' | $T8 %]</th>
     <td><input name="filter.projectnumber" id="projectnumber" size="20"></td>
    </tr>

    <tr>
     <th align="right">[% 'Description' | $T8 %]</th>
     <td><input name="filter.description" size="60"></td>
    </tr>

    [% CUSTOM_VARIABLES_FILTER_CODE %]

    <tr>
     <th>[% 'Include in Report' | $T8 %]</th>
     <td>
      <table>
       <tr>
        <td>
         <input type="radio" name="filter.active" id="active_active" value="active" checked>
         <label for="active_active">[% 'Active' | $T8 %]</label>
        </td>
        <td>
         <input type="radio" name="filter.active" id="active_inactive" value="inactive">
         <label for="active_inactive">[% 'Inactive' | $T8 %]</label>
        </td>
        <td>
         <input type="radio" name="filter.active" id="active_both" value="both">
         <label for="active_both">[% 'Both' | $T8 %]</label>
        </td>
       </tr>

       <tr>
        <td>
         <input type="radio" name="filter.status" id="status_all" value="all" checked>
         <label for="status_all">[% 'All' | $T8 %]</label>
        </td>
        <td>
         <input type="radio" name="filter.status" id="status_orphaned" value="orphaned">
         <label for="status_orphaned">[% 'Orphaned' | $T8 %]</label>
        </td>
       </tr>

       [% CUSTOM_VARIABLES_INCLUSION_CODE %]

      </table>
     </td>
    </tr>
   </table>
  </p>

  <hr size="3" noshade>

  <input type="hidden" name="nextsub" value="project_report">

  <p>
   <input class="submit" type="submit" name="action" value="[% 'Continue' | $T8 %]">
  </p>
 </form>

</body>
</html>
