[% USE T8 %]
[% USE HTML %]

<h1>[% 'Carry over shipping address' | $T8 %]</h1>
<p>[% 'You have entered or selected the following shipping address for this customer:' | $T8 %]</p>

 
<table class="tbl-horizontal">
  <tbody>
    <tr>
      <th>[% 'Name' | $T8 %]:</th>
      <td>[% HTML.escape(CFDD_shiptoname) %]</td>
    </tr>
    <tr>
      <th>[% 'Department' | $T8 %]:</th>
      <td>[% HTML.escape(CFDD_shiptodepartment_1) %]</td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>[% HTML.escape(CFDD_shiptodepartment_2) %]</td>
    </tr>
    <tr>
      <th>[% 'Street' | $T8 %]:</th>
      <td>[% HTML.escape(CFDD_shiptostreet) %]</td>
    </tr>
    <tr>
      <th>[% 'Zipcode' | $T8 %]:</th>
      <td>[% HTML.escape(CFDD_shiptozipcode) %]</td>
    </tr>
    <tr>
      <th>[% 'City' | $T8 %]:</th>
      <td>[% HTML.escape(CFDD_shiptocity) %]</td>
    </tr>
    <tr>
      <th>[% 'Country' | $T8 %]:</th>
      <td>[% HTML.escape(CFDD_shiptocountry) %]</td>
    </tr>
    <tr>
      <th>[% 'GLN' | $T8 %]:</th>
      <td>[% HTML.escape(CFDD_shiptogln) %]</td>
    </tr>
    <tr>
      <th>[% 'Contact' | $T8 %]:</th>
      <td>[% HTML.escape(CFDD_shiptocontact) %]</td>
    </tr>
    <tr>
      <th>[% 'Phone' | $T8 %]:</th>
      <td>[% HTML.escape(CFDD_shiptophone) %]</td>
    </tr>
    <tr>
      <th>[% 'Fax' | $T8 %]:</th>
      <td>[% HTML.escape(CFDD_shiptofax) %]</td>
    </tr>
    <tr>
      <th>[% 'E-mail' | $T8 %]:</th>
      <td>[% HTML.escape(CFDD_shiptoemail) %]</td>
    </tr>
    [% FOREACH var = cvars %] 
      <tr>
        <th>[% HTML.escape(var.config.description) %]</th>
        <td>[% HTML.escape(var.value_as_text) %]</td>
      </tr>
    [% END %] 
  </tbody>
</table>


<p>[% 'Do you want to carry this shipping address over to the new purchase order so that the vendor can deliver the goods directly to your customer?' | $T8 %]</p>

<form method="post" action="oe.pl">

<p>
  <input type="submit" name="action" value="[% 'Yes' | $T8 %]">&nbsp;
  <input type="submit" name="action" value="[% 'No' | $T8 %]">
</p>

<input type="hidden" name="yes_nextsub" value="check_for_direct_delivery_yes">
<input type="hidden" name="no_nextsub" value="check_for_direct_delivery_no">

[% FOREACH row = VARIABLES %]
  <input type="hidden" name="[% HTML.escape(row.key) %]" value="[% HTML.escape(row.value) %]">
[% END %]

</form>

