[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]
[% USE L %]
[% USE P %]

<h1>[% title %]</h1>

<form method="post" id='form' name="oe" action="[% script %]" data-transport-cost-reminder-article-id="[% HTML.escape(transport_cost_reminder_article.id) %]" data-transport-cost-reminder-article-description="[% HTML.escape(transport_cost_reminder_article.displayable_name) %]">

<script type="text/javascript" src="js/delivery_customer_selection.js"></script>
<script type="text/javascript" src="js/calculate_qty.js"></script>
<script type="text/javascript" src="js/follow_up.js"></script>
[% IF is_sales_ord %]
  [% L.javascript_tag("js/edit_periodic_invoices_config") %]
[% END %]

[% FOREACH row = HIDDENS %]
  <input type="hidden" name="[% HTML.escape(row.name) %]" id="[% HTML.escape(row.name) %]" value="[% HTML.escape(row.value) %]" >
[% END %]

<input type="hidden" name="convert_from_oe_ids" value="[% HTML.escape(convert_from_oe_ids) %]">
<input type="hidden" name="follow_up_trans_id_1" value="[% HTML.escape(id) %]">
<input type="hidden" name="follow_up_trans_type_1" value="[% HTML.escape(type) %]">
<input type="hidden" name="follow_up_trans_info_1" value="[% HTML.escape(follow_up_trans_info) %]">
<input type="hidden" name="follow_up_rowcount" value="1">
<input type="hidden" name="lastmtime" value="[% HTML.escape(lastmtime) %]">

[% INCLUDE 'common/flash.html' %]
[% INCLUDE 'generic/set_longdescription.html' %]

<div id="oe_tabs" class="tabwidget">

<ul>
  <li><a href="#ui-tabs-basic-data">[% 'Basic Data' | $T8 %]</a></li>
  [% IF INSTANCE_CONF.get_webdav %]
    <li><a href="#ui-tabs-webdav">[% 'WebDAV' | $T8 %]</a></li>
  [% END %]
  [% IF id AND INSTANCE_CONF.get_doc_storage %]
    <li><a href="controller.pl?action=File/list&file_type=document&object_type=[% HTML.escape(type) %]&object_id=[% HTML.url(id) %]">[% 'Documents' | $T8 %]</a></li>
    <li><a href="controller.pl?action=File/list&file_type=attachment&object_type=[% HTML.escape(type) %]&object_id=[% HTML.url(id) %]">[% 'Attachments' | $T8 %]</a></li>
  [% END %]
  [% IF id AND AUTH.assert('record_links', 1) %]
    <li><a href="controller.pl?action=RecordLinks/ajax_list&object_model=Order&object_id=[% HTML.url(id) %]">[% 'Linked Records' | $T8 %]</a></li>
  [% END %]
</ul>



<div id="ui-tabs-basic-data">

<div class="wrapper" id="wrapper-1">
  [% INCLUDE 'generic/toggle_wrapper.html' %]

  <table class="tbl-horizontal">
    <caption>[% IF vc == 'customer' %][% 'Customer' | $T8 %][% ELSE %][% 'Vendor' | $T8 %][% END %] & [% 'Quotation' | $T8 %]</caption>
    <colgroup><col class="wi-mediumsmall"><col class="wi-lightwide"></colgroup>
    <tbody>
      <tr>
        <th>[% IF vc == 'customer' %][% 'Customer' | $T8 %][% ELSE %][% 'Vendor' | $T8 %][% END %]</th>
        <td class="wi-lightwide">
          [% SET vc_id = vc _ "_id" %]
          [% P.customer_vendor.picker(vc_id, $vc_id, type=vc, class="initial_focus wi-lightwide", onchange="\$('#update_button').click()") %]
          [% #P.button_tag("show_vc_details('" _ HTML.escape(vc) _  "')", LxERP.t8("Details (one letter abbreviation)"), class="neutral wi-tiny") %]
          <a href="javascript:show_vc_details('[% HTML.escape(vc) %]');" title="[% 'Show detail informationen' | $T8 %]" class="button-image info"><img src="image/detail.png"></a>
          [% P.hidden_tag("previous_" _ vc_id, $vc_id) %]
        </td>
      </tr>
      [% IF ALL_CONTACTS.size %]
        <tr>
          <th>[% 'Contact Person' | $T8 %]</th>
          <td>[% L.select_tag('cp_id', ALL_CONTACTS, default=cp_id, value_key='cp_id', title_key='full_name_dep', with_empty=1, class='wi-lightwide') %]</td>
        </tr>
      [% END %]
    <tr>
      <th>[% 'Shipping Address' | $T8 %]</th>
      <td>
        [% IF ALL_SHIPTO.size %]
          [% shiptos = [ [ "", LxERP.t8("No/individual shipping address") ] ] ; L.select_tag('shipto_id', shiptos.import(ALL_SHIPTO), default=shipto_id, value_key='shipto_id', title_key='displayable_id', class='wi-lightwide') %]
        [% END %]
        [% L.button_tag("kivi.SalesPurchase.edit_custom_shipto()", LxERP.t8("Custom shipto"), class="inline below wi-lightwide neutral") %]
      </td>
    </tr>
    [% IF business %]
      <tr>
        <th>[% business_label %]</th>
        <td><span class="data wi-lightwide">[% HTML.escape(business) %], [% 'Trade Discount' | $T8 %] [% LxERP.format_percent(tradediscount) %] %</span></td>
      </tr>
    [% END %]
    [% IF is_order %]
      <tr>
        <th>[% 'Credit Limit' | $T8 %]</th>
        <td><span class="data wi-lightwide">[% LxERP.format_amount(creditlimit, 0) %], [% 'Remaining' | $T8 %] <span class="plus[% is_credit_remaining_negativ %]">[% LxERP.format_amount( creditremaining, 0 ) %]</span></span></td>
      </tr>
    [% END %]
    [% IF max_dunning_level %]
      <tr>
        <th>[% 'Max. Dunning Level' | $T8 %]:</th>
        <td>
          <b>[% HTML.escape(max_dunning_level) %]</b>;
          [% 'Dunning Amount' | $T8 %]: <b>[% LxERP.format_amount(dunning_amount, 2) %]</b>
        </td>
      </tr>
    [% END %]
    <tr>
      <th>[% 'Steuersatz' | $T8 %]</th>
      <td>[% L.select_tag('taxzone_id', ( id ? ALL_TAXZONES : ALL_ACTIVE_TAXZONES), default=taxzone_id, title_key='description', class='wi-lightwide') %]</td>
    </tr>
    [% IF ALL_LANGUAGES.size %]
      <tr>
        <th>[% 'Language' | $T8 %]</th>
        <td>
          [% L.select_tag('language_id', ALL_LANGUAGES, default=language_id, title_key = 'description', with_empty=1, style='width:250px') %]
        </td>
      </tr>
    [% END %]
    [% IF ALL_DEPARTMENTS.size %]
      <tr>
        <th>[% 'Department' | $T8 %]</th>
        <td>[% L.select_tag('department_id', ALL_DEPARTMENTS, default=department_id, title_key = 'description', with_empty=1, class='wi-lightwide') %]</td>
      </tr>
    [% END %]
    <tr>
      <th>[% 'Currency' | $T8 %]</th>
      <td>[% L.select_tag("currency", ALL_CURRENCIES, value_key="name", default=currency, onchange="document.getElementById('update_button').click();", class='wi-lightwide') %]</td>
    </tr>
    [% IF show_exchangerate %]
      <tr>
        <th>[% 'Exchangerate' | $T8 %]</th>
        <td>
          [% IF forex %]
            [% LxERP.format_amount(exchangerate, 5) %]
          [% ELSE %]
            <input type="text" name="exchangerate" class="wi-small" value="[% HTML.escape(LxERP.format_amount(exchangerate)) %]">
          [% END %]
        </td>
      </tr>
    [% END %]
    <tr>
      <th>[% 'Shipping Point' | $T8 %]</th>
      <td><input type="text" name="shippingpoint" class="wi-lightwide" value="[% HTML.escape(shippingpoint) %]"></td>
    </tr>
    <tr>
      <th>[% 'Ship via' | $T8 %]</th>
      <td><input type="text" name="shipvia" class="wi-lightwide" value="[% HTML.escape(shipvia) %]"></td>
    </tr>
    <tr>
      <th>[% 'Transaction description' | $T8 %]</th>
      <td>[% L.input_tag("transaction_description", transaction_description, class="wi-lightwide", "data-validate"=INSTANCE_CONF.get_require_transaction_description_ps ? 'required' : '') %]</td>
    </tr>
    [% IF show_delivery_customer %]
      <tr>
        <td colspan="2">
          <table>
            <tr>
              <td>
                <button type="button" onclick="delivery_customer_selection_window('delivery_customer_string','delivery_customer_id')">
                  [% 'Choose Customer' | $T8 %]
                </button>
              </td>
              <td>
                <input type="hidden" name="delivery_customer_id" value="[% HTML.escape(delivery_customer_id) %]">
                <input type="text" class="wi-lightwide" id="delivery_customer_string" name="delivery_customer_string" value="[% HTML.escape(delivery_customer_string) %]">
              </td>
            </tr>
            <tr>
              <td>
                <button type="button" onclick="vendor_selection_window('delivery_vendor_string','delivery_vendor_id')">[% 'Choose Vendor' | $T8 %]</button>
              </td>
              <td>
                <input type="hidden" name="delivery_vendor_id" value="[% HTML.escape(delivery_vendor_id) %]">
                <input type="text" class="wi-lightwide" id="vendor_string" name="delivery_vendor_string" value="[% HTML.escape(delivery_vendor_string) %]">
              </td>
            </tr>
          </table>
        </td>
      </tr>
    [% END %]
    [% IF is_sales_ord %]
      <tr>
      <th>[% LxERP.t8('Periodic Invoices') %]</th>
      <td>
        <span class="data  wi-lightwide">[% HTML.escape(periodic_invoices_status) %]</span>
        <span class="button-inline">
          [% L.button_tag("edit_periodic_invoices_config(); return false;", LxERP.t8('Configure'), class='neutral') %]
          <a href="doc/html/ch03.html#features.periodic-invoices.variables" target="_blank" class="button neutral wi-tiny">?</a>
          [% L.hidden_tag("periodic_invoices_config", periodic_invoices_config) %]
        </span>
      </td>
    </tr>
    [% END %]
    <tr>
      <th class="wi-mediumsmall-lightwide" colspan="2">
        <span class="label above">[% 'Internal Notes' | $T8 %]</span>
        [% L.textarea_tag('intnotes', intnotes, style="width: 350px; height: 150px") %]
      </th>
    </tr>
  </tbody>
  </table>

  <table class="tbl-horizontal">
  <caption>[% 'Conditions' | $T8 %]</caption>
  <colgroup> <col class="wi-wide"> </colgroup>
  <tbody>
    <tr>
      <th class="single-col">
        <span class="label above">[% 'Payment Terms' | $T8 %]</span>
        [% L.select_tag('payment_id', ALL_PAYMENTS, default=payment_id, title_key='description', with_empty=1, class='wi-wide') %]
      </th>
    </tr>
    <tr>
      <th class="single-col">
        <span class="label above">[% 'Delivery Terms' | $T8 %]</span>
        [% L.select_tag('delivery_term_id', ALL_DELIVERY_TERMS, default=delivery_term_id, with_empty=1, title_key='description', class='wi-wide') %]
      </th>
    </tr>
    <tr>
      <th class="caption">[% 'Notes' | $T8 %]</th>
    </tr>
    <tr>
      <th class="wi-wide">
        <span class="wi-wide">
          [% L.textarea_tag('notes',    notes,    style="width: 350px; height: 150px", class="texteditor") %]
        </span>
      </th>
    </tr>
    [% IF id && num_follow_ups %]
      <tr>
        <td>[% LxERP.t8('There are #1 unfinished follow-ups of which #2 are due.', num_follow_ups, num_due_follow_ups) %]</td>
      </tr>
    [% END %]
  </tbody>
  </table>

  <table class="tbl-horizontal">
    <caption>[% 'Handling' | $T8 %]</caption>
    <colgroup> <col class="wi-mediumsmall"><col class="wi-normal"> </colgroup>
    <tbody>
      [% openclosed %]
      <tr>
        <th>[% 'Employee' | $T8 %]</th>
        <td>
          [% L.select_tag('employee_id', ALL_EMPLOYEES, default=employee_id, title_key='safe_name', class='wi-normal') %]
        </td>
      </tr>
      [% IF is_sales and ALL_SALESMEN.size %]
        <tr>
          <th>[% 'Salesman' | $T8 %]</th>
          <td>
            [% L.select_tag('salesman_id', ALL_SALESMEN, default=(salesman_id ? salesman_id : employee_id), title_key='safe_name', class='wi-normal') %]
          </td>
        </tr>
      [% END %]
      [% IF is_order %]
        <tr>
          <th>[% 'Order Number' | $T8 %]</th>
          <td><input type="text" name="ordnumber" id="ordnumber" size="11" value="[% HTML.escape(ordnumber) %]" class="wi-small"></td>
        </tr>
      [% END %]
      <tr>
        <th>[% IF is_req_quo %][% 'RFQ Number' | $T8 %][% ELSE %][% 'Quotation Number' | $T8 %][% END %]</th>
        <td><input type="text" name="quonumber" id="quonumber" size="11" value="[% HTML.escape(quonumber) %]" class="wi-small"></td>
      </tr>
      [% IF is_order %]
        <tr>
          <th>[% 'Customer Order Number' | $T8 %]</th>
          <td><input type="text" name="cusordnumber" id="cusordnumber" size="11" value="[% HTML.escape(cusordnumber) %]" class="wi-small"></td>
        </tr>
      [% END %]
      <tr>
        <th>
         [% IF is_order %]
          [% 'Order Date' | $T8 %]
         [% ELSIF is_req_quo %]
          [% 'RFQ Date' | $T8 %]
         [% ELSE %]
          [% 'Quotation Date' | $T8 %]
         [% END %]
        </th>
        <td>[% L.date_tag('transdate', transdate, id='transdate', class='wi-date') %]</td>
      </tr>
      <tr>
        <th>[% 'Tax point' | $T8 %]</th>
        <td>[% L.date_tag('tax_point', tax_point, id='tax_point', class='wi-date') %]</td>
      </tr>
      <tr>
        <th>
          [% IF is_sales_quo %]
            [% 'Valid until' | $T8 %]
          [% ELSE %]
            [% 'Reqdate' | $T8 %]
          [% END %]
        </th>
        <td>[% L.date_tag('reqdate', reqdate, id='reqdate', class='wi-date') %]</td>
      </tr>
      [% IF is_sales_ord %]
        <tr>
          <th>[% 'Insert Date' | $T8 %]</th>
          <td class="wi-date">[% oe_obj.itime_as_date %]</td>
        </tr>
      [% END %]
      <tr>
        <th>[% 'Project Number' | $T8 %]</th>
        <td>[% L.select_tag('globalproject_id', ALL_PROJECTS, title_key='projectnumber', default=globalproject_id, with_empty='1', onChange="document.getElementById('update_button').click();", class='wi-normal') %]</td>
      </tr>
      [% IF type == 'sales_quotation' %]
        <tr>
          <th>[% 'Order probability' | $T8 %]</th>
          <td>[% L.select_tag('order_probability', ORDER_PROBABILITIES, title='title', default=order_probability, class='wi-small') %]%</td>
        </tr>
        <tr>
          <th>[% 'Expected billing date' | $T8 %]</th>
          <td>[% L.date_tag('expected_billing_date', expected_billing_date, class='wi-date') %]</td>
        </tr>
      [% END %]
    </tbody>
  </table>


</div><!-- /.wrapper -->
