[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]
[% USE L %]
[% IF is_req_quo || is_pur_ord %]
  [% SET allow_invoice=1 %]
[% ELSIF is_sales_quo && INSTANCE_CONF.get_allow_sales_invoice_from_sales_quotation %]
  [% SET allow_invoice=1 %]
[% ELSIF is_sales_ord && INSTANCE_CONF.get_allow_sales_invoice_from_sales_order %]
  [% SET allow_invoice=1 %]
[% ELSE %]
  [% SET allow_invoice=0 %]
[% END %]


<table class="full-width">
  <colgroup> <col style="width:25%"><col style="width:25%"><col style="width:25%"><col style="width:25%"> </colgroup>
  <tbody>
    <tr>
      <td>
        [% IF show_weight %]
          <span class="label">[% 'Total weight' | $T8 %]:</span> [% LxERP.format_amount(totalweight, 3) %] [% HTML.escape(weightunit) %]
          <input type="hidden" name="marge_total" value="[% HTML.escape(marge_total) %]">
        [% END %]</td>
      <td>
        [% IF is_sales %]
          <div class="table">
          <div class="field">
            <span class="label wi-small">[% 'Ertrag' | $T8 %]:</span> <span class="value">[% LxERP.format_amount(marge_total, 2) %]</span>
          </div>
          <div class="field">
            <span class="label wi-small">[% 'Ertrag prozentual' | $T8 %]:</span> <span class="value">[% LxERP.format_amount(marge_percent, 2) %] %</span>
          </div>
          </div>
          <input type="hidden" name="marge_percent" value="[% HTML.escape(marge_percent) %]">
        [% END %]
      </td>
      <td>
        [% IF taxaccounts %]
          <input type="hidden" name="taxincluded_changed_by_user" id="taxincluded_changed_by_user" value="[% taxincluded_changed_by_user ? '1' : '0' %]">
          <label for="cbck_taxincluded">[% 'Tax Included' | $T8 %]</label>
          <input type="checkbox" name="taxincluded" id="cbck_taxincluded" onclick="document.getElementById('taxincluded_changed_by_user').value = '1';" value="1"[% IF taxincluded %] checked[% END %]>
        [% END %]
      </td>
      <td class="right">
        <table class="tbl-list full-width" style="float:left">
          <tfoot>
            [% IF NOT taxincluded %]
              <tr>
                <th>[% 'Subtotal' | $T8 %]</th>
                <td class="numeric">[% LxERP.format_amount(invsubtotal, 2) %]</td>
              </tr>
            [% END %]
            [% tax %]
            [% IF rounding %]
              <tr>
                <th>[% 'Rounding' | $T8 %]</th>
                <td class="numeric">[% LxERP.format_amount(rounding, 2) %]</td>
              </tr>
            [% END %]
            <tr>
              <th>[% 'Total' | $T8 %]</th>
              <td class="numeric">
                [% LxERP.format_amount(invtotal, 2) %]
                <input type="hidden" name="oldinvtotal" value="[% HTML.escape(oldinvtotal) %]">
                <input type="hidden" name="oldtotalpaid" value="[% HTML.escape(totalpaid) %]">
              </td>
            </tr>
          </tfoot>
        </table>
      </td>
    </tr>
  </tbody>
</table>

</div><!-- .ui-tabs-panel  -->




[% PROCESS 'webdav/_list.html' %]
<div id="ui-tabs-1">
 [% LxERP.t8("Loading...") %]
</div>


</div>

<input type="hidden" name="saved_xyznumber" value="[% HTML.escape(saved_xyznumber) %]">
[% L.hidden_tag("rowcount", rowcount) %]
<input type="hidden" name="callback" value="[% callback | html %]">
[% IF vc == 'customer' %]
  <input type="hidden" name="customer_discount" value="[% HTML.escape(customer_discount) %]">
[% ELSE %]
  <input type="hidden" name="vendor_discount" value="[% HTML.escape(vendor_discount) %]">
[% END %]

<div id="shipto_inputs" class="hidden">
 [%- PROCESS 'common/_ship_to_dialog.html' cvars=shipto_cvars %]
</div>

<div id="email_inputs" class="hidden"></div>

<div id="print_options" class="hidden">
 [% print_options %]
</div>


<div id="shipto_dialog" class="hidden"></div>
<div id="print_dialog" class="hidden">
 [% PROCESS 'common/_print_dialog.html' %]
</div>

</form>
