[% USE T8 %]
[% USE HTML %]
[% USE L %]
[% USE LxERP %]

<div class="wrapper">
<table class="tbl-list wi-moderate">
  <caption>[% 'Invoices' | $T8 %]</caption>
  <thead>
    <tr>
      <th>[% 'Row number' | $T8 %]</th>
      <th>[% 'Invoice' | $T8 %]</th>
      <th>[% 'Date' | $T8 %]</th>
      <th>[% 'Amount' | $T8 %]</th>
      <th>[% 'Due' | $T8 %]</th>
      <th>[% 'Select' | $T8 %]</th>
      <th>[% 'Amount' | $T8 %]</th>
    </tr>
  </thead>
  <tbody>
    [% FOREACH row = invoices %]
    <tr>
      <td>[% loop.count %]</td>
      <td>[% row.invnumber | html %][% L.hidden_tag('invnumber_' _ loop.count, row.invnumber); L.hidden_tag('id_' _ loop.count, row.id) %]</td>
      <td>[% row.transdate | html %][% L.hidden_tag('transdate_' _ loop.count, row.transdate) %]</td>
      <td class="numeric">[% LxERP.format_amount(row.amount, 2) %][% L.hidden_tag('amount_' _ loop.count, LxERP.format_amount(row.amount, 2)) %]</td>
      <td class="numeric">[% LxERP.format_amount(row.due, 2) %][% L.hidden_tag('due_' _ loop.count, LxERP.format_amount(row.due, 2)) %]</td>
      <td>[% L.checkbox_tag('checked_' _ loop.count, checked=row.checked) %]</td>
      <td class="numeric">[% L.input_tag('paid_' _ loop.count, LxERP.format_amount(row.paid, 2), size=10) %]</td>
    </tr>
    [% END %]
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="numeric">[% LxERP.format_amount(totals.amount, 2) %]</td>
      <td class="numeric">[% LxERP.format_amount(totals.due, 2) %]</td>
      <td></td>
      <td class="numeric">[% LxERP.format_amount(totals.paid, 2) %]</td>
    </tr>
  </tfoot>
</table>
</div>

