/* Kontenliste Styles */

.coa_listtop {
  background-color:rgb(236,233,216);
  text-align:left;
  padding:5px;
  color:black;
  font-weight: bolder;
  border-style:dashed;
  border-width:thin;
}

.coa_listheading {
  background-color:rgb(236,233,216);
  color: black;
  background-image:url("../../image/fade.png");
}

.coa_listheading_element {
  padding:3px;
  font-weight:bolder;
  text-align:left;
  border-style:dotted;
  border-width:thin;
}

.coa_listrow1 {
  background-color: rgb(208,207,201);
  color: black;
  vertical-align: top;
}

.coa_listrow0 {
  background-color: rgb(236,233,216);
  color: black;
  vertical-align: top;
}

.coa_amount {
  text-align:right;
  font-family:monospace;
}

.coa_account_header {
  padding:3px;
  font-weight:bolder;
  text-align:left;
  border-style:none;
  border-width:thin;
}

.coa_account_header_sc {
  padding:3px;
  font-weight:bolder;
  text-align:left;
  border-style:none;
  border-width:thin;
  cursor:s-resize;
}

.coa_detail {
  padding:0px;
  border-style:none;
}

.coa_detail_emph {
  font-weight:bold;
  color:darkred;
}

.coa_details_header {
  padding:3px;
  font-weight:bolder;
  text-align:center;
  border-style:none;
  border-width:thin;
}

.coa_details_header2 {
  padding:3px;
  font-weight:normal;
  text-align:left;
  border-style:none;
  border-width:thin;
}
