
body.menu {
  background-image: url("../../image/fade.png");background-repeat:repeat-x;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:8pt;
  color: black;
}

table.menunew {
  border: 0;
  width: 100%;
  background-image: url("../../image/bg_titel.gif");
  border-spacing: 0;
}

table.menunew td {
  padding: 0;
  color:white;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}

body.menunew {
  padding:0px;
  margin:0px;
}

body {
behavior:url("csshover.htc");
}

#menuv3 {
width:99.8%;
float:left;
background:url(../../image/bg_css_menu.png) repeat bottom;
border:1px solid;
border-color:#ccc #888 #555 #bbb;
}

#menuv3 a, #menuv3 h2, #menuv3 div.x {
font:11px/16px arial,helvetica,sans-serif;
display:block;
border:0;
border-right:1px;
border-style:solid;
border-color:#ccc #888 #555 #bbb;
white-space:nowrap;
margin:0;
padding:1px 0 1px 3px;
}

#menuv3 h2 {
color:#fff;
padding:0 5px;
}

#menuv3 a, #menuv3 a:visited, #menuv3 div.x, #menuv3 div.x:visited {
color:#000;
text-decoration:none;
padding-right:10px;
}

#menuv3 a {
background:#eee;
}

#menuv3 div.x, #menuv3 div.x:visited {
background:#eee url(../../image/right.gif) no-repeat right;
}

#menuv3 a:hover, #menuv3 div.x:hover {
color:#a00;
background-color:#ddd;
}

#menuv3 a:active, #menuv3 div.x:active {
color:#060;
background-color:#ccc;
}

#menuv3 ul {
list-style:none;
margin:0;
padding:0;
float:left;
min-width:7em;
}

#menuv3 li {
position:relative;
float:none;
border:0;
}

/* IE6 spacing bug fix, <li>s without a bottom border get spaced to far
 * correction: the bug will change the height of the parent element! this will also cause the whole menu to grow
 * so the only method to get this pile of crap going is to add a bottom border to the <li>s, where the enclosing <ul> already has
 * a bottom border, which just looks ugly
 * the trick: color the bottom border with the same color as the bottom pixel of the background image - noone notices */
#menuv3 ul li {
border:solid;
border-color:#ccd5e5;
border-width:0 0 1px 0;
}

#menuv3 ul ul li {
border:solid;
border-width:0 0 1px 0;
}

/* IE6 event bug fix, without a background there hovers will be occassionally lost between the li's to the layer below
 * causing the menu to close. Opera 9 has the same bug btw. */
#menuv3 ul ul {
position:absolute;
z-index:500;
top:auto;
display:none;
background:#000;
}

#menuv3 ul ul ul {
top:0;
left:100%;
background:#000;
}

/* Begin non-anchor hover selectors */

/* Enter the more specific element (div) selector
on non-anchor hovers for IE5.x to comply with the
older version of csshover.htc - V1.21.041022. It
improves IE's performance speed to use the older
file and this method */

div#menuv3 h2:hover {
background:#A3C5FF;
color:#a00;
}

div#menuv3 li:hover {
cursor:pointer;
z-index:100;
}

div#menuv3 li:hover ul ul,
div#menuv3 li li:hover ul ul,
div#menuv3 li li li:hover ul ul,
div#menuv3 li li li li:hover ul ul
{display:none;}

div#menuv3 li:hover ul,
div#menuv3 li li:hover ul,
div#menuv3 li li li:hover ul,
div#menuv3 li li li li:hover ul
{display:block;}

/* End of non-anchor hover selectors */

#menuv4 {
width:99.8%;
float:left;
background:url(../../image/bg_css_menu.png) repeat bottom;
border:1px solid;
border-color:#ccc #888 #555 #bbb;
}

#menuv4 a, #menuv4 h2, #menuv4 div.x {
font:11px/16px arial,helvetica,sans-serif;
display:block;
border:0;
border-right:1px;
border-style:solid;
border-color:#ccc #888 #555 #bbb;
white-space:nowrap;
margin:0;
padding:1px 0 1px 3px;
}

#menuv4 h2:before {
    content:" ";
}
#menuv4 h2:after {
    content:" ";
}
#menuv4 h2 {
color:#fff;
padding:2px 10px;
}

#menuv4 a, #menuv4 a:visited, #menuv4 div.x, #menuv4 div.x:visited {
color:#000;
text-decoration:none;
padding-right:10px;
}

#menuv4 a {
background:#eee;
}
#menuv4 div.x, #menuv4 div.x:visited {
background:#eee url(../../image/right.gif) no-repeat right;
}

#menuv4 a:hover, #menuv4 div.x:hover {
color:#a00;
background-color:#ddd;
}

#menuv4 a:active, #menuv4 div.x:active {
color:#060;
background-color:#ccc;
}

#menuv4 ul {
list-style:none;
margin:0;
padding:0;
float:left;
}

#menuv4 li {
position:relative;
float:none;
border:0;
}

#menuv4 li.sub {
left:-25px;
top:-3px;
}

/* IE6 spacing bug fix, <li>s without a bottom border get spaced to far
 * correction: the bug will change the height of the parent element! this will also cause the whole menu to grow
 * so the only method to get this pile of crap going is to add a bottom border to the <li>s, where the enclosing <ul> already has
 * a bottom border, which just looks ugly
 * the trick: color the bottom border with the same color as the bottom pixel of the background image - noone notices */
#menuv4 ul li {
border:solid;
border-color:#ccd5e5;
border-width:0 0 1px 0;
}

#menuv4 ul ul li {
border:solid;
border-width:0 0 1px 0;
}

/* IE6 event bug fix, without a background there hovers will be occassionally lost between the li's to the layer below
 * causing the menu to close. Opera 9 has the same bug btw. */
#menuv4 ul ul {
position:absolute;
z-index:500;
top:auto;
display:none;
}

#menuv4 ul ul ul {
top:0;
left:100%;
}

/* Begin non-anchor hover selectors */

/* Enter the more specific element (div) selector
on non-anchor hovers for IE5.x to comply with the
older version of csshover.htc - V1.21.041022. It
improves IE's performance speed to use the older
file and this method */

div#menuv4 h2:hover {
background:#A3C5FF;
color:#a00;
}

div#menuv4 li:hover {
cursor:pointer;
z-index:100;
}

div#menuv4 li:hover ul ul,
div#menuv4 li li:hover ul ul,
div#menuv4 li li li:hover ul ul,
div#menuv4 li li li li:hover ul ul
{display:none;}

div#menuv4 li:hover ul,
div#menuv4 li li:hover ul,
div#menuv4 li li li:hover ul,
div#menuv4 li li li li:hover ul
{display:block; left:10px;}

/* End of non-anchor hover selectors */


#html-menu { float:left; white-space: nowrap; }
#html-menu tr { vertical-align: top; }
#html-menu div.menuitem { padding: 2px 4px 1px 4px; }
#html-menu div.submenu { font-weight: bold }
#html-menu img { vertical-align: middle; visibility:hidden; border: 0; }
#html-menu div.menuitem:first-child img { visibility:visible }
#html-menu a { vertical-align: top }
#html-menu .item span.menu-spacer { display: inline-block; width: 24px }
#html-menu .menu span.menu-spacer { display: inline-block; width: 32px }

