
body.menu {
  font-size: 80%;
  color: black;
}

table.menunew {
  border: 0;
  width: 100%;
  background-color: #f0efde;
  border-spacing: 0;
}

table.menunew td {
  padding: 0;
  color:black;
}

body.menunew {
  padding:0px;
  margin:0px;
}

div.layout-actionbar ~ #content {
  padding-top: 32px;
}

#main_menu_div {
  background-color: #d0cfc9
}

#main_menu_div ~ div.layout-actionbar {
  top: 45px;
}

#main_menu_div ~ #content {
  padding-top: 25px;
}
#main_menu_div ~ div.layout-actionbar ~ #content {
  padding-top: 54px;
}

#menuv3 {
  width: 100%;
  position: fixed;
  background-color: #d0cfc9;
  border-color:#ccc #888 #555 #bbb;
  z-index: 30;
}

#menuv3 ~ div.layout-actionbar {
  top: 40px;
}
#menuv3  ~ #content {
  padding-top: 35px;
}
#menuv3 ~ div.layout-actionbar ~ #content {
  padding-top: 64px;
}

#menuv3 a, #menuv3 h2, #menuv3 div.x {
font-size:13px;
font-weight: normal;
display:block;
border:0;
border-right:1px;
border-style:solid;
border-color:#ccc #888 #555 #bbb;
white-space:nowrap;
margin:0;
padding:1px 0 1px 3px;
}

#menuv3 h2 {
color: black;
padding:2px 10px;
}

#menuv3 a, #menuv3 a:visited, #menuv3 div.x, #menuv3 div.x:visited {
color:#000;
text-decoration:none;
padding-right:10px;
}

#menuv3 a {
background:#eee;
}
#menuv3 div.x, #menuv3 div.x:visited {
background:#eee url(../../image/right.gif) no-repeat right;
}

#menuv3 a:hover, #menuv3 div.x:hover {
/*color:#a00;
background-color:#ddd;*/
  background-color: #c6c39b;
}

#menuv3 a:active, #menuv3 div.x:active {
color:#000;
background-color:#c6c39b;
}

#menuv3 ul {
list-style:none;
margin:0;
padding:0;
float:left;
}

#menuv3 li {
position:relative;
float:none;
border:0;
border-width:0 0 1px 0;
}

/* IE6 spacing bug fix, <li>s without a bottom border get spaced to far
 * correction: the bug will change the height of the parent element! this will also cause the whole menu to grow
 * so the only method to get this pile of crap going is to add a bottom border to the <li>s, where the enclosing <ul> already has
 * a bottom border, which just looks ugly
 * the trick: color the bottom border with the same color as the bottom pixel of the background image - noone notices */
#menuv3 ul li {
border:solid;
border-color:#ccd5e5;
border-width:0 0 1px 0;
}

#menuv3 ul ul li {
border:solid;
border-width:0 0 1px 0;
}

/* IE6 event bug fix, without a background there hovers will be occassionally lost between the li's to the layer below
 * causing the menu to close. Opera 9 has the same bug btw. */
#menuv3 ul ul {
position:absolute;
z-index: 500;
display:none;
}

#menuv3 ul ul ul {
top:0;
left:90%;
}

/* Begin non-anchor hover selectors */

/* Enter the more specific element (div) selector
on non-anchor hovers for IE5.x to comply with the
older version of csshover.htc - V1.21.041022. It
improves IE's performance speed to use the older
file and this method */

div#menuv3 h2:hover {
background:#c6c39b;
color:#000;
}

div#menuv3 li:hover {
cursor:pointer;
}

div#menuv3 li:hover ul ul,
div#menuv3 li li:hover ul ul,
div#menuv3 li li li:hover ul ul,
div#menuv3 li li li li:hover ul ul
{display:none;}

div#menuv3 li:hover ul,
div#menuv3 li li:hover ul,
div#menuv3 li li li:hover ul,
div#menuv3 li li li li:hover ul
{display:block;}

/* End of non-anchor hover selectors */

/* html menu */
/* types of lines: m sm i (menu submenu item)
   each line is a mi (menuitem) and has one mii (menu-item-icon) whcih is ms (menu-spacer)
   and one mic (menu-item-chunk)
   indenting is done with the levels s0, s1, s2 */
#html-menu {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 95%;
  transition:         margin-left 0.2s, width 0.2s;
  -moz-transition:    margin-left 0.2s, width 0.2s;
  -webkit-transition: margin-left 0.2s, width 0.2s;
  -o-transition:      margin-left 0.2s, width 0.2s;
}

div.layout-split-right { margin-left: 190px; height: 100%; }
div.layout-split-right.folded { margin-left: 40px }
#html-menu.folded:hover + #content.layout-split-right.folded { margin-left: 190px }
#html-menu { float:left; width: 183px; font-size: 85%; margin-top: 10px; }
#html-menu.folded { width: 32px; }
#html-menu.folded:hover { width: 183px; }
#html-menu div.mi { margin-top: 4px; margin-bottom: 3px; white-space: nowrap; clear:both; position:relative; }
#html-menu div.sm { font-weight: bold }
#html-menu img { vertical-align: top; border: 0; }
#html-menu a { vertical-align: top }
#html-menu .i span.ms { float: left; width: 24px; margin-bottom: 4px; }
#html-menu .m span.ms { float: left; width: 32px }
#html-menu .sm span.ms { float: left; width: 24px; background: url(../../image/unterpunkt.png); }
#html-menu div.m { height: 24px }
#html-menu div.m span.mic { color:blue; position: relative; top: 4px }
#html-menu div.m:hover,
#html-menu div.i:hover { color:blue; background-color: lemonchiffon; cursor: pointer; }
#html-menu span.mic { white-space: normal; display: inline-block; vertical-align: top; line-height: 1.2; }
#html-menu a.ml span.mic { width: 145px } /* fix deep indents */
#html-menu div.s0 { padding-left: 2px }
#html-menu div.s1 { padding-left: 8px }
#html-menu div.s2 { padding-left: 16px }

body { margin: 0 }


@media print {
  #menuv3, #html-menu, #frame-header, #main_menu_div, #js-header {   /* items with this class won't print */
    display: none;
  }
  #content.html-menu { margin-left: 0; }
}
