[%- USE HTML %]
[%- USE LxERP %]
[%- USE T8 %]
[%- USE L %]
<h1>[% title | html %]</h1>

[%- INCLUDE 'common/flash.html' %]

<script type="text/javascript">
  <!--
  function copy_debit_to_credit() {
    var txt = document.getElementsByName('debit_1')[0].value;
    document.getElementsByName('credit_2')[0].value = txt;
  };
  //-->
  </script>
  <script type="text/javascript" src="js/show_form_details.js"></script>
<script type="text/javascript" src="js/follow_up.js"></script>
<script type="text/javascript" src="js/kivi.Draft.js"></script>

<form method="post" name="gl" action="gl.pl" id="form">

[% FOREACH name IN [ 'id', 'closedto', 'locked', 'storno', 'storno_id', 'previous_id', 'previous_gldate' ] %]
[% L.hidden_tag(name, $name) %]
[%- END %]

<input type=hidden name=title value="[% hide_title | html %]">

<input type="hidden" name="follow_up_trans_id_1" value="[% id | html %]">
<input type="hidden" name="follow_up_trans_type_1" value="gl_transaction">
<input type="hidden" name="follow_up_trans_info_1" value="[% id | html %]">
<input type="hidden" name="follow_up_rowcount" value="1">

<div id="ir_tabs" class="tabwidget">
 <ul>
  <li><a href="#ui-tabs-basic-data">[% 'Basic Data' | $T8 %]</a></li>
[%- IF INSTANCE_CONF.get_webdav %]
  <li><a href="#ui-tabs-webdav">[% 'WebDAV' | $T8 %]</a></li>
[%- END %]
[%- IF id %]
[%- IF INSTANCE_CONF.get_doc_storage %]
  <li><a href="controller.pl?action=File/list&file_type=document&object_type=gl_transaction&object_id=[% HTML.url(id) %]">[% 'Documents' | $T8 %]</a></li>
  <li><a href="controller.pl?action=File/list&file_type=attachment&object_type=gl_transaction&object_id=[% HTML.url(id) %]">[% 'Attachments' | $T8 %]</a></li>
[%- END %]
[%- END %]
 </ul>
 <div id="ui-tabs-basic-data">

<table width=100%>
[%- IF saved_message %]
  <tr>
    <td>[% saved_message | html %]</th>
  </tr>
[%- END %]

  <tr height="5"></tr>
  <tr>
    <td>
      <table>
        <tr>
          <td colspan="6" align="left">[% 'Previous transnumber text' | $T8 %] [% previous_id  %] . [% 'Previous transdate text' | $T8 %] [% previous_gldate %]</td>
        </tr>
        <tr>
          <th align="right">[% 'Reference' | $T8 %]</th>
          <td>[% L.input_tag('reference', reference,  size=20, readonly=readonly) %]</td>
          <th align="right">[% 'Transdate' | $T8 %]</th>
          <td>[% L.date_tag('transdate', transdate, readonly=readonly) %]</td>
        </tr>
[%- IF id %]
        <tr>
          <th align="right">[% 'ID' | $T8 %]</th>
          <td>[% L.input_tag('id', id,  size=20, readonly=readonly) %]</td>
          <th align="right">[% 'Gldate' | $T8 %]</th>
          <td>[% L.date_tag('gldate', gldate, readonly=1) %]<img class="ui-datepicker-trigger" src="image/calendar.png" alt="..." title="..." style='visibility:hidden'></td>
        </tr>
[%- END %]

        [% SET departments_style = "";
           SET departments_style = "style='visibility:hidden'" IF ALL_DEPARTMENTS.size == 0 %]
        <tr>
          <th [%- departments_style -%]align="right">[% 'Department' | $T8 %]</th>
          <td [%- departments_style -%]>[% L.select_tag('department_id', ALL_DEPARTMENTS, default = department_id, title_key = 'description', with_empty = 1) %]</td>
          <th align=right>[% 'Tax point' | $T8 %]</th>
          <td>[% L.date_tag('tax_point', tax_point) %]</td>
        </tr>
        <tr>
          <th align="right">[% 'Description' | $T8 %]</th>
          <td>[% L.areainput_tag('description', description, cols=50, readonly=readonly) %]</td>
          <th align=right>[% 'Delivery Date' | $T8 %]</th>
          <td>[% L.date_tag('deliverydate', deliverydate) %]</td>
        </tr>
        <tr>
          <th align="right">[%- IF id %][% 'Mitarbeiter' | $T8 %][% END %]</th>
          <td>[%- IF id %][% L.input_tag('employee', employee, size=20, readonly=readonly) %][% END %]</td>
          <th align="right">[% 'MwSt. inkl.' | $T8 %]</th>
          <td>[% L.checkbox_tag('taxincluded', checked=taxincluded) %]</td>
        </tr>

      <tr>
       <td colspan=4>
         [% 'OB Transaction' | $T8 %] [% L.checkbox_tag('ob_transaction' checked=ob_transaction) %]
         [% 'CB Transaction' | $T8 %] [% L.checkbox_tag('cb_transaction' checked=cb_transaction) %]
       </td>
      </tr>
      <tr>
       <td width="1%" align="right" nowrap>[% 'Show details' | $T8 %]</td>
       <td width="1%">[% L.checkbox_tag('show_details', checked=show_details, onclick='show_form_details();') %]</td>
      </tr>

      <tr>
      <td colspan=4>
          <table width=100%>
           <tr class=listheading>
          <th class=listheading style="width:15%">[% 'Account' | $T8 %]</th>
          <th class=listheading style="width:10%">[% 'Chart balance' | $T8 %]</th>
          <th class=listheading style="width:10%">[% 'Debit' | $T8 %]</th>
          <th class=listheading style="width:10%">[% 'Credit' | $T8 %]</th>
          <th class=listheading style="width:10%">[% 'Tax' | $T8 %]</th>
          <th class=listheading style="width:5%">[% 'Taxkey' | $T8 %]</th>

[%- IF show_details %]
          <th class=listheading style="width:20%">[% 'Source' | $T8 %]</th>
          <th class=listheading style="width:20%">[% 'Memo' | $T8 %]</th>
          <th class=listheading style="width:20%">[% 'Project Number' | $T8 %]</th>
[%- END %]

        </tr>
