[%- USE HTML %]
[%- USE LxERP %]
[%- USE T8 %]
[%- USE L %]
      <tr class=listtotal>
      <th colspan="3" align=right class=listtotal> [% LxERP.format_amount(totaldebit, 2) | html %]</th>
      <th align=right class=listtotal> [% LxERP.format_amount(totalcredit, 2) | html %]</th>
      <td colspan=6></td>
      </tr>
    </table>
    </td>
    </tr>
  </table>
  </td>
  </tr>
</table>
</div>
[% PROCESS 'webdav/_list.html' %]
</div>

<hr size="3" noshade>
<input name=callback type=hidden value="[% callback %]">
<input name=bt_id    type=hidden value="[% bt_id %]">
<input name=bt_chart_id type=hidden value="[% bt_chart_id %]">

[%- IF id && follow_ups.size %]
  <p>[% LxERP.t8('There are #1 unfinished follow-ups of which #2 are due.', follow_ups.size , follow_ups_due) %]</p>
[%- END %]
</form>

<script type="text/javascript">
 <!--
$(document).ready(function() {
  [%- SET row=0 %]
  [%- WHILE row < rowcount %]
   [%- SET row=row + 1 %]
   $('#accno_id_[% row %]').on('set_item:ChartPicker', function(e, item) {
     kivi.GL.show_chart_balance(this);
     kivi.GL.update_taxes(this);
   });
  [%- END %]
});
-->
</script>
