[% USE HTML %]<form method="post" action="gl.pl">

 <input name="callback" type="hidden" value="[% HTML.escape(callback) %]">

 <input class="submit" type="submit" name="action" value="GL Transaction">
 <input class="submit" type="submit" name="action" value="Sales Transaction">
 <input class="submit" type="submit" name="action" value="Purchase Transaction">
 <input class="submit" type="submit" name="action" value="Sales Invoice">
 <input class="submit" type="submit" name="action" value="Vendor Invoice">

</form>
