[% USE HTML %]<form method="post" action="gl.pl">

 <input name="callback" type="hidden" value="[% HTML.escape(callback) %]">

 <input class="submit" type="submit" name="action" value="Dialogbuchung">
 <input class="submit" type="submit" name="action" value="Debitorenbuchung">
 <input class="submit" type="submit" name="action" value="Kreditorenbuchung">
 <input class="submit" type="submit" name="action" value="Rechnung">
 <input class="submit" type="submit" name="action" value="Einkaufsrechnung">

</form>
