[% USE HTML %]<form method="post" action="gl.pl">

 <input name="callback" type="hidden" value="[% HTML.escape(callback) %]">

 <input class="submit" type="submit" name="action" value="<translate>GL Transaction</translate>">
 <input class="submit" type="submit" name="action" value="<translate>AR Transaction</translate>">
 <input class="submit" type="submit" name="action" value="<translate>AP Transaction</translate>">
 <input class="submit" type="submit" name="action" value="<translate>Sales Invoice</translate>">
 <input class="submit" type="submit" name="action" value="<translate>Vendor Invoice</translate>">

</form>
