[%- USE T8 %]
[%- USE HTML %]
[%- USE LxERP %]
[%- USE L %]
<h1>[% 'Journal' | $T8 %]</h1>

<form method=post id="form" action=gl.pl>

<input type=hidden name=sort value=datesort>

<table width=100%>
  <tr>
    <td>
      <table>
        <tr>
          <th align=right>[% 'Reference / Invoice Number' | $T8 %]</th>
          <td><input name="reference" size="20" class="initial_focus"></td>
          <th align=right>[% 'Source' | $T8 %]</th>
          <td><input name=source size=20></td>
        </tr>
        [%- IF ALL_DEPARTMENTS %]
        <tr>
          <th align=right nowrap>[% 'Department' | $T8 %]</th>
          <td colspan=3>[% L.select_tag('department_id', ALL_DEPARTMENTS, title_key = 'description', with_empty = 1) %]</td>
        </tr>
        [%- END %]
        <tr>
          <th align=right>[% 'Description' | $T8 %]</th>
          <td><input name=description size=40></td>
          <th align=right>[% 'Account Number' | $T8 %]</th>
          <td><input name=accno size=20></td>
        </tr>
        <tr>
          <th align=right>[% 'Notes' | $T8 %]</th>
          <td colspan=3><input name=notes size=40></td>
        </tr>
        <tr>
          <th align=right>[% 'Project Number' | $T8 %]</th>
          <td colspan=3>[% L.select_tag('project_id', ALL_PROJECTS, title_key = 'projectnumber', with_empty = 1) %]</td>
        </tr>
 <tr>
    <th align=right>[% 'Employee' | $T8 %]</th>
    <td colspan=3>[% L.select_tag('employee_id', ALL_EMPLOYEES, title_key = 'safe_name', with_empty = 1) %]</td>
  </tr>
  <tr>
    <th align=right>[% 'Filter date by' | $T8 %]</th>
    <td colspan=3>
    <input name=datesort class=radio type=radio value=transdate checked> [% 'Transdate' | $T8 %]
    <input name=datesort class=radio type=radio value=gldate> [% 'Gldate' | $T8 %]
  </td>
  </tr>
  <tr>
    <th align=right>[% 'From' | $T8 %]</th>
          <td>[% L.date_tag('datefrom') %]</td>
          <th align=right>[% 'To (time)' | $T8 %]</th>
          <td>[% L.date_tag('dateto') %]</td>
        </tr>
        <tr>
          <th align=right>[% 'Include in Report' | $T8 %]</th>
          <td colspan=3>
            <table>
              <tr>
                <td>
                  <input name="category" class=radio type=radio value=X checked> [% 'All' | $T8 %]
                  <input name="category" class=radio type=radio value=A> [% 'Asset' | $T8 %]
                  <input name="category" class=radio type=radio value=L> [% 'Liability' | $T8 %]
                  <input name="category" class=radio type=radio value=I> [% 'Revenue' | $T8 %]
                  <input name="category" class=radio type=radio value=E> [% 'Expense' | $T8 %]
                </td>
              </tr>
              <tr>
                <table>
                  <tr>
                    <td align=right><input name="l_id" class=checkbox type=checkbox value=Y></td>
                    <td>[% 'ID' | $T8 %]</td>
                    <td align=right><input name="l_transdate" class=checkbox type=checkbox value=Y checked></td>
                    <td>[% 'Transdate' | $T8 %]</td>
                    <td align=right><input name="l_gldate" class=checkbox type=checkbox value=Y checked></td>
                    <td>[% 'Gldate' | $T8 %]</td>
                    <td align=right><input name="l_reference" class=checkbox type=checkbox value=Y checked></td>
                    <td>[% 'Reference' | $T8 %]</td>
                    <td align=right><input name="l_description" class=checkbox type=checkbox value=Y checked></td>
                    <td>[% 'Description' | $T8 %]</td>
                    <td align=right><input name="l_notes" class=checkbox type=checkbox value=Y></td>
                    <td>[% 'Notes' | $T8 %]</td>
                  </tr>
                  <tr>
                    <td align=right><input name="l_debit" class=checkbox type=checkbox value=Y checked></td>
                    <td>[% 'Debit' | $T8 %]</td>
                    <td align=right><input name="l_credit" class=checkbox type=checkbox value=Y checked></td>
                    <td>[% 'Credit' | $T8 %]</td>
                    <td align=right><input name="l_source" class=checkbox type=checkbox value=Y checked></td>
                    <td>[% 'Source' | $T8 %]</td>
                    <td align=right><input name="l_accno" class=checkbox type=checkbox value=Y checked></td>
                    <td>[% 'Account' | $T8 %]</td>
                    [%- IF ALL_DEPARTMENTS %]
                      <td align=right><input name="l_department" class=checkbox type=checkbox value=Y></td>
                      <td>[% 'Department' | $T8 %]</td>
                    [%- END %]
                  </tr>
                  <tr>
                    <td align=right><input name="l_projectnumbers" class=checkbox type=checkbox value=Y></td>
                    <td>[% 'Project Number' | $T8 %]</td>
                    <td align=right><input name="l_employee" class=checkbox type=checkbox value=Y></td>
                    <td>[% 'Employee' | $T8 %]</td>
                  </tr>
                  <tr>
                    <td align=right><input name="l_subtotal" class=checkbox type=checkbox value=Y></td>
                    <td>[% 'Subtotal' | $T8 %]</td>
                  </tr>
                </table>
              </tr>
            </table>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>
