[%- USE LxERP %]
<form method="post" action="controller.pl" id="form">
<table>
  <tr>
    <td width="20px"></td>
    <td colspan="6" align="left">
      [%- LxERP.t8('Select charts for which the CB/OB transactions want to be posted.') %]<br>
      [%- LxERP.t8('There will be two transactions done:') %]<br>
     - [%- LxERP.t8('One SB-transaction') %] ( [% SELF.cb_date.to_kivitendo %], [% SELF.cb_reference %], [% SELF.cb_description %], [% SELF.cbob_chartaccno %] )<br>
     - [%- LxERP.t8('One OB-transaction') %] ( [% SELF.ob_date.to_kivitendo %], [% SELF.ob_reference %], [% SELF.ob_description %], [% SELF.cbob_chartaccno %] )<br>
      [%- LxERP.t8('No revert available.') %]
    </td>
  </tr>
  <tr>
    <td><p></p></td>
  </tr>
  <tr>
    <th></th>
    <th align="right">[% LxERP.t8('close chart') %]</th>
    <td>[% SELF.cbob_chartaccno %]</td>
  </tr>
</table>
