[%- USE L %]
[%- USE LxERP %]
    [%- L.hidden_tag("cb_date",SELF.cb_date.to_kivitendo) %]
    [%- L.hidden_tag("cb_startdate",SELF.cb_startdate.to_kivitendo) %]
    [%- L.hidden_tag("cb_reference",SELF.cb_reference) %]
    [%- L.hidden_tag("cb_description",SELF.cb_description) %]
    [%- L.hidden_tag("ob_date",SELF.ob_date.to_kivitendo) %]
    [%- L.hidden_tag("ob_reference",SELF.ob_reference) %]
    [%- L.hidden_tag("ob_description",SELF.ob_description) %]
    [%- L.hidden_tag("cbob_chart",SELF.cbob_chart) %]
    [%- L.hidden_tag("rowcount",SELF.row_count) %]
</form>
