[%- USE T8 %]
<body>

 <p><b>[% 'Error!' | $T8 %]</b></p>

 <p>[%- 'The authentication database is not reachable at the moment. Either it hasn\'t been set up yet or the database server might be down. Please contact your administrator.' | $T8 %]</p>

 <p>[% 'If you want to set up the authentication database yourself then log in to the administration panel. Lx-Office will then create the database and tables for you.' | $T8 %]</p>
 <hr>
 <p>[% 'For further information read this:' | $T8 %] <a href="doc/INSTALL/Benutzerauthentifizierung-und-Administratorpasswort.html" target="_blank">Lx-Office Installation</a><br>
 [% 'Or download the whole Installation Documentation as PDF (110kB) for off-line study (currently in German Language).' | $T8 %] <a href="doc/Lx-Office_Installation_DE.pdf">Lx-Office_Installation_DE.pdf</a></p>
 
 <hr>
 <p>
  <a href="login.pl" target="_top">[% 'Login' | $T8 %]</a> |
  <a href="admin.pl" target="_top">[% 'Administration' | $T8 %]</a>
 </p>

</body>
</html>
