<body>

 <p><b>Fehler!</b></p>

 <p>Die Konfigurationsdatei f&uuml;r die Authentifizierung &quot;config/authentication.pl&quot; wurde nicht gefunden. Diese Lx-Office-Installation wurde vermutlich noch nicht vollst&auml;ndig aktualisiert oder eingerichtet. Bitte wenden Sie sich an Ihren Administrator.</p>

 <p>Wenn Sie selber die Aktualisierung bzw. Einrichtung &uuml;bernehmen wollen, so lesen Sie bitte die Datei &quot;doc/UPGRADE&quot; und folgen Sie den dort beschriebenen Schritten.</p>

 <p>
  <a href="login.pl" target="_top">Anmeldung</a> |
  <a href="admin.pl" target="_top">Administration</a>
 </p>

</body>
</html>
