<body>

 <p><b>Error!</b></p>

 <p>The authentication database is not reachable at the moment. Either it hasn't been set up yet or the database server might be down. Please contact your administrator.</p>

 <p>If you want to set up the authentication database yourself then log in to the administration panel. Lx-Office will then create the database and tables for you.</p>

 <p>
  <a href="login.pl" target="_top">Login</a> |
  <a href="admin.pl" target="_top">Administration</a>
 </p>

</body>
</html>
