<body>

 <p><b>Fehler!</b></p>

 <p>Die Authentifizierungsdatenbank kann momentan nicht erreicht werden. Entweder wurde sie noch nicht eingerichtet, oder der Datenbankserver antwortet nicht. Bitte wenden Sie sich an Ihren Administrator.</p>

 <p>Wenn Sie die Authentifizierungsdatenbank selber einrichten wollen, so melden Sie sich an der Administrationsoberfl&auml;che an. Lx-Office wird dann die Datenbank und die Tabellen f&uuml;r Sie anlegen.</p>

 <p>
  <a href="login.pl" target="_top">Anmeldung</a> |
  <a href="admin.pl" target="_top">Administration</a>
 </p>

</body>
</html>
