[%- USE T8 %]
<body>

 <p><b>[% 'Error!' | $T8 %]</b></p>

 <p>[% 'The authentication configuration file &quot;config/authentication.pl&quot; does not exist. This Lx-Office installation has probably not been updated correctly yet. Please contact your administrator.' | $T8 %]</p>

 <p>[% 'If you yourself want to upgrade the installation then please read the file &quot;doc/UPGRADE&quot; and follow the steps outlined in this file.' | $T8 %]</p>

 <p>
  <a href="login.pl" target="_top">[% 'Login' | $T8 %]</a> |
  <a href="admin.pl" target="_top">[% 'Administration' | $T8 %]</a>
 </p>

</body>
</html>
