[%- USE T8 %]
[%- USE HTML %][%- USE LxERP %]
   <noscript>
   [% INCLUDE 'generic/information.html'
     title_information = LxERP.t8('Your browser does not currently support Javascript.'),
     label_information = LxERP.t8('A lot of the usability of kivitendo has been enhanced with javascript. Although it is currently possible to use every aspect of kivitendo without javascript, we strongly recommend it. In a future version this may change and javascript may be necessary to access advanced features.'),
   %]
   </noscript>
 <center>
  <a class="nomobile" href="http://www.kivitendo.de" target="_top"><img src="image/kivitendo[% xmas %].png" class='kivitendo-logo' border="0" alt='[% 'kivitendo' | $T8 %]' title="[% 'kivitendo Homepage' | $T8 %]"></a>

  <h3 class="login">[% 'kivitendo' | $T8 %] [% FORM.read_version %]</h3>

[%- IF git_head %]
  <p>[%- LxERP.t8("Git revision: #1, #2 #3", git_head.hash.substr(0, 7), git_head.author_date.to_kivitendo, git_head.author_date.strftime('%H:%M:%S %Z')) %]</p>
[%- END %]

  <p>[% 'companylogo_subtitle' | $T8 %]</p>
  <p>
   <b>
    [% HTML.escape(defaults.company) %]
    <br>
    [% HTML.escape(defaults.address).replace('\\\\n', '<br>').replace('\n', '<br>') %]
   </b>

   <br>
   <br>

   <table border="0">
    <tr>
     <th align="left"><a href="am.pl?action=config" title="[% 'Preferences' | $T8 %]">[% 'User' | $T8 %]</a></th>
     <td>[% HTML.escape(MYCONFIG.name) %]</td>
    </tr>
    <tr>
     <th align="left">[% IF AUTH.assert('admin', 'may_fail') %]<a href="controller.pl?action=ClientConfig/edit" title="[% 'Client Configuration' | $T8 %]">[% END %][% 'Client' | $T8 %][% IF AUTH.assert('admin', 'may_fail') %]</a>[% END %]</th>
     <td>[% HTML.escape(client.name) %]</td>
    </tr>
    <tr>
     <th align="left"><a href="am.pl?action=config" title="[% 'Preferences' | $T8 %]">[% 'Language' | $T8 %]</a></th>
     <td>[% HTML.escape(MYCONFIG.countrycode) %]</td>
    </tr>
    <tr>
     <th align="left">[% 'Webserver interface' | $T8 %]</th>
     <td>[% HTML.escape(interface) %]</td>
    </tr>
    <tr class="nomobile">
     <th align="left">[% 'kivitendo Homepage' | $T8 %]:</th>
     <td><a href="http://kivitendo.de" target="_blank" title="[% 'kivitendo Homepage' | $T8 %]">http://kivitendo.de</a></td>
    </tr>
   </table>
 </center>

 [%- todo_list %]
