[% USE HTML %][% USE LxERP %]<body>
 [%- DEFAULT myconfig_dbhost = 'localhost' %]

 <center>
  <a href="http://www.lx-office.org" target="_top"><img src="image/lx-office-erp.png" border="0"></a>

  <h2 class="login">Version [% version %]</h2>

  <p>Licensed to</p>

  <p>
   <b>
    [% HTML.escape(myconfig_company) %]
    <br>
    [% HTML.escape(myconfig_address).replace('\\\\n', '<br>').replace('\n', '<br>') %]
   </b>

   <br>

   <table border="0">
    <tr>
     <th align="left">User</th>
     <td>[% HTML.escape(myconfig_name) %]</td>
    </tr>
    <tr>
     <th align="left">Dataset</th>
     <td>[% HTML.escape(myconfig_dbname) %]</td>
    </tr>
    <tr>
     <th align="left">Database Host</th>
     <td>[% HTML.escape(myconfig_dbhost) %]</td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
     <th colspan="2" align="center"><a href="http://lx-office.org" target="blank">http://lx-office.org</a></th>
    </tr>
   </table>

   <noscript>
   [% INCLUDE  'generic/information_master.html'
     title_information = 'Your browser does not currently support Javascript.',
     label_information = 'A lot of the usability of Lx-Office has been enhanced with javascript. Although it is currently possible to use every aspect of Lx-Office without javascript, we strongly recommend it. In a future version this may change and javascript may be necessary to access advanced features.',
   %]
   </noscript>
 </center>

 [%- todo_list %]

</body>
</html>
