[%- USE T8 %]
[% USE HTML %][% USE LxERP %]<body>
 [%- DEFAULT myconfig_dbhost = 'localhost' %]
   <noscript>
   [% INCLUDE 'generic/information.html'
     title_information = LxERP.t8('Your browser does not currently support Javascript.'),
     label_information = LxERP.t8('A lot of the usability of Lx-Office has been enhanced with javascript. Although it is currently possible to use every aspect of Lx-Office without javascript, we strongly recommend it. In a future version this may change and javascript may be necessary to access advanced features.'),
   %]
   </noscript>
 <center>
  <a class="nomobile" href="http://www.lx-office.org" target="_top"><img src="image/lx-office-erp.png" border="0" title="[% 'Lx-Office Homepage' | $T8 %]"></a>

  <h3 class="login">[% 'Lx-Office' | $T8 %] [% version %]</h3>

  <p>[% 'companylogo_subtitle' | $T8 %]</p>
  <p>
   <b>
    [% HTML.escape(myconfig_company) %]
    <br>
    [% HTML.escape(myconfig_address).replace('\\\\n', '<br>').replace('\n', '<br>') %]
   </b>

   <br>
   <br>

   <table border="0">
    <tr>
     <th align="left"><a href="am.pl?action=config" title="[% 'Preferences' | $T8 %]">[% 'User' | $T8 %]</a></th>
     <td>[% HTML.escape(myconfig_name) %]</td>
    </tr>
    <tr>
     <th align="left"><a href="am.pl?action=config" title="[% 'Preferences' | $T8 %]">[% 'Language' | $T8 %]</a></th>
     <td>[% HTML.escape(myconfig_countrycode) %]</td>
    </tr>
    <tr>
     <th align="left"><a href="admin.pl" title="[% 'Administration' | $T8 %]">[% 'Dataset' | $T8 %]</a></th>
     <td>[% HTML.escape(myconfig_dbname) %]</td>
    </tr>
    <tr>
     <th align="left">[% 'Database Host' | $T8 %]</th>
     <td>[% HTML.escape(myconfig_dbhost) %]</td>
    </tr>
    <tr>
     <th align="left">[% 'Webserver interface' | $T8 %]</th>
     <td>[% HTML.escape(interface) %]</td>
    </tr>
    <tr class="nomobile">
     <th align="left">[% 'Lx-Office Homepage' | $T8 %]:</th>
     <td><a href="http://lx-office.org" target="_blank" title="[% 'Lx-Office Homepage' | $T8 %]">http://lx-office.org</a></td>
    </tr>
   </table>
 </center>

 [%- todo_list %]

</body>
</html>
