[% USE HTML %]<body class="login" onLoad="document.loginscreen.login.focus()">

 <center>
  <table class="login" border="3" cellpadding="20">
   <tr>
    <td class="login" align="center">
     <a href="http://www.lx-office.org" target="_top"><img src="image/lx-office-erp.png" border="0"></a>
     <h1 class="login" align="center">Version [% version %]</h1>

     [% IF error_message %]
     <p><span class="error_message">[% error_message %]</span></p>
     [% END %]

     <p>

      <form method="post" name="loginscreen" action="login.pl">

       <input type="hidden" name="show_dbupdate_warning" value="1">

       <table width="100%">
        <tr>
         <td align="center">
          <table>
           <tr>
            <th align="right">Benutzername</th>
            <td><input class="login" name="login" size="30" tabindex="1"></td>
           </tr>
           <tr>
            <th align="right">Passwort</th>
            <td><input class="login" type="password" name="password" size="30" tabindex="2"></td>
           </tr>
          </table>

          <br>
          <input type="submit" name="action" value="Anmeldung" tabindex="3">

         </td>
        </tr>
       </table>

      </form>

    </td>
   </tr>
  </table>

</body>
</html>
