[% USE T8 %]
[% USE LxERP %]
[% USE L %]
[% USE HTML %]

[% IF FORM.workflow_email_journal_id %]
  [% SET FORM.title = LxERP.t8("Email Journal Workflow") _ " - " _ FORM.title %]
[% END %]
<h1>[% FORM.title %] <span id='nr_in_title'>[% SELF.order.number %]</span></h1>

<div id="print_options" style="display:none">
  <form method="post" action="controller.pl" id="print_options_form">
    [% SELF.print_options %]
    <br>
    [% L.button_tag('kivi.Order.print()', LxERP.t8('Print')) %]
    <a href="#" onclick="$('#print_options').dialog('close');" class="button neutral">[% LxERP.t8("Cancel") %]</a>
  </form>
</div>

<div id="shipto_dialog" class="hidden"></div>

<form method="post" action="controller.pl" id="order_form"
      data-transport-cost-reminder-article-id="[% HTML.escape(transport_cost_reminder_article.id) %]"
      data-transport-cost-reminder-article-description="[% HTML.escape(transport_cost_reminder_article.displayable_name) %]">
  [% L.hidden_tag('callback',             FORM.callback) %]
  [% L.hidden_tag('type',                 FORM.type) %]
  [% L.hidden_tag('id',                   SELF.order.id) %]
  [% L.hidden_tag('converted_from_record_type_ref', SELF.order.converted_from_record_type_ref) %]
  [% L.hidden_tag('converted_from_record_id',       SELF.order.converted_from_record_id) %]
  [% L.hidden_tag('email_journal_id',               FORM.email_journal_id) %]
  [% L.hidden_tag('email_attachment_id',            FORM.email_attachment_id) %]
  [% L.hidden_tag('workflow_email_journal_id',      FORM.workflow_email_journal_id) %]
  [% L.hidden_tag('workflow_email_attachment_id',   FORM.workflow_email_attachment_id) %]
  [% L.hidden_tag('workflow_email_callback',        FORM.workflow_email_callback) %]

  [% IF !SELF.order.id %]
  [%   L.hidden_tag('form_validity_token', FORM.form_validity_token) %]
  [% END %]

<div class="tabwidget" id="order_tabs">

<ul>
  <li><a href="#ui-tabs-basic-data">[% 'Basic Data' | $T8 %]</a></li>
  [% IF FORM.email_attachment_id || FORM.workflow_email_attachment_id %]
    <li><a href="controller.pl?action=EmailJournal/attachment_preview&attachment_id=[% HTML.url(FORM.email_attachment_id || FORM.workflow_email_attachment_id) %]">[% 'Email Attachment Preview' | $T8 %]</a></li>
  [% END %]
  [% IF INSTANCE_CONF.get_webdav %]
    <li><a href="#ui-tabs-webdav">[% 'WebDAV' | $T8 %]</a></li>
  [% END %]
  [% IF SELF.order.id AND INSTANCE_CONF.get_doc_storage %]
    <li><a href="controller.pl?action=File/list&file_type=document&object_type=[% HTML.escape(FORM.type) %]&object_id=[% HTML.url(SELF.order.id) %]">[% 'Documents' | $T8 %]</a></li>
    <li><a href="controller.pl?action=File/list&file_type=attachment&object_type=[% HTML.escape(FORM.type) %]&object_id=[% HTML.url(SELF.order.id) %]">[% 'Attachments' | $T8 %]</a></li>
  [% END %]
  [% IF SELF.order.id %]
    <li><a href="controller.pl?action=RecordLinks/ajax_list&object_model=Order&object_id=[% HTML.url(SELF.order.id) %]">[% 'Linked Records' | $T8 %]</a></li>
  [% END %]
  [% IF SELF.order.id %]
    <li><a href="#ui-tabs-phone-notes">[% 'Phone Notes' | $T8 %]<span id="num_phone_notes">[%- num_phone_notes ? ' (' _ num_phone_notes _ ')' : '' -%]</span></a></li>
  [% END %]
</ul>

[% PROCESS "order/tabs/basic_data.html" %]
[% PROCESS 'webdav/_list.html' %]
<div id="ui-tabs-1">
  [% LxERP.t8("Loading...") %]
</div>
[% IF SELF.order.id %]
  <div id="ui-tabs-phone-notes">
    [% PROCESS "order/tabs/phone_notes.html" %]
  </div>
[% END %]
<div id="shipto_inputs" class="hidden">
  [%- PROCESS 'common/_ship_to_dialog.html'
    vc_obj=SELF.order.customervendor
    cs_obj=SELF.order.custom_shipto
    cvars=SELF.order.custom_shipto.cvars_by_config
    id_selector='#order_shipto_id' %]
</div>

</div><!-- /.tabwidget -->
</form>
