[% USE L %]
[% USE LxERP %]
[% USE JavaScript %]

<form method="post" id="file_import_form" action="controller.pl">

<table class="tbl-list">
  <thead>
    <tr>
      <th>[% L.checkbox_tag(source.chk_action _ '_checkall') %]</th>
      <th>[% source.chkall_title %]</th>
      <th>[% LxERP.t8("Attached Filename") %]</th>
    </tr>
  </thead>
  <tbody>
    [% FOREACH file = source.files %]
      <tr class="listrow[% loop.count % 2 %]">
        <td>[% L.checkbox_tag(source.chk_action _ '[]', 'value'=file.name, 'class'=source.chk_action) %]</td>
        <td></td>
        <td><span id="[% "filename_" _ file.name %]">[% file.filename %]</span></td>
     </tr>
   [% END %]
  </tbody>
</table>

<div class="buttons">
  [% L.button_tag("kivi.File.importaction(" _ SELF.object_id _ ",'" _ SELF.object_type _ "','" _ SELF.file_type _ "','" _ source.name _ "','" _ source.path _ "','"_ source.chk_action _ "');", LxERP.t8('Continue'), id => "import_cont_btn") %]</td>
  [% L.button_tag("kivi.File.importclose();" , LxERP.t8('Cancel')  , class => "submit") %]</td></tr>
</div>

</form>

<script type="text/javascript">
<!--
$(function() {
  $('#[% source.chk_action %]_checkall').checkall('INPUT[name="[% source.chk_action %][]"]');
});
-->
</script>
