[% USE LxERP %]
[% USE L %]
[% USE HTML %]

<!-- PENDENT: Ueberpruefen, Tabelle und Buttons -->
[% IF ! json %]
  <div id="[% file_type %]_list_[% object_type %]">
[% END %]

<div class="wrapper">
<h2>[% title %]</h2>

[% SET can_rename = 0 %]
[% FOREACH source = SOURCES %]

<table class="tbl-list">
  <caption>[% source.title %]</caption>
  <thead>
    <tr>
      [% SET checkname = source.chk_action %]
      [% IF is_global %]
        [% SET checkname = object_type _ '_' _ source.chk_action %]
      [% END %]
      [% IF edit_attachments %]
        <th>
          <script type="text/javascript"><!--
            $(function() { $('#[% checkname %]_checkall').checkall('INPUT[name="[% checkname %][]"]'); });
          --></script>
          [% L.checkbox_tag(checkname _ '_checkall') %]
        </th>
        <th>[% source.chkall_title %]</th>
      [% END %]
      <th>[%  LxERP.t8('Date') %]</th>
      <th>[%  source.file_title %]</th>
      [% IF file_type == 'image' %]
        <th>[%  LxERP.t8('Title') %]</th>
        <th>[%  LxERP.t8('ImagePreview') %]</th>
        <th>[%  LxERP.t8('Description') %]</th>
      [% ELSE %]
        <th></th>
      [% END %]
   </tr>
  </thead>
  <tbody>
    [% FOREACH file = source.files %]
      <tr>
        [% IF edit_attachments %]
          <td>[% L.checkbox_tag(checkname _ '[]', 'value'=file.id _ '_' _ file.version, 'class'=checkname) %]</td>
          <td></td>
        [% END %]
        <td>[% file.mtime_as_timestamp_s %][% L.hidden_tag("version[]", file.version) %]</td>
        <td>
          <a href="controller.pl?action=File/download&id=[% file.id %][% IF file.version %]&version=[% file.version %][% END %]">
          <span id="[% "filename_" _ file.id %][% IF file.version %]_[% file.version %][% END %]">[% file.file_name %]</span></a>
        </td>
        [% IF file_type == 'image' %]
          <td>[% file.title %]</td>
          <td><img src="controller.pl?action=File/download&id=[% file.id %][% IF file.version %]&version=[% file.version %][% END %]" alt="[% file.title %]"></td>
          <td>[% file.description %]</td>
        [% ELSE %]
          <td></td>
        [% END %]
      </tr>
    [% END %]
  </tbody>
</table>

<div class="buttons">
  [% IF edit_attachments %]
    [% IF source.can_import %]
      [% L.button_tag("kivi.File.unimport(" _ object_id _ ",'" _ object_type _ "','" _ file_type _ "','" _ checkname _ "');",source.chk_title) %]
    [% ELSE %]
      [% IF source.can_delete %]
        [% L.button_tag("kivi.File.delete("   _ object_id _ ",'" _ object_type _ "','" _ file_type _ "','" _ checkname _ "'," _ is_global _ ");",  source.chk_title) %]
      [% END %]
    [% END %]
  [% END %]
  [% IF source.can_rename %]
    [% can_rename = 1 %]
    [% L.button_tag("kivi.File.rename(" _ object_id _ ",'" _ object_type _ "','" _ file_type _ "','" _ checkname _ "'," _ is_global _ ");",  source.rename_title ) %]
  [% END %]
  [% IF source.can_upload %]
    [% L.button_tag("kivi.File.upload(" _ object_id _ ",'" _ object_type _ "','" _ file_type _ "','" _ source.upload_title _ "'," _ is_global _ ");", source.upload_title ) %]
  [% END %]
  [% IF source.can_import %]
    [% L.button_tag("kivi.File.import("   _ object_id _ ",'" _ object_type _ "','" _ file_type _ "','" _ source.name _ "','" _ source.path _"');",  source.import_title ) %]
  [% END %]
</div><!-- /.buttons -->

[% END #FOREACH SOURCES %]

<div class="buttons">
  [% L.button_tag("kivi.File.update(" _ object_id _ ",'" _ object_type _ "','" _ file_type _ "'," _ is_global _ ");", LxERP.t8('Update')) %]
</div>

</div><!-- /.wrapper -->


[% IF ! json %]
  </div>
  [% UNLESS is_global %]
    [% IF can_rename %]
      [% INCLUDE 'file/rename_dialog.html' %]
    [% END %]
  [% END %]
[% END %]
