[%- USE HTML -%][%- USE LxERP -%][%- USE L -%][%- USE T8 -%][%- INCLUDE 'common/flash.html' %]

<h1>[% title %]</h1>

<p>
 <table width="100%" id="shop_list">
  <thead>
   <tr class="listheading">
    <th align="center" width="1%"><img src="image/updown.png" alt="[ LxERP.t8('reorder item') %]"></th>
    <th>[% 'Description' | $T8 %]</th>
    <th>[% 'Type' | $T8 %]</th>
    <th>[% 'Obsolete' | $T8 %]</th>
   </tr>
  </thead>

  <tbody>
   [%- FOREACH shop = SHOPS %]
    <tr class="listrow" id="shop_id_[% shop.id %]">
     <td align="center" class="dragdrop"><img src="image/updown.png" alt="[ LxERP.t8('reorder item') %]"></td>
     <td><a href="[% SELF.url_for(action='edit', id=shop.id) %]">[% HTML.escape(shop.description) %]</a></td>
     <td>[% HTML.escape(shop.connector) %]</a></td>
     <td>[% HTML.escape(shop.obsolete) %]</td>
    </tr>
   [%- END %]
  </tbody>
 </table>
</p>

<hr height="3">

[% L.sortable_element('#shop_list tbody', url=SELF.url_for(action='reorder'), with='shop_id') %]
