[%- USE L %]
[%- USE HTML %]
[%- USE LxERP %]
[%- USE T8 %]
[%- USE url %]
[%- SET list_spool__callback = href _ '&sort=' _ sort %]

<h1>[% title | html %]</h1>

<form method="post" action="bp.pl" id="form">

<p>
 [% LxERP.t8("Printer") %]: [% L.select_tag('printer', ALL_PRINTERS, title_key = 'printer_description') %]
</p>

<p>
[% FOREACH option IN options %]
  [% option %]
  [% ', ' UNLESS loop.last %]
[% END %]
</p>

<table width=100%>
 <tr>
  <td class="listheading">[% L.checkbox_tag('checkall_box', checkall='input.check_all') %]</td>
  <td class="listheading">[% L.link(href _ '&sort=transdate', LxERP.t8('Date')) %]</td>
[%- IF is_invoice %]
  <td class="listheading">[% L.link(href _ '&sort=invoice', LxERP.t8('Invoice')) %]</td>
[%- END %]
[%- IF is_order %]
  <td class="listheading">[% L.link(href _ '&sort=ordnumber', LxERP.t8('Order')) %]</td>
[%- END %]
[%- IF is_quotation %]
  <td class="listheading">[% L.link(href _ '&sort=quonumber', LxERP.t8('Quotation')) %]</td>
[%- END %]
  <td class="listheading">[% L.link(href _ '&sort=name', vc == 'customer' ? LxERP.t8('Customer') : LxERP.t8('Vendor')) %]</td>
  <td class="listheading">[% 'Spoolfile' | $T8 %]</td>
 </tr>
[%- FOREACH row = SPOOL %]
 <tr class="listrow[% loop.count %]">
  <td>[% SET list_spool__checked='checked_' _ loop.count; L.checkbox_tag(list_spool__checked, checked=$list_spool__checked, class='check_all') IF row.new_file %]</td>
  <td>[% row.transdate %]</td>
[%- IF is_invoice %]
  <td>[% L.link(url(row.module _ '.pl', action='edit' ,type=type, callback=list_spool__callback, id=row.id), row.invnumber) %]</td>
[%- END %]
[%- IF is_order %]
  <td>[% L.link(url(row.module _ '.pl', action='edit' ,type=type, callback=list_spool__callback, id=row.id), row.ordnumber) %]</td>
[%- END %]
[%- IF is_quotation %]
  <td>[% L.link(url(row.module _ '.pl', action='edit' ,type=type, callback=list_spool__callback, id=row.id), row.quonumber) %]</td>
[%- END %]
  <td>[% row.name | html %]</td>
  <td>[% L.link(LXCONFIG.paths.spool _ '/' _ row.spoolfile, row.spoolfile) %][% L.hidden_tag('spoolfile_' _ loop.count, row.spoolfile) %]</td>
 </tr>
[%- END %]

[% L.hidden_tag('rowcount', SPOOL.size) %]

</table>

[% L.hidden_tag('callback', callback) %]
[% L.hidden_tag('title', title) %]
[% L.hidden_tag('vc', vc) %]
[% L.hidden_tag('type', type) %]
[% L.hidden_tag('sort', sort) %]
[% L.hidden_tag('account', account) %]

[% L.hidden_tag('transdateto', transdateto) %]
[% L.hidden_tag('transdatefrom', transdatefrom) %]
[% L.hidden_tag('invnumber', invnumber) %]
[% L.hidden_tag('ordnumber', ordnumber) %]
[% L.hidden_tag('quonumber', quonumber) %]
[% L.hidden_tag('customer', customer) %]
[% L.hidden_tag('vendor', vendor) %]
</form>
