[% USE HTML %] <form method="post" action="ap.pl">

  <input name="callback" type="hidden" value="[% callback %]">

  <input type="hidden" name="login" value="[% HTML.escape(login) %]">
  <input type="hidden" name="password" value="[% HTML.escape(password) %]">

  <translate>Create new</translate><br>

  <input class="submit" type="submit" name="action" value="<translate>AP Transaction</translate>">
  <input class="submit" type="submit" name="action" value="<translate>Vendor Invoice</translate>">

 </form>

</body>
</html>
