[%- USE T8 %]
[%- USE L %][%- USE P -%]
[% SET style="width: 250px" %]
<h1>[% title %]</h1>

 <form method="post" name="search" action="ap.pl" id="form">

  <table width=100%>
  <tr>
   <td>
    <table>
     <tr>
      <th align=right>[% 'Vendor' | $T8 %]</th>
      <td>[% L.input_tag("vendor", vendor, style=style, class="initial_focus") %]</td>
     </tr>
    <tr>
     <th align="right" nowrap>[% 'Contact Person' | $T8 %]</th>
     <td>[% L.input_tag("cp_name", '', style=style) %]</td>
    </tr>
     <tr>
      <th align=right nowrap>[% 'Department' | $T8 %]</th>
      <td>[% L.select_tag('department_id', ALL_DEPARTMENTS, title_key = 'description', with_empty = 1, style=style) %]</td>
     </tr>
     <tr>
      <th align=right nowrap>[% 'Invoice Number' | $T8 %]</th>
      <td>[% L.input_tag("invnumber", "", style=style) %]</td>
     </tr>
     <tr>
      <th align=right nowrap>[% 'Order Number' | $T8 %]</th>
      <td>[% L.input_tag("ordnumber", "", style=style) %]</td>
     </tr>
     <tr>
      <th align=right nowrap>[% 'Notes' | $T8 %]</th>
      <td>[% L.input_tag("notes", "", style=style) %]</td>
      <th align="right">[% 'Part Description' | $T8 %]</th>
      <td>[% L.input_tag("parts_description", "", style=style) %]</td>
     </tr>
     <tr>
      <th align="right">[% 'Project Number' | $T8 %]</th>
      <td>[% P.project.picker("project_id", project_id, style=style) %]</td>
      <th align="right">[% 'Part Number' | $T8 %]</th>
      <td>[% L.input_tag("parts_partnumber", "", style=style) %]</td>
     </tr>
     <tr>
      <th align=right nowrap>[% 'Invoice Date' | $T8 %]</th>
      <td>
       [% L.date_tag('transdatefrom') %]
       [% 'Bis' | $T8 %]
       [% L.date_tag('transdateto') %]
     </td>
    </tr>
     <tr>
      <th align=right nowrap>[% 'Due Date' | $T8 %]</th>
      <td>
       [% L.date_tag('duedatefrom') %]
       [% 'Bis' | $T8 %]
       [% L.date_tag('duedateto') %]
     </td>
    </tr>
   <input type=hidden name=sort value=transdate>
   </table>
    </td>
    </tr>
    <tr>
     <td>
      <table>
       <tr>
        <th align=right nowrap>[% 'Include in Report' | $T8 %]</th>
        <td>
         <table width=100%>
          <tr>
           <td align=right><input name=open class=checkbox type=checkbox value=Y checked></td>
           <td nowrap>[% 'Open' | $T8 %]</td>
           <td align=right><input name=closed class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Closed' | $T8 %]</td>
          </tr>
          <tr>
           <td align=right><input name="l_id" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'ID' | $T8 %]</td>
           <td align=right><input name="l_invnumber" class=checkbox type=checkbox value=Y checked></td>
           <td nowrap>[% 'Invoice Number' | $T8 %]</td>
           <td align=right><input name="l_ordnumber" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Order Number' | $T8 %]</td>
          </tr>
          <tr>
           <td align=right><input name="l_name" class=checkbox type=checkbox value=Y checked></td>
           <td nowrap>[% 'Vendor' | $T8 %]</td>
           <td align=right><input name="l_transdate" class=checkbox type=checkbox value=Y checked></td>
           <td nowrap>[% 'Invoice Date' | $T8 %]</td>
           <td align=right><input name="l_netamount" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Amount' | $T8 %]</td>
          </tr>
          <tr>
           <td align=right><input name="l_tax" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Tax' | $T8 %]</td>
           <td align=right><input name="l_amount" class=checkbox type=checkbox value=Y checked></td>
           <td nowrap>[% 'Total' | $T8 %]</td>
           <td align=right><input name="l_datepaid" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Date Paid' | $T8 %]</td>
          </tr>
          <tr>
           <td align=right><input name="l_paid" class=checkbox type=checkbox value=Y checked></td>
           <td nowrap>[% 'Paid' | $T8 %]</td>
           <td align=right><input name="l_duedate" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Due Date' | $T8 %]</td>
           <td align=right><input name="l_due" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Amount Due' | $T8 %]</td>
          </tr>
          <tr>
           <td align=right><input name="l_notes" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Notes' | $T8 %]</td>
           <td align=right><input name="l_employee" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Employee' | $T8 %]</td>
           <td align=right><input name="l_department" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Department' | $T8 %]</td>
          </tr>
          <tr>
           <td align=right><input name="l_subtotal" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Subtotal' | $T8 %]</td>
           <td align=right><input name="l_globalprojectnumber" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Document Project Number' | $T8 %]</td>
         </tr>
          <tr>
           <td align=right><input name="l_taxzone" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Steuersatz' | $T8 %]</td>
           <td align=right><input name="l_payment_terms" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Payment Terms' | $T8 %]</td>
           <td align=right><input name="l_charts" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Chart' | $T8 %]</td>
           <td align=right><input name="l_direct_debit" id="l_direct_debit" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'direct debit' | $T8 %]</td>
          </tr>
         <tr>
          <td colspan=4 align=left><b>[% 'Vendor' | $T8 %] </td>
         </tr>
         <tr>
           <td align=right><input name="l_vendornumber" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Vendor Number' | $T8 %]</td>
           <td align=right><input name="l_country" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Country' | $T8 %]</td>
           <td align=right><input name="l_ustid" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'USt-IdNr.' | $T8 %]</td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>
    </tr>
   </table>
  </form>
