[% USE T8 %]
[% USE L %]
[% USE LxERP %]
[% USE HTML %]

<form action='controller.pl' method='post' id='filter_form'>
<div class="wrapper">

[% BLOCK filter_toggle_panel %]
<table id='filter_table' class="tbl-horizontal">
  <tbody>
    <tr>
      <th>[% 'Bank account' | $T8 %]</th>
      <td>[% L.select_tag('filter.local_bank_account_id', BANK_ACCOUNTS, default=filter.local_bank_account_id, title_key='displayable_name', with_empty=1, class='wi-verywide') %]</td>
    </tr>
    <tr>
      <th>[% 'Transdate from' | $T8 %]</th>
      <td><span class="wi-date">[% L.date_tag('filter.transdate:date::ge', filter.transdate_date__ge) %]</span></td>
    </tr>
    <tr>
      <th>[% 'Transdate to' | $T8 %]</th>
      <td><span class="wi-date">[% L.date_tag('filter.transdate:date::le', filter.transdate_date__le) %]</span></td>
    </tr>
    <tr>
      <th>[% 'Valutadate from' | $T8 %]</th>
      <td><span class="wi-date">[% L.date_tag('filter.valutadate:date::ge', filter.valutadate_date__ge) %]</span></td>
    </tr>
    <tr>
      <th>[% 'Valutadate to' | $T8 %]</th>
      <td><span class="wi-date">[% L.date_tag('filter.valutadate:date::le', filter.valutadate_date__le) %]</span></td>
    </tr>
    <tr>
      <th>[% 'Remote name' | $T8 %]</th>
      <td>[% L.input_tag('filter.remote_name:substr::ilike', filter.remote_name_substr__ilike, class='initial_focus wi-verywide') %]</td>
    </tr>
    <tr>
      <th>[% 'Remote account number' | $T8 %]</th>
      <td>[% L.input_tag('filter.remote_account_number:substr::ilike', filter.remote_account_number_substr__ilike, class='initial_focus wi-verywide') %]</td>
    </tr>
    <tr>
      <th>[% 'Remote bank code' | $T8 %]</th>
      <td>[% L.input_tag('filter.remote_bank_code:substr::ilike', filter.remote_bank_code_substr__ilike, size=60, class='initial_focus wi-small') %]</td>
    </tr>
    <tr>
      <th>[% 'Amount' | $T8 %]</th>
      <td>[% L.input_tag('filter.amount:number', filter.amount_number, class="wi-small") %]</td>
    </tr>
    <tr>
      <th>[% 'Purpose' | $T8 %]</th>
      <td>[% L.input_tag('filter.purpose:substr::ilike', filter.purpose_substr__ilike, size=60, class='initial_focus wi-verywide') %]</td>
    </tr>
  </tbody>
</table>

[% L.hidden_tag('sort_by', FORM.sort_by) %]
[% L.hidden_tag('sort_dir', FORM.sort_dir) %]
[% L.hidden_tag('page', FORM.page) %]
<div class="buttons">
  [% L.button_tag('$("#filter_form").resetForm()', LxERP.t8('Reset'), class='neutral') %]
</div>
[% END %]


[% INCLUDE 'common/toggle_panel.html'%]

</div><!-- /.wrapper -->

</form>
