[% USE HTML %]
[% USE LxERP %]
[% USE P %]

[% IF TEMPLATES_AP.size %]

  <table class="tbl-list">
    <caption>[% LxERP.t8('AP template suggestions') %]:</caption>
    <thead>
      <tr>
        <th>[% LxERP.t8('Description') %]</th>
        <th>[% LxERP.t8('Vendor') %]</th>
        <th>[% LxERP.t8('Employee') %]</th>
        <th>[% LxERP.t8('Template date') %]</th>
      </tr>
    </thead>
    <tbody>
      [% FOREACH template = TEMPLATES_AP %]
      <tr>
        <td>[% P.link_tag(SELF.load_ap_record_template_url(template), template.template_name) %]</td>
        <td>[% HTML.escape(template.vendor.name) %]</td>
        <td>[% HTML.escape(template.employee.name || template.employee.login) %]</td>
        <td>[% HTML.escape(template.itime_as_date) %]</td>
      </tr>
      [% END %]
    </tbody>
  </table>

[% ELSE %]
  <p class="message message_hint">[% LxERP.t8('No AP template was found.') %]</p>
[% END %]


[% IF TEMPLATES_GL.size %]

  <table class="tbl-list">
    <caption>[% LxERP.t8('GL template suggestions') %]:</caption>
    <thead>
      <tr>
        <th>[% LxERP.t8('Description') %]</th>
        <th>[% LxERP.t8('Reference') %]</th>
        <th>[% LxERP.t8('Employee') %]</th>
        <th>[% LxERP.t8('Template date') %]</th>
      </tr>
    </thead>
    <tbody>
      [% FOREACH template = TEMPLATES_GL %]
        <tr>
          <td>[% P.link_tag(SELF.load_gl_record_template_url(template), template.template_name) %]</td>
          <td>[% HTML.escape(template.reference) %]</td>
          <td>[% HTML.escape(template.employee.name || template.employee.login) %]</td>
          <td>[% HTML.escape(template.itime_as_date) %]</td>
        </tr>
      [% END %]
    </tbody>
  </table>

[% ELSE %]
  <p class="message message_hint">[% LxERP.t8('No GL template was found.') %]</p>
[% END %]
