[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]
[% USE P %]
[% USE L %]

[% IF !INVOICES.size %]
  <p class="message message_hint">[% 'No data was found.' | $T8 %]</p>

[% ELSE %]

  <table class="tbl-list">
    <thead>
      <tr>
        <th>[% L.checkbox_tag('invoices_check_all') %]</th>
        <th>[% LxERP.t8("Invoice number") %]</th>
        <th>[% LxERP.t8("Amount") %]</th>
        <th>[% LxERP.t8("Open amount") %]</th>
        <th>[% LxERP.t8("Amount less skonto") %]</th>
        <th>[% LxERP.t8("Invoice Date") %]</th>
        <th>[% LxERP.t8("Customer/Vendor Number") %]</th>
        <th>[% LxERP.t8("Customer/Vendor Name") %]</th>
      </tr>
    </thead>
    <tbody>
      [% FOREACH invoice = INVOICES %]
      <tr>
        <td>[% L.checkbox_tag('invoice_id[]', value=invoice.id) %]</td>
        <td>[% invoice.invnumber %]</td>
        <td>[% LxERP.format_amount(invoice.amount, 2) %]</td>
        <td>[% LxERP.format_amount(invoice.open_amount, 2) %]</td>
        <td>[% LxERP.format_amount(invoice.amount_less_skonto, 2) %]</td>
        <td>[% invoice.transdate_as_date %]</td>
        <td>[% invoice.vendor.vendornumber %][% invoice.customer.customernumber %]</td>
        <td>[% invoice.vendor.name %][% invoice.customer.name %]</td>
      </tr>
      [% END %]
    </tbody>
  </table>

  <script type="text/javascript"><!--
    $(function() {
      $('#invoices_check_all').checkall('INPUT[name="invoice_id[]"]');
    });
  --></script>

[% END %]
