[% USE HTML %]
[% USE LxERP %]
[% USE P %]
[% SET debug=1 %]

[% FOREACH invoice = INVOICES %]
  <tr id="extra_row_[% HTML.escape(bt_id) %]_[% HTML.escape(invoice.id) %]">
    <td></td>
    <td></td>
    <td id="assigned_invoices_[% bt.id %]_[% invoice.id %]">
      [% PROCESS "bank_transactions/_payment_suggestion.html" %]
    </td>
    <td>[% P.input_tag("sources_" _ bt_id _ "_" _ invoice.id, "") %]</td>
    <td>[% P.input_tag("memos_" _ bt_id _ "_" _ invoice.id, "") %]</td>
    [% IF debug %]
      <td></td>
    [% END %]
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
[% END %]
