[% USE HTML %]
[% USE LxERP %]
[% USE L %]
[% USE T8 %]

<h1>[% title %]</h1>

[% IF SELF.problems.size %]
  [% INCLUDE 'bank_transactions/_problems.html' %]
[% END %]

<p>[% HTML.escape(bank_account.name) %] [% HTML.escape(bank_account.iban) %], [% 'Bank code' | $T8 %] [% HTML.escape(bank_account.bank_code) %], [% 'Bank' | $T8 %] [% HTML.escape(bank_account.bank) %]</p>
<p>
  [% IF FORM.filter.fromdate %] [% 'From'      | $T8 %] [% FORM.filter.fromdate %] [% END %]
  [% IF FORM.filter.todate %]   [% 'to (date)' | $T8 %] [% FORM.filter.todate   %] [% END %]
  [% L.hidden_tag("filter.bank_account", FORM.filter.bank_account) %]
  [% L.hidden_tag("filter.fromdate",     FORM.filter.fromdate)     %]
  [% L.hidden_tag("filter.todate",       FORM.filter.todate)       %]
</p>

<div id="bt_tabs" class="tabwidget">
  <ul>
    <li><a href="#all">[% 'All transactions' | $T8 %]</a></li>
    <li><a href="#automatic">[% 'Proposals' | $T8 %]</a></li>
  </ul>

  <div id="all">
    [% PROCESS "bank_transactions/tabs/all.html" %]
  </div>
  <div id="automatic">
    [% PROCESS "bank_transactions/tabs/automatic.html" %]
  </div>
</div>


<div id="set_all_sources_memos_dialog" class="hidden">
  <table class="tbl-horizontal">
    <tr>
      <th>[% LxERP.t8("Source") %]:</th>
      <td>[% L.input_tag("set_all_sources", "") %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Memo") %]:</th>
      <td>[% L.input_tag("set_all_memos", "") %]</td>
    </tr>
  </table>

  <div class="buttons">
    [% L.button_tag("kivi.BankTransaction.set_all_sources_memos()", LxERP.t8("Set fields")) %]
    <a href="#" onclick="$('#set_all_sources_memos_dialog').dialog('close');" class="button neutral">[% LxERP.t8("Cancel") %]</a>
  </div>
</div><!-- /#set_all_sources_memos_dialog -->


<script type="text/javascript"><!--
$(function() {
  kivi.BankTransaction.init_list([% ui_tab %]);
});
//--></script>
