[%- USE LxERP -%][%- USE L -%][%- USE P -%][%- USE HTML -%]
[% SET parts = SELF.requirement_spec.parts_sorted %]

<div id="additional_parts_list_container" class="additional-parts-context-menu"[% IF initially_hidden %] style="display: none;"[% END %]>

 <h2>[% LxERP.t8("Additional articles") %]</h2>

 <div id="additional_parts_list_empty"[% IF parts.size %] style="display: none;"[% END %]>
  [% LxERP.t8("No articles have been added yet.") %]
 </div>

 <table id="additional_parts_list"[% IF !parts.size %] style="display:none;"[% END %] class="tbl-list">
  <thead>
   <tr>
    <th>[%- LxERP.t8("Part Number") %]</th>
    <th>[%- LxERP.t8("Description") %]</th>
    <th>[%- LxERP.t8("Qty") %]</th>
   </tr>
  </thead>

  <tbody>
   [% FOREACH part = parts %]
    <tr>
     <td>[% HTML.escape(part.part.partnumber) %]</td>
     <td>[% HTML.escape(part.description) %]</td>
     <td class="numeric">[% HTML.escape(part.qty_as_number) %] [% HTML.escape(part.unit.name) %]</td>
    </tr>
   [% END %]
  </tbody>
 </table>
</div>
