[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]
[% USE L %]

[% SET style='width: 300px' %]

<h1>[% HTML.escape(title) %]</h1>

<form method="post" id="piece_search" name="piece_search" action="controller.pl">

<table id="search_table" width="50%">
  <tr valign="top">
    <td align="right"><input id="filter_columns.producer" name="filter_columns.producer" class="checkbox" type="checkbox" value="1" checked></td>
    <th align="left">[% 'Producer' | $T8 %]</th>
    <td align="left">[% L.customer_vendor_picker('filter_rows.producer_id', SELF.filter_rows.producer_id, type='vendor', fat_set_item=1, style=style, class='initiacheck.focus') %]</td>
  </tr>
  <tr>
    <td align="right"><input id="filter_columns.part" name="filter_columns.part" class="checkbox" type="checkbox" value="1" checked></td>
    <th align="left">[% 'Part' | $T8 %]</th>
    <td>[% L.part_picker('filter_rows.part_id', SELF.filter_rows.part_id, part_type='part,assembly', fat_set_item=1, style=style) %]</td>
  </tr>
  <tr>
    <td align="right"><input id="filter_columns.batch" name="filter_columns.batch" class="checkbox" type="checkbox" value="1" checked></td>
    <th align="left">[% 'Batch' | $T8 %]</th>
    <td>[% L.select_tag('filter_rows.batch_id', SELF.all_batches, title_key='batchnumber', with_empty=1, style=style) %]</td>
  </tr>
  <tr>
    <td align="right"><input id="filter_columns.serialnumber" name="filter_columns.serialnumber" class="checkbox" type="checkbox" value="1" checked></td>
    <th align="left">[% 'Serial Number' | $T8 %]</th>
    <td>[% L.input_tag("filter_rows.serialnumber", SELF.filter_rows.serialnumber, style=style) %]</td>
  </tr>
    <td align="right"><input id="filter_columns.weight" name="filter_columns.weight" class="checkbox" type="checkbox" value="1"></td>
    <th align="left">[% 'Weight' | $T8 %]</th>
    <td>
      <table width="300">
        <tr>
          <td align="left">[% L.input_tag('filter_rows.weight_from', SELF.filter_rows.weight_from, style='width: 75px') %]</td>
          <td>[% 'Bis' | $T8 %]</td>
          <td align="right">[% L.input_tag('filter_rows.weight_to', SELF.filter_rows.weight_to, style='width: 75px') %]</td>
        </tr>
      </table>
    </td>
  <tr>
    <td align="right"><input id="filter_columns.delivery_in" name="filter_columns.delivery_in" class="checkbox" type="checkbox" value="1" checked></td>
    <th align="left">[% 'Incoming Delivery Order' | $T8 %]</th>
    <td>[% L.select_tag('filter_rows.delivery_in_id', SELF.all_deliveries, title_key='donumber', with_empty=1, style=style) %]</td>
  </tr>
  <tr>
    <td align="right"><input id="filter_columns.bin" name="filter_columns.bin" class="checkbox" type="checkbox" value="1" checked></td>
    <th align="left">[% 'Bin' | $T8 %]</th>
    <td>[% L.select_tag('filter_rows.bin_id', SELF.all_bins, title_key='full_description', with_empty=1, style=style) %]</td>
  </tr>
  <tr>
    <td align="right"><input id="filter_columns.delivery_out" name="filter_columns.delivery_out" class="checkbox" type="checkbox" value="1" checked></td>
    <th align="left">[% 'Delivery Order' | $T8 %]</th>
    <td>[% L.select_tag('filter_rows.delivery_out_id', SELF.all_deliveries, title_key='donumber', with_empty=1, style=style) %]</td>
  </tr>
  <tr>
    <td align="right"><input id="filter_columns.insertdate" name="filter_columns.insertdate" class="checkbox" type="checkbox" value="1"></td>
    <th align="left">[% 'Insert Date' | $T8 %]</th>
    <td>
      <table width="300">
        <tr>
          <td align="left">[% L.date_tag('filter_rows.insertdate_from', SELF.filter_rows.insertdate_from, style='width: 75px') %]</td>
          <td>[% 'Bis' | $T8 %]</td>
          <td align="right">[% L.date_tag('filter_rows.insertdate_to', SELF.filter_rows.insertdate_to, style='width: 75px') %]</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="right"><input id="filter_columns.changedate" name="filter_columns.changedate" class="checkbox" type="checkbox" value="1"></td>
    <th align="left">[% 'Updated' | $T8 %]</th>
    <td>
      <table width="300">
        <tr>
          <td align="left">[% L.date_tag('filter_rows.changedate_from', SELF.filter_rows.changedate_from, style='width: 75px') %]</td>
          <td>[% 'Bis' | $T8 %]</td>
          <td align="right">[% L.date_tag('filter_rows.changedate_to', SELF.filter_rows.changedate_to, style='width: 75px') %]</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="right"><input id="filter_columns.employee" name="filter_columns.employee" class="checkbox" type="checkbox" value="1"></td>
    <th align="left">[% 'Employee' | $T8 %]</th>
    <td>[% L.select_tag('filter_rows.employee_id', SELF.all_employees, title_key='safe_name', with_empty=1, style=style) %]</td>
  </tr>
</table>

</form>
