[%- USE HTML %]
[%- USE L %]
[%- USE T8 %]
[%- USE LxERP %][%- USE P -%]

<h1>[% title | html %]</h1>

[%- INCLUDE 'common/flash.html' %]

<form method=post name="arledger" action="[% script %]" id="form">

[% L.hidden_tag('id', id) %]
[% L.hidden_tag('sort', sort) %]
[% L.hidden_tag('closedto', closedto) %]
[% L.hidden_tag('locked', locked) %]
[% L.hidden_tag('title', title_str) %]
[% L.hidden_tag('follow_up_trans_id_1', id) %]
[% L.hidden_tag('follow_up_trans_type_1', 'ar_transaction') %]
[% L.hidden_tag('follow_up_trans_info_1', follow_up_trans_info) %]
[% L.hidden_tag('follow_up_rowcount', 1) %]
<input type="hidden" name="lastmtime" value="[% HTML.escape(lastmtime) %]">

[%- IF saved_message %]<p>[% saved_message | html  %]</p>[% END %]

<div class="tabwidget">
 <ul>
  <li><a href="#ui-tabs-basic-data">[% 'Basic Data' | $T8 %]</a></li>
[%- IF id %]
  [%- IF INSTANCE_CONF.get_doc_storage %]
  <li><a href="controller.pl?action=File/list&file_type=attachment&object_type=invoice&object_id=[% HTML.url(id) %]">[% 'Attachments' | $T8 %]</a></li>
  [%- END %]
  [% IF AUTH.assert('record_links', 1) %]
  <li><a href="controller.pl?action=RecordLinks/ajax_list&object_model=Invoice&object_id=[% HTML.url(id) %]">[% 'Linked Records' | $T8 %]</a></li>
  [%- END %]
  <li><a href="[% 'controller.pl?action=AccTrans/list_transactions&trans_id=' _ HTML.url(id) | html %]">[% LxERP.t8('Transactions') %]</a></li>
[%- END %]
 </ul>

<div id="ui-tabs-basic-data">
<table width=100%>
  <tr valign=top>
    <td>
      <table width=100%>
        <tr valign=top>
          <td>
            <table>
              <tr>
                <th align="right" nowrap>[% 'Customer' | $T8 %]</th>
                <td colspan=3>
                 [% P.customer_vendor.picker("customer_id", customer_id, type="customer", style="width: 300px", class=(initial_focus == 'customer_id' ? "initial_focus" : ""), onchange="\$('#update_button').click()") %]
                 [% L.button_tag("show_vc_details('customer')", LxERP.t8('Details (one letter abbreviation)')) %]
                 [% L.hidden_tag("previous_customer_id", customer_id) %]
                 [% L.hidden_tag('terms', terms) %]
               </td>
              </tr>
[%- IF max_dunning_level || invoice_obj.dunning_config_id  %]
              <tr>
                <th align="right" valign="top">[% LxERP.t8("Dunning status") %]</th>
                <td valign="top">
                 [% IF invoice_obj.dunning_config_id %]
                  <span class="dunned_invoice">[% LxERP.t8("This invoice's dunning level: #1", invoice_obj.dunning_config.dunning_description) %]</span>
                  [% IF max_dunning_level %]<br>[% END %]
                 [% END %]
                 [% IF max_dunning_level %]
                  <span class="customer_dunning_level">
                   [% LxERP.t8("Customer's current maximum dunning level: #1", max_dunning_level) %]
                   <br>
                   [% LxERP.t8("Dunned open amount: #1", LxERP.format_amount(dunning_amount, 2)) %]
                  </span>
                 [% END %]
                </td>
              </tr>
[%- END %]
              <tr>
                <th align="right" valign="top">[% LxERP.t8("Credit Limit") %]</th>
                <td>
                 [% LxERP.format_amount(creditlimit, 0) %][% L.hidden_tag('creditlimit', LxERP.format_amount(creditlimit, 0)) %];
                 [% LxERP.t8("Remaining") %]
                 <span class="plus[% creditremaining < 0 ? 0 : 1 %]">[% LxERP.format_amount(creditremaining, 0) %][% L.hidden_tag('creditremaining', LxERP.format_amount(creditremaining, 0)) %]</span>
                </td>
              </tr>
[%- IF invoice_obj.sepa_exports.as_list.size %]
              <tr>
                <th align="right">[% LxERP.t8("SEPA exports") %]</th>
                <td>
                 [% FOREACH export = invoice_obj.sepa_exports.as_list %]
                  <a href="sepa.pl?action=bank_transfer_edit&vc=customer&id=[% HTML.url(export.id) %]">[% HTML.escape(export.id) %]</a>
                  [% UNLESS loop.last %], [% END %]
                 [% END %]
                </td>
              </tr>
[%- END %]
              <tr>
                <th align=right>[% 'Currency' | $T8 %]</th>
                <td>[% L.select_tag("currency", currencies, default=currency, value_key="name", title_key="name") %]</td>
                [% L.hidden_tag('defaultcurrency', defaultcurrency) %]
                [% L.hidden_tag('fxgain_accno', fxgain_accno) %]
                [% L.hidden_tag('fxloss_accno', fxloss_accno) %]

                [% L.hidden_tag('forex', forex) %]
                [% IF show_exch %]
                   <th align=right>[% 'Exchangerate' | $T8 %]</th>
                   <td>[%- IF forex %][% L.hidden_tag('exchangerate', LxERP.format_amount(exchangerate, 5, 1)) %][% LxERP.format_amount(exchangerate, 5, 1) %][%- ELSE %][% L.input_tag('exchangerate', LxERP.format_amount(exchangerate, 5, 1), size=10) %][%- END %]</td>
                [% END %]
              </tr>
              [% IF ALL_DEPARTMENTS %]
                <tr>
                  <th align="right" nowrap>[% 'Department' | $T8 %]</th>
                  <td colspan=3>[% L.select_tag('department_id', ALL_DEPARTMENTS, default = department_id, title_key = 'description', with_empty = 1) %]</td>
                </tr>
              [% END %]
              <tr>
                <td align=right>[% L.checkbox_tag('taxincluded', checked=taxincluded) %]</td>
                <th align="left" nowrap><label for="taxincluded">[% 'Tax Included' | $T8 %]</label></th>
              </tr>
              <tr>
                <td align="right">[% L.checkbox_tag('direct_debit', checked=direct_debit) %]</td>
                <th align="left" nowrap><label for="direct_debit">[% 'direct debit' | $T8 %]</label></th>
              </tr>
            </table>
          </td>
          <td align=right>
            <table>
              <tr>
                <th align=right nowrap>[% 'Salesperson' | $T8 %]</th>
                <td  colspan=2>[% P.select_tag("employee_id", employees, default=employee_id, title_key='safe_name') %]</td>
              </tr>
              <tr>
                <th align=right nowrap>[% 'Invoice Number' | $T8 %]</th>
                <td><input name=invnumber size=11 value="[% invnumber | html %]"></td>
              </tr>
              <tr>
                <th align=right nowrap>[% 'Order Number' | $T8 %]</th>
                <td><input name=ordnumber size=11 value="[% ordnumber | html %]"></td>
              </tr>
              <tr>
                <th align=right nowrap>[% 'Invoice Date' | $T8 %]</th>
                <td>[% L.date_tag('transdate', transdate) %]</td>
              </tr>
              <tr>
                <th align=right nowrap>[% 'Due Date' | $T8 %]</th>
                <td>[% L.date_tag('duedate', duedate) %]</td>
              </tr>
              <tr>
                <th align="right" nowrap>[% LxERP.t8('Tax point') %]</th>
                <td>[% L.date_tag('tax_point', tax_point, id='tax_point') %]</td>
              </tr>
              <tr>
                <th align=right nowrap>[% 'Delivery Date' | $T8 %]</th>
                <td>[% L.date_tag('deliverydate', deliverydate) %]</td>
              </tr>
              <tr>
                <th align=right nowrap>[% 'Project Number' | $T8 %]</th>
                <td>[% L.select_tag('globalproject_id', ALL_PROJECTS, title_key = 'projectnumber', default = globalproject_id, with_empty = 1, onChange = "document.getElementById('update_button').click();") %]</td>
              </tr>
     </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>

                [% L.hidden_tag('rowcount', rowcount) %]
  <tr>
      <td>
          <table width=100%>
           <tr class=listheading>
          <th class=listheading style="width:15%">[% 'Account' | $T8 %]</th>
          <th class=listheading style="width:10%">[% 'Amount' | $T8 %]</th>
          <th class=listheading style="width:10%">[% 'Tax' | $T8 %]</th>
          <th class=listheading style="width:5%">[% 'Taxkey' | $T8 %]</th>
          <th class=listheading style="width:10%">[% 'Project' | $T8 %]</th>
        </tr>


[%- FOREACH row IN transactions %]
        <tr>
          <td>[% row.selectAR_amount %]</td>
          <td>[% L.input_tag('amount_' _ loop.count, LxERP.format_amount(row.amount, 2)) %]</td>
          <td>[% L.hidden_tag('tax_' _ loop.count, LxERP.format_tax(row.tax, 2)) %][% LxERP.format_amount(row.tax, 2) | html %]</td>
          <td>[% row.taxchart %]</td>
          <td>[% L.select_tag('project_id_' _ loop.count, ALL_PROJECTS, title_key = 'projectnumber', default = row.project_id, with_empty = 1) %]</td>
        </tr>
[%- END %]

        <tr>
          <td colspan=6>
            <hr noshade>
          </td>
        </tr>
        <tr>
          <td>[% P.chart.picker("AR_chart_id", AR_chart_id, style="width: 400px", type="AR") %]</td>
          <th align=left>[% LxERP.format_amount(invtotal, 2) | html %]</th>

          <input type=hidden name=oldinvtotal value='[% oldinvtotal %]'>
          <input type=hidden name=oldtotalpaid value='[% oldtotalpaid %]'>

          <input type=hidden name=taxaccounts value="[% taxaccounts | html %]">

          <td colspan=4></td>


        </tr>
        </table>
        </td>
    </tr>
    <tr>
      <td>
        <table width=100%>
        <tr>
          <th align=left width=1%>[% 'Notes' | $T8 %]</th>
          <td align=left><textarea name=notes rows="[% rows %]" cols=50 wrap=soft>[% notes | html %]</textarea></td>

          <th align=left width=1%>[% 'Notes for customer' | $T8 %]</th>
          <td align=left><textarea name=intnotes rows="[% rows %]" cols=50 wrap=soft readonly>[% intnotes | html %]</textarea></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table width=100%>
        <tr class=listheading>
          <th colspan=7 class=listheading>[% 'Incoming Payments' | $T8 %]</th>
        </tr>

        <tr>
         <th>[% 'Date' | $T8 %]</th>
         <th>[% 'Source' | $T8 %]</th>
         <th>[% 'Memo' | $T8 %]</th>
         <th>[% 'Amount' | $T8 %]</th>
         <th></th>
[%- IF show_exch %]
         <th>[% 'Exch' | $T8 %]</th>
[%- END %]
         <th>[% 'Account' | $T8 %]</th>
         <th>[% 'Project Number' | $T8 %]</th>
        </tr>

[%- FOREACH row IN payments %]
        <tr>
         <td align=center>
  [%- IF row.changeable %]
          [% L.date_tag('datepaid_' _ loop.count, row.datepaid ? row.datepaid : today) %]
  [%- ELSE %]
         [% row.datepaid | html %][% L.hidden_tag('datepaid_' _ loop.count, row.datepaid) %]
  [%- END %]
         </td>
         <td align=center>
  [%- IF row.changeable %]
          <input name="source_[% loop.count %]" size=11 value="[% row.source | html %]">
  [%- ELSE %]
         [% row.source | html %]<input type=hidden name="source_[% loop.count %]" value="[% row.source | html %]">
  [%- END %]
         </td>
         <td align=center>
  [%- IF row.changeable %]
          <input name="memo_[% loop.count %]" size=11 value="[% row.memo | html %]">
  [%- ELSE %]
         [% row.memo | html %]<input type=hidden name="memo_[% loop.count %]" value="[% row.memo | html %]">
  [%- END %]
         </td>
         <td align=center>
  [%- IF row.changeable %]
          <input name="paid_[% loop.count %]" size=11 data-validate="number" class="numeric" value="[% row.paid ? LxERP.format_amount(row.paid, 2) : '' | html %]">
  [%- ELSE %]
         [% row.paid | html %]<input type=hidden name="paid_[% loop.count %]" value="[% row.paid ? LxERP.format_amount(row.paid, 2) : '' | html %]">
  [%- END %]
         </td>
         <td>
           [% IF row.changeable && loop.last && paid_missing > 0 %]
             <input type="button" id="ar_set_to_paid_missing" value="[% "Set to paid missing" | $T8 %]">
           [% END %]
         </td>
[%- IF show_exch %]
         <td align=center>
    [%- IF row.forex || !row.changeable%]
          <input type=hidden name="exchangerate_[% loop.count %]" value="[%- LxERP.format_amount(row.exchangerate, 5, 1) -%]">[%- LxERP.format_amount(row.exchangerate, 5, 1) -%]
    [%- ELSE %]
          <input name="exchangerate_[% loop.count %]" size=10 value="[%- LxERP.format_amount(row.exchangerate, 5, 1) -%]">
    [%- END %]
          <input type=hidden name="forex_[% loop.count %]" value='[% row.forex | html %]'>
         </td>
[%- END %]
         <td align=center>
  [%- IF row.changeable %]
          [% row.selectAR_paid %]
  [%- ELSE %]
         [% row.AR_paid | html %]<input type=hidden name="AR_paid_[% loop.count %]" value='[% row.AR_paid | html %]'>
  [%- END %]
         </td>
         <td>
  [%- IF row.changeable %]
          [% L.select_tag('paid_project_id_' _ loop.count, ALL_PROJECTS, title_key = 'projectnumber', default = row.paid_project_id, with_empty=1) %]
  [%- ELSE %]
          [% project_labels.${row.paid_project_id} | html %]
          <input type=hidden name="paid_project_id_[% loop.count %]" value='[% row.paid_project_id %]'>
  [%- END %]
         </td>

         <input type=hidden name="acc_trans_id_[% loop.count %]" value='[% row.acc_trans_id | html %]'>
         <input type=hidden name="gldate_[% loop.count %]" value='[% row.gldate | html %]'>
        </tr>
[%- END %]
        <tr>
          <td></td>
          <td></td>
          <td align="center">[% 'Total' | $T8 %]</td>
          <td align="center">[% LxERP.format_amount(totalpaid, 2) | html %]</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td align="center">[% 'Missing amount' | $T8 %]</td>
          <td align="center">[% LxERP.format_amount(paid_missing, 2) | html %]</td>
        </tr>
        <input type=hidden name=paidaccounts value='[% paidaccounts %]'>

      </table>
    </td>
  </tr>
</table>
</div>
</div>

<script type='text/javascript'>
 $('#ar_set_to_paid_missing').click(function(){ $('input[name^="paid_"]:last').val('[% LxERP.format_amount(paid_missing, 2) %]') });
</script>
