[%- USE T8 %]
[%- USE L %]
<h1>[% title %]</h1>

 <form method=post name="search" action=[% script %]>

  <table width=100% border="0">
  <tr>
   <td>
    <table>
     <tr>
      <th align=right>[% 'Customer' | $T8 %]</th>
      <td colspan=3>
            [%- INCLUDE 'generic/multibox.html'
                 name          = 'customer',
                 default       = oldcustomer,
                 style         = 'width: 250px',
                 DATA          = ALL_VC,
                 id_sub        = 'vc_keys',
                 label_key     = 'name',
                 select        = vc_select,
                 limit         = vclimit,
                 show_empty    = 1,
                 allow_textbox = 1,
                 class         = 'initial_focus',
                 -%]
      </td>
     </tr>
    <tr>
     <th align="right" nowrap>[% 'Contact Person' | $T8 %]</th>
     <td colspan="3">[% L.input_tag("cp_name", '', size=20) %]</td>
    </tr>
     <tr>
      <th align=right nowrap>[% 'Department' | $T8 %]</th>
      <td>
            [%- INCLUDE 'generic/multibox.html'
                 name          = 'department',
                 select_name   = 'department_id',
                 style         = 'width: 250px',
                 DATA          = ALL_DEPARTMENTS,
                 id_key        = 'id',
                 label_key     = 'description',
                 show_empty    = 1,
                 allow_textbox = 0,
            -%]
      </td>
     </tr>
     <tr>
      <th align=right nowrap>[% 'Invoice Number' | $T8 %]</th>
      <td colspan=3><input name=invnumber id=invnumber size=20></td>
     </tr>
     <tr>
      <th align=right nowrap>[% 'Order Number' | $T8 %]</th>
      <td colspan=3><input name=ordnumber id=ordnumber size=20></td>
     </tr>
     <tr>
      <th align="right" nowrap>[% 'Customer Order Number' | $T8 %]</th>
      <td colspan=3><input name="cusordnumber" id="cusordnumber" size="20"></td>
     </tr>
     <tr>
      <th align="right">[% 'Employee' | $T8 %]</th>
      <td>[% L.select_tag('employee_id', ALL_EMPLOYEES, title_key = 'safe_name', with_empty = 1, style = 'width:250px') %]</td>
     </tr>
    <tr>
     <th align="right">[% 'Salesman' | $T8 %]</th>
     <td>[% L.select_tag('salesman_id', ALL_EMPLOYEES, title_key = 'safe_name', with_empty = 1, style = 'width:250px') %]</td>
     </tr>
     <tr>
      <th align=right nowrap>[% 'Transaction description' | $T8 %]</th>
      <td><input name=transaction_description id=transaction_description size=20></td>
      <th align="right">[% 'Part Description' | $T8 %]</th>
      <td><input name="parts_description" size="20"></td>
     </tr>
     <tr>
      <th align=right nowrap>[% 'Notes' | $T8 %]</th>
      <td><input name=notes id=notes size=20></td>
      <th align="right">[% 'Part Number' | $T8 %]</th>
      <td><input name="parts_partnumber" size="20"></td>
     </tr>
     <tr>
      <th align="right">[% 'Project Number' | $T8 %]</th>
      <td colspan="3">
            [%- INCLUDE 'generic/multibox.html'
                 name          =  'project_id',
                 style         = "width: 250px",
                 DATA          =  ALL_PROJECTS,
                 id_key        = 'id',
                 label_key     = 'projectnumber',
                 limit         = vclimit,
                 show_empty    = 1,
                 allow_textbox = 0,
            -%]
      </td>
     </tr>
    [% IF SHOW_BUSINESS_TYPES %]
     <tr>
      <th align="right" nowrap>[% 'Customer type' | $T8 %]</th>
      <td colspan="3">
          [%- INCLUDE 'generic/multibox.html'
                 name          =  'business_id',
                 style         = "width: 250px",
                 DATA          =  ALL_BUSINESS_TYPES,
                 id_key        = 'id',
                 label_key     = 'description',
                 limit         = vclimit,
                 show_empty    = 1,
                 allow_textbox = 0,
            -%]
      </td>
     </tr>
    [% END %]
     <tr>
      <th align=right nowrap>[% 'Invoice Date' | $T8 %]</th>
      <td>
       [% 'From' | $T8 %]
       [% L.date_tag('transdatefrom') %]
      </td>
     <th align=right>[% 'Bis' | $T8 %]</th>
     <td>
      [% L.date_tag('transdateto') %]
     </td>
    </tr>
     <tr>
      <th align=right nowrap>[% 'Due Date' | $T8 %]</th>
      <td>
       [% 'From' | $T8 %]
       [% L.date_tag('duedatefrom') %]
      </td>
     <th align=right>[% 'Bis' | $T8 %]</th>
     <td>
      [% L.date_tag('duedateto') %]
     </td>
    </tr>

[%- IF CT_CUSTOM_VARIABLES.size %]
    <tr>
      <td></td>
      <td colspan=4 align=left><b>[% 'Custom variables for module' | $T8 %]: [%'Customers and vendors' | $T8 %]</td>
    </tr>
    [% CT_CUSTOM_VARIABLES_FILTER_CODE %]
[%- END %]

   <input type=hidden name=sort value=transdate>
   </table>
    </td>
    </tr>
    <tr>
     <td>
      <table>
       <tr>
        <th align=right nowrap>[% 'Include in Report' | $T8 %]</th>
        <td>
         <table width=100%>
          <tr>
           <td align=right><input name=open id=open class=checkbox type=checkbox value=Y checked></td>
           <td nowrap>[% 'Open' | $T8 %]</td>
           <td align=right><input name=closed id=closed class=checkbox type=checkbox value=Y [% IF closed %] checked[% END %]></td>
           <td nowrap>[% 'Closed' | $T8 %]</td>
          </tr>
          <tr>
           <td align=right><input name="l_id" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'ID' | $T8 %]</td>
           <td align=right><input name="l_invnumber" id="l_invnumber" class=checkbox type=checkbox value=Y checked></td>
           <td nowrap>[% 'Invoice Number' | $T8 %]</td>
           <td align=right><input name="l_ordnumber" id="l_ordnumber" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Order Number' | $T8 %]</td>
           <td align=right><input name="l_cusordnumber" id="l_cusordnumber" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Customer Order Number' | $T8 %]</td>
          </tr>
          <tr>
           <td align=right><input name="l_transdate" id="l_transdate" class=checkbox type=checkbox value=Y checked></td>
           <td nowrap>[% 'Invoice Date' | $T8 %]</td>
           <td align=right><input name="l_name" id="l_name" class=checkbox type=checkbox value=Y checked></td>
           <td nowrap>[% 'Customer' | $T8 %]</td>
           <td align=right><input name="l_customernumber" id="l_customernumber" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Customer Number' | $T8 %]</td>
           <td align=right><input name="l_department" id="l_department" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Department' | $T8 %]</td>

          </tr>
          <tr>
           <td align=right><input name="l_netamount" id="l_netamount" class=checkbox type=checkbox value="Y" checked></td>
           <td nowrap>[% 'Amount' | $T8 %]</td>
           <td align=right><input name="l_tax" id="l_tax" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Tax' | $T8 %]</td>
           <td align=right><input name="l_amount" id="l_amount" class=checkbox type=checkbox value="Y" checked></td>
           <td nowrap>[% 'Total' | $T8 %]</td>
          </tr>
          <tr>
           <td align=right><input name="l_datepaid" id="l_datepaid" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Date Paid' | $T8 %]</td>
           <td align=right><input name="l_paid" id="l_paid" class=checkbox type=checkbox value=Y checked></td>
           <td nowrap>[% 'Paid' | $T8 %]</td>
           <td align=right><input name="l_duedate" id="l_duedate" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Due Date' | $T8 %]</td>
           <td align=right><input name="l_due" id="l_due" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Amount Due' | $T8 %]</td>
          </tr>
          <tr>
           <td align=right><input name="l_notes" id="l_notes" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Notes' | $T8 %]</td>
           <td align=right><input name="l_salesman" id="l_salesman" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Salesperson' | $T8 %]</td>
           <td align=right><input name="l_shippingpoint" id="l_shippingpoint" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Shipping Point' | $T8 %]</td>
           <td align=right><input name="l_shipvia" id="l_shipvia" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Ship via' | $T8 %]</td>
          </tr>
          <tr>
           <td align=right><input name="l_marge_total" id="l_marge_total" class=checkbox type=checkbox value=Y></td>
           <td nowrap> [% 'Ertrag' | $T8 %]</td>
           <td align=right><input name="l_marge_percent" id="l_marge_percent" class=checkbox type=checkbox value=Y></td>
           <td nowrap> [% 'Ertrag prozentual' | $T8 %]</td>
           <td align=right><input name="l_employee" id="l_employee" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Employee' | $T8 %]</td>
          </tr>
          <tr>
           <td align=right><input name="l_subtotal" id="l_subtotal" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Subtotal' | $T8 %]</td>
           <td align=right><input name="l_globalprojectnumber" id="l_globalprojectnumber" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Document Project Number' | $T8 %]</td>
           <td align=right><input name="l_transaction_description" id="l_transaction_description" class=checkbox type=checkbox value=Y[% IF INSTANCE_CONF.get_require_transaction_description_ps %] checked[% END %]></td>
           <td nowrap>[% 'Transaction description' | $T8 %]</td>
           <td align=right><input name="l_dunning_description" id="l_dunning_description" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Dunning level' | $T8 %]</td>
          </tr>
          <tr>
           <td align=right><input name="l_taxzone" id="l_taxzone" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Steuersatz' | $T8 %]</td>
           <td align=right><input name="l_payment_terms" id="l_payment_terms" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Payment Terms' | $T8 %]</td>
           <td align=right><input name="l_charts" id="l_charts" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Buchungskonto' | $T8 %]</td>
           <td align=right><input name="l_direct_debit" id="l_direct_debit" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'direct debit' | $T8 %]</td>
          </tr>
          <tr>
           <td colspan=4 align=left><b>[% 'Customer' | $T8 %] </td>
          </tr>
          <tr>
           <td align=right><input name="l_customernumber" id="l_customernumber" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Customer Number' | $T8 %]</td>
           <td align=right><input name="l_country" id="l_country" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'Country' | $T8 %]</td>
           <td align=right><input name="l_ustid" id="l_ustid" class=checkbox type=checkbox value=Y></td>
           <td nowrap>[% 'USt-IdNr.' | $T8 %]</td>
          </tr>

          <table>
            <tr><td align="right">
            [% CT_CUSTOM_VARIABLES_INCLUSION_CODE %]
            </td></tr>
          </table>

         </table>
        </td>
       </tr>
      </table>
     </td>
    </tr>
    <tr>
     <td><hr size=3 noshade></td>
    </tr>
   </table>
   <input type=hidden name=nextsub value=[% nextsub %]>
   <br>
   <input class=submit type=submit name=action id="continue" value="[% 'Continue' | $T8 %]">
  </form>
 <script type="text/javascript">
 <!--
   $(document).ready(function(){
    $('customer').focus();
   })
 //-->
 </script>
