[% USE LxERP %]
[% USE L %]
<tr>
 <th align="right">[%- LxERP.t8('Order/Item row name') %]:</th>
 <td colspan="10">
  [% L.input_tag('settings.order_column', SELF.profile.get('order_column'), size => "10") %]
  [% L.input_tag('settings.item_column',  SELF.profile.get('item_column'),  size => "10") %]
 </td>
</tr>

<tr>
 <th align="right">[%- LxERP.t8('Maximal amount difference') %]:</th>
 <td colspan="10">
  [% L.input_tag('settings.max_amount_diff', LxERP.format_amount(SELF.profile.get('max_amount_diff')), size => "5") %]
 </td>
</tr>
