[% USE HTML %]
[% USE LxERP %]

[% IF SELF.data.size %]
 <h3>
  [%- IF SELF.import_status == 'tested' %]
   [%- LxERP.t8('Import preview') %]
  [%- ELSE %]
   [%- LxERP.t8('Import result') %]
  [%- END %]
 </h3>

 <table>
  <tr class="listheading">
   [%- FOREACH column = SELF.headers.headers %]
    <th>[%- HTML.escape(column) %]</th>
   [%- END %]
   [%- FOREACH column = SELF.raw_data_headers.headers %]
    <th>[%- HTML.escape(column) %]</th>
   [%- END %]
   <th>[%- LxERP.t8('Notes') %]</th>
  </tr>

  [%- FOREACH row = SELF.data %]
  <tr class="[% IF row.errors.size %]redrow[% ELSE %]listrow[% END %][% loop.count % 2 %]">
   [%- FOREACH method = SELF.headers.methods %]
    <td>[%- HTML.escape(row.object.$method) %]</td>
   [%- END %]
   [%- FOREACH method = SELF.raw_data_headers.headers %]
    <td>[%- HTML.escape(row.raw_data.$method) %]</td>
   [%- END %]
   <td>
    [%- FOREACH error = row.errors %][%- HTML.escape(error) %][% UNLESS loop.last %]<br>[%- END %][%- END %]
   </td>
  </tr>
  [%- END %]

 </table>
[%- END %]
