[% USE HTML %]
[% USE LxERP %]
[% USE L %]
 <h2>
 [%- IF SELF.report.test_mode %]
  [%- LxERP.t8('Import preview') %]
 [%- ELSE %]
  [%- LxERP.t8('Import result') %]
 [%- END %]
 [%- IF SELF.num_errors -%]
   <font color="red">([%- SELF.num_errors -%]&nbsp;[%- LxERP.t8('Errors') -%])</font>
 [%- END -%]
</h2>

[%- IF SELF.report.test_mode %]
 <p>
  [% LxERP.t8("The following is only a preview.") %]
  [% LxERP.t8("No entries have been imported yet.") %]
 </p>
[%- END %]

[%- PROCESS 'common/paginate.html' pages=SELF.pages, base_url = SELF.base_url %]
 <table>

[%- SET max_col = 0 %]
[%- FOREACH rownum = SELF.display_rows %]
  [%- SET max_col = max_col > SELF.report_rows.${rownum}.size ? max_col : SELF.report_rows.${rownum}.size  %]
  [%- LAST IF rownum >= SELF.report_numheaders %]
[%- END %]

[%- FOREACH rownum = SELF.display_rows %]
 [%- SET to_pad = max_col - SELF.report_rows.${rownum}.size %]
 [%- IF rownum < SELF.report_numheaders %]
  <tr class="listheading">
  [%- FOREACH value = SELF.report_rows.${rownum} %]
   <th>[% value | html %]</th>
  [%- END %]
   [%- IF to_pad -%]<th style="text-align:center" colspan="[%- to_pad -%]">-</th>[%- END -%]
   <th>[%- LxERP.t8('Notes') %]</th>
  </tr>
 [%- ELSE %]
  [% csv_import_report_errors = SELF.report_status.${rownum}.errors %]
  <tr class="listrow[% IF csv_import_report_errors && csv_import_report_errors.size %]_error[% END %][% (loop.count + SELF.report_numheaders) % 2 %]">
  [%- FOREACH value = SELF.report_rows.${rownum} %]
   <td>[%- value | html  %]</td>
  [%- END %]
   [%- IF to_pad -%]<td align="center" colspan="[%- to_pad -%]">-</td>[%- END -%]
   <td>
    [%- FOREACH error = csv_import_report_errors %][%- error | html %][% UNLESS loop.last %]<br>[%- END %][%- END %]
    [%- FOREACH info  = SELF.report_status.${rownum}.information %][% IF rownum >= SELF.report_numheaders || csv_import_report_errors.size %]<br>[%- END %][%- info | html %][%- END %]
   </td>
  </tr>
 [%- END %]
[%- END %]

 </table>

[%- PROCESS 'common/paginate.html' pages=SELF.pages, base_url = SELF.base_url %]

<script type='text/javascript'>
  $(function(){
    [%- IF SELF.reporterror %]
      kivi.clear_flash('info',0);
      kivi.display_flash('error','[% SELF.reporterror %]',0);
    [%- ELSIF SELF.report.test_mode %]
      kivi.ActionBar.Action('#action_import').enable();
    [%- END %]
  });
</script>
