[% USE HTML %]
[% USE LxERP %]
[% USE L %]

 <h3>[%- LxERP.t8('Import result') %]</h3>

 <table>
[%- FOREACH row = SELF.report.folded_rows %]
 [%- IF loop.first %]
  <tr class="listheading">
  [%- FOREACH value = row %]
   <th>[% value | html %]</th>
  [%- END  %]
   <th>[%- LxERP.t8('Notes') %]</th>
  </tr>
 [%- ELSE %]
  [% csv_import_report_errors = SELF.report.folded_status.${loop.index}.errors %]
  <tr class="[% IF csv_import_report_errors.size %]redrow[% ELSE %]listrow[% END %][% 1 - loop.count % 2 %]">
  [%- FOREACH value = row %]
   <td>[%- value | html  %]</td>
  [%- END %]
   <td>
    [%- FOREACH error = csv_import_report_errors %][%- error | html %][% UNLESS loop.last %]<br>[%- END %][%- END %]
    [%- FOREACH info  = SELF.report.folded_status.${loop.index}.information %][% IF !loop.first || csv_import_report_errors.size %]<br>[%- END %][%- info | html %][%- END %]
   </td>
  </tr>
 [%- END %]
[%- END %]

 </table>

<script type='text/javascript'>
  $(function(){ $('#action_import').show() });
</script>
