[% USE HTML %]
[% USE LxERP %]
[% USE L %]
 <h3>[%- LxERP.t8('Import result') %]</h3>

[%- PROCESS 'common/paginate.html' pages=SELF.pages, base_url = SELF.base_url %]
 <table>
[%- FOREACH rownum = SELF.display_rows %]
 [%- IF loop.first %]
  <tr class="listheading">
  [%- FOREACH value = SELF.report_rows.${rownum} %]
   <th>[% value | html %]</th>
  [%- END  %]
   <th>[%- LxERP.t8('Notes') %]</th>
  </tr>
 [%- ELSE %]
  [% csv_import_report_errors = SELF.report_status.${rownum}.errors %]
  <tr class="[% IF csv_import_report_errors && csv_import_report_errors.size %]redrow[% ELSE %]listrow[% END %][% 1 - loop.count % 2 %]">
  [%- FOREACH value = SELF.report_rows.${rownum} %]
   <td>[%- value | html  %]</td>
  [%- END %]
   <td>
    [%- FOREACH error = csv_import_report_errors %][%- error | html %][% UNLESS loop.last %]<br>[%- END %][%- END %]
    [%- FOREACH info  = SELF.report_status.${rownum}.information %][% IF !loop.first || csv_import_report_errors.size %]<br>[%- END %][%- info | html %][%- END %]
   </td>
  </tr>
 [%- END %]
[%- END %]

 </table>

[%- PROCESS 'common/paginate.html' pages=SELF.pages, base_url = SELF.base_url %]

<script type='text/javascript'>
  $(function(){ $('#action_import').show() });
</script>
