[% USE HTML %]
[% USE LxERP %]
[% USE L %]
[% USE P %]

<h1>[% FORM.title %]</h1>

<div class="wrapper">

  <table id="background_job_history_details" class="background_job_details">
    <tbody>
      <tr class="listrow0">
        <th>[% LxERP.t8('Current status') %]</th>
        <td>
          [% IF SELF.task_server.is_running %]
            [% LxERP.t8('running') %]
          [% ELSE %]
            [% LxERP.t8('not running') %]
          [% END %]
        </td>
      </tr>
      [% IF last_command_output %]
        <tr class="listrow1">
          <th>[% LxERP.t8('Last command output') %]</th>
          <td><pre>[% HTML.escape(last_command_output) %]</pre></td>
        </tr>
      [% END %]
    </tbody>
  </table>

  <form id="form" method="post" action="controller.pl">
    [% P.hidden_tag("action", "TaskServer/" _ (SELF.task_server.is_running ? "stop" : "start")) %]
  </form>

</div>
