[%- USE T8 %]
[%- USE HTML %]
[%- USE L %]
[%- USE LxERP %]
<h1>[% 'Reconciliation' | $T8 %]</h1>

<form method="post" action="rc.pl" id="form">

<table>
  <tr>
    <th align=right nowrap>[% 'Account' | $T8 %]</th>
    <td colspan=3>[% L.select_tag('accno', PR, value_title_sub=\selection_sub) %]</td>
  </tr>
  <tr>
    <th align=right>[% 'From' | $T8 %]</th>
    <td>[% L.date_tag('fromdate') %]</td>
    <th align=right>[% 'Until' | $T8 %]</th>
    <td>[% L.date_tag('todate') %]</td>
  </tr>
</table>
</form>
