[%- USE T8 %]

 <p><b>[% 'Error!' | $T8 %]</b></p>

 <p>[%- 'The authentication database is not reachable at the moment. Either it hasn\'t been set up yet or the database server might be down. Please contact your administrator.' | $T8 %]</p>

 <p>[% 'If you want to set up the authentication database yourself then log in to the administration panel. kivitendo will then create the database and tables for you.' | $T8 %]</p>
 <hr>
 <p>[% 'For further information read this: ' | $T8 %] <a href="doc/html/index.html" target="_blank">kivitendo Installation</a><br>
 [% 'Or download the whole Installation Documentation as PDF (350kB) for off-line study (currently in German Language): ' | $T8 %] <a href="doc/kivitendo-Dokumentation.pdf" target="_blank">kivitendo-Dokumentation.pdf</a></p>

 <hr>

 <p>
  <a href="controller.pl?action=LoginScreen/user_login" target="_top">[% 'Login' | $T8 %]</a> |
  <a href="controller.pl?action=Admin/login" target="_top">[% 'Administration' | $T8 %]</a>
 </p>
