[%- USE LxERP %]

 <p><b>[% LxERP.t8('Error!') %]</b></p>

 <p>
  [% LxERP.t8('The basic client tables have not been created for this client\'s database yet.') %]
  [% LxERP.t8('Please log in to the administration panel.') %]
  [% LxERP.t8('Then go to the database administration and chose "create database".') %]
  [% LxERP.t8('There you can let kivitendo create the basic tables for you, even in an already existing database.') %]
 </p>

 <hr>
 <p>
  [% LxERP.t8('For further information read this: ') %] <a href="doc/html/index.html" target="_blank">kivitendo Installation</a><br>
  [% LxERP.t8('Or download the whole Installation Documentation as PDF (350kB) for off-line study (currently in German Language): ') %] <a href="doc/kivitendo-Dokumentation.pdf" target="_blank">kivitendo-Dokumentation.pdf</a>
 </p>

 <hr>

 <p>
  <a href="controller.pl?action=LoginScreen/user_login" target="_top">[% LxERP.t8('Login') %]</a> |
  <a href="controller.pl?action=Admin/login" target="_top">[% LxERP.t8('Administration') %]</a>
 </p>
