[%- USE T8 %]
[%- USE HTML %]
 <center>
  <table class="login" border="3" cellpadding="20">
   <tr>
    <td class="login" align="center">
     <a href="http://www.kivitendo.de" target="_top"><img src="image/kivitendo.png" border="0"></a>
     <h1>[% 'kivitendo' | $T8 %] [% version %]</h1>

     [% IF error %]
     <p><span class="message_error_login">[% error %]</span></p>
     [% END %]

     <p>

      <form method="post" name="loginscreen" action="controller.pl" target="_top">

       <input type="hidden" name="show_dbupdate_warning" value="1">

       <table width="100%">
        <tr>
         <td align="center">
          <table>
           <tr>
            <th align="right">[% 'Login Name' | $T8 %]</th>
            <td><input id='login' class="login" name="{AUTH}login" size="30" tabindex="1"></td>
           </tr>
           <tr>
            <th align="right">[% 'Password' | $T8 %]</th>
            <td><input class="login" type="password" name="{AUTH}password" size="30" tabindex="2"></td>
           </tr>
          </table>

          <br>
          <input type="hidden" name="action" value="LoginScreen/login">
          <input type="submit" value="[% 'Login' | $T8 %]" tabindex="3">

         </td>
        </tr>
       </table>

      </form>

    </td>
   </tr>
  </table>
  <script type='text/javascript'>
    $(function(){ $('#login').focus() })
  </script>
