[%- USE T8 %]
[% USE HTML %]
[%- USE L %]
 <h1>[% title %]</h1>

 <p>
  [% 'Earlier versions of kivitendo contained bugs which might have led to wrong entries in the general ledger.' | $T8 %]
  [% 'These wrong entries cannot be fixed automatically.' | $T8 %]
  [% 'This module can help you identify and correct such entries by analyzing the general ledger and presenting you likely solutions but also allowing you to fix problems yourself.' | $T8 %]
 </p>

 <form name="filter" method="post" action="acctranscorrections.pl" id="form">

  <p>[% 'Time period for the analysis:' | $T8 %]</p>

  <p>
   <table>
    <tr>
     <td><input type="radio" name="scope" id="scope_full" value="full" checked></td>
     <td><label for="scope_full">[% 'All general ledger entries' | $T8 %]</label></td>
    </tr>

    <tr>
     <td><input type="radio" name="scope" id="scope_period" value="period"></td>
     <td>
      [% 'Period:' | $T8 %]
      [% 'from (time)' | $T8 %]
      [% L.date_tag('transdate_from') %]
      [% 'to (time)' | $T8 %]
      [% L.date_tag('transdate_to') %]
     </td>
    </tr>
   </table>
  </p>

  <input type="hidden" name="action" value="analyze">
 </form>
