[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]

<h1>[% title %]</h1>

<p>[% 'There is at least one sales or purchase invoice for which kivitendo recorded an inventory transaction with taxkeys even though no tax was recorded.' | $T8 %] </p>
<p>[% 'kivitendo can fix these problems automatically.' | $T8 %] [% 'It will simply set the taxkey to 0 (meaning "no taxes") which is the correct value for such inventory transactions.' | $T8 %] </p>

<form name="Form" action="acctranscorrections.pl" method="post">
  <div class="buttons">
    <input type="hidden" name="action" value="fix_invoice_inventory_with_taxkeys">
    <input type="hidden" name="callback" value="[% HTML.escape(callback) %]">
    <input type="submit" value="[% 'Fix transactions' | $T8 %]">
    <input type="button" onclick="history.back()" value="[% 'Back' | $T8 %]">
  </div>
</form>

