[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]

<h1>[% title %]</h1>

<p>[% 'The following transaction contains wrong taxkeys:' | $T8 %]<a href="[% problem.link %]">
[% IF problem.data.module == 'ar'    %][% 'AR Transaction'             | $T8 %]
[% ELSIF problem.data.module == 'ap' %][% 'AP Transaction'             | $T8 %]
[% ELSE                              %][% 'General Ledger Transaction' | $T8 %][% END %]
[% HTML.escape(problem.data.reference) %]
</a></p>

<p>
  [% 'This could have happened for two reasons:' | $T8 %]
  [% 'The first reason is that kivitendo contained a bug which resulted in the wrong taxkeys being recorded for transactions in which two entries are posted for the same chart with different taxkeys.' | $T8 %]
  [% 'The second reason is that kivitendo allowed the user to enter the tax amount manually regardless of the taxkey used.' | $T8 %]
  [% 'The third reason is that wrong (taxkey) settings for the credit / debit CSV-import were used.' | $T8 %]
  [% 'Such entries cannot be exported into the DATEV format and have to be fixed as well.' | $T8 %]
</p>
<p>
  [% 'The transaction is shown below in its current state.' | $T8 %]
  [% 'You can correct this transaction by chosing the correct taxkeys from the drop down boxes and hitting the button "Fix transaction" afterwards.' | $T8 %]
  [% 'It is possible that even after such a correction there is something wrong with this transaction (e.g. taxes that don\'t match the selected taxkey). Therefore you should re-run the general ledger analysis.' | $T8 %]
</p>
<p>
  [% 'You can also delete this transaction and re-enter it manually.' | $T8 %]
  [% 'In order to do that hit the button "Delete transaction".' | $T8 %]
</p>
<p>[% 'At the moment the transaction looks like this:' | $T8 %]</p>

 <form method="post" action="acctranscorrections.pl" name="Form">
   <table>
    <tr>
     <th>[% 'Account' | $T8 %]</th>
     <th>[% 'Debit' | $T8 %]</th>
     <th>[% 'Credit' | $T8 %]</th>
     <th>[% 'Recorded Tax' | $T8 %]</th>
     <th>[% 'Recorded taxkey' | $T8 %]</th>
     <th>[% 'Expected Tax' | $T8 %]</th>
     <th></th>
     <th>[% 'Correct taxkey' | $T8 %]</th>
    </tr>

    [% SET curr_row = 0 %]
    [% IF (problem.data.module == 'ar') || ((problem.data.module == 'gl') && (problem.acc_trans.credit.entries.first.acc_trans_id < problem.acc_trans.debit.entries.first.acc_trans_id)) %]
     [% SET order = [ 'credit', 'debit' ] %]
     [% SET other_side = 'debit' %]
    [% ELSE %]
     [% SET order = [ 'debit', 'credit' ] %]
     [% SET other_side = 'credit' %]
    [% END %]


    [% IF problem.acc_trans.credit.entries.size > problem.acc_trans.debit.entries.size %]
    [% ELSE %]
    [% END %]


    [% FOREACH idx = order %]
     [% FOREACH row = problem.acc_trans.$idx.entries %]
      [% SET curr_row = curr_row + 1 %]
      <tr class="listrow[% curr_row % 2 %]">
       <td>[% HTML.escape(row.accno) %]--[% HTML.escape(row.chartdescription) %]</td>
       <td>
        [% IF idx == 'debit' %]
         [% LxERP.format_amount(row.display_amount, 2) %]
        [% END %]
       </td>
       <td>
        [% IF idx == 'credit' %]
         [% LxERP.format_amount(row.display_amount, 2) %]
        [% END %]
       </td>
       <td>[% IF row.actual_tax %][% LxERP.format_amount(row.display_actual_tax, 2) %][% END %]</td>
       <td>[% IF (problem.data.module == 'gl') || (idx != other_side) %][% HTML.escape(row.taxdescription) %][% END %]</td>
       <td>[% IF row.expected_tax %][% LxERP.format_amount(row.display_expected_tax, 2) %][% END %]</td>
       <td><img src="image/[% IF row.taxkey_error %]error[% ELSE %]ok[% END %].png"></td>

       <td>
        [% IF row.taxkey_error %]
         <input type="hidden" name="fixes[+].acc_trans_id" value="[% HTML.escape(row.acc_trans_id) %]">
         <input type="hidden" name="fixes[].tax_entry_acc_trans_id" value="[% HTML.escape(row.tax_entry_acc_trans_id) %]">
         <select name="fixes[].taxkey" style="width: 250px" onchange="enable_fix_button_maybe()">
          <option value="">[% '---please select---' | $T8 %]</option>
          [% FOREACH taxkey = row.correct_taxkeys %]
           <option value="[% HTML.escape(taxkey.taxkey) %]">[% HTML.escape(taxkey.description) %]</option>
          [% END %]
        [% ELSE %]
        &nbsp;
        [% END %]
      </tr>
     [% END %]
    [% END %]

   </table>
  <hr>

  <p>
   <input type="hidden" name="callback" value="[% HTML.escape(callback) %]">
   <input type="hidden" name="action" value="dispatcher">
   <input type="hidden" name="trans_id" value="[% HTML.escape(problem.data.trans_id) %]">
   <input type="hidden" name="module" value="[% HTML.escape(problem.data.module) %]">
   <input type="hidden" name="reference" value="[% HTML.escape(problem.data.reference) %]">
   <input type="submit" id="fix_transaction_button" name="action_fix_wrong_taxkeys" value="[% 'Fix transaction' | $T8 %]" disabled>
   <input type="submit" name="action_delete_transaction" value="[% 'Delete transaction' | $T8 %]">
   <input type="button" onclick="history.back()" value="[% 'Back' | $T8 %]">
  </p>
 </form>

 <script type="text/javascript">
  <!--
    function enable_fix_button_maybe() {
      $("#fix_transaction_button").prop('disabled', $("[name='fixes[].taxkey'][value='']").size() != 0);
    }
    -->
 </script>
