[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]

<h1>[% title %]</h1>

<p>
  [% 'There is at least one transaction for which the user has chosen a logically wrong taxkey.' | $T8 %]
  [% 'This means that the user has created an AP transaction and chosen a taxkey for sales taxes, or that he has created an AR transaction and chosen a taxkey for input taxes.' | $T8 %]
</p>
<p>
  [% 'kivitendo can fix these problems automatically.' | $T8 %]
  [% 'For AP transactions it will replace the sales taxkeys with input taxkeys with the same tax rate.' | $T8 %]
  [% 'For AR transactions it will replace the input taxkeys with sales taxkeys with the same tax rate.' | $T8 %]
</p>

<form name="Form" action="acctranscorrections.pl" method="post">

<p>
  <input type="hidden" name="action" value="fix_ap_ar_wrong_taxkeys">
  <input type="hidden" name="callback" value="[% HTML.escape(callback) %]">
  <input type="submit" class="submit" value="[% 'Fix transactions' | $T8 %]">
  <input type="button" class="submit" onclick="history.back()" value="[% 'Back' | $T8 %]">
</p>
</form>

