[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]

<h1>[% title %]</h1>

<p>[% 'The following transaction contains wrong taxes:' | $T8 %] <a href="[% problem.link %]">
[% IF problem.data.module == 'ar'    %][% 'AR Transaction'             | $T8 %]
[% ELSIF problem.data.module == 'ap' %][% 'AP Transaction'             | $T8 %]
[% ELSE                              %][% 'General Ledger Transaction' | $T8 %][% END %]
[% HTML.escape(problem.data.reference) %]
</a></p>

<p>[% 'At the moment the transaction looks like this:' | $T8 %]</p>

<table class="tbl-List">
<thead>
  <tr>
    <th>[% 'Account' | $T8 %]</th>
    <th>[% 'Debit' | $T8 %]</th>
    <th>[% 'Credit' | $T8 %]</th>
    <th>[% 'Taxkey' | $T8 %]</th>
    <th>[% 'Recorded Tax' | $T8 %]</th>
    <th>[% 'Expected Tax' | $T8 %]</th>
    <th></th>
  </tr>
</thead>

[% SET curr_row = 0 %]
[% IF problem.acc_trans.credit.entries.size > problem.acc_trans.debit.entries.size %]
  [% SET order = [ 'credit', 'debit' ] %]
  [% SET other_side = 'debit' %]
[% ELSE %]
  [% SET order = [ 'debit', 'credit' ] %]
  [% SET other_side = 'credit' %]
[% END %]

<tbody>
  [% FOREACH idx = order %]
    [% FOREACH row = problem.acc_trans.$idx.entries %]
      [% SET curr_row = curr_row + 1 %]
      <tr class="listrow[% curr_row % 2 %]">
        <td>[% HTML.escape(row.accno) %]--[% HTML.escape(row.chartdescription) %]</td>
        <td>[% IF idx == 'debit'    %][% LxERP.format_amount(row.display_amount, 2) %][% END %]</td>
        <td>[% IF idx == 'credit'   %][% LxERP.format_amount(row.display_amount, 2) %][% END %]</td>
        <td>[% IF idx != other_side %][% HTML.escape(row.taxdescription)            %][% END %]</td>
        <td>[% IF row.actual_tax    %][% LxERP.format_amount(row.actual_tax, 2)     %][% END %]</td>
        <td>[% IF row.expected_tax  %][% LxERP.format_amount(row.expected_tax, 2)   %][% END %]</td>
        <td><img src="image/[% IF row.tax_error %]error[% ELSE %]ok[% END %].png"></td>
      </tr>
    [% END %]
  [% END %]
</tbody>
</table>

<form method="post" action="acctranscorrections.pl">
  <div class="buttons">
    <input type="hidden" name="action" value="delete_transaction">
    <input type="hidden" name="trans_id" value="[% HTML.escape(problem.data.trans_id) %]">
    <input type="submit" value="[% 'Delete transaction' | $T8 %]">
    <input type="button" onclick="history.back()" value="[% 'Back' | $T8 %]">
  </div>
</form>

