[%- USE T8 %]
[% USE HTML %]
 <h1>[% title %]</h1>

 <p>
  [% 'The wrong taxkeys for inventory transactions for sales and purchase invoices have been fixed.' | $T8 %]

  [% 'Please re-run the analysis for broken general ledger entries by clicking this button:' | $T8 %]
 </p>

 <p>
  <form action="acctranscorrections.pl" method="post">

   <input type="hidden" name="action" value="redirect">
   <input type="hidden" name="callback" value="[% HTML.escape(callback) %]">
   <input type="submit" value="[% 'Re-run analysis' | $T8 %]">
  </form>
 </p>

