/* Stylesheet for kivitendo * Name:kivitendo.css

Color table
-----------

Background:    #EBEBEB burlywood
Links:         #006400 DarkGreen
Link-hover     #FE5F14 Orange / #FFFFE0 lightyellow
Titles, BG/VG: #79B61B Mid-green FFFFFF White
Tabcolor:      #CAFFA3
*/


body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 80%;
}

/* Input elements */
input,
textarea,
select {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  background-color: white;
  border: 1px;
  border-color: darkgray lightgray lightgray;
  border-radius: 0;
  border-style: solid;
  outline: none;
  padding: 1px;
}

input[type="text"], input[type="password"]
textarea,
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
}

select {
  appearance : none;
  background: white url('../../image/select-down.png') no-repeat scroll right center;
  padding: 0 14px 0 0;
}

input:focus,
textarea:focus,
select:focus {
  background-color: #ffffa0;
  border: 1px solid #fe5f14;
}

input[type="button"],
input[type="submit"],
button {
  background-color: whitesmoke;
  border: 1px;
  border-color: darkgray;
  border-style: solid;
  padding: 0px 4px;
}

input[type="button"]:focus,
input[type="submit"]:focus,
button:focus {
  background-color: #ffffa0;
  border-color: #fe5f14;
}

button:hover:enabled,
input[type="button"]:hover:enabled,
input[type="submit"]:hover:enabled {
  color: #fe5f14;
}

/* The look of links */
a {
  padding: 0 0.2em;
  text-decoration: none;
}
A:link, A:visited, A:active {
  color: #000000;
  border-bottom: thin solid #FE5F14;
}
a:hover {
  color: #FE5F14;
  background-color: whitesmoke;
}
a.selected:hover {
  color:#EBEBEB;
}
a.nomobile {
  background-color:transparent;
  border:none;
}
a.green {
  background-color: DarkGreen;
  color: white !important;
  border:none;
}
a.orange {
  background-color:#FF8000;
  border:none;
}
a.red {
  background-color:#FF0000;
  border:none;
}

table {
  font-size: 90% !important;
  table-layout: auto;
  border-spacing: 0.3em;
}

hr {
  background-color: #006400;
  border: none;
  color: #79B61B;
  height: 2px;
}

tr.rule-before th, tr.rule-before td {
  padding-top: 2px;
  border-top: 2px solid #EBEBEB;
}

td {
  color: #000000;
  font-weight: normal;
}
th {
  color: #000000;
  font-weight: bold;
}
/* login and admin */
a.no-underlined-links, a.no-underlined-links:visited, a.no-underlined-links:hover {
  text-decoration: none !important;
  background-color:transparent !important;
  border:none;
}
a.no-underlined-links:hover {
  background: none;
}
body.login {
  background-color: #FFFFE0;
  color: #000000;
}
.login h1 {
  text-align: center;
  font-size: 150%;
}
table.login {
  background-color: #FFFFE0;
  padding: 20px;
  width: 500px;
}
td.login {
  text-align: center;
}
th.login {
  text-align: right;
}
.admin h1 {
  background-color: #fe5f14;
  text-color: #ffffff;
}
body.menu {
  color: #000000;
}
/* Warnings */
.message_error_login {
  color: #000000;
  border: 1px solid #8b0000;
  background-color: #ffcccc;
  padding: 3px;
}
.message_ok {
  padding: 5px;
  background-color: #ADFFB6;
  color: black;
  font-weight: bolder;
  text-align: center;
  border-style: solid;
  border-width: thin;
}
.message_error {
  padding: 5px;
  background-color: #CC0000;
  color: white;
  font-weight: bolder;
  text-align: center;
  border-style: solid;
  border-width: thin;
}
.message_hint {
  padding: 0.5em;
  background-color: #FFEE66;
  color: black;
  font-weight: bolder;
  text-align: center;
  border-style: solid;
  border-width: thin;
}
.message_error_label {
  padding: 0.5em;
  background-color: #E00000;
  color: white;
  font-weight: normal;
  text-align: left;
  border-style: solid;
  border-width: thin;
}
/* Headings */
.listtop, h1 {
  background-color: #006400;
  text-align: left;
  padding: 0.5em;
  color: #FFFFFF;
  font-size:100%;
  font-weight: bolder;
  border-style: none;
  border-width: thin;
  -moz-border-radius:0.4em; /* Firefox */
  -webkit-border-radius:0.4em; /* Safari, Chrome */
  -khtml-border-radius:0.4em; /* Konqueror */
  border-radius:0.4em; /* CSS3 */
  behavior:url(border-radius.htc);
}

.listheading, #content h2 {
  padding: 0.2em;
  background-color: #EBEBEB;
  color: #006400;
  font-size: 95%;
  font-weight: bolder;
  text-align: left;
  border-style: none;
}

.accountlistheading {
  padding: 0.3em;
  color: #006400;
  font-weight: bold;
  text-align: left;
  background-color: #EBEBEB;
}
.subsubheading {
  color: #000000;
  font-weight: bolder;
  text-decoration: underline;
}
.optionen {
  border: dashed;
  border-width: 1px;
  background: #FFFFE0;
}
.listrow1, .listrow:nth-child(even) {
  background-color: #FFFFFF;
  color: black;
  vertical-align: top;
}
.listrow0, .listrow:nth-child(odd) {
  background-color: #FFFF99;
  color: black;
  vertical-align: top;
}
.listrow_error1, .listrow_error:nth-child(even) {
  background-color: #F6CECE;
  color: black;
  vertical-align: top;
}
.listrow_error0, .listrow_error:nth-child(odd) {
  background-color: #F5A9A9;
  color: black;
  vertical-align: top;
}
.listrowempty {
  background-color: #FFFFFF;
  color: black;
  vertical-align: top;
}
.listsubtotal {
  background-color: rgb(236,233,216);
  color: black;
  font-weight: bolder;
}
.listtotal, .listtotal td {
  background-color: rgb(236,233,216);
  color: black;
  font-weight: bolder;
}
/* Verkaufsbericht */
.listmainsortheader {
  background-color: rgb(236,233,216);
  color: red;
  font-weight: bolder;
  padding-left: 10px;
  padding-top: 0px;
}
.listmainsortsubtotal {
  background-color: rgb(236,233,216);
  color: red;
  font-weight: bolder;
  padding-left: 10px;
}
.listsubsortheader {
  background-color: rgb(236,233,216);
  color: green;
  font-weight: bolder;
  padding-left: 20px
}
.listsubsortsubtotal {
  background-color: rgb(236,233,216);
  color: green;
  font-weight: bolder;
  padding-left: 20px
}
.listsortdescription {
  background-color: rgb(236,233,216);
  color: black;
  font-weight: normal;
  padding-left: 30px
}
.submit {
  font-family: Verdana, Arial, Helvetica;
  color: #000000;
}
.checkbox, .radio {
  font-family: Verdana, Arial, Helvetica;
  color: #778899;
}
.plus0 {
  /* font color for negative numbers */
  color: red;
}
.plus1 {
  color: green;
}
h2.confirm {
  color: blue;
}
h2.error {
  color: red;
}
fieldset {
  margin-top: 15px;
  color: black;
  font-weight: bolder;
}
.filecontent {
  border: 1px solid blue;
  padding-left: 2px;
  padding-right: 2px;
}
label {
  cursor: pointer;
  vertical-align: top;
}
.unbalanced_ledger {
  background-color: #ffa0a0;
}
.flash_message_error {
  background-color: #FFD6D6;
  border: 1px solid #AE0014;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
.flash_message_ok {
  background-color: #ADFFB6;
  border: 1px solid #007F0F;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
.flash_message_warning {
  background-color: #FFE8C7;
  border: 1px solid #FF6600;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
.flash_message_info {
  background-color: #DCF2FF;
  border: 1px solid #4690FF;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.flash_title {
  font-weight: bold;
}

.dimmed-text {
  color: #ccc;
  font-style: italic;
}

.link_separator {
  margin-left: 6px;
  margin-right: 6px;
}

.chart_picker,
.part_picker {
  display: inline-block;
}
.chart_picker:before,
.part_picker:before {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.customer-vendor-picker-undefined,
.chartpicker-undefined,
.projectpicker-undefined,
.partpicker-undefined {
  color: red;
  font-style: italic;
}

div.part_picker_part,
div.chart_picker_chart {
  padding: 5px;
  margin: 5px;
  border: 1px;
  border-color: darkgray;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}
div.part_picker_part:hover,
div.chart_picker_chart:hover {
  color: #FE5F14;
}

div.cpc_block,
div.ppp_block {
  overflow:hidden;
  float:left;
  width: 350px;
}
span.cpc_popup_button,
span.ppp_popup_button {
  display: inline-block;
  vertical-align: middle;
  margin-left: -24px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background: url("../../image/search.svg") no-repeat center right;
  background-size: contain;
}
span.chart_picker input,
span.part_picker input {
  padding-right: 20px;
  box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
}
span.chart_picker,
span.part_picker {
  white-space: nowrap;
}
div.ppp_block span.ppp_block_number,
div.cpc_block span.cpc_block_number
{
  float:left;
}
div.ppp_block span.ppp_block_description {
  float:right;
  margin-left:1em;
  font-weight:bold;
}
div.cpc_block span.cpc_block_description {
  float:left;
  margin-left:1em;
  font-weight:bold;
}
div.ppp_line span.ppp_block_description,
div.cpc_line span.cpc_block_description
{
  margin-left:1em;
  font-weight:bold;
}
div.cpc_block span.cpc_block_balance {
  float:right;
}
div.cpc_block span.cpc_line_balance {
  display:none;
}
div.cpc_line span.cpc_block_second_row {
  display:none;
}
div.cpc_block span.cpc_block_second_row {
}
span.toggle_selected {
  font-weight: bold;
}
.dunned_invoice {
  font-weight: bold;
  color: #f00;
}
.customer_dunning_level {
  font-weight: bold;
}

#expand_all, .expand {
    cursor: pointer;
    display: block;
    max-width: 16px;
    max-height: 16px;
}

/* Bank transactions */
#bank_transactions_proposals .invoice_number_highlight a,
#bank_transactions_proposals span.invoice_number_highlight {
  background-color: #006400;
  color: #FFFFFF;
}

/* actionbar styling */
div.layout-actionbar {
  background-color: white;
}

div.layout-actionbar div.layout-actionbar-link,
div.layout-actionbar div.layout-actionbar-submit,
div.layout-actionbar div.layout-actionbar-scriptbutton,
div.layout-actionbar div.layout-actionbar-link:focus,
div.layout-actionbar div.layout-actionbar-submit:focus,
div.layout-actionbar div.layout-actionbar-scriptbutton:focus {
  border-color: darkgray;
  background-color: whitesmoke;
}

div.layout-actionbar div.layout-actionbar-link:hover,
div.layout-actionbar div.layout-actionbar-submit:hover,
div.layout-actionbar div.layout-actionbar-scriptbutton:hover {
  color: #FE5F14;
}

div.layout-actionbar div.layout-actionbar-action-disabled,
div.layout-actionbar div.layout-actionbar-action-disabled:hover {
  color: gray;
  background-color: whitesmoke;
  border-color: lightgray;
}

div.layout-actionbar-combobox div.layout-actionbar-combobox-head span {
  border-color: darkgray;
  background-color: whitesmoke;
}

div.layout-actionbar-combobox div.layout-actionbar-combobox-head span:hover {
  color: #FE5F14;
}

div.layout-actionbar-combobox div.layout-actionbar-combobox-head span:after {
  border-color: black transparent;
}

div.layout-actionbar-combobox div.layout-actionbar-combobox-head span:hover:after {
  color: #FE5F14;
  border-color: #FE5F14 transparent;
}
div.layout-actionbar .layout-actionbar-default-action {
  font-weight: bold;
}

/* Admin section: the menu itself doesn't occupy space. So make room
   at the top of the div covering the whole admin area. */
body > div.admin {
  padding-top: 24px;
}
