/* kivitendo menu Colors:
Menu Background color #FE5F14
orangemenu color #FFFFFF
whiteMenu Hover background color #FFFFE0
DarkGreensubenu pointer
*/
/* #main_menu_div { */
/*   background-color: #d0cfc9 */
/* } */

div.layout-actionbar ~ #content {
  padding-top: 32px;
}

#main_menu_div ~ div.layout-actionbar {
  top: 45px;
}

#main_menu_div ~ #content {
  padding-top: 25px;
}
#main_menu_div ~ div.layout-actionbar ~ #content {
  padding-top: 54px;
}

body.menuv3 {
	behavior: url("css/csshover.htc");
	/*font-size: 14pt;*/
	line-height: 20pt;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #FFFFFF;
	color: #000000;
}
#menuv3 {
	background-color: #FFFFFF;
	color: #000000;
  width: 100%;
  position: fixed;
  z-index: 30;
}

#menuv3 ~ div.layout-actionbar {
  top: 40px;
}

#menuv3  ~ #content {
  padding-top: 35px;
}

#menuv3 ~ div.layout-actionbar ~ #content {
  padding-top: 64px;
}

#menuv3 a, #menuv3 h2, #menuv3 div.x {
	font-size: 80%;
	line-height: 120%;
	display: block;
	border: 0;
	white-space: nowrap;
	margin: 0;
	padding: 0.3em 1em;
}
#menuv3 h2 {
	background-color: #ffffff;
	color: #000000;
	/*padding: 2px 15px;*/
/* Firefox */
	-moz-border-radius: 0.4em 0.4em 0;
/* Safari, Chrome */
	-webkit-border-radius: 0.4em 0.4em 0;
/* Konqueror */
	-khtml-border-radius: 0.4em 0.4em 0;
/* CSS3 */
	border-radius: 0.4em 0.4em 0 0;
/* 	behavior: url(border-radius.htc); */
}
#menuv3 ul:hover h2 {
	background-color:#DCDCDC;
}
#menuv3 a, #menuv3 a:visited, #menuv3 div.x, #menuv3 div.x:visited {
	color: #000000;
	text-decoration: none;
	padding-right: 10px;
}
#menuv3 a {
	background: #EBEBEB;
}
#menuv3 div.x, #menuv3 div.x:visited {
	background-color: #EBEBEB;
	border-right: 1em solid #FE5F14;
}
#menuv3 div.x:hover {
	border-right: none;
}
#menuv3 a:hover, #menuv3 div.x:hover {
	color: #FE5F14;
	background-color: #EBEBEB;
}
#menuv3 a:active, #menuv3 div.x:active {
	color: #FE5F14;
	background-color: #EBEBEB;
}
#menuv3 ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}

#menuv3 li {
	position: relative;
	float: none;
	border: 0;
  border-width:0 0 1px 0;
}
li.sub {
	position: relativ;
	left: 0.2em;
	top: 0px;
	background-color: #FFFFFF;
}
/* IE6 spacing bug fix, <li>s without a bottom border get spaced to far  * correction:the bug will change the height of the parent element! this will also cause the whole menu to grow  * so the only method to get this pile of crap going is to add a bottom border to the <li>s, where the enclosing <ul> already has * a bottom border, which just looks ugly * the trick:color the bottom border with the same color as the bottom pixel of the background image - noone notices */
#menuv3 ul li {
	/* border: solid;
	border-color: #991900;
	border-width: 0 0 1px 0;
*/
}
#menuv3 ul ul {
	padding: 0 2em 2em 2em;
	margin: 0 -2em -2em -2em;
}
#menuv3 ul ul li {
	/*padding-top: 0.01em;*/
	background-color: #FFFFFF;
}
/* IE6 event bug fix, without a background there hovers will be occassionally lost between the li's to the layer below  * causing the menu to close. Opera 9 has the same bug btw. */
#menuv3 ul ul {
	position: absolute;
	z-index: 500;
	display: none;
}
#menuv3 ul ul ul {
	top: 0;
	left: 99%;
	padding: 2em;
	margin: -2em;
}
#menuv3 ul ul ul li {
	border-left: 0.2em solid #EBEBEB;
}
/* Begin non-anchor hover selectors */
/* Enter the more specific element (div) selectoron non-anchor hovers for IE5.x to comply with theolder version of csshover.htc - V1.21.041022. Itimproves IE's performance speed to use the olderfile and this method */
div#menuv3 h2:hover {
	background: #EBEBEB;
	color: #FE5F14;
}
div#menuv3 li:hover {
	cursor: pointer;
}
div#menuv3 li:hover ul ul, div#menuv3 li li:hover ul ul, div#menuv3 li li li:hover ul ul, div#menuv3 li li li li:hover ul ul {
	display: none;
}
div#menuv3 li:hover ul, div#menuv3 li li:hover ul, div#menuv3 li li li:hover ul, div#menuv3 li li li li:hover ul {
	display: block;
	position: relativ: left: 10px;
}
/* End of non-anchor hover selectors */

li.sub {
	position: relativ;
	left: 0.2em;
	top: 0px;
	background-color: #FFFFFF;
}

/* html menu */
/* types of lines: m sm i (menu submenu item)
   each line is a mi (menuitem) and has one mii (menu-item-icon) whcih is ms (menu-spacer)
   and one mic (menu-item-chunk)
   indenting is done with the levels s0, s1, s2 */
#html-menu {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 95%;
  transition:         margin-left 0.2s, width 0.2s;
  -moz-transition:    margin-left 0.2s, width 0.2s;
  -webkit-transition: margin-left 0.2s, width 0.2s;
  -o-transition:      margin-left 0.2s, width 0.2s;
}
div.layout-split-right { margin-left: 190px; }
div.layout-split-right.folded { margin-left: 40px }
#html-menu.folded:hover + div.layout-split-right.folded { margin-left: 190px }
#html-menu { float:left; width: 183px; font-size: 8pt; margin-top: 10px; }
#html-menu.folded { width: 32px; }
#html-menu.folded:hover { width: 183px; }
#html-menu div.mi { margin-top: 4px; margin-bottom: 3px; white-space: nowrap; clear:both; position:relative; }
#html-menu div.sm { font-weight: bold }
#html-menu img { vertical-align: top; border: 0; }
#html-menu a { vertical-align: top }
#html-menu .i span.ms { float: left; width: 24px; margin-bottom: 4px; }
#html-menu .m span.ms { float: left; width: 32px }
#html-menu .sm span.ms { float: left; width: 24px; background: url(../../image/unterpunkt.png); }
#html-menu div.m { height: 24px }
#html-menu div.m span.mic { color:black; position: relative; top: 4px }
#html-menu div.m:hover,
#html-menu div.i:hover { color:blue; background-color: #d1d1d1; cursor: pointer; }
#html-menu span.mic { white-space: normal; display: inline-block; vertical-align: top; line-height: 1.2; }
#html-menu a.ml span.mic { width: 145px } /* fix deep indents */
#html-menu div.s0 { padding-left: 2px }
#html-menu div.s1 { padding-left: 8px }
#html-menu div.s2 { padding-left: 16px }

body { margin: 0 }

@media print {
  #menuv3, #html-menu, #frame-header, #main_menu_div, #js-header {   /* items with this class won't print */
    display: none;
  }
  #content.html-menu { margin-left: 0; }
}
