/* ######### CSS for Shade Tabs. Remove if not using ######### */

.shadetabs{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
position: relative;
z-index: 1;
padding: 3px 7px;
margin-right: 3px;
background-color:#A1A1A1;
border-bottom: none ;
color: #000000;
-moz-border-radius:0.4em 0.4em 0 0; /* Firefox */
-webkit-border-radius:0.4em 0.4em 0 0; /* Safari, Chrome */
-khtml-border-radius:0.4em 0.4em 0 0; /* Konqueror */
border-radius:0.4em 0.4em 0 0 ; /* CSS3 */
behavior:url(border-radius.htc);
border-bottom: thin solid #FE5F14;
}

.shadetabs li a:visited{
color: #000000;
border: none;
background-color:#A1A1A1;
border-bottom: none ;
}

.shadetabs li a:hover{
color: #FE5F14;
background-color:#EBEBEB;
}

.shadetabs li a.selected{ /*selected main tab style */
position: relative;
top: 1px;
background-color: #D1D1D1;
color:#000000;
}

.shadetabs li a.selected{ /*selected main tab style */
border-bottom-color:#EBEBEB;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}

/* ######### CSS for Inverted Modern Bricks II Tabs. Remove if not using ######### */

.modernbricksmenu2{
padding: 0;
width: 362px;
border-top: 5px solid #D25A0B; /*Brown color theme*/
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.modernbricksmenu2 ul{
margin:0;
margin-left: 10px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.modernbricksmenu2 li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

.modernbricksmenu2 a{
float: left;
display: block;
font: bold 11px Arial;
color: white;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px;
background-color: black; /*Brown color theme*/
border-top: 1px solid white;
}

.modernbricksmenu2 a:hover{
background-color: #D25A0B; /*Brown color theme*/
color: white;
}

.modernbricksmenu2 a.selected{ /*currently selected tab*/
background-color: #D25A0B; /*Brown color theme*/
color: white;
border-color: #D25A0B; /*Brown color theme*/
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}

/* ######### CSS for Indented CSS Tabs. Remove if not using ######### */


.indentmenu{
font: bold 13px Arial;
width: 100%; /*leave this value as is in most cases*/
}

.indentmenu ul{
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/
border-top: 1px solid navy; /*navy border*/
background: black url(../image/indentbg.gif) center center repeat-x;
}

.indentmenu ul li{
display: inline;
}

.indentmenu ul li a{
float: left;
color: white; /*text color*/
padding: 5px 11px;
text-decoration: none;
border-right: 1px solid navy; /*navy divider between menu items*/
}

.indentmenu ul li a:visited{
color: white;
}

.indentmenu ul li a.selected{
color: white !important;
padding-top: 6px; /*shift text down 1px*/
padding-bottom: 4px;
background: black url(../image/indentbg2.gif) center center repeat-x;
}


.tabcontentstyle{ /*style of tab content oontainer*/
/* border: 1px solid #D2691E; */
width: 95%;
margin-bottom: 1em;
padding: 10px;
-moz-border-radius:0 0 0.4em 0.4em; /* Firefox */
-webkit-border-radius:0 0 0.4em 0.4em; /* Safari, Chrome */
-khtml-border-radius:0 0 0.4em 0.4em; /* Konqueror */
border-radius:0 0 0.4em 0.4em; /* CSS3 */
behavior:url(border-radius.htc);
border: thin solid #A1A1A1;

}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}
