table {
	text-align: right;
	border:0;
	border-collapse:collapse;
}
td {
	font-size:100%;
	vertical-align:top;
}
td.text {
	text-align: left;
	background-color:#BDBEBD;
}
td.text2 {
	text-align: left;
	background-color:#ADBEBD;
}
td.spalte,
td.zeile,
td.betrag {
	border:solid thin black;
}
td.spalte { font-weight:bold; font-size:120%; }
td.zeile  { font-weight:bold; }
td.betrag { width:10em; }
td.summe  { border:solid medium black; }
td.spacer { border:0 }

tr.uebertrag td { border-top:solid medium black; }
b.h3 { font-size:120%; }
.ausfuellen { background-color:#FFFFC0; }
.nodis { display:none; }

