/************************************************************************************************************

	DHTML Suite for Applications
	(C) www.dhtmlgoodies.com, August 2006

	CSS for the DHTMLsuite_tableWidget class.

	Terms of use:
	Look at the terms of use at http://www.dhtmlgoodies.com/index.html?page=termsOfUse

	Thank you!

	www.dhtmlgoodies.com
	Alf Magne Kalleland

************************************************************************************************************/

.DHTMLSuite_menuBar_top{	/* The bar that is parent of the menu strip */
  position: fixed;
  height: 26px;
  width: 100%;
  z-index: 100;
  padding-left: 10px;
  background-color: white;
}

.DHTMLSuite_menuBar_sub{
  position: fixed;
  background-color: #FFF;
  border: 1px solid #000;
  display: inline;
  min-width: 75px;
}
