/* CSS FOR MENU ITEM OF TYPE "top" */

.DHTMLSuite_menuItem_top_regular,.DHTMLSuite_menuItem_top_over,.DHTMLSuite_menuItem_top_click,.DHTMLSuite_menuItem_top_disabled,.DHTMLSuite_menuItem_top_active{
	height:19px;
	line-height:16px;
	margin-right:2px;
	margin-top:1px;
	padding-left:4px;
	padding-right:4px;
	padding-top:2px;
	padding-bottom:2px;
}
.DHTMLSuite_menuItem_top_regular div,.DHTMLSuite_menuItem_top_over div,.DHTMLSuite_menuItem_top_click div,.DHTMLSuite_menuItem_top_disabled div,.DHTMLSuite_menuItem_top_active div{
	padding-top:2px;
	padding-bottom:2px;
}
.DHTMLSuite_menuItem_top_regular{	/* Top level menu item - Regular state */
	cursor:pointer;
}

.DHTMLSuite_menuItem_top_over{ /* Top level menu item - Mouse over state */
	color:#FE5F14;
	background-color:#D1D1D1;
	cursor:pointer;
}

.DHTMLSuite_menuItem_top_active{	/* Top level menu item - Active state - this is typical the state for menu item 1 when a sub group is expanded and the mouse is located over one of the sub menu items */
	cursor:pointer;
}

.DHTMLSuite_menuItem_top_click{	/* Top level menu item - Mouse click state */
	color:#FE5F14;
	background-color:#D1D1D1;
	cursor:pointer;
	z-index:20000;
}

.DHTMLSuite_menuItem_top_disabled{	/* Disabled menu item */
	cursor:default;
}

.DHTMLSuite_menuItem_top_disabled img,.DHTMLSuite_menuItem_top_disabled div{	/* Sub divs of disabled top level items. A menu item is a div with some subdivs(one for the icon, one for text etc.). this is the css for these sub divs */
	filter:alpha(opacity=40);	/* Transparency */
	opacity:0.4;	/* Transparency */
	-moz-opacity:0.4;	/* Transparency */
	-khtml-opacity:.4;	/* Transparency */
}

.DHTMLSuite_menuItem_top_disabled div,.DHTMLSuite_menuItem_top_active div, .DHTMLSuite_menuItem_top_click div, .DHTMLSuite_menuItem_top_regular div,.DHTMLSuite_menuItem_top_over div{	/* divs for the text,icon and arrow of a menu item */
	float:left;
	padding-left:1px;
	padding-right:1px;
}

/* CSS FOR THE SMALL ARROW DIV - WHEN YOU CLICK ON THIS DIV, SUB ELEMENTS WILL SHOW */
.DHTMLSuite_menuItem_top_arrowShowSub{	/* This is the arrow for top level elements */
	width:12px;	/* Width of item */
	background-repeat:no-repeat;	/* No background repeat for the arrow */
	background-position:center center;	/* Position of the arrow. at the center of this div */
	background-image: url('../../../image/dhtmlsuite/menu_strip_down_arrow.png');	/* Relative path to the arrow */
	margin:0px;
	margin-right:-1px;	/* -1 pixel is added to get the arrow a little bit more to the right. this is because of the right padding of top level items */
	padding:0px;
	height:16px;
	margin-left:2px;
	float:right;
}

.DHTMLSuite_menuItem_top_over .DHTMLSuite_menuItem_top_arrowShowSub,
.DHTMLSuite_menuItem_top_click .DHTMLSuite_menuItem_top_arrowShowSub
{	/* Sub menu arrows */
	margin-left:1px;
	border-left:1px solid #000;
}

/* CSS FOR SEPARATOR */

.DHTMLSuite_menuItem_separator_top{	/* Separator of type "top" */
	height:20px;
	margin-top:3px;
	margin-bottom:3px;
	width:4px;
	padding-left:3px;
	padding-right:3px;
	background-repeat:repeat-y;
	background-image:url('../../../image/dhtmlsuite/menu_strip_separator.gif');

}


/* CSS FOR MENU ITEM OF TYPE "sub" */

.DHTMLSuite_menuItem_sub_regular, .DHTMLSuite_menuItem_sub_over,.DHTMLSuite_menuItem_sub_click,.DHTMLSuite_menuItem_sub_disabled,.DHTMLSuite_menuItem_sub_active{	/* Commom css for regular, mouse over and mouse click items */
	clear:both;
	line-height:18px;	/* Height of menu item */
	height:18px;		/* Height of menu item */
	padding-left:25px;	/* Space inside the menu item - the 25 pixels are used in order to avoid text overlapping menu item icon */
	padding-right:4px;	/* Space inside the menu item */
	padding-top:2px;	/* Space inside the menu item */
	padding-bottom:2px;	 /* Space inside the menu item */
	cursor:pointer;		/* Mouse cursor set to a "hand" */
	margin:1px;	/* A little space around the item */
	background-repeat:no-repeat;	/* No background repeat */
}
.DHTMLSuite_menuItem_sub_disabled{	/* Disabled sub menu item */
	cursor:default;	/* Arrow as cursor instead of hand */
}
.DHTMLSuite_menuItem_sub_disabled div,.DHTMLSuite_menuItem_sub_disabled{	/* Disabled sub menu item - Here, we apply the rules on the divs inside the element, i.e. the div for the icon, text and arrow */
	filter:alpha(opacity=40);	/* Transparency */
	opacity:0.4;	/* Transparency */
	-moz-opacity:0.4;	/* Transparency */
	-khtml-opacity:.4;	/* Transparency */
}
.DHTMLSuite_menuItem_sub_regular,.DHTMLSuite_menuItem_sub_disabled{	/* Regular menu item */
}

.DHTMLSuite_menuItem_sub_over,.DHTMLSuite_menuItem_sub_click,.DHTMLSuite_menuItem_sub_active{
}

.DHTMLSuite_menuItem_sub_over,.DHTMLSuite_menuItem_sub_active{	/* Mouse over effect */
	color:#FE5F14;
	background-color:#D1D1D1;
}

.DHTMLSuite_menuItem_sub_click{	/* Mouse click effect */
	color:#FE5F14;
	background-color:#D1D1D1;
}

.DHTMLSuite_menuItem_sub_click div, .DHTMLSuite_menuItem_sub_regular div,.DHTMLSuite_menuItem_sub_over div,.DHTMLSuite_menuItem_sub_active div,.DHTMLSuite_menuItem_sub_disabled div{	/* divs for the text,icon and arrow of a menu item */
	float:left;		/* To get the icons and text of sub elements side by side */
	padding-left:1px;
	padding-right:1px;

}
.DHTMLSuite_menuItem_sub_arrowShowSub{	/* Arrow div for sub elements (Right pointing arrow ) */
	position:absolute;	/* Never change this one */
	background-image:url('../../../image/dhtmlsuite/menu-bar-right-arrow.png');	/* Path relative to the css file */
	width:18px;
	height:18px;
	text-align:right;
	right:0px;
	background-repeat:no-repeat;	/* No background repeat */
	background-position: center right;	/* Position of arrow */
}


.DHTMLSuite_menuItem_separator_sub{	/* Separator of type "sub" */
	height:1px;	/* Height of separator */
	margin-top:1px;	/* Space above the separator */
	margin-bottom:1px;	/* Space below the separator */
	margin-left:24px;	/* left margin because we don't want the separator to cover the gradient */
	padding-right:3px;	/* space at the right of the separator */
	color:#FE5F14;
	background-color:#D1D1D1;
}

.DHTMLSuite_menuItem_textContent
{
  border-bottom-style: none !important;
  background-color: inherit !important;
  color: inherit !important;
}
