[%- USE T8 %]
[%- USE LxERP %]
[%- USE HTML %]
[%- USE L %]
  <tr class=listheading>
   <th class=listheading>[% 'Individual Items' | $T8 %]</th>
  </tr>
  <tr>
   <td>
    <table width=100%>
     <tr>
[%- FOREACH col = COLUMNS %]
[%- SET hcol = HEADER.$col %]
      <th[% ' nowrap' IF hcol.nowrap %][% ' width=' _ hcol.width IF hcol.width %][% ' align=' _ hcol.align IF hcol.align %]>[% hcol.text %]</th>
[%- END %]
     </tr>
[%- FOREACH row = ROWS %]
     <tr>
 [%- FOREACH col = COLUMNS %]
  [%- SET rcol = row.$col %]
  [%- IF rcol.escape %]
      <td[% ' align=' _ rcol.align IF rcol.align %]>[%- HTML.escape(rcol.data) %]</td>
  [%- ELSE %]
      <td[% ' align=' _ rcol.align IF rcol.align %]>[%- IF rcol.link %][% L.link(rcol.link, rcol.data) %][% ELSE %][% rcol.data %][% END %]</td>
  [%- END %]
 [%- END %]
 [%- FOREACH hidden = row.hiddens %]
      <input type=hidden name="[% HTML.escape(hidden.name) %]" value="[% HTML.escape(hidden.value) %]">
 [%- END %]
     </tr>
[%- END %]
     <tr>
      <td colspan="7"></td>
      <td>[% 'Totals' | $T8 %]</td>
      <td align="right">[%- LxERP.format_amount(assembly_purchase_price_total, 2) %]</td>
      <td align="right">[%- LxERP.format_amount(assemblytotal, 2) %]</td>
     </tr>
     <input type="hidden" name="assembly_rows" value="[% assembly_rows %]">
    </table>
   </td>
  </tr>
