[%- USE HTML %]
[%- USE LxERP %]
<body>

 <form method="post" action="ic.pl">

  [%- FOREACH row = HIDDENS %]
  <input type="hidden" name="[% HTML.escape(row.name) %]" value="[% HTML.escape(row.value) %]" > 
  [%- END %]

  <h2 class="confirm"><translate>Confirm!</translate></h2>

  <p>
   [% LxERP.format_string('<translate>Approximately #1 prices will be updated.</translate>', num_matches) %]
  </p>

  <p><translate>Are you sure you want to update the prices</translate>?</p>

  <p>
   <input name="action" class="submit" type="submit" value="<translate>Continue</translate>">
   <input type="button" class="submit" onclick="history.back()" value="<translate>Back</translate>">
  </p>
 </form>
</body>
</html>
