[%- USE T8 %]
[%- USE HTML %]
[%- USE LxERP %][%- USE L -%][%- USE P -%]
[% PROCESS 'common/select_warehouse_bin.html' %]
 <h1>[% title %]  [% HTML.escape(partnumber) %]  [% HTML.escape(description) %]</h1>

[% INCLUDE 'common/flash.html' %]

 <form method="post" name="ic" action="[% script %]">

  <input name="id" type="hidden" value="[% HTML.escape(id) %]">
  <input name="item" type="hidden" value="[% HTML.escape(item) %]">
  <input name="title" type="hidden" value="[% HTML.escape(title) %]">
  <input name="makemodel" type="hidden" value="[% HTML.escape(makemodel) %]">
  <input name="onhand" type="hidden" value="[% HTML.escape(onhand) %]">
  <input name="orphaned" type="hidden" value="[% HTML.escape(orphaned) %]">
  <input name="taxaccounts" type="hidden" value="[% HTML.escape(taxaccounts) %]">
  <input name="rowcount" type="hidden" value="[% HTML.escape(rowcount) %]">
  <input name="eur" type="hidden" value="[% HTML.escape(eur) %]">
  <input name="original_partnumber" type="hidden" value="[% HTML.escape(original_partnumber) %]">
  <input name="currow" type="hidden" value="[% HTML.escape(currow) %]">

  <div id="ic_tabs" class="tabwidget">
   <ul>
    <li><a href="#master_data">[% 'Basic Data' | $T8 %]</a></li>
[% IF LANGUAGES.size %]
    <li><a href="#translations_tab">[% 'Translations' | $T8 %]</a></li>
[% END %]
    [%- IF id %]
    <li><a href="#sales_price_information">[% 'Price information' | $T8 %]</a></li>
    [%- END %]
    [%- IF CUSTOM_VARIABLES.size %]
    <li><a href="#custom_variables">[% 'Custom Variables' | $T8 %]</a></li>
    [%- END %]
    [%- IF id  %]
    <li><a href="#price_rules">[% 'Price Rules' | $T8 %]</a></li>
    [% END %]
   </ul>

  <div id="master_data">

   <table width="100%">
    <tr>
     <td>
      <table width="100%">
       <tr valign="top">
        <td>
[%- IF image && INSTANCE_CONF.get_parts_show_image %]
         <a href="[% image | html %]" target="_blank"><img style="[% INSTANCE_CONF.get_parts_image_css %]" src="[% image | html %]"/></a>
[%- END %]

         <table>
          <tr>
           <td colspan="2">
            <table>
             <tr>
              <th align="right">[% 'Part Number' | $T8 %]</th>
              <td><input id='partnumber' name="partnumber" value="[% HTML.escape(partnumber) %]" size="40" class="initial_focus"></td>
             </tr>
             <tr>
              <th align="right">[% 'Part Description' | $T8 %]</th>
              <td>
               [%- IF description_area %]
               <textarea name="description" rows="[% HTML.escape(rows) %]" cols="40" wrap="soft">[% HTML.escape(description) %]</textarea>
               [%- ELSE %]
               <input name="description" size="40" value="[% HTML.escape(description) %]">
               [%- END %]
              </td>
             </tr>
             <tr>
               <th align="right">[% 'EAN-Code' | $T8 %]</th>
               <td><input name="ean" size="40" value="[% HTML.escape(ean) %]"></td>
             </tr>
             <tr>
              [%- IF all_partsgroup.size %]
              <th align="right">[% 'Group' | $T8 %]</th>
              <td>
               [%- INCLUDE generic/multibox.html
                     name       = 'partsgroup',
                     DATA       = all_partsgroup,
                     show_empty = 1,
                     id_sub     = 'pg_keys',
                     label_key  = 'partsgroup',
                     style      = 'width:250px'
               -%]
              </td>
              <input type="hidden" name="oldpartsgroup" value="[% HTML.escape(oldpartsgroup) %]">
              [% END %]
             </tr>


             [%- IF BUCHUNGSGRUPPEN.size %]
             <tr>
              <th align="right">[% 'Booking group' | $T8 %]</th>
              <td>
               [%- INCLUDE generic/multibox.html
                     name       = 'buchungsgruppen_id',
                     DATA       = BUCHUNGSGRUPPEN,
                     id_key     = 'id',
                     label_key  = 'description',
                     style      = 'width:250px'
               -%]
             </tr>
             [%- END %]
             <input type="hidden" name="IC_income" value="[% HTML.escape(IC_income_default) %]">
             [%- UNLESS is_assembly %]
             <input type="hidden" name="IC_expense" value="[% HTML.escape(IC_expense_default) %]">
             [%- END %]
             [%- IF is_part %]
             <input type="hidden" name="IC" value="[% HTML.escape(IC_default) %]">
             [%- END %]
             <tr>
              <th align="right">[% 'Payment Terms' | $T8 %]</th>
              <td>
               [%- INCLUDE generic/multibox.html
                     name       = 'payment_id',
                     DATA       = payment_terms,
                     show_empty = 1,
                     id_key     = 'id',
                     label_key  = 'description',
                     style      = 'width:250px'
               -%]
              </td>
             </tr>
            </table>
           </td>
          </tr>

          <tr height="5"></tr>

          <tr>
           <td>
            <table>
             <tr>
              <th align="left">[% 'Part Notes' | $T8 %]</th>
              <th align="left">[% 'Formula' | $T8 %]</th>
             </tr>
             <tr valign="top">
              <td>
               [% L.textarea_tag("notes", P.restricted_html(notes), class="texteditor", style="width: 600px; height: 200px") %]
              </td>
              <td>
                 <textarea name="formel" rows="[% HTML.escape(notes_rows) %]" cols="30" wrap="soft" class="tooltipster-html" title="[% 'The formula needs the following syntax:<br>For regular article:<br>Variablename= Variable Unit;<br>Variablename2= Variable2 Unit2;<br>...<br>###<br>Variable + ( Variable2 / Variable )<br><b>Please be beware of the spaces in the formula</b><br>' | $T8 %]">[% HTML.escape(formel) %]</textarea>
               </td>
             </tr>
            </table>
           </td>
          </tr>
         </table>
        </td>

        <td>
         <table>
          <tr>
           <th align="right" nowrap="true">[% 'Updated' | $T8 %]</th>
           <td>
            <input name="priceupdate" id="priceupdate" size="11"  title="[% HTML.escape(dateformat) %]" value="[% HTML.escape(priceupdate) %]" readonly>
           </td>
          </tr>

          <tr>
           <th align="right" nowrap="true">[% 'List Price' | $T8 %]</th>
           <td><input name="listprice" size="11" value="[% LxERP.format_amount(listprice, 2) %]"></td>
          </tr>

          <tr>
           <th align="right" nowrap="true">[% 'Sell Price' | $T8 %]</th>
           <td><input name="sellprice" size="11" value="[% LxERP.format_amount(sellprice, 2) %]"></td>
          </tr>

          [%- UNLESS is_assembly %]
          <tr>
           <th align="right" nowrap="true">[% 'Last Cost' | $T8 %]</th>
           <td><input name="lastcost" size="11" value="[% LxERP.format_amount(lastcost, 2) %]"></td>
          </tr>
          [%- END %]

          [%- IF ALL_PRICE_FACTORS.size %]
          <tr>
           <th align="right">[% 'Price Factor' | $T8 %]</th>
           <td>
            [%- INCLUDE generic/multibox.html
                  name       = 'price_factor_id',
                  DATA       = ALL_PRICE_FACTORS,
                  show_empty = 1,
                  id_key     = 'id',
                  label_key  = 'description',
                  style      = 'width:100px'
            -%]
           </td>
          </tr>
          [%- END %]

          <tr>
           <th align="right" nowrap="true">[% 'Unit' | $T8 %]</th>
           <td>
            <input type="hidden" name="unit_changeable" value="[% HTML.escape(unit_changeable) %]">
            [%- UNLESS unit_changeable %]
            <input type="hidden" name="unit" value="[% HTML.escape(unit) %]">[% HTML.escape(unit) %]
            [%- ELSE %]
            [%- INCLUDE generic/multibox.html
                  name       = 'unit',
                  DATA       = ALL_UNITS,
                  id_key     = 'name',
                  label_key  = 'name',
                  style      = 'width:100px'
            -%]
            [%- END %]
           </td>
          </tr>

        [%- UNLESS is_service %]
          <tr>
           <th align="right" nowrap="true">[% 'Weight' | $T8 %]</th>
           <td>
            [%- IF is_assembly %]&nbsp;[% LxERP.format_amount(weight) %][%- END %]
            <input[% IF is_assembly %] type="hidden"[% END %] size="10" name="weight" value="[% LxERP.format_amount(weight) %]">
            [% HTML.escape(defaults.weightunit) %]
           </td>
          </tr>
        [%- END %]
          <tr>
           <th align="right" nowrap>[% 'On Hand' | $T8 %]</th>
           <th align="left" nowrap class="plus[% IF onhand > 0 %]1[% ELSE %]0[% END %]">&nbsp;[% LxERP.format_amount(onhand) %]</th>
          </tr>
          <tr>
           <th align="right" nowrap="true">[% 'ROP' | $T8 %]</th>
           <td><input name="rop" size="10" value="[% LxERP.format_amount(rop) %]"></td>
          </tr>
          <tr>
           <th align="right" nowrap="true">[% 'Default Warehouse' | $T8 %]</th>
           <td>
            <select name="warehouse_id" onchange="warehouse_selected(warehouses[this.selectedIndex]['id'], 0)">
             [%- FOREACH warehouse = WAREHOUSES %]
               <option value="[% HTML.escape(warehouse.id) %]"[% IF warehouse_id == warehouse.id %] selected[% END %]>[% warehouse.description %]</option>
             [%- END %]
            </select>
          </td>
          </tr>
          <tr>
           <th align="right" nowrap="true">[% 'Default Bin' | $T8 %]</th>
           <td><select id="bin_id" name="bin_id"></select></td>
          </tr>
          <tr>
           <th align="right" nowrap="true">[% 'Verrechnungseinheit' | $T8 %]</th>
           <td><input name="ve" size="10" value="[% HTML.escape(ve) %]"></td>
          </tr>
          <tr>
           <th align="right" nowrap="true">[% 'Business Volume' | $T8 %]</th>
           <td><input name="gv" size="10" value="[% LxERP.format_amount(gv) %]"></td>
          </tr>
          <tr>
           <th align="right" nowrap><label for="not_discountable">[% 'Not Discountable' | $T8 %]</label></th>
           <td><input class="checkbox" type="checkbox" name="not_discountable" id="not_discountable" value="1" [% IF not_discountable %]checked[% END %]></td>
          </tr>
        [%- IF id %]
          <tr>
           <th align="right" nowrap="true"><label for="obsolete">[% 'Obsolete' | $T8 %]</label></th>
           <td><input name="obsolete" id="obsolete" type="checkbox" class="checkbox" value="1" [% IF obsolete %]checked[% END %]></td>
          </tr>
        [%- END %]
        [%- UNLESS is_service %]
          <tr>
           <th align="right" nowrap><label for="has_sernumber">[% 'Has serial number' | $T8 %]</label></th>
           <td><input class="checkbox" type="checkbox" name="has_sernumber" id="has_sernumber" value="1" [% IF has_sernumber %]checked[% END %]></td>
          </tr>
        [%- END %]
          <tr>
           <th align="right" nowrap><label for="shop">[% 'Shop article' | $T8 %]</label></th>
           <td><input class="checkbox" type="checkbox" name="shop" id="shop" value="1" [% IF shop %]checked[% END %]></td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>
    </tr>


    <tr>
     <td>
      <table>
       <tr>
        <th align="right" nowrap>[% 'Image' | $T8 %]</th>
        <td><input name="image" size="40" value="[% HTML.escape(image) %]"></td>
        <th align="right" nowrap>[% 'Microfiche' | $T8 %]</th>
        <td><input name="microfiche" size="20" value="[% HTML.escape(microfiche) %]"></td>
       </tr>
       <tr>
        <th align="right" nowrap>[% 'Drawing' | $T8 %]</th>
        <td><input name="drawing" size="40" value="[% HTML.escape(drawing) %]"></td>
       </tr>
      </table>
     </td>
    </tr>
