[% USE HTML %]<form method="post" action="ic.pl">

 <input name="callback" type="hidden" value="[% HTML.escape(callback) %]">

 <input type="hidden" name="item" value="[% HTML.escape(searchitems) %]">

 <input type="hidden" name="login" value="[% HTML.escape(login) %]">
 <input type="hidden" name="password" value="[% HTML.escape(password) %]">

 [% SWITCH searchitems %]
   [% CASE 'part' %]<translate>New part</translate>
   [% CASE 'service' %]<translate>New service</translate>
   [% CASE 'assembly' %]<translate>New assembly</translate>
 [% END %]
 <br>
 <input class="submit" type="submit" name="action" value="<translate>Add</translate>">

</form>
