[%- USE T8 %]
[% USE HTML %]<form method="post" action="ic.pl">

 <input name="callback" type="hidden" value="[% HTML.escape(callback) %]">

 <input type="hidden" name="item" value="[% HTML.escape(searchitems) %]">
 <input type="hidden" name="action" value="add">

 [% SWITCH searchitems %]
   [% CASE 'part' %][% 'New part' | $T8 %]
   [% CASE 'service' %][% 'New service' | $T8 %]
   [% CASE 'assembly' %][% 'New assembly' | $T8 %]
 [% END %]
 <br>
 <input class="submit" type="submit" value="[%- 'Add' | $T8 %]">

</form>
