[%- USE T8 %]
[%- USE HTML %]
 <form name="Form">

  <input type="hidden" name="input_name" value="[% HTML.escape(input_name) %]">

  <div class="listtop">[% title %]</div>

  <p>[% 'Please insert your language values below' | $T8 %]</p>

  <p>
   <table>
    <tr class="listheading">
     <th class="listheading">&nbsp;</th>
     [%- FOREACH col = HEADER %]
     <th nowrap class="listheading">[% col.column_title %]</th>
     [%- END %]
    </tr>

    [%- FOREACH row = LANGUAGES %]
    <tr class="listrow[% loop.count % 2 %]">
     <td><input type="hidden" id="id_[% loop.count %]" name="id_[% loop.count %]" value="[% HTML.escape(row.id) %]">[% HTML.escape(row.description) %]</td>
     <td>
       [%- IF row.translation_area %]
         <textarea id="translation_[% loop.count %]" name="translation_[% loop.count %]" rows="[% HTML.escape(row.translation_rows) %]" cols=40 wrap="soft">[% HTML.escape(row.translation) %]</textarea>
       [%- ELSE %]
         <input  id="translation_[% loop.count %]" name="translation_[% loop.count %]" value="[% HTML.escape(row.translation) %]">
       [%- END %]
     </td>
     <td><textarea id="longdescription_[% loop.count %]" name="longdescription_[% loop.count %]" rows="[% HTML.escape(row.longdescription_rows) %]" cols=40 wrap="soft">[% HTML.escape(row.longdescription) %]</textarea></td>
    </tr>

    [%- IF loop.last %]
    <input type="hidden" id="rowcount" name="rowcount" value="[% loop.count %]">
    [%- END %]
    [%- END %]
   </table>
  </p>

  <p>
   <button type="button" onclick="languages_updated()">[% 'Close' | $T8 %]</button>
  </p>

 </form>

 <script type="text/javascript">
  <!--
      function languages_updated() {
        var languages = "";
        for (var i = 1; i <= (document.getElementsByName("rowcount")[0].value); i++) {
          var id              = "id_" + i ;
          var translation     = "translation_" + i ;
          var longdescription = "longdescription_" + i;

          languages = languages +
            "---+++---" + document.getElementsByName( id )[0].value +
            "--++--" + document.getElementsByName( translation )[0].value +
            "--++--"  + document.getElementsByName( longdescription )[0].value;
        }

        window.opener.document.getElementsByName(document.Form.input_name.value)[0].value = languages;

        self.close();
      }
      //-->
 </script>

