[%- USE T8 %]
[%- USE HTML %]
[%- USE LxERP %]
[%- IF PRICES.size %]
  <tr>
    <td>
      <table width=100%>
        <tr>
          <th class="listheading">[% 'Price group' | $T8 %]</th>
          <th class="listheading">[% 'Price' | $T8 %]</th>
        </tr>
[%- FOREACH row = PRICES %]
        <tr class="listrow[% loop.count % 2 %]">
          <td width=50%><input type=hidden name="pricegroup_[% loop.count %]" size=30  value="[% HTML.escape(row.pricegroup) %]">[% HTML.escape(row.pricegroup) %]</td>
          <td width=50%><input name="price_[% loop.count %]" size=11 value="[% LxERP.format_amount(row.price, 2) %]"></td>
          <input type="hidden" name="pricegroup_id_[% loop.count %]" value="[% HTML.escape(row.pricegroup_id) %]">
        </tr>
[%- END %]
      </table>
    </td>
  </tr>
[%- END %]
