[%- USE HTML %]
[%- IF PRICES.size %]
  <tr>
    <td>
      <table width=100%>
        <tr>
          <th class="listheading"><translate>Preisklasse</translate></th>
          <th class="listheading"><translate>Preis</translate></th>
        </tr>
[%- FOREACH row = PRICES %]
        <tr>
          <td width=50%><input type=hidden name="pricegroup_[% loop.count %]" size=30  value="[% HTML.escape(row.pricegroup) %]">[% HTML.escape(row.pricegroup) %]</td>
          <td width=50%><input name="price_[% loop.count %]" size=11 value="[% HTML.escape(row.price) %]"></td>
          <input type=hidden name="pricegroup_id_[% loop.count %]" value="[% HTML.escape(row.pricegroup_id) %]">
        </tr>
[%- END %]
      </table>
    </td>
  </tr>
[%- END %]
