[%- USE T8 %]
[%- USE HTML %]
[%- USE LxERP %]
<h1>[% 'Update prices' | $T8 %]</h1>

 <form method="post" action="ic.pl">

  <input type="hidden" name="title" value="[% 'Update prices' | $T8 %]">

  <p>
   <table>
    <tr>
     <th align="right" nowrap>[% 'Part Number' | $T8 %]</th>
     <td><input name="partnumber" size="20"></td>
    </tr>

    <tr>
     <th align="right" nowrap>[% 'Part Description' | $T8 %]</th>
     <td colspan="3"><input name="description" size="20"></td>
    </tr>

    <tr>
     <th align="right" nowrap>[% 'Partsgroup' | $T8 %]</th>
     <td><input name="partsgroup" size="20"></td>
     <th align="right" nowrap>[% 'Serial Number' | $T8 %]</th>
     <td><input name="serialnumber" size="20"></td>
    </tr>

    <tr>
     <th align="right" nowrap>[% 'Make' | $T8 %]</th>
     <td><input name="make" size="20"></td>
     <th align="right" nowrap>[% 'Model' | $T8 %]</th>
     <td><input name="model" size="20"></td>
    </tr>

    <tr>
     <th align="right" nowrap>[% 'Drawing' | $T8 %]</th>
     <td><input name="drawing" size="20"></td>
     <th align="right" nowrap>[% 'Microfiche' | $T8 %]</th>
     <td><input name="microfiche" size="20"></td>
    </tr>

    <tr>
     <td></td>
     <td colspan="3">
      <input name="itemstatus" id="itemstatus_active" class="radio" type="radio" value="active" checked>
      <label for="itemstatus_active">[% 'Active' | $T8 %]</label>
      <input name="itemstatus" id="itemstatus_onhand" class="radio" type="radio" value="onhand">
      <label for="itemstatus_onhand">[% 'On Hand' | $T8 %]</label>
      <input name="itemstatus" id="itemstatus_short" class="radio" type="radio" value="short">
      <label for="itemstatus_short">[% 'Short' | $T8 %]</label>
      <input name="itemstatus" id="itemstatus_obsolete" class="radio" type="radio" value="obsolete">
      <label for="itemstatus_obsolete">[% 'Obsolete' | $T8 %]</label>
      <input name="itemstatus" id="itemstatus_orphaned" class="radio" type="radio" value="orphaned">
      <label for="itemstatus_orphaned">[% 'Orphaned' | $T8 %]</label>
     </td>
    </tr>
   </table>
  </p>

  <hr size="1" noshade>

  <p>
   <table>
    <tr>
     <th class="listheading">[% 'Price group' | $T8 %]</th>
     <th class="listheading">[% 'Preis' | $T8 %]</th>
     <th class="listheading">[% 'Prozentual/Absolut' | $T8 %]</th>
    </tr>

    <tr>
     <td>[% 'Sell Price' | $T8 %]</td>
     <td><input name="sellprice" size="11" value="[% HTML.escape(sellprice) %]"></td>
     <td align="center">
      <input name="sellprice_type" class="radio" type="radio" value="percent" checked> /
      <input name="sellprice_type" class="radio" type="radio" value="absolut">
     </td>
    </tr>

    <tr>
     <td>[% 'List Price' | $T8 %]</td>
     <td><input name="listprice" size="11" value="[% HTML.escape(listprice) %]"></td>
     <td align="center">
      <input name="listprice_type" class="radio" type="radio" value="percent" checked> /
      <input name="listprice_type" class="radio" type="radio" value="absolut">
     </td>
    </tr>

    [%- FOREACH row = PRICE_ROWS %]
    <input type="hidden" name="pricegroup_id_[% loop.count %]" value="[% HTML.escape(row.id) %]">

    <tr>
     <td><input type="hidden" name="pricegroup_[% loop.count %]" size="30"  value="[% HTML.escape(row.pricegroup) %]">[% HTML.escape(row.pricegroup) %]</td>
     <td><input name="price_[% loop.count %]" size="11"></td>
     <td align="center">
      <input name="pricegroup_type_[% loop.count %]" class="radio" type="radio" value="percent" checked> /
      <input name="pricegroup_type_[% loop.count %]" class="radio" type="radio" value="absolut">
     </td>
    </tr>
    [%- END %]

   </table>
  </p>

  <hr size="3" noshade>

  <input type="hidden" name="nextsub" value="confirm_price_update">
  <input type="hidden" name="price_rows" value="[% HTML.escape(price_rows) %]">

  <p>
   <input class="submit" type="submit" name="action" value="[% 'Continue' | $T8 %]">
  </p>
 </form>

