[%- USE HTML %]
[%- USE LxERP %]
<body>

<form method=post action=[% script %]>

<input type=hidden name=title value="<translate>Update prices</translate>">

<table width="100%">
  <tr><th class=listtop><translate>Update prices</translate></th></tr>
  <tr height="5"></tr>
  <tr valign=top>
    <td>
      <table>
        <tr>
          <th align=right nowrap><translate>Part Number</translate></th>
          <td><input name=partnumber size=20></td>
        </tr>
        <tr>
          <th align=right nowrap><translate>Part Description</translate></th>
          <td colspan=3><input name=description size=40></td>
        </tr>
	<tr>
          <th align=right nowrap><translate>Group</translate></th>
          <td><input name=partsgroup size=20></td>
          <th align=right nowrap><translate>Serial Number</translate></th>
          <td><input name=serialnumber size=20></td>
	</tr>
        <tr>
          <th align=right nowrap><translate>Make</translate></th>
          <td><input name=make size=20></td>
          <th align=right nowrap><translate>Model</translate></th>
          <td><input name=model size=20></td>
        </tr>
        <tr>
          <th align=right nowrap><translate>Drawing</translate></th>
          <td><input name=drawing size=20></td>
          <th align=right nowrap><translate>Microfiche</translate></th>
          <td><input name=microfiche size=20></td>
        </tr>
        <tr>
          <td></td>
          <td colspan=3>
            <input name=itemstatus class=radio type=radio value=active checked>&nbsp;<translate>Active</translate>
            <input name=itemstatus class=radio type=radio value=onhand>&nbsp;<translate>On Hand</translate>
            <input name=itemstatus class=radio type=radio value=short>&nbsp;<translate>Short</translate>
            <input name=itemstatus class=radio type=radio value=obsolete>&nbsp;<translate>Obsolete</translate>
            <input name=itemstatus class=radio type=radio value=orphaned>&nbsp;<translate>Orphaned</translate>
	  </td>
	</tr>
        <tr>
	  <td></td>
          <td colspan=3>
	    <hr size=1 noshade>
	  </td>
	</tr>
  <tr>
    <td colspan=4>
      <table width=100%>
        <tr>
          <th class="listheading"><translate>Preisklasse</translate></th>
          <th class="listheading"><translate>Preis</translate></th>
          <th class="listheading"><translate>Prozentual/Absolut</translate></th>
        </tr>
        <tr>
          <td><translate>Sell Price</translate></td>
          <td><input name="sellprice" size=11 value="[% sellprice %]"></td>
          <td><input name="sellprice_type" class=radio type=radio value=percent checked>/<input name="sellprice_type" class=radio type=radio value=absolut></td>
        </tr>
        <tr>
          <td><translate>List Price</translate></td>
          <td><input name="listprice" size=11 value="[% listprice %]"></td>
          <td><input name="listprice_type" class=radio type=radio value=percent checked>/<input name="listprice_type" class=radio type=radio value=absolut></td>
        </tr>
[%- FOREACH row = PRICE_ROWS %]
        <tr>
          <td width=50%><input type=hidden name="pricegroup_[% loop.count %]" size=30  value="[% row.pricegroup %]">[% row.pricegroup %]</td>
          <td width=50%><input name="price_[% loop.count %]" size=11></td>
          <input type=hidden name="pricegroup_id_[% loop.count %]" value="[% row.id %]">
          <td><input name="pricegroup_type_[% loop.count %]" class=radio type=radio value=percent checked>/<input name="pricegroup_type_[% loop.count %]" class=radio type=radio value=absolut></td>
        </tr>
[%- END  %]

      </table>
    </td>
  </tr>

  <tr><td colspan=4><hr size=3 noshade></td></tr>
</table>
<input type=hidden name=nextsub value=confirm_price_update>
<input type=hidden name=price_rows value=[% price_rows %]>

<br>
<input class=submit type=submit name=action value="<translate>Continue</translate>">
</form>

</body>
</html>
