[%- USE T8 %]
[%- USE HTML %]
[%- USE LxERP %]
[%- USE L %]
<h1>[% 'Update prices' | $T8 %]</h1>

[% INCLUDE 'common/flash.html' %]

<form method="post" action="controller.pl" id="form">
 <table>
  <tr>
   <th align="right" nowrap>[% 'Part Number' | $T8 %]</th>
   <td>[% L.input_tag('filter.partnumber', FORM.filter.partnumber, size=20) %]</td>
  </tr>

  <tr>
   <th align="right" nowrap>[% 'Part Description' | $T8 %]</th>
   <td colspan="3">[% L.input_tag('filter.description', FORM.filter.description, size=20) %]</td>
  </tr>

  <tr>
   <th align="right" nowrap>[% 'Partsgroup' | $T8 %]</th>
   <td>[% L.input_tag('filter.partsgroup', FORM.filter.partsgroup, size=20) %]</td>
   <th align="right" nowrap>[% 'Serial Number' | $T8 %]</th>
   <td>[% L.input_tag('filter.serialnumber', FORM.filter.serialnumber, size=20) %]</td>
  </tr>

  <tr>
   <th align="right" nowrap>[% 'Make' | $T8 %]</th>
   <td>[% L.input_tag('filter.make', FORM.filter.make, size=20) %]</td>
   <th align="right" nowrap>[% 'Model' | $T8 %]</th>
   <td>[% L.input_tag('filter.model', FORM.filter.model, size=20) %]</td>
  </tr>

  <tr>
   <th align="right" nowrap>[% 'Drawing' | $T8 %]</th>
   <td>[% L.input_tag('filter.drawing', FORM.filter.drawing, size=20) %]</td>
   <th align="right" nowrap>[% 'Microfiche' | $T8 %]</th>
   <td>[% L.input_tag('filter.microfiche', FORM.filter.microfiche, size=20) %]</td>
  </tr>

  <tr>
   <td></td>
   <td colspan="3">
    [% L.radio_button_tag('filter.itemstatus', value='active',   label=LxERP.t8('Active'),   checked=!FORM.filter.itemstatus||FORM.filter.itemstatus=='active') %]
    [% L.radio_button_tag('filter.itemstatus', value='onhand',   label=LxERP.t8('On Hand'),  checked=FORM.filter.itemstatus=='onhand') %]
    [% L.radio_button_tag('filter.itemstatus', value='short',    label=LxERP.t8('Short'),    checked=FORM.filter.itemstatus=='short') %]
    [% L.radio_button_tag('filter.itemstatus', value='obsolete', label=LxERP.t8('Obsolete'), checked=FORM.filter.itemstatus=='obsolete') %]
    [% L.radio_button_tag('filter.itemstatus', value='orphaned', label=LxERP.t8('Orphaned'), checked=FORM.filter.itemstatus=='orphaned') %]
   </td>
  </tr>
 </table>

 <hr size="1" noshade>

 <table>
  <tr>
   <th class="listheading">[% 'Price group' | $T8 %]</th>
   <th class="listheading">[% 'Preis' | $T8 %]</th>
   <th class="listheading">[% 'Prozentual/Absolut' | $T8 %]</th>
  </tr>

  <tr>
   <td>[% 'Sell Price' | $T8 %]</td>
   <td>[% L.input_tag('filter.prices.sellprice.price_as_number', FORM.filter.prices.sellprice.price_as_number, size=11) %]</td>
   <td align="center">
    [% L.radio_button_tag("filter.prices.sellprice.type",
       value="percent",
       checked=!FORM.filter.prices.sellprice.type || FORM.filter.prices.sellprice.type == 'percent') %] /
    [% L.radio_button_tag("filter.prices.sellprice.type",
       value="absolut",
       checked=FORM.filter.prices.sellprice.type == 'absolut') %]
   </td>
  </tr>

  <tr>
   <td>[% 'List Price' | $T8 %]</td>
   <td>[% L.input_tag('filter.prices.listprice.price_as_number', FORM.filter.prices.listprice.price_as_number, size=11) %]</td>
   <td align="center">
    [% L.radio_button_tag("filter.prices.listprice.type",
       value="percent",
       checked=!FORM.filter.prices.listprice.type || FORM.filter.prices.listprice.type == 'percent') %] /
    [% L.radio_button_tag("filter.prices.listprice.type",
       value="absolut",
       checked=FORM.filter.prices.listprice.type == 'absolut') %]
   </td>
  </tr>

[%- FOREACH pg = SELF.pricegroups %]
  <tr>
   <td>[% pg.pricegroup | html %]</td>
   <td>[% L.input_tag('filter.prices.' _ pg.id _ '.price_as_number', FORM.filter.prices.${pg.id}.price_as_number, size=11) %]</td>
   <td align="center">
    [% L.radio_button_tag("filter.prices." _ pg.id  _ ".type",
       value="percent",
       checked=!FORM.filter.prices.${pg.id}.type || FORM.filter.prices.${pg.id}.type == 'percent') %] /
    [% L.radio_button_tag("filter.prices." _ pg.id _ ".type",
       value="absolut",
       checked=FORM.filter.prices.${pg.id}.type == 'absolut') %]
   </td>
  </tr>
[%- END %]

 </table>
</form>
