[%- USE T8 %][%- USE HTML %][%- USE LxERP -%][%- USE L -%]

<div class="message message_error">
  <h4>[% LxERP.t8("Error!") %]</h4>
</div>

[% IF missing_qty_exceptions.size %]
  <div class="wrapper">[% LxERP.t8("The following parts could not be allocated:") %]</div>

  <div class="wrapper">
    <table class="tbl-list">
      <thead>
        <tr>
          <th>[% LxERP.t8("Part") %]</th>
          <th class="right">[% LxERP.t8("Required qty") %]</th>
          <th class="right">[% LxERP.t8("Missing qty") %]</th>
        </tr>
      </thead>

      <tbody>
        [% FOREACH ex = missing_qty_exceptions %]
          <tr class="listrow">
            <td><a href="controller.pl?action=Part/edit&part.id=[% ex.part.id %]">[% HTML.escape(ex.part.displayable_name) %]</a></td>
            <td class="numeric">[% HTML.escape(LxERP.format_amount(ex.to_allocate_qty)) %]</td>
            <td class="numeric">[% HTML.escape(LxERP.format_amount(ex.missing_qty)) %]</td>
          </tr>
        [% END %]
      </tbody>
    </table>
  </div>
[% END %]

[% IF other_exceptions.size %]
  <div class="wrapper">[% LxERP.t8("Additional errors:") %]</div>

  <div class="wrapper">
    <ul>
      [% FOREACH ex = other_exceptions %]
        <li>[% HTML.escape(ex.message) %]</li>
      [% END %]
    </ul>
  </div>
[% END %]
