[% USE T8 %]
[% USE HTML %]
[% USE L %]
[% USE JavaScript %]
[% USE P %]

<h1>[% title %]</h1>

<script type="text/javascript"><!--
  warehouses = new Array();
  [% USE WAREHOUSES_it = Iterator(WAREHOUSES) %]
  [% FOREACH warehouse = WAREHOUSES_it %]
    warehouses[[% WAREHOUSES_it.count - 1 %]] = new Array();
    warehouses[[% WAREHOUSES_it.count - 1 %]]['id'] = [% warehouse.id %];
    warehouses[[% WAREHOUSES_it.count - 1 %]]['bins'] = new Array();
    warehouses[[% WAREHOUSES_it.count - 1 %]]['bins'][0] = new Array();
    warehouses[[% WAREHOUSES_it.count - 1 %]]['bins'][0]['description'] = "---";
    warehouses[[% WAREHOUSES_it.count - 1 %]]['bins'][0]['id'] = "";
    [% USE BINS_it = Iterator(warehouse.BINS) %]
    [% FOREACH bin = BINS_it %]
      warehouses[[% WAREHOUSES_it.count - 1 %]]['bins'][[% BINS_it.count %]] = new Array();
      warehouses[[% WAREHOUSES_it.count - 1 %]]['bins'][[% BINS_it.count %]]['description'] = "[% JavaScript.escape(bin.description) %]";
      warehouses[[% WAREHOUSES_it.count - 1 %]]['bins'][[% BINS_it.count %]]['id'] = [% bin.id %];
    [% END %]
  [% END %]

  function warehouse_selected(warehouse_id, bin_id) {
    var control = document.getElementById("bin_id");

    for (var i = control.options.length - 1; i >= 0; i--) {
      control.options[i] = null;
    }

    var warehouse_index = 0;

    for (i = 0; i < warehouses.length; i++)
      if (warehouses[i]['id'] == warehouse_id) {
        warehouse_index = i;
        break;
      }

    var warehouse = warehouses[warehouse_index];
    var bin_index = 0;

    for (i = 0; i < warehouse['bins'].length; i++)
      if (warehouse['bins'][i]['id'] == bin_id) {
        bin_index = i;
        break;
      }

    for (i = 0; i < warehouse['bins'].length; i++) {
      control.options[i] = new Option(warehouse['bins'][i]['description'], warehouse['bins'][i]['id']);
    }


    control.options[bin_index].selected = true;
  }

      $(function() {
        warehouse_selected(0, 0);
        document.Form.part_id_name.focus();
      });
     -->
 </script>

<form name="Form" method="post" action="wh.pl" id="form">
<div class="wrapper">

[% IF saved_message %]
  <p>[% saved_message %]</p>
[% END %]

<p>[% 'If you enter values for the part number and / or part description then only those bins containing parts whose part number or part description match your input will be shown.' | $T8 %]</p>

<table class="tbl-horizontal">
  <tbody>
    <tr>
      <th>[% 'Transfer from warehouse' | $T8 %]</th>
      <td>
        <select name="warehouse_id" id="warehouse_id" onchange="warehouse_selected(warehouses[this.selectedIndex]['id'], 0)" class="wi-lightwide">
          [% FOREACH warehouse = WAREHOUSES %]
          <option value="[% HTML.escape(warehouse.id) %]">[% warehouse.description %]</option>
          [% END %]
        </select>
      </td>
    </tr>
    <tr>
      <th>[% 'Bin' | $T8 %]</th>
      <td>
        <select id="bin_id" name="bin_id" class="wi-lightwide"></select>
      </td>
    </tr>
    <tr>
      <th>[% 'Limit part selection' | $T8 %]</th>
      <td><span class="plain-data">&nbsp;</span></td>
    </tr>
    <tr>
      <th>[% 'Part' | $T8 %]</th>
      <td>[% P.part.picker("part_id", parts_id, part_type="part,assembly", class="wi-lightwide") %]</td>
    </tr>
    <tr>
      <th>[% 'Charge number' | $T8 %]</th>
      <td><input type="text" name="chargenumber" class="wi-lightwide"></td>
    </tr>
    [% IF INSTANCE_CONF.get_show_bestbefore %]
      <tr>
        <th>[% 'Best Before' | $T8 %]</th>
        <td><span class="wi-date">[% L.date_tag('bestbefore') %]</span></td>
      </tr>
    [% END %]
    <tr>
      <th>[% 'EAN' | $T8 %]</th>
      <td><input type="text" name="ean" class="wi-lightwide"></td>
    </tr>
  </tbody>
</table>

</div><!-- /.wrapper -->
</form>
