[%- USE T8 %]
[%- USE L %]
[%- USE LxERP %]
[%- USE HTML %]
<form action='controller.pl' metdod='post' id="shop_part_filter">
  [% L.hidden_tag('filter.shop.obsolete', 0) %]
 <table id='filter_table'>
    <tr>
     <td>[% 'Shop' | $T8 %]</td>
     <td>[% L.select_tag('filter.shop_id:eq_ignore_empty', SELF.shops, value_key = 'value', title_key = 'title', default=0) %]</td>
    </tr>
    <tr>
     <td>[% 'Part marked as "Shop part"' | $T8 %]
     <td>[% L.yes_no_tag('filter.part.shop', FORM.filter.part.shop, default='1', with_empty=1, empty_title='---') %]</td>
    </tr>
 </table>

 <p>
  <a href='#' onClick='javascript:$("#filter_table input").val("");$("#filter_table input[type=checkbox]").prop("checked", 0);'>[% 'Reset' | $T8 %]</a>
  <br>
 </p>
 <p>
   [% L.hidden_tag('action', 'ShopPart/dispatch') %]
   [% L.submit_tag('action_list_articles',LxERP.t8('renew')) %]
 </p>
</form>
