[%- USE HTML %]
[%- USE T8 %]
[%- USE L -%]
[%- USE P -%]
[%- USE LxERP -%]

<p>
[% LxERP.t8("Part") %]: [% HTML.escape(SELF.shop_part.part.displayable_name) %]<br>
[% LxERP.t8("Shop") %]: [% HTML.escape(SELF.shop_part.shop.description) %]
<p>
<form action="controller.pl" method="post">
  <div>
    [% IF SELF.shop_part.id %]
    [%- L.hidden_tag("shop_part.id", SELF.shop_part.id) %]
    [%- L.hidden_tag("shop_part.shop_id", SELF.shop_part.shop_id) %]
    [% ELSE %]
    [%- L.hidden_tag("shop_part.shop_id", FORM.shop_id) %]
    [%- L.hidden_tag("shop_part.part_id", FORM.part_id) %]
    [% END %]

    <table>
    <tr>
     <td>[% LxERP.t8("Description") %]</td>
     <td colspan="3">[% L.textarea_tag('shop_part.shop_description', SELF.shop_part.shop_description, wrap="soft", style="width: 350px; height: 150px", class="texteditor") %]</td>
    </tr>
    <tr>
     <td>[% LxERP.t8("Active") %]</td>
     <td>[% L.yes_no_tag("shop_part.active", SELF.shop_part.active, default = "yes") %]</td>
     <td>[% LxERP.t8("Date") %]</td>
     <td>[% L.date_tag("shop_part.show_date", SELF.shop_part.show_date) %]</td>
    </tr>
    <tr>
      <td>[% 'Price Source' | $T8 %]</th>
      [% IF SELF.shop_part.active_price_source %]
        [% SET price_source = SELF.shop_part.active_price_source %]
      [% ELSE %]
        [% SET price_source = SELF.shop_part.shop.price_source %]
      [% END %]
      <td>[% L.select_tag('shop_part.active_price_source', SELF.price_sources, value_key = 'id', title_key = 'name', with_empty = 0, default = price_source, default_value_key='id' ) %]</td>
     <td>[% LxERP.t8("Front page") %]</td>
     <td>[% L.yes_no_tag('shop_part.front_page', SELF.shop_part.front_page) %]</td>
    </tr>
    <tr>
     <td>[% LxERP.t8("Sort order") %]</td>
     <td>[% L.input_tag("shop_part.sortorder", SELF.shop_part.sortorder, size=2) %]</td>
     <td>[% LxERP.t8("Meta tag title") %]</td>
     <td>[% L.input_tag("shop_part.metatag_title", SELF.shop_part.metatag_title, size=12) %]</td>
    </tr>
    <tr>
     <td>[% LxERP.t8("Meta tag keywords") %]</td>
     <td>[% L.input_tag("shop_part.metatag_keywords", SELF.shop_part.metatag_keywords, size=22) %]</td>
     <td>[% LxERP.t8("Meta tag description") %]</td>
     <td>[% L.textarea_tag("shop_part.metatag_description", SELF.shop_part.metatag_description, rows=4) %]</td>
    </tr>
    </table>

    [% IF SELF.shop_part.id %]
    [% L.button_tag("kivi.ShopPart.save_shop_part(" _ SELF.shop_part.id _ ")", LxERP.t8("Save"))  %]</td>
    [% ELSE %]
    [% L.button_tag("kivi.ShopPart.add_shop_part(" _ FORM.part_id _", " _ FORM.shop_id _")", LxERP.t8("Save"))  %]</td>
    [% END %]
    [% # L.button_tag("kivi.ShopPart.update_partnumber()", LxERP.t8("Update Partnumber"))  %]</td>

    [% # L.hidden_tag("action", "ShopPart/dispatch") %]
    [% # L.submit_tag('action_update', LxERP.t8('Save')) %]


  </div>
</form>

[%- IF SELF.shop_part.part.image && INSTANCE_CONF.get_parts_show_image %]
         <a href="[% SELF.shop_part.part.image | html %]" target="_blank"><img style="[% INSTANCE_CONF.get_parts_image_css %]" src="[% SELF.shop_part.part.image | html %]"/></a>
[%- END %]
