[%- USE LxERP -%][%- USE L -%]
[%- DEFAULT id_prefix = 'edit_version_form'
            submit_as = 'post'
%]
<form method="post" action="controller.pl" id="[% id_prefix %]">
 [% L.hidden_tag("requirement_spec_id", SELF.requirement_spec.id, id=id_prefix _ '_id') %]
 [% L.hidden_tag("id", SELF.version.id, id=id_prefix _ '_id') %]

 <table class="rs_input_field">
  <tr>
   <td>[% LxERP.t8("Version") %]</td>
   <td>[% SELF.requirement_spec.next_version_number %]</td>
  </tr>

  <tr>
   <td>[% LxERP.t8("Description") %]</td>
   <td>[% L.textarea_tag("rs_version.description",  SELF.version.description, cols=80, rows=8, id=id_prefix _ '_description') %]</td>
  </tr>

  <tr>
   <td>[% LxERP.t8("Internal comment") %]</td>
   <td>[% L.textarea_tag("rs_version.comment",  SELF.version.comment, cols=80, rows=8, id=id_prefix _ '_comment') %]</td>
  </tr>

 </table>

 <p>
[%- IF SELF.version.id %]
  [% L.ajax_submit_tag("controller.pl?action=RequirementSpecVersion/update",  "#" _ id_prefix, LxERP.t8("Save")) %]
  <a href="[% SELF.url_for(action='list') %]">[%- LxERP.t8("Cancel") %]</a>
[%- ELSE %]
  [% L.ajax_submit_tag("controller.pl?action=RequirementSpecVersion/create",  "#" _ id_prefix, LxERP.t8("Save")) %]
  <a href="#" onclick="$('#jqueryui_popup_dialog').dialog('close');" class="button neutral">[% LxERP.t8("Cancel") %]</a>
[%- END %]
 </p>
</form>

<script type="text/javascript">
<!--
$(function() {
  $('#[% id_prefix %]_description').focus();
});
 -->
</script>
