[%- USE HTML -%][%- USE LxERP -%][%- USE L -%]<h1>[% LxERP.t8("Chart configuration overview regarding reports") %]</h1>

[% FOREACH data = DATA %]
 [% UNLESS data.size == 1 %]
  <div id="[% HTML.escape(data.type) %]">
   [% LxERP.t8("Jump to") %]:
   [% FOREACH jump = DATA %]
    [% IF jump.type != data.type %]
     [% L.link("#" _ jump.type, jump.heading) %]
    [% END %]
   [% END %]
  </div>
 [% END %]

 <h2>[% HTML.escape(data.heading) %]</h2>

 [% FOREACH pos = data.positions %]
  [%- SET name = data.names.item(pos) %]
  <h3>[% IF name %][% LxERP.t8("Position #1: #2", pos, name) %][% ELSE %][% LxERP.t8("Position #1", pos) %][% END %]</h3>

  [%- SET charts = data.charts.$pos %]
  <table>
   <thead>
    <tr class="listheading">
     <th>[% LxERP.t8("Account") %]</th>
     <th>[% LxERP.t8("Description") %]</th>
    </tr>
   </thead>

   <tbody>
    [% FOREACH chart = charts %]
    <tr>
     <td>[% L.link("am.pl?action=edit_account&id=" _ chart.id, chart.accno) %]</td>
     <td>[% HTML.escape(chart.description) %]</td>
    </tr>
    [% END %]
   </tbody>
  </table>
 [% END %]
[% END %]
