[%- USE LxERP %]
  <tr>
   <td>
    <table width="100%">
     <tr class="listheading">
[% IF is_credit_note %]
      <th colspan="6" class="listheading"><translate>Payments</translate></th>
[% ELSE %]
      <th colspan="6" class="listheading"><translate>Incoming Payments</translate></th>
[%- END %]
     </tr>


     <tr>
      <th><translate>Date</translate></th>
      <th><translate>Source</translate></th>
      <th><translate>Memo</translate></th>
      <th><translate>Amount</translate></th>
[% IF show_exchangerate %]
      <th><translate>Exch</translate></th>
[% END %]
      <th><translate>Account</translate></th>
     </tr>


[% FOREACH i = paid_indices %]
  [% SET datepaid      = 'datepaid_'      _ i %]
  [% SET source        = 'source_'        _ i %]
  [% SET memo          = 'memo_'          _ i %]
  [% SET paid          = 'paid_'          _ i %]
  [% SET selectAR_paid_ref = 'selectAR_paid_' _ i %]

     <tr>

    <td align="center">
      <input id="datepaid_[% i %]" name="datepaid_[% i %]" size="11" title="[% dateformat %]" value="[% $datepaid %]">
      <input type="button" name="datepaid_[% i %]" id="trigger_datepaid_[% i %]" value="?">
     </td>
     <td align=center><input name="source_[% i %]" size="11" value="[% $source %]"></td>
     <td align="center"><input name="memo_[% i %]" size="11" value="[% $memo %]"></td>
     <td align="center"><input name="paid_[% i %]" size="11" value="[% LxERP.format_amount($paid, 2, 1) %]"></td>
[% IF show_exchangerate %]
     <td align="center">
  [% SET row.forex        = 'forex_'        _ i %]
  [% SET row.exchangerate = 'exchangerate_' _ i %]
  [% IF row.forex %]
        <input type="hidden" name="exchangerate_[% i %]" value="[% LxERP.format_amount($exchangerate, 2) %]">
        [% LxERP.format_amount(row.exchangerate, 2) %]
  [% ELSE %]
        <input name="exchangerate_[% i %]" size="10" value="[% LxERP.format_amount($exchangerate, 2, 1) %]">
  [% END %]
        <input type="hidden" name="forex_[% i %]" value="[% $forex %]">;
     </td>
[% END %]
     <td align="center"><select name="AR_paid_$i">[% $selectAR_paid_ref %]</select></td>

    </tr>
[%#     push(@triggers, "datepaid_$i", "BL", "trigger_datepaid_$i"); %]
    <script type='text/javascript'>
     Calendar.setup({ inputField : "datepaid_[% i %]", ifFormat :"[% myconfig_jsc_dateformat %]", align : "TR", button : "trigger_datepaid_[% i %]" });
     $('input[name="paid_[% i %]"]').blur(function(){ check_right_number_format(this) });
     $('#datepaid_[% i %]').blur(function(){ check_right_date_format(this) });
    </script>

[% END # foreach %]

    <tr>
      <td></td>
      <td></td>
      <td align="center"><translate>Total</translate></td>
      <td align="center">[% LxERP.foramt_amount(totalpaid, 2) | html %]</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td align="center"><translate>Missing amount</translate></td>
      <td align="center">[% LxERP.format_amount(paid_missing, 2) | html %]</td>
    </tr>

     <input type="hidden" name="paidaccounts" value="[% paidaccounts %]">
     <input type="hidden" name="selectAR_paid" value="[% selectAR_paid %]">
     <input type="hidden" name="oldinvtotal" value="[% rowcount %]">

     <input type="hidden" name="oldtotalpaid" value="$totalpaid">
    </table>

    </td>
  </tr>
