[%- USE LxERP %]
  <tr>
   <td>
    <table width="100%">
     <tr class="listheading">
[% IF is_credit_note %]
      <th colspan="6" class="listheading">Zahlungsausgänge</th>
[% ELSE %]
      <th colspan="6" class="listheading">Zahlungseingänge</th>
[%- END %]
     </tr>


     <tr>
      <th>Datum</th>
      <th>Beleg</th>
      <th>Memo</th>
      <th>Betrag</th>
[% IF show_exchangerate %]
      <th>Wechselkurs.</th>
[% END %]
      <th>Konto</th>
     </tr>


[% paidaccounts %]

[% FOREACH i = paid_indices %]
[% SET row = {} %]
  [% SET row.datepaid    = 'datepaid_'    _ i %]
  [% SET row.source      = 'source_'      _ i %]
  [% SET row.memo        = 'memo_'        _ i %]
  [% SET row.paid        = 'paid_'        _ i %]

     <tr>

    <td align="center">
      <input id="datepaid_[% i %]" name="datepaid_[% i %]" size="11" title="$myconfig{dateformat}" value="[% row.datepaid %]" onBlur=\"check_right_date_format(this)\">
      <input type="button" name="datepaid_[% i %]" id="trigger_datepaid_[% i %]" value="?">
     </td>
     <td align=center><input name="source_[% i %]" size="11" value="[% row.source %]"></td>|;
     <td align="center"><input name="memo_[% i %]" size="11" value="[% row.memo %]"></td>|;
     <td align="center"><input name="paid_[% i %]" size="11" value="[% row.paid %]" onBlur=\"check_right_number_format(this)\"></td>|;
     <td align="center">
[% IF show_exchangerate %]
  [% SET row.forex        = 'forex_'        _ i %]
  [% SET row.exchangerate = 'exchangerate_' _ i %]
  [% IF row.forex %]
        <input type="hidden" name="exchangerate_[% i %]" value="[% row.exchangerate %]">
        [% row.exchangerate | html %]
  [% ELSE %]
        <input name="exchangerate_[% i %]" size="10" value="[% row.exchangerate %]">
  [% END %]
        <input type="hidden" name="forex_[% i %]" value="[% row.forex %]">;
[% END %]
     </td>
     <td align="center"><select name="AR_paid_$i">$form->{"selectAR_paid_$i"}</select></td>|;

    </tr>
[%#     push(@triggers, "datepaid_$i", "BL", "trigger_datepaid_$i"); %]

[% END # foreach %]

    <tr>
      <td></td>
      <td></td>
      <td align="center">Summe</td>
      <td align="center">[% LxERP.foramt_amount(totalpaid, 2) | html %]</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td align="center">Fehlbetrag</td>
      <td align="center">[% LxERP.format_amount(paid_missing, 2) | html %]</td>
    </tr>

  <input type="hidden" name="paidaccounts" value="[% paidaccounts %]">
  <input type="hidden" name="selectAR_paid" value="[% selectAR_paid %]">
  <input type="hidden" name="oldinvtotal" value="[% rowcount %]">

  <input type="hidden" name="oldtotalpaid" value="$totalpaid">
    </table>

    </td>
  </tr>
