[%- USE T8 %]
[%- USE HTML %]
[%- USE LxERP %]
[%- USE L %][%- USE P -%]
  <tr>
   <td>
    <table width="100%">
     <tr valign="bottom">
      <td>
       <table>
        <tr>
         <th align="left">[% 'Notes (will appear on hard copy)' | $T8 %]</th>
         <th align="left">[% 'Internal Notes' | $T8 %]</th>
         <th align="right">[% 'Payment / Delivery Options' | $T8 %]</th>
        </tr>
        <tr valign="top">
         <td>
          [% L.textarea_tag("notes", notes, wrap="soft", style="width: 350px; height: 150px", class="texteditor") %]
         </td>
         <td>
          [% L.textarea_tag("intnotes", intnotes, wrap="soft", style="width: 350px; height: 150px") %]
         </td>
         <td>
           <table>
             <tr>
               <th align="right">[% 'Payment Terms' | $T8 %]</th>
               <td>[% L.select_tag('payment_id', payment_terms, default = payment_id, title_key = 'description', with_empty = 1, style="width: 250px") %]
                 <script type='text/javascript'>$('#payment_id').change(function(){ kivi.SalesPurchase.set_duedate_on_reference_date_change("invdate"); })</script>
               </td>
             </tr>
             <tr>
               <th align="right">[% 'Delivery Terms' | $T8 %] </th>
               <td>
                 [% L.select_tag('delivery_term_id', ALL_DELIVERY_TERMS, default = delivery_term_id, with_empty = 1, title_key = 'description', style = 'width: 250px') %]
               </td>
             </tr>
             <tr>
               <th align="right">[% 'direct debit' | $T8 %]</th>
               <td>
                 [%- L.checkbox_tag('direct_debit', 'checked', direct_debit) %]
               </td>
             </tr>
           </table>
         </td>
        </tr>
[%- IF id && follow_ups.size %]
        <tr>
          <td colspan="2">
            [%- LxERP.t8('There are #1 unfinished follow-ups of which #2 are due.', follow_ups.size, follow_ups_unfinished) | html %]
          <td>
        </tr>
[%- END %]
       </table>
      </td>
[%- IF show_weight %]
      <td>
       <table>
        <tr>
         <th  align=left>[% 'Total weight' | $T8 %]</th>
         <td>
          [% LxERP.format_amount(totalweight) %] [% HTML.escape(weightunit) %]
         </td>
        </tr>
       </table>
      </td>
[%- END %]
      <td>
       <table>
        <tr>
         <th  align=left>[% 'Ertrag' | $T8 %]</th>
         <td>
          [% LxERP.format_amount(marge_total, 2, 0) %]
          <input type=hidden name="marge_total" value="[% marge_total %]">
         </td>
        </tr>
        <tr>
         <th  align=left>[% 'Ertrag prozentual' | $T8 %]</th>
         <td>
          [% LxERP.format_amount(marge_percent, 2, 0) %] %
          <input type=hidden name="marge_percent" value="[% marge_percent %]">
         </td>
        </tr>
       </table>
      </td>
      <td align="right">
  [%- IF taxaccounts %]
       <input type="hidden" name="taxincluded_changed_by_user" id="taxincluded_changed_by_user" value="[% taxincluded_changed_by_user ? '1' : '0' %]">
       <input name="taxincluded" onclick="document.getElementById('taxincluded_changed_by_user').value = '1';" class="checkbox" type="checkbox" [% IF taxincluded %]checked[% END %]>
       <b>[% 'Tax Included' | $T8 %]</b>
       <br>
       <br>
  [%- END %]
       <table>

[%- UNLESS taxincluded %]
        <tr>
         <th align="right">[% 'Subtotal' | $T8 %]</th>
         <td align="right">[% LxERP.format_amount(invsubtotal, 2) %]</td>
       </tr>
[%- END %]

[%# tax %]
[% FOREACH item = taxaccounts_array %]
[% SET description_ref = item _ '_description' %]
[% SET rate_ref        = item _ '_rate' %]
[% SET total_ref       = item _ '_total' %]
[% SET netto_ref       = item _ '_netto' %]
       <tr>
        <th align="right">[% 'Including' | $T8 %] [% $description_ref | html %]&nbsp;[% $rate_ref * 100 %]%</th>
        <td align="right">[% LxERP.format_amount($total_ref, 2) %]</td>
       </tr>
  [%- IF taxincluded %]
       <tr>
        <th align="right">[% 'Net amount' | $T8 %]</th>
        <td align="right">[% LxERP.format_amount($netto_ref, 2) %]</td>
       </tr>
  [%- END %]
[%- END %]

[%- IF rounding %]
        <tr>
          <th align='right'>[% 'Rounding' | $T8 %]</th>
          <td align='right'>[% LxERP.format_amount(rounding, 2) %]</td>
        </tr>
[%- END %]

        <tr>
         <th align="right">[% 'Total' | $T8 %]</th>
         <td align="right">[% LxERP.format_amount(invtotal, 2) %]</td>
        </tr>
       </table>
      </td>
     </tr>
    </table>
   </td>
  </tr>

[% PROCESS 'is/_payments.html' %]
 </table>
</div>
[% PROCESS 'webdav/_list.html' %]
<div id="ui-tabs-1">
 [% LxERP.t8('Loading...') %]
</div>
</div>

<input type="hidden" name="rowcount" value="[% rowcount %]">
<input type="hidden" name="callback" value="[% callback | html %]">
[% P.hidden_tag('draft_id', draft_id) %]
[% P.hidden_tag('draft_description', draft_description) %]
<input type="hidden" name="customer_discount" value="[% customer_discount %]">
<input type="hidden" name="gldate" value="[% gldate %]">

<div id="shipto_inputs" class="hidden">
 [%- PROCESS 'common/_ship_to_dialog.html' cvars=shipto_cvars %]
</div>

<div id="email_inputs" style="display: none"></div>

<div id="print_options" style="display: none">
 [% print_options %]
</div>
</form>
<script type='text/javascript'>
 $(kivi.SalesPurchase.init_on_submit_checks);
</script>

<div id="shipto_dialog" class="hidden"></div>
<div id="print_dialog" class="hidden">
 [%- PROCESS 'common/_print_dialog.html' %]
</div>
