[%- USE HTML %]
[%- USE LxERP %]
  <tr>
   <td>
    <table width="100%">
     <tr valign="bottom">
      <td>
       <table>
        <tr>
         <th align="left"><translate>Notes</translate></th>
         <th align="left"><translate>Internal Notes</translate></th>
         <th align="right"><translate>Payment Terms</translate></th>
        </tr>
        <tr valign="top">
         <td>
          <textarea name="notes" rows="[% rows %]" cols="26" wrap="soft">[% notes %]</textarea>
         </td>
         <td>
          <textarea name="intnotes" rows="[% rows %]" cols="35" wrap="soft">[% intnotes %]</textarea>
         </td>
         <td>
          <select id='payment_id' name="payment_id">

           $payment

          </select>
          <script type='text/javascript'>$('#payment_id').onchange(function(){
            if (this.value) set_duedate(['payment_id__' + this.value, 'invdate__' + invdate.value],['duedate'])})
          </script>
         </td>
        </tr>
        <tr>
          <td colspan="2">[% follow_up_text %]</td>
        </tr>

       </table>
      </td>
      <td>
       <table>
        <tr>
         <th  align=left><translate>Ertrag</translate></th>
         <td>[% LxERP.format_amount(marge_total, 2, 0) %]</td>
        </tr>
        <tr>
         <th  align=left><translate>Ertrag prozentual</translate></th>
         <td>[% LxERP.format_amount(marge_percent, 2, 0) %] %</td>
        </tr>
        <input type=hidden name="marge_total" value="[% marge_total %]">
        <input type=hidden name="marge_percent" value="[% marge_percent %]">
       </table>
      </td>
      <td align="right">
  [%- IF taxaccounts %]
       <input name="taxincluded" class="checkbox" type="checkbox" [% IF taxincluded %]checked[% END %]>
       <b><translate>Tax Included</translate></b>
       <br>
       <br>
  [%- END %]
       <table>

[%#- subtotal %]
[%- UNLESS taxincluded %]
        <tr>
         <th align="right"><translate>Subtotal</translate></th>
         <td align="right">[% LxERP.format_amount(invsubtotal, 2) %]</td>
       </tr>
[%- END %]

[%# tax %]
[% FOREACH item = taxaccounts_array %]
[% SET description_ref = item _ '_description' %]
[% SET rate_ref        = item _ '_rate' %]
[% SET total_ref       = item _ '_total' %]
[% SET netto_ref       = item _ '_netto' %]
       <tr>
        <th align="right">Enthaltene [% $description_ref | html %]&nbsp;[% $rate_ref * 100 %]%</th>
        <td align="right">[% LxERP.format_amount($total_ref, 2) %]</td>
       </tr>
  [%- IF taxincluded %]
       <tr>
        <th align="right">Nettobetrag</th>
        <td align="right">[% LxERP.format_amount($netto_ref, 2) %]</td>
       </tr>
  [%- END %]
[%- END %]

        <tr>
         <th align="right"><translate>Total</translate></th>
         <td align="right">[% invtotal %]</td>
        </tr>
       </table>
      </td>
     </tr>
    </table>
   </td>
  </tr>

[%#--------------------------- WEB DAV BLOCK %]
[%- IF webdav %]
  <tr>
   <td><hr size="3" noshade></td>
  </tr>
  <tr>
   <th class="listtop" align="left">Dokumente im Webdav-Repository</th>
  </tr>
   <table width="100%">
    <tr>
     <td align="left" width="30%"><b>Dateiname</b></td>
     <td align="left" width="70%"><b>Webdavlink</b></td>
    </tr>
 [%- FOREACH file = WEBDAV %]
    <tr>
     <td align="left">[% file.name %]</td>
     <td align="left"><a href="[% file.link %]">[% file.type %]</a></td>
    </tr>
 [%- END %]
   </table>
  </tr>
[% END %]
[%#--------------------------- WEB DAV BLOCK %]


[% PROCESS 'is/_payments_<translate>master</translate>.html' %]



  <tr>
    <td><hr size="3" noshade></td>
  </tr>
  <tr>
    <td>
[% print_options %]
    </td>
  </tr>
 </table>



  [% IF id %]

    <input class="submit" type="submit" accesskey="u" name="action" id="update_button" value="<translate>Update</translate>">
    <input class="submit" type="submit" name="action" value="<translate>Ship to</translate>">
    <input class="submit" type="submit" name="action" value="<translate>Print</translate>">
    <input class="submit" type="submit" name="action" value="<translate>E-mail</translate>">
[% IF  show_storno %]
    <input class="submit" type="submit" name="action" value="<translate>Storno</translate>">
[% END %]
    <input class="submit" type="submit" name="action" value="<translate>Post Payment</translate>">
    <input class="submit" type="submit" name="action" value="<translate>Use As Template</translate>">

[% IF id && is_credit_note %]
    <input class="submit" type="submit" name="action" value="<translate>Credit Note</translate>">
[% END %]
[% IF show_delete %]
    <input class="submit" type="submit" name="action" value="<translate>Delete</translate>">
[% END %]

  [%- UNLESS locked %]
       <input class="submit" type="submit" name="action" value="<translate>Order</translate>">
  [%- END %]

    <input type="button" class="submit" onclick="follow_up_window()" value="<translate>Follow-Up</translate>">

 [% ELSE # no id %]
   [% UNLESS locked %]
      <input class="submit" type="submit" name="action" id="update_button" value="<translate>Update</translate>">
      <input class="submit" type="submit" name="action" value="<translate>Ship to</translate>">
      <input class="submit" type="submit" name="action" value="<translate>Preview</translate>">
      <input class="submit" type="submit" name="action" value="<translate>E-mail</translate>">
      <input class="submit" type="submit" name="action" value="<translate>Print and Post</translate>">
      <input class="submit" type="submit" name="action" value="<translate>Post</translate>">
      <input class="submit" type="submit" name="action" value="<translate>Save Draft</translate>">
   [%- END %]
 [% END # id %]

  [% IF id %]
      [%#- button for saving history %]
      <input type="button" class="submit" onclick="set_history_window([% id | html %]);" name="history" id="history" value="<translate>history</translate>">

      <input type="submit" class="submit" name="action" value="<translate>mark as paid</translate>">
  [% END %]

<input type="hidden" name="rowcount" value="[% rowcount %]">
<input type="hidden" name="callback" value="[% callback %]">
<input type="hidden" name="draft_id" value="[% draft_id %]">
<input type="hidden" name="draft_description" value="[% draft_description %]">
<input type="hidden" name="customer_discount" value="[% customer_discount %]">

</form>

</body>

</html>
