[%- USE T8 %]
[%- USE HTML %]
[%- USE LxERP %]
[%- USE L %][%- USE P -%]
  <tr>
   <td>
    <table width="100%">
     <tr valign="bottom">
      <td>
       <table>
        <tr>
         <th align="left">[% 'Notes (will appear on hard copy)' | $T8 %]</th>
         <th align="left">[% 'Internal Notes' | $T8 %]</th>
         <th align="right">[% 'Payment / Delivery Options' | $T8 %]</th>
        </tr>
        <tr valign="top">
         <td>
          [% L.textarea_tag("notes", notes, wrap="soft", style="width: 350px; height: 150px", class="texteditor") %]
         </td>
         <td>
          <textarea name="intnotes" rows="[% rows %]" cols="35">[% intnotes %]</textarea>
         </td>
         <td>
           <table>
             <tr>
               <th align="right">[% 'Payment Terms' | $T8 %]</th>
               <td>[% L.select_tag('payment_id', payment_terms, default = payment_id, title_key = 'description', with_empty = 1, style="width: 250px") %]
                 <script type='text/javascript'>$('#payment_id').change(function(){ kivi.SalesPurchase.set_duedate_on_reference_date_change("invdate"); })</script>
               </td>
             </tr>
             <tr>
               <th align="right">[% 'Delivery Terms' | $T8 %] </th>
               <td>
                 [% L.select_tag('delivery_term_id', ALL_DELIVERY_TERMS, default = delivery_term_id, with_empty = 1, title_key = 'description', style = 'width: 250px') %]
               </td>
             </tr>
             <tr>
               <th align="right">[% 'direct debit' | $T8 %]</th>
               <td>
                 [%- L.checkbox_tag('direct_debit', 'checked', direct_debit) %]
               </td>
             </tr>
           </table>
         </td>
        </tr>
[%- IF id && follow_ups.size %]
        <tr>
          <td colspan="2">
            [%- LxERP.t8('There are #1 unfinished follow-ups of which #2 are due.', follow_ups.size, follow_ups_unfinished) | html %]
          <td>
        </tr>
[%- END %]
       </table>
      </td>
[%- IF show_weight %]
      <td>
       <table>
        <tr>
         <th  align=left>[% 'Total weight' | $T8 %]</th>
         <td>
          [% LxERP.format_amount(totalweight) %] [% HTML.escape(weightunit) %]
         </td>
        </tr>
       </table>
      </td>
[%- END %]
      <td>
       <table>
        <tr>
         <th  align=left>[% 'Ertrag' | $T8 %]</th>
         <td>
          [% LxERP.format_amount(marge_total, 2, 0) %]
          <input type=hidden name="marge_total" value="[% marge_total %]">
         </td>
        </tr>
        <tr>
         <th  align=left>[% 'Ertrag prozentual' | $T8 %]</th>
         <td>
          [% LxERP.format_amount(marge_percent, 2, 0) %] %
          <input type=hidden name="marge_percent" value="[% marge_percent %]">
         </td>
        </tr>
       </table>
      </td>
      <td align="right">
  [%- IF taxaccounts %]
       <input type="hidden" name="taxincluded_changed_by_user" id="taxincluded_changed_by_user" value="[% taxincluded_changed_by_user ? '1' : '0' %]">
       <input name="taxincluded" onclick="document.getElementById('taxincluded_changed_by_user').value = '1';" class="checkbox" type="checkbox" [% IF taxincluded %]checked[% END %]>
       <b>[% 'Tax Included' | $T8 %]</b>
       <br>
       <br>
  [%- END %]
       <table>

[%- UNLESS taxincluded %]
        <tr>
         <th align="right">[% 'Subtotal' | $T8 %]</th>
         <td align="right">[% LxERP.format_amount(invsubtotal, 2) %]</td>
       </tr>
[%- END %]

[%# tax %]
[% FOREACH item = taxaccounts_array %]
[% SET description_ref = item _ '_description' %]
[% SET rate_ref        = item _ '_rate' %]
[% SET total_ref       = item _ '_total' %]
[% SET netto_ref       = item _ '_netto' %]
       <tr>
        <th align="right">[% 'Including' | $T8 %] [% $description_ref | html %]&nbsp;[% $rate_ref * 100 %]%</th>
        <td align="right">[% LxERP.format_amount($total_ref, 2) %]</td>
       </tr>
  [%- IF taxincluded %]
       <tr>
        <th align="right">[% 'Net amount' | $T8 %]</th>
        <td align="right">[% LxERP.format_amount($netto_ref, 2) %]</td>
       </tr>
  [%- END %]
[%- END %]

[%- IF rounding %]
        <tr>
          <th align='right'>[% 'Rounding' | $T8 %]</th>
          <td align='right'>[% LxERP.format_amount(rounding, 2) %]</td>
        </tr>
[%- END %]

        <tr>
         <th align="right">[% 'Total' | $T8 %]</th>
         <td align="right">[% LxERP.format_amount(invtotal, 2) %]</td>
        </tr>
       </table>
      </td>
     </tr>
    </table>
   </td>
  </tr>

[% PROCESS 'is/_payments.html' %]
 </table>
</div>
[% PROCESS 'webdav/_list.html' %]
<div id="ui-tabs-1">
 [% LxERP.t8('Loading...') %]
</div>
</div>

<hr size="3" noshade>

<p>[% print_options %]</p>

<div id='form_action_bar'>
  <input type="hidden" id="action" name="action" value="dispatcher">

  [% IF id %]
    <input class="submit" type="submit" accesskey="u" name="action_update" id="update_button" value="[% 'Update' | $T8 %]">
    <input class="submit" type="submit" name="action_ship_to" value="[% 'Ship to' | $T8 %]">
    <input class="submit" type="submit" name="action_print" id="action_print" value="[% 'Print' | $T8 %]" data-require-transaction-description="[% INSTANCE_CONF.get_require_transaction_description_ps %]">
    <input class="submit" type="submit" name="action_e_mail" value="[% 'E-mail' | $T8 %]" data-require-transaction-description="[% INSTANCE_CONF.get_require_transaction_description_ps %]">
[% IF  show_storno %]
    [% L.submit_tag("action_storno", LxERP.t8("Storno"), "data-require-transaction-description"=INSTANCE_CONF.get_require_transaction_description_ps, confirm=LxERP.t8('Do you really want to cancel this invoice?')) %]
[% END %]
    <input class="submit" type="submit" name="action_post_payment" value="[% 'Post Payment' | $T8 %]">
    <input class="submit" type="submit" name="action_use_as_new" value="[% 'Use As New' | $T8 %]">

[% IF id && !is_type_credit_note %]
    <input class="submit" type="submit" name="action_credit_note" value="[% 'Credit Note' | $T8 %]" data-require-transaction-description="[% INSTANCE_CONF.get_require_transaction_description_ps %]">
[% END %]
[% IF show_delete && (!storno || storno_id) %]
    [% L.submit_tag("action_delete", LxERP.t8("Delete"), confirm=LxERP.t8('Do you really want to delete this invoice?')) %]
[% END %]
[% IF show_delete && !storno %]
    <input class="submit" type="submit" name="action_post" value="[% 'Post' | $T8 %]" data-require-transaction-description="[% INSTANCE_CONF.get_require_transaction_description_ps %]">
[% END %]
    <input class="submit" type="submit" name="action_order" value="[% 'Order' | $T8 %]">
    <input type="button" class="submit" onclick="follow_up_window()" value="[% 'Follow-Up' | $T8 %]">

 [% ELSE # no id %]
   [% UNLESS locked %]
      <input class="submit" type="submit" name="action_update" id="update_button" value="[% 'Update' | $T8 %]">
      <input class="submit" type="submit" name="action_ship_to" value="[% 'Ship to' | $T8 %]">
      <input class="submit" type="submit" name="action_preview" value="[% 'Preview' | $T8 %]" data-require-transaction-description="[% INSTANCE_CONF.get_require_transaction_description_ps %]">
      <input class="submit" type="submit" name="action_post_and_e_mail" value="[% 'Post and E-mail' | $T8 %]" data-require-transaction-description="[% INSTANCE_CONF.get_require_transaction_description_ps %]">
      <input class="submit" type="submit" name="action_print_and_post" value="[% 'Print and Post' | $T8 %]" data-require-transaction-description="[% INSTANCE_CONF.get_require_transaction_description_ps %]">
      <input class="submit" type="submit" name="action_post" value="[% 'Post' | $T8 %]" data-require-transaction-description="[% INSTANCE_CONF.get_require_transaction_description_ps %]">
      [% L.button_tag('kivi.Draft.popup("is", "invoice", "' _ draft_id _ '", "' _ draft_description _ '")', LxERP.t8('Drafts')) %]
   [%- END %]
 [% END # id %]

  [% IF id %]
      [%#- button for saving history %]
      <input type="button" class="submit" onclick="set_history_window([% id | html %], 'glid');" name="history" id="history" value="[% 'history' | $T8 %]">
      [% IF INSTANCE_CONF.get_is_show_mark_as_paid %]
        [% L.submit_tag("action_mark_as_paid", LxERP.t8('mark as paid'), confirm=LxERP.t8('This will remove the invoice from showing as unpaid even if the unpaid amount does not match the amount. Proceed?')) %]
      [% END %]
  [% END %]

  [% IF callback %]
    <a href="[% callback %]">[% 'back' | $T8  %]</a>
  [% END %]
</div>

<input type="hidden" name="rowcount" value="[% rowcount %]">
<input type="hidden" name="callback" value="[% callback | html %]">
[% P.hidden_tag('draft_id', draft_id) %]
[% P.hidden_tag('draft_description', draft_description) %]
<input type="hidden" name="customer_discount" value="[% customer_discount %]">
<input type="hidden" name="gldate" value="[% gldate %]">
</form>
<script type='text/javascript'>
 $(kivi.SalesPurchase.init_on_submit_checks);
</script>
