#frame-header .frame-header-element a:link,
#frame-header .frame-header-element a:visited,
#frame-header .frame-header-element a:hover,
#frame-header .frame-header-element a:active {
  color: black;
  background: none;
  text-decoration: underline;
}

#frame-header {
  background-color: #d0cfc9;
  text-align: left;
  margin: 0;
  color: black;
  border: 0;
  overflow: hidden;
  height: 20px;
  width: 100%;
  border-spacing: 0;
  position: fixed;
  top: 0;
  z-index: 40;
}

#frame-header + div {
  padding-top: 20px;
}


#frame-header .frame-header-left {
  float: left;
  margin-right: 10px;
}
#frame-header .frame-header-right {
  float: right;
}

#frame-header .frame-header-left,
#frame-header .frame-header-center,
#frame-header .frame-header-right  {
  border-spacing: 0;
  color: black;
  padding: 0;
  vertical-align: middle;
}

#frame-header .frame-header-right {
  vertical-align: middle;
}

#frame-header #ajax-spinner {
  display: none;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
}

#frame-header input {
  font-size: 100%;
  margin-top: 1px;
}
