[%- USE HTML -%][%- USE LxERP -%][%- USE L -%][%- USE P -%]

[% SET style="width: 400px" %]

<table>
 <tr>
  <th align="right">[% LxERP.t8('Description') %]</th>
  <td>[%- L.input_tag("object.name", SELF.object.name, style=style, "data-validate"="required", "data-title"=LxERP.t8("Description")) %]</td>
 </tr>
 <tr>
  <th align="right">[% LxERP.t8('IBAN') %]</th>
  <td>[%- L.input_tag("object.iban", SELF.object.iban, style=style, "data-validate"="required", "data-title"=LxERP.t8("IBAN")) %]</td>
 </tr>
 <tr>
  <th align="right">[% LxERP.t8('QR-IBAN (Swiss)') %]</th>
  <td>[% L.input_tag("object.qr_iban", SELF.object.qr_iban, style=style) %]</td>
 </tr>
 <tr>
  <th align="right">[% LxERP.t8('Bank') %]</th>
  <td>[%- L.input_tag("object.bank", SELF.object.bank, style=style) %]</td>
 </tr>
 <tr>
  <th align="right">[% LxERP.t8('Account number') %]</th>
  <td>[%- L.input_tag("object.account_number", SELF.object.account_number, style=style) %]</td>
 </tr>
 <tr>
  <th align="right">[% LxERP.t8('BIC') %]</th>
  <td>[%- L.input_tag("object.bic", SELF.object.bic, style=style) %]</td>
 </tr>
 <tr>
  <th align="right">[% LxERP.t8('Bank code') %]/[% LxERP.t8('SWIFT') %]</th>
  <td>[%- L.input_tag("object.bank_code", SELF.object.bank_code, style=style) %]</td>
 </tr>
 <tr>
  <th align="right">[% LxERP.t8('Bank Account Id Number (Swiss)') %]</th>
  <td>[%- L.input_tag("object.bank_account_id", SELF.object.bank_account_id, style=style) %]</td>
 </tr>
 <tr>
  <th align="right">[% LxERP.t8('Chart') %]</th>
  <td>[% P.chart.picker('object.chart_id', SELF.object.chart_id, type='AR_paid,AP_paid', category='A,L,Q', choose=1, style=style, "data-validate"="required", "data-title"=LxERP.t8("Chart")) %]</td>
 </tr>
 <tr>
  <th align="right">[% LxERP.t8('Use with bank import') %]</th>
  <td>
    [% L.checkbox_tag('object.use_with_bank_import', checked = SELF.object.use_with_bank_import, for_submit=1) %]
    <strong>[% LxERP.t8('Warning') %]:</strong> [% LxERP.t8('If this option is disabled, the bank import is not possible for this account anymore. In the case of invoices and accounts payable and receivable entries, incoming and outgoing payments can then be posted directly to the account manually.') %]
  </td>
</tr>
 <tr>
  <th align="right">[% LxERP.t8('Use for Factur-X/ZUGFeRD') %]</th>
  <td>[% L.checkbox_tag('object.use_for_zugferd', checked = SELF.object.use_for_zugferd, for_submit=1) %]</td>
 </tr>
 <tr>
  <th align="right">[% LxERP.t8('Use for Swiss QR-Bill') %]</th>
  <td>[% L.checkbox_tag('object.use_for_qrbill', checked = SELF.object.use_for_qrbill, for_submit=1) %]</td>
 </tr>
 <tr>
  <th align="right">[% LxERP.t8('Obsolete') %]</th>
  <td>[% L.checkbox_tag('object.obsolete', checked = SELF.object.obsolete, for_submit=1) %]</td>
 </tr>
 <tr>
  <td align="left">[% LxERP.t8('Reconciliation') %]:</td>
  <td></td>
 </tr>
 <tr>
  <th align="right">[% LxERP.t8('Starting date') %]</th>
  <td>[% L.date_tag('object.reconciliation_starting_date', SELF.object.reconciliation_starting_date) %]</td>
 </tr>
 <tr>
  <th align="right">[% LxERP.t8('Starting balance') %]</th>
  <td>[%- L.input_tag('object.reconciliation_starting_balance_as_number', SELF.object.reconciliation_starting_balance_as_number) %]</td>
 </tr>
</table>
