[%- USE LxERP -%][%- USE L -%][%- USE HTML -%]
[% SET style="width: 250px" %]
<table>
 <tr>
  <th align="right">[% LxERP.t8("Language") %]</th>
  <td>[% L.input_tag("object.description", SELF.object.description, style=style, "data-validate"="required", "data-title"=LxERP.t8("Language")) %]</td>
 <tr>
 <tr>
  <th align="right">[% LxERP.t8("Template Code") %]</th>
  <td>[% L.input_tag("object.template_code", SELF.object.template_code, style=style) %]</td>
 </tr>
 <tr>
  <th align="right">[% LxERP.t8("Article Code") %]</th>
  <td>[% L.input_tag("object.article_code", SELF.object.article_code, style=style) %]</td>
 </tr>
 <tr>
  <th align="right">[% LxERP.t8("Number Format") %]</th>
  <td>[% L.select_tag("object.output_numberformat", SELF.numberformats, default=SELF.object.output_numberformat, with_empty=1, empty_title=LxERP.t8("use program settings"), style=style) %]</td>
 </tr>
 <tr>
  <th align="right">[% LxERP.t8("Date Format") %]</th>
  <td>[% L.select_tag("object.output_dateformat", SELF.dateformats, default=SELF.object.output_dateformat, with_empty=1, empty_title=LxERP.t8("use program settings"), style=style) %]</td>
 </tr>
 <tr>
  <th align="right">[% LxERP.t8("Long Dates") %]</th>
  <td>[% L.yes_no_tag("object.output_longdates", SELF.object.output_longdates, style=style) %]</td>
 </tr>
</table>
