
% \employeecountry wird fuer lxo fancy LaTeX benoetigt
\newcommand{\employeecountry}{Deutschland}



% die folgenden definitionen koennten auch direkt in der Steuerdatei *.lco stehen
\newcommand{\MYfromname}{Die globalen Problemlöser}
\newcommand{\MYaddrsecrow}{Gesellschaft für anderer Leute Sorgen mbH}
\newcommand{\MYrechtsform}{Handelsregister: HRA 123456789 }
\newcommand{\MYfromaddress}{Hauptstraße 5\\12345 Hier}
\newcommand{\MYfromphone}{Tel: +49 (0)12 3456780}
\newcommand{\MYfromfax}{Fax: +49 (0)12 3456781}
\newcommand{\MYfromemail}{mail@g-problemloeser.com}
\newcommand{\MYsignature}{Herbert Wichtig - Geschäftsführer}
\newcommand{\MYustid}{UstID: DE 123 456 789}
\newcommand{\MYfrombank}{Bankverbindung\\
          Ensifera Bank\\
          Kto 1234567800\\
           BLZ 123 456 78
}
