[% USE HTML %][% USE L %][% USE LxERP %]

 <form method="post" action="controller.pl">
  <div class="listtop">[% FORM.title %]</div>

[%- INCLUDE 'common/flash.html' %]

  <table>
   <tr>
    <td>[% LxERP.t8('Name') %]</sup></td>
    <td>[% L.select_tag("requirement_spec_status.name",  SELF.valid_names, default = SELF.requirement_spec_status.name) %]</td>
   </tr>

   <tr>
    <td>[% LxERP.t8('Description') %]</td>
    <td>[% L.input_tag("requirement_spec_status.description", SELF.requirement_spec_status.description) %]</td>
   </tr>
  </table>

  <p>
   [% L.hidden_tag("id", SELF.requirement_spec_status.id) %]
   [% L.hidden_tag("action", "RequirementSpecStatus/dispatch") %]
   [% L.submit_tag("action_" _ (SELF.requirement_spec_status.id ? "update" : "create"), LxERP.t8('Save')) %]
   [%- IF SELF.requirement_spec_status.id %]
    [% L.submit_tag("action_destroy", LxERP.t8('Delete'), confirm=LxERP.t8('Do you really want to delete this object?')) %]
   [%- END %]
   <a href="[% SELF.url_for(action => 'list') %]">[%- LxERP.t8('Abort') %]</a>
  </p>
 </form>
