[%- USE T8 %]
[% USE HTML %]

 <p><div class="listtop">[% title %]</div></p>

 <form action="sepa.pl" method="post">
  <p>
   [%- IF vc == 'vendor' %]
    [%- 'Do you really want to close the following SEPA exports? No payment will be recorded for bank transfers that haven\'t been marked as executed yet.' | $T8 %]
   [%- ELSE %]
    [%- 'Do you really want to close the following SEPA exports? No payment will be recorded for bank collections that haven\'t been marked as executed yet.' | $T8 %]
   [%- END %]
  </p>

  <p>
   [% 'SEPA exports:' | $T8 %]
   [%- FOREACH id = OPEN_EXPORT_IDS %]
    [%- UNLESS loop.first %], [%- END %]
    <input type="hidden" name="open_export_ids[]" value="[% HTML.escape(id) %]">
    <a href="sepa.pl?action=bank_transfer_edit&id=[% HTML.url(id) %]&vc=[% HTML.url(vc) %]">[% HTML.escape(id) %]</a>
   [%- END %]
  </p>

  <p>
   <input type="submit" class="submit" name="action_bank_transfer_mark_as_closed_step2" value="[% 'Mark as closed' | $T8 %]">
   <input type="button" class="submit" value="[% 'Back' | $T8 %]" onclick="history.back()">
  </p>

  <input type="hidden" name="action" value="dispatcher">
  <input type="hidden" name="vc" value="[%- HTML.escape(vc) %]">
 </form>

