[%- USE T8 %]
[% USE HTML %]
[% USE LxERP %]
[%- USE L %]
[% IF vc == 'vendor' %]
 [% SET is_vendor = 1 %]
 [% SET arap = 'ap' %]
 [% SET iris = 'ir' %]
[% ELSE %]
 [% SET is_vendor = 0 %]
 [% SET arap = 'ar' %]
 [% SET iris = 'is' %]
[%- END %]
<h1>[% title %]: [% HTML.escape(export.ids.join(', ')) %]</h1>

 <form action="sepa.pl" method="post">
  <input type="hidden" name="action" value="dispatcher">

  <p>
   <table>
    <tr>
     [%- IF show_post_payments_button %]
      <th class="listheading" align="center"><input type="checkbox" id="select_all"></th>
     [%- END %]
     <th class="listheading">[% 'Invoice' | $T8 %]</th>
     <th class="listheading">[%- IF is_vendor %][% 'Vendor' | $T8 %][%- ELSE %][%- LxERP.t8('Customer') %][%- END %]</th>
     [%- IF is_vendor %]
      <th class="listheading" colspan="2">[% 'Source bank account' | $T8 %]</th>
      <th class="listheading" colspan="2">[% 'Target bank account' | $T8 %]</th>
     [%- ELSE %]
      <th class="listheading" colspan="2">[% 'Target bank account' | $T8 %]</th>
      <th class="listheading" colspan="2">[% 'Source bank account' | $T8 %]</th>
     [%- END %]
     <th class="listheading" align="right">[% 'Amount' | $T8 %]</th>
     <th class="listheading" align="right">[% 'Skonto amount' | $T8 %]</th>
     <th class="listheading" align="right">[% 'Payment type' | $T8 %]</th>
     [% IF vc == 'customer' %]
      <th class="listheading" align="right">[% 'Mandator ID' | $T8 %]</th>
     [%- END %]
     <th class="listheading">[% 'Reference' | $T8 %]</th>
     <th class="listheading" align="right">[% 'Requested execution date' | $T8 %]</th>
     <th class="listheading" align="right">[% 'Execution date' | $T8 %]</th>
    </tr>
    <tr>
     <th class="listheading" colspan="[% IF show_post_payments_button %]3[% ELSE %]2[% END %]">&nbsp;</th>
     <th class="listheading">[% 'IBAN' | $T8 %]</th>
     <th class="listheading">[% 'BIC' | $T8 %]</th>
     <th class="listheading">[% 'IBAN' | $T8 %]</th>
     <th class="listheading">[% 'BIC' | $T8 %]</th>
     [%- IF show_post_payments_button %]
      <th class="listheading" colspan="[% IF vc == 'customer' %]6[% ELSE %]5[% END %]">&nbsp;</th>
      <th class="listheading">
        [% L.date_tag('set_all_execution_date', '', onchange='set_all_execution_date_fields(this);') %]
      </th>
     [%- ELSE %]
      <th class="listheading" colspan="4">&nbsp;</th>
     [%- END %]
    </tr>

    [%- FOREACH item = export.items %]
     <tr class="listrow[% loop.count % 2 %]">
      [%- IF show_post_payments_button %]
       <input type="hidden" name="items[+].id" value="[% HTML.escape(item.id) %]">
       <input type="hidden" name="items[].sepa_export_id" value="[% HTML.escape(item.sepa_export_id) %]">
       <td align="center">
        [%- UNLESS item.executed %]
        <input type="checkbox" name="items[].selected" value="1">
        [%- END %]
       </td>
      [%- END %]
      <td>
       <a href="[% IF item.invoice %][% iris %][% ELSE %][% arap %][% END %].pl?action=edit&type=invoice&id=[% IF is_vendor %][% HTML.url(item.ap_id) %][% ELSE %][% HTML.url(item.ar_id) %][% END %]">[% HTML.escape(item.invnumber) %]</a>
      </td>
      <td>[% HTML.escape(item.vc_name) %]</td>
      <td>[% HTML.escape(item.our_iban) %]</td>
      <td>[% HTML.escape(item.our_bic) %]</td>
      <td>[% HTML.escape(item.vc_iban) %]</td>
      <td>[% HTML.escape(item.vc_bic) %]</td>
      <td align="right">[% HTML.escape(LxERP.format_amount(item.amount, 2)) %]</td>
      <td align="right">[% HTML.escape(LxERP.format_amount(item.skonto_amount, 2)) %]</td>
      <td align="right">[% item.payment_type | $T8 %]</td>
      [% IF vc == 'customer' %]
       <td>[% HTML.escape(item.mandator_id) %]</td>
      [%- END %]
      <td>[% HTML.escape(item.reference) %]</td>
      <td align="right">[% HTML.escape(item.requested_execution_date) %]</td>
      <td align="right" nowrap>
       [%- IF item.executed %]
        [% HTML.escape(item.execution_date) %]
       [%- ELSIF item.export_closed %]
        [% 'not executed' | $T8 %]
       [%- ELSE %]
         [% L.date_tag('items[].execution_date', item.requested_execution_date || current_date) %]
       [%- END %]
      </td>
     </tr>
    [%- END %]
   </table>
  </p>

  <p><hr></p>

  [%- IF show_post_payments_button %]
  <p>
   <input type="submit" class="submit" name="action_bank_transfer_post_payments" value="[% 'Post payments' | $T8 %]">
  </p>

  <script type="text/javascript">
   <!--
    function set_all_execution_date_fields(input) {
      var new_date = $(input).val();
      $('INPUT[name="items[].execution_date"]').each(function() {
        $(this).val(new_date);
      });
    }

    $(function() {
      $("#select_all").checkall('INPUT[name="items[].selected"]');
    });
     -->
  </script>

  [%- ELSE %]
  <p>
   <input type="submit" class="submit" name="action_bank_transfer_payment_list_as_pdf" value="[% 'Payment list as PDF' | $T8 %]">
  </p>

   [%- FOREACH item = export.items %]
    [%- IF item.executed %]
     <input type="hidden" name="items[+].id" value="[% HTML.escape(item.id) %]">
     <input type="hidden" name="items[].export_id" value="[% HTML.escape(item.export_id) %]">
    [%- END %]
   [%- END %]
  [%- END %]

     <input type="hidden" name="vc" value="[% HTML.escape(vc) %]">
 </form>
