[%- USE T8 %]
[%- USE L %]
[% USE HTML %][% USE LxERP %]
[% IF vc == 'vendor' %]
 [% SET is_vendor = 1 %]
 [% SET arap = 'ap' %]
 [% SET iris = 'ir' %]
[% ELSE %]
 [% SET is_vendor = 0 %]
 [% SET arap = 'ar' %]
 [% SET iris = 'is' %]
[%- END %]

 [%- IF error_message %]
 <p><div class="message_error">[% error_message %]</div></p>
 [%- END %]

 <p><div class="listtop">[% title %]</div></p>

 <form action="sepa.pl" method="post">
  <p>1.
   [%- IF is_vendor %]
    [% 'Please select the source bank account for the transfers:' | $T8 %]
   [%- ELSE %]
    [% 'Please select the destination bank account for the collections:' | $T8 %]
   [%- END %]
   <br>
   [%- INCLUDE generic/multibox.html
         name      = 'bank_account.id',
         DATA      = BANK_ACCOUNTS,
         id_key    = 'id',
         label_sub = 'bank_account_label',
   -%]
  </p>

  <p>
   2.
   [%- IF is_vendor %]
    [% 'Please Check the bank information for each vendor:' | $T8 %]
   [%- ELSE %]
    [% 'Please Check the bank information for each customer:' | $T8 %]
   [%- END %]
   <br>
   <table>
    <tr>
     <th class="listheading">[%- IF is_vendor %][% 'Vendor' | $T8 %][%- ELSE %][%- LxERP.t8('Customer') %][%- END %]</th>
     <th class="listheading">[% 'IBAN' | $T8 %]</th>
     <th class="listheading">[% 'BIC' | $T8 %]</th>
     <th class="listheading">[% 'Bank' | $T8 %]</th>
    </tr>

    [%- FOREACH vbi = VC_BANK_INFO %]
    <tr class="listrow[% loop.count % 1 %]">
     <td>
      <input type="hidden" name="vc_bank_info[+].id" value="[% HTML.escape(vbi.id) %]">
      <input type="hidden" name="vc_bank_info[].name" value="[% HTML.escape(vbi.name) %]">
      [% HTML.escape(vbi.name) %]
     </td>
     <td><input name="vc_bank_info[].iban" size="34" value="[% HTML.escape(vbi.iban.substr(0, 34)) %]" maxlength="34"></td>
     <td><input name="vc_bank_info[].bic" size="20" value="[% HTML.escape(vbi.bic.substr(0, 20)) %]" maxlength="20"></td>
     <td><input name="vc_bank_info[].bank" size="30" value="[% HTML.escape(vbi.bank) %]"></td>
    </tr>
    [%- END %]
   </table>
  </p>

  <p>
   3. [% 'Enter the requested execution date or leave empty for the quickest possible execution:' | $T8 %]
   <br>
   <table>
    <tr>
     <th class="listheading">[%- IF is_vendor %][% 'Vendor' | $T8 %][%- ELSE %][%- LxERP.t8('Customer') %][%- END %]</th>
     <th class="listheading">[% 'Invoice' | $T8 %]</th>
     <th class="listheading" align="right">[% 'Amount' | $T8 %]</th>
     <th class="listheading" align="right">[% 'Open amount' | $T8 %]</th>
     <th class="listheading">[% 'Purpose' | $T8 %]</th>
     <th class="listheading" align="right">[%- IF is_vendor %][% 'Bank transfer amount' | $T8 %][%- ELSE %][%- LxERP.t8('Bank collection amount') %][%- END %]</th>
     <th class="listheading">[% 'Execution date' | $T8 %]</th>
    </tr>

    [%- FOREACH bank_transfer = BANK_TRANSFERS %]
     <input type="hidden" name="bank_transfers[+].[% arap %]_id" value="[% HTML.escape(bank_transfer.id) %]">
     <input type="hidden" name="bank_transfers[].vc_id" value="[% HTML.escape(bank_transfer.vc_id) %]">
     <input type="hidden" name="bank_transfers[].selected" value="1">

     <tr class="listrow[% loop.count % 2 %]">
      <td>
       [%- IF loop.first || (previous_vcname != bank_transfer.vcname) %]
        <a href="controller.pl?action=CustomerVendor/edit&db=[% vc %]&id=[% HTML.url(bank_transfer.vc_id) %]&callback=[% HTML.url('sepa.pl?action=bank_transfer_add&vc=' _ vc) %]">
         [%- GET HTML.escape(bank_transfer.vcname);
             SET previous_vcname = bank_transfer.vcname; -%]
        </a>
       [%- END -%]
      </td>

      <td>
       <a href="[% IF bank_transfer.invoice %][% iris %][% ELSE %][% arap %][% END %].pl?action=edit&id=[% HTML.escape(bank_transfer.id) %]">
        [% HTML.escape(bank_transfer.invnumber) %]
       </a>
      </td>

      <td align="right">[% LxERP.format_amount(bank_transfer.invoice_amount, -2) %]</td>
      <td align="right">[% LxERP.format_amount(bank_transfer.open_amount, -2) %]</td>
      <td>
       <input name="bank_transfers[].reference" value="[% HTML.escape(bank_transfer.reference.substr(0, 140)) %]" size="60" maxlength="140">
      </td>
      <td align="right"><input name="bank_transfers[].amount" value="[% LxERP.format_amount(bank_transfer.amount, -2) %]" style="text-align: right" size="12"></td>
      <td nowrap>
        [% L.date_tag('bank_transfers[].requested_execution_date', bank_transfer.requested_execution_date) %]
      </td>
     </tr>
    [%- END %]
   </table>
  </p>

  <p>
   [%- IF is_vendor %]
    <input type="submit" class="submit" name="action_bank_transfer_create" value="[% 'Create bank transfer' | $T8 %]">
   [%- ELSE %]
    <input type="submit" class="submit" name="action_bank_transfer_create" value="[% 'Create bank collection' | $T8 %]">
   [%- END %]
  </p>

  <input type="hidden" name="action" value="dispatcher">
  <input type="hidden" name="vc" value="[%- HTML.escape(vc) %]">
  <input type="hidden" name="confirmation" value="1">
 </form>
