[% USE HTML %]

[%- IF show_buttons %]
 <input type="hidden" name="action" value="dispatcher">
 <input type="hidden" name="mode" value="multi">

 <p>
  <input type="submit" class="submit" name="action_bank_transfer_download_sepa_xml" value="<translate>SEPA XML download</translate>">
  <input type="submit" class="submit" name="action_bank_transfer_edit" value="<translate>Post payments</translate>">
  <input type="submit" class="submit" name="action_bank_transfer_mark_as_closed_step1" value="<translate>Mark as closed</translate>">
 </p>

 <script type="text/javascript" src="js/jquery.js"></script>
 <script type="text/javascript">
  <!--
    $(document).ready(function() {
      $("#select_all").click(function() {
        var checked = $(this).attr('checked');
        $('INPUT[name="exports[].selected"]').each(function() {
          $(this).attr('checked', checked);
        });
      });
    });
    -->
 </script>
[%- END %]

</form>
