[% USE HTML %]
<body>

 <p><div class="listtop">[% title %]</div></p>

 <p>
  <translate>The SEPA export has been created.</translate>
 </p>

 <p>
  <ul>
   <li>
    <a href="sepa.pl?action=bank_transfer_download_sepa_xml&id=[% HTML.url(id) %]">
     <translate>Download SEPA XML export file</translate>
    </a>
   </li>

   <li>
    <a href="sepa.pl?action=bank_transfer_list&l_open=1&l_not_executed=1">
     <translate>List open SEPA exports</translate>
    </a>
   </li>
  </ul>
 </p>

</body>
</html>
