[% USE HTML %][% USE LxERP %]
<body>

 [%- IF error_message %]
 <p><div class="error_message">[% error_message %]</div></p>
 [%- END %]

 <p><div class="listtop">[% title %]</div></p>

 <form action="sepa.pl" method="post">
  <p>1. Bitte wählen Sie das Bankkonto als Quelle für die Überweisungen aus:
   <br>
   [%- INCLUDE generic/multibox.html
         name      = 'bank_account.id',
         DATA      = BANK_ACCOUNTS,
         id_key    = 'id',
         label_sub = 'bank_account_label',
   -%]
  </p>

  <p>
   2. Bitte überprüfen Sie die Kontoinformationen der Lieferanten:
   <br>
   <table>
    <tr>
     <th class="listheading">Lieferant</th>
     <th class="listheading">IBAN</th>
     <th class="listheading">BIC</th>
     <th class="listheading">Bank</th>
    </tr>

    [%- FOREACH vbi = VENDOR_BANK_INFO %]
    <tr class="listrow[% loop.count % 1 %]">
     <td>
      <input type="hidden" name="vendor_bank_info[+].id" value="[% HTML.escape(vbi.id) %]">
      <input type="hidden" name="vendor_bank_info[].name" value="[% HTML.escape(vbi.name) %]">
      [% HTML.escape(vbi.name) %]
     </td>
     <td><input name="vendor_bank_info[].iban" size="20" value="[% HTML.escape(vbi.iban) %]"></td>
     <td><input name="vendor_bank_info[].bic" size="20" value="[% HTML.escape(vbi.bic) %]"></td>
     <td><input name="vendor_bank_info[].bank" size="30" value="[% HTML.escape(vbi.bank) %]"></td>
    </tr>
    [%- END %]
   </table>
  </p>

  <p>
   3. Geben Sie das jeweils gewünschte Ausführungsdatum an, oder lassen Sie das Feld leer für die schnellstmögliche Ausführung:
   <br>
   <table>
    <tr>
     <th class="listheading">Lieferant</th>
     <th class="listheading">Rechnung</th>
     <th class="listheading" align="right">Betrag</th>
     <th class="listheading" align="right">offener Betrag</th>
     <th class="listheading">Verwendungszweck</th>
     <th class="listheading" align="right">Überweisungssumme</th>
     <th class="listheading">Ausführungsdatum</th>
    </tr>

    [%- FOREACH bank_transfer = BANK_TRANSFERS %]
     <input type="hidden" name="bank_transfers[+].ap_id" value="[% HTML.escape(bank_transfer.id) %]">
     <input type="hidden" name="bank_transfers[].vendor_id" value="[% HTML.escape(bank_transfer.vendor_id) %]">
     <input type="hidden" name="bank_transfers[].selected" value="1">

     <tr class="listrow[% loop.count % 2 %]">
      <td>
       [%- IF loop.first || (previous_vendorname != bank_transfer.vendorname) %]
        <a href="ct.pl?action=edit&db=vendor&id=[% HTML.url(bank_transfer.vendor_id) %]&callback=[% HTML.url('sepa.pl?action=bank_transfer_add') %]">
         [%- GET HTML.escape(bank_transfer.vendorname);
             SET previous_vendorname = bank_transfer.vendorname; -%]
        </a>
       [%- END -%]
      </td>

      <td>
       <a href="[% IF bank_transfer.invoice %]ir[% ELSE %]ap[% END %].pl?action=edit&id=[% HTML.escape(bank_transfer.id) %]">
        [% HTML.escape(bank_transfer.invnumber) %]
       </a>
      </td>

      <td align="right">[% LxERP.format_amount(bank_transfer.invoice_amount, -2) %]</td>
      <td align="right">[% LxERP.format_amount(bank_transfer.open_amount, -2) %]</td>
      <td><input name="bank_transfers[].reference" value="[% HTML.escape(bank_transfer.reference) %]"></td>
      <td align="right"><input name="bank_transfers[].amount" value="[% LxERP.format_amount(bank_transfer.amount, -2) %]" style="text-align: right"></td>
      <td nowrap>
       <input name="bank_transfers[].requested_execution_date"
              id="requested_execution_date_[% loop.count %]"
              value="[% HTML.escape(bank_transfer.requested_execution_date) %]"
              size="11">
       <input type="button" name="requested_execution_date_[% loop.count %]_trigger" id="requested_execution_date_[% loop.count %]_trigger" value="?">
      </td>
     </tr>
    [%- END %]
   </table>
  </p>

  <p>
   <input type="submit" class="submit" name="action_bank_transfer_create" value="Überweisung erstellen">
  </p>

  <input type="hidden" name="action" value="dispatcher">
  <input type="hidden" name="confirmation" value="1">
 </form>

 <script type="text/javascript">
  <!--
    [%- FOREACH row = BANK_TRANSFERS %]
     Calendar.setup({ inputField : "requested_execution_date_[% loop.count %]",
                      ifFormat   : "[% myconfig_jsc_dateformat %]",
                      align      : "BL",
                      button     : "requested_execution_date_[% loop.count %]_trigger" });
    [%- END %]
    -->
 </script>

</body>
</html>
