[%- USE T8 %]
[%- USE HTML %]
[%- USE LxERP %]
[%- USE L %]
<h1>[% title %]</h1>

 <form action="sepa.pl" method="post" id="form">
  <p>
   <table>
    <tr>
     <td align="right">[%- IF vc == 'vendor' %][% 'Vendor' | $T8 %][%- ELSE %][%- LxERP.t8('Customer') %][%- END %]</td>
     <td><input name="f_vc" class="initial_focus"></td>
    </tr>

    <tr>
     <td align="right">[% 'Invoice number' | $T8 %]</td>
     <td><input name="f_invnumber"></td>
    </tr>

    <tr>
     <td align="right">[% LxERP.t8("SEPA message ID") %]</td>
     <td>[% L.input_tag("f_message_id") %]</td>
    </tr>

    <tr>
     <td align="right">[% 'Export date from' | $T8 %]</td>
     <td>
       [% L.date_tag('f_export_date_from') %]
       [% 'to (time)' | $T8 %]
       [% L.date_tag('f_export_date_to') %]
     </td>
    </tr>

    <tr>
     <td align="right">[% 'Requested execution date from' | $T8 %]</td>
     <td>
       [% L.date_tag('f_requested_execution_date_from') %]
       [% 'to (time)' | $T8 %]
       [% L.date_tag('f_requested_execution_date_to') %]
     </td>
    </tr>

    <tr>
     <td align="right">[% 'Execution date from' | $T8 %]</td>
     <td>
       [% L.date_tag('f_execution_date_from') %]
       [% 'to (time)' | $T8 %]
       [% L.date_tag('f_execution_date_to') %]
     </td>
    </tr>

    <tr>
     <td align="right" valign="top">[% 'Include in Report' | $T8 %]</td>
     <td valign="top">
      <table>
       <tr>
        <td>
         <input type="checkbox" name="l_open" id="l_open" value="1" checked>
         <label for="l_open">[% 'open' | $T8 %]</label>
        </td>

        <td>
         <input type="checkbox" name="l_closed" id="l_closed" value="1">
         <label for="l_closed">[% 'closed' | $T8 %]</label>
        </td>
       </tr>

       <tr>
        <td>
         <input type="checkbox" name="l_not_executed" id="l_not_executed" value="1" checked>
         <label for="l_not_executed">[% 'not yet executed' | $T8 %]</label>
        </td>

        <td>
         <input type="checkbox" name="l_executed" id="l_executed" value="1" checked>
         <label for="l_executed">[% 'executed' | $T8 %]</label>
        </td>
       </tr>
      </table>
     </td>
    </tr>

   </table>
  </p>

   <input type="hidden" name="vc" value="[%- HTML.escape(vc) %]">
 </form>
