[%- USE T8 %]
[% USE HTML %]
<h1>[% 'Tax Office Preferences' | $T8 %]</h1>

  <form name="elsterform" method="post" action="[% script %]" id="form">
    <table width="100%">
       <tr>
         <td colspan=2>
           <br>
           <!-- Start Finanzamtdaten -->
           <br>
           <fieldset>
             <legend>
               <font size="+1">[% 'Tax Office' | $T8 %]
               [% HTML.escape(fa_name) %]</font>
             </legend>
             <table width="100%" valign="top">
                <tr>
                  <td valign="top">
                    <br>
                    <fieldset>
                      <legend>
                      <b>[% 'Address' | $T8 %]</b>
                      </legend>
                      <table width="100%">
                        <tr>
                          <td>
                            [% 'Tax Office' | $T8 %]
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <input type="text" name="fa_name" size="40" title="Name" value="[% HTML.escape(fa_name) %]" [% readonly %]>
                          <td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <input type="text" name="fa_strasse" size="40" title="Strasse" value="[% HTML.escape(fa_strasse) %]" [% readonly %]>
                          </td>
                        </tr>
                        <tr>
                          <td width="116px">
                            <input type="text" name="fa_plz" size="10" title="PLZ" value="[% HTML.escape(fa_plz) %]" [% readonly %]>
                          </td>
                          <td>
                            <input type="text" name="fa_ort" size="20" title="Ort" value="[% HTML.escape(fa_ort) %]" [% readonly %]>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            [% 'PLZ Grosskunden' | $T8 %]
                          </td>
                          <td>
                            <input type="text" name="fa_plz_grosskunden" size="20" title="OrtGK" value="[% HTML.escape(fa_plz_grosskunden) %]" [% readonly %]>
                          </td>
                        </tr>
                      </table>
                    </fieldset>
                    <br>
                    <fieldset>
                      <legend>
                        <b>[% 'Contact' | $T8 %]</b>
                      </legend>
                        [% 'Telephone' | $T8 %]<br>
                        <input type="text" name="fa_telefon" size="40" title="Telefon" value="[% HTML.escape(fa_telefon) %]" [% readonly %]>
                        <br>
                        <br>
                        [% 'Fax' | $T8 %]<br>
                        <input type="text" name="fa_fax" size="40" title="Fax" value="[% HTML.escape(fa_fax) %]" [% readonly %]>
                        <br>
                        <br>
                        [% 'Email' | $T8 %]<br>
                        <input type="text" name="fa_email" size="40" title="Email" value="[% HTML.escape(fa_email) %]" [% readonly %]>
                        <br>
                        [% 'Internet' | $T8 %]<br>
                        <br>
                        <input type="text" name="fa_internet" size="40" title="Internet" value="[% HTML.escape(fa_internet) %]" [% readonly %]>
                        <br>
                    </fieldset>
                  </td>
                  <td valign="top">
                    <br>
                    <fieldset>
                    <legend>
                    <b>[% 'Openings' | $T8 %]</b>
                    </legend>
                    <textarea name="fa_oeffnungszeiten" rows="4" cols="40"
                      [% readonly %]>[% HTML.escape(fa_oeffnungszeiten) %]</textarea>
                    </fieldset>
                    <br>
                      <fieldset>
                      <legend>
                        <b>[% 'Bank Connection Tax Office' | $T8 %]</b>
                      </legend>
                      <table>
                      <tr>
                        <td width="40%">
                          [% 'Bank' | $T8 %]
                          <br>
                          <input type="text" name="fa_bankbezeichnung_1" size="30" value="[% HTML.escape(fa_bankbezeichnung_1) %]" [% readonly %]>
                          <br>
                          <br>
                          [% 'Account Nummer' | $T8 %]
                          <br>
                          <input type="text" name="fa_kontonummer_1" size="15" value="[% HTML.escape(fa_kontonummer_1) %]" [% readonly %]>
                          <br>
                          <br>
                          [% 'Bank Code (long)' | $T8 %]
                          <br>
                          <input type="text" name="fa_blz_1" size="15" value="[% HTML.escape(fa_blz_1) %]" [% readonly %]>
                        </td>
                        <td width="40%">
                          [% 'Bank' | $T8 %]
                          <br>
                          <input type="text" name="fa_bankbezeichnung_2" size="30" value="[% HTML.escape(fa_bankbezeichnung_2) %]" [% readonly %]>
                          <br>
                          <br>
                          [% 'Account Nummer' | $T8 %]
                          <br>
                          <input type="text" name="fa_kontonummer_2" size="15" value="[% HTML.escape(fa_kontonummer_2) %]" [% readonly %]>
                          <br>
                          <br>
                          [% 'Bank Code (long)' | $T8 %]
                          <br>
                          <input type="text" name="fa_blz_2" size="15" value="[% HTML.escape(fa_blz_2) %]" [% readonly %]>
                        </td>
              </tr>
             </table>
           </fieldset>
         </td>
       </tr>
    </table>
  </fieldset>

<!-- Stop Finanzamtdaten  -->

        </td>
       </tr>
       <tr>
         <td colspan="2">
           <br>
           <fieldset>
           <legend>
           <font size="+1">[% 'Tax Number' | $T8 %]</font>
           </legend>
           <br>
[%- IF COA_Germany %]
           [% input_steuernummer %]
[%- ELSE %]
[% 'Please enter the taxnumber in the client configuration.' | $T8 %]
[% 'Current value:' | $T8 %] [% HTML.escape(MYCONFIG.taxnumber) %]
[%- END %]


           <br>
           </fieldset>
           <br>
           <br>
           <hr>
         </td>
       </tr>
  </table>

[%- FOREACH var = hidden_variables %]
  <input type="hidden" name="[% HTML.escape(var.variable) %]" value="[% HTML.escape(var.value) %]">
[%- END %]


  </form>
