[%- USE T8 %]
[%- USE HTML %]
[%- USE LxERP %]

<link rel="stylesheet" type="text/css" href="css/kivitendo/ustva.css">

<body>
<h1>Vorschau Umsatzsteuer-Voranmeldung</h1>
<h2>Zeitraum vom [%fromdate%] bis [%todate%] </h2>

<!-- Diese HTML-Formular ist nicht selbstrechnend.
<p><small>Wenn ein (selbstrechnendes) Formular verwendet wird, genügt es, die
gelb hinterlegten Felder auszufüllen. Die anderen Felder werden dann
automatisch berechnet.</small></p>
-->

<table width="100%">
<tr align="left">
  <td class="text">Steuernummer: [%steuernummer%]</td>
  <td class="text" width="100px">&nbsp</td>
  <td class="text" align="right">Datum ([%Datum_heute%])</td>
</tr>
<tr>
  <td class="text" colspan="3"><br /></td>
</tr>
<tr align="left">
  <td class="text">
    Finanzamt [%FA_Name%]<br />
    [%FA_Strasse%]<br />
    [%FA_PLZ%] [%FA_Ort%]<br />
    Fax: [%FA_FAX%]
  </td>
  <td class="text">&nbsp;</td>
  <td class="text">
    Firma [%company%]<br />
    [% IF company_street %]
      [% company_street %]<br />
    [% END %]
      [%company_city%]<br />
    [%IF !company_street%]
    [%address%]<!--used Address-->
    [%END %]
  </td>
</tr>
<tr>
  <td class="text" colspan="3"><br />
  </td>
</tr>
</table>
<table>
  <tbody>
    <tr>
      <td class="text"><b class="h3">I. Anmeldung der
Umsatzsteuer-Vorauszahlung </b></td>
      <td colspan="4"></td>
    </tr>
    <tr>
      <td class="text"><b class="h4">Lieferungen und sonstige Leistungen</b></td>
      <td colspan="4"></td>
    </tr>
        <tr>
      <td class="text2">an innergemeinschaftliche Abnehmer <b>mit</b> USt-IdNr</td>
      <td class="spalte ausfuellen"><span class="nodis">(Spalte </span>41<span class="nodis">)</span></td>
      <td class="betrag ausfuellen" width="70">[%pos_ustva_41%]<br></td>
      <td class="spalte"><span class="nodis"></span></td>
      <td class="betrag"></td>
    </tr>
    <tr>
      <td class="text">neuer Fahrzeuge an Abnehmer <b>ohne</b> USt-IdNr</td>
      <td class="spalte ausfuellen"><span class="nodis">(Spalte </span>44<span class="nodis">)</span></td>
      <td class="betrag ausfuellen" width="70">[%pos_ustva_44%]<br></td>
      <td class="spalte"><span class="nodis"></span></td>
      <td class="betrag"></td>
    </tr>
    <tr>
      <td class="text2">neuer Fahrzeuge au&szlig;erhalb eines Unternehmens</td>
      <td class="spalte ausfuellen"><span class="nodis">(Spalte </span>49<span class="nodis">)</span></td>
      <td class="betrag ausfuellen" width="70">[%pos_ustva_49%]<br></td>
      <td class="spalte"><span class="nodis"></span></td>
      <td class="betrag"></td>
    </tr>
    <tr>
      <td class="text">Weitere steuerfreie Ums&auml;tze mit Vorsteuerabzug</td>
      <td class="spalte ausfuellen"><span class="nodis">(Spalte </span>43<span class="nodis">)</span></td>
      <td class="betrag ausfuellen" width="70">[%pos_ustva_43%]<br></td>
      <td class="spalte"><span class="nodis"></span></td>
      <td class="betrag"></td>
    </tr>
    <tr>
      <td class="text2">Steuerfreie Ums&auml;tze ohne
Vorsteuerabzug. </b><br />Ums&auml;tze nach &sect; 4 Nr. 8 bis 20 UStG</td>
      <td class="spalte ausfuellen"><span class="nodis">(Spalte </span>48<span class="nodis">)</span></td>
      <td class="betrag ausfuellen" width="70">[%pos_ustva_48%]<br></td>
      <td class="spalte"><span class="nodis"></span></td>
      <td class="betrag"></td>
    </tr>

    <tr>
      <td class="text"><b class="h4">Steuerpflichtige Ums&auml;tze</b></td>
      <td colspan="4"></td>
    </tr>
[% IF !year2007%]
     <tr>
      <td class="text2">zum Steuersatz von 16 v.H.</td>
      <td class="spalte ausfuellen"><span class="nodis">(Spalte </span>51<span class="nodis">)</span></td>
      <td class="betrag ausfuellen" width="70">[%pos_ustva_51%]<br></td>
      <td class="spalte"><span class="nodis">(Spalte 51 rechts)</span></td>
      <td class="betrag">[%pos_ustva_511%]</td>
    </tr>
[%END%]
[% IF year2007%]
    <tr>
      <td class="text2">zum Steuersatz von 19 v.H.</td>
      <td class="spalte ausfuellen"><span class="nodis">(Spalte </span>81<span class="nodis">)</span></td>
      <td class="betrag ausfuellen" width="70">[%pos_ustva_81%]<br></td>
      <td class="spalte"><span class="nodis">(Spalte 81 rechts)</span></td>
      <td class="betrag">[%pos_ustva_811%]</td>
    </tr>
[%END%]

    <tr>
      <td class="text">zum Steuersatz von 7 v.H.</td>
      <td class="spalte ausfuellen"><span class="nodis">(Spalte </span>86<span class="nodis">)</span></td>
      <td class="betrag ausfuellen">[%pos_ustva_86%]</td>
      <td class="spalte"><span class="nodis">(Spalte 86 rechts)</span></td>
      <td class="betrag">[%pos_ustva_861%]</td>
    </tr>
[% IF pos_ustva_81b_kivi || pos_ustva_86b_kivi %]
    <tr>
      <td class="text2">zum Steuersatz von 16 v.H.(2020 Konjunktur)</td>
      <td class="spalte ausfuellen"><span class="nodis">(Spalte </span>81b-kivi<span class="nodis">)</span></td>
      <td class="betrag ausfuellen" width="70">[%pos_ustva_81b_kivi%]<br></td>
      <td class="spalte"><span class="nodis">(Informativ)</span></td>
      <td class="betrag">[%pos_ustva_811b_kivi%]</td>
    </tr>
    <tr>
      <td class="text2">zum Steuersatz von 5 v.H.(2020 Konjunktur)</td>
      <td class="spalte ausfuellen"><span class="nodis">(Spalte </span>86b-kivi<span class="nodis">)</span></td>
      <td class="betrag ausfuellen" width="70">[%pos_ustva_86b_kivi%]<br></td>
      <td class="spalte"><span class="nodis">(Informativ)</span></td>
      <td class="betrag">[%pos_ustva_861b_kivi%]</td>
    </tr>
[%END%]
    <tr>
      <td class="text2">andere Steuers&auml;tze</td>
      <td class="spalte ausfuellen"><span class="nodis"></span>35 <span class="nodis"></span></td>
      <td class="betrag ausfuellen">[%pos_ustva_35%]</td>
      <td class="spalte">36</td>
      <td class="betrag ausfuellen">[%pos_ustva_36%]</td>
    </tr>
    <tr><td class="text" colspan="3">&nbsp;</td><td colspan="4"></td></tr>
   <tr>
      <td class="text">Lieferungen in das &uuml;brige Gemeinschaftsgebiet <b>mit</b> USt-IdNr</td>
      <td class="spalte ausfuellen"><span class="nodis">(Spalte </span>77<span class="nodis">)</span></td>
      <td class="betrag ausfuellen" width="70">[%pos_ustva_77%]<br></td>
      <td class="spalte"><span class="nodis"></span></td>
      <td class="betrag"></td>
    </tr>
    <tr>
      <td class="text2">Ums&auml;tze, nach &sect;24 UStG (S&auml;gewerkserzeugnisse, alkoholische Getr&auml;nke etc.)</td>
      <td class="spalte ausfuellen"><span class="nodis"></span>76 <span class="nodis"></span></td>
      <td class="betrag ausfuellen">[%pos_ustva_76%]</td>
      <td class="spalte">80</td>
      <td class="betrag ausfuellen">[%pos_ustva_80%]</td>
    </tr>
    <tr><td class="text">&nbsp;</td><td class="spacer" colspan="4"></td></tr>
    <tr>
      <td class="text"><b class="h3">Innergemeinschaftliche Erwerbe</b></td>
      <td colspan="4"></td>
    </tr>
   <tr>
      <td class="text2">Steuerfrei nach &sect;4b UStG</td>
      <td class="spalte ausfuellen"><span class="nodis">(Spalte </span>91<span class="nodis">)</span></td>
      <td class="betrag ausfuellen" width="70">[%pos_ustva_91%]<br></td>
      <td class="spalte"><span class="nodis"></span></td>
      <td class="betrag"></td>
    </tr>
[% IF !year2007%]
    <tr>
      <td class="text">Steuerpflichtige zum Steuersatz von 16 v.H.</td>
      <td class="spalte ausfuellen"><span class="nodis">(Spalte </span>97<span class="nodis">)</span></td>
      <td class="betrag ausfuellen">[%pos_ustva_97%]<br></td>
      <td class="spalte"><span class="nodis">(Spalte 97 rechts)</span></td>
      <td class="betrag">[%pos_ustva_971%]</td>
    </tr>
[%END%]
[%IF year2007%]
    <tr>
      <td class="text">Steuerpflichtige zum Steuersatz von 19 v.H.</td>
      <td class="spalte ausfuellen"><span class="nodis">(Spalte </span>89<span class="nodis">)</span></td>
      <td class="betrag ausfuellen">[%pos_ustva_89%]<br></td>
      <td class="spalte"><span class="nodis">(Spalte 89 rechts)</span></td>
      <td class="betrag">[%pos_ustva_891%]</td>
    </tr>
[%END %]
    <tr>
      <td class="text2">zum Steuersatz von 7 v.H.</td>
      <td class="spalte ausfuellen"><span class="nodis">(Spalte </span>93<span class="nodis">)</span></td>
      <td class="betrag ausfuellen">[%pos_ustva_93%]</td>
      <td class="spalte"><span class="nodis">(Spalte 93 rechts)</span></td>
      <td class="betrag">[%pos_ustva_931%]</td>
    </tr>
    <tr>
      <td class="text">zu anderen Steuers&auml;tzen</td>
      <td class="spalte ausfuellen"><span class="nodis">(Spalte </span>95<span class="nodis">)</span></td>
      <td class="betrag ausfuellen">[%pos_ustva_95%]</td>
      <td class="spalte">98</td>
      <td class="betrag">[%pos_ustva_98%]</td>
    </tr>
    <tr>
      <td class="text2"><b class="h4">neuer Fahrzeuge von Lieferern</b>
             von Lieferanten <b>ohne</b> USt.IdNr. <br class="nodis" />
       zum allgemeinen Steuersatz</td>
      <td class="spalte ausfuellen"><span class="nodis">(Spalte </span>94<span class="nodis">)</span></td>
      <td class="betrag ausfuellen">[%pos_ustva_94%]</td>
      <td class="spalte"><span class="nodis">(Spalte </span>96<span class="nodis">)</span></td>
      <td class="betrag">[%pos_ustva_96%]</td>
    </tr>
        <tr><td class="text">&nbsp;</td><td colspan="4"></td></tr>
   <tr>
      <td class="text">Lieferungen des ersten Abnehmers bei
        innergemeinschaftlichen Dreiecksgeschften (&sect;25b Abs. 2 UStG)</td>
      <td class="spalte ausfuellen">42</td>
      <td class="betrag ausfuellen" width="70">[%pos_ustva_42%]<br></td>
      <td class="spalte"><span class="nodis"></span></td>
      <td class="betrag"></td>
    </tr>
   <tr>
      <td class="text2">Steuerpflichtige Umsätze im Sinne, f&uuml;r die der
        <b>Leistungsempf&auml;nger die Steuer schuldet</b></td>
      <td class="spalte ausfuellen">60</td>
      <td class="betrag ausfuellen" width="70">[%pos_ustva_60%]<br></td>
      <td class="spalte"><span class="nodis"></span></td>
      <td class="betrag"></td>
    </tr>
[%IF year2010%]
   <tr>
      <td class="text2"><b>Nicht steuerbare Leistungen</b> gem. &sect; 18b Satz 1 Nr. 2 UStG</td>
      <td class="spalte ausfuellen">21</td>
      <td class="betrag ausfuellen" width="70">[%pos_ustva_21%]<br></td>
      <td class="spalte"><span class="nodis"></span></td>
      <td class="betrag"></td>
    </tr>
[%END%]
   <tr>
      <td class="text">Im Inland nicht steuerbare Ums&auml;tze</td>
      <td class="spalte ausfuellen">45</td>
      <td class="betrag ausfuellen" width="70">[%pos_ustva_45%]<br></td>
      <td class="spalte"><span class="nodis"></span></td>
      <td class="betrag"></td>
    </tr>

    <tr><td class="text">&nbsp;</td><td class="spacer" colspan="2"></td><td colspan="2"></td></tr>

    <tr>
      <td class="text" colspan="3"><b class="h3">&Uuml;bertrag</td>
      <td class="zeile"><span class="nodis">(</span>Zeile 43<span class="nodis">)</span></td>
      <td class="betrag">[%pos_ustva_Z43%]</td>
    </tr>

    <tr class="uebertrag">
      <td class="text" colspan="3"><b class="h3">&Uuml;bertrag</td>
      <td class="zeile"><span class="nodis">(</span>Zeile 45<span class="nodis">)</span></td>
      <td class="betrag">[%Z45%]</td>
    </tr>

[%IF year2010%]
    <tr>
      <td class="text2">Im Inland steuerpflichtige sonstige Leistungen von im &uuml;brigen Gemeinschaftsgebiet ans&auml;ssigen Unternehmen (&sect;13b Abs. 1 UStG)</td>
      <td class="spalte ausfuellen">46</td>
      <td class="betrag ausfuellen">[%pos_ustva_46%]</td>
      <td class="spalte">47</td>
      <td class="betrag">[%pos_ustva_47%]</td>
    </tr>
[%END%]
    <tr>
      <td class="text2">Leistungen eines im Ausland ans&auml;ssigen Unternehmers</td>
      <td class="spalte ausfuellen">52</td>
      <td class="betrag ausfuellen">[%pos_ustva_52%]</td>
      <td class="spalte">53</td>
      <td class="betrag">[%pos_ustva_53%]</td>
    </tr>
    <tr>
      <td class="text">Lieferungen sicherungsübereigneter Gegenst&auml;nde und
           Ums&auml;tze, die unter das GrEStG fallen.</td>
      <td class="spalte ausfuellen">73</td>
      <td class="betrag ausfuellen">[%pos_ustva_73%]</td>
      <td class="spalte">74</td>
      <td class="betrag">[%pos_ustva_74%]</td>
    </tr>
    <tr>
      <td class="text2">Bauleistungen eines im Inland ans&auml;ssigen Unternehmers</td>
      <td class="spalte ausfuellen">84</td>
      <td class="betrag ausfuellen">[%pos_ustva_84%]</td>
      <td class="spalte">85</td>
      <td class="betrag">[%pos_ustva_85%]</td>
    </tr>
    <tr>
      <td class="text" colspan="3">Steuer wegen Wechsel der Besteuerungsform und
         Nachsteuer auf versteuerte Anzahlungen wegen Steuersatzerh&ouml;hung.</td>
      <td class="spalte ausfuellen">65</td>
      <td class="betrag ausfuellen">[%pos_ustva_65%]</td>
    </tr>



    <tr><td class="text" colspan="3">&nbsp;</td><td class="spacer" colspan="4"></td></tr>

    <tr>
      <td class="text2" colspan="3"><b class="h3">Umsatzsteuer</td>
      <td class="zeile"><span class="nodis">(</span>Zeile 53<span class="nodis">)</span></td>
      <td class="betrag">[%Z53%]</td>
    </tr>

    <tr><td class="text" colspan="3">&nbsp;</td><td class="spacer" colspan="4"></td></tr>

    <tr>
      <td class="text" colspan="3"><b class="h3">Abziehbare Vorsteuerbetr&auml;ge</b></td>
      <td colspan="2"></td></tr>
    </tr>

    <tr>
      <td class="text2" colspan="3">Vorsteuerbetr&auml;ge von Rechnungen von anderen Unternehmern</td>
      <td class="spalte ausfuellen"><span class="nodis">(Spalte </span>66<span class="nodis">)</span></td>
      <td class="betrag ausfuellen">[%pos_ustva_66%]</td>
    </tr>
    <tr>
      <td class="text" colspan="3">Vorsteuerbetr&auml;ge aus dem innergemeinschaftlichen Erwerb</td>
      <td class="spalte ausfuellen">61</td>
      <td class="betrag ausfuellen">[%pos_ustva_61%]</td>
    </tr>
    <tr>
      <td class="text2" colspan="3">Entrichtete Einfuhrumsatzsteuer</td>
      <td class="spalte ausfuellen">62</td>
      <td class="betrag ausfuellen">[%pos_ustva_62%]</td>
    </tr>
    <tr>
      <td class="text" colspan="3">Vorsteuerbetr&auml;ge aus Leistungen im Sinne
          des &sect;13b Abs. 1 UStG</td>
      <td class="spalte ausfuellen">67</td>
      <td class="betrag ausfuellen">[%pos_ustva_67%]</td>
    </tr>
    <tr>
      <td class="text2" colspan="3">Vorsteuerbetr&auml;ge, die nach allgemeinen
           Durchschnitts&auml;tzen berechnet sind </td>
      <td class="spalte ausfuellen">63</td>
      <td class="betrag ausfuellen">[%pos_ustva_63%]</td>
    </tr>
    <tr>
      <td class="text" colspan="3">Berichtigung des Vorsteuerabzugs</td>
      <td class="spalte ausfuellen">64</td>
      <td class="betrag ausfuellen">[%pos_ustva_64%]</td>
    </tr>
    <tr>
      <td class="text2" colspan="3">Vorsteuerabzug f&uuml;r innergemeinschaftliche Lieferungen
        neuer Fahrzeuge au&szlig;erhalb eines Unternehmens sowie von Kleinunternehmern</td>
      <td class="spalte ausfuellen">59</td>
      <td class="betrag ausfuellen">[%pos_ustva_59%]</td>
    </tr>
    <tr>
      <td class="text" colspan="3">Verbleibender Betrag</td>
      <td class="zeile"><span class="nodis">(</span>Zeile 62<span class="nodis">)</span></td>
      <td class="betrag">[%Z62%]</td>
    </tr>

    <tr>
      <td class="text2" colspan="3"><b class="h3">Andere Steuerbetr&auml;ge</b></td>
      <td colspan="2"></td></tr>
    </tr>
    <tr>
      <td class="text" colspan="3">in Rechnungen unrichtig oder unberechtigt ausgewiesene
        Steuerbetr&auml;ge sowie Steuerbetr&auml;ge, die nach
        &sect;4 Nr. 4a, &sect; 6a Abs. 4, &sect;7 oder &sect;25b UStG geschuldet werden</td>
      <td class="spalte ausfuellen">69</td>
      <td class="betrag ausfuellen">[%pos_ustva_69%]</td>
    </tr>

    <tr><td class="text" colspan="3">&nbsp;</td><td colspan="4"></td></tr>

    <tr>
      <td class="text2" colspan="3"><b class="h3">Umsatzsteuer-Vorauszahlung/&Uuml;berschuss</b></td>
      <td class="zeile"><span class="nodis">(</span>Zeile 65<span class="nodis">)</span></td>
      <td class="betrag">[%Z65%]</td>
    </tr>
    <tr>
      <td class="text" colspan="3">Anrechnung (Abzug) der festgesetzten Sondervorauszahlung
        f&uuml;r Dauerfristverl&auml;ngerung (nur in der letzten Voranmeldung des
        Besteuerungszeitraums ausf&uuml;llen)</td>
      <td class="spalte ausfuellen">39</td>
      <td class="betrag ausfuellen">[%pos_ustva_39%]</td>
    </tr>

    <tr><td class="text" colspan="3">&nbsp;</td><td colspan="4"></td></tr>

    <tr class="noborder">
      <td class="text2" colspan="3"><b class="h3">Verbleibende Umsatzsteuer-Vorauszahlung bzw.
                                      Verbleibender &Uuml;berschuss</b></td>
      <td class="spalte ausfuellen">83</td>
      <td class="summe">[%pos_ustva_83%]</td>
    </tr>

  </tbody>
</table>
[%IF FA_steuerberater%]
<p>
Steuerberater:<br />
[%FA_steuerberater_name%]<br />
[%FA_steuerberater_street%]<br />
[%FA_steuerberater_city%]<br />
Tel:&nbsp;[%FA_steuerberater_tel%]</p>
[%END%]
