[% USE T8 %]
[% USE L %]
[% USE P %]
[% USE HTML %]
[% USE LxERP %]
<h1>[% title | html %]</h1>

 <form method="post" action="controller.pl" id="form">
  [% L.hidden_tag("callback", callback) %]
  [% L.hidden_tag("id", SELF.project.id) %]

  <div class="tabwidget">
   <ul>
    <li><a href="#basic_data">[% 'Basic Data' | $T8 %]</a></li>
    [% IF CUSTOM_VARIABLES.size %]
      <li><a href="#custom_variables">[% 'Custom Variables' | $T8 %]</a></li>
    [% END %]
    [% IF SELF.may_edit_invoice_permissions %]
      <li><a href="#invoice_permissions">[% 'Permissions for invoices' | $T8 %]</a></li>
    [% END %]
    [%- IF SELF.project.id %]
      [%- IF INSTANCE_CONF.get_doc_storage %]
        <li><a href="controller.pl?action=File/list&file_type=attachment&object_type=project&object_id=[% SELF.project.id %]">[% 'Attachments' | $T8 %]</a></li>
      [%- END %]
    [%- END %]
    [% IF SELF.project.id and AUTH.assert('record_links', 1) %]
      <li><a href="#linked_records">[% 'Linked Records' | $T8 %]</a></li>
    [% END %]
   </ul>

   <div id="basic_data" class="ui-tabs-panel">
     [% PROCESS 'project/_basic_data.html' %]
   </div>

   [% IF CUSTOM_VARIABLES.size %]
     <div id="custom_variables" class="ui-tabs-panel">
       [% PROCESS 'project/_cvars.html' %]
     </div>
   [% END %]

   [% IF SELF.may_edit_invoice_permissions %]
     <div id="invoice_permissions">
      [%- PROCESS 'project/_invoice_permissions.html' %]
     </div>
   [% END %]

   [% IF SELF.project.id and AUTH.assert('record_links', 1) %]
     <div id="linked_records" class="ui-tabs-panel">
       [% PROCESS 'project/_linked_records.html' records=SELF.linked_records %]
     </div>
   [% END %]

  </div>
 </form>
