[%- USE HTML %]
[%- USE T8 %]
[%- USE L %]
[%- USE LxERP %]

<h1>[% title | html %]</h1>

[%- PROCESS 'common/flash.html' %]

<p>[% 'This export will include all records in the given time range and all supplicant information from checked entities. You will receive a single zip file. Please extract this file onto the data medium requested by your auditor.' | $T8 %]</p>

<form>

<table>
  <tr>
    <td>[% 'From Date' | $T8 %]</td>
    <td>[% L.date_tag('from', SELF.from) %]</td>
  </tr>
  <tr>
    <td>[% 'To Date' | $T8 %]</td>
    <td>[% L.date_tag('to', SELF.to) %]</td>
  </tr>
</table>

[% L.hidden_tag('action', 'Gdpdu/dispatch') %]

[% L.submit_tag('action_export', LxERP.t8('Export')) %]

</form>
