[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]
[% USE L %]

[% IF vc == 'vendor' %]
  [% SET is_vendor = 1 %]
  [% SET arap = 'ap' %]
  [% SET iris = 'ir' %]
[% ELSE %]
  [% SET is_vendor = 0 %]
  [% SET arap = 'ar' %]
  [% SET iris = 'is' %]
[% END %]

<h1>[% title %]: [% HTML.escape(export.ids.join(', ')) %]</h1>

<form action="sepa.pl" method="post" id="form">

<table>
  <thead>
    <tr>
      <th><input type="checkbox" id="select_all"></th>
      <th>[% 'Invoice' | $T8 %]</th>
      <th>[% IF is_vendor %][% 'Vendor' | $T8 %][% ELSE %][% LxERP.t8('Customer') %][% END %]</th>
      [% IF is_vendor %]
      <th colspan="2">[% 'Source bank account' | $T8 %]</th>
      <th colspan="2">[% 'Target bank account' | $T8 %]</th>
      [% ELSE %]
      <th colspan="2">[% 'Target bank account' | $T8 %]</th>
      <th colspan="2">[% 'Source bank account' | $T8 %]</th>
      [% END %]
      <th>[% 'Amount' | $T8 %]</th>
      <th>[% 'Skonto amount' | $T8 %]</th>
      <th>[% 'Payment type' | $T8 %]</th>
      [% IF vc == 'customer' %]
      <th>[% 'Mandator ID' | $T8 %]</th>
      [% END %]
      <th>[% 'Reference' | $T8 %]</th>
      <th>[% 'Requested execution date' | $T8 %]</th>
      <th>[% 'Execution date' | $T8 %]</th>
    </tr>
    <tr>
      <th colspan="3">&nbsp;</th>
      <th>[% 'IBAN' | $T8 %]</th>
      <th>[% 'BIC' | $T8 %]</th>
      <th>[% 'IBAN' | $T8 %]</th>
      <th>[% 'BIC' | $T8 %]</th>
      [% IF show_post_payments_button %]
      <th colspan="[% IF vc == 'customer' %]6[% ELSE %]5[% END %]">&nbsp;</th>
      <th> [% L.date_tag('set_all_execution_date', '', onchange='set_all_execution_date_fields(this);') %] </th>
      [% ELSE %]
      <th colspan="[% IF vc == 'customer' %]7[% ELSE %]6[% END %]">&nbsp;</th>
      [% END %]
    </tr>
  </thead>
  <tbody>
    [% FOREACH item = export.items %]
      <tr>
        <td>
          [% IF (show_post_payments_button && !item.executed) || (!show_post_payments_button && item.executed) %]
            [% L.hidden_tag("items[+].id", item.id) %]
            [% L.hidden_tag("items[].sepa_export_id", item.sepa_export_id) %]
            [% L.checkbox_tag("ids[]", value=item.id) %]
          [% END %]
        </td>
        <td><a href="[% IF item.invoice %][% iris %][% ELSE %][% arap %][% END %].pl?action=edit&type=invoice&id=[% IF is_vendor %][% HTML.url(item.ap_id) %][% ELSE %][% HTML.url(item.ar_id) %][% END %]">[% HTML.escape(item.invnumber) %]</a></td>
        <td>[% HTML.escape(item.vc_name) %]</td>
        <td>[% HTML.escape(item.our_iban) %]</td>
        <td>[% HTML.escape(item.our_bic) %]</td>
        <td>[% HTML.escape(item.vc_iban) %]</td>
        <td>[% HTML.escape(item.vc_bic) %]</td>
        <td>[% HTML.escape(LxERP.format_amount(item.amount, 2)) %]</td>
        <td>[% HTML.escape(LxERP.format_amount(item.skonto_amount, 2)) %]</td>
        <td>[% item.payment_type | $T8 %]</td>
        [% IF vc == 'customer' %]
          <td>[% HTML.escape(item.mandator_id) %]</td>
        [% END %]
        <td>[% HTML.escape(item.reference) %]</td>
        <td>[% HTML.escape(item.requested_execution_date) %]</td>
        <td>
          [% IF item.executed %]
            [% HTML.escape(item.execution_date) %]
          [% ELSIF item.export_closed %]
            [% 'not executed' | $T8 %]
          [% ELSE %]
            [% L.date_tag('items[].execution_date', item.requested_execution_date || current_date) %]
          [% END %]
        </td>
      </tr>
    [% END %]
  </tbody>
</table>

<script type="text/javascript">
  function set_all_execution_date_fields(input) {
    var new_date = $(input).val();
    $('INPUT[name="items[].execution_date"]').each(function() {
      $(this).val(new_date);
    });
  }

  $(function() {
    $("#select_all").checkall('INPUT[name="ids[]"]');
  });
</script>

<input type="hidden" name="vc" value="[% HTML.escape(vc) %]">

</form>
