[% USE T8 %]
[% USE L %]
[% USE HTML %]
[% USE LxERP %]

[% IF vc == 'vendor' %]
  [% SET is_vendor = 1 %]
  [% SET arap = 'ap' %]
  [% SET iris = 'ir' %]
[% ELSE %]
  [% SET is_vendor = 0 %]
  [% SET arap = 'ar' %]
  [% SET iris = 'is' %]
[% END %]

<h1>[% title %]</h1>

[% IF error_message %]
  <div class="message message_error">[% error_message %]</div>
[% END %]

<form action="sepa.pl" method="post" id="form">
<p>1.
  [% IF is_vendor %]
    [% 'Please select the source bank account for the transfers:' | $T8 %]
  [% ELSE %]
    [% 'Please select the destination bank account for the collections:' | $T8 %]
  [% END %]
  <br>
  [% L.select_tag('bank_account',
     BANK_ACCOUNTS,
     title_key='displayable_name',
     default=bank_account.id,
     with_empty=0,
     style='width:450px',
  ) %]
</p>

<p>2.
[% IF is_vendor %]
  [% 'Please Check the bank information for each vendor:' | $T8 %]
[% ELSE %]
  [% 'Please Check the bank information for each customer:' | $T8 %]
[% END %]
</p>

<table>
  <thead>
    <tr>
      <th>[% IF is_vendor %][% 'Vendor' | $T8 %][% ELSE %][% LxERP.t8('Customer') %][% END %]</th>
      <th>[% 'IBAN' | $T8 %]</th>
      <th>[% 'BIC' | $T8 %]</th>
      <th>[% 'Bank' | $T8 %]</th>
      [% IF vc == 'customer' %]
        <th>[% 'Mandator ID' | $T8 %]</th>
        <th>[% 'Mandate Date of Signature' | $T8 %]</th>
      [% END %]
    </tr>
  </thead>
  <tbody>
    [% FOREACH vbi = VC_BANK_INFO %]
      <tr class="listrow[% loop.count % 1 %]">
        <td> <input type="hidden" name="vc_bank_info[+].id" value="[% HTML.escape(vbi.id) %]"> <input type="hidden" name="vc_bank_info[].name" value="[% HTML.escape(vbi.name) %]"> [% HTML.escape(vbi.name) %] </td>
        <td><input type="text" name="vc_bank_info[].iban" size="34" value="[% HTML.escape(vbi.iban.substr(0, 34)) %]" maxlength="34"></td>
        <td><input type="text" name="vc_bank_info[].bic" size="20" value="[% HTML.escape(vbi.bic.substr(0, 20)) %]" maxlength="20"></td>
        <td><input type="text" name="vc_bank_info[].bank" size="30" value="[% HTML.escape(vbi.bank) %]"></td>
        [% IF vc == 'customer' %]
          <td><input type="text" name="vc_bank_info[].mandator_id" size="30" value="[% HTML.escape(vbi.mandator_id) %]"></td>
          <td>[% L.date_tag("vc_bank_info[].mandate_date_of_signature", vbi.mandate_date_of_signature) %]</td>
        [% END %]
      </tr>
    [% END %]
  </tbody>
</table>

<p>3. [% 'Enter the requested execution date or leave empty for the quickest possible execution:' | $T8 %]</p>

<table class="tbl-list">
  <thead>
    <tr>
      <th>[% IF is_vendor %][% 'Vendor' | $T8 %][% ELSE %][% LxERP.t8('Customer') %][% END %]</th>
      <th>[% 'Invoice' | $T8 %]</th>
      <th>[% 'Amount' | $T8 %]</th>
      <th>[% 'Open amount' | $T8 %]</th>
      <th>[% 'Purpose' | $T8 %]</th>
      <th>[% IF is_vendor %][% 'Bank transfer amount' | $T8 %][% ELSE %][% LxERP.t8('Bank collection amount') %][% END %]</th>
      <th>[% LxERP.t8('Payment type') %]</th>
      <th>[% LxERP.t8('Skonto information') %]</th>
      <th>[% 'Execution date' | $T8 %]</th>
    </tr>
  </thead>
  <tbody>
    [% FOREACH bank_transfer = BANK_TRANSFERS %]
      <tr>
        <td>
          <input type="hidden" name="bank_transfers[+].[% arap %]_id" value="[% HTML.escape(bank_transfer.id) %]">
          <input type="hidden" name="bank_transfers[].vc_id" value="[% HTML.escape(bank_transfer.vc_id) %]">
          <input type="hidden" name="bank_transfers[].selected" value="1">
          <input type="hidden" id="amount_less_skonto_[% loop.count %]" name="amount_less_skonto_[% loop.count %]" value="[% LxERP.format_amount(bank_transfer.amount_less_skonto, 2) %]">
          <input type="hidden" id="skonto_amount_[% loop.count %]" name="skonto_amount_[% loop.count %]" value="[% LxERP.format_amount(bank_transfer.skonto_amount, 2) %]">
          <input type="hidden" id="invoice_open_amount_[% loop.count %]" name="invoice_open_amount_[% loop.count %]" value="[% LxERP.format_amount(bank_transfer.open_amount, 2) %]">
          [% IF loop.first || (previous_vcname != bank_transfer.vcname) %]
            <a href="controller.pl?action=CustomerVendor/edit&db=[% vc %]&id=[% HTML.url(bank_transfer.vc_id) %]&callback=[% HTML.url('sepa.pl?action=bank_transfer_add&vc=' _ vc) %]">
              [% GET HTML.escape(bank_transfer.vcname); SET previous_vcname = bank_transfer.vcname; %]
            </a>
          [% END %]
        </td>
        <td><a href="[% IF bank_transfer.invoice %][% iris %][% ELSE %][% arap %][% END %].pl?action=edit&id=[% HTML.escape(bank_transfer.id) %]"> [% HTML.escape(bank_transfer.invnumber) %]</a></td>
        <td>[% LxERP.format_amount(bank_transfer.invoice_amount, -2) %]</td>
        <td>[% LxERP.format_amount(bank_transfer.open_amount, -2) %]</td>
        <td><input type="text" name="bank_transfers[].reference" value="[% HTML.escape(bank_transfer.reference.substr(0, 140)) %]" size="40" maxlength="140"></td>
        <td><input type="text" id="[% loop.count %]" name="bank_transfers[].amount" value="[% LxERP.format_amount(bank_transfer.amount, -2) %]" style="text-align: right" size="12"></td>
        <td>[% L.select_tag('bank_transfers[].payment_type', bank_transfer.payment_select_options, value_key => 'payment_type', title_key => 'display', id => 'payment_type_' _ loop.count, class => 'type_target' ) %]</td>
        <td[% IF bank_transfer.within_skonto_period %] style="background-color:LightGreen"[% END %]>
          [% IF bank_transfer.skonto_amount %]
            [% LxERP.format_amount(bank_transfer.percent_skonto, 2) %] % = [% LxERP.format_amount(bank_transfer.skonto_amount, 2) %] € [% 'until' | $T8 %] [% bank_transfer.skonto_date %]
          [% END %]
        </td>
        <td>[% L.date_tag('bank_transfers[].requested_execution_date', bank_transfer.recommended_execution_date) %]</td>
      </tr>
    [% END %]
  </tbody>
</table>

<p>[% 'Sum open amount' | $T8 %]: [% LxERP.format_amount(total_trans, -2) %]</p>

<input type="hidden" name="vc" value="[% HTML.escape(vc) %]">
<input type="hidden" name="confirmation" value="1">

</form>

<script type="text/javascript">
  $( ".type_target" ).change(function() {
    type_id = $(this).attr('id');
    var id = type_id.match(/\d*$/);
    // alert("found id " + id);
    if ( $(this).val() == "without_skonto" ) {
        $('#' + id).val( $('#invoice_open_amount_' + id).val() );
    } else if ( $(this).val() == "difference_as_skonto" ) {
        $('#' + id).val( $('#invoice_open_amount_' + id).val() );
    } else if ( $(this).val() == "with_skonto_pt" ) {
              $('#' + id).val( $('#amount_less_skonto_' + id).val() );
    }
  });
</script>
