[% USE HTML %]
[% USE LxERP %]
[% USE L %]

[% IF ok %]
  <p class="message message_ok">[% LxERP.t8('The connection to the shop was established successfully.') %]</p>
  <p>[% LxERP.t8('Version: ')%][% HTML.escape(version) %]</p>
[% ELSE %]
  <p class="message message_error"> [% LxERP.t8('The connection to the shop could not be established.') %] [% LxERP.t8('Error message from the webshop api:') %] </p>
  <p>[% HTML.escape(version) %]</p>
[% END %]
<div>
  <a href="#" onclick="$('#test_shop_connection_window').dialog('close');" class="button neutral">[% LxERP.t8("Close Window") %]</a>
</div>

