[%- USE HTML -%][%- USE LxERP -%][%- USE L -%][%- USE P -%][%- USE T8 -%]

<h1>[% HTML.escape(title) %]</h1>
<form action="controller.pl" method="post" id="form">
[%- L.hidden_tag("id", SELF.reclamation_reason.id) %]

<div class="wrapper" id="wrapper-1">
  <table class="tbl-horizontal">
    <tbody>
      <tr>
        <th>[% 'Name' | $T8 %]</th>
        <td>[%- L.input_tag("reclamation_reason.name", SELF.reclamation_reason.name, "data-validate"="required", "data-title"=LxERP.t8("Name"), class="wi-lightwide") %]</td>
      </tr>
      <tr>
        <th>[% 'Description' | $T8 %]</th>
        <td>[%- L.textarea_tag("reclamation_reason.description", SELF.reclamation_reason.description, "data-validate"="required", "data-title"=LxERP.t8("Description"), class='wi-lightwide') %]</td>
      </tr>
      <tr>
        <th>[% 'Valid for Sales' | $T8 %]</th>
        <td>[% L.checkbox_tag("reclamation_reason.valid_for_sales", checked=SELF.reclamation_reason.valid_for_sales, for_submit=1) %]</td>
      </tr>
      <tr>
        <th>[% 'Valid for Purchase' | $T8 %]</th>
        <td>[% L.checkbox_tag("reclamation_reason.valid_for_purchase", checked=SELF.reclamation_reason.valid_for_purchase, for_submit=1) %]</td>
      </tr>
    </tbody>
  </table>
</div>
</form>
