[% USE T8 %]
[% USE HTML %]
[% USE L %]
[% USE LxERP %]
[% USE date %]

<div id="variant_property_value">

<div class="wrapper">

<table class="tbl-list width-moderate">
  <caption>[% 'Value' | $T8 %]</caption>
  <thead>
    <tr>
      <th>[% 'Value'        | $T8 %]</th>
      <th>[% 'Abbreviation' | $T8 %]</th>
    </tr>
  </thead>
  <tbody>
     [% FOREACH row = SELF.VARIANTPROPERTYVALUES %]
      <tr>
        <td>[% row.value        | html %]</td>
        <td>[% row.abbreviation | html %]</td>
      </tr>
    [% END %]
  </tbody>
</table>
