[% USE HTML %][% USE LxERP %]
<body>

 <p><div class="listtop">[% title %]</div></p>

 <p>
  Die folgende Buchung enthält falsche Steuerschlüssel:
  <a href="[% problem.link %]">
   [%- IF problem.data.module == 'ar' %]
   Debitorenbuchung
   [%- ELSIF problem.data.module == 'ap' %]
   Kreditorenbuchung
   [%- ELSE %]
   Dialogbuchung
   [%- END %]
   [% HTML.escape(problem.data.reference) %]
  </a>
 </p>

 <p>
  Dies kann aus zwei Gründen geschehen sein:

  Zum Einen gab es einen Bug in Lx-Office, der dazu führte, dass bei Buchungen mit verschiedenen Steuerschlüssel auf ein Konto teilweise falsche Steuerschlüssel gespeichert wurden.

  Zum Anderen war es möglich, die Steuern unabhängig vom ausgewählten Steuerschlüssel selber einzugeben.

  Solche Einträge sind aber nicht DATEV-exportiertbar und müssen ebenfalls korrigiert werden.
 </p>

 <p>
  Nachfolgend wird angezeigt, wie die Buchung momentan aussieht.

  Sie haben die Möglichkeit, die Buchung zu korrigieren, indem Sie in den Drop-Down-Boxen die richtigen Steuerschlüssel auswählen und anschließend auf den Button "Buchung korrigieren" drücken.

  Auch nach einer Korrektur kann es mit dieser Buchung noch weitere Probleme geben (z.B. nicht zum Steuerschlüssel passende Steuern), weshalb ein erneutes Ausführen der Hauptbuchanalyse empfohlen wird.
 </p>

 <p>
  Alternativ können Sie die Buchung auch mit löschen lassen und sie anschließend neu eingeben.

  Drücken Sie dafür auf den Button "Buchung löschen".
 </p>

 <p>Aktuell sieht die Buchung wie folgt aus:</p>

 <form method="post" action="acctranscorrections.pl" name="Form">
  <p>
   <table>
    <tr>
     <th class="listheading">Konto</th>
     <th class="listheading">Soll</th>
     <th class="listheading">Haben</th>
     <th class="listheading">Gespeicherte Steuern</th>
     <th class="listheading">Gespeicherter Steuerschlüssel</th>
     <th class="listheading">Erwartete Steuern</th>
     <th class="listheading"></th>
     <th class="listheading">Richtiger Steuerschlüssel</th>
    </tr>

    [%- SET curr_row = 0 %]
    [%- IF (problem.data.module == 'ar') || ((problem.data.module == 'gl') && (problem.acc_trans.credit.entries.first.oid < problem.acc_trans.debit.entries.first.oid)) %]
     [%- SET order = [ 'credit', 'debit' ] %]
     [%- SET other_side = 'debit' %]
    [%- ELSE %]
     [%- SET order = [ 'debit', 'credit' ] %]
     [%- SET other_side = 'credit' %]
    [%- END %]


    [%- IF problem.acc_trans.credit.entries.size > problem.acc_trans.debit.entries.size %]
    [%- ELSE %]
    [%- END %]


    [%- FOREACH idx = order %]
     [%- FOREACH row = problem.acc_trans.$idx.entries %]
      [%- SET curr_row = curr_row + 1 %]
      <tr class="listrow[% curr_row % 2 %]">
       <td>[% HTML.escape(row.accno) %]--[% HTML.escape(row.chartdescription) %]</td>
       <td align="right">
        [%- IF idx == 'debit' %]
         [% LxERP.format_amount(row.display_amount, 2) %]
        [%- END %]
       </td>
       <td align="right">
        [%- IF idx == 'credit' %]
         [% LxERP.format_amount(row.display_amount, 2) %]
        [%- END %]
       </td>
       <td align="right">[% IF row.actual_tax %][% LxERP.format_amount(row.display_actual_tax, 2) %][% END %]</td>
       <td>[% IF (problem.data.module == 'gl') || (idx != other_side) %][% HTML.escape(row.taxdescription) %][% END %]</td>
       <td align="right">[% IF row.expected_tax %][% LxERP.format_amount(row.display_expected_tax, 2) %][% END %]</td>
       <td align="center" valign="center"><img src="image/[% IF row.taxkey_error %]error[% ELSE %]ok[% END %].png"></td>

       <td>
        [%- IF row.taxkey_error %]
         <input type="hidden" name="fixes[+].oid" value="[% HTML.escape(row.oid) %]">
         <input type="hidden" name="fixes[].tax_entry_oid" value="[% HTML.escape(row.tax_entry_oid) %]">
         <select name="fixes[].taxkey" style="width: 250px" onchange="enable_fix_button_maybe()">
          <option value="">---bitte auswählen---</option>
          [%- FOREACH taxkey = row.correct_taxkeys %]
           <option value="[% HTML.escape(taxkey.taxkey) %]">[% HTML.escape(taxkey.description) %]</option>
          [%- END %]
        [%- ELSE %]
        &nbsp;
        [%- END %]
      </tr>
     [%- END %]
    [%- END %]

   </table>
  </p>
  <hr>

  <p>
   <input type="hidden" name="callback" value="[% HTML.escape(callback) %]">

   <input type="hidden" name="action" value="dispatcher">
   <input type="hidden" name="trans_id" value="[% HTML.escape(problem.data.trans_id) %]">
   <input type="hidden" name="module" value="[% HTML.escape(problem.data.module) %]">
   <input type="hidden" name="reference" value="[% HTML.escape(problem.data.reference) %]">
   <input type="submit" class="submit" id="fix_transaction_button" name="action_fix_wrong_taxkeys" value="Buchung korrigieren" disabled>
   <input type="submit" class="submit" name="action_delete_transaction" value="Buchung löschen">
   <input type="button" class="submit" onclick="history.back()" value="Zurück">
  </p>
 </form>

 <script type="text/javascript" src="js/jquery.js"></script>
 <script type="text/javascript">
  <!--
    function enable_fix_button_maybe() {
      var all_set = true;
      $("[@name='fixes[].taxkey']").each(function () {
        var val = $(this).attr('value');
        if (val == '')
          all_set = false;
      });

      $("#fix_transaction_button").attr('disabled', !all_set);
    }
    -->
 </script>

</body>
</html>
