[% USE HTML %]
[% USE LxERP %]
<body>
 <p><div class="listheading">[% title %]</div></p>

 <p>
  [%- IF module == 'ar' %]
  [%- HTML.escape(LxERP.format_string('<translate>Do you really want to delete AR transaction #1?</translate>', reference)) %]
  [%- ELSIF module == 'ap' %]
  [%- HTML.escape(LxERP.format_string('<translate>Do you really want to delete AP transaction #1?</translate>', reference)) %]
  [%- ELSE %]
  [%- HTML.escape(LxERP.format_string('<translate>Do you really want to delete GL transaction #1?</translate>', reference)) %]
  [%- END %]
 </p>

 <p>
  <form method="post" action="acctranscorrections.pl">

   <input type="hidden" name="callback" value="[% HTML.escape(callback) %]">
   <input type="hidden" name="trans_id" value="[% HTML.escape(trans_id) %]">
   <input type="hidden" name="module" value="[% HTML.escape(module) %]">
   <input type="hidden" name="reference" value="[% HTML.escape(reference) %]">

   <input type="hidden" name="confirmation" value="1">
   <input type="hidden" name="action" value="delete_transaction">

   <input type="submit" value="<translate>Yes</translate>">
   <input type="button" onclick="history.back()" value="<translate>No</translate>">
  </form>
 </p>
</body>
</html>
