[% USE HTML %]
[% USE LxERP %]
<body>
 <p><div class="listheading">[% title %]</div></p>

 <p>
  [%- IF module == 'ar' %]
  [%- HTML.escape(LxERP.format_string('The AR transaction #1 has been deleted.', reference)) %]
  [%- ELSIF module == 'ap' %]
  [%- HTML.escape(LxERP.format_string('The AP transaction #1 has been deleted.', reference)) %]
  [%- ELSE %]
  [%- HTML.escape(LxERP.format_string('The GL transaction #1 has been deleted.', reference)) %]
  [%- END %]
 </p>

 <p>
  <form method="post" action="acctranscorrections.pl">

   <input type="hidden" name="action" value="redirect">
   <input type="hidden" name="callback" value="[% HTML.escape(callback) %]">
   <input type="submit" value="Re-run analysis">
  </form>
 </p>
</body>
</html>
