[%- USE T8 %][%- USE L %][%- USE P -%]
[%- SET style="width: 250px" %]
<h1>[% title %]</h1>

<form method=post name="search_invoice" action=[% script %]>
  <input type="hidden" name="sort" value="transdate">
  <input type=hidden name=nextsub value=[% nextsub %]>

  <table>

    <tr>
      <td align="right">[% 'Main sorting' | $T8 %]</td>
      <td>
        <select name="mainsort" id="mainsort">
          <option value="description">[% 'Part' | $T8 %]</option>
          <option value="customername">[% 'Customer' | $T8 %]</option>
          <option value="country">[% 'Country' | $T8 %]</option>
          <option value="partsgroup">[% 'Partsgroup' | $T8 %]</option>
          <option value="business">[% 'Customer type' | $T8 %]</option>
          <option value="salesman" selected="selected">[% 'Salesman' | $T8 %]</option>
          <option value="month">[% 'Month' | $T8 %]</option>
          <option value="shipvia">[% 'Ship via' | $T8 %]</option>
        </select>
      </td>
      <td align=left><input name="l_headers_mainsort" class=checkbox type=checkbox value=Y checked> [% 'Heading' | $T8 %]</td>
      <td align=left><input name="l_subtotal_mainsort" class=checkbox type=checkbox value=Y checked> [% 'Subtotal' | $T8 %]</td>
    </tr>

    <tr>
      <td align="right">[% 'Secondary sorting' | $T8 %]</td>
      <td>
        <select name="subsort" id="subsort">
          <option value="description">[% 'Part' | $T8 %]</option>
          <option value="customername">[% 'Customer' | $T8 %]</option>
          <option value="country">[% 'Country' | $T8 %]</option>
          <option value="partsgroup">[% 'Partsgroup' | $T8 %]</option>
          <option value="business">[% 'Customer type' | $T8 %]</option>
          <option value="salesman">[% 'Salesman' | $T8 %]</option>
          <option value="month" selected="selected">[% 'Month' | $T8 %]</option>
        </select>
      </td>
      <td align=left><input name="l_headers_subsort" class=checkbox type=checkbox value=Y checked> [% 'Heading' | $T8 %]</td>
      <td align=left><input name="l_subtotal_subsort" class=checkbox type=checkbox value=Y checked> [% 'Subtotal' | $T8 %]</td>
    </tr>

    <tr>
      <th align="right">[% 'Item mode' | $T8 %]</th>
      <td colspan="3" align=left><input name="l_parts" class=checkbox type=checkbox value=Y> ([%'Show items from invoices individually' | $T8 %]) </td>
    </tr>

    <tr>
      <th align="right">[% 'Total sum' | $T8 %]</th>
      <td colspan="1" align=left><input name="l_total" class=checkbox type=checkbox value=Y checked></td>
      <td align="right" nowrap>[% 'Decimalplaces' | $T8 %]: </td>
      <td colspan="2"><input name="decimalplaces" size="2" value="2"></td>
    </tr>

    <tr>
      <td></td>
      <td colspan="7">
        <hr size="1" noshade="">
      </td>
    <tr>

    <tr>
      <th align=right>[% 'Customer' | $T8 %]</th>
      <td>[% P.input_tag("customer", "", class="initial_focus", style=style) %]</td>

      <th align="right" nowrap>[% 'Customer Number' | $T8 %]</th>
      <td>[% P.input_tag("customernumber", "", style=style) %]</td>
    </tr>

    <tr>
      <th align=right nowrap>[% 'Department' | $T8 %]</th>
      <td>
        [%- L.select_tag('department_id',
                         ALL_DEPARTMENTS,
                         title_key  = 'description',
                         with_empty = 1,
                         style      = style)
      -%]
      </td>

      <th align="right">[% 'Project Number' | $T8 %]</th>
      <td>[% P.project.picker("project_id", "", style=style) %]</td>
    </tr>

    <tr>
      <th align="right" nowrap>[% 'Part Number' | $T8 %]</th>
      <td>[% P.input_tag("partnumber", "", style=style) %]</td>
    </tr>

    <tr>
      <th align="right" nowrap>[% 'Part Description' | $T8 %]</th>
      <td>[% P.input_tag("description", "", style=style) %]</td>
    </tr>

    <tr>
      <th align="right">[% 'Partsgroup' | $T8 %]</th>
      <td>[% P.select_tag("partsgroup_id", ALL_PARTSGROUPS, title_key="partsgroup", with_empty=1, style=style) %]</td>
      <td align="right" nowrap>[% 'Country' | $T8 %]</td>
      <td>[% P.input_tag("country", "", style=style) %]</td>
    </tr>

    <tr>
      <th align="right">[% 'Employee' | $T8 %]</th>
      <td>[% L.select_tag("employee_id", ALL_EMPLOYEES, title_key="safe_name", with_empty=1, style=style) %]</td>

      <th align="right">[% 'Salesman' | $T8 %]</th>
      <td>[% L.select_tag("salesman_id", ALL_EMPLOYEES, title_key="safe_name", with_empty=1, style=style) %]</td>
    </tr>

    <tr>
      <th align="right">[% 'Customer type' | $T8 %]</th>
      <td>[% L.select_tag("business_id", ALL_BUSINESS_TYPES, title_key="description", with_empty=1, style=style) %]</td>
    </tr>

    <tr>
      <th align=right nowrap>[% 'Invoice Date' | $T8 %] [% 'From' | $T8 %]</th>
      <td>
        [% L.date_tag('transdatefrom') %]
        [% 'Bis' | $T8 %]
        [% L.date_tag('transdateto') %]
      </td>
    </tr>


    <tr>
      <td></td>
      <th colspan="4" align="left">
        [% 'Filter for customer variables' | $T8 %]
      </th>
    </tr>
    [% CUSTOM_VARIABLES_FILTER_CODE_CT %]


    <tr>
      <td></td>
      <th colspan="4" align="left">
        [% 'Filter for item variables' | $T8 %]
      </th>
    </tr>
    [% CUSTOM_VARIABLES_FILTER_CODE_IC %]



    <tr>
      <td></td>
      <td colspan="7">
        <hr size="1" noshade="">
      </td>
    <tr>



    <tr>
      <th align=right nowrap>[% 'Include in Report' | $T8 %]</th>

      <td colspan="3">
        <table>
          <tr>
            <td colspan="4">
              [% 'Cumulated or averaged values' | $T8 %] ([% 'invoice mode or item mode' | $T8 %]):
            </td>
          </tr>

          <tr>
            <td align=left><input name="l_sellprice_total" class=checkbox type=checkbox value=Y checked>[% 'Sales price total' | $T8 %]</td>
            <td align=left><input name="l_lastcost_total" class=checkbox type=checkbox value=Y checked>[% 'Purchase price total' | $T8 %]</td>
            <td align=left><input name="l_marge_total" class=checkbox type=checkbox value=Y checked>[% 'Margetotal' | $T8 %]</td>
            <td colspan="4"> ([% 'Single values in item mode, cumulated values in invoice mode' | $T8 %])
          </tr>

          <tr>
            <td align=left><input name="l_sellprice" class=checkbox type=checkbox value=Y checked>[% 'Sales price' | $T8 %]</td>
            <td align=left><input name="l_lastcost" class=checkbox type=checkbox value=Y checked>[% 'Purchase price' | $T8 %]</td>
            <td align=left><input name="l_marge_percent" class=checkbox type=checkbox value=Y checked>[% 'Margepercent' | $T8 %]</td>
            <td colspan="4">([% 'averaged values, in invoice mode only useful when filtered by a part' | $T8 %])</td>
          </tr>

          <tr>
            <td align=left><input name="l_qty" class=checkbox type=checkbox value=Y checked>[% 'Quantity' | $T8 %]</td>
            <td align=left><input name="l_discount" class=checkbox type=checkbox value=Y>[% 'Discount' | $T8 %]</td>
            <td></td>
            <td colspan="4">([% 'averaged values, in invoice mode only useful when filtered by a part' | $T8 %])</td>
          </tr>

          <tr>
            <td align=left><input name="l_weight" class=checkbox type=checkbox value=Y>[% 'Weight' | $T8 %]</td>
          </tr>

          <tr>
            <td colspan="7">&nbsp;</td>
          </tr>

          <tr>
            <td colspan="4" align="left">
              [% 'Item values' | $T8 %] ([% 'Only shown in item mode' | $T8 %])
            </td>
          </tr>

          <tr>
            <td align=left><input name="l_description" class=checkbox type=checkbox value=Y checked>[% 'Description' | $T8 %]</td>
            <td align=left><input name="l_partnumber" class=checkbox type=checkbox value=Y>[% 'Part Number' | $T8 %]</td>
            <td align=left><input name="l_invnumber" class=checkbox type=checkbox value=Y>[% 'Invnumber' | $T8 %]</td>
            <td align=left><input name="l_transdate" class=checkbox type=checkbox value=Y>[% 'Invdate' | $T8 %]</td>
          </tr>

          <tr>
            <td align=left><input name="l_parts_unit" class=checkbox type=checkbox value=Y>[% 'Base unit' | $T8 %]</td>
            <td align=left><input name="l_partsgroup" class=checkbox type=checkbox value=Y>[% 'Partsgroup' | $T8 %]</td>
            <td align=left><input name="l_salesman" class=checkbox type=checkbox value=Y>[% 'Salesperson' | $T8 %]</td>
            <td align=left><input name="l_employee" class=checkbox type=checkbox value=Y>[% 'Employee' | $T8 %]</td>
          </tr>

          <tr>
            <td align=left><input name="l_customernumber" class=checkbox type=checkbox value=Y>[% 'Customer Number' | $T8 %]</td>
            <td align=left><input name="l_customername" class=checkbox type=checkbox value=Y>[% 'Customer Name' | $T8 %]</td>
            <td align=left><input name="l_country" class=checkbox type=checkbox value=Y>[% 'Country' | $T8 %]</td>
            <td align=left><input name="l_business" class=checkbox type=checkbox value=Y>[% 'Customer type' | $T8 %]</td>
          </tr>
          <tr>
            <td align=left><input name="l_shipvia" class=checkbox type=checkbox value=Y>[% 'Ship via' | $T8 %]</td>
          </tr>
          <tr>
            <th colspan="4" align="left">
              [% 'Customer variables' | $T8 %] ([% 'Only shown in item mode' | $T8 %])
            </th>
          </tr>
          [% CUSTOM_VARIABLES_INCLUSION_CODE_CT %]

          <tr>
            <th colspan="4" align="left">
              [% 'Item variables' | $T8 %] ([% 'Only shown in item mode' | $T8 %])
            </th>
          </tr>
          [% CUSTOM_VARIABLES_INCLUSION_CODE_IC %]

        </table>
      </td>
    </tr>

  </table>

  <hr size="3" noshade="">

  <input class=submit type=submit name=action value="[% 'Continue' | $T8 %]">

  <br><br>

</form>

<script type="text/javascript">
<!--
$(document).ready(function(){
  $('customer').focus();
})
//-->
</script>
