[% USE LxERP %]
[% USE T8 %]
[% USE L %]

<table class="tbl-list">
  <caption>
    [% IF is_type_credit_note %]
      [% 'Payments' | $T8 %]
    [% ELSE %]
      [% 'Incoming Payments' | $T8 %]
    [% END %]
  </caption>
  <thead>
  <tr>
    <th>[% 'Date' | $T8 %]</th>
    <th>[% 'Source' | $T8 %]</th>
    <th>[% 'Memo' | $T8 %]</th>
    <th>[% 'Amount' | $T8 %]</th>
    <th></th>
    [% IF show_exchangerate %]
    <th>[% 'Exch' | $T8 %]</th>
    [% END %]
    <th>[% 'Account' | $T8 %]</th>
  </tr>
  </thead>
  <tbody>
    [% FOREACH i = paid_indices %]
      [% SET changeable    = 'changeable_'    _ i %]
      [% SET acc_trans_id  = 'acc_trans_id_'  _ i %]
      [% SET p_gldate      = 'gldate_'        _ i %]
      [% SET datepaid      = 'datepaid_'      _ i %]
      [% SET source        = 'source_'        _ i %]
      [% SET memo          = 'memo_'          _ i %]
      [% SET paid          = 'paid_'          _ i %]
      [% SET AR_paid       = 'AR_paid_'       _ i %]
      [% SET selectAR_paid_ref = 'selectAR_paid_' _ i %]
      <!-- PENDENT: anders lösen -->
      <tr style='display:none'>
        <td>
          <input type=hidden name="acc_trans_id_[% i %]" value="[% $acc_trans_id %]">
          <input type=hidden name="gldate_[% i %]" value="[% $p_gldate %]">
        </td>
      </tr>
      <tr>
        <td>
          [% IF $changeable %]
            [% IF $datepaid %]
              [% L.date_tag('datepaid_'_ i, $datepaid) %]
            [% ELSE %]
              [% L.date_tag('datepaid_'_ i, today) %]
            [% END %]
          [% ELSE %]
             <input type="hidden" name="datepaid_[% i %]" value="[% $datepaid %]"> [% $datepaid %]
          [% END %]
        </td>
        <td>
          [% IF $changeable %]
            <input type="text" name="source_[% i %]" size="11" value="[% $source %]">
          [% ELSE %]
            <input type="hidden" name="source_[% i %]" value="[% $source %]">[% $source %]
          [% END %]
        </td>
        <td>
          [% IF $changeable %]
            <input type="text" name="memo_[% i %]" size="11" value="[% $memo %]">
          [% ELSE %]
            <input type="hidden" name="memo_[% i %]" value="[% $memo %]">[% $memo %]
          [% END %]
        </td>
        <td>
        [% IF $changeable %]
          <input name="paid_[% i %]" size="11" data-validate="number" class="numeric" value="[% LxERP.format_amount($paid, 2, 1) %]">
        [% ELSE %]
          <input type="hidden" name="paid_[% i %]" value="[% LxERP.format_amount($paid, 2, 1) %]">
          [% LxERP.format_amount($paid, 2, 1) %]
        [% END %]
        </td>
        <td>
          [% IF $changeable && loop.last && paid_missing > 0 %]
            <input type="button" id="is_set_to_paid_missing" value="[% 'Set to paid missing' | $T8 %]">
          [% END %]
        </td>
        [% IF show_exchangerate %]
          <td>
           [% SET forex        = 'forex_'        _ i %]
           [% SET exchangerate = 'exchangerate_' _ i %]
           [% IF $forex %]
             <input type="hidden" name="exchangerate_[% i %]" value="[% LxERP.format_amount($exchangerate, 5) %]">
             [% LxERP.format_amount($forex, 5) %]
           [% ELSE %]
             [% IF $changeable %]
               <input type="text" name="exchangerate_[% i %]" size="10" value="[% LxERP.format_amount($exchangerate, 5, 1) %]">
             [% ELSE %]
               <input type="hidden" name="exchangerate_[% i %]" value="[% LxERP.format_amount($exchangerate, 5, 1) %]">
               [% LxERP.format_amount($exchangerate, 5, 1) %]
             [% END %]
           [% END %]
         <input type="hidden" name="forex_[% i %]" value="[% $forex %]">
        </td>
        [% END %]
        <td>
          [% IF $changeable %]
            <select name="AR_paid_[% i %]">[% $selectAR_paid_ref %]</select>
          [% ELSE %]
            <input type="hidden" name="AR_paid_[% i %]" value="[% $AR_paid %]">[% $AR_paid %]
          [% END %]
        </td>
      </tr>
    [% END # foreach %]
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"></td>
      <td class="right">[% 'Total' | $T8 %]</td>
      <td class="numeric">[% LxERP.format_amount(totalpaid, 2) | html %]</td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td class="right">[% 'Missing amount' | $T8 %]</td>
      <td class="numeric">[% LxERP.format_amount(paid_missing, 2) | html %]</td>
      <td colspan="2">
        <input type="hidden" name="paidaccounts" value="[% paidaccounts %]">
        <input type="hidden" name="selectAR_paid" value="[% selectAR_paid %]">
        <input type="hidden" name="oldinvtotal" value="[% oldinvtotal %]">
        <input type="hidden" name="oldtotalpaid" value="[% totalpaid %]">
      </td>
   </tr>
  </tfoot>
</table>

<script type='text/javascript'>
  $('#is_set_to_paid_missing').click(function(){ $('input[name^="paid_"]:last').val('[% LxERP.format_amount(paid_missing, 2) %]') });
</script>
