[%- USE T8 %]
[%- USE LxERP %]
[%- USE L %]

<form method="post" action="controller.pl" id="order_form">
  <div class="listtop">[% FORM.title %]</div>

  [% L.hidden_tag('callback', FORM.callback) %]
  [% L.hidden_tag('type',     FORM.type) %]
  [% L.hidden_tag('id',       SELF.order.id) %]

  [%- INCLUDE 'common/flash.html' %]

  <div class="tabwidget" id="order_tabs">
    <ul>
      <li><a href="#ui-tabs-basic-data">[% 'Basic Data' | $T8 %]</a></li>
[%- IF INSTANCE_CONF.get_webdav %]
      <li><a href="#ui-tabs-webdav">[% 'WebDAV' | $T8 %]</a></li>
[%- END %]
    </ul>

    [% PROCESS "order/tabs/basic_data.html" %]
    [% PROCESS 'webdav/_list.html' %]
    <div id="ui-tabs-1">
      [%- LxERP.t8("Loading...") %]
    </div>
  </div>

  <br>

  [% L.hidden_tag('action', 'Order/dispatch') %]

  [% L.button_tag('save()', LxERP.t8('Save')) %]
  [% L.button_tag('create_pdf()', LxERP.t8('Create PDF')) %]
  [% L.button_tag('email()', LxERP.t8('E-mail')) %]
  [% L.button_tag('save_and_delivery_order()', LxERP.t8('Save and Delivery Order')) %]
[%- IF SELF.order.id && ( (SELF.cv == 'customer' && INSTANCE_CONF.get_sales_order_show_delete) || (SELF.cv == 'vendor' && INSTANCE_CONF.get_purchase_order_show_delete) ) %]
  [% L.button_tag('delete_order()', LxERP.t8('Delete'), confirm=LxERP.t8("Are you sure?")) %]
[%- END %]

</form>


<script type='text/javascript'>

function delete_order() {
  var data = $('#order_form').serializeArray();
  data.push({ name: 'action', value: 'Order/delete' });

  $.post("controller.pl", data, kivi.eval_json_result);
}

function save() {
  if (!check_cv()) return;
  var data = $('#order_form').serialize();
  data += '&action=Order/save';

  $.post("controller.pl", data, kivi.eval_json_result);
}

function create_pdf() {
  if (!check_cv()) return;
  var data = $('#order_form').serialize();
  data += '&action=Order/create_pdf';

  $.post("controller.pl", data, kivi.eval_json_result);
}

function download_pdf(pdf_filename, key) {
  var data = 'action=Order/download_pdf';
  data += '&type=' + $('#type').val();
  data += '&pdf_filename=' + pdf_filename;
  data += '&key=' + key;
  $.download("controller.pl", data);
}

function email() {
  if (!check_cv()) return;
  var data = $('#order_form').serialize();
  data += '&action=Order/show_email_dialog';

  $.post("controller.pl", data, kivi.eval_json_result);
}

function save_and_delivery_order() {
  if (!check_cv()) return;
  var data = $('#order_form').serialize();
  data += '&action=Order/save_and_delivery_order';

  $.post("controller.pl", data, kivi.eval_json_result);
}

function check_cv() {
  if ($('#order_[%- cv_id %]').val() == '') {
    [%- IF SELF.cv == 'customer' %]
      alert(kivi.t8('Please select a customer.'));
    [%- ELSE %]
      alert(kivi.t8('Please select a vendor.'));
    [%- END %]
    return false;
  }
  return true;
}
</script>
