[%- USE T8 %]
[%- USE LxERP %]
[%- USE L %]

<form method="post" action="controller.pl" id="order_form">
  <div class="listtop">[% FORM.title %]</div>

  [% L.hidden_tag('callback', FORM.callback) %]
  [% L.hidden_tag('type',     FORM.type) %]
  [% L.hidden_tag('id',       SELF.order.id) %]

  [%- INCLUDE 'common/flash.html' %]

  <div class="tabwidget" id="order_tabs">
    <ul>
      <li><a href="#ui-tabs-basic-data">[% 'Basic Data' | $T8 %]</a></li>
[%- IF INSTANCE_CONF.get_webdav %]
      <li><a href="#ui-tabs-webdav">[% 'WebDAV' | $T8 %]</a></li>
[%- END %]
    </ul>

    [% PROCESS "order/tabs/basic_data.html" %]
    [% PROCESS 'webdav/_list.html' %]
    <div id="ui-tabs-1">
      [%- LxERP.t8("Loading...") %]
    </div>
  </div>

  <br>

  [% L.hidden_tag('action', 'Order/dispatch') %]

  [% L.button_tag('save()', LxERP.t8('Save')) %]

</form>


<script type='text/javascript'>

function save() {
  if (!check_cv()) return;
  var data = $('#order_form').serialize();
  data += '&action=Order/save';

  $.post("controller.pl", data, kivi.eval_json_result);
}

function check_cv() {
  if ($('#order_[%- cv_id %]').val() == '') {
    [%- IF SELF.cv == 'customer' %]
      alert(kivi.t8('Please select a customer.'));
    [%- ELSE %]
      alert(kivi.t8('Please select a vendor.'));
    [%- END %]
    return false;
  }
  return true;
}
</script>
