[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]
[% USE L %]
[% USE P %]

[% # Determine which shipping address to show if the delivery order has been shipped already. %]
[% IF delivered;
  SET shipto_label = [];
  IF shipto_id;
    FOREACH row = ALL_SHIPTO ;
      IF row.shipto_id == shipto_id ;
        SET shipto_label = [ row.shiptoname, row.shiptodepartment_1, row.shiptostreet, row.shiptocity ] ;
      END ;
    END ;
  ELSE ;
    SET shipto_label = [ shiptoname, shiptodepartment_1, shiptostreet, shiptocity ] ;
  END ;

  SET shipto_label = shipto_label.grep('.') ;
  IF !shipto_label.size ;
    shipto_label = [ LxERP.t8('no shipping address') ] ;
  END ;
END ; %]

<h1>[% title %]</h1>

<script type="text/javascript" src="js/show_form_details.js"></script>
<script type="text/javascript" src="js/show_history.js"></script>
<script type="text/javascript" src="js/show_vc_details.js"></script>
<script type="text/javascript" src="js/delivery_customer_selection.js"></script>
<script type="text/javascript" src="js/calculate_qty.js"></script>
<script type="text/javascript" src="js/stock_in_out.js"></script>
<script type="text/javascript" src="js/follow_up.js"></script>
<script type="text/javascript" src="js/kivi.SalesPurchase.js"></script>


[% IF vc == 'customer' %]
  [% SET is_customer = '1' %]
[% ELSE %]
  [% SET vc = 'vendor' %]
  [% SET is_customer = '0' %]
[% END %]
[% SET vc_id = vc _ "_id" %]
[% IF delivered %]
  [% SET DISABLED = ' disabled' %]
[% END %]

[% INCLUDE 'common/flash.html' %]
[% INCLUDE 'generic/set_longdescription.html' %]

[% IF ERRORS && ERRORS.size %]
  <p class="message message_error">[% ERRORS.join('<br>') %]</p>
[% END %]

<form id="form" method="post" name="do" action="do.pl">

<div id="do_tabs" class="tabwidget">
  <ul>
    <li><a href="#ui-tabs-basic-data">[% 'Basic Data' | $T8 %]</a></li>
    [% IF INSTANCE_CONF.get_webdav %]
      <li><a href="#ui-tabs-webdav">[% 'WebDAV' | $T8 %]</a></li>
    [% END %]
    [% IF id AND INSTANCE_CONF.get_doc_storage %]
      <li><a href="controller.pl?action=File/list&file_type=document&object_type=[% HTML.escape(type) %]&object_id=[% HTML.url(id) %]">[% 'Documents' | $T8 %]</a></li>
      <li><a href="controller.pl?action=File/list&file_type=attachment&object_type=[% HTML.escape(type) %]&object_id=[% HTML.url(id) %]">[% 'Attachments' | $T8 %]</a></li>
    [% END %]
    [% IF id AND AUTH.assert('record_links', 1) %]
      <li><a href="controller.pl?action=RecordLinks/ajax_list&object_model=DeliveryOrder&object_id=[% HTML.url(id) %]">[% 'Linked Records' | $T8 %]</a></li>
    [% END %]
  </ul>

<div id="ui-tabs-basic-data">
<div class="wrapper" id="wrapper-1">
[% INCLUDE 'generic/toggle_wrapper.html' %]

<input type="hidden" name="follow_up_trans_id_1" id="follow_up_trans_id_1" value="[% HTML.escape(id) %]">
<input type="hidden" name="follow_up_trans_type_1" id="follow_up_trans_type_1" value="[% HTML.escape(type) %]">
<input type="hidden" name="follow_up_trans_info_1" id="follow_up_trans_info_1" value="[% HTML.escape(follow_up_trans_info) %]">
<input type="hidden" name="follow_up_rowcount" id="follow_up_rowcount" value="1">

<input type="hidden" name="business" id="business" value="[% HTML.escape(business) %]">
<input type="hidden" name="closed" id="closed" value="[% HTML.escape(closed) %]">
<input type="hidden" name="convert_from_oe_ids" id="convert_from_oe_ids" value="[% HTML.escape(convert_from_oe_ids) %]">
<input type="hidden" name="currency" id="currency" value="[% HTML.escape(currency) %]">
<input type="hidden" name="customer_pricegroup_id" id="customer_pricegroup_id" value="[% HTML.escape(customer_pricegroup_id) %]">
<input type="hidden" name="discount" id="discount" value="[% HTML.escape(discount) %]">
<input type="hidden" name="dunning_amount" id="dunning_amount" value="[% HTML.escape(dunning_amount) %]">
<input type="hidden" name="emailed" id="emailed" value="[% HTML.escape(emailed) %]">
<input type="hidden" name="id" id="id" value="[% HTML.escape(id) %]">
<input type="hidden" name="max_dunning_level" id="max_dunning_level" value="[% HTML.escape(max_dunning_level) %]">
<input type="hidden" name="printed" id="printed" value="[% HTML.escape(printed) %]">
<input type="hidden" name="proforma" id="proforma" value="[% HTML.escape(proforma) %]">
<input type="hidden" name="queued" id="queued" value="[% HTML.escape(queued) %]">
<input type="hidden" name="saved_donumber" id="saved_donumber" value="[% HTML.escape(saved_donumber) %]">
[% IF delivered %]
  <input type="hidden" name="shipto_id" id="shipto_id" value="[% HTML.escape(shipto_id) %]">
  <input type="hidden" name="shiptocity" id="shiptocity" value="[% HTML.escape(shiptocity) %]">
  <input type="hidden" name="shiptocontact" id="shiptocontact" value="[% HTML.escape(shiptocontact) %]">
  <input type="hidden" name="shiptocp_gender" id="shiptocp_gender" value="[% HTML.escape(shiptocp_gender) %]">
  <input type="hidden" name="shiptocountry" id="shiptocountry" value="[% HTML.escape(shiptocountry) %]">
  <input type="hidden" name="shiptogln" id="shiptogln" value="[% HTML.escape(shiptogln) %]">
  <input type="hidden" name="shiptodepartment_1" id="shiptodepartment_1" value="[% HTML.escape(shiptodepartment_1) %]">
  <input type="hidden" name="shiptodepartment_2" id="shiptodepartment_2" value="[% HTML.escape(shiptodepartment_2) %]">
  <input type="hidden" name="shiptoemail" id="shiptoemail" value="[% HTML.escape(shiptoemail) %]">
  <input type="hidden" name="shiptofax" id="shiptofax" value="[% HTML.escape(shiptofax) %]">
  <input type="hidden" name="shiptoname" id="shiptoname" value="[% HTML.escape(shiptoname) %]">
  <input type="hidden" name="shiptophone" id="shiptophone" value="[% HTML.escape(shiptophone) %]">
  <input type="hidden" name="shiptostreet" id="shiptostreet" value="[% HTML.escape(shiptostreet) %]">
  <input type="hidden" name="shiptozipcode" id="shiptozipcode" value="[% HTML.escape(shiptozipcode) %]">
  <input type="hidden" name="shiptocp_gender" id="shiptocp_gender" value="[% HTML.escape(shiptocp_gender) %]">
[% END %]
<input type="hidden" name="show_details" id="show_details" value="[% HTML.escape(show_details) %]">
<input type="hidden" name="taxincluded" id="taxincluded" value="[% HTML.escape(taxincluded) %]">
<input type="hidden" name="taxzone_id" id="taxzone_id" value="[% HTML.escape(taxzone_id) %]">
<input type="hidden" name="title" id="title" value="[% HTML.escape(title) %]">
<input type="hidden" name="type" id="type" value="[% HTML.escape(type) %]">
<input type="hidden" name="vc" id="vc" value="[% HTML.escape(vc) %]">
<input type="hidden" name="lastmtime" id="lastmtime" value="[% HTML.escape(lastmtime) %]">
<input type="hidden" name="tax_point" id="tax_point" value="[% HTML.escape(tax_point) %]">

[% IF !id %]
[%   L.hidden_tag('form_validity_token', form_validity_token) %]
[% END %]

[% IF delivered %][% SET RO=' readonly' %][% END %]

<table class="tbl-horizontal col">
  <caption>[% 'Customer & Order Information' | $T8 %]</caption>
  <colgroup><col class="wi-mediumsmall"><col class="wi-wide"></colgroup>
  <tbody>
    <tr>
      <th>[% IF is_customer %][% 'Customer' | $T8 %][% ELSE %][% 'Vendor' | $T8 %][% END %]</th>
      <td class="wi-wide">
        [% IF RO %]
          [% P.hidden_tag(vc_id, $vc_id) %]
          [% HTML.escape(VC_OBJ.name) %]
        [% ELSE %]
          [% P.customer_vendor.picker(vc_id, $vc_id, type=vc, class="wi-wide tooltipstered", onchange="\$('#update_button').click()", title=VC_OBJ.name ) %]
        [% END %]
        [% #P.button_tag("show_vc_details('" _ HTML.escape(vc) _ "')", LxERP.t8("Details (one letter abbreviation)"), class="wi-tiny neutral", title=LxERP.t8('Detailed information about this contact') ) %]
        <a href="javascript:show_vc_details('[% HTML.escape(vc) %]');" title="[% 'Show detail informationen' | $T8 %]" class="button-image info"><img src="image/detail.png"></a>
        [% P.hidden_tag("previous_" _ vc_id, $vc_id) %]
      </td>
    </tr>
    [% IF ALL_CONTACTS.size %]
    <tr>
      <th>[% 'Contact Person' | $T8 %]</th>
      <td>
        [% IF delivered %]
          <input type="hidden" name="cp_id" value="[% HTML.escape(cp_id) %]">
          [% IF cp_id == row.cp_id %]
            <span class="data wi-wide">[% HTML.escape(row.cp_name) %][% IF row.cp_abteilung %] ([% HTML.escape(row.cp_abteilung) %])[% END -%]</span>
          [% END %]
        [% ELSE %]
          [% L.select_tag('cp_id', ALL_CONTACTS, default = cp_id, value_key = 'cp_id', title_key = 'full_name_dep', with_empty = 1, class='wi-wide') %]
        [% END %]
      </td>
    </tr>
    [% END %]
    <tr>
      <th>[% 'Shipping Address' | $T8 %]</th>
      <td>
        [% IF delivered %]
          <span class="data wi-wide">[% HTML.escape(shipto_label.join('; ')) %]</span>
        [% ELSE %]
          [% IF ALL_SHIPTO.size %]
            [% shiptos = [ [ "", LxERP.t8("No/individual shipping address") ] ] ;
               L.select_tag('shipto_id', shiptos.import(ALL_SHIPTO), default=shipto_id, value_key='shipto_id', title_key='displayable_id', class='wi-wide') %]
          [% END %]
          [% L.button_tag("kivi.SalesPurchase.edit_custom_shipto()", LxERP.t8("Custom shipto"), class='button neutral below wi-wide') %]
        [% END %]
      </td>
    </tr>
    [% IF (vc == 'customer') && VC_OBJ.additional_billing_addresses.as_list.size %]
    <tr>
      <th>[% 'Custom Billing Address' | $T8 %]</th>
      <td>
        [% L.select_tag('billing_address_id', VC_OBJ.additional_billing_addresses,
                        with_empty=1, default=billing_address_id, value_key='id', title_key='displayable_id', class='wi-wide') %]
      </td>
    </tr>
    [% END %]
    [% IF business %]
      <tr>
        <th>[% IF is_customer %][% 'Customer type' | $T8 %][% ELSE %][% 'Vendor type' | $T8 %][% END %]</th>
        <td><span class="data wi-wide">[% HTML.escape(business) %]</span><!-- PENDENT: Behandlung von Text in Formular-Tabellen -->  </td>
      </tr>
    [% END %]
    [% IF max_dunning_level %]
      <tr>
        <th>[% 'Max. Dunning Level' | $T8 %]</th>
        <td>
          <b>[% HTML.escape(max_dunning_level) %]</b>, [% 'Dunning Amount' | $T8 %]:
          <b>[% HTML.escape(LxERP.format_amount(dunning_amount, 2)) %]</b>
        </td>
      </tr>
    [% END %]
    [% IF ALL_LANGUAGES.size %]
      <tr>
       <th>[% 'Language' | $T8 %]</th>
       <td>
        [% L.select_tag('language_id', ALL_LANGUAGES, default = language_id, title_key = 'description', with_empty = 1, style = 'width: 250px' )%]
       </td>
      </tr>
    [% END %]
    [% IF ALL_DEPARTMENTS.size %]
      <tr>
        <th>[% 'Department' | $T8 %]</th>
        <td>
          [% IF ( delivered ) %]
            [% L.hidden_tag('department_id', department_id) %]
          [% ELSE %]
            [% L.select_tag('department_id', ALL_DEPARTMENTS, default = department_id, title_key = 'description', with_empty = 1, class='wi-wide', disabled = delivered )%]
          [% END %]
        </td>
      </tr>
    [% END %]
    <tr>
      <th>[% 'Shipping Point' | $T8 %]</th>
      <td><input type="text" name="shippingpoint" class="wi-wide" value="[% HTML.escape(shippingpoint) %]"[% RO %]></td>
    </tr>
    <tr>
      <th>[% 'Ship via' | $T8 %]</th>
      <td><input type="text" name="shipvia" class="wi-wide" value="[% HTML.escape(shipvia) %]"[% RO %]></td>
    </tr>
    <tr>
      <th>[% 'Transaction description' | $T8 %]</th>
      <td>[% L.input_tag("transaction_description", transaction_description, class="wi-wide", "data-validate"=(INSTANCE_CONF.get_require_transaction_description_ps ? 'required' : ''), readonly=delivered) %]</td>
    </tr>
  </tbody>
</table>



<table class="tbl-horizontal col">
  <caption>[% 'Delivery Terms' | $T8 %]</caption>
  <colgroup><col class="wi-wide"></colgroup>
  <tbody>
    <tr>
      <td>[% L.select_tag('delivery_term_id', ALL_DELIVERY_TERMS, default=delivery_term_id, with_empty=1, title_key='description', class='wi-wide') %]</td>
   </tr>
    <tr>
      <th class="caption"> [% 'Notes' | $T8 %] </th>
    </tr>
    <tr>
      <td class="wi-wide">
        [% IF delivered %]
          [% L.hidden_tag("notes", notes) %]
          <div class="fake-textarea fake-wi-wide">[% P.restricted_html(notes) %]</div>
        [% ELSE %]
          [% L.textarea_tag("notes", notes, rows=3, cols=10, class="texteditor wi-wide") %]
        [% END %]
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <span class="label above">[% 'Internal Notes' | $T8 %]</span>
        [% L.textarea_tag("intnotes", intnotes, class="wi-wide") %]
      </td>
    </tr>
  </tbody>
</table>


<table class="tbl-horizontal">
  <caption>[% 'Status & Handling' | $T8 %]</caption>
  <tbody>
    <tr>
      <th>[% 'Transfer Status' | $T8 %]</th>
      <td>
        <span class="data wi-normal">[% IF delivered %]
          [% IF is_customer %]
            [% 'transferred out' | $T8 %]
          [% ELSE %]
            [% 'transferred in' | $T8 %]
          [% END %]
        [% ELSE %]
          [% IF is_customer %]
            [% 'not transferred out yet' | $T8 %]
          [% ELSE %]
            [% 'not transferred in yet' | $T8 %]
          [% END %]
        [% END %]</span>
      </td>
      </tr>
    <tr>
      <th>[% 'Status' | $T8 %]</th>
      <td>
        <span class="data wi-normal">[% IF closed %][% 'Closed' | $T8 %][% ELSE %][% 'Open' | $T8 %][% END %]</span>
        <input type="hidden" name="delivered" value="[% HTML.escape(delivered) %]">
     </td>
    </tr>
    <tr>
      <th>[% 'Employee' | $T8 %]</th>
      <td>
        [% IF delivered %]
          <input type="hidden" name="employee_id" value="[% HTML.escape(employee_id) %]">
          [% FOREACH row = ALL_EMPLOYEES %]
            [% IF row.id == employee_id %]
              [% IF row.name %]
                <span class="data wi-normal">[% HTML.escape(row.name) %]</span>
              [% ELSE %]
                <span class="data wi-normal">[% HTML.escape(row.login) %]</span>
              [% END %]
            [% END %]
          [% END %]
        [% ELSE %]
          [% L.select_tag('employee_id', ALL_EMPLOYEES, default = employee_id, title_key = 'safe_name', class='wi-normal') %]
        [% END %]
      </td>
    </tr>
    [% IF is_customer %]
      [% IF salesman_id %]
        [% SET the_salesman_id = salesman_id %]
      [% ELSE %]
        [% SET the_salesman_id = employee_id %]
      [% END %]
      <tr>
        <th>[% 'Salesman' | $T8 %]</th>
        <td>
          [% IF delivered %]
            <input type="hidden" name="salesman_id" value="[% HTML.escape(salesman_id) %]">
            [% FOREACH row = ALL_SALESMEN %]
              [% IF row.id == the_salesman_id %]
               [% IF row.name %]
                 <span class="data wi-normal">[% HTML.escape(row.name) %][% ELSE %][% HTML.escape(row.login) %]</span>
               [% END %]
             [% END %]
            [% END %]
          [% ELSE %]
            [% L.select_tag('salesman_id', ALL_SALESMEN, default = (salesman_id ? salesman_id : employee_id), title_key = 'safe_name', class='wi-normal') %]
          [% END %]
        </td>
      </tr>
    [% END %]
    <tr>
      <th class="caption" colspan="2">[% 'IDs & Dates' | $T8 %]</th>
    </tr>
    <tr>
      <th>[% 'Delivery Order Number' | $T8 %]</th>
      <td>
        [% IF !is_customer || INSTANCE_CONF.get_sales_purchase_record_numbers_changeable %]
          [% L.input_tag("donumber", donumber, readonly=delivered, class="wi-mediumsmall") %]
        [% ELSIF id %]
          [% HTML.escape(donumber) %]
          [% L.hidden_tag("donumber", donumber) %]
        [% ELSE %]
          [% LxERP.t8("will be set upon saving") %]
        [% END %]
      </td>
    </tr>
    <tr>
      <th>[% 'Order Number' | $T8 %]</th>
      <td><input type="text" name="ordnumber" id="ordnumber" class="wi-mediumsmall" value="[% HTML.escape(ordnumber) %]"[% RO %]></td>
    </tr>
    <tr>
      <th>[% IF is_customer %][% 'Customer Order Number' | $T8 %][% ELSE %][% 'Vendor Order Number' | $T8 %][% END %]</th>
      <td><input type="text" name="cusordnumber" id="cusordnumber" class="wi-mediumsmall" value="[% HTML.escape(cusordnumber) %]"[% RO %]></td>
    </tr>
   <tr>
      <th>[% 'Project Number' | $T8 %]</th>
      <td>
        [% IF delivered %]
          <input type="hidden" name="globalproject_id" value="[% HTML.escape(globalproject_id) %]">
          [% FOREACH row = ALL_PROJECTS %]
            [% IF globalproject_id == row.id %][% HTML.escape(row.projectnumber) %][% END %]
          [% END %]
        [% ELSE %]
          <select name="globalproject_id" class="wi-mediumsmall">
            <option></option>
            [% FOREACH row = ALL_PROJECTS %]
              <option value="[% HTML.escape(row.id) %]"[% IF globalproject_id == row.id %] selected[% END %]>[% HTML.escape(row.projectnumber) %]</option>
            [% END %]
          </select>
        [% END %]
      </td>
    </tr>
    <tr>
      <th>[% 'Delivery Order Date' | $T8 %]</th>
      <td> [% L.date_tag('transdate', transdate, readonly => delivered, class='wi-small') %] </td>
    </tr>
    <tr>
      <th>[% 'Reqdate' | $T8 %]</th>
      <td> [% L.date_tag('reqdate', reqdate, readonly => delivered, class='wi-small') %] </td>
    </tr>
    [% IF is_customer %]
      <tr>
        <th>[% 'Insert Date' | $T8 %]</th>
        <td><span class="data wi-small">[% insertdate %]</span></td>
      </tr>
    [% END %]
  </tbody>
</table>

</div><!-- /.wrapper -->
