[% USE HTML %]
[% USE L %]

<script type="text/javascript"><!--
  $(function(){
    var row = $('#row').val();
    $(window.opener.document.getElementsByName("stock_" + $('#in_out').prop('value') + "_" + row)).val($('#stock').val());
    $(window.opener.document.getElementById("stock_in_out_qty_display_" + row)).html($('#qty_display').val());
    $(window.opener.document.getElementById("stock_in_out_qty_matches_" + row)).val([% qty_matches %]);
    window.close();
  });
--></script>

<form name="data">
  <input type="hidden" name="row" id="row" value="[% HTML.escape(row) %]">
  <input type="hidden" name="stock" id="stock" value="[% HTML.escape(stock) %]">
  <input type="hidden" name="in_out" id="in_out" value="[% HTML.escape(in_out) %]">
  <input type="hidden" name="qty_display" id="qty_display" value="[% HTML.escape(qty_display) %]">
</form>
