[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]

<form method="post" action="do.pl" name="Form">

<div class="wrapper">

  <h2>[% title %]</h2>

  [% IF delivered %]
    [% SET RO = ' readonly' %]
  [% END %]

  [% IF ERRORS && ERRORS.size %]
    <div class="message message_error">[% ERRORS.join('<br>') %]</div>
  [% END %]

  <table class="tbl-horizontal">
    <tbody>
      <tr>
        <th>[% 'Part Number' | $T8 %]</th>
        <td>[% HTML.escape(PART_INFO.partnumber) %]</td>
      </tr>
      <tr>
        <th>[% 'Description' | $T8 %]</th>
        <td>[% HTML.escape(PART_INFO.description) %]</td>
      </tr>
      <tr>
        <th>[% 'Qty according to delivery order' | $T8 %]</th>
        <td>[% HTML.escape(do_qty) %] [% HTML.escape(do_unit) %]</td>
      </tr>
    </tbody>
  </table>

</div><!-- /.wrapper -->

[% UNLESS WHCONTENTS.size %]


<div class="wrapper">
  <p class="message message_hint">[% 'There are no items in stock.' | $T8 %]</p>
  <div class="buttons"><button type="button" onclick="window.close()">[% 'Close Window' | $T8 %]</button></div>
  <script type="text/javascript"><!--
    $(function(){
      $(window.opener.document.getElementsByName("stock_out_[% HTML.escape(row) %]")).val("");
    });
   --></script>
</div><!-- /.wrapper -->

[% ELSE %]

  <div class="wrapper">

  <input type="hidden" name="nextsub"   value="set_stock_out">
  <input type="hidden" name="rowcount"  value="[% HTML.escape(WHCONTENTS.size) %]">
  <input type="hidden" name="in_out"    value="out">
  <input type="hidden" name="parts_id"  value="[% HTML.escape(parts_id) %]">
  <input type="hidden" name="partunit"  value="[% HTML.escape(PART_INFO.unit) %]">
  <input type="hidden" name="do_qty"    value="[% HTML.escape(do_qty) %]">
  <input type="hidden" name="do_unit"   value="[% HTML.escape(do_unit) %]">
  <input type="hidden" name="row"       value="[% HTML.escape(row) %]">
  <input type="hidden" name="closed"    value="[% HTML.escape(closed) %]">
  <input type="hidden" name="delivered" value="[% HTML.escape(delivered) %]">

  <table class="tbl-list">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>[% 'Warehouse' | $T8 %]</th>
        <th>[% 'Bin' | $T8 %]</th>
        <th>[% 'Charge Number' | $T8 %]</th>
        [% IF INSTANCE_CONF.get_show_bestbefore %]
          <th>[% 'Best Before' | $T8 %]</th>
        [% END %] [% UNLESS delivered %]
          <th>[% 'Available qty' | $T8 %]</th>
        [% END %]
        <th>[% 'Qty' | $T8 %]</th>
        <th>[% 'Unit' | $T8 %]</th>
      </tr>
    </thead>
    <tbody>
      [% FOREACH row = WHCONTENTS %]
        <tr[% IF row.stock_error %] class="error"[% END %]>
          <td>[% loop.count %]</td>
          <td>[% HTML.escape(row.warehousedescription) %]</td>
          <td>[% HTML.escape(row.bindescription) %]</td>
          <td>[% HTML.escape(row.chargenumber) %]</td>
          [% IF INSTANCE_CONF.get_show_bestbefore %]
            <td>[% HTML.escape(row.bestbefore) %]</td>
          [% END %]
          [% IF delivered %]
            <td>[% HTML.escape(LxERP.format_amount(row.stock_qty)) %]</td>
            <td>[% HTML.escape(row.stock_unit) %]</td>
          [% ELSE %]
            <td>[% HTML.escape(row.available_qty) %]</td>
            <td>
              [% IF row.stock_qty %]
                [% qty_value = HTML.escape(LxERP.format_amount(row.stock_qty)) %]
              [% ELSIF ((whcontents.size == 1) && (!row.stock_qty)) %]
                [% qty_value = HTML.escape(do_qty) %]
              [% END %]
              <input name="qty_[% loop.count %]" style="text-align: right;" size="12" value="[% qty_value %]">
            </td>
            <td>
              <select name="unit_[% loop.count %]">
                [% FOREACH unit = UNITS %]
                  <option[% IF unit.name == row.stock_unit %] selected[% END %]>[% HTML.escape(unit.name) %]</option>
                [% END %]
              </select>
              <input type="hidden" name="warehouse_id_[% loop.count %]" value="[% HTML.escape(row.warehouse_id) %]">
              <input type="hidden" name="bin_id_[% loop.count %]" value="[% HTML.escape(row.bin_id) %]">
              <input type="hidden" name="chargenumber_[% loop.count %]" value="[% HTML.escape(row.chargenumber) %]">
              <input type="hidden" name="delivery_order_items_stock_id_[% loop.count %]" value="[% HTML.escape(row.stock_delivery_order_items_stock_id) %]">
              [% IF INSTANCE_CONF.get_show_bestbefore %]
                <input type="hidden" name="bestbefore_[% loop.count %]" value="[% HTML.escape(row.bestbefore) %]">
              [% END %]
            </td>
          [% END %]
        </tr>
      [% END %]
    </tbody>
  </table>

  <div class="buttons">
    [% IF delivered %]
      <button type="button" name="action" onclick="window.close()" class="neutral">[% 'Close Window' | $T8 %]</button>
    [% ELSE %]
      <input type="submit" name="action" value="[% 'Continue' | $T8 %]">
    [% END %]
  </div>

</div><!-- /.wrapper -->

[% END %]
</form>
