[% USE HTML %]
[% USE L %]
[% USE LxERP %]

<h1>[% FORM.title %]</h1>

<form method="post" action="controller.pl" id="form">
  [% L.hidden_tag("id", SELF.background_job.id) %]
  [% L.hidden_tag("back_to", SELF.back_to) %]

  <table>
    <tbody>
       <tr>
        <th>[% LxERP.t8('Active') %]</th>
        <td>[% L.yes_no_tag("background_job.active", SELF.background_job.active) %]</td>
       </tr>
       <tr>
        <th>[% LxERP.t8('Execution type') %]</th>
        <td>[% 
          L.select_tag('background_job.type', [
            [ 'once', LxERP.t8('one-time execution') ],
            [ 'interval', LxERP.t8('repeated execution') ]
          ],
          'default' = SELF.background_job.type) 
        %]</td>
       </tr>
       <tr>
        <th>[% LxERP.t8('Package name') %]</th>
        <td>[% L.select_tag("background_job.package_name", JOB_CLASSES, 'default' => SELF.background_job.package_name) %]</td>
       </tr>
       <tr>
        <th>[% LxERP.t8('Description') %]</th>
        <td>[% L.input_tag("background_job.description", SELF.background_job.description, 'size' => 40) %]</td>
       </tr>
       <tr>
        <th>[% LxERP.t8('Execution schedule') %]</th>
        <td>[% L.input_tag("background_job.cron_spec", SELF.background_job.cron_spec, 'size' => 40) %]</td>
       </tr>
       <tr>
        <th>[% LxERP.t8('Data') %]</th>
        <td>[% L.textarea_tag("background_job.data", SELF.background_job.data, 'cols' => 80, 'rows' => 10) %]</td>
       </tr>
    </tbody>
  </table>

</form>
