[% USE HTML %]
[% USE L %]
[% USE LxERP %]

<h1>[% FORM.title %]</h1>

[% IF !BACKGROUND_JOBS.size %]
  <p>[% LxERP.t8('No background job has been created yet.') %]</p>

[% ELSE %]
  <table id="background_job_list" class="tbl-list" width="100%">
    <thead>
      <tr>
        <th>[% L.sortable_table_header('package_name') %]</th>
        <th>[% L.sortable_table_header('description') %]</th>
        <th>[% L.sortable_table_header('type') %]</th>
        <th>[% L.sortable_table_header('active') %]</th>
        <th>[% L.sortable_table_header('cron_spec') %]</th>
        <th>[% L.sortable_table_header('last_run_at') %]</th>
        <th>[% L.sortable_table_header('next_run_at') %]</th>
      </tr>
    </thead>

    <tbody>
    [% FOREACH background_job = BACKGROUND_JOBS %]
      <tr class="listrow[% loop.count % 2 %]" id="background_job_id_[% background_job.id %]">
        <td><a href="[% SELF.url_for(action => 'edit', id => background_job.id, back_to => SELF.get_callback) %]">[% HTML.escape(background_job.package_name) %]</a></td>
        <td>[% HTML.escape(background_job.description) %]</td>
        <td>
          [% IF background_job.type == 'once' %]
            [% LxERP.t8('one-time execution') %]
          [% ELSIF background_job.type == 'interval' %]
            [% LxERP.t8('repeated execution') %]
          [% ELSE %]
            [% HTML.escape(background_job.type) %]
          [% END %]
        </td>
        <td>[% IF background_job.active %][% LxERP.t8('yes') %][% ELSE %][% LxERP.t8('no') %][% END %]</td>
        <td>[% HTML.escape(background_job.cron_spec) %]</td>
        <td>
          [% IF background_job.last_run_at %]
            [% HTML.escape(background_job.last_run_at.to_lxoffice('precision' => 'second')) %]
          [% ELSE %]
            [% LxERP.t8('never') %]
          [% END %]
        </td>

        <td>
          [% IF background_job.next_run_at %]
            [% HTML.escape(background_job.next_run_at.to_lxoffice('precision' => 'second')) %]
          [% ELSE %]
            [% LxERP.t8('not set') %]
          [% END %]
        </td>
      </tr>
    [% END %]
    </tbody>
  </table>
[% END %]

[% L.paginate_controls %]
