[%- USE T8 %]
[% USE HTML %]<body class="admin" onload="document.getElementById('rpw').focus()">
 <p><input type="button" class="submit" onclick="history.back()" value="[% 'Back' | $T8 %]"></p>
 <div align="center">

  <a href="http://www.lx-office.org"><img src="image/lx-office-erp.png" border="0"></a>

  <h3 class="login">[% 'Lx-Office' | $T8 %] [% HTML.escape(version) %]</h3>

  <h2>[% 'Administration' | $T8 %]</h2>

  [% IF error_message %]
  <p><span class="error_message">[% error_message %]</span></p>
  [% END %]

  <form method="post" action="admin.pl">

   <table>
    <tr>
     <th>[% 'Password' | $T8 %]</th>
     <td><input type="password" name="rpw" id="rpw"></td>
     <td><input type="submit" class="submit" name="action" value="[% 'Login' | $T8 %]"></td>
    </tr>
    <input type="hidden" name="action" value="login">
   </table>

  </form>

  <p>[% 'Lx-Office Homepage' | $T8 %]: <a href="http://lx-office.org" target="_blank" title="[% 'Lx-Office Homepage' | $T8 %]">http://lx-office.org</a></p>

 </div>

</body>
</html>
