[%- USE T8 %]
[% USE HTML %]
[% USE LxERP%]
<body class="admin" onload="document.getElementById('rpw').focus()">
 <div align="center">

  <a href="http://www.kivitendo.org"><img src="image/kivitendo.png" border="0"></a>

  <h3 class="login">[% 'kivitendo' | $T8 %] [% HTML.escape(version) %]</h3>

  <h2>[% 'Administration' | $T8 %]</h2>

  [% IF error %]
  <p><span class="message_error_login">[% error %]</span></p>
  [% END %]

  <form method="post" action="admin.pl">

   <table>
    <tr>
     <th>[% 'Password' | $T8 %]</th>
     <td><input type="password" name="{AUTH}admin_password" id="rpw"></td>
     <td><input type="submit" class="submit" name="action" value="[% 'Login' | $T8 %]"></td>
    </tr>
    <input type="hidden" name="action" value="login">
   </table>

  </form>

  <p>[% 'kivitendo Homepage' | $T8 %]: <a href="http://kivitendo.de" target="_blank" title="[% 'kivitendo Homepage' | $T8 %]">http://kivitendo.de</a></p>

  <p><a href="controller.pl?action=LoginScreen/user_login" target="_top">[%- LxERP.t8('Back to the login page') %]</a></p>

 </div>

</body>
</html>
