[%- USE T8 %]
[% USE HTML %]
[% USE LxERP %][%- USE L -%]
 <center>
  <table class="login" border="3" cellpadding="20">
   <tr>
    <td class="login" align="center">
     <a href="http://www.kivitendo.de" target="_top" class="no-underlined-links"><img src="image/kivitendo.png" class='kivitendo-logo' border="0"></a>
     <h1>[% LxERP.t8('kivitendo v#1 administration', version) %]</h1>

[% IF error %]
     <p><span class="message_error_login">[% HTML.escape(error) %]</span></p>
[% END %]

     <p>

      <form method="post" action="controller.pl">
       [%- L.hidden_tag("action",   'Admin/login') %]
       [%- L.hidden_tag("do_login", 1) %]

       <table width="100%">
        <tr>
         <td align="center">
          <table>
           <tr>
            <th align="right">[% 'Password' | $T8 %]</th>
            <td>[%- L.input_tag("{AUTH}admin_password", '', type="password", class="login", id="admin_password", size="30", class="initial_focus") %]</td>
           </tr>
          </table>

          <br>

          [% L.submit_tag('dummy', LxERP.t8('Login')) %]

         </td>
        </tr>
       </table>
      </form>

    </td>
   </tr>
  </table>

  <p>
   <a href="controller.pl?action=LoginScreen/user_login" target="_top">[%- LxERP.t8('User login') %]</a>
   &nbsp;|&nbsp;
   [%- LxERP.t8('Documentation') %]
   <a href="doc/kivitendo-Dokumentation.pdf" target="_top">[%- LxERP.t8('PDF') %]</a>/<a href="doc/html/index.html" target="_top">[%- LxERP.t8('HTML') %]</a>
  </p>
