[% USE HTML %]<body class="admin">

 <h2>Administratorpasswort ändern</h2>

 <form method="post" action="admin.pl">

  <table>
   <tr>
    <td><b>Passwort</b></td>
    <td><input type="password" name="password" size="8"></td>
   </tr>

   <tr>
    <td><b>Passwort wiederholen</b></td>
    <td><input type="password" name="password_again" size="8"></td>
   </tr>
  </table>

  <input type="hidden" name="rpw" value="[% HTML.escape(rpw) %]">

  <p><input type="submit" class="submit" name="action" value="Passwort ändern"></p>

 </form>

</body>
</html>
