[%- USE T8 %]
[% USE HTML %]<body>

 <div class="listtop">[% title %]</div>

 <p>
  [% 'The tables for user management and authentication do not exist. They will be created in the next step in the following database:' | $T8 %]
 </p>

 <table border="0">
  <tr>
   <td>[% 'Host' | $T8 %]:</td>
   <td>[% HTML.escape(db_host) %]</td>
  </tr>
  <tr>
   <td>[% 'Port' | $T8 %]:</td>
   <td>[% HTML.escape(db_port) %]</td>
  </tr>
  <tr>
   <td>[% 'User name' | $T8 %]:</td>
   <td>[% HTML.escape(db_user) %]</td>
  </tr>
  <tr>
   <td>[% 'Database name' | $T8 %]:</td>
   <td>[% HTML.escape(db_db) %]</td>
  </tr>
 </table>

 <p>
  [% 'If you want to change any of these parameters then press the &quot;Back&quot; button, edit the file &quot;config/authentication.pl&quot; and login into the admin module again.' | $T8 %]
 </p>

 <form method="post" action="admin.pl">

  <input type="hidden" name="rpw" value="[% HTML.escape(rpw) %]">
  <input type="hidden" name="action" value="create_auth_tables">

  <input type="submit" class="submit" value="[% 'Create tables' | $T8 %]">
  <input type="button" class="submit" onclick="history.back()" value="[% 'Back' | $T8 %]">

 </form>

</body>
</html>
