[% USE HTML %]<body>

 <div class="listtop">[% title %]</div>

 <form method="post" action="admin.pl">

  <p>
   <translate>The database for user management and authentication does
    not exist. You can create let Lx-Office create it with the
    following parameters:</translate>
  </p>

  <table border="0">
   <tr>
    <td><translate>Host</translate>:</td>
    <td>[% HTML.escape(db_host) %]</td>
   </tr>
   <tr>
    <td><translate>Port</translate>:</td>
    <td>[% HTML.escape(db_port) %]</td>
   </tr>
   <tr>
    <td><translate>User name</translate>:</td>
    <td>[% HTML.escape(db_user) %]</td>
   </tr>
   <tr>
    <td><translate>Database name</translate>:</td>
    <td>[% HTML.escape(db_db) %]</td>
   </tr>
  </table>

  <p>
   <translate>Please enter the name of the database that will be
    used as the template for the new database:</translate>
  </p>

  <p><translate>Template database</translate>: <input name="db_template" value="template1"></p>

  <p>
   <translate>If the database user listed above does not have the
    right to create a database then enter the name and password of the
    superuser below:</translate>
  </p>

  <table border="0"
   <tr>
    <td><translate>Superuser name</translate>:</td>
    <td><input name="db_superuser"></td>
   </tr>

   <tr>
    <td><translate>Password</translate>:</td>
    <td><input type="password" name="db_superuser_password"></td>
   </tr>
  </table>

  <input type="hidden" name="rpw" value="[% HTML.escape(rpw) %]">
  <input type="hidden" name="action" value="create_auth_db">

  <input type="submit" class="submit" value="<translate>Create Dataset</translate>">
  <input type="button" class="submit" onclick="history.back()" value="<translate>Back</translate>">

 </form>

</body>
</html>
