[% USE HTML %]<body>

 <div class="listtop">[% title %]</div>

 <p>
  Die Tabellen zum Speichern der Benutzerdaten und zur Benutzerauthentifizierung wurden nicht gefunden. Sie werden in der folgenden Datenbank angelegt:
 </p>

 <table border="0">
  <tr>
   <td>Datenbankcomputer:</td>
   <td>[% HTML.escape(db_host) %]</td>
  </tr>
  <tr>
   <td>Port:</td>
   <td>[% HTML.escape(db_port) %]</td>
  </tr>
  <tr>
   <td>Benutzername:</td>
   <td>[% HTML.escape(db_user) %]</td>
  </tr>
  <tr>
   <td>Datenbankname:</td>
   <td>[% HTML.escape(db_db) %]</td>
  </tr>
 </table>

 <p>
  Wenn Sie einen der Parameter &auml;ndern wollen, so dr&uuml;cken Sie auf den &quot;Zur&uuml;ck&quot;-Button, bearbeiten Sie die Datei &quot;config/authentication.pl&quot;, und melden Sie sich erneut im Administrationsbereich an.
 </p>

 <form method="post" action="admin.pl">

  <input type="hidden" name="rpw" value="[% HTML.escape(rpw) %]">
  <input type="hidden" name="action" value="create_auth_tables">

  <input type="submit" class="submit" value="Tabellen anlegen">
  <input type="button" class="submit" onclick="history.back()" value="Zurück">

 </form>

</body>
</html>
