[% USE HTML %]<body>

 <div class="listtop">[% title %]</div>

 <form method="post" action="admin.pl">

  <p>
   Die Datenbank zur Verwaltung der Benutzerdaten und zur Authentifizierung existiert nicht. Sie k&ouml;nnen Lx-Office diese Datenbank mit den folgenden Parametern anlegen lassen:
  </p>

  <table border="0">
   <tr>
    <td>Datenbankcomputer:</td>
    <td>[% HTML.escape(db_host) %]</td>
   </tr>
   <tr>
    <td>Port:</td>
    <td>[% HTML.escape(db_port) %]</td>
   </tr>
   <tr>
    <td>Benutzername:</td>
    <td>[% HTML.escape(db_user) %]</td>
   </tr>
   <tr>
    <td>Datenbankname:</td>
    <td>[% HTML.escape(db_db) %]</td>
   </tr>
  </table>

  <p>
   Bitte geben Sie den Namen der Datenbank an, die als Vorlage f&uuml;r die neue Datenbank benutzt wird:
  </p>

  <p>Datenbankvorlage: <input name="db_template" value="template0"></p>

  <p>
   Falls der oben genannte Datenbankbenutzer nicht die Berechtigung zum Anlegen neuer Datenbanken hat, so k&ouml;nnen Sie hier den Namen und das Passwort des Datenbankadministratoraccounts angeben:
  </p>

  <table border="0"
   <tr>
    <td>Datenbankadministrator:</td>
    <td><input name="db_superuser"></td>
   </tr>

   <tr>
    <td>Passwort:</td>
    <td><input type="password" name="db_superuser_password"></td>
   </tr>
  </table>

  <input type="hidden" name="rpw" value="[% HTML.escape(rpw) %]">
  <input type="hidden" name="action" value="create_auth_db">

  <input type="submit" class="submit" value="Datenbank anlegen">
  <input type="button" class="submit" onclick="history.back()" value="Zurück">

 </form>

</body>
</html>
