[%- USE T8 %]
[% USE HTML %]<body>

 <div class="listtop">[% title %]</div>

 <form method="post" action="admin.pl">

  <p>

   [% 'Lx-Office has been switched to group-based access restrictions.' | $T8 %]

   [% 'You have to create at least one group, grant it access to Lx-Office's functions and assign users to it.' | $T8 %]

   [% 'Otherwise all users will only have access to their own settings.' | $T8 %]

  </p>

  <p>

   [% 'During this user migration Lx-Office can create such a group for you and grant all users access to all of Lx-Office's functions.' | $T8 %]

   [% 'This corresponds to Lx-Office's behavior prior to version 2.4.4.' | $T8 %]

  </p>

  <p>

   [% 'Alternatively you can skip this step and create groups yourself.' | $T8 %]

  </p>

  <p>

   [% 'Do you want Lx-Office to create a group for access to all functions?' | $T8 %]

   [% 'This group will be called &quot;Full Access&quot;.' | $T8 %]

  </p>

  <input type="hidden" name="action" value="dispatcher">

  <p>
   <input type="submit" class="submit" name="action_create_standard_group" value="[% 'Yes' | $T8 %]">
   <input type="submit" class="submit" name="action_dont_create_standard_group" value="[% 'No' | $T8 %]">
  </p>

 </form>

</body>
</html>
