[% USE HTML %]<body class="admin">

  <h2>[% title %]</h2>

  <form method="post" action="admin.pl">

   <table>
    <tr>
     <td>

      <table>

       <input type="hidden" name="dbdriver" value="[% HTML.escape(dbdriver) %]">

       <tr>
        <td>
         <table>

          <tr>

           <th align="right">Datenbankcomputer</th>
           <td><input name="dbhost" size="25" value="[% HTML.escape(dbhost) %]"></td>
           <th align="right">Port</th>
           <td><input name="dbport" size="5" value="[% HTML.escape(dbport) %]"></td>

          </tr>

          <tr>

           <th align="right">Benutzer</th>
           <td><input name="dbuser" size="10" value="[% HTML.escape(dbuser) %]"></td>
           <th align="right">Passwort</th>
           <td><input type="password" name="dbpasswd" size="10"></td>

          </tr>

          <tr>

           <th align="right">Datenbankvorlage</th>
           <td colspan="3"><input name="dbdefault" size="10" value="[% HTML.escape(dbdefault) %]"></td>

          </tr>

         </table>

        </td>
       </tr>
      </table>

      <input name="callback" type="hidden" value="admin.pl?action=list_users&rpw=[% HTML.url(rpw) %]">
      <input type="hidden" name="rpw" value="[% HTML.escape(rpw) %]">

      <br>

      <input type="submit" class="submit" name="action" value="Datenbank anlegen">
      <input type="submit" class="submit" name="action" value="Datenbank aktualisieren">
      <input type="submit" class="submit" name="action" value="Datenbank löschen">
      [% IF ALLOW_DBBACKUP %]
       <input type="submit" class="submit" name="action" value="Datenbank sichern">
       <input type="submit" class="submit" name="action" value="Datenbank wiederherstellen">
      [% END %]
     </td>
    </tr>
   </table>
  </form>

  <p>In diesem Schritt werden bestehende Datenbanken gesucht. Es werden noch keine &Auml;nderungen vorgenommen!</p>

  <p>F&uuml;r lokale Verbindungen "Rechner" und "Port" freilassen.</p>

</body>
</html>
