[% USE HTML %]<body class="admin">

  <h2>[% title %]</h2>

  <form method="post" action="admin.pl">

   <table>
    <tr>
     <td>

      <table>

       <input type="hidden" name="dbdriver" value="[% HTML.escape(dbdriver) %]">

       <tr>
        <td>
         <table>

          <tr>

           <th align="right"><translate>Host</translate></th>
           <td><input name="dbhost" size="25" value="[% HTML.escape(dbhost) %]"></td>
           <th align="right"><translate>Port</translate></th>
           <td><input name="dbport" size="5" value="[% HTML.escape(dbport) %]"></td>

          </tr>

          <tr>

           <th align="right"><translate>User</translate></th>
           <td><input name="dbuser" size="10" value="[% HTML.escape(dbuser) %]"></td>
           <th align="right"><translate>Password</translate></th>
           <td><input type="password" name="dbpasswd" size="10"></td>

          </tr>

          <tr>

           <th align="right"><translate>Database template</translate></th>
           <td colspan="3"><input name="dbdefault" size="10" value="[% HTML.escape(dbdefault) %]"></td>

          </tr>

         </table>

        </td>
       </tr>
      </table>

      <input name="callback" type="hidden" value="admin.pl?action=list_users&rpw=[% HTML.url(rpw) %]">
      <input type="hidden" name="rpw" value="[% HTML.escape(rpw) %]">

      <br>

      <input type="submit" class="submit" name="action" value="<translate>Create Dataset</translate>">
      <input type="submit" class="submit" name="action" value="<translate>Update Dataset</translate>">
      <input type="submit" class="submit" name="action" value="<translate>Delete Dataset</translate>">
      [% IF ALLOW_DBBACKUP %]
       <input type="submit" class="submit" name="action" value="<translate>Backup Dataset</translate>">
       <input type="submit" class="submit" name="action" value="<translate>Restore Dataset</translate>">
      [% END %]
     </td>
    </tr>
   </table>
  </form>

  <p><translate>This is a preliminary check for existing sources. Nothing will be created or deleted at this stage!</translate></p>

  <p><translate>Leave host and port field empty unless you want to make a remote connection.</translate></p>

</body>
</html>
