[% USE HTML %]<body>
 <form name="Form" method="post" action="admin.pl">


  <input type="hidden" name="group_id" value="[% HTML.escape(id) %]">
  <input type="hidden" name="confirmed" value="1">

  <div class="listtop">Gruppe l&ouml;schen</div>

  <p>Wollen Sie wirklich diese Gruppe l&ouml;schen: [% name %] ?</p>

  <input type="hidden" name="delete_nextsub" value="delete_group">
  <input type="submit" class="submit" name="action" value="Löschen">
  <button type="button" onclick="history.back()">Zurück</button>

 </form>

</body>
</html>
