[%- USE T8 %]
[% USE HTML %]<body>
  <div class="listtop">[% 'Delete group' | $T8 %]: [% name %]</div>
  <p class="message_hint">[ [% name %] ] - [% 'Do you really want to delete this group?' | $T8 %]</p>

   <form name="Form" method="post" action="admin.pl">
    <input type="hidden" name="back_nextsub" value="edit_groups">
    <input type="submit" class="submit" name="action" value="[% 'Back' | $T8 %]">


    <input type="hidden" name="group_id" value="[% HTML.escape(id) %]">
    <input type="hidden" name="confirmed" value="1">
    <input type="hidden" name="delete_nextsub" value="delete_group">
    <input type="submit" class="submit" name="action" value="[% 'Delete' | $T8 %]">
   </form>

 </body>
</html>
