[% USE HTML %]<body>
 <form name="Form" method="post" action="admin.pl">


  <input type="hidden" name="group_id" value="[% HTML.escape(id) %]">
  <input type="hidden" name="confirmed" value="1">

  <div class="listtop"><translate>Delete group</translate></div>

  <p><translate>Do you really want to delete this group:</translate> [% name %] ?</p>

  <input type="hidden" name="delete_nextsub" value="delete_group">
  <input type="submit" class="submit" name="action" value="<translate>Delete</translate>">
  <button type="button" onclick="history.back()"><translate>Back</translate></button>

 </form>

</body>
</html>
