[% USE T8 %][% USE HTML %][% USE L %][% USE LxERP -%]
<body>
 [% L.stylesheet_tag('jquery.multiselect2side') %]
 [% L.javascript_tag('jquery.selectboxes', 'jquery.multiselect2side') %]

 <form name="Form" method="post" action="admin.pl">
  [% IF message %]
  <p class="message_ok">[% message %]</p>
  [% END %]

  <div class="listtop">[% 'Edit group ' | $T8 %]:  [% HTML.escape(name) %]</div>

  <p><a href="admin.pl?action=edit_groups">[% 'Back' | $T8 %]</a></p>

   <hr>

  <h3 class="listheading">[%- LxERP.t8('Edit membership') %]</h3>

  <div class="clearfix">
   [% L.select_tag("user_ids[]", L.options_for_select(ALL_USERS, value => 'id', title => 'login', default => USER_IDS_IN_GROUP), 'multiple' => 'multiple') %]
  </div>

  <h3 class="listheading">[% 'Edit rights' | $T8 %]</h3>

  <p>
   [% FOREACH right = RIGHTS %]
    [% IF right.is_section %]
     <i>[% right.description %]</i><br>
    [% ELSE %]
     <input type="checkbox" name="[% HTML.escape(right.right) %]_granted" id="[% HTML.escape(right.right) %]_granted" [% IF right.granted %]checked[% END %]>
     <label for="[% HTML.escape(right.right) %]_granted">[% IF right.description %][% right.description %][% ELSE %]<i>[% HTML.escape(right.right) %]</i>[% END %]</label>
     <br>
    [% END %]
   [% END %]
  </p>

  <h3 class="listheading">[% LxERP.t8('Rename the group') %]</h3>

  <table>
   <tr>
    <td>[% 'Name' | $T8 %]:</td>
    <td><input name="name" maxlength="50" value="[% HTML.escape(name) %]"></td>
   </tr>

   <tr>
    <td>[% 'Description' | $T8 %]:</td>
    <td><input name="description" value="[% HTML.escape(description) %]"></td>
   </tr>
  </table>

  <p>
   <input type="hidden" name="group_id" value="[% HTML.escape(group_id) %]">
   <input type="hidden" name="action" value="save_group">
   <input type="submit" class="submit" value="[% 'Save' | $T8 %]">
   &nbsp;
   <a href="admin.pl?action=edit_groups">[% 'Back' | $T8 %]</a>
  </p>
 </form>

 [% L.multiselect2side('user_ids_', labelsx => LxERP.t8('All users'), labeldx => LxERP.t8('Users in this group')) %]
</body>
</html>
