<body class="admin">

 <form method="post" action="admin.pl">

  <div class="listtop" width="100%"><TMPL_VAR title></div>

  <table width="100%">
   <tr valign="top">
    <td>
     <table>
      <tr>
       <th align="right">Anmeldung</th>
       <td><input name="login" value="<TMPL_VAR myc_login ESCAPE=HTML>"></td>
      </tr>

      <tr>
       <th align="right">Passwort</th>
       <td><input type="password" name="password" size="8" value="<TMPL_VAR myc_password ESCAPE=HTML>"></td>
       <input type="hidden" name="old_password" value="<TMPL_VAR myc_password ESCAPE=HTML>">
      </tr>

      <tr>
       <th align="right">Name</th>
       <td><input name="name" size="15" value="<TMPL_VAR myc_name ESCAPE=HTML>"></td>
      </tr>

      <tr>
       <th align="right">eMail</th>
       <td><input name="email" size="30" value="<TMPL_VAR myc_email ESCAPE=HTML>"></td>
      </tr>

      <tr valign="top">
       <th align="right">Unterschrift</th>
       <td><textarea name="signature" rows="3" cols="35"><TMPL_VAR myc_signature ESCAPE=HTML></textarea></td>
      </tr>

      <tr>
       <th align="right">Telefon</th>
       <td><input name="tel" size="14" value="<TMPL_VAR myc_tel ESCAPE=HTML>"></td>
      </tr>

      <tr>
       <th align="right">Fax</th>
       <td><input name="fax" size="14" value="<TMPL_VAR myc_fax ESCAPE=HTML>"></td>
      </tr>

      <tr>
       <th align="right">Firma</th>
       <td><input name="company" size="35" value="<TMPL_VAR myc_company ESCAPE=HTML>"></td>
      </tr>

      <tr valign="top">
       <th align="right">Adresse</th>
       <td><textarea name="address" rows="4" cols="35"><TMPL_VAR myc_address ESCAPE=HTML></textarea></td>
      </tr>

      <tr valign="top">
       <th align="right">Steuernummer</th>
       <td><input name="taxnumber" size="14" value="<TMPL_VAR myc_taxnumber ESCAPE=HTML>"></td>
      </tr>

      <tr valign="top">
       <th align="right">USt-IdNr.</th>
       <td><input name="co_ustid" size="14" value="<TMPL_VAR myc_co_ustid ESCAPE=HTML>"></td>
      </tr>

      <tr valign="top">
       <th align="right">DUNS-Nr.</th>
       <td><input name="duns" size="14" value="<TMPL_VAR myc_duns ESCAPE=HTML>"></td>
      </tr>
     </table>
    </td>

    <td>
     <table>
      <tr>
       <th align="right">Datumsformat</th>
       <td>
        <select name="dateformat">
         <TMPL_LOOP ALL_DATEFORMATS><option <TMPL_IF selected>selected</TMPL_IF>><TMPL_VAR format ESCAPE=HTML></option>
         </TMPL_LOOP>
        </select>
       </td>
      </tr>

      <tr>
       <th align="right">Zahlenformat</th>
       <td>
        <select name="numberformat">
         <TMPL_LOOP ALL_NUMBERFORMATS><option <TMPL_IF selected>selected</TMPL_IF>><TMPL_VAR format ESCAPE=HTML></option>
         </TMPL_LOOP>
        </select>
       </td>
      </tr>

      <tr>
       <th align="right">Auswahllistenbegrenzung</th>
       <td><input name="vclimit" value="<TMPL_VAR myc_vclimit ESCAPE=HTML>"></td>
      </tr>

      <tr>
       <th align="right">Sprache</th>
       <td>
        <select name="countrycode">
         <TMPL_LOOP ALL_COUNTRYCODES><option value="<TMPL_VAR value ESCAPE=HTML>" <TMPL_IF selected>selected</TMPL_IF>><TMPL_VAR name ESCAPE=HTML></option>
         </TMPL_LOOP>
        </select>
       </td>
      </tr>

      <tr>
       <th align="right">Stilvorlage</th>
       <td>
        <select name="userstylesheet">
         <TMPL_LOOP ALL_STYLESHEETS><option <TMPL_IF selected>selected</TMPL_IF>><TMPL_VAR name ESCAPE=HTML></option>
         </TMPL_LOOP>
        </select>
       </td>
      </tr>

      <tr>
       <th align="right">Drucker</th>
       <td><input name="printer" size="20" value="<TMPL_VAR myc_printer ESCAPE=HTML>"></td>
      </tr>
      <tr>
       <th align="right">benutze Vorlagen</th>
       <td>
        <select name="usetemplates">
         <TMPL_LOOP ALL_TEMPLATES><option <TMPL_IF selected>selected</TMPL_IF>><TMPL_VAR name ESCAPE=HTML></option>
         </TMPL_LOOP>
        </select>
       </td>
      </tr>
      <tr>
       <th align="right">neue Vorlagen</th>
       <td><input name="newtemplates"></td>
      </tr>
      <tr>
       <th align="right">Vorlagen auswählen</th>
       <td>
        <select name="mastertemplates">
         <TMPL_LOOP ALL_MASTER_TEMPLATES><option <TMPL_IF selected>selected</TMPL_IF>><TMPL_VAR name ESCAPE=HTML></option>
         </TMPL_LOOP>
        </select>
       </td>
      </tr>
      <tr>
       <th align="right">Menüsetup</th>
       <td>
        <input name="menustyle" type="radio" class="radio" value="v3" <TMPL_IF menustyle_v3>checked</TMPL_IF>>&nbsp;Oben (mit CSS)
        <input name="menustyle" type="radio" class="radio" value="neu" <TMPL_IF menustyle_neu>checked</TMPL_IF>>&nbsp;Oben (mit Javascript)
        <input name="menustyle" type="radio" class="radio" value="old" <TMPL_IF menustyle_old>checked</TMPL_IF>>&nbsp;Alt (seitlich)
       </td>
      </tr>

      <input type="hidden" name="templates" value="<TMPL_VAR myc_templates ESCAPE=HTML>">
     </table>
    </td>
   </tr>

   <tr class="listheading">
    <th colspan="2">Datenbank</th>
   </tr>

   <tr>
    <td colspan="2">
     <table>
      <tr>
       <th align="right">Treiber</th>
       <td>PostgreSQL</td>
       <th align="right">Datenbankcomputer</th>
       <td><input name="dbhost" size="30" value="<TMPL_VAR myc_dbhost ESCAPE=HTML>"></td>
      </tr>

      <tr>
       <th align="right">Datenbank</th>
       <td><input name="dbname" size="15" value="<TMPL_VAR myc_dbname ESCAPE=HTML>"></td>
       <th align="right">Port</th>
       <td><input name="dbport" size="4" value="<TMPL_VAR myc_dbport ESCAPE=HTML>"></td>
      </tr>

      <tr>
       <th align="right">Benutzer</th>
       <td><input name="dbuser" size="15" value="<TMPL_VAR myc_dbuser ESCAPE=HTML>"></td>
       <th align="right">Passwort</th>
       <td><input name="dbpasswd" type="password" size="10" value="<TMPL_VAR myc_dbpasswd ESCAPE=HTML>"></td>
      </tr>

      <input type="hidden" name="old_dbpasswd" value="<TMPL_VAR myc_dbpasswd ESCAPE=HTML>">
     </table>
    </td>
   </tr>

   <tr>
    <td colspan="2"><hr size="2" noshade></td>
   </tr>

   <tr class="listheading"><th colspan="2">Zugriffkontrolle</th></tr>

   <TMPL_LOOP ACLS>
    <tr>
     <td valign="top">
      <input type="checkbox" name="ACS_<TMPL_VAR name ESCAPE=HTML>" id="ACS_<TMPL_VAR name ESCAPE=HTML>" value="1" <TMPL_IF checked>checked</TMPL_IF>>
      <label for="ACS_<TMPL_VAR name ESCAPE=HTML>"><TMPL_VAR title ESCAPE=HTML></label>
     </td>

     <td valign="top">
      <TMPL_LOOP SUBACLS>
       <input type="checkbox" name="ACS_<TMPL_VAR name ESCAPE=HTML>" id="ACS_<TMPL_VAR name ESCAPE=HTML>" value="1" <TMPL_IF checked>checked</TMPL_IF>>
       <label for="ACS_<TMPL_VAR name ESCAPE=HTML>"><TMPL_VAR title ESCAPE=HTML></label>
       <TMPL_UNLESS __last__><br></TMPL_UNLESS>
      </TMPL_LOOP>
     </td>
    </tr>
   </TMPL_LOOP>

   <input type="hidden" name="all_acs" value="<TMPL_VAR all_acs ESCAPE=HTML>">

   <tr><td colspan="2"><hr size="3" noshade></td></tr>

   <tr class="listheading">
    <th colspan="2">WEBDAV-Zugriff</th>
   </tr>

   <tr>
    <td colspan="2">
     <table>
      <tr>
       <td><input name="angebote" class="checkbox" type="checkbox" value="1" <TMPL_IF myc_angebote>checked</TMPL_IF>>&nbsp;Angebot</td>
       <td><input name="bestellungen" class="checkbox" type="checkbox" value="1" <TMPL_IF myc_bestellungen>checked</TMPL_IF>>&nbsp;Bestellung</td>
       <td><input name="rechnungen" class="checkbox" type="checkbox" value="1" <TMPL_IF myc_rechnung>checked</TMPL_IF>>&nbsp;Rechnung</td>
      </tr>

      <tr>
       <td><input name="anfragen" class="checkbox" type="checkbox" value="1" <TMPL_IF myc_anfragen>checked</TMPL_IF>>&nbsp;Anfragen</td>
       <td><input name="lieferantenbestellungen" class="checkbox" type="checkbox" value="1" <TMPL_IF myc_lieferantenbestellungen>checked</TMPL_IF>>&nbsp;Lieferantenbestellung</td>
       <td><input name="einkaufsrechnungen" class="checkbox" type="checkbox" value="1" <TMPL_IF myc_einkaufsrechnungen>checked</TMPL_IF>>&nbsp;Einkaufsrechnung</td>
      </tr>
     </table>
    </td>
   </tr>

   <tr><td colspan="2"><hr size="3" noshade></td></tr>

  </table>

  <input name="callback" type="hidden" value="admin.pl?action=list_users&rpw=<TMPL_VAR rpw ESCAPE=URL>">
  <input type="hidden" name="rpw" value="<TMPL_VAR rpw ESCAPE=HTML>">

  <input type="submit" class="submit" name="action" value="Speichern">

  <TMPL_IF edit>
   <input type="submit" class="submit" name="action" value="Löschen">
   <input type="hidden" name="edit" value="1">
  </TMPL_IF>

 </form>

</body>
</html>
