[%- USE T8 %]
[% USE HTML %][% USE LxERP %]<body>

 <div class="listtop">[% 'Edit group membership' | $T8 %]</div>

 <p><a href="admin.pl?action=edit_groups">[% 'Back' | $T8 %]</a></p>
 <p>[% 'Select the checkboxes that match users to the groups they should belong to.' | $T8 %]</p>

 <form action="admin.pl">

  <p>
   <table border="0">
    [% FOREACH user = USERS %]

    [% IF user.repeat_headings %]
    <tr>
     <th class="listheading" valign="bottom">[% 'Login Name' | $T8 %]</th>
     <th class="listheading" valign="bottom">[% 'Name' | $T8 %]</th>
     [% FOREACH column = HEADINGS %]<th class="listheading" valign="bottom" align="center">[% LxERP.turn90(column.title) %]</th>
     [% END %]
    </tr>
    [% END %]

    <tr class="listrow[% loop.count % 2 %]">
     <td valign="center">[% HTML.escape(user.login) %]</td>
     <td valign="center">[% HTML.escape(user.name) %]</td>
     [% FOREACH group = user.GROUPS %]
     <td valign="center" align="center">
      <input type="checkbox" name="u_[% HTML.escape(user.id) %]_g_[% HTML.escape(group.id) %]" [% IF group.is_member %]checked[% END %]>
     </td>
     [% END %]
    </tr>
    [% END %]
   </table>
  </p>

  <input type="hidden" name="save_nextsub" value="save_group_membership">
  <input type="hidden" name="back_nextsub" value="edit_groups">

  <p>
   <input type="submit" class="submit" name="action" value="[% 'Save' | $T8 %]">
  </p>

 </form>

</body>
</html>
