[% USE HTML %]<body>
 <form name="Form" method="post" action="admin.pl">


  [% IF message %]
  <p>[% message %]</p>
  [% END %]

  <div class="listtop"><translate>Edit groups</translate></div>

  <br>

  <div class="listheading"><translate>Edit and delete a group</translate></div>

  [% IF num_groups %]
  <p>
   <select name="group_id" size="10">
    [% FOREACH row = GROUPS %]
    <option value="[% HTML.escape(row.id) %]">[% HTML.escape(row.name) %][% IF row.description %] ([% HTML.escape(row.description) %])[% END %]</option>
    [% END %]
   </select>
  </p>
  [% ELSE %]
  <p><translate>No groups have been added yet.</translate></p>
  [% END %]

  <p>
   [% IF num_groups %]
   <input type="hidden" name="edit_nextsub" value="edit_group">
   <input type="hidden" name="delete_nextsub" value="delete_group">
   <input type="submit" class="submit" name="action" value="<translate>Edit</translate>">
   <input type="submit" class="submit" name="action" value="<translate>Delete</translate>">
   [% END %]
   <input type="hidden" name="back_nextsub" value="list_users">
   <input type="submit" class="submit" name="action" value="<translate>Back</translate>">
  </p>
 </form>

 <hr size="2" noshade>

 <div class="listheading"><translate>Group membership</translate></div>

 <p><translate>Edit the membership of all users in all groups:</translate></p>

 <form method="post" action="admin.pl">
  <p>
   <input type="hidden" name="edit_nextsub" value="edit_group_membership">
   <input type="submit" class="submit" name="action" value="<translate>Edit</translate>">
  </p>

 </form>

 <hr size="2" noshade>

 <div class="listheading"><translate>Add a new group</translate></div>

 <form method="post" action="admin.pl">
  <p>
   <table border="0">
    <tr>
     <td><translate>Name</translate>:</td>
     <td><input name="name" maxlength="50"></td>
    </tr>

    <tr>
     <td><translate>Description</translate>:</td>
     <td><input name="description"></td>
    </tr>
   </table>
  </p>

  <p>
   <input type="hidden" name="add_nextsub" value="add_group">
   <input type="submit" class="submit" name="action" value="<translate>Add</translate>">
  </p>

 </form>

</body>
</html>
