[% USE HTML %]<body>
 <form name="Form" method="post" action="admin.pl">

  <input type="hidden" name="group_id" value="[% HTML.escape(group_id) %]">

  <input type="hidden" name="back_nextsub" value="edit_groups">

  [% IF message %]
  <p>[% message %]</p>
  [% END %]

  <div class="listtop"><translate>Edit group </translate> [% HTML.escape(name) %]</div>

  <table width="100%">
   <tr>
    <td>
     <table>
      <tr class="listheading">
       <td><b><translate>Users in<br>this group</translate></b></td>
       <td>&nbsp;</td>
       <td><b><translate>Users not in this group</translate></b></td>
      </tr>

      <tr>
       <td valign="center">
        <select name="user_id_in_group" size="10">
         [% FOREACH user = USERS_IN_GROUP %]<option value="[% HTML.escape(user.id) %]">[% HTML.escape(user.login) %]</option>[% END %]
        </select>
       </td>

       <td valign="center">
        <input type="submit" class="submit" name="action" value="<translate>Add to group</translate>">
        <br>
        <br>
        <input type="submit" class="submit" name="action" value="<translate>Remove from group</translate>">
       </td>

       <td valign="center">
        <select name="user_id_not_in_group" size="10">
         [% FOREACH user = USERS_NOT_IN_GROUP %]<option value="[% HTML.escape(user.id) %]">[% HTML.escape(user.login) %]</option>[% END %]
        </select>
       </td>
      </tr>

      <tr>
       <td>
        <input type="submit" class="submit" name="action" value="<translate>Back</translate>">
       </td>
      </tr>
     </table>

     <hr>

     <table>
      <tr class="listheading">
       <td colspan="2"><translate>Edit rights</translate></td>
      </tr>

      [% FOREACH right = RIGHTS %]
      <tr>
       <td>
        [% IF right.is_section %]
        <i>[% right.description %]</i>
        [% ELSE %]
        <input type="checkbox" name="[% HTML.escape(right.right) %]_granted" id="[% HTML.escape(right.right) %]_granted" [% IF right.granted %]checked[% END %]>
        <label for="[% HTML.escape(right.right) %]_granted">[% IF right.description %][% right.description %][% ELSE %]<i>[% HTML.escape(right.right) %]</i>[% END %]</label>
        [% END %]
       </td>
      </tr>
      [% END %]

      <tr>
       <td>
        <input type="hidden" name="save_nextsub" value="save_group">
        <input type="submit" class="submit" name="action" value="<translate>Save</translate>">
        &nbsp;
        <input type="submit" class="submit" name="action" value="<translate>Back</translate>">
       </td>
      </tr>
     </table>

     <hr>

     <table>
      <tr class="listheading">
       <td colspan="2"><translate>Rename the group</translate></td>
      </tr>

      <tr>
       <td><translate>Name</translate>:</td>
       <td><input name="name" maxlength="50" value="[% HTML.escape(name) %]"></td>
      </tr>

      <tr>
       <td><translate>Description</translate>:</td>
       <td><input name="description" value="[% HTML.escape(description) %]"></td>
      </tr>

      <tr>
       <td>
        <input type="hidden" name="save_nextsub" value="save_group">
        <input type="submit" class="submit" name="action" value="<translate>Save</translate>">
        &nbsp;
        <input type="submit" class="submit" name="action" value="<translate>Back</translate>">
       </td>
      </tr>
     </table>
    </td>
   </tr>
  </table>
 </form>

</body>
</html>
