[% USE HTML %]<body class="admin" onload="">

 <form method="post" action="admin.pl">

  <div class="listtop" width="100%">[% title %]</div>

  <p>
   <table width="100%">
    <tr>
     <th class="listtop">Anmeldung</th>
     <th class="listtop">Name</th>
     <th class="listtop">Firma</th>
     <th class="listtop">Treiber</th>
     <th class="listtop">Datenbankcomputer</th>
     <th class="listtop">Datenbank</th>
     <th class="listtop">Vorlagen</th>
    </tr>

    [% FOREACH row = MEMBERS %]
     <tr class="listrow[% loop.count % 2 %]">
      <td><a href="admin.pl?action=edit&login=[% HTML.url(row.login) %]">[% HTML.escape(row.login) %]</a></td>
      <td>[% HTML.escape(row.name) %]</td>
      <td>[% HTML.escape(row.company) %]</td>
      <td>[% HTML.escape(row.dbdriver) %]</td>
      <td>[% IF row.dbhost %][% HTML.escape(row.dbhost) %][% ELSE %]localhost[% END %]</td>
      <td>[% HTML.escape(row.dbname) %]</td>
      <td>[% HTML.escape(row.templates) %]</td>
     </tr>
    [% END %]

    <td colspan="7"><hr size="3" noshade></td>
   </table>
  </p>


  <input type="submit" class="submit" name="action" value="Benutzer erfassen">
  <input type="submit" class="submit" name="action" value="Gruppen bearbeiten">
  <input type="submit" class="submit" name="action" value="Datenbankadministration">
  [% IF LOCKED %]
   <input type="submit" class="submit" name="action" value="System entsperren">
   [% ELSE %]
   <input type="submit" class="submit" name="action" value="System sperren">
  [% END %]
  <input type="submit" class="submit" name="action" value="Abmelden">

  <p>Zum Bearbeiten den Zugriffsnamen anklicken!</p>

  <p>Um einer Gruppe einen neuen Benutzer hinzuzuf&uuml;gen, passen Sie die Daten eines Benutzers an, und drücken Sie "als neu speichern". Unter dem neuen Namen wird dann ein Benutzer mit denselben Gruppenrechten angelegt.</p>
 </form>

 <form method="post" action="login.pl">

  <div class="listheading">Lx-Office ERP Anmeldung</div>

  <table border="0">
   <tr>
    <th align="right">Name</th>
    <td><input class="login" name="login"></td>
    <td>&nbsp;</td>
   </tr>
   <tr>
    <th align="right">Passwort</th>
    <td><input class="login" type="password" name="password"></td>
    <td><input type="submit" name="action" value="Anmeldung"></td>
   </tr>
  </table>

 </form>

 <hr size="3" noshade>

</body>
</html>
