[% USE HTML %]<body class="admin" onload="">

 <form method="post" action="admin.pl">

  <div class="listtop" width="100%">[% title %]</div>

  <p>
   <table width="100%">
    <tr>
     <th class="listtop"><translate>Login</translate></th>
     <th class="listtop"><translate>Name</translate></th>
     <th class="listtop"><translate>Company</translate></th>
     <th class="listtop"><translate>Driver</translate></th>
     <th class="listtop"><translate>Host</translate></th>
     <th class="listtop"><translate>Dataset</translate></th>
     <th class="listtop"><translate>Templates</translate></th>
    </tr>

    [% SET row_odd = '1' %]
    [% FOREACH row = MEMBERS %]
     <tr class="listrow[% IF row_odd %]1[% SET row_odd = '0' %][% ELSE %]0[% SET row_odd = '1' %][% END %]">
      <td><a href="admin.pl?action=edit&login=[% HTML.url(row.login) %]">[% HTML.escape(row.login) %]</a></td>
      <td>[% HTML.escape(row.name) %]</td>
      <td>[% HTML.escape(row.company) %]</td>
      <td>[% HTML.escape(row.dbdriver) %]</td>
      <td>[% IF row.dbhost %][% HTML.escape(row.dbhost) %][% ELSE %]localhost[% END %]</td>
      <td>[% HTML.escape(row.dbname) %]</td>
      <td>[% HTML.escape(row.templates) %]</td>
     </tr>
    [% END %]

    <td colspan="7"><hr size="3" noshade></td>
   </table>
  </p>


  <input type="submit" class="submit" name="action" value="<translate>Add User</translate>">
  <input type="submit" class="submit" name="action" value="<translate>Edit groups</translate>">
  <input type="submit" class="submit" name="action" value="<translate>Pg Database Administration</translate>">
  [% IF LOCKED %]
   <input type="submit" class="submit" name="action" value="<translate>Unlock System</translate>">
   [% ELSE %]
   <input type="submit" class="submit" name="action" value="<translate>Lock System</translate>">
  [% END %]
  <input type="submit" class="submit" name="action" value="<translate>Logout</translate>">

  <p><translate>Click on login name to edit!</translate></p>

  <p><translate>To add a user to a group edit a name, change the login name and save.  A new user with the same variables will then be saved under the new login name.</translate></p>
 </form>

 <form method="post" action="login.pl">

  <div class="listheading">Lx-Office ERP <translate>Login</translate></div>

  <table border="0">
   <tr>
    <th align="right"><translate>Name</translate></th>
    <td><input class="login" name="login"></td>
    <td>&nbsp;</td>
   </tr>
   <tr>
    <th align="right"><translate>Password</translate></th>
    <td><input class="login" type="password" name="password"></td>
    <td><input type="submit" name="action" value="<translate>Login</translate>"></td>
   </tr>
  </table>

 </form>

 <hr size="3" noshade>

</body>
</html>
