<body class="admin" onload="">

 <form method="post" action="admin.pl">

  <div class="listtop" width="100%"><TMPL_VAR title></div>

  <p>
   <table width="100%">
    <tr>
     <th class="listtop"><translate>Login</translate></th>
     <th class="listtop"><translate>Name</translate></th>
     <th class="listtop"><translate>Company</translate></th>
     <th class="listtop"><translate>Driver</translate></th>
     <th class="listtop"><translate>Host</translate></th>
     <th class="listtop"><translate>Dataset</translate></th>
     <th class="listtop"><translate>Templates</translate></th>
    </tr>

    <TMPL_LOOP MEMBERS>
     <tr class="listrow<TMPL_IF __odd__>1<TMPL_ELSE>0</TMPL_IF>">
      <td><a href="admin.pl?action=edit&login=<TMPL_VAR login ESCAPE=URL>&rpw=<TMPL_VAR rpw ESCAPE=URL>"><TMPL_VAR login ESCAPE=HTML></a></td>
      <td><TMPL_VAR name ESCAPE=HTML></td>
      <td><TMPL_VAR company ESCAPE=HTML></td>
      <td><TMPL_VAR dbdriver ESCAPE=HTML></td>
      <td><TMPL_IF dbhost><TMPL_VAR dbhost ESCAPE=HTML><TMPL_ELSE>localhost</TMPL_IF></td>
      <td><TMPL_VAR dbname ESCAPE=HTML></td>
      <td><TMPL_VAR templates ESCAPE=HTML></td>
     </tr>
    </TMPL_LOOP>

    <td colspan="7"><hr size="3" noshade></td>
   </table>
  </p>

  <input type="hidden" name="rpw" value="<TMPL_VAR rpw ESCAPE=HTML>">

  <input type="submit" class="submit" name="action" value="<translate>Add User</translate>">
  <input type="submit" class="submit" name="action" value="<translate>Change Admin Password</translate>">
  <input type="submit" class="submit" name="action" value="<translate>Pg Database Administration</translate>">
  <TMPL_IF LOCKED>
   <input type="submit" class="submit" name="action" value="<translate>Unlock System</translate>">
   <TMPL_ELSE>
   <input type="submit" class="submit" name="action" value="<translate>Lock System</translate>">
  </TMPL_IF>

  <p><translate>Click on login name to edit!</translate></p>

  <p><translate>To add a user to a group edit a name, change the login name and save.  A new user with the same variables will then be saved under the new login name.</translate></p>
 </form>

 <form method="post" action="login.pl">

  <div class="listheading">Lx-Office ERP <translate>Login</translate></div>

  <table border="0">
   <tr>
    <th align="right"><translate>Name</translate></th>
    <td><input class="login" name="login"></td>
    <td>&nbsp;</td>
   </tr>
   <tr>
    <th align="right"><translate>Password</translate></th>
    <td><input class="login" type="password" name="password"></td>
    <td><input type="submit" name="action" value="<translate>Login</translate>"></td>
   </tr>
  </table>

 </form>

 <hr size="3" noshade>

</body>
</html>
