[% USE T8 %]
[% USE HTML %]

<h1>[% TITLE %]</h1>

[% IF MESSAGE %]
  <p class="message">[% MESSAGE %]</p>
[% END %]

[% IF TOP_INFO_TEXT %]<p>[% TOP_INFO_TEXT %]</p>[% END %]
[% RAW_TOP_INFO_TEXT %]



[% IF DATA_PRESENT %]
  <div class="horizontal-scroll-wrapper">
  <table class="tbl-list[% IF TABLE_CLASS %] [% TABLE_CLASS %][% END %]" id="report_table_id">
    <thead>
      [% FOREACH row = HEADER_ROWS %]
        <tr>
          [% FOREACH col = row %]
            <th[% IF col.align %] class="[% HTML.escape(col.align) %]"[% END %][% IF col.colspan && col.colspan > 1 %] colspan="[% HTML.escape(col.colspan) %]"[% END %]>
              [% IF col.raw_header_data %]
                [% col.raw_header_data %]
              [% ELSE %]
                [% IF col.link %]<a class="[% col.link_class ? col.link_class : 'report-generator-header-link' %]" href="[% HTML.escape(col.link) %]">[% END %]
                [% col.text %]
                [% IF col.show_sort_indicator %]<img src="image/[% IF col.sort_indicator_direction %]down[% ELSE %]up[% END %].png">[% END %]
                [% IF col.link %]</a>[% END %]
              [% END %]
            </th>
          [% END %]
        </tr>
      [% END %]
    </thead>
    <tbody>
    [% FOREACH row = ROWS %]
      [%- IF row.IS_CONTROL %]
        [%- IF row.IS_COLSPAN_DATA %]<tr><td colspan="[% row.NUM_COLUMNS %]">[% row.data %]</td></tr>[% END %]
      [%- ELSE %]
        <tr>
        [%- FOREACH col = row.COLUMNS %]
          <td class="[%- IF col.align -%][% col.align %][%- END -%][%- IF col.class -%] [% col.class %][%- END -%]"[% IF col.colspan && col.colspan>1 %] colspan="[% HTML.escape(col.colspan) %]"[% END %]>
            [%- IF col.raw_data %]
              [%- col.raw_data %]
            [%- ELSE %]
              [%- USE iterator(col.CELL_ROWS) %]
              [%- FOREACH cell_row = iterator %]
                [%- IF cell_row.data != '' %]
                  [%- IF cell_row.link %]<a href="[% HTML.escape(cell_row.link) %]"[% IF cell_row.link_class %] class="[% cell_row.link_class %]"[% END %]>[% END %]
                  [%- cell_row.data %]
                  [%- IF cell_row.link %]</a>[% END %]
                [%- END %]
                [%- UNLESS iterator.last %]<br>[% END %]
              [%- END %]
            [%- END -%]
          </td>
        [%- END %]
        </tr>
      [%- END %]
    [% END %]
    </tbody>
  </table>
  </div>
[% ELSE %]
  <p class="message message_hint">[% 'No data was found.' | $T8 %]</p>
[% END %]

[% RAW_BOTTOM_INFO_TEXT %]

[% IF BOTTOM_INFO_TEXT %]
  <p>[% BOTTOM_INFO_TEXT %]</p>
[% END %]

[% IF SHOW_EXPORT_BUTTONS %]
  <form action="[% HTML.escape(script) %]" name="report_generator_form" id="report_generator_form" method="post">
  [% FOREACH var = EXPORT_VARIABLES %]
    <input type="hidden" name="report_generator_hidden_[% var.key %]" value="[% HTML.escape(var.value) %]">
  [% END %]

  [% IF ALLOW_CHART_EXPORT %]
    [% FOREACH row = HEADER_ROWS %]
      [% FOREACH col = row %]
        [% IF col.name && col.text %]
          <input type="hidden" name="report_generator_chart_fields[+].name" value="[% HTML.escape(col.name) %]">
          <input type="hidden" name="report_generator_chart_fields[].text"  value="[% HTML.escape(col.text) %]">
        [% END %]
      [% END %]
    [% END %]
  [% END %]

  [% IF CONTROLLER_DISPATCH %]
    [% IF !SKIP_BUTTONS %]
      <input type="hidden" name="action" value="[% CONTROLLER_DISPATCH %]/dispatch">
    [% END %][%# !SKIP_BUTTONS %]
    <input type="hidden" name="report_generator_nextsub" value="[% HTML.escape(EXPORT_NEXTSUB) %]">
    <input type="hidden" name="report_generator_variable_list" value="[% HTML.escape(EXPORT_VARIABLE_LIST) %]">
    <input type="hidden" name="CONTROLLER_DISPATCH" value="[% CONTROLLER_DISPATCH | html %]">

    [% IF !SKIP_BUTTONS %]
      <p>
        [% 'List export' | $T8 %]<br>
        [% IF ALLOW_PDF_EXPORT %]<input type="submit" name="action_report_generator_export_as_pdf" value="[% 'Export as PDF' | $T8 %]">[% END %]
        [% IF ALLOW_CSV_EXPORT %]<input type="submit" name="action_report_generator_export_as_csv" value="[% 'Export as CSV' | $T8 %]">[% END %]
      </p>
    [% END %][%# !SKIP_BUTTONS %]

  [% ELSE %]
    <input type="hidden" name="report_generator_nextsub" value="[% HTML.escape(EXPORT_NEXTSUB) %]">
    <input type="hidden" name="report_generator_variable_list" value="[% HTML.escape(EXPORT_VARIABLE_LIST) %]">
    <input type="hidden" name="report_generator_dispatch_to" value="">
    <input type="hidden" name="action" value="report_generator_dispatcher">

    [% IF !SKIP_BUTTONS %]
      <p>
        [% 'List export' | $T8 %]<br>
        [% IF ALLOW_PDF_EXPORT %]<input type="submit" onclick="submit_report_generator_form('report_generator_export_as_pdf')" value="[% 'Export as PDF' | $T8 %]">[% END %]
        [% IF ALLOW_CSV_EXPORT %]<input type="submit" onclick="submit_report_generator_form('report_generator_export_as_csv')" value="[% 'Export as CSV' | $T8 %]">[% END %]
      </p>
      <script type="text/javascript"> <!--
        function submit_report_generator_form(nextsub) {
          document.report_generator_form.report_generator_dispatch_to.value = nextsub;
          document.report_generator_form.submit();
        } // -->
      </script>
    [% END %][%# !SKIP_BUTTONS %]

  [% END %]

  </form>
[% END %]
