[%- USE HTML -%][%- USE LxERP -%][%- USE L -%][%- USE T8 -%][%- INCLUDE 'common/flash.html' %]

<h1>[% title %]</h1>

<p>
 <table width="100%" id="partsgroup_list">
  <thead>
   <tr class="listheading">
    <th align="center" width="1%"><img src="image/updown.png" alt="[ LxERP.t8('reorder item') %]"></th>
    <th>[% 'Description' | $T8 %]</th>
    <th>[% 'Obsolete'    | $T8 %]</th>
   </tr>
  </thead>

  <tbody>
   [%- FOREACH partsgroup = SELF.all_partsgroups %]
    <tr class="listrow" id="partsgroup_id_[% partsgroup.id %]">
     <td align="center" class="dragdrop"><img src="image/updown.png" alt="[ LxERP.t8('reorder item') %]"></td>
     <td><a href="[% SELF.url_for(action='edit', id=partsgroup.id) %]">[% HTML.escape(partsgroup.partsgroup) %]</a></td>
     <td>[% HTML.escape(partsgroup.obsolete) %]</a></td>
    </tr>
   [%- END %]
  </tbody>
 </table>
</p>

<hr height="3">

[% L.sortable_element('#partsgroup_list tbody', url=SELF.url_for(action='reorder'), with='partsgroup_id') %]

<p>
 <a href="[% SELF.url_for(action='new') %]">[%- 'Add' | $T8 %]</a>
</p>
