[%- USE T8 %]
[% USE HTML %][% USE LxERP %][%- USE L -%]
 [%- IF delivered %]
 [%- SET RO = ' readonly' %]
 [%- END %]

    <tr>
     <td>
      <table>
       <tr valign="bottom">
        <th align="left">[% 'Notes' | $T8 %]</th>
        <th align="left">[% 'Internal Notes' | $T8 %]</th>
       </tr>

       <tr valign="top">
        <td><textarea name="notes" rows="[% LxERP.numtextrows(notes, 25, 8, 2) %]" cols="25" wrap="soft"[% RO %]>[% HTML.escape(notes) %]</textarea></td>
        <td><textarea name="intnotes" rows="[% LxERP.numtextrows(intnotes, 35, 8, 2) %]" cols="35" wrap="soft"[% RO %]>[% HTML.escape(intnotes) %]</textarea></td>
       </tr>
      </table>

     </td>
    </tr>
[%- IF show_weight %]
  <tr>
    <td>
      <table width="100%">
        <tr valign="bottom">
          <td align="right">
            <table>
            <tr>
              <th  align="left">[% 'Total weight' | $T8 %]</th>
              <td align="right">
                [% LxERP.format_amount(totalweight, 3) %] [% HTML.escape(weightunit) %]
              </td>
            </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
[%- END %]
   </table>
  </p>

 </div>
[% PROCESS 'webdav/_list.html' %]
 <div id="ui-tabs-1">
  [%- LxERP.t8("Loading...") %]
 </div>
</div>

<hr size="3" noshade>

  <p>[% PRINT_OPTIONS %]</p>

  <p>
   [% 'Edit the Delivery Order' | $T8 %]<br>
   <input type="hidden" name="action" value="dispatcher">
   <input class="submit" type="submit" name="action_update" id="update_button" value="[% 'Update' | $T8 %]">
   [%- UNLESS delivered %]
   [%- IF vc == 'customer' %]
   <input class="submit" type="submit" name="action_ship_to" value="[% 'Ship to' | $T8 %]">
   [%- END %]
   [%- END %]
   <input class="submit" type="submit" name="action_print" value="[% 'Print' | $T8 %]">
   <input class="submit" type="submit" name="action_e_mail" value="[% 'E-mail' | $T8 %]">
   [%- UNLESS delivered %]
   <input class="submit" type="submit" name="action_save" value="[% 'Save' | $T8 %]">
   [%- IF vc == 'customer' %]
   <input class="submit" type="submit" name="action_transfer_out" onclick="return check_transfer_qty()" value="[% 'Transfer out' | $T8 %]">
   [% IF transfer_default %]
   <input class="submit" type="submit" name="action_transfer_out_default" value="[% 'Transfer out via default' | $T8 %]">
   [%- END %]
   [%- ELSE %]
   <input class="submit" type="submit" name="action_transfer_in"  onclick="return check_transfer_qty()" value="[% 'Transfer in' | $T8 %]">
   [% IF transfer_default %]
   <input class="submit" type="submit" name="action_transfer_in_default" value="[% 'Transfer in via default' | $T8 %]">
   [%- END %]
   [%- END %]
   [%- END %]
   [%- IF id %]
     <input type="button" class="submit" onclick="follow_up_window()" value="[% 'Follow-Up' | $T8 %]">
   [%- UNLESS closed %]
   <input class="submit" type="submit" name="action_mark_closed" value="[% 'Mark closed' | $T8 %]">
   [%- END %]
   <input type="button" class="submit" onclick="set_history_window([% id %]);" name="history" id="history" value="[% 'history' | $T8 %]">
   [%- END %]
  </p>

  [%- IF id %]
  <p>
   [% 'Workflow Delivery Order' | $T8 %]<br>
   <input class="submit" type="submit" name="action_save_as_new" value="[% 'Save as new' | $T8 %]">
   [% UNLESS delivered || (vc == 'customer' && !INSTANCE_CONF.get_sales_delivery_order_show_delete) || (vc == 'vendor' && !INSTANCE_CONF.get_purchase_delivery_order_show_delete) %]
    [% L.submit_tag('action_delete', LxERP.t8('Delete'), confirm=LxERP.t8('Are you sure?')) %]
   [% END %]
   <input class="submit" type="submit" name="action_invoice" value="[% 'Invoice' | $T8 %]">
  </p>
  [%- END %]

  <input type="hidden" name="rowcount" value="[% HTML.escape(rowcount) %]">
  <input name="callback" type="hidden" value="[% HTML.escape(callback) %]">

 </form>
<script type='text/javascript'>
  function check_transfer_qty() {
    var all_match = true;
    var rowcount = $('input[name=rowcount]').val();
    for (var i = 1; i < rowcount; i++) {
      if ($('#stock_in_out_qty_matches_' + i).val() != 1) {
        all_match = false;
      }
    }

    if (all_match) {
      return true;
    } else {
      return confirm("[% 'There are still transfers not matching the qty of the delivery order. Stock operations can not be changed later. Do you really want to proceed?' | $T8 %]");
    }
  }
</script>
