[% USE HTML %][% USE LxERP %]<!-- <body> -->
<!--  <form> -->
<!--   <p> -->
<!--    <table> -->

 [%- IF delivered %]
 [%- SET RO = ' readonly' %]
 [%- END %]

    <tr>
     <td>
      <table>
       <tr valign="bottom">
        <th align="left"><translate>Notes</translate></th>
        <th align="left"><translate>Internal Notes</translate></th>
       </tr>

       <tr valign="top">
        <td><textarea name="notes" rows="[% LxERP.numtextrows(notes, 25, 8, 2) %]" cols="25" wrap="soft"[% RO %]>[% HTML.escape(notes) %]</textarea></td>
        <td><textarea name="intnotes" rows="[% LxERP.numtextrows(intnotes, 35, 8, 2) %]" cols="35" wrap="soft"[% RO %]>[% HTML.escape(intnotes) %]</textarea></td>
       </tr>
      </table>

     </td>
    </tr>
   </table>
  </p>

  <hr size="3" noshade>

  [%- IF conf_webdav %]
  <div class="listtop" align="left"><translate>Documents in the WebDAV repository</translate></div>

  <p>
   <table width="100%">
    <tr>
     <td align="left" width="30%"><b><translate>File name</translate></b></td>
     <td align="left" width="70%"><b><translate>WebDAV link</translate></b></td>
    </tr>

    [%- FOREACH file = WEBDAV %]
    <tr>
     <td align="left">[% HTML.escape(file.name) %]</td>
     <td align="left"><a href="[% HTML.escape(file.link) %]">[% HTML.escape(file.type) %]</a></td>
    </tr>
    [%- END %]

   </table>
  </p>

  <hr size="3" noshade>
  [%- END %]

  <p>[% PRINT_OPTIONS %]</p>

  <p>
   <translate>Edit the Delivery Order</translate><br>
   <input class="submit" type="submit" name="action" id="update_button" value="<translate>Update</translate>">
   [%- UNLESS delivered %]
   [%- IF vc == 'customer' %]
   <input class="submit" type="submit" name="action" value="<translate>Ship to</translate>">
   [%- END %]
   [%- END %]
   <input class="submit" type="submit" name="action" value="<translate>Print</translate>">
   <input class="submit" type="submit" name="action" value="<translate>E-mail</translate>">
   [%- UNLESS delivered %]
   <input class="submit" type="submit" name="action" value="<translate>Save</translate>">
   [%- IF vc == 'customer' %]
   <input class="submit" type="submit" name="action" value="<translate>Transfer out</translate>">
   [%- ELSE %]
   <input class="submit" type="submit" name="action" value="<translate>Transfer in</translate>">
   [%- END %]
   [%- END %]
   [%- IF id %]
   [%- UNLESS closed %]
   <input class="submit" type="submit" name="action" value="<translate>Mark closed</translate>">
   [%- END %]
   <input type="button" class="submit" onclick="set_history_window([% id %]);" name="history" id="history" value="<translate>history</translate>">
   [%- END %]
  </p>

  [%- IF id %]
  <p>
   <translate>Workflow Delivery Order</translate><br>
   <input class="submit" type="submit" name="action" value="<translate>Save as new</translate>">
   [% UNLESS delivered %]
   <input class="submit" type="submit" name="action" value="<translate>Delete</translate>">
   [% END %]
   <input class="submit" type="submit" name="action" value="<translate>Invoice</translate>">
  </p>
  [%- END %]

  <input type="hidden" name="rowcount" value="[% HTML.escape(rowcount) %]">
  <input name="callback" type="hidden" value="[% HTML.escape(callback) %]">

 </form>

</body>
</html>
