[%- USE T8 %]
[%- USE L %]
[%- USE HTML %][%- USE LxERP %]
<h1>[% title %]</h1>

 [%- IF vc == 'customer' %]
 [%- SET is_customer = '1' %]
 [%- ELSE %]
 [%- SET is_customer = '0' %]
 [%- END %]

 [%- SET vctypelabel = vc == 'customer' ? LxERP.t8('Customer type') : LxERP.t8('Vendor type') %]

 <style type="text/css">
  .fixed_width {
    width: 250px;
  }
 </style>

 <form method="post" action="do.pl" name="Form">

  <p>
   <table>
    <tr>
     <th align="right">[% IF is_customer %][% 'Customer' | $T8 %][% ELSE %][% 'Vendor' | $T8 %][% END %]</th>
     <td colspan="3">
      [%- UNLESS SHOW_VC_DROP_DOWN %]
      <input type="text" name="[% HTML.escape(vc) %]" class="fixed_width initial_focus">
      [%- ELSE %]
      <select name="[% vc %]" class="fixed_width initial_focus">
       <option></option>
       [%- FOREACH row = ALL_VC %]
       <option>[% HTML.escape(row.name) %]--[% HTML.escape(row.id) %]</option>
       [%- END %]
      </select>
      <input type="hidden" name="select[% vc %]" value="1">
      [%- END %]
     </td>
    </tr>

    <tr>
     <th align="right" nowrap>[% 'Contact Person' | $T8 %]</th>
     <td colspan="3">[% L.input_tag("cp_name", '', class="fixed_width") %]</td>
    </tr>

    <tr>
     <th align="right">[% 'Delivery Order Number' | $T8 %]</th>
     <td colspan="3"><input name="donumber" class="fixed_width"></td>
    </tr>

    <tr>
     <th align="right">[% 'Order Number' | $T8 %]</th>
     <td colspan="3"><input name="ordnumber" class="fixed_width"></td>
    </tr>

    <tr>
     <th align="right">[% 'Customer Order Number' | $T8 %]</th>
     <td colspan="3"><input name="cusordnumber" class="fixed_width"></td>
    </tr>

    [%- IF ALL_DEPARTMENTS.size %]
    <tr>
     <th align="right" nowrap>[% 'Department' | $T8 %]</th>
     <td colspan="3">
      <select name="department" class="fixed_width">
       <option></option>
       [%- FOREACH row = ALL_DEPARTMENTS %]
       <option[% IF department == row.id %] selected[% END %]>[% HTML.escape(row.description) %]--[% HTML.escape(row.id) %]</option>
       [%- END %]
      </select>
     </td>
    </tr>
    [%- END %]

    <tr>
     <th align="right">[% 'Employee' | $T8 %]</th>
     <td>[% L.select_tag('employee_id', ALL_EMPLOYEES, title_key = 'safe_name', with_empty = 1, class = 'fixed_width') %]</td>
    </tr>

    [%- IF is_customer %]
    <tr>
     <th align="right">[% 'Salesman' | $T8 %]</th>
     <td>[% L.select_tag('salesman_id', ALL_EMPLOYEES, title_key = 'safe_name', with_empty = 1, class = 'fixed_width') %]</td>
    </tr>
    [%- END %]

    <tr>
     <th align="right">[% 'Transaction description' | $T8 %]</th>
     <td><input name="transaction_description" class="fixed_width"></td>
     <th align="right">[% 'Part Description' | $T8 %]</th>
     <td><input name="parts_description" size="20"></td>
    </tr>

    <tr>
     <th align="right">[% 'Project Number' | $T8 %]</th>
     <td>
      <select name="project_id" class="fixed_width">
       <option></option>
       [%- FOREACH row = ALL_PROJECTS %]
       <option value="[% HTML.escape(row.id) %]">[% HTML.escape(row.projectnumber) %]</option>
       [%- END %]
      </select>
     </td>
     <th align="right">[% 'Part Number' | $T8 %]</th>
     <td><input name="parts_partnumber" size="20"></td>
    </tr>

    <tr>
     <th align="right">[% 'Serial Number' | $T8 %]</th>
     <td colspan="3"><input name="serialnumber" class="fixed_width"></td>
    </tr>

    [%- IF ALL_BUSINESS_TYPES.size %]
    <tr>
     <th align="right" nowrap>[% vctypelabel %]</th>
     <td colspan="3">
      [% L.select_tag('business_id', ALL_BUSINESS_TYPES, title_key = 'description', with_empty = 1, style='width:250px') %]
     </td>
    </tr>
    [%- END %]

    <tr>
     <th align="right">[% 'Delivery Order Date' | $T8 %] [% 'From' | $T8 %]</th>
     <td>
      [% L.date_tag('transdatefrom') %]
     </td>
     <th align="right">[% 'Bis' | $T8 %]</th>
     <td>
      [% L.date_tag('transdateto') %]
     </td>
    </tr>

    <tr>
     <th align="right">[% 'Reqdate' | $T8 %] [% 'From' | $T8 %]</th>
     <td>
      [% L.date_tag('reqdatefrom') %]
     </td>
     <th align="right">[% 'Bis' | $T8 %]</th>
     <td>
      [% L.date_tag('reqdateto') %]
     </td>
    </tr>

    <tr>
     <th align="right">[% 'Insert Date' | $T8 %] [% 'From' | $T8 %]</th>
     <td>
       [% L.date_tag('insertdatefrom') %]
     </td>
     <th align="right">[% 'Bis' | $T8 %]</th>
     <td>
       [% L.date_tag('insertdateto') %]
     </td>
    </tr>

    <tr>
     <th align="right">[% 'Include in Report' | $T8 %]</th>
     <td colspan="5">
      <table>
       <tr>
        <td>
         <input type="checkbox" name="open" value="1" id="open" checked>
         <label for="open">[% 'Open' | $T8 %]</label>
        </td>
        <td>
         <input type="checkbox" name="closed" value="1" id="closed">
         <label for="closed">[% 'Closed' | $T8 %]</label>
        </td>
       </tr>

       <tr>
        <td>
         <input name="notdelivered" id="notdelivered" class="checkbox" type="checkbox" value="1" checked>
         <label for="notdelivered">[% 'Not delivered' | $T8 %]</label>
        </td>
        <td>
         <input name="delivered" id="delivered" class="checkbox" type="checkbox" value="1" checked>
         <label for="delivered">[% 'Delivered' | $T8 %]</label></td>
       </tr>

       <tr>
        <td>
         <input name="l_id" id="l_id" class="checkbox" type="checkbox" value="Y">
         <label for="l_id">[% 'ID' | $T8 %]</label>
        </td>

        <td>
         <input name="l_donumber" id="l_donumber" class="checkbox" type="checkbox" value="Y" checked>
         <label for="l_donumber">[% 'Delivery Order Number' | $T8 %]</label>
        </td>
       </tr>

       <tr>
        <td>
         <input name="l_ordnumber" id="l_ordnumber" class="checkbox" type="checkbox" value="Y" checked>
         <label for="l_ordnumber">[% 'Order Number' | $T8 %]</label>
        </td>

        <td>
         <input name="l_cusordnumber" id="l_cusordnumber" class="checkbox" type="checkbox" value="Y" checked>
         <label for="l_cusordnumber">[% 'Customer Order Number' | $T8 %]</label>
        </td>
       </tr>

       <tr>
        <td>
         <input name="l_transdate" id="l_transdate" class="checkbox" type="checkbox" value="Y" checked>
         <label for="l_transdate">[% 'Delivery Order Date' | $T8 %]</label>
        </td>
        <td>
         <input name="l_reqdate" id="l_reqdate" class="checkbox" type="checkbox" value="Y" checked>
         <label for="l_reqdate">[% 'Reqdate' | $T8 %]</label>
        </td>
        [% IF is_customer %]
        <td>
         <input name="l_insertdate" id="l_insertdate" class="checkbox" type="checkbox" value="Y">
         <label for="l_insertdate">[% 'Insert Date' | $T8 %]</label>
        </td>
        [%- END %]
       </tr>

       <tr>
        <td>
         <input name="l_name" id="l_name" class="checkbox" type="checkbox" value="Y" checked>
         <label for="l_name">[% IF is_customer %][% 'Customer' | $T8 %][% ELSE %][% 'Vendor' | $T8 %][% END %]</label>
        </td>

        [% IF is_customer %]
        <td>
         <input name="l_customernumber" id="l_customernumber" class="checkbox" type="checkbox" value="Y">
         <label for="l_customernumber">[% 'Customer Number' | $T8 %]</label>
        </td>
        [% END %]
       </tr>

       <tr>
        <td>
         <input name="l_department" id="l_department" class="checkbox" type="checkbox" value="Y">
         <label for="l_department">[% "Department" | $T8 %]</label>
        </td>

        <td>
         <input name="l_shipvia" id="l_shipvia" class="checkbox" type="checkbox" value="Y">
         <label for="l_shipvia">[% 'Ship via' | $T8 %]</label>
        </td>
       </tr>

       <tr>
        <td>
         <input name="l_employee" id="l_employee" class="checkbox" type="checkbox" value="Y" checked>
         <label for="l_employee">[% 'Employee' | $T8 %]</label>
        </td>

        <td>
         <input name="l_salesman" id="l_salesman" class="checkbox" type="checkbox" value="Y">
         <label for="l_salesman">[% 'Salesman' | $T8 %]</label>
        </td>
       </tr>

       <tr>
        <td>
         <input name="l_globalprojectnumber" id="l_globalprojectnumber" class="checkbox" type="checkbox" value="Y">
         <label for="l_globalprojectnumber">[% 'Project Number' | $T8 %]</label>
        </td>

        <td>
         <input name="l_transaction_description" id="l_transaction_description" class="checkbox" type="checkbox" value="Y"[% IF INSTANCE_CONF.get_require_transaction_description_ps %] checked[% END %]>
         <label for="l_transaction_description">[% 'Transaction description' | $T8 %]</label>
        </td>
       </tr>

      </table>
     </td>
    </tr>
   </table>
  </p>

  <hr size="3" noshade>

  <p>
   <input type="hidden" name="nextsub" value="orders">
   <input type="hidden" name="vc" value="[% HTML.escape(vc) %]">
   <input type="hidden" name="type" value="[% HTML.escape(type) %]">

   <input class="submit" type="submit" name="action" value="[% 'Continue' | $T8 %]">
  </p>
 </form>
