[% USE HTML %]<body onload="on_load();">

 <script type="text/javascript">
  <!--
      function on_load() {
        var row    = document.getElementsByName("row")[0].value;
        var stock  = document.getElementsByName("stock")[0].value;
        var in_out = document.getElementsByName("in_out")[0].value;

        window.opener.document.getElementsByName("stock_" + in_out + "_" + row)[0].value = stock;

        window.close();
      }
    -->
 </script>

 <form name="data">
  <input type="hidden" name="row" value="[% HTML.escape(row) %]">
  <input type="hidden" name="stock" value="[% HTML.escape(stock) %]">
  <input type="hidden" name="in_out" value="[% HTML.escape(in_out) %]">
 </form>

</body>
</html>
