[%- USE T8 %][%- USE L %]
[% USE HTML %]<script type="text/javascript" src="js/common.js"></script>
<h1>[% title %]</h1>

 <form method="post" name="search" action="dn.pl" id="form">

  <table>
   <tr>
    <th align="right">[% 'Customer' | $T8 %]</th>
    <td colspan="3">
      <input name="customer" size="35" class="initial_focus">
    </td>
   </tr>

   [% IF SHOW_DEPARTMENT_SELECTION %]
    <tr>
     <th align="right">[% 'Department' | $T8 %]</th>
     <td colspan="3">
     [% L.select_tag('department_id', ALL_DEPARTMENTS, title_key = 'description', with_empty = 1, style=style) %]
     </td>
    </tr>
   [% END %]

   [% IF SHOW_DUNNING_LEVEL_SELECTION %]
    <tr>
     <th align="right">[% 'Next Dunning Level' | $T8 %]</th>
     <td colspan="3">
      <select name="dunning_level">
       <option></option>
       [% FOREACH row = DUNNING %]<option value="[% HTML.escape(row.id) %]">[% HTML.escape(row.dunning_description) %]</option>[% END %]
      </select>
     </td>
    </tr>
   [% END %]

   <tr>
    <th align="right" nowrap>[% 'Invoice Number' | $T8 %]</th>
    <td colspan="3"><input name="invnumber" size="20"></td>
   </tr>

   <tr>
    <th align="right" nowrap>[% 'Order Number' | $T8 %]</th>
    <td colspan="3"><input name="ordnumber" size="20"></td>
   </tr>

   <tr>
    <th align="right" nowrap>[% 'Notes' | $T8 %]</th>
    <td colspan="3"><input name="notes" size="40"></td>
   </tr>
   <tr>
    <th align="right" nowrap>[% 'Country' | $T8 %]</th>
    <td colspan="3"><input name="country" size="40"></td>
   </tr>

   <tr><td colspan="2"><hr size="3" noshade></td></tr>

   <tr>
    <th align="right" nowrap>[% 'Minimum Amount' | $T8 %]</th>
    <td><input name="minamount" size="6"></td>
   </tr>

   <tr>
    <th align="right" nowrap><label for="groupinvoices">[% 'Group Invoices' | $T8 %]</label></th>
    <td><input type="checkbox" value="1" id="groupinvoices" name="groupinvoices" checked></td>
   </tr>

   <tr>
    <th align="right" nowrap><label for="l_include_direct_debit">[% 'Include invoices with direct debit' | $T8 %]</label></th>
    <td><input type="checkbox" value="1" id="l_include_direct_debit" name="l_include_direct_debit"></td>
   </tr>
   <tr>
    <th align="right" nowrap><label for="l_include_credit_notes">[% 'Add open Credit Notes' | $T8 %]</label></th>
    <td><input type="checkbox" value="1" id="l_include_credit_notes" name="l_include_credit_notes"></td>
   </tr>
  </table>
 </form>
