[%- USE T8 %]
[%- USE HTML %]
[%- USE L %][%- USE P -%]
<h1>[% title %]</h1>

[% PROCESS 'common/flash.html' %]

 <form method="post" name="search" action="dn.pl">

  <table width="100%">
   <tr>
    <td>
     <table>
      <tr>
       <th align="right">[% 'Customer' | $T8 %]</th>
       <td colspan="3">[% P.input_tag("customer", "", size="35", class="initial_focus") %]</td>
      </tr>

      [% IF SHOW_DUNNING_LEVELS %]
       <tr>
        <th align="right" nowrap>[% 'Dunning Level' | $T8 %]</th>
        <td colspan="3">
         <select name="dunning_level">
          <option value=""></option>
          [% FOREACH row = DUNNING %]<option value="[% HTML.escape(row.id) %]">[% HTML.escape(row.dunning_description) %]</option>
          [% END %]
         </select>
        </td>
       </tr>
      [% END %]

      [% IF ALL_DEPARTMENTS.as_list.size %]
       <tr>
        <th align="right" nowrap>[% 'Department' | $T8 %]</th>
        <td colspan="3">
         <select name="department_id">
          <option value=""></option>
          [% FOREACH row = ALL_DEPARTMENTS %]<option value="[% HTML.escape(row.id) %]">[% HTML.escape(row.description) %]</option>
          [% END %]
         </select>
        </td>
       </tr>
      [% END %]

      <tr>
       <th align="right" nowrap>[% 'Invoice Number' | $T8 %]</th>
       <td colspan="3"><input name="invnumber" size="20"></td>
      </tr>

      <tr>
       <th align="right" nowrap>[% 'Order Number' | $T8 %]</th>
       <td colspan="3"><input name="ordnumber" size="20"></td>
      </tr>

      <tr>
       <th align="right" nowrap>[% 'Notes' | $T8 %]</th>
       <td colspan="3"><input name="notes" size="40"></td>
      </tr>

      <tr>
       <th align="right" nowrap>[% 'Invdate from' | $T8 %]</th>
       <td>
         [% L.date_tag('transdatefrom') %]
       </td>
       <th align="right" nowrap>[% 'To (time)' | $T8 %]</th>
       <td>
         [% L.date_tag('transdateto') %]
       </td>
      </tr>

      <tr>
       <th align="right" nowrap>[% 'Dunning Date from' | $T8 %]</th>
       <td>
        [% L.date_tag('dunningfrom') %]
       </td>
       <th align="right" nowrap>[% 'To (time)' | $T8 %]</th>
       <td>
        [% L.date_tag('dunningto') %]
       </td>
      </tr>
      <tr>
       <th align="right">[% 'Salesman' | $T8 %]</th>
       <td>[% L.select_tag('salesman_id', ALL_EMPLOYEES, title_key = 'safe_name', with_empty = 1, style = 'width:250px') %]</td>
      </tr>
     </table>
    </td>
   </tr>

   <tr><td><hr size="3" noshade></td></tr>

   <tr>
    <td>
     <table>
      <tr>
       <th align="right" nowrap>[% 'Show old dunnings' | $T8 %]</th>
       <td><input type="checkbox" value="1" name="showold"></td>
       <th align="right" nowrap>[% 'Show Salesman' | $T8 %]</th>
       <td><input type="checkbox" value="1" name="l_salesman"></td>
      </tr>
     </table>
    </td>
   </tr>
  </table>

  <input type="hidden" name="nextsub" value="show_dunning">

  <br>

  <input class="submit" type="submit" name="action" value="[% 'Continue' | $T8 %]">

 </form>
