[%- USE T8 %]
[%- USE HTML %][%- USE L -%]
<h1>[% title %]</h1>

 <script type="text/javascript">
  <!--
      function email_updated() {
        window.opener.document.getElementsByName(document.Form.input_subject.value)[0].value = document.getElementsByName("email_subject")[0].value;
        window.opener.document.getElementsByName(document.Form.input_body.value)[0].value = $("#email_body").val();
        window.opener.document.getElementsByName(document.Form.input_attachment.value)[0].value = document.getElementsByName("email_attachment")[0].value;
        self.close();
      }
    -->
 </script>

 <form name="Form">

  <input type="hidden" name="input_subject" value="[% HTML.escape(input_subject) %]">
  <input type="hidden" name="input_body" value="[% HTML.escape(input_body) %]">
  <input type="hidden" name="input_attachment" value="[% HTML.escape(input_attachment) %]">

  <table width="100%">
   <tr>
    <td valign="top">[% 'Subject:' | $T8 %]</td>
    <td valign="top"><input id="email_subject" name="email_subject" size="40" value="[% HTML.escape(email_subject) %]"></td>
   </tr>

   <tr>
    <td valign="top">[% 'Body:' | $T8 %]</td>
    <td valign="top">[% L.textarea_tag('email_body', email_body, rows=20, cols=70, class='texteditor') %]</td>
   </tr>

   <tr>
    <td valign="top">[% 'Attach PDF:' | $T8 %]</td>
    <td valign="top"><input id="email_attachment" type="checkbox" name="email_attachment" value="1" [% IF email_attachment %]checked[% END %]></td>
   </tr>
  </table>

  <button type="button" onclick="email_updated()">[% 'Save and close' | $T8 %]</button>

 </form>
