<body <TMPL_IF NAME=onload>onload="<TMPL_VAR NAME=onload>"</TMPL_IF>>

 <form name="Form">

  <input type="hidden" name="input_subject" value="<TMPL_VAR NAME=input_subject ESCAPE=HTML>">
  <input type="hidden" name="input_body" value="<TMPL_VAR NAME=input_body ESCAPE=HTML>">
  <input type="hidden" name="input_attachment" value="<TMPL_VAR NAME=input_attachment ESCAPE=HTML>">

  <table width="100%">
   <tr>
    <th colspan=2 class="listtop"><TMPL_VAR NAME=title></th>
   </tr>
   <tr>
    <td><translate>Subject:</translate></td>
    <td><input id="email_subject" name="email_subject" value="<TMPL_VAR NAME=email_subject ESCAPE=HTML>">
    </td>
   </tr>
   <tr>
    <td><translate>Body:</translate></td>
    <td>
<textarea id="email_body" name="email_body" rows=20 cols=70 wrap=soft><TMPL_VAR NAME=email_body ESCAPE=HTML></textarea>

    </td>
   </tr>
   <tr>
    <td><translate>Attach PDF:</translate></td>
    <td><input id="email_attachment" type=checkbox name="email_attachment" value=1 "<TMPL_VAR NAME=email_attachment ESCAPE=HTML>">
    </td>
    </tr>
  </table>
 <button type="button" onclick="email_updated()"><translate>Close</translate></button></td>
 </form>

 <script type="text/javascript">
  <!--
      function email_updated() {
        window.opener.document.getElementsByName(document.Form.input_subject.value)[0].value = document.getElementsByName("email_subject")[0].value;
        window.opener.document.getElementsByName(document.Form.input_body.value)[0].value = document.getElementsByName("email_body")[0].value;
        window.opener.document.getElementsByName(document.Form.input_attachment.value)[0].value = document.getElementsByName("email_attachment")[0].value;        self.close();
      }
 </script>

</body>
</html>
