[%- USE T8 %]
[% USE HTML %]  <input type="hidden" name="rowcount" value="[% rowcount %]">

  <p>
    <input type="checkbox" id='force_lang' name="force_lang" size="6" value="1">
    [% 'Override invoice language' | $T8 %]
    [% PRINT_OPTIONS %]
  </p>

  <p>
   [% 'Dunnings' | $T8 %]<br>
   <input type="hidden" name="print_nextsub" value="print_multiple">
   <input type="hidden" name="action" value="print">
   <input type="submit" class="submit" value="[%- 'Print' | $T8 %]">
  </p>

 </form>
 <script type='text/javascript'>
   $(function() {
     $("select[name='language_id']").prop('disabled', $('#force_lang').prop('checked'));
     $('#force_lang').checkall('select[name="language_id"]', 'disabled');
   });
 </script>
