[% USE T8 %]
[% USE HTML %]
[% USE L %]

<h1>[% 'Load letter draft' | $T8 %]</h1>

 <form method="post" name="Form" action="controller.pl" id="form">
  [% L.hidden_tag('is_sales', SELF.is_sales) %]
  <p>[% 'The following drafts have been saved and can be loaded.' | $T8 %]</p>
  <table width="100%">
    </td>
   </tr>
   <tr>
    <td>
     <table>
      <tr>
       <th>&nbsp;</th>
       <th>[% 'Date' | $T8 %]</th>
       <th>[% 'Subject' | $T8 %]</th>
[% IF SELF.is_sales %]
       <th>[% 'Customer' | $T8 %]</th>
[% ELSE %]
       <th>[% 'Vendor' | $T8 %]</th>
[% END %]
      </tr>

      [% FOREACH row = LETTER_DRAFTS %]
       <tr class="listrow[% loop.count % 2 %]">
        <td>[% L.checkbox_tag("ids[+]", value=row.id) %]</td>
        <td>[% row.date.to_kivitendo | html %]</td>
        <td><a href="[% SELF.url_for(action='edit', 'draft.id'=row.id) %]">[% row.subject | html %]</a></td>
[% IF SELF.is_sales %]
        <td>[% row.customer.displayable_name | html %]</td>
[% ELSE %]
        <td>[% row.vendor.displayable_name | html %]</td>
[% END %]
       </tr>
      [% END %]
     </table>
    </td>
   </tr>
  </table>
 </form>
