[%- USE HTML -%][%- USE LxERP -%][%- USE L -%][%- USE P -%]
[% SET style="width: 400px" %]

<form id="quotations_and_orders_form">
 <table class="tbl-horizontal">
  <tbody>
  [% IF for_new %]
  <tr>
   <th>[% LxERP.t8("Record type to create") %]:</th>
   <td>[% L.select_tag('quotation', [ [ 1, LxERP.t8('Sales quotation') ], [ 0, LxERP.t8('Sales Order') ] ], style=style, no_id=1) %]</td>
  </tr>

  <tr>
   <th>[% LxERP.t8("Customer") %]:</th>
   <td>[% L.select_tag('customer_id', SELF.all_customers, default=SELF.requirement_spec.customer_id, title_key='name', style=style, no_id=1) %]</td>
  </tr>
  [% END %]

  <tr>
   <th>[% LxERP.t8("Assign the following article to all sections") %]:</th>
   <td data-unit="[% HTML.escape(SELF.section_order_part.unit) %]">
    [% P.part.picker('quotations_and_orders_dummy', SELF.section_order_part.id, id='quotations_and_orders_order_id', style=style) %]
    [% L.button_tag('kivi.requirement_spec.assign_order_part_id_to_all()', LxERP.t8('Assign article')) %]
   </td>
  </tr>
</tbody>
 </table>

 <table class="tbl-list">
  <thead>
   <tr>
    <th class="right">[% LxERP.t8("Number") %]</th>
    <th>[% LxERP.t8("Title") %]</th>
    <th>[% LxERP.t8("Description") %]</th>
    <th>[% LxERP.t8("Article") %]</th>
    <th>[% LxERP.t8("Unit") %]</th>
    <th>[% LxERP.t8("Position type in quotation/order") %]</th>
   </tr>
  </thead>

  <tbody>
   [% FOREACH section = SELF.requirement_spec.sections_sorted %]
   <tr>
    [% L.hidden_tag("sections[+].id", section.id, no_id=1) %]
    <td class="numeric">[% HTML.escape(section.fb_number) %]</td>
    <td>[% HTML.escape(section.title) %]</td>
    <td>[% HTML.escape(P.truncate(section.description_as_stripped_html)) %]</td>
    <td>[% P.part.picker('sections[].order_part_id', section.order_part_id, id='quotations_and_orders_sections_order_pard_id_' _ loop.count, style=style) %]</td>
    <td data-unit-column=1>[% HTML.escape(section.order_part.unit) %]</td>
    <td data-position-type-column=1>
     [% IF section.order_part_id && section.order_part.unit_obj.is_time_based %]
      [% LxERP.t8("time and effort based position") %]
     [% ELSIF section.order_part_id %]
      [% LxERP.t8("flat-rate position") %]
     [% END %]
    </td>
   </tr>
   [% END %]
  </tbody>
 </table>

 <p>
  [% L.button_tag("kivi.requirement_spec.standard_quotation_order_ajax_call('" _ (for_new ? 'create' : 'save_assignment') _ "')", for_new ? LxERP.t8('Create') : LxERP.t8('Save')) %]
 </p>
</form>
