[% USE HTML %]
[% USE LxERP %]
[% USE L %]
[% USE T8 %]

<h1>[% FORM.title %]</h1>

[% IF preview %]
  <form method="post" action="controller.pl" enctype="multipart/form-data" id="form">
    [% L.hidden_tag('file_name', SELF.file_name) %]
    [% L.hidden_tag('charset', SELF.charset) %]
[% END %]

<h2>[% LxERP.t8("Overview") %]</h2>

<table class="tbl-horizontal">
  <tr>
    <th>[% LxERP.t8("Total number of entries") %]:</th>
    <td>[% SELF.statistics.total %]</td>
  </tr>
  <tr>
    <th>[% LxERP.t8("Entries with errors") %]:</th>
    <td>[% SELF.statistics.errors %]</td>
  </tr>
  <tr>
    <th>[% LxERP.t8("Already imported entries (duplicates)") %]:</th>
    <td>[% SELF.statistics.duplicates %]</td>
  </tr>
  <tr>
[% IF preview %]
    <th>[% LxERP.t8("Entries ready to import") %]:</th>
    <td>[% SELF.statistics.to_import %]</td>
[% ELSE %]
    <th>[% LxERP.t8("Imported entries") %]:</th>
    <td>[% SELF.statistics.imported %]</td>
[% END %]
  </tr>
  <tr>
    <th>[% LxERP.t8("Includes Automatic SEPA bookings") %]:</th>
    <td>[% SELF.statistics.sepa %]</td>
  </tr>
  <tr>
    <th>[% LxERP.t8("Includes Automatic GL bookings") %]:</th>
    <td>[% SELF.statistics.gl_bookings %]</td>
  </tr>
</table>

[% IF SELF.statistics.total %]

<h2>[% LxERP.t8("Transactions") %]</h2>

<table class="tbl-list">
  <thead>
    <tr class="listheading">
      <th>[% LxERP.t8("Transaction date") %]</th>
      <th>[% LxERP.t8("Valutadate") %]</th>
      <th>[% LxERP.t8("Other party") %]</th>
      <th>[% LxERP.t8("Purpose") %]</th>
      <th>[% LxERP.t8("Amount") %]</th>
      <th>[% LxERP.t8("Remote account") %]</th>
      <th>[% LxERP.t8("Local account") %]</th>
      <th>[% LxERP.t8("End to end ID") %]</th>
      <th>[% LxERP.t8("Information") %]</th>
    </tr>
  </thead>
  <tbody>
    [% FOREACH transaction = SELF.transactions %]
      <tr class="listrow[% IF transaction.error %]_error[% END %]">
        <td class="center">[% transaction.transdate.to_kivitendo %]</td>
        <td class="center">[% transaction.valutadate.to_kivitendo %]</td>
        <td>[% HTML.escape(transaction.remote_name) %]</td>
        <td>[% HTML.escape(transaction.purpose) %]</td>
        <td class="numeric">[% LxERP.format_amount(transaction.amount, 2) %]</td>
        <td>
          [% IF transaction.remote_bank_code && transaction.remote_account_number %]
            [% HTML.escape(transaction.remote_bank_code) %] / [% HTML.escape(transaction.remote_account_number) %]
          [% END %]
        </td>
        <td>[% HTML.escape(transaction.bank_account.name) %]</td>
        <td>[% HTML.escape(transaction.end_to_end_id) %]</td>
        <td>
          [% IF transaction.error %]
            [% HTML.escape(transaction.error) %]
          [% ELSIF transaction.duplicate %]
            [% LxERP.t8("Duplicate") %]
          [% ELSIF transaction.sei && preview %]
            [% LxERP.t8("SEPA Booking") %]
            <a href="sepa.pl?action=bank_transfer_edit&vc=[% IF transaction.sei.vendor_id %]vendor[% ELSE %]customer[% END %]&id=[% HTML.url(transaction.sei.sepa_export_id) %]">[% HTML.escape(transaction.sei.sepa_export_id) %]</a><br/>
            [% HTML.escape(transaction.sei.reference) %]
            <br/><span>[% L.checkbox_tag('no_automatic_' _ transaction.sei.id, value => 1, checked => 0) %]
            [% LxERP.t8("Disable automatic SEPA booking") %]</span>
          [% ELSIF transaction.direct_gl && preview %]
            [% LxERP.t8("Direct GL") %]
            <a href="gl.pl?action=load_record_template&id=[% HTML.url(transaction.direct_gl.id) %]">[% HTML.escape(transaction.direct_gl.reference) %]</a><br/>
            [% HTML.escape(transaction.direct_gl.description) %]
            <br/><span>[% L.checkbox_tag('no_automatic_' _ transaction.direct_gl.id, value => 1, checked => 0) %]
            [% LxERP.t8("Disable automatic GL booking") %]</span>
          [% ELSIF preview %]
            [% LxERP.t8("To import") %]
          [% ELSE %]
            [% LxERP.t8("Imported") %]
            [% IF transaction.sei_ok %]
              <br/>[% LxERP.t8("SEPA Booking OK") %]
            [% END %]  [% IF transaction.direct_gl_id %]
              <br/>[% LxERP.t8("GL Booking OK") %]
              <br/><a href="gl.pl?action=edit&id=[% HTML.url(transaction.direct_gl_id) %]">[% HTML.escape(transaction.direct_gl.reference) %]</a><br/>
            [% END %]
          [% END %]
        </td>
      </tr>
    [% END %]
  </tbody>
</table>
[% END %]
[% IF preview %]
</form>
[% END %]


