[%- USE T8 %]
[%- USE HTML %]
[%- USE L %]
[%- USE LxERP %]

<form method="post" action="controller.pl">

<div class="listtop">[% 'Choose bank account for reconciliation' | $T8 %]</div>

<p>
 <table>
  <tr>
   <th align="right">[% 'Bank account' | $T8 %]</th>
   <td>[% L.select_tag('filter.local_bank_account_id:number', SELF.BANK_ACCOUNTS, default=bank_account, title_sub=\label_sub, with_empty=0, style='width:450px') %]</td>
  </tr>

  <tr>
   <th align="right">[% 'From' | $T8 %]</th>
   <td>[% L.date_tag('filter.fromdate:date::ge') %]</td>
  </tr>

  <tr>
   <th align="right">[% 'to (date)' | $T8 %]</th>
   <td>[% L.date_tag('filter.todate:date::le') %]</td>
  </tr>

  <tr>
   <th align="right">[% 'Cleared/uncleared only' | $T8 %]</th>
   <td>[% L.select_tag('filter.cleared:eq_ignore_empty', SELF.cleared, value_key = 'value', title_key = 'title') %]</td>
  </tr>

  <tr>
   <th align="right">[% 'Show Stornos' | $T8 %]</th>
   <td>[% L.checkbox_tag('filter.show_stornos', value='1') %]</td>
  </tr>
 </table>
</p>

<hr size="3" noshade>

[% L.hidden_tag('action', FORM.next_sub) %]

<p>[% L.submit_tag('dummy', LxERP.t8('Continue')) %]</p>
</form>
