[%- USE HTML %][%- USE L -%][%- USE P -%][%- USE LxERP -%][%- USE T8 -%]

[%- IF AUTH.assert('warehouse_management', 1) -%]
<p>
[% 'Actions' | $T8 %]:
 <span><a href="controller.pl?action=Inventory/stock_in&part_id=[% HTML.escape(SELF.part.id)%]&select_default_bin=1">[% 'Stock' | $T8 %]</a></span>
 <span><a href="wh.pl?trans_type=transfer&action=transfer_warehouse_selection&parts_id=[% HTML.escape(SELF.part.id) %]">[% 'Transfer' | $T8 %]</a></span>
 <span><a href="wh.pl?action=transfer_warehouse_selection&trans_type=removal&parts_id=[% HTML.escape(SELF.part.id) %]">[% 'Removal' | $T8 %]</a></span>
</p>
[%- END -%]

<div id="inventory_data">
</div>

<script type='text/javascript'>
$(function() {
  $('.tabwidget').on('tabsbeforeactivate', function(event, ui){
    if (ui.newPanel.attr('id') == 'inventory') {
      $.ajax({
        url: 'controller.pl?action=Part/inventory&id=[% SELF.part.id %]',
        success: function (html) {
          $("#inventory_data").html(html);
        },
      });
    }
    return 1;
   });
});
</script>
