[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]
[% USE L %]
[% USE P %]

<div id="parent_variant" class="wrapper">
  <div class="wrapper input-panel">
    <h3> [% LxERP.t8("Variant Properties") %] </h3>
    <table id="parent_variant_table" class="tbl-list">
      <caption>
        [% LxERP.t8("Variants") %]
      </caption>
      <thead>
      <tr>
        <th>
          [% L.checkbox_tag("varaint_select_all_multi_id",
              checked=0, id='variant_select_all'
              alt=LxERP.t8('Select/Deselect all'), title=LxERP.t8('Select/Deselect all'),
            ) %]
        </th>
        <th id="variant_partnumber_header_id">
          <a href='#' onClick='javascript:kivi.Part.reorder_variants("partnumber")'>
            [% 'Partnumber' | $T8 %]
          </a>
        </th>
        <th id="variant_ean_header_id">
          <a href='#' onClick='javascript:kivi.Part.reorder_variants("ean")'>
            [% "EAN" | $T8 %]
          </a>
        </th>
        <th id="variant_description_header_id">
          <a href='#' onClick='javascript:kivi.Part.reorder_variants("description")'>
            [% "Description" | $T8 %]
          </a>
        </th>
        <th id="variant_variant_values_header_id">
          <a href='#' onClick='javascript:kivi.Part.reorder_variants("variant_values")'>
            [% "Property Values (Abbreviation)" | $T8 %]
          </a>
        </th>
        [% FOREACH variant_property = SELF.part.variant_properties %]
        <th id="variant_variant_property_[% variant_property.id %]_header_id">
          <a href='#' onClick='javascript:kivi.Part.reorder_variants("variant_property_[% variant_property.id %]")'>
            [% variant_property.displayable_name %]
          </a>
        </th>
        [% END %]
        <th id="variant_listprice_header_id">
          <a href='#' onClick='javascript:kivi.Part.reorder_variants("listprice")'>
            [% "List Price" | $T8 %]
          </a>
        </th>
        <th id="variant_sellprice_header_id">
          <a href='#' onClick='javascript:kivi.Part.reorder_variants("sellprice")'>
            [% "Sell Price" | $T8 %]
          </a>
        </th>
        <th id="variant_lastcost_header_id">
          <a href='#' onClick='javascript:kivi.Part.reorder_variants("lastcost")'>
            [% "Last Cost" | $T8 %]
          </a>
        </th>
        <th id="variant_onhand_header_id">
          <a href='#' onClick='javascript:kivi.Part.reorder_variants("onhand")'>
            [% "On Hand" | $T8 %]
          </a>
        </th>
        <th id="variant_rop_header_id">
          <a href='#' onClick='javascript:kivi.Part.reorder_variants("rop")'>
            [% "ROP" | $T8 %]
          </a>
        </th>
        <th>
          [% L.select_tag("add_variant_property", AVAILABLE_VARIANT_PROPERIES
            title_key='displayable_name', value_key='id',
            with_empty=1, empty_title=LxERP.t8("Add Variant Property"),
            onchange='kivi.Part.update_variant_property_value_options();',
          )%]
        </th>
      </tr>
      <tr>
        <th>
          [%- L.button_tag('kivi.Part.variant_rows_toggle_selected();', "🔄",
                           title=LxERP.t8("Toggle selection"),
                           alt=LxERP.t8("Toggle selection"),
                           ) %]
        </th>
        <th><!-- partnumber --></th>
        <th><!-- ean --></th>
        <th>
          [% L.input_tag("description_for_selected_variants", SELF.part.description,
                          class="wi-medium",
                          ) %]
          [%- L.button_tag(
                'kivi.Part.set_selected_variants_to_value("description")',
                "↓",
                alt=LxERP.t8('Apply to selected rows'),
                title=LxERP.t8('Apply to selected rows'),
          ) %]
        </th>
        <th><!-- variant_values --></th>
        [% FOREACH property = SELF.part.variant_properties %]
        <th></th>
        [% END %]
        <th>
          [% L.input_tag(
                "listprice_as_number_for_selected_variants",
                SELF.part.listprice_as_number,
                class="reformat_number numeric wi-small",
          ) %]
          [%- L.button_tag(
                'kivi.Part.set_selected_variants_to_value("listprice_as_number")',
                "↓",
                alt=LxERP.t8('Apply to selected rows'),
                title=LxERP.t8('Apply to selected rows'),
          ) %]
        </th>
        <th>
          [% L.input_tag(
                "sellprice_as_number_for_selected_variants",
                SELF.part.sellprice_as_number,
                class="reformat_number numeric wi-small",
          ) %]
          [%- L.button_tag(
                'kivi.Part.set_selected_variants_to_value("sellprice_as_number")',
                "↓",
                alt=LxERP.t8('Apply to selected rows'),
                title=LxERP.t8('Apply to selected rows'),
          ) %]
        </th>
        <th>
          [% L.input_tag(
                "lastcost_as_number_for_selected_variants",
                SELF.part.lastcost_as_number,
                class="reformat_number numeric wi-small",
          ) %]
          [%- L.button_tag(
                'kivi.Part.set_selected_variants_to_value("lastcost_as_number")',
                "↓",
                alt=LxERP.t8('Apply to selected rows'),
                title=LxERP.t8('Apply to selected rows'),
          ) %]
        </th>
        <th><!-- onhand --></th>
        <th>
          [% L.input_tag(
                "rop_as_number_for_selected_variants",
                SELF.part.rop_as_number,
                class="reformat_number numeric wi-small",
          ) %]
          [%- L.button_tag(
                'kivi.Part.set_selected_variants_to_value("rop_as_number")',
                "↓",
                alt=LxERP.t8('Apply to selected rows'),
                title=LxERP.t8('Apply to selected rows'),
          ) %]
        </th>
        <th>
          [% L.select_tag("add_variant_property_value_for_selected_variants", []
                title_key='displayable_name', value_key='id',
                with_empty=1, empty_title=LxERP.t8("Select Variant Property First"),
              ) %]
          [%- L.button_tag(
                'kivi.Part.set_selected_variants_to_value("add_variant_property_value")',
                "↓",
                alt=LxERP.t8('Apply to selected rows'),
                title=LxERP.t8('Apply to selected rows'),
          ) %]
        </th>
      </tr>
      </thead>
      <tbody class="listrow">
        [% FOREACH variant = SELF.part.variants %]
          <tr class="variant_row_entry">
            [% L.hidden_tag("variants[+].id", variant.id, id='variant_' _ variant.id) %]
            [% L.hidden_tag("variants[].position", loop.count) %]
            <td>
              [% L.checkbox_tag('variant_multi_id_' _ loop.count, value=variant.id, checked=0) %]
            </td>
            <td>[% variant.presenter.part %]</td>
            <td>
              [% L.input_tag("variants[].ean", variant.ean, class="wi-medium") %]
            </td>
            <td>
              [% L.input_tag("variants[].description", variant.description, class="wi-medium") %]
            </td>
            <td>[% variant.variant_values | html %]</td>
            [% FOREACH variant_property = SELF.part.variant_properties %]
            <td> [% variant.variant_value(variant_property).displayable_name %] </td>
            [% END %]
            <td>
              [% L.input_tag(
                    "variants[].listprice_as_number",
                    variant.listprice_as_number,
                    class='reformat_number numeric wi-small',
              ) %]
            </td>
            <td>
              [% L.input_tag(
                    "variants[].sellprice_as_number",
                    variant.sellprice_as_number,
                    class='reformat_number numeric wi-small',
              ) %]
            </td>
            <td>
              [% L.input_tag(
                    "variants[].lastcost_as_number",
                    variant.lastcost_as_number,
                    class='reformat_number numeric wi-small',
              ) %]
            </td>
            <td>
              <span class="data wi-small numeric">
                [% LxERP.format_amount(variant.onhand) %] [% variant.unit | html %]
              </span>
            </td>
            <td>
              [% L.input_tag(
                    "variants[].rop_as_number",
                    variant.rop_as_number,
                    class='reformat_number numeric wi-small',
              ) %]
            </td>
            <td>
              [% L.select_tag("variants[].add_variant_property_value", []
                title_key='displayable_name', value_key='id',
                with_empty=1, empty_title=LxERP.t8("Select Variant Property First"),
              ) %]
            </td>
          </tr>
        [% END %]
      </tbody>
    </table>
    [% L.button_tag('kivi.Part.update_variants();', LxERP.t8("Update Variants")) %]
  </div>

  <div class="wrapper input-panel">
    <h3> [% LxERP.t8("Create new Variants") %] </h3>
    <div class="wrapper">
    [% FOREACH variant_property = SELF.part.variant_properties %]
      <div class="col input-panel" style="min-width:fit-content;">
        <h4>[% variant_property.displayable_name | html %]</h4>
        [% L.select_tag("variant_properties." _ variant_property.id _ ".selected_property_value_ids[]",
          variant_property.property_values,
          title_key='displayable_name', value_key='id',
          id="selected_property_value_ids_" _ variant_property.id,
          multiple=1,
        ) %]
        [% L.multiselect2side(
          "selected_property_value_ids_" _ variant_property.id,
          labelsx=LxERP.t8("All Property Values"),
          labeldx=LxERP.t8("Selected Property Values")
        ) %]
      </div>
    [% END %]
    </div>
    [% L.button_tag('kivi.Part.create_variants();', LxERP.t8("Create Variants with selected Values")) %]
  </div>

  <div class="wrapper input-panel">
    <h3> [% LxERP.t8("Convert part to Variant") %] </h3>
    <table class="tbl-list">
      <caption>
        [% 'Variant Properties' | $T8 %]
      </caption>
      <thead>
        <tr>
          <th>[% 'Name' | $T8 %]</th>
          <th>[% 'Value' | $T8 %]</th>
        </tr>
      </thead>
      <tbody>
        [% FOREACH variant_property = SELF.part.variant_properties %]
        <tr>
          <td>[% variant_property.displayable_name | html %]</td>
          <td>
          [% L.select_tag("convert_part.variant_properties." _ variant_property.id _ ".selected_property_value_id",
            variant_property.property_values,
            title_key='displayable_name', value_key='id',
            size=variant_property.property_values.size,
          ) %]
        </tr>
        [% END %]
      </tbody>
    </table>
    <label for="convert_part.id">[% 'Part to convert:' | $T8 %]</label>
    [% P.part.picker('convert_part.id', undef,
      part_type=SELF.part.part_type, variant_type='single',
      placeholder=(LxERP.t8('Type:') _ ' ' _ LxERP.t8(SELF.part.part_type)),
      class="wi-wide"
    ) %]
    <br>
    <br>
    [% L.button_tag('kivi.Part.convert_part_to_variant();', LxERP.t8("Convert")) %]
  </div>
</div>


