[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]
[% USE L %]
[% USE P %]

<div class="wrapper">
  <div class="wrapper input-panel">
    <h3> [% LxERP.t8("Variant Properties") %] </h3>
    <table class="tbl-list">
      <caption>
        [% LxERP.t8("Variants") %]
      </caption>
      <thead>
        <th>[% "Partnumber" | $T8 %]</th>
        <th>[% "Description" | $T8 %]</th>
        <th>[% "Property Values (Abbreviation)" | $T8 %]</th>
        [% FOREACH variant_property = SELF.part.variant_properties %]
        <th> [% variant_property.displayable_name %] </th>
        [% END %]
        <th>
          [% L.select_tag("add_variant_property", AVAILABLE_VARIANT_PROPERIES
            title_key='displayable_name', value_key='id',
            with_empty=1, empty_title=LxERP.t8("Variant Property"),
            onchange='kivi.Part.update_variant_property_value_options();',
          )%]
          [% L.button_tag('kivi.Part.add_variant_property();', LxERP.t8("Insert new")) %]
        </th>
      </thead>
      <tbody class="row_entry listrow">
        [% FOREACH variant = SELF.part.variants %]
          <tr>
            <td>[% variant.presenter.part %]</td>
            <td>[% variant.description | html %]</td>
            <td>[% variant.variant_values | html %]</td>
            [% FOREACH variant_property = SELF.part.variant_properties %]
            <td> [% variant.variant_value(variant_property) %] </td>
            [% END %]
            <td>
              [% L.select_tag("add_variant_property_value_" _ variant.id, []
                title_key='displayable_name', value_key='id',
                with_empty=1, empty_title=LxERP.t8("Select Variant Property First"),
              ) %]
            </td>
          </tr>
        [% END %]
      </tbody>
    </table>
  </div>

  <div class="wrapper input-panel">
    <h3> [% LxERP.t8("Create new Variants") %] </h3>
    <div class="wrapper">
    [% FOREACH variant_property = SELF.part.variant_properties %]
      <div class="col input-panel" style="min-width:fit-content;">
        <h4>[% variant_property.displayable_name | html %]</h4>
        [% L.select_tag("variant_properties." _ variant_property.id _ ".selected_property_value_ids[]",
          variant_property.property_values,
          title_key='displayable_name', value_key='id',
          id="selected_property_value_ids_" _ variant_property.id,
          multiple=1,
        ) %]
        [% L.multiselect2side(
          "selected_property_value_ids_" _ variant_property.id,
          labelsx=LxERP.t8("All Property Values"),
          labeldx=LxERP.t8("Selected Property Values")
        ) %]
      </div>
    [% END %]
    </div>
    [% L.button_tag('kivi.Part.create_variants();', LxERP.t8("Create Variants with selected Values")) %]
  </div>

  <div class="wrapper input-panel">
    <h3> [% LxERP.t8("Convert part to Variant") %] </h3>
    <table class="tbl-list">
      <caption>
        [% 'Variant Properties' | $T8 %]
      </caption>
      <thead>
        <tr>
          <th>[% 'Name' | $T8 %]</th>
          <th>[% 'Value' | $T8 %]</th>
        </tr>
      </thead>
      <tbody>
        [% FOREACH variant_property = SELF.part.variant_properties %]
        <tr>
          <td>[% variant_property.displayable_name | html %]</td>
          <td>
          [% L.select_tag("convert_part.variant_properties." _ variant_property.id _ ".selected_property_value_id",
            variant_property.property_values,
            title_key='displayable_name', value_key='id',
            size=variant_property.property_values.size,
          ) %]
        </tr>
        [% END %]
      </tbody>
    </table>
    <label for="convert_part.id">[% 'Part to convert:' | $T8 %]</label>
    [% P.part.picker('convert_part.id', undef,
      part_type=SELF.part.part_type, variant_type='single',
      placeholder=(LxERP.t8('Type:') _ ' ' _ LxERP.t8(SELF.part.part_type)),
      class="wi-wide"
    ) %]
    <br>
    <br>
    [% L.button_tag('kivi.Part.convert_part_to_variant();', LxERP.t8("Convert")) %]
  </div>
</div>


