[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]
[% USE L %]
[% USE P %]

<div class="wrapper input-panel">
  <h3> [% "Parent Variant" | $T8 %]:
    [% SELF.part.parent_variant.presenter.part %]
    [% SELF.part.parent_variant.description %]
  </h3>
  <table class="tbl-list">
    <caption>
      [% LxERP.t8("Variant Property Values") %]
    </caption>
    <thead>
      <th>[% "Name" | $T8 %]([% "Abbreviation" | $T8 %])</th>
      <th>[% "Abbreviation" | $T8 %]</th>
      <th>[% "Value" | $T8 %]</th>
    </thead>
    <tbody class="row_entry listrow">
    [% FOREACH value = SELF.part.variant_property_values %]
      <tr>
        <td>[% value.variant_property.name | html %]([% value.variant_property.abbreviation | html %])</td>
        <td>[% value.abbreviation | html %]</td>
        <td>[% value.value | html %]</td>
      </tr>
    [% END %]
    </tbody>
  </table>
</div>
