[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]
[% USE L %]
[% USE P %]

<h1>[% FORM.title %] [% IF SELF.part.id %]: [% HTML.escape(SELF.part.displayable_name) %][% END %]</h1>

<form method="post" id="ic" name="ic" action="controller.pl">

[% L.hidden_tag('part.part_type'   , SELF.part.part_type) %]
[% L.hidden_tag('part.id'          , SELF.part.id) %]
[% L.hidden_tag('last_modification', SELF.part.last_modification) %]
[% L.hidden_tag('callback'         , FORM.callback) %]

<div id="ic_tabs" class="tabwidget">

  <ul class="ui-tabs">
    <li><a href="#basic_data">[% 'Basic Data' | $T8 %]</a></li>
    [% IF SELF.part.is_assortment %]
      <li><a href="#assortment_tab">[% 'Assortment items' | $T8 %]</a></li>
    [% END %]
    [% IF SELF.part.is_assembly %]
      <li><a href="#assembly_tab">[% 'Assembly items' | $T8 %]</a></li>
    [% END %]
    [% IF SELF.part.id %]
      [% IF INSTANCE_CONF.get_doc_storage %]
        <li><a href="controller.pl?action=File/list&file_type=attachment&object_type=part&object_id=[% SELF.part.id %]">[% 'Attachments' | $T8 %]</a></li>
        <li><a href="controller.pl?action=File/list&file_type=image&object_type=part&object_id=[% SELF.part.id %]">[% 'Images' | $T8 %]</a></li>
      [% END %]
    [% END %]
    [% IF SELF.all_languages.size %]
      <li><a href="#translations_tab">[% 'Translations' | $T8 %]</a></li>
    [% END %]
    [% IF SELF.part.id %]
      <li><a href="#sales_price_information">[% 'Price information' | $T8 %]</a></li>
    [% END %]
    [% IF SELF.part.id  %]
      <li><a href="#price_rules">[% 'Price Rules' | $T8 %]</a></li>
    [% END %]
    [% IF CUSTOM_VARIABLES.size %]
      <li><a href="#custom_variables">[% 'Custom Variables' | $T8 %]</a></li>
    [% END %]
    [%- IF (AUTH.assert('warehouse_contents', 1) AND SELF.part.id AND NOT SELF.part.is_service) %]
      <li><a href="#inventory">[% 'Inventories' | $T8 %]</a></li>
    [%- END %]
    [% IF AUTH.assert('shop_part_edit', 1) && SELF.part.id && SELF.part.shop %]
      <li><a href="#shop_variables">[% 'Shop variables' | $T8 %]</a></li>
    [% END %]
  </ul>

  <div id="basic_data" class="ui-tabs-panel">
    [% PROCESS 'part/_basic_data.html' %]
  </div>

  [% IF SELF.part.is_assortment %]
    <div id="assortment_tab" class="ui-tabs-panel">
      [% PROCESS 'part/_assortment.html' id=part.id assortment_id=SELF.part.id %]
    </div>
  [% END %]

  [% IF SELF.part.is_assembly %]
    <div id="assembly_tab" class="ui-tabs-panel">
      [% PROCESS 'part/_assembly.html' id=part.id assembly_id=SELF.part.id %]
    </div>
  [% END %]

  [% IF SELF.all_languages.size %]
    [% PROCESS 'part/_edit_translations.html' %]
  [% END %]

  [% IF SELF.part.id %]
    <div id="sales_price_information" class="ui-tabs-panel">
      [% PROCESS part/_sales_price_information.html id=SELF.part.id %]
    </div>
  [% END %]

  [% IF AUTH.assert('shop_part_edit', 1) && SELF.part.id && SELF.part.shop %]
    <div id="shop_variables" class="ui-tabs-panel">
      [% PROCESS 'part/_shop.html' %]
    </div>
  [% END %]

  [% IF AUTH.assert('warehouse_contents', 1) AND SELF.part.id AND NOT SELF.part.is_service %]
    <div id="inventory">
      [% PROCESS 'part/_inventory.html' %]
    </div>
  [% END %]

  [% IF CUSTOM_VARIABLES.size %]
    <div id="custom_variables" class="ui-tabs-panel">
      [% PROCESS 'part/_cvars.html' %]
    </div>
  [% END %]

  [% IF SELF.part.id %]
    <div id="price_rules" class="ui-tabs-panel">
      <div class="wrapper">
        <div id="price_rules_customer_report"></div>
        <div id="price_rules_vendor_report"></div>
      </div><!-- /.wrapper -->
    </div>
  [% END %]

</div><!-- /.tabwidget -->
</form>
