[%- USE LxERP -%][% USE L %][% USE HTML %][%- USE JavaScript -%][% USE T8 %][%- USE Dumper %]

<div class="wrapper">
<div class="col"> <!-- part info -->
<div class="wrapper">
  <table class="tbl-horizontal">
    <tbody>
      <tr>
        <td><b>[%  LxERP.t8('Description') %]</b></td>
        <td>[% part.description %]</td>
      </tr>
      <tr>
        <td><b>[%  LxERP.t8('Default Warehouse') %]</b></td>
        <td>[% part.warehouse.description %]</td>
      </tr>
      <tr>
        <td><b>[%  LxERP.t8('Default Bin') %]</b></td>
        <td>[% part.bin.description %]</td>
      </tr>
      <tr>
        <td><b>[%  LxERP.t8('ROP') %]</b></td><td>[% part.rop_as_number %]</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="wrapper">
  <table class="tbl-list" style="margin-right: 1em;">
    [%- IF stock_amounts.size %]
    <thead>
      <tr class='listheading'>
        <th>[% 'Warehouse'    | $T8 %]</th>
        <th>[% 'Bin'          | $T8 %]</th>
        <th>[% 'Chargenumber' | $T8 %]</th>
        <th>[% 'Qty'          | $T8 %]</th>
        <th>[% 'Unit'         | $T8 %]</th>
      </tr>
    </thead>
    <tbody>
      [% FOREACH stock = stock_amounts %]
      <tr>
        <td>[% HTML.escape(stock.warehouse_description) %]</td>
        <td>[% HTML.escape(stock.bin_description) %]</td>
        <td>[% HTML.escape(stock.chargenumber) %]</td>
        <td class='numeric'>[% LxERP.format_amount(stock.qty, dec) %]</td>
        <td>[% HTML.escape(stock.unit) %]</td>
      </tr>
        [% IF stock.wh_lead != stock.warehouse_description %]
        <tr>
          <th><b>[% HTML.escape(stock.warehouse_description) %]</b></th>
          <td></td>
          <td></td>
          <td class='numeric bold'>[% LxERP.format_amount(stock.wh_run_qty, dec)         %]</td>
          <td></td>
        </tr>
        [% END %]
        [% IF loop.last %]
        <tr>
          <th><b>[% 'Total' | $T8 %]</b></th>
          <td></td>
          <td></td>
          <td class='numeric bold'>[% LxERP.format_amount(stock.run_qty, dec)         %]</td>
          <td></td>
        </tr>
        [% END %]
      [% END %]
    </tbody>
    [% ELSE %]
    <thead>
      <th>
        <p>[% 'No transactions yet.' | $T8 %]</p>
      </th>
    </thead>
    [% END %]
  </table>
</div>

<div class="wrapper">
  <table class="tbl-horizontal">
    <tbody>
      <tr>
        <td><b>[%  LxERP.t8('Sum Amount') %]</b></td>
        <td>[% LxERP.format_amount(sum, 2) %] [% part.unit %]</td>
      </tr>
      <tr>
        <td><b>[%  LxERP.t8('Not delivered amount') %]</b></td>
        <td>[% LxERP.format_amount(not_delivered, 2) %] [% part.unit %]
        </td>
      </tr>
      <tr>
        <td><b>[%  LxERP.t8('Ordered, but not delivered (purchase)') %]</b></td>
        <td>[% LxERP.format_amount(ordered, 2) %] [% part.unit %]</td>
      </tr>
      <tr>
        <td><b>[%  LxERP.t8('Available amount') %]</b></td>
        <td>[% LxERP.format_amount(part.onhandqty, 2) %] [% part.unit %]</td>
      </tr>
      <tr>
        <td><b>[%  LxERP.t8('Consume average') %]</b></td>
        <td>[% LxERP.format_amount(average, 2) %] [% part.unit %] [% LxERP.t8('per month') %]</td>
      </tr>
      <tr>
        <td colspan="2" nowrap>([%  LxERP.t8('in the time between') %] [% fromdate.to_kivitendo %] - [% todate.to_kivitendo %])</td>
      </tr>
    </tbody></table>
</div>

<td>[%- L.button_tag("return \$('#detail_menu').dialog('close');", LxERP.t8('Close Details'), class => "submit") %]</td>
</div> <!-- col 1 -->

<div class="col"> <!-- col 2 -->
<div id="print_options" class="wrapper">
  <form id="print_options_form">
    [% print_options %]
    <br>
    [% L.button_tag('kivi.Part.print_from_showdetail(' _ part.id _ ')', LxERP.t8('Print')) %]
  </form>
</div>

[% IF part.image && INSTANCE_CONF.get_parts_show_image %]
<div class="wrapper">
  <a href="[% part.image | html %]" target="_blank"><img style="[% INSTANCE_CONF.get_parts_image_css %]" src="[% part.image | html %]"/></a>
</div>
[% END %]
</div> <!-- col 2 -->
