[%- USE HTML %][%- USE L %][%- USE LxERP %]
[%- DEFAULT id_base="edit_section" %]
[%- SET style="width: 500px" %]
<form id="[% id_base %]_form">
 [%- IF SELF.item.id %]
  [%- SET hidden = '#section-header-' _ SELF.item.id %]
  <h1>[%- LxERP.t8("Edit section #1", SELF.item.fb_number) %]</h1>

 [%- ELSE %]
  [%- SET hidden = '#column-content > *' %]
  <h1>[%- LxERP.t8("Add section") %]</h1>

 [%- END %]

 [% L.hidden_tag(id_base _ '_id',                  SELF.item.id) %]
 [% L.hidden_tag(id_base _ '.requirement_spec_id', SELF.item.requirement_spec_id) %]
 [% IF insert_after %]
  [% L.hidden_tag(id_base _ '.insert_after',       insert_after) %]
 [% END %]

 <p>
  [%- LxERP.t8("Title") %]:<br>
  [% L.input_tag(id_base _ '.title', SELF.item.title, style=style) %]
 </p>

 <p>
  [%- LxERP.t8("Description") %]:<br>
  [% L.textarea_tag(id_base _ '.description', SELF.item.description, rows=8, cols=80, style=style) %]
 </p>

 <p>
  [% L.button_tag('submit_edit_item_form("' _ id_base _ '")', LxERP.t8('Save')) %]
  <a href="#" onclick="cancel_edit_item_form('[% id_base %]', '[% hidden %]')">[%- LxERP.t8("Cancel") %]</a>
 </p>
</form>
