[%- USE HTML -%][%- USE LxERP -%][%- USE P -%]
<li id="subitem_[%- requirement_spec_item.id -%]" class="subitem">

  <div id="subitem_content_[%- requirement_spec_item.id -%]" class="subitem-content[%- IF requirement_spec_item.flagged -%] flagged[%- END -%]">

    [%#- IF !@requirement_spec.project.nil? -%]
     [%#- link_to image_tag("chronometer.png"), account_time_requirement_spec_requirement_spec_item_path(requirement_spec_item.requirement_spec, requirement_spec_item) -%]
    [%#- END -%]
    [%#- link_to_new_sub(requirement_spec_item.parent) -%]
    [%#- link_to_remote image_tag("new_subsub.png"),
                       :url       => new_requirement_spec_requirement_spec_item_url(requirement_spec_item.requirement_spec, :requirement_spec_item_id => requirement_spec_item.id),
                       :method    => :get,
                       :condition => "check_for_editbox()",
                       :update    => "new_subsubitem_form_#{requirement_spec_item.id}" -%]

    <b>[%- HTML.escape(requirement_spec_item.fb_number) -%]</b>
    [%- HTML.escape(requirement_spec_item.description) -%]

    <div class="subsubitem-container" id="subsubitem_container_[%- requirement_spec_item.id -%]">
     <div class="subsubitem-header" id="subsubitem_header_[%- requirement_spec_item.id -%]"[%- IF !requirement_spec_item.children.size -%] style="display: none"[%- END -%]>
      [%- LxERP.t8("Sub function blocks") -%]
     </div>
      [%- IF requirement_spec_item.children.size -%]
        [%- FOREACH subsubitem = requirement_spec_item.children -%]
          [%#- render :partial => "requirement_spec_items/single_subsubitem", :locals => {:requirement_spec_item => subsubitem} -%]
        [%- END -%]
      [%- END -%]
    </div>

    <div id="new_subsubitem_form_[%- requirement_spec_item.id -%]" class="subsubitem_form"></div>

    <div class="smaller" style="text-align:right">
      [%- IF requirement_spec_item.dependencies.size -%]
        <span class="gray">
          [%- LxERP.t8("Dependencies") -%]: [%- P.requirement_spec_item_dependency_list(requirement_spec_item.dependencies) -%]
        </span><br>
      [%- END -%]
      <span class="gray">
        [%- LxERP.t8("Complexity") -%]: [%- requirement_spec_item.requirement_spec_complexity.description IF requirement_spec_item.requirement_spec_complexity -%]
        &nbsp; | &nbsp;
        [%- LxERP.t8("Risk") -%]: [%- requirement_spec_item.requirement_spec_risk.description IF requirement_spec_item.requirement_spec_risk -%]
        &nbsp; | &nbsp;
        [%- LxERP.t8("Effort") -%]: [%#- render :partial => 'requirement_spec_items/time_estimation_item', :locals => { :item => requirement_spec_item } -%]
      </span>

    </div>
  </div>
</li>
