[% USE HTML %]
[% USE LxERP %]
[% USE L %]
[% USE P %]
[% USE T8 %]

<h1>[% title | html %]</h1>

<form name="Form" method="post" action="controller.pl" id="report_settings">

  [% L.hidden_tag("action", "ListTransactions/report_settings") %]

  <div class="wrapper">
    <h3>[% "Account" | $T8 %]</h3>
    [% P.chart.picker('chart_id', defaults.chart_id) %]

    <h3>[% "Period" | $T8 %]</h3>
    [% P.date_period.picker('dateperiod', defaults.dateperiod_from_date,
                                          defaults.dateperiod_to_date,
                                          dialog_defaults => defaults.dialog) %]

    <h3>[% "Options" | $T8 %]</h3>
    <div class="wi-lightwide">[% L.checkbox_tag('show_subtotals', checked => defaults.show_subtotals,
                                              label => LxERP.t8('Show subtotals')) %]</div>

    <h3>[% "Sort by" | $T8 %]</h3>
    <div class="wi-normal">[% P.radio_button_tag('sort', value => 'transdate',
                                                  checked => defaults.sort == 'transdate',
                                                  label => LxERP.t8('Date')) %]</div>
    <div class="wi-normal">[% P.radio_button_tag('sort', value => 'reference',
                                                  checked => defaults.sort == 'reference',
                                                  label => LxERP.t8('Reference')) %]</div>
    <div class="wi-normal">[% P.radio_button_tag('sort', value => 'description',
                                                  checked => defaults.sort == 'description',
                                                  label => LxERP.t8('Description')) %]</div>
  </div>

</form>
