[% USE L %]
[% USE HTML %]
[% USE LxERP %]
[% USE T8 %]
<h3>[% 'Journal of Last 10 Transfers' | $T8 %]</h3>

[%- IF journal.size %]
<table>
 <tr class='listheading'>
  <th>[% 'Date' | $T8 %]</th>
  <th>[% 'Trans Type' | $T8 %]</th>
  <th>[% 'Part' | $T8 %]</th>
  <th>[% 'Warehouse From' | $T8 %]</th>
  <th>[% 'Qty' | $T8 %]</th>
  <th>[% 'Unit' | $T8 %]</th>
  <th>[% 'Warehouse To' | $T8 %]</th>
  <th>[% 'Charge Number' | $T8 %]</th>
  <th>[% 'Comment' | $T8 %]</th>
 </tr>
[% FOREACH row = journal %]
 <tr class='listrow'>
  <td>[% row.base.itime_as_date  %]</td>
  <td>[% row.base.trans_type.description | $T8 %]</td>
  <td>[% row.base.part.long_description | html %]</td>
  <td>[% row.out ? row.out.bin.full_description : '-' | html %]</td>
  <td class='numeric'>[% row.in ? row.in.qty_as_number : LxERP.format_amount(-1 * row.out.qty, 2) %]</td>
  <td>[% row.base.part.unit | html %]</td>
  <td>[% row.in ? row.in.bin.full_description : '-' | html %]</td>
  <td>[% row.base.chargenumber | html %]</td>
  <td>[% row.base.comment | html %]</td>
 </tr>
[% END %]
</table>
[%- ELSE %]
<p>[% 'No transactions yet.' | $T8 %]</p>
[%- END %]
