[%- USE T8 %]
[%- USE L %]
[%- USE P %]
[%- USE HTML %]
[%- USE LxERP %]

<h1>[% title | html %]</h1>

[%- INCLUDE 'common/flash.html' %]

<form name="Form" method="post" action="controller.pl" id="form">

 <table>
  <tr>
   <th align="right" nowrap>[% 'Part' | $T8 %]</th>
   <td>[% P.part.picker('part_id', SELF.part) %]</td>
  </tr>

  <tr>
   <th align="right" nowrap>[% 'Destination warehouse' | $T8 %]</th>
   <td>[% L.select_tag('warehouse_id', SELF.warehouses, default=SELF.warehouse.id, title_key='description') %]
     [% IF SELF.warehouse.id %]
       [% L.select_tag('bin_id', SELF.warehouse.bins, default=SELF.bin.id, title_key='description') %]
      [%- ELSE %]
       <span id='bin_id'></span>
      [% END %]
       <span id='write_default_bin_span' style='display:none'><br>[% L.checkbox_tag('write_default_bin', label=LxERP.t8('Write bin to default bin in part?')) %]</span>
    </td>
  </tr>

  <tr>
   <th align="right" nowrap>[% 'Charge number' | $T8 %]</th>
   <td>[% L.input_tag('chargenumber', FORM.chargenumber, size=30) %]</td>
  </tr>

[% IF INSTANCE_CONF.get_show_bestbefore %]
  <tr>
   <th align="right" nowrap>[% 'Best Before' | $T8 %]</th>
   <td>[% L.date_tag('bestbefore', FORM.bestbefore) %]</td>
  </tr>
[%- END %]

  <tr>
   <th align="right" nowrap>[% 'Quantity' | $T8 %]</th>
   <td>
    [% L.input_tag('qty', LxERP.format_amount(FORM.qty), size=10) %]
[%- IF SELF.part.unit %]
    [% L.select_tag('unit_id', SELF.part.available_units, title_key='name', default=SELF.unit.id) %]
[%- ELSE %]
    [% L.select_tag('unit_id', SELF.units, title_key='name') %]
[%- END %]
   </td>
  </tr>

  <tr>
   <td>[% 'Select type of transfer in' | $T8 %]:</td>
   <td>[% L.select_tag('transfer_type_id', TRANSFER_TYPES, title_key='description') %] </td>
  </tr>

  <tr>
   <th align="right" nowrap>[% 'Optional comment' | $T8 %]</th>
   <td>[% L.input_tag('comment', FORM.comment, size=60) %]</td>
  </tr>
 </table>
</form>

<div id='stock'>
  [%- PROCESS 'inventory/_stock.html' %]
</div>
<div id='journal'>
 [%- PROCESS 'inventory/_journal.html' journal=SELF.mini_journal %]
</div>

<script type='text/javascript'>
function reload_warehouse_selection () {
  $.post("controller.pl", { action: 'Inventory/part_changed', part_id: function(){ return $('#part_id').val() } }, kivi.eval_json_result);
  $.post("controller.pl", { action: 'Inventory/mini_stock', part_id: function(){ return $('#part_id').val() } }, kivi.eval_json_result);
}
function reload_bin_selection () {
  $.post("controller.pl", { action: 'Inventory/warehouse_changed', warehouse_id: function(){ return $('#warehouse_id').val() } }, kivi.eval_json_result);
}
function check_part_selection_before_stocking() {
  if ($('#part_id').val() !== '')
    return true;

  alert(kivi.t8('No article has been selected yet.'));
  return false;
}
$(function(){
  $('#part_id').change(reload_warehouse_selection);
  $('#warehouse_id').change(reload_bin_selection);
})
</script>
