[%- USE T8 %]
[%- USE L %]
[%- USE HTML %]
[%- USE LxERP %]
[%- WAREHOUSE_FILTER = 1 %]
[%- PROCESS 'common/select_warehouse_bin.html' %]

<h1>[% title | html %]</h1>

[%- INCLUDE 'common/flash.html' %]

<form name="Form" method="post" action="controller.pl" id="form">

 <table border="0">
    <tr>
     <th class="listheading" align="left" valign="top" colspan="5" nowrap>[% 'Period:' | $T8 %]</th>
    </tr>
  <tr>
    <th align=left><input name=reporttype class=radio type=radio value="custom" checked>[% 'Customized Report' | $T8 %]</th>
  </tr>
  <tr>
    <th colspan=1>[% 'Year' | $T8 %]</th>
    <td><input name=year size=11 title="[% 'YYYY' | $T8 %]" value="[% year %]" class="initial_focus"></td>
  </tr>
  <tr>
    <td align=right> <b>[% 'Yearly' | $T8 %]</b> </td>
    <th align=left>[% 'Quarterly' | $T8 %]</th>
    <th align=left colspan=3>[% 'Monthly' | $T8 %]</th>
  </tr>
  <tr>
    <td align=right>&nbsp; <input name=duetyp class=radio type=radio value="13" checked></td>
    <td><input name=duetyp class=radio type=radio value="A">&nbsp;1. [% 'Quarter' | $T8 %]</td>
    <td><input name=duetyp class=radio type=radio value="1">&nbsp;[% 'January' | $T8 %]</td>
    <td><input name=duetyp class=radio type=radio value="5">&nbsp;[% 'May' | $T8 %]</td>
    <td><input name=duetyp class=radio type=radio value="9">&nbsp;[% 'September' | $T8 %]</td>
  </tr>
  <tr>
    <td align= right>&nbsp;</td>
    <td><input name=duetyp class=radio type=radio value="B">&nbsp;2. [% 'Quarter' | $T8 %]</td>
    <td><input name=duetyp class=radio type=radio value="2">&nbsp;[% 'February' | $T8 %]</td>
    <td><input name=duetyp class=radio type=radio value="6">&nbsp;[% 'June' | $T8 %]</td>
    <td><input name=duetyp class=radio type=radio value="10">&nbsp;[% 'October' | $T8 %]</td>
  </tr>
  <tr>
    <td> &nbsp;</td>
    <td><input name=duetyp class=radio type=radio value="C">&nbsp;3. [% 'Quarter' | $T8 %]</td>
    <td><input name=duetyp class=radio type=radio value="3">&nbsp;[% 'March' | $T8 %]</td>
    <td><input name=duetyp class=radio type=radio value="7">&nbsp;[% 'July' | $T8 %]</td>
    <td><input name=duetyp class=radio type=radio value="11">&nbsp;[% 'November' | $T8 %]</td>
  </tr>
  <tr>
    <td> &nbsp;</td>
    <td><input name=duetyp class=radio type=radio value="D">&nbsp;4. [% 'Quarter' | $T8 %]</td>
    <td><input name=duetyp class=radio type=radio value="4">&nbsp;[% 'April' | $T8 %]</td>
    <td><input name=duetyp class=radio type=radio value="8">&nbsp;[% 'August' | $T8 %]</td>
    <td><input name=duetyp class=radio type=radio value="12">&nbsp;[% 'December' | $T8 %]</td>
  </tr>
  <tr>
    <td colspan="5"><hr size=3 noshade></td>
  </tr>
  <tr>
    <th align=left><input name=reporttype class=radio type=radio value="free">[% 'Free report period' | $T8 %]</th>
    <td align=left colspan=4>
      [% 'From' | $T8 %] [% L.date_tag('fromdate', fromdate) %]
      [% 'Bis' | $T8 %] [% L.date_tag('todate', todate) %]
    </td>
  </tr>
    <tr>
     <th class="listheading" align="left" valign="top" colspan="5" nowrap>[% 'Filter' | $T8 %]</th>
    </tr>
    <tr>
     <td colspan="5">
      <table>
       <tr>
        <th align="right" nowrap>[% 'Warehouse' | $T8 %]:</th>
        <td>
         <select name="warehouse_id" id="warehouse_id" onchange="warehouse_selected(this.value, 0)">
          <option value="">---</option>
          [%- FOREACH warehouse = WAREHOUSES %]
          <option value="[% HTML.escape(warehouse.id) %]">[% warehouse.description %]</option>
          [%- END %]
         </select>
        </td>
       </tr>
       <tr>
        <th align="right" nowrap>[% 'Bin' | $T8 %]:</th>
        <td><select name="bin_id" id="bin_id"></select></td>
       </tr>
       <tr>
        <th align="right" nowrap>[% 'Part Number' | $T8 %]:</th>
        <td><input name="partnumber" size=20></td>
       </tr>
       <tr>
        <th align="right" nowrap>[% 'Part Description' | $T8 %]:</th>
        <td><input name="description" size=40></td>
       </tr>
[% IF PARTSCLASSIFICATIONS %]
       <tr>
        <td>
           [% L.select_tag('partsclassification',PARTSCLASSIFICATION,title_key="partsclassification") %]
        </td>
       </tr>
[% END %]
       <tr>
        <th align="right" nowrap>[% 'Charge Number' | $T8 %]:</th>
        <td><input name="chargenumber" size=40></td>
       </tr>
       [% IF INSTANCE_CONF.get_show_bestbefore %]
       <tr>
        <th align="right" nowrap>[% 'Best Before' | $T8 %]:</th>
        <td>
          [% L.date_tag('bestbefore') %]
        </td>
       </tr>
       [% END %]
      </table>
     </td>
    </tr>
   </table>
  </p>
 </form>
