[%- USE LxERP -%][%- USE HTML -%][%- USE P -%]

<h1>[% HTML.escape(title) %]</h1>

[% IF !ORDERS.size %]
  <p>[% LxERP.t8("There are no orders for the selected time period.") %]</p>

[% ELSE %]

  <table style="width: 100%">
    <thead>
      <tr class="listheading">
        <th align="right">[% LxERP.t8("Date") %]</th>
        <th align="right">[% LxERP.t8("Delivery Date") %]</th>
        <th align="right">[% LxERP.t8("Order") %]</th>
        <th align="right">[% LxERP.t8("Customer Order Number") %]</th>
        <th>[% LxERP.t8("Customer") %]</th>
        <th align="right">[% LxERP.t8("Total") %]</th>
        <th align="right">[% LxERP.t8("Net amount") %]</th>
        <th>[% LxERP.t8("Employee") %]</th>
        <th>[% LxERP.t8("Transaction description") %]</th>
        <th>[% LxERP.t8("Recurring") %]</th>
      </tr>
    </thead>

    <tbody>
      [% FOREACH order = ORDERS %]
        <tr class="listrow">
          <td align="right">[% HTML.escape(order.transdate.to_kivitendo) %]</td>
          <td align="right">[% HTML.escape(order.reqdate.to_kivitendo) %]</td>
          <td align="right">[% P.order.sales_order(order) %]</td>
          <td align="right">[% HTML.escape(order.cusordnumber) %]</td>
          <td>[% P.customer_vendor.customer(order.customer) %]</td>
          <td align="right">[% HTML.escape(LxERP.format_amount(order.amount,    2)) %]</td>
          <td align="right">[% HTML.escape(LxERP.format_amount(order.netamount, 2)) %]</td>
          <td>[% HTML.escape(order.employee.safe_name) %]</td>
          <td>[% HTML.escape(order.transaction_description) %]</td>
          <td>[% IF order.is_recurring %][% LxERP.t8("yes") %][% ELSE %][% LxERP.t8("no") %][% END %]</td>
        </tr>
      [% END %]
    </tbody>
  </table>
[% END %]
