[% USE HTML %]
[% USE L %]
[% USE LxERP %]

<h1>[% FORM.title %]</h1>

[% PROCESS 'background_job_history/_filter.html' filter=SELF.models.filtered.laundered %]

<div class="wrapper">
[% IF !ENTRIES.size %]
  <p>[% LxERP.t8('There are no entries in the background job history.') %]</p>

[% ELSE %]
  <table id="background_job_history_list" class="background_job_list tbl-list wi-moderate">
    <thead>
      <tr>
        <th>[% L.sortable_table_header('package_name') %]</th>
        <th>[% L.sortable_table_header('description') %]</th>
        <th>[% L.sortable_table_header('run_at') %]</th>
        <th>[% L.sortable_table_header('status') %]</th>
        <th>[% L.sortable_table_header('result') %]</th>
        <th>[% L.sortable_table_header('error') %]</th>
      </tr>
    </thead>

    <tbody>
    [% FOREACH entry = ENTRIES %]
      <tr class="listrow[% loop.count % 2 %]" id="background_job_history_id_[% entry.id %]">
        <td><a href="[% SELF.url_for(action => 'show', id => entry.id, back_to => SELF.models.get_callback) %]">[% HTML.escape(entry.package_name) %]</a></td>
        <td>[% HTML.escape(entry.description) %]</td>
        <td>[% HTML.escape(entry.run_at.to_lxoffice('precision' => 'second')) %]</td>
        <td>
          [% IF entry.status == 'success' %]
            [% LxERP.t8('succeeded') %]
          [% ELSIF entry.status == 'failure' %]
            [% LxERP.t8('failed') %]
          [% ELSE %]
            [% HTML.escape(entry.status) %]
          [% END %]
        </td>
        <td>[% HTML.escape(entry.result) %]</td>
        <td>[% IF entry.error_col %]<pre>[% L.truncate(entry.error_col) %]</pre>[% END %]</td>
      </tr>
    [% END %]
    </tbody>
  </table>

[% END %]

[% L.paginate_controls %]
</div><!-- /.wrapper -->

