[% USE HTML %]
[% USE L %]
[% USE LxERP %]

<h1>[% FORM.title %]</h1>

[% INCLUDE 'common/flash.html' %]

<table id="background_job_history_details" class="background_job_details">
  <tbody>
    <tr>
      <th>[% LxERP.t8('Package name') %]</th>
      <td>[% HTML.escape(SELF.history.package_name) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8('Description') %]</th>
      <td>[% HTML.escape(SELF.history.description) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8('Run at') %]</th>
      <td>[% HTML.escape(SELF.history.run_at.to_lxoffice('precision' => 'second')) %]</td>
    </tr>
    <tr>
     <th>[% LxERP.t8('Execution status') %]</th>
      <td>
        [% IF SELF.history.status == 'success' %]
          [% LxERP.t8('succeeded') %]
        [% ELSIF SELF.history.status == 'failed' %]
          [% LxERP.t8('failed') %]
        [% ELSE %]
          [% HTML.escape(SELF.history.status) %]
        [% END %]
      </td>
    </tr>
    <tr>
      <th>[% LxERP.t8('Result') %]</th>
      <td><pre class="pre-wrap">[% HTML.escape(SELF.history.result) %]</pre></td>
    </tr>
    <tr>
      <th>[% LxERP.t8('Error') %]</th>
      <td>[% IF SELF.history.error_col %]<pre class="pre-wrap">[% HTML.escape(SELF.history.error_col) %]
      </pre>
      [% END %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8('Data') %]</th>
      <td>[% IF SELF.history.data %]<pre class="pre-wrap">[% HTML.escape(SELF.history.data) %]
      </pre>
      [% END %]</td>
    </tr>
  </tbody>
 </table>
