[%- USE HTML -%][%- USE LxERP -%][%- USE L -%][%- USE P -%][%- USE T8 -%]
[% INCLUDE 'common/flash.html' %]

<h1>[% HTML.escape(title) %]</h1>
[% SET style="width: 400px" %]

<form action="controller.pl" method="post" id="form">
[%- L.hidden_tag("id", SELF.partsgroup.id) %]

<div id="partsgroup_tabs"class="tabwidget">
  <ul class="ui-tabs">
    <li><a href="#partsgroup_data">[% 'Partsgroup data' | $T8 %]</a></li>
    <li><a href="#partsgroup_parts">[% 'Article' | $T8 %]</a></li>
  </ul>
  <div id="partsgroup_data" class="ui-tabs-panel">
    [% PROCESS 'partsgroup/_partsgroup_data.html' %]
  </div>
  <div id="partsgroup_parts" class="ui-tabs-panel">
    [% PROCESS 'partsgroup/_partsgroup_parts.html' %]
  </div>
</div>




<script type='text/javascript'>
  function move_parts_to_partsgroup() {
    var data = $('#parts_form').serializeArray();
    data.push({ name: 'current_partsgroup_id',  value: '[% SELF.partsgroup.id %]' });
    data.push({ name: 'selected_partsgroup_id', value: $("#selected_partsgroup").val() });
    data.push({ name: 'action',                   value: 'PartsGroup/update_partsgroup_for_parts' });
    $.post("controller.pl", data, kivi.eval_json_result);
  }

  function add_part() {
    var data = {
      action:        'PartsGroup/add_part',
      part_id:       $('#add_part_id').val(),
      partsgroup_id: $('#id').val()
    };
    $.post("controller.pl", data, kivi.eval_json_result);
  }

  function add_partsgroup() {
    var data = {
      action:          'PartsGroup/add_partsgroup',
      parent_id:       $('#id').val(),
      partsgroup_name: $('#new_partsgroup').val()
    };
    $.post("controller.pl", data, kivi.eval_json_result);
  }
</script>
