[% USE LxERP %]
[% USE L %]
[% USE HTML %]

<div class="wrapper">
  <table class="tbl-horizontal">
    <colgroup><col class="wi-mediumsmall"><col class="wi-wide"></colgroup>
    <tbody>
      <tr>
        <th> [% LxERP.t8("Description") %] </th>
        <td> [% L.input_tag("object.description", SELF.object.description, class='wi-wider', "data-validate"="required") %] </td>
      </tr>
      <tr>
        <th> [% LxERP.t8("Obsolete") %] </th>
        <td> [% L.checkbox_tag("object.obsolete", checked=SELF.object.obsolete, for_submit=1, class='wi-wider') %] </td>
      </tr>
      <tr>
        <th> [% LxERP.t8("Long Description") %] </th>
        <td> [% L.input_tag("object.description_long", SELF.object.description_long, class='wi-wider', "data-validate"="required") %] </td>
      </tr>
      [% FOR language=SELF.all_languages %]
      <tr>
        <td>
          [% L.hidden_tag("object.save_translations[+].language", language.id) %]
          [% LxERP.t8("Long Description") %] ([% HTML.escape(language.description) %])
        </td>
        <td>
          [% L.input_tag("object.save_translations[].translation", SELF.object.id ? SELF.object.translated_attribute('description_long', language) : '', class='wi-wider', "data-validate"="required") %] </td>
        </td>
      </tr>
      [% END %]
    </tbody>
  </table>
</div>
