[%- USE LxERP -%]
[%- USE L -%]
<div class="wrapper">
  <table class="tbl-horizontal">
    <tbody>
      <tr>
        <th> [% LxERP.t8('Description') %] </th>
        <td> [% L.input_tag("object.description", LxERP.t8(SELF.object.description), "data-validate"="required", "data-title"=LxERP.t8("Description")) %] </td>
      </tr>
      <tr>
        <th> [% LxERP.t8('TypeAbbreviation') %] </th>
        <td> [% L.input_tag("object.abbreviation", LxERP.t8(SELF.object.abbreviation), size="2", maxlength="2" ) %] </td>
      </tr>
      <tr>
        <th> [% LxERP.t8('Used for Purchase') %] </th>
        <td> [% L.checkbox_tag("object.used_for_purchase", checked=(SELF.object.used_for_purchase ? 1:''), for_submit=1) %] </td>
      </tr>
      <tr>
        <th> [% LxERP.t8('Used for Sale') %] </th>
        <td> [% L.checkbox_tag("object.used_for_sale", checked=(SELF.object.used_for_sale ? 1:''), for_submit=1) %] </td>
      </tr>
      <tr>
        <th> [% LxERP.t8('Report separately') %] </th>
        <td> [% L.checkbox_tag("object.report_separate", checked=(SELF.object.report_separate ? 1:''), for_submit=1) %] </td>
      </tr>
    </tbody>
  </table>
</div>
