[%- USE LxERP -%]
[%- USE L -%]

<div class="wrapper">
  <table class="tbl-horizontal">
    <tbody>
      <tr>
        <td> [% LxERP.t8("Name") %] </td>
        <td> [% L.select_tag("object.name", SELF.valid_names, default=SELF.object.name, class="wi-wide") %] </td>
      </tr>
      <tr>
        <td> [% LxERP.t8("Description") %] </td>
        <td> [% L.input_tag("object.description", SELF.object.description, "data-validate"="required", "data-title"=LxERP.t8("Description"), class="wi-wide") %] </td>
      </tr>
    </tbody>
  </table>
</div>
