[% USE HTML %][% USE L %][% USE LxERP %]
<div class="wrapper">
  <div class="col">
  <table class="tbl-horizontal">
    <tbody>
      <tr>
        <th> [% LxERP.t8("Description") %] </th>
        <td> [% L.input_tag("object.description", SELF.object.description, "data-validate"="required", "data-title"=LxERP.t8("Description")) %] </td>
      </tr>
      <tr>
        <th> [% LxERP.t8("Print template base file name") %] <sup> (1) </sup> </th>
        <td> [% L.input_tag("object.template_file_name", SELF.object.template_file_name, "data-validate"="required", "data-title"=LxERP.t8("Print template base file name")) %] </td>
      </tr>
      <tr>
        <th> [% LxERP.t8("Section number format") %] <sup> (2) </sup> </th>
        <td> [% L.input_tag("object.section_number_format", SELF.object.section_number_format, size="15", "data-validate"="required", "data-title"=LxERP.t8("Section number format")) %] </td>
      </tr>
      <tr>
        <th> [% LxERP.t8("Function block number format") %] <sup> (2) </sup> </th>
        <td> [% L.input_tag("object.function_block_number_format", SELF.object.function_block_number_format, size="15", "data-validate"="required", "data-title"=LxERP.t8("Function block number format")) %] </td>
      </tr>
    </tbody>
  </table>
  <div class="long-description">
    <p>
      <sup> (1) </sup> [% LxERP.t8("The base file name without a path or an extension to be used for printing for this type of requirement spec.") %] <br>
      <sup> (2) </sup> [% LxERP.t8("The numbering will start at 1 with each requirement spec.") %]
    </p>
  </div>
  </div>
</div>
