[%- USE LxERP -%]
[%- USE L -%]
<div class="wrapper">
<table class="tbl-horizontal">
  <tbody>
    <tr>
      <th> [% LxERP.t8("Description") %] </th>
      <td> [% L.input_tag("object.description", SELF.object.description, size=60, class="initial_focus", "data-validate"="required", "data-title"=LxERP.t8("Description")) %] </td>
    </tr>
    <tr>
      <th> [% LxERP.t8("Title") %] </th>
      <td> [% L.input_tag("object.title", SELF.object.title, size=60) %] </td>
    </tr>
    <tr>
      <th> [% LxERP.t8("Content") %] </th>
      <td> [% L.textarea_tag("object.text_as_restricted_html", SELF.object.text_as_restricted_html, class="texteditor", style="width: 800px; height: 300px") %] </td>
    </tr>
    <tr>
      <th> [% LxERP.t8("Useable for…") %] </th>
      <td> [% L.checkbox_tag("object.useable_for_text_blocks", label=LxERP.t8("Text blocks"), for_submit=1, value=1, checked=SELF.object.useable_for_text_blocks) %] [% L.checkbox_tag("object.useable_for_sections", label=LxERP.t8("Sections"), for_submit=1, value=1, checked=SELF.object.useable_for_sections) %] </td>
    </tr>
  </tbody>
</table>
</div>
