[% USE T8 %]
[% USE L %]
[% USE HTML %]
<h1>[% 'Invalid transactions' | $T8 %]</h1>

<form name="Form" method="post" action="login.pl">
<input type="hidden" name="action" value="login">

<p>[% 'There are invalid transactions in your database.' | $T8 %]</p>
<p>[% 'The following transactions are concerned:' | $T8 %]</p>

[% IF no_chart_id %]
  <p>[% 'Transactions without account:' | $T8 %]</p>
  <table>
    <tr>
      <th>[% 'Database ID' | $T8 %]</th>
      <th>[% 'Gldate' | $T8 %]</th>
      <th>[% 'Transdate' | $T8 %]</th>
      <th>[% 'Amount' | $T8 %]</th>
      <th>[% 'ID' | $T8 %]</th>
      <th>[% 'Source' | $T8 %]</th>
      <th>[% 'Reference / Invoice Number' | $T8 %]</th>
      <th>[% 'Description' | $T8 %]</th>
      <th>[% 'Notes' | $T8 %]</th>
      <th>[% 'Employee' | $T8 %]</th>
      <th>[% 'User' | $T8 %]</th>
      <th>[% 'Project Number' | $T8 %]</th>
      <th>[% 'Project Description' | $T8 %]</th>
    </tr>

    [% SET row_odd = '1' %][% FOREACH row = NO_CHART_ID %]
    <tr class="listrow[% IF row_odd %]1[% SET row_odd = '0' %][% ELSE %]0[% SET row_odd = '1' %][% END %]">
      <td>[% HTML.escape(row.acc_trans_id) %]</td>
      <td>[% HTML.escape(row.gldate) %]</td>
      <td>[% HTML.escape(row.transdate) %]</td>
      <td>[% HTML.escape(row.amount) %]</td>
      <td>[% HTML.escape(row.trans_id) %]</td>
      <td>[% HTML.escape(row.source) %]</td>
      <td>[% HTML.escape(row.reference) %]</td>
      <td>[% HTML.escape(row.description) %]</td>
      <td>[% HTML.escape(row.notes) %]</td>
      <td>[% HTML.escape(row.name) %]</td>
      <td>[% HTML.escape(row.user) %]</td>
      <td>[% HTML.escape(row.projectnumber) %]</td>
      <td>[% HTML.escape(row.projectdescription) %]</td>
    </tr>
    [% END %]
  </table>

[% END %]

[% IF no_trans_id %]
  <p>[% 'Transactions without reference:' | $T8 %]</p>
  <table>
    <tr>
      <th>[% 'Database ID' | $T8 %]</th>
      <th>[% 'Gldate' | $T8 %]</th>
      <th>[% 'Transdate' | $T8 %]</th>
      <th>[% 'Amount' | $T8 %]</th>
      <th>[% 'Source' | $T8 %]</th>
      <th>[% 'Account Number' | $T8 %]</th>
      <th>[% 'Description' | $T8 %]</th>
      <th>[% 'Account Type' | $T8 %]</th>
      <th>[% 'Project Number' | $T8 %]</th>
      <th>[% 'Project Description' | $T8 %]</th>
    </tr>

    [% SET row_odd = '1' %][% FOREACH row = NO_TRANS_ID %]
    <tr class="listrow[% IF row_odd %]1[% SET row_odd = '0' %][% ELSE %]0[% SET row_odd = '1' %][% END %]">
      <td>[% HTML.escape(row.acc_trans_id) %]</td>
      <td>[% HTML.escape(row.gldate) %]</td>
      <td>[% HTML.escape(row.transdate) %]</td>
      <td>[% HTML.escape(row.amount) %]</td>
      <td>[% HTML.escape(row.source) %]</td>
      <td>[% HTML.escape(row.accno) %]</td>
      <td>[% HTML.escape(row.description) %]</td>
      <td>[% HTML.escape(row.category) %]</td>
      <td>[% HTML.escape(row.projectnumber) %]</td>
      <td>[% HTML.escape(row.projectdescription) %]</td>
    </tr>
    [% END %]
  </table>

[% END %]

<p>[% 'This is a very critical problem.' | $T8 %]</p>
<p>[% 'Please contact your administrator or a service provider.' | $T8 %]</p>
<p><a href="http://www.kivitendo.de/partner.html" target="_blank">[% 'Here' | $T8 %]</a> [% 'you can find professional help.' | $T8 %]</p>

</form>
