[%- USE T8 %]
[%- USE P %]
[%- USE LxERP %]
[%- USE HTML %]

<div class="wrapper">
  <h1>[% 'Missing Files' | $T8 %]</h1>
  <form name="Form" method="post" action="login.pl">
    <input type="hidden" name="action" value="login">

    [% 'Please resolve the errors by deleting the invalid database entries or by adding the corresponding files to the expected paths.' | $T8 %]
    <table class="tbl-list">
      <thead><tr>
        <th>[% 'Error Message' | $T8 %]</th>
      </tr></thead>
      <tbody>
        [% FOREACH error = ERRORS %]
        <tr><td>
          [% error | html %]
        </td></tr>
        [% END %]
      </tbody>
    </table>
    [% P.checkbox_tag(
      "delete_file_entries_of_missing_files", value=1,
      label=LxERP.t8("Automatically delete entries for missing files. Ensure that these files are no longer required!")
    ) %]
    <br>
    [% P.submit_tag("rerun_add_file_version", LxERP.t8("Rerun update")) %]
  </form>
</div>
