[%- USE T8 %]
[% USE HTML %]
<h1>[% 'cp_greeting to cp_gender migration' | $T8 %]</h1>

<form name="Form" method="post" action="login.pl">
<input type="hidden" name="action" value="login">

<br>
<p> The method for generating greetings ("Dear Mr. Smith") is being changed so the greeting is controlled by the gender. For this a new database field cp_gender is introduced, while the old database field cp_greeting will be removed. The various translations (Mr./Herr/Monsieur) will be stored in the database, under generic_translations. The print variable cp_greeting still exists, however, so print templates don't have to be changed, and the variable is assigned according to the gender of the contact person and the desired language.</p>

<p>During the conversion process all contact persons need to be assigned a gender. The gender is detected automatically where possible, but in some cases will have to be set manually.</p>

During the conversion process:<br>
1. All contact persons will have their gender set to "m" (male) as a default<br>
2. All contact persons where the greeting contains "frau,mrs,miss" are set to "f" (female)<br>

<p>The gender of the following contact persons couldn't be determined automatically from the greeting, please set the gender manually:</p>
[% gender_table %]


<p>Please enter your desired default greeting for men and women. To change the
default greeting or add a greeting in more languages, go to: System -> Languages -> Greetings
</p>

<p>
Greeting for men: [% default_greeting_text_male %] <br>
Greeting for women: [% default_greeting_text_female %] <br>
</p>

<br><br>
The data from the cp_greeting field will now be dropped. To prevent any data loss if you used the cp_greeting field for anything else, we suggest you transfer this information to the cp_title field:
<br>
[% title_table %]

<input type=hidden name="do_migrate" value="1">
<input type=submit VALUE="submit">

</form>

