[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]
<h1>[% '<b>Default Bins Migration !READ CAREFULLY!</b>' | $T8 %]</h1>

<form name="Form" method="post" action="login.pl">
<input type="hidden" name="action" value="login">
<input type="hidden" name="continued" value="1">

<p>[% 'There are Bins defined in your master data.' | $T8 %]</p>
<p>[% 'The Bins in master data were only a information text field.' | $T8 %]</p>
<p>[% 'This has been changed in this version.' | $T8 %]</p>
<p>[% 'Unfortunately you have no warehouse defined.' | $T8 %]</p>

<p>[% 'Three Options:' | $T8 %]</p>
<p>[% '<b> I DO NOT CARE</b> Please click continue and the following data (see list) will be deleted:' | $T8 %]</p>
<p>[% '<b> I DO CARE!</b> Please click back and cancel the update and come back after there has been at least one warehouse defined with bin(s).:' | $T8 %]</p>
<p>[% '<b> I DO CARE!</b> Please check create warehouse and bins and define a name for the warehouse (Bins will be created automatically) and then continue'  | $T8 %]</p>

<table class="tbl-list">
<thead>
  <tr>
    <th>[% 'Partnumber' | $T8 %]</th>
    <th>[% 'Description' | $T8 %]</th>
    <th>[% 'Master Data Bin Text Deleted' | $T8 %]</th>
  </tr>
</thead>

<tbody>

  [% SET row_odd = '1' %]
  [% FOREACH row = PARTS %]
    <tr class="listrow[% IF row_odd %]1[% SET row_odd = '0' %][% ELSE %]0[% SET row_odd = '1' %][% END %]">
      <td>[% HTML.escape(row.partnumber) %]</a></td>
      <td>[% HTML.escape(row.description) %]</a></td>
      <td>
        [% HTML.escape(row.bin) %]
        <input type="hidden" name='partid_[% loop.count %]' value='[% HTML.escape(row.id) %]'>
        <input type="hidden" id="bin_[% loop.count %]" name="bin_[% loop.count %]" value="[% HTML.escape(row.bin) %]">
      </td>
    </tr>
    [% SET rowcount = loop.count %]
  [% END %]
  <input type="hidden" name="rowcount" value="[% rowcount %]">

</tbody>
</table>

<table class="tbl-horizontal">
  <caption>[% 'New Bins' | $T8 %]</caption>
  <colgroup> <col class="wi-small"><col class="wi-lightwide"> </colgroup>
  <tbody>
    <tr>
      <th>[% 'Automatically create new bins' | $T8 %]</th>
      <td><input type="checkbox" name="create_new_bins"></td>
    </tr>
    <tr>
      <th>[% 'In the following new warehouse ' | $T8 %]</th>
      <td><input type="text" name="new_warehouse"></td>
    </tr>
  </tbody>
</table>

<div class="buttons">
  <input type="button" onclick="history.back()" value="[% 'Back' | $T8 %]" class="neutral">
  <input type="submit" value="[% 'Continue' | $T8 %]">
</div>

</form>
