[% USE T8 %]
[% USE HTML %]
<h1>[% 'No default currency' | $T8 %]</h1>

<form name="Form" method="post" action="login.pl">
<input type="hidden" name="action" value="login">

<p>[% 'You have never worked with currencies.' | $T8 %]</p>
<p>[% 'That is why kivitendo could not find a default currency.' | $T8 %]</p>
<p>[% 'From this version on it is necessary to name a default value.' | $T8 %]</p>
<p>[% 'Please enter the currency you are working with.' | $T8 %]</p>

<input name="defaultcurrency" value="EUR">
<input type="submit" value="[% 'Continue' | $T8 %]">

</form>

