[%- USE T8 %]
[%- USE L %]
[% USE HTML %]
<h1>[% 'Orphaned currencies' | $T8 %]</h1>

<form name="Form" method="post" action="login.pl">
<input type="hidden" name="action" value="login">
<input type="hidden" name="defaultcurrency" value="[% HTML.escape(defaultcurrency) %]">

<p>[% 'There are undefined currencies in your system.' | $T8 %]</p>
<p>[% 'The following currencies have been used, but they are not defined:' | $T8 %]</p>
[% FOREACH row = ORPHANED_CURRENCIES %]
<input type="text" name="[% row.name %]" value="[% HTML.escape(row.curr) %]"><br>
<input type="hidden" name="old_[% row.name %]" value="[% HTML.escape(row.curr) %]">
[% END %]
<p>[% 'There are several options you can handle this problem, please select one:' | $T8 %]</p>

<table width="100%">

<tr>
<td>
[% L.radio_button_tag('continue_options',
    value => 'insert',
    disabled => 0,
    checked  => 0) %]
&nbsp;[% '(recommended) Insert the used currencies in the system. You can simply change the name of the currencies by editing the textfields above. Do not use a name of a currency that is already in use.' | $T8 %] <br>
[% L.radio_button_tag('continue_options',
    value => 'replace',
    disabled => 0,
    checked  => 0) %]
&nbsp;[% 'Replace the orphaned currencies by other not orphaned currencies. To do so, please delete the currency in the textfields above and replace it by another currency. You could loose or change unintentionally exchangerates. Go on very carefully since you could destroy transactions.' | $T8 %] <br>
[% L.radio_button_tag('continue_options',
    value => 'break_up',
    disabled => 0,
    checked  => 0) %]
&nbsp;[% 'Break up the update and contact a service provider.' | $T8 %]
</tr>
</td>
</table>

<input type="submit" value="[% 'Continue' | $T8 %]">

</form>

