[% USE T8 %]
[% USE HTML %]
[% USE L %]
<h1>[% 'New filter for tax accounts' | $T8 %]</h1>

<form name="Form" method="post" action="login.pl">
<input type="hidden" name="action" value="login">
<input type="hidden" name="continued_tax" value="1">

<p>[% 'From this version on a new feature is available.' | $T8 %]</p>
<p>[% 'You can choose account categories for taxes. Depending on these categories taxes will be displayed for transfers in the general ledger or not.' | $T8 %]</p>
<p>[% 'If you have not chosen for example the category revenue for a tax and you choose an revenue account to create a transfer in the general ledger, this tax will not be displayed in the tax dropdown.' | $T8 %]</p>
<p>[% 'This feature especially prevents mistakes by mixing up prior tax and sales tax.' | $T8 %]</p>
<p>[% 'Please choose for which categories the taxes should be displayed (otherwise remove the ticks):' | $T8 %]</p>
<table>
  <tr>
    <th>[% 'Taxkey' | $T8 %]</th>
    <th>[% 'Description' | $T8 %]</th>
    <th>[% 'Tax rate' | $T8 %]</th>
    <th>[% 'Asset' | $T8 %] (A)</th>
    <th>[% 'Liability' | $T8 %] (L)</th>
    <th>[% 'Equity' | $T8 %] (Q)</th>
    <th>[% 'Costs' | $T8 %] (C)</th>
    <th>[% 'Revenue' | $T8 %] (I)</th>
    <th>[% 'Expense' | $T8 %] (E)</th>
  </tr>

  [% SET row_odd = '1' %][% FOREACH row = PARTS %]
  <tr class="listrow[% IF row_odd %]1[% SET row_odd = '0' %][% ELSE %]0[% SET row_odd = '1' %][% END %]">
    <td>[% HTML.escape(row.taxkey) %]</td>
    <td> [% HTML.escape(row.taxdescription) %]</a></td>
    <td>[% HTML.escape(row.rate) %] %</td>
    <td>[% L.checkbox_tag('asset_' _ loop.count, value => 1, checked => 1, class => 'checkbox') %]</td>
    <td>[% L.checkbox_tag('liability_' _ loop.count, value => 1, checked => 1, class => 'checkbox') %]</td>
    <td>[% L.checkbox_tag('equity_' _ loop.count, value => 1, checked => 1, class => 'checkbox') %]</td>
    <td>[% L.checkbox_tag('costs_' _ loop.count, value => 1, checked => 1, class => 'checkbox') %]</td>
    <td>[% L.checkbox_tag('revenue_' _ loop.count, value => 1, checked => 1, class => 'checkbox') %]</td>
    <td>[% L.checkbox_tag('expense_' _ loop.count, value => 1, checked => 1, class => 'checkbox') %]</td>
  </tr>
  <input type="hidden" name="tax_id_[% loop.count %]" value="[% row.tax_id %]">
  [% SET rowcount = loop.count %]
  [% END %]
  <input type="hidden" name="rowcount" value="[% rowcount %]">
</table>

<input type="submit" value="[% 'Continue' | $T8 %]">

</form>
