[% USE T8 %]
[% USE HTML %]
<h1>[% 'Inconsistency in database' | $T8 %]</h1>

<form name="Form" method="post" action="login.pl">
<input type="hidden" name="action" value="login">

<p>[% 'There is an inconsistancy in your database.' | $T8 %]</p>
<p>[% 'Please contact your administrator.' | $T8 %]</p>

[% IF invalid_tax_account %]
  <p>[% 'There are invalid taxnumbers in use.' | $T8 %]</p>
  <p>[% 'Please set another taxnumber for the following taxes and run the update again:' | $T8 %]</p>
  <table>
    <tr>
      <th>[% 'tax_taxkey' | $T8 %]</th>
      <th>[% 'tax_taxdescription' | $T8 %]</th>
      <th>[% 'tax_rate' | $T8 %]</th>
    </tr>

    [% SET row_odd = '1' %][% FOREACH row = TAX %]
    <tr class="listrow[% IF row_odd %]1[% SET row_odd = '0' %][% ELSE %]0[% SET row_odd = '1' %][% END %]">
      <td>[% HTML.escape(row.taxkey) %]</td>
      <td> [% HTML.escape(row.taxdescription) %]</a></td>
      <td>[% HTML.escape(row.rate) %] %</td>
    </tr>
    [% END %]
  </table>

[% END %]

[% IF taxkey_is_null %]
  <p>[% 'There are entries in tax where taxkey is NULL.' | $T8 %]</p>
  <p>[% 'Please define a taxkey for the following taxes and run the update again:' | $T8 %]</p>
  <table>
    <tr>
      <th>[% 'tax_taxdescription' | $T8 %]</th>
      <th>[% 'tax_rate' | $T8 %]</th>
      <th>[% 'taxnumber' | $T8 %]</th>
      <th>[% 'account_description' | $T8 %]</th>
    </tr>

    [% SET row_odd = '1' %][% FOREACH row = TAX %]
    <tr class="listrow[% IF row_odd %]1[% SET row_odd = '0' %][% ELSE %]0[% SET row_odd = '1' %][% END %]">
      <td> [% HTML.escape(row.taxdescription) %]</a></td>
      <td>[% HTML.escape(row.rate) %] %</td>
      <td>[% HTML.escape(row.taxnumber) %]</td>
      <td>[% HTML.escape(row.account_description) %]</td>
    </tr>
    [% END %]
  </table>

[% END %]
</form>
