[%- USE T8 %]
[%- USE HTML %][%- USE LxERP -%][%- USE L -%]
<h1>[% title %]</h1>

<form name="Form" method="post" action="[% script %]">

<table width="100%">
  <tr>
    <td>
      <table>
        <tr>
          <th align="right" nowrap>[% 'To' | $T8 %]</th>

          <td>[% L.input_tag('email', email, size=30, class=(email ? '' : 'initial_focus')) %]</td>
        </tr>
        <tr>
          <th align="right" nowrap>[% 'Cc' | $T8 %]</th>
          <td><input name="cc" size="30" value="[% HTML.escape(cc) %]"></td>
        </tr>
[%- IF SHOW_BCC %]
        <tr>
          <th align="right" nowrap>[% 'Bcc' | $T8 %]</th>
          <td><input name="bcc" size="30" value="[% HTML.escape(bcc) %]"></td>
        </tr>
[%- END %]
        <tr>
          <th align="right" nowrap>[% 'Subject' | $T8 %]</th>
          <td>[% L.input_tag('subject', subject, size=30, class=(email ? 'initial_focus' : '')) %]</td>
        </tr>
        <tr>
          <th align="right" nowrap>[% 'Attachment name' | $T8 %]</th>
          <td><input name="attachment_filename" size="30" value="[% HTML.escape(a_filename) %]"></td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table>
        <tr>
          <th align="left" nowrap>[% 'Message' | $T8 %]</th>
        </tr>
        <tr>
          <td><textarea name="message" id="message" rows="15" cols="60" wrap="soft">[% HTML.escape(message) %]</textarea></td>

        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>

[% print_options %]
[% FOREACH row = HIDDEN %]<input type="hidden" name="[% row.name %]" value="[% HTML.escape(row.value) %]">
[% END %]

    </td>
  </tr>

  <tr>
    <td><hr size="3" noshade></td>
  </tr>
</table>

[% L.hidden_tag('action', action) %]

<br>
[% L.submit_tag('dummy_action', LxERP.t8('Continue'), onclick="return check_prerequisites();") %]
</form>

<script type="text/javascript">
<!--
function check_prerequisites() {
  if (!$('#email,#subject,#message').filter(function(idx, elt) { return $(elt).val() === ""; }).size())
    return true;

  alert(kivi.t8('The recipient, subject or body is missing.'));
  return false;
}
-->
</script>
