[%- USE T8 %]
[%- USE HTML %][%- USE L -%]
<form name="Form" method="post" action="[% script %]">

<table width="100%">
  <tr class="listtop">

    <th class="listtop">[% title %]</th>
  </tr>
  <tr height="5"></tr>
  <tr>
    <td>
      <table>
        <tr>
          <th align="right" nowrap>[% 'To' | $T8 %]</th>

          <td>[% L.input_tag('email', email, size=30, class=(email ? '' : 'initial_focus')) %]</td>
        </tr>
        <tr>
          <th align="right" nowrap>[% 'Cc' | $T8 %]</th>
          <td><input name="cc" size="30" value="[% HTML.escape(cc) %]"></td>
        </tr>
[% IF SHOW_BCC %]
        <tr>
          <th align="right" nowrap>[% 'Bcc' | $T8 %]</th>
          <td><input name="bcc" size="30" value="[% HTML.escape(bcc) %]"></td>
        </tr>[% END %]
        <tr>
          <th align="right" nowrap>[% 'Subject' | $T8 %]</th>

          <td>[% L.input_tag('subject', subject, size=30, class=(email ? 'initial_focus' : '')) %]</td>
        </tr>
        <tr>
          <th align="right" nowrap>[% 'Attachment name' | $T8 %]</th>
          <td><input name="attachment_filename" size="30" value="[% HTML.escape(a_filename) %]"></td>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table>
        <tr>
          <th align="left" nowrap>[% 'Message' | $T8 %]</th>
        </tr>
        <tr>
          <td><textarea name="message" rows="15" cols="60" wrap="soft">[% HTML.escape(message) %]</textarea></td>

        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>

[% print_options %]
[% FOREACH row = HIDDEN %]<input type="hidden" name="[% row.name %]" value="[% HTML.escape(row.value) %]">
[% END %]

    </td>
  </tr>

  <tr>
    <td><hr size="3" noshade></td>
  </tr>
</table>

<input type="hidden" name="nextsub" value="send_email">

<br>
<input name="action" class="submit" type="submit" value="[% 'Continue' | $T8 %]">
</form>
