[%- USE T8 %]
[%- USE HTML %]
[%- IF is_wrong_pclass == NOTFORSALE %]
<h4 class="error">[% 'searched part not for sale' | $T8 %]</h4>
[%- ELSE %]
[%- IF is_wrong_pclass == NOTFORPURCHASE %]
<h4 class="error">[% 'searched part not for purchase' | $T8 %]</h4>
[%- ELSE %]
<h4 class="error">[% 'Item does not exists in the database' | $T8 %]
[% IF INSTANCE_CONF.get_create_part_if_not_found %]
    <p>[% 'What type of item is this?' | $T8 %]</h4>

    <form method="post" action="controller.pl">

      <p>

      <input class="radio" type="radio" name="part.part_type" value="part" checked>&nbsp;[% 'Part'       | $T8 %]<br>
      <input class="radio" type="radio" name="part.part_type" value="assembly">    &nbsp;[% 'Assembly'   | $T8 %]<br>
      <input class="radio" type="radio" name="part.part_type" value="service">     &nbsp;[% 'Service'    | $T8 %]<br>
      <input class="radio" type="radio" name="part.part_type" value="assortment">  &nbsp;[% 'Assortment' | $T8 %]
      <p>

      [%- FOREACH var = HIDDENS %]
      <input type="hidden" name="[% HTML.escape(var.name) %]" value="[% HTML.escape(var.value) %]">
      [%- END %]
    </p>

      <input type="hidden" name="action" value="Part/dispatch">
      <input class="submit" type="submit" name="action_add_from_record" value="[% 'Continue' | $T8 %]">
[%- ELSE %]
</h4>
[%- END %]
[%- END %]
[%- END %]
      <input id='back_button' type='button' class="submit" value="[% 'Back' | $T8 %]">
    </p>
  </form>
<script type='text/javascript'>
  $(function(){ $('#back_button').click(function(){ window.history.back(-1) }) })
</script>
