[%- USE T8 %]
[%- USE HTML %]

    <h4 class="error">[% 'Item not on file!' | $T8 %]

    <p>[% 'What type of item is this?' | $T8 %]</h4>

    <form method="post" action="controller.pl">

      <p>

      <input class="radio" type="radio" name="part_type" value="part" checked>&nbsp;[% 'Part'       | $T8 %]<br>
      <input class="radio" type="radio" name="part_type" value="assembly">    &nbsp;[% 'Assembly'   | $T8 %]<br>
      <input class="radio" type="radio" name="part_type" value="service">     &nbsp;[% 'Service'    | $T8 %]<br>
      <input class="radio" type="radio" name="part_type" value="assortment">  &nbsp;[% 'Assortment' | $T8 %]
      <p>

      [%- FOREACH var = HIDDENS %]
      <input type="hidden" name="[% HTML.escape(var.name) %]" value="[% HTML.escape(var.value) %]">
      [%- END %]

      <input type="hidden" name="action" value="Part/dispatch">
      <input class="submit" type="submit" name="action_add" value="[% 'Continue' | $T8 %]">
      <input id='back_button' type='button' class="submit" value="[% 'Back' | $T8 %]">
    </form>
<script type='text/javascript'>
  $(function(){ $('#back_button').click(function(){ window.history.back(-1) }) })
</script>


