[%- USE T8 %]
[%- USE HTML %]
 <form action="[% HTML.escape(script) %]" method="post" name="Form">

  <input type="hidden" name="input_partnumber" value="[% HTML.escape(input_partnumber) %]">
  <input type="hidden" name="input_description" value="[% HTML.escape(input_description) %]">
  <input type="hidden" name="input_partsid" value="[% HTML.escape(input_partsid) %]">
  <input type="hidden" name="input_partnotes" value="[% HTML.escape(input_partnotes) %]">
  <input type="hidden" name="allow_creation" value="[% HTML.escape(allow_creation) %]">
  <input type="hidden" name="action_on_part_selected" value="[% HTML.escape(action_on_part_selected) %]">
  <input type="hidden" name="filter" value="[% HTML.escape(filter) %]">
  <input type="hidden" name="options" value="[% HTML.escape(options) %]">
  <input type="hidden" name="new_description" value="[% HTML.escape(description) %]">

  <div class="listtop">[% title %]</div>

  <table width="100%">
   <tr>
    <td>
     [% IF no_parts_found %]
     [% 'No part was found matching the search parameters.' | $T8 %]
     [% IF allow_creation %]
     [% 'However, you can create a new part which will then be selected.' | $T8 %]
     [% END %]
     [% ELSE %]
     [% 'Please select a part from the list below.' | $T8 %]
     [% IF allow_creation %]
     [% 'Alternatively you can create a new part which will then be selected.' | $T8 %]
     [% END %]
     [% END %]
    </td>
   </tr>

   [% UNLESS no_parts_found %]
   <tr>
    <td>
     <table>
      <tr class="listheading">
       <th class="listheading">&nbsp;</th>
       [% FOREACH header = HEADER %]
       <th nowrap class="listheading"><a href="[% HTML.escape(header.callback) %]">[% header.column_title %]</a></th>
       [% END %]
      </tr>

      [% FOREACH part = PARTS %]
      <tr class="listrow[% IF loop.count % 2 %]1[% ELSE %]0[% END %]">
       <td><button type="button" onclick="part_selected('[% loop.count %]')">[% 'Select' | $T8 %]</button></td>
       <td>
        <input type="hidden" id="partsid_[% loop.count %]" name="partsid_[% loop.count %]" value="[% HTML.escape(part.id) %]">
        <input type="hidden" id="partnumber_[% loop.count %]" name="partnumber_[% loop.count %]" value="[% HTML.escape(part.partnumber) %]">
        [% HTML.escape(part.partnumber) %]
       </td>
       <td>
        <input type="hidden" id="description_[% loop.count %]" name="description_[% loop.count %]" value="[% HTML.escape(part.description) %]">
        <input type="hidden" id="partnotes_[% loop.count %]" name="partnotes_[% loop.count %]" value="[% HTML.escape(part.partnotes) %]">
        [% HTML.escape(part.description) %]
       </td>
<!--        <td> -->
<!--         <input type="hidden" id="onhand_[% loop.count %]" name="onhand_[% loop.count %]" value="[% HTML.escape(part.onhand) %]"> -->
<!--         [% HTML.escape(part.onhand) %] -->
<!--        </td> -->
      </tr>
      [% END %]
     </table>
    </td>
   </tr>
   [% END %]
  </table>

  [% IF allow_creation %]
  <p><input type="submit" name="action" value="[% 'New part' | $T8 %]"></p>
  [% END %]

 </form>

 <script type="text/javascript">
  <!--
      function part_selected(selected) {
        var partnumber = document.getElementsByName("partnumber_" + selected)[0].value;
        var description = document.getElementsByName("description_" + selected)[0].value;
        var partsid = document.getElementsByName("partsid_" + selected)[0].value;
        var partnotes = document.getElementsByName("partnotes_" + selected)[0].value;
        var pnum_name = document.Form.input_partnumber.value;
        window.opener.document.getElementsByName(pnum_name)[0].value = partnumber;
        window.opener.document.getElementsByName(document.Form.input_description.value)[0].value = description;
        if (document.Form.input_partsid.value != "") {
          window.opener.document.getElementsByName(document.Form.input_partsid.value)[0].value = partsid;
        }
        if (document.Form.input_partnotes.value != "") {
          var el = window.opener.document.getElementsByName(document.Form.input_partnotes.value)[0];
          if (el)
            el.value = partnotes;
        }
        if (document.Form.action_on_part_selected.value != "") {
          window.opener.document.getElementsByName("action")[0].value = document.Form.action_on_part_selected.value;
          window.opener.document.[% formname %].submit();
        }


        var prefix = "";
        if (pnum_name.substr(0, 2) == "f_") {
          prefix = "f_";
          pnum_name = pnum_name.substr(2);
        }
        pnum_name = prefix + "old_" + pnum_name;
        var input = window.opener.document.getElementsByName(pnum_name)[0];
        if (input) {
          input.value = name;
        }

        [%- IF click_button %]
        window.opener.document.[% formname %].[% click_button %].click();
        [%- END %]

        self.close();
      }
      //-->
 </script>

