[% USE HTML %]<body [% IF onload %]onload="[% onload %]"[% END %]>

 <form method="post" action="[% HTML.escape(script) %]">

  <input type="hidden" name="nextsub" value="[% HTML.escape(nextsub) %]">
  <input type="hidden" name="callback_sub" value="[% HTML.escape(callback_sub) %]">
  <input type="hidden" name="prefix" value="[% HTML.escape(prefix) %]">

  <input type="hidden" name="old_form" value="[% HTML.escape(old_form) %]">

  <div class="listtop"><translate>Select a project</translate></div>

  <p>
   <table>
    <tr>
     <td>
      <table>
       <tr>
        <th class="listheading">&nbsp;</th>
        <th class="listheading"><translate>Project number</translate></th>
        <th class="listheading"><translate>Description</translate></th>
       </tr>

       [% FOREACH PROJECTS %]
       <tr class="listrow[% IF loop.count % 2 %]1[% ELSE %]0[% END %]">
        <td>
         <input type="hidden" name="new_id_[% loop.count %]" value="[% HTML.escape(id) %]">
         <input type="hidden" name="new_number_[% loop.count %]" value="[% HTML.escape(projectnumber) %]">
         <input type="hidden" name="new_description_[% loop.count %]" value="[% HTML.escape(description) %]">
         <input type="radio" name="selection" value="[% loop.count %]" [% IF loop.first %]checked[% END %]>
        </td>
        <td>[% HTML.escape(projectnumber) %]</td>
        <td>[% HTML.escape(description) %]</td>
       </tr>
       [% END %]
      </table>
     </td>
    </tr>
   </table>
  </p>

  <input type="submit" class="submit" name="action" value="<translate>Continue</translate>">
 </form>

</body>
</html>
