[%- USE T8 %]
[%- USE HTML %]
 <form method="post" action="[% HTML.escape(script) %]">

  <input type="hidden" name="nextsub" value="[% HTML.escape(nextsub) %]">
  <input type="hidden" name="callback_sub" value="[% HTML.escape(callback_sub) %]">

  <input type="hidden" name="old_form" value="[% HTML.escape(old_form) %]">
  <input type="hidden" name="remap_parts_id" value="[% HTML.escape(remap_parts_id) %]">
  <input type="hidden" name="remap_partnumber" value="[% HTML.escape(remap_partnumber) %]">

  <div class="listtop">[% 'Select a part or assembly' | $T8 %]</div>

  <p>
   <table>
    <tr>
     <th class="listheading">&nbsp;</th>
     <th class="listheading">[% 'Number' | $T8 %]</th>
     <th class="listheading">[% 'Description' | $T8 %]</th>
     [% IF has_charge %]
     <th class="listheading">[% 'Charge number' | $T8 %]</th>
     [% END %]
     [% IF has_bestbefore %]
     [% IF INSTANCE_CONF.get_show_bestbefore %]
     <th class="listheading">[% 'Best Before' | $T8 %]</th>
     [% END %]
     [% END %]
     [% IF has_ean %]
     <th class="listheading">[% 'EAN' | $T8 %]</th>
     [% END %]
    </tr>

    [% FOREACH part = PARTS %]
    <tr class="listrow[% loop.count % 2 %]">
     <td>
      <input type="radio" name="selection" value="[% loop.count %]"[% IF loop.first %] checked[% END %]>
     </td>

     <td>
      <input type="hidden" name="new_id_[% loop.count %]" value="[% HTML.escape(part.id) %]">
      <input type="hidden" name="new_number_[% loop.count %]" value="[% HTML.escape(part.number) %]">
      <input type="hidden" name="new_warehouse_id_[% loop.count %]" value="[% HTML.escape(part.warehouse_id) %]">
      <input type="hidden" name="new_bin_id_[% loop.count %]" value="[% HTML.escape(part.bin_id) %]">
      [% HTML.escape(part.number) %]
     </td>

     <td>
      <input type="hidden" name="new_description_[% loop.count %]" value="[% HTML.escape(part.description) %]">
      [% HTML.escape(part.description) %]
     </td>

     [% IF has_charge %]
     <td>
      <input type="hidden" name="new_charge_id_[% loop.count %]" value="[% HTML.escape(part.charge_id) %]">
      <input type="hidden" name="new_chargenumber_[% loop.count %]" value="[% HTML.escape(part.chargenumber) %]">
      [% HTML.escape(part.chargenumber) %]
     </td>
     [% END %]
     [% IF has_bestbefore %]
     [% IF INSTANCE_CONF.get_show_bestbefore %]
     <td>
      <input type="hidden" name="new_bestbefore_id_[% loop.count %]" value="[% HTML.escape(part.bestbefore_id) %]">
      <input type="hidden" name="new_bestbefore_[% loop.count %]" value="[% HTML.escape(part.bestbefore) %]">
      [% HTML.escape(part.bestbefore) %]
     </td>
     [% END %]
     [% END %]
     [% IF has_ean %]
     <td>
      <input type="hidden" name="new_ean_[% loop.count %]" value="[% HTML.escape(part.ean) %]">
      [% HTML.escape(part.ean) %]
     [% END %]
     </td>
    </tr>
    [% END %]
   </table>
  </p>

  <p>
   <input type="submit" class="submit" name="action" value="[% 'Continue' | $T8 %]">
  </p>

 </form>

