[%- USE L -%][%- USE LxERP -%]

<div id="edit_longdescription_dialog" style="display: none">
  <table>
   <tr>
    <th align="right">[% LxERP.t8("Row") %]:</th>
    <td id="popup_edit_longdescription_runningnumber"></td>
   </tr>

   <tr>
    <th align="right">[% LxERP.t8("Part Number") %]:</th>
    <td id="popup_edit_longdescription_partnumber"></td>
   </tr>

   <tr>
    <th align="right">[% LxERP.t8("Description") %]:</th>
    <td id="popup_edit_longdescription_description"></td>
   </tr>
  </table>

 <p id="popup_edit_longdescription_input_container"></p>

 <p>
  [% L.button_tag("kivi.SalesPurchase.set_longdescription()", LxERP.t8("Assign")) %]
  <a onclick="$('#edit_longdescription_dialog').dialog('close');" href="#">[% LxERP.t8("Abort") %]</a>
 </p>
</div>
