[%- USE T8 %]
[%- USE HTML %]
 <form name="Form">

  <input type="hidden" name="input_name" value="[% HTML.escape(input_name) %]">

  <div class="listtop">[% title %]</div>

  <p>[% 'Please insert your longdescription below' | $T8 %]</p>

  <p><textarea id="longdescription" name="longdescription" rows="15" cols="45" wrap="soft">[% HTML.escape(longdescription) %]</textarea></p>

  <p><input type="submit" onclick="longdescription_updated()" value="[% 'Close' | $T8 %]"></p>
 </form>

 <script type="text/javascript">
  <!--
      function longdescription_updated() {
        window.opener.document.getElementsByName(document.Form.input_name.value)[0].value = document.getElementsByName("longdescription")[0].value;

        self.close();
      }
    -->
 </script>

