[%- USE HTML %]
[%- USE LxERP %]
[%- USE L %]
[%- USE T8 %]

[%- INCLUDE 'common/flash.html' %]

<h1>[% FORM.title %]</h1>

<form method="post" action="controller.pl" enctype="multipart/form-data" id="form">
  <table>
    <tr>
      <td>[% LxERP.t8("Charset") %]:</td>
      <td>[% L.select_tag('charset', [ [ 'ISO-8859-15', 'ISO-8859-15 (Latin 1)' ], [ 'UTF-8', 'UTF-8' ], [ 'Windows-1252', 'Windows-1252' ] ], default='UTF-8') %]</td>
    </tr>

    <tr>
      <td>[% LxERP.t8("MT940 file") %]:</td>
      <td>[% L.input_tag('file', '', type => 'file', accept => '*') %]</td>
    </tr>
  </table>
</form>
