[% USE LxERP %]
[% USE L %]
<tr>
 <th align="right">[%- LxERP.t8('AP Transaction/AccTrans Item row names') %]:</th>
 <td colspan="10">
  [% L.input_tag('settings.ap_column', SELF.profile.get('ap_column'), size => "10") %]
  [% L.input_tag('settings.transaction_column',  SELF.profile.get('transaction_column'),  size => "20") %]
 </td>

<tr>
 <th align="right">[%- LxERP.t8('Maximal amount difference') %]:</th>
 <td colspan="10">
  [% L.input_tag('settings.max_amount_diff', LxERP.format_amount(SELF.profile.get('max_amount_diff')), size => "5") %]
 </td>
</tr>
<tr>
 <th align="right">[%- LxERP.t8('Error handling') %]:</th>
 <td colspan="10">
  [% L.checkbox_tag('settings.dont_save_anything_on_errors',
                    label   => LxERP.t8('Do not save any datasets on errors'),
                    checked => SELF.profile.get('dont_save_anything_on_errors')) %]
 </td>
</tr>
