[% USE LxERP %]
[% USE L %]
<tr>
 <th align="right">[%- LxERP.t8('Order/Item/Stock row name') %]:</th>
 <td colspan="10">
  [% L.input_tag('settings.order_column', SELF.profile.get('order_column'), size => "10") %]
  [% L.input_tag('settings.item_column',  SELF.profile.get('item_column'),  size => "10") %]
  [% L.input_tag('settings.stock_column', SELF.profile.get('stock_column'), size => "10") %]
 </td>
<tr>
 <th align="right">[%- LxERP.t8('Error handling') %]:</th>
 <td colspan="10">
  [% L.checkbox_tag('settings.ignore_faulty_positions',
                    label   => LxERP.t8('Ignore faulty positions'),
                    checked => SELF.profile.get('ignore_faulty_positions')) %]
 </td>
</tr>
