[% USE LxERP %]
[% USE L %]
<tr>
 <th align="right" valign="top">[%- LxERP.t8('Warehouse') %]/[%- LxERP.t8('Bin') %]:</th>
 <td colspan="2" valign="top">
  [% L.input_tag('settings.warehouse', SELF.profile.get('warehouse'), style = 'width: 300px') %]
  <br>
  [% opts = [ [ 'never', LxERP.t8('Do not set this warehouse') ],[ 'missing', LxERP.t8('Apply to transfers without warehouse') ], [ 'all', LxERP.t8('Apply to all transfers') ] ] %]
  [% L.select_tag('settings.apply_warehouse', opts, default = SELF.profile.get('apply_warehouse'), style = 'width: 300px') %]
 </td>
 <td colspan="8" valign="top">
  [% L.input_tag('settings.bin', SELF.profile.get('bin'), style = 'width: 300px') %]
  <br>
  [% opts = [ [ 'never', LxERP.t8('Do not set this bin') ], [ 'missing', LxERP.t8('Apply to transfers without bin') ], [ 'all', LxERP.t8('Apply to all transfers') ] ] %]
  [% L.select_tag('settings.apply_bin', opts, default = SELF.profile.get('apply_bin'), style = 'width: 300px') %]
 </td>
</tr>

<tr>
</tr>

<tr>
 <th align="right" valign="top">[%- LxERP.t8('Comment') %]:</th>
 <td colspan="10" valign="top">
  [% L.input_tag('settings.comment', SELF.profile.get('comment'), style = 'width: 300px') %]
  <br>
  [% opts = [ [ 'never', LxERP.t8('Do not set this comment') ], [ 'missing', LxERP.t8('Apply to transfers without comment') ], [ 'all', LxERP.t8('Apply to all transfers') ] ] %]
  [% L.select_tag('settings.apply_comment', opts, default = SELF.profile.get('apply_comment'), style = 'width: 300px') %]
 </td>
</tr>
