[% USE T8 %]
[% USE L %]
[% USE P %]
[% USE HTML %]
[% USE LxERP %]

<h1>[% title %]</h1>

<form method="post" action="controller.pl" id="form">
[% L.hidden_tag("price_rule.id",   SELF.price_rule.id) %]
[% L.hidden_tag("price_rule.type", SELF.price_rule.type) %]

<div class="wrapper">

<table class="tbl-horizontal">
  <tbody>
    <tr>
       <th>[% 'Name' | $T8 %]</th>
       <td>[% L.input_tag("price_rule.name", SELF.price_rule.name, class='initial_focus wi-wide') %]</td>
    </tr>
    <tr>
       <th>[% 'Priority' | $T8 %]</th>
       <td>[% L.select_tag('price_rule.priority', [ [3, LxERP.t8('Normal') ], [ 4, LxERP.t8('Override') ] ], default=SELF.price_rule.priority, class='wi-normal') %]</td>
    </tr>
    <tr>
      <th>[% 'Valid' | $T8 %]</th>
      <td>[% L.select_tag('price_rule.obsolete', [ [ 0, LxERP.t8('Valid') ], [ 1 , LxERP.t8('Obsolete')]], default=SELF.price_rule.obsolete, title_key='description', class='wi-normal') %]</td>
    </tr>
  </tbody>
</table>



<div id="price_rule_items">
  <table class="tbl-list" style="clear:left;">
    <caption>[% 'If all of the following match' | $T8 %]:</caption>
    <thead><tr>
      <th class="center">X</th>
      <th>Objekt</th>
      <th>Bedingung</th>
      <th>Wert</th>
    </tr></thead>
    <tbody>
      [% FOREACH item = SELF.price_rule.items %]
         [% PROCESS 'price_rule/item.html' item=item %]
      [% END %]
    </tbody>
    <tbody id="price_rule_new_items"></tbody>
    <tfoot id="price_rule_emtpy_item" class="blank">[% PROCESS 'price_rule/empty_item.html' %]</tfoot>
  </table>
</div>

<div class="input-panel control-panel">
  <h3>[% 'Then' | $T8 %]…</h3>
  <p>[% 'Set (set to)' | $T8 %] [% L.select_tag('price_rule.price_type', SELF.all_price_types, default=SELF.price_rule.price_type) %] [% 'to (set to)' | $T8 %] [% L.input_tag('price_rule.price_or_discount_as_number', SELF.price_rule.price_or_discount_as_number) %] <a id="price_rule_price_type_help" class="interact cursor-help" title="[% 'Price type explanation' | $T8 %]">[?]</a></p>
</div>

</div>

</form>
