[% USE T8 %]
[% 'Matching Price Rules can apply in one of three types:' | $T8 %]

<h3>[% 'Price' | $T8 %]</h3>
<p>
  [% 'This will set an exact price.' | $T8 %]
  [% 'It will not be further modified by any other source, and will be offered in records like this.' | $T8 %]
</p>

<h3>[% 'Reduced Master Data' | $T8 %]</h3>
<p>
  [% 'This will reduce the appropriate Master Data price by this in percent points.' | $T8 %]
  [% 'This will happen before the price is offered, and the reduction will not be printed in documents.' | $T8 %]
  [% 'Negative reductions are possible to model price increases.' | $T8 %]
</p>
<p>[% 'Example' | $T8 %]:</p>
<pre>[% 'Set (set to)' | $T8 %] [% 'Reduced Master Data' | $T8 %] [% 'to (set to)' | $T8 %] 3</pre>
<p>
  [% 'This will apply a 3% reduction to the master data price before entering it into the record item.' | $T8 %]
</p>
<h3>[% 'Discount' | $T8 %]</h3>
<p>
  [% 'This will be treated as a discount in percent points.' | $T8 %]
  [% 'Contrary to Reduced Master Data this will be shown as discount in records.' | $T8 %]
  [% 'The discounted amount will be shown in documents.' | $T8 %]
</p>
