[% USE HTML %][% USE JavaScript %]<body onload="on_load();">

 <script type="text/javascript">
   <!--
      warehouses = new Array();
      warehouses[0] = new Array();
      warehouses[0]['id'] = "0";
      warehouses[0]['bins'] = new Array();
      warehouses[0]['bins'][0] = new Array();
      warehouses[0]['bins'][0]['description'] = "---";
      warehouses[0]['bins'][0]['id'] = "";
      [%- USE WAREHOUSES_it = Iterator(WAREHOUSES) %][%- FOREACH warehouse = WAREHOUSES_it %]
      warehouses[[% WAREHOUSES_it.count %]] = new Array();
      warehouses[[% WAREHOUSES_it.count %]]['id'] = [% warehouse.id %];
      warehouses[[% WAREHOUSES_it.count %]]['bins'] = new Array();
      warehouses[[% WAREHOUSES_it.count %]]['bins'][0] = new Array();
      warehouses[[% WAREHOUSES_it.count %]]['bins'][0]['description'] = "---";
      warehouses[[% WAREHOUSES_it.count %]]['bins'][0]['id'] = "";
      [% USE BINS_it = Iterator(warehouse.BINS) %][% FOREACH bin = BINS_it %]
      warehouses[[% WAREHOUSES_it.count %]]['bins'][[% BINS_it.count %]] = new Array();
      warehouses[[% WAREHOUSES_it.count %]]['bins'][[% BINS_it.count %]]['description'] = "[% JavaScript.escape(bin.description) %]";
      warehouses[[% WAREHOUSES_it.count %]]['bins'][[% BINS_it.count %]]['id'] = [% bin.id %];
      [% END %]
      [% END %]

      function warehouse_selected(warehouse_id, bin_id) {
        var control = document.getElementById("bin_id");

        for (var i = control.options.length - 1; i >= 0; i--) {
          control.options[i] = null;
        }

        var warehouse_index = 0;

        for (i = 0; i < warehouses.length; i++)
          if (warehouses[i]['id'] == warehouse_id) {
            warehouse_index = i;
            break;
          }

        var warehouse = warehouses[warehouse_index];
        var bin_index = 0;

        for (i = 0; i < warehouse['bins'].length; i++)
          if (warehouse['bins'][i]['id'] == bin_id) {
            bin_index = i;
            break;
          }

        for (i = 0; i < warehouse['bins'].length; i++) {
          control.options[i] = new Option(warehouse['bins'][i]['description'], warehouse['bins'][i]['id']);
        }


        control.options[bin_index].selected = true;
      }

      function on_load() {
        warehouse_selected(0, 0);
        document.Form.partnumber.focus();
      }
     -->
 </script>

 <div class="listtop"><translate>Report about wareouse transactions</translate></div>

 <form method="post" name="Form" action="wh.pl">

  <input type="hidden" name="nextsub" value="generate_journal">

  <p>
   <table>
    <tr>
     <th class="listheading" align="left" valign="top" colspan="6" nowrap><translate>Filter</translate></th>
    </tr>

    <tr>
     <td>
      <table>
       <tr>
        <th align="right" nowrap><translate>Warehouse</translate>:</th>
        <td>
         <select name="warehouse_id" id="warehouse_id" onchange="warehouse_selected(warehouses[this.selectedIndex]['id'], 0)">
          <option value="">---</option>
          [%- FOREACH warehouse = WAREHOUSES %]
          <option value="[% HTML.escape(warehouse.id) %]">[% warehouse.description %]</option>
          [%- END %]
         </select>
        </td>
       </tr>
       <tr>
        <th align="right" nowrap><translate>Bin</translate>:</th>
        <td><select name="bin_id" id="bin_id"></select></td>
       </tr>
       <tr>
        <th align="right" nowrap><translate>Part Number</translate>:</th>
        <td><input name="partnumber" id="partnumber" size=20></td>
       </tr>
       <tr>
        <th align="right" nowrap><translate>Part Description</translate>:</th>
        <td><input name="description" size=40></td>
       </tr>
       <tr>
        <th align="right" nowrap><translate>Charge Number</translate>:</th>
        <td><input name="chargenumber" size=40></td>
       </tr>
       [% IF conf_show_best_before %]
       <tr>
        <th align="right" nowrap><translate>Best Before</translate>:</th>
        <td>
         <input name="bestbefore" id="bestbefore" size="11" title="[% myconfig_dateformat %]">
         <input type="button" name="b_bestbefore" id="bestbefore_trigger" value="?">
        </td>
       </tr>
       [% END %]
       <tr>
        <th align="right" nowrap><translate>Transfer Quantity</translate>:</th>
        <td>
         <select name="qty_op">
          <option value="dontcare">---</option>
          <option value="atleast"><translate>At least</translate></option>
          <option value="atmost"><translate>At most</translate></option>
          <option value="exact"><translate>Exact</translate></option>
         </select>
         <input name="qty">
         <select name="qty_unit">
          [%- FOREACH unit = UNITS %]<option>[% unit.name %]</option>[% END %]
         </select>
        </td>
       </tr>
       <tr>
        <th align="right" nowrap><translate>From Date</translate></th>
        <td>
         <input name="fromdate" id="fromdate" size="11" title="[% myconfig_dateformat %]">
         <input type="button" name="b_fromdate" id="fromdate_trigger" value="?">
        </td>
       </tr>
       <tr>
        <th align="right"><translate>To Date</translate></th>
        <td>
         <input name="todate" id="todate" size="11" title="[% myconfig_dateformat %]">
         <input type="button" name="b_todate" id="todate_trigger" value="?">
        </td>
       </tr>
      </table>
     </td>
    </tr>

    <tr height="5"><td>&nbsp;</td></tr>

    <tr>
     <th class="listheading" align="left" valign="top" colspan="6" nowrap><translate>Include in Report</translate></th>
    </tr>

    <tr>
     <td>
      <table>
       <tr>
        <td><input name="l_partdescription" id="l_partdescription" class="checkbox" type="hidden" value="Y" checked></td>
        <td nowrap><label for="l_partdescription"><translate>Part Description</translate></label></td>
        <td><input name="l_qty" id="l_qty" class="checkbox" type="hidden" value="Y" checked></td>
        <td nowrap><label for="l_qty"><translate>Quantity</translate></label></td>
       </tr>
       <tr>
        <td align="right"><input name="l_date" id="l_date" class="checkbox" type="checkbox" value="Y" checked></td>
        <td nowrap><label for="l_date"><translate>Date</translate></label></td>
        <td align="right"><input name="l_partnumber" id="l_partnumber" class="checkbox" type="checkbox" value="Y" checked></td>
        <td nowrap><label for="l_partnumber"><translate>Part Number</translate></label></td>
        <td align="right"><input name="l_chargenumber" id="l_chargenumber" class="checkbox" type="checkbox" value="Y" checked></td>
        <td nowrap><label for="l_chargenumber"><translate>Charge Number</translate></label></td>
        [% IF conf_show_best_before %]
        <td align="right"><input name="l_bestbefore" id="l_bestbefore" class="checkbox" type="checkbox" value="Y" checked></td>
        <td nowrap><label for="l_bestbefore"><translate>Best Before</translate></label></td>
        [% END %]
       </tr>
       <tr>
        <td align="right"><input name="l_trans_id" id="l_trans_id" class="checkbox" type="checkbox" value="Y"></td>
        <td nowrap><label for="l_trans_id"><translate>Trans Id</translate></label></td>
        <td align="right"><input name="l_trans_type" id="l_trans_type" class="checkbox" type="checkbox" value="Y" checked></td>
        <td nowrap><label for="l_trans_type"><translate>Trans Type</translate></label></td>
        <td align="right"><input name="l_comment" id="l_comment" class="checkbox" type="checkbox" value="Y"></td>
        <td nowrap><label for="l_comment"><translate>Comment</translate></label></td>
       </tr>
       <tr>
        <td align="right"><input name="l_warehouse_from" id="l_warehouse_from" class="checkbox" type="checkbox" value="Y" checked></td>
        <td nowrap><label for="l_warehouse_from"><translate>Warehouse From</translate></label></td>
        <td align="right"><input name="l_bin_from" id="l_bin_from" class="checkbox" type="checkbox" value="Y" checked></td>
        <td nowrap><label for="l_bin_from"><translate>Bin From</translate></label></td>
        <td align="right"><input name="l_warehouse_to" id="l_warehouse_to" class="checkbox" type="checkbox" value="Y" checked></td>
        <td nowrap><label for="l_warehouse_to"><translate>Warehouse To</translate></label></td>
        <td align="right"><input name="l_bin_to" id="l_bin_to" class="checkbox" type="checkbox" value="Y" checked></td>
        <td nowrap><label for="l_bin_to"><translate>Bin To</translate></label></td>
       </tr>
       <tr>
        <td align="right"><input name="l_employee" id="l_employee" class="checkbox" type="checkbox" value="Y"></td>
        <td nowrap><label for="l_employee"><translate>Employee</translate></label></td>
        <td align="right"><input name="l_oe_id" id="l_oe_id" class="checkbox" type="checkbox" value="Y"></td>
        <td nowrap><label for="l_oe_id"><translate>Document</translate></label></td>
        <td align="right"><input name="l_projectnumber" id="l_projectnumber" class="checkbox" type="checkbox" value="Y" checked></td>
        <td nowrap><label for="l_projectnumber"><translate>Project Number</translate></label></td>
       </tr>
      </table>
     </td>
    </tr>
   </table>
  </p>

  <p>
   <input type="submit" class="submit" name="action" value="<translate>Continue</translate>">
  </p>
 </form>

  <script type="text/javascript">
    <!--
    [% IF conf_show_best_before %]
    Calendar.setup( {
      inputField : "bestbefore",
      ifFormat :"[% myconfig_jsc_dateformat %]",
      align : "BR",
      button : "bestbefore_trigger"
    });
    [% END %]

    Calendar.setup( {
      inputField : "fromdate",
      ifFormat :"[% myconfig_jsc_dateformat %]",
      align : "BR",
      button : "fromdate_trigger"
    });

     Calendar.setup( {
      inputField : "todate",
      ifFormat :"[% myconfig_jsc_dateformat %]",
      align : "BL",
      button : "todate_trigger"
    });
     //-->
  </script>

</body>
</html>
