[% USE T8 %]
[%- USE L %]
<h1>[% 'DATEV - Export Assistent' | $T8 %]</h1>

<form method='post' action='[% script | html %]' id='form'>

<table width=100%>
  <tr>
    <th>[% 'DATEV Angaben' | $T8 %]</th>
  </tr>
  <tr height="5"></tr>
  <tr>
    <td>
      <table>
        <tr>
          <td>[% 'Beraternummer' | $T8 %]</td>
          <td>[% L.input_tag("beraternr", beraternr, size=10, maxlength=7) %]</td>

          <td>[% 'DFV-Kennzeichen' | $T8 %]</td>
          <td>[% L.input_tag("dfvkz", dfvkz, size=5, maxlength=2) %]</td>
        </tr>
        <tr>
          <td>[% 'Beratername' | $T8 %]</td>
          <td>[% L.input_tag("beratername", berater, size=10, maxlength=9) %]</td>

          <td>[% 'Password' | $T8 %]</td>
          <!-- PENDENT: Maxlength 4 ist ein wenig unrealistisch -->
          <td>[% L.input_tag("passwort", passwort, size=5, maxlength=4) %]</td>
        </tr>
        <tr>
          <td>[% 'Mandantennummer' | $T8 %]</td>
          <td>[% L.input_tag("mandantennr", mandantennr, size=10, maxlength=5) %]</td>

          <td>[% 'Medium Number' | $T8 %]</td>
          <td>[% L.input_tag("datentraegernr", datentraegernr, size=5, maxlength=3) %]</td>
        </tr>
        <tr>
          <td></td>
          <td></td>

          <td>[% 'Abrechnungsnummer' | $T8 %]</td>
          <td>[% L.input_tag("abrechnungsnr", abrechnungsnr, size=5, maxlength=3) %]</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td><hr size=3 noshade></td>
  </tr>
</table>
[%- L.hidden_tag("exporttype",  0) %]
[%- L.hidden_tag("exportformat",  'csv') %]
</form>
