[% USE HTML %][% USE LxERP %]

<p>
 <b>Hinweis:</b>
</p>

<p>
 kivitendo speichert Buchungsdaten als aggregierte Nettowerte.

 Das DATEV-Dateiformat hingegen erwartet aufgeteilte Buchungssätze mit
 Bruttowerten.

 Es ist deshalb technisch nicht immer möglich, aus den vorhandenen
 aggregierten Nettowerten solche Bruttowerte zu errechnen, sodass für
 einen Beleg betrachtet die von kivitendo angezeigten und die in den
 DATEV-Export geschriebenen Bruttowerte exakt übereinstimmen.

 Abweichungen im Cent-Bereich sind in beide Richtungen möglich (Brutto
 kivitendo ist größer als Brutto DATEV und umgekehrt), werden aber von
 den Steuerbehörden anstandslos akzeptiert.
</p>

<p>
 In dem gerade durchgeführten Export gab es [% net_gross_differences.size %]
 solcher Fälle. Die Summe aller Abweichungen beläuft sich auf
 [% LxERP.format_amount(sum_net_gross_differences, 2) %].
</p>
