[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]
[% USE L %]

<h1>[% title %]</h1>

<p>[% 'The tables for user management and authentication do not exist. They will be created in the next step in the following database:' | $T8 %]</p>

<table>
  <tr>
    <td>[% 'Host' | $T8 %]:</td>
    <td>[% HTML.escape(SELF.db_cfg.host) %]</td>
  </tr>
  <tr>
    <td>[% 'Port' | $T8 %]:</td>
    <td>[% HTML.escape(SELF.db_cfg.port) %]</td>
  </tr>
  <tr>
    <td>[% 'User name' | $T8 %]:</td>
    <td>[% HTML.escape(SELF.db_cfg.user) %]</td>
  </tr>
  <tr>
    <td>[% 'Database name' | $T8 %]:</td>
    <td>[% HTML.escape(SELF.db_cfg.db) %]</td>
  </tr>
</table>

<p>[% 'If you want to change any of these parameters then press the "Back" button, edit the file "config/kivitendo.conf" and login into the admin module again.' | $T8 %]</p>

<form method="post" action="controller.pl">
  [% L.hidden_tag("action", 'Admin/create_auth_tables') %]
  [% L.hidden_tag("{AUTH}admin_password", LXCONFIG.authentication.admin_password) %]
  [% L.submit_tag("dummy", LxERP.t8("Create tables")) %]
  [% L.button_tag("history.back()", LxERP.t8("Back")) %]
</form>

