[% USE HTML %]
[% USE LxERP %]
[% USE L %]

<h1>[% HTML.escape(title) %]</h1>

<div class="wrapper">
[% IF !SELF.all_clients.size %] 
  <div class="error">
    [% LxERP.t8("Error") %]: [% LxERP.t8("No clients have been created yet.") %] 
  </div>
[% ELSE %] 
  <p> [% LxERP.t8("Client to configure the printers for") %]: [% L.select_tag('client.id', SELF.all_clients, id='client_id', title_key='name', default=SELF.client.id) %] </p>
  [% IF !SELF.all_printers.size %] 
    <p> [% LxERP.t8("No printers have been created yet.") %] </p>
  [% ELSE %] 
  <table class="tbl-list">
    <thead>
      <tr>
        <th>[% LxERP.t8('Description') %]</th>
        <th>[% LxERP.t8('Printer Command') %]</th>
        <th>[% LxERP.t8('Template Code') %]</th>
      </tr>
    </thead>
    <tbody>
      [% FOREACH printer = SELF.all_printers %] 
      <tr valign="top" class="listrow">
        <td><a href="[% SELF.url_for(action='edit_printer', 'client.id'=SELF.client.id, id=printer.id) %]">[% HTML.escape(printer.printer_description) %]</a></td>
        <td>[% HTML.escape(printer.printer_command) %]</td>
        <td>[% HTML.escape(printer.template_code) %]</td>
      </tr>
      [% END %] 
    </tbody>
  </table>
  [% END %]
[% END %]
</div>

<script type="text/javascript">
<!--
  $(function() {
    $('#client_id').change(function() {
      window.location.href = "controller.pl?action=Admin/list_printers&client.id=" + $('#client_id').val();
    });
  });
-->
</script>


