[% USE HTML %]
[% USE LxERP %]
[% USE L %]

<h1>[% HTML.escape(title) %]</h1>

<div class="wrapper">

[% IF SELF.is_locked %]
<p>
  [% LxERP.t8("The installation is currently locked.") %]
  [% LxERP.t8("Normal users cannot log in.") %]
  [% LxERP.t8("The administration area is always accessible.") %]
</p>

<p><a href="[% SELF.url_for(action='unlock_system') %]" class="button">[% LxERP.t8("Unlock System") %]</a></p>

[% ELSE %]

<p>
  [% LxERP.t8("The installation is currently unlocked.") %]
  [% LxERP.t8("Everyone can log in.") %]
</p>

<p>
  [% LxERP.t8("If you lock the system normal users won't be able to log in.") %]
  [% LxERP.t8("The administration area is always accessible.") %]
</p>

<p><a href="[% SELF.url_for(action='lock_system') %]" class="button">[% LxERP.t8("Lock System") %]</a></p>

[% END %]
</div>
