[% USE HTML %]
[% USE LxERP %]
<body>

<h1>[% HTML.escape(title) %]</h1>

<div class="wrapper">
  [% IF !SELF.internal_extensions.size %]
   <p>[% LxERP.t8("No internal phone extensions have been configured yet.") %]</p>

  [% ELSE %]
   <table class="tbl-plain wi-moderate">
    <thead>
      <tr>
       <th>[% LxERP.t8("Name") %]</th>
       <th>[% LxERP.t8("Phone extension") %]</th>
      </tr>
    </thead>
    <tbody>
      [% FOREACH extension = SELF.internal_extensions %]
       <tr class="listrow">
        <td>[% HTML.escape(extension.name) %]</td>
        <td><a href="[% HTML.escape(extension.call_link) %]" class="cti_call_action">[% HTML.escape(extension.phone_extension) %]</a></td>
       </tr>
      [% END %]
    </tbody>
   </table>
  [% END %]
</div>

</body>
</html>
