[% USE HTML %][% USE L %][% USE LxERP %]

 <form method="post" action="controller.pl">
  <div class="listtop">[% FORM.title %]</div>

[%- INCLUDE 'common/flash.html' %]

  <table>
   <tr>
    <td>[% LxERP.t8("Description") %]</td>
    <td>[% L.input_tag("requirement_spec_predefined_text.description", SELF.requirement_spec_predefined_text.description, size=60, class='initial_focus') %]</td>
   </tr>

   <tr>
    <td>[% LxERP.t8("Title") %]</td>
    <td>[% L.input_tag("requirement_spec_predefined_text.title", SELF.requirement_spec_predefined_text.title, size=60) %]</td>
   </tr>

   <tr valign="top">
    <td>[% LxERP.t8("Content") %]</td>
    <td>[% L.textarea_tag("requirement_spec_predefined_text.text_as_restricted_html", SELF.requirement_spec_predefined_text.text_as_restricted_html, class='texteditor', style='width: 800px; height: 300px') %]</td>
   </tr>
  </table>

  <p>
   [% L.hidden_tag("id", SELF.requirement_spec_predefined_text.id) %]
   [% L.hidden_tag("action", "RequirementSpecPredefinedText/dispatch") %]
   [% L.submit_tag("action_" _ (SELF.requirement_spec_predefined_text.id ? "update" : "create"), LxERP.t8('Save')) %]
   [%- IF SELF.requirement_spec_predefined_text.id %]
    [% L.submit_tag("action_destroy", LxERP.t8('Delete'), confirm=LxERP.t8('Do you really want to delete this object?')) %]
   [%- END %]
   <a href="[% SELF.url_for(action => 'list') %]">[%- LxERP.t8('Abort') %]</a>
  </p>
 </form>
