/* toolbar style */
toolbar{
 -moz-appearance:none !important;
 background: url('../image/fade.png');
 border-bottom:1px solid #888;
}

/* sidebar styles */
tree{
 -moz-appearance: none !important;
 border:0px solid black;
 padding-top:2px;
 background: white url('../image/fade.png') repeat-x;
}

#sidebar{
 background-image: url('../image/fade.png');
 max-width:450px;
 width:150px;
 font:12px Arial;
 margin:0px;
 border-right:1px solid #888;
}

/* menubar styles */
menubar{
 -moz-appearance:none !important;
 background: url('../image/bg_titel.gif');
 border:0px;
}

menu, 
menuitem{
 font:12px Arial;
}

menu menu{
 -moz-appearance: none !important;
 color:white;
 background: #35a;
}

menubar menu{
 -moz-appearance: none !important;
 color:white;
}

menubar menu:hover{
 -moz-appearance:none !important;
 background:#46d;
 color:yellow;
}

/* are splitter & iframe in use currently? */
splitter{
 -moz-appearance:none !important;
 background:white url('../image/fade.png') no-repeat !important;
 border:0px;
}
iframe{
 border-left:1px solid #888 !important;
}
