toolbar{
 -moz-appearance:none !important;
 background: url('../image/fade.png');
 border-bottom:1px solid black;
 border-top:1px solid black
}
splitter{
 -moz-appearance:none !important;
 background:white url('../image/fade.png') no-repeat !important;
 border:0px
}
iframe{
 border-left:1px solid black !important
}

/* sidebar styles */
tree{
 -moz-appearance: none !important;
 border:0px solid black;
 padding-top:2px;
 background: white url('../image/fade.png') repeat-x;
}
#sidebar{
 background-image: url('../image/fade.png');
 max-width:450px;
 width:150px;
 font:12px Arial;
 margin:0px;
 border-right:1px solid black
}

/* menubar styles */
menubar{
 -moz-appearance:none !important;
 background: url('../image/bg_titel.gif');
 border:0px
}
menu, 
menuitem{
 font:12px Arial;
}
menu menuitem,
menu menu{
 padding:2px
}
menubar menu,
menubar menuitem{
 -moz-appearance: none !important;
 color:white
}
menubar menu:hover,
menubar menuitem:hover{
 -moz-appearance:none !important;
 background:lightblue;
 color:red
}
menu menu,
menu menuitem{
 -moz-appearance: none !important;
 color:black
}
menu menu:hover,
menu menuitem:hover{
 -moz-appearance:none !important;
 background:lightgrey;
 color:red
}
