[%- USE T8 %]
[%- USE L %]
[%- USE LxERP %]
[%- USE HTML %]
<form action='controller.pl' method='post' id='filter_form'>
<div class='filter_toggle'>
<a href='#' onClick='javascript:$(".filter_toggle").toggle()'>[% 'Show Filter' | $T8 %]</a>
  [% SELF.filter_summary | html %]
</div>
<div class='filter_toggle' style='display:none'>
<a href='#' onClick='javascript:$(".filter_toggle").toggle()'>[% 'Hide Filter' | $T8 %]</a>
 <table id='filter_table'>
  <tr>
   <th align="right">[% 'Date' | $T8 %] [% 'From Date' | $T8 %]</th>
   <td>[% L.date_tag('filter.date:date::ge', filter.date_date__ge) %]</td>
  </tr>
  <tr>
   <th align="right">[% 'Date' | $T8 %] [% 'To Date' | $T8 %]</th>
   <td>[% L.date_tag('filter.date:date::le', filter.date_date__le) %]</td>
  </tr>
  <tr>
    <th align="right">[% 'Customer' | $T8 %]</th>
    <td>[% L.input_tag('filter.customer.name:substr::ilike', filter.customer.name_substr__ilike, size = 20) %]</td>
  </tr>
  <tr>
    <th align="right">[% 'Customer Number' | $T8 %]</th>
    <td>[% L.input_tag('filter.customer.customernumber:substr::ilike', filter.customer.customernumber_substr__ilike, size = 20) %]</td>
  </tr>

  [%- IF SELF.can_view_all -%]
  <tr>
   <th align="right">[% 'Mitarbeiter' | $T8 %]</th>
   <td>
     [% L.select_tag('filter.staff_member_id', SELF.all_employees,
                     default    => filter.staff_member_id,
                     title_key  => 'name',
                     value_key  => 'id',
                     with_empty => 1,
                     style      => 'width: 200px') %]
   </td>
  </tr>
  [%- END -%]

  <tr>
    <th align="right">[% 'Booked' | $T8 %]</th>
    <td>[% L.select_tag('filter.booked', [ [ '1', LxERP.t8('Yes') ], [ '0', LxERP.t8('No') ] ], default=filter.booked, with_empty=1, style="width: 200px") %]</td>
  </tr>

 </table>

[% L.hidden_tag('sort_by', FORM.sort_by) %]
[% L.hidden_tag('sort_dir', FORM.sort_dir) %]
[% L.hidden_tag('page', FORM.page) %]
[% L.button_tag('$("#filter_form").clearForm()', LxERP.t8('Reset')) %]
</div>

</form>
