[%- USE HTML -%][%- USE LxERP -%][%- USE L -%][%- USE T8 -%]
[%- INCLUDE 'common/flash.html' %]

<h1>[% title %]</h1>

<p>
 <table id="partsgroup_list">
  <thead>
   <tr class="listheading">
    <th>[% 'Reclamation Reason'      | $T8 %]</th>
    <th>[% 'Description' | $T8 %]</th>
    <th>[% 'Valid for Sales' | $T8 %]</th>
    <th>[% 'Valid for Purchase' | $T8 %]</th>
   </tr>
  </thead>

  <tbody>
    [%- FOREACH reason = RECLAMATION_REASONS %]
    <tr class="listrow" id="reason_id_[% reason.id %]">
    <td><a href="[% SELF.url_for(action='edit', id=reason.id) %]">[% HTML.escape(reason.name) %]
[% # reason.level %]</a></td>
    <td>[% reason.description | html %]</td>
    <td>[% (reason.valid_for_sales? 'Yes' : 'No') | $T8 %]</td>
    <td>[% (reason.valid_for_purchase? 'Yes' : 'No') | $T8 %]</td>
   [%- END %]
  </tbody>
 </table>
</p>
