#frame-header .frame-header-element a:link,
#frame-header .frame-header-element a:visited,
#frame-header .frame-header-element a:hover,
#frame-header .frame-header-element a:active {
  text-decoration: underline;
}

#frame-header {
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  height: 20px;
  width: 100%;
  border-spacing: 0;
  font-size: 12px;
  position: fixed;
  top: 0;
  z-index: 40;
  background-color: white;
}

#frame-header + div {
  padding-top: 20px;
}

#frame-header .frame-header-left {
  float: left;
}
#frame-header .frame-header-right {
  float: right;
}

#frame-header .frame-header-left,
#frame-header .frame-header-center,
#frame-header .frame-header-right  {
  border-spacing: 0;
  padding: 0;
  font-family: verdana,arial,sans-serif;
  vertical-align: middle;
}

#frame-header .frame-header-right {
  margin-top: 3px;
}

#frame-header #ajax-spinner {
  margin-top: 2px;
  margin-right: 10px;
  display: none;
}

#frame-header input {
  font-size: 12px;
}
