[%- USE HTML -%][%- USE T8 -%]
<h1>[% 'Add unit' | $T8 %]</h1>

[% PROCESS "am/_units_header_info.html" %]

<hr>

<form method="post" action="[% HTML.escape(script) %]" id="form">

 <input type="hidden" name="type" value="unit">

 <table>
  <tr>
   <th align="right">[% 'Unit' | $T8 %]</th>
   <td><input name="new_name" size="20" maxlength="20"></td>
  </tr>
  <tr>
   <th align="right">[% 'Base unit' | $T8 %]</th>
   <td>
    <select name="new_base_unit">
     [% FOREACH row = NEW_BASE_UNIT_DDBOX %]<option [% row.selected %]>[% row.name %]</option>[% END %]
    </select>
   </td>
  </tr>
  <tr>
   <th align="right">[% 'Factor' | $T8 %]</th>
   <td><input name="new_factor"></td>
  </tr>

  [% FOREACH language = LANGUAGES %]
   <tr>
    <th align="right">[% language.description %]</th>
    <td><input name="new_localized_[% language.id %]" size="20" maxlength="20"></td>
    <th align="right">[% 'Plural' | $T8 %]</th>
    <td><input name="new_localized_plural_[% language.id %]" size="20" maxlength="20"></td>
   </tr>
  [% END %]
 </table>
</form>
