[% USE HTML %]<body>

 <div class="listtop">[% title %]</div>

 <p><translate>Do you really want to delete this warehouse?</translate></p>

 <p><translate>Warehouse</translate>: [% HTML.escape(orig_description) %]</p>

 <form action="am.pl" method="post">

  <input type="hidden" name="id" value="[% HTML.escape(id) %]">
  <input type="hidden" name="callback" value="[% HTML.escape(callback) %]">
  <input type="hidden" name="type" value="warehouse">
  <input type="hidden" name="confirmed" value="1">

  <button type="button" class="submit" onclick="history.back()"><translate>Back</translate></button>
  <input type="submit" class="submit" name="action" value="<translate>Delete</translate>">
 </form>

</body>
</form>
