[% USE HTML %]<body onLoad="fokus()">

 <p>
  <div class="listtop">[% title %]</div>
 </p>

 <form method="post" action="am.pl" name="Form">

  <ul id="maintab" class="shadetabs">
   <li class="selected"><a href="#" rel="page_personal_settings">Pers&ouml;nliche Einstellungen</a></li>
   <li><a href="#" rel="page_display_options">Anzeigeoptionen</a></li>
   <li><a href="#" rel="page_print_options">Druckoptionen</a></li>
   <li><a href="#" rel="page_todo_list_options">Aufgabenlistenoptionen</a></li>
  </ul>

  <input type="hidden" name="type" value="preferences">
  <input type="hidden" name="role" value="[% HTML.escape(myconfig_role) %]">

  <div class="tabcontentstyle">

   <div id="page_personal_settings" class="tabcontent">

    <table>
     <tr>
      <th align="right">Name</th>
      <td><input name="name" size="15" value="[% HTML.escape(myconfig_name) %]"></td>
     </tr>

     <tr>
      <th align="right">Passwort</th>
      <td>
       [%- IF CAN_CHANGE_PASSWORD %]
       <input type="password" name="new_password" size="10" value="********">
       [%- ELSE %]
       <input type="hidden" name="new_password" value="********">
       [%- END %]
      </td>
     </tr>

     <tr>
      <th align="right">eMail</th>
      <td><input name="email" size="30" value="[% HTML.escape(myconfig_email) %]"></td>
     </tr>

     <tr valign="top">
      <th align="right">Unterschrift</th>
      <td><textarea name="signature" rows="3" cols="50">[% HTML.escape(myconfig_signature) %]</textarea></td>
     </tr>

     <tr>
      <th align="right">Telefon</th>
      <td><input name="tel" size="14" value="[% HTML.escape(myconfig_tel) %]"></td>
     </tr>

     <tr>
      <th align="right">Fax</th>
      <td><input name="fax" size="14" value="[% HTML.escape(myconfig_fax) %]"></td>
     </tr>
     <tr>
      <th align="right">Firma</th>
      <td><input name="company" size="30" value="[% HTML.escape(myconfig_company) %]"></td>
     </tr>
     <tr valign="top">
      <th align="right">Adresse</th>
      <td><textarea name="address" rows="4" cols="50">[% HTML.escape(myconfig_address) %]</textarea></td>
     </tr>
    </table>

    <br style="clear: left" />
   </div>

   <div id="page_display_options" class="tabcontent">

    <table>
     <tr>
      <th align="right">Datumsformat</th>
      <td>
       <select name="dateformat">
        [%- FOREACH row = DATEFORMATS %]
        <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
        [%- END %]
       </select>
      </td>
     </tr>
     <tr>
      <th align="right">Zahlenformat (Ausgabe)</th>
      <td>
       <select name="numberformat">
        [%- FOREACH row = NUMBERFORMATS %]
        <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
        [%- END %]
       </select>
      </td>
     </tr>

     <tr>
      <th align="right">Auswahllistenbegrenzung</th>
      <td><input name="vclimit" size="10" value="[% HTML.escape(myconfig_vclimit) %]"></td>
     </tr>

     <tr>
      <th align="right">Sprache</th>
      <td>
       Deutsch
       <input type="hidden" name="countrycode" value="de">
<!--       <select name="countrycode">
        [%- FOREACH row = COUNTRYCODES %]
        <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
        [%- END %]
       </select>-->
      </td>
     </tr>

     <tr>
      <th align="right">Stilvorlage</th>
      <td>
       <select name="usestylesheet">
        [%- FOREACH row = STYLESHEETS %]
        <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
        [%- END %]
       </select>
      </td>
     </tr>

     <tr>
      <th align="right">Menüsetup</th>
      <td>
       <select name="menustyle">
        <option value="v3"[% IF myconfig_menustyle == 'v3' %] selected[% END %]>Oben (mit CSS)</option>
        <option value="v4"[% IF myconfig_menustyle == 'v4' %] selected[% END %]>Top (CSS) new</option>
        <option value="neu"[% IF myconfig_menustyle == 'neu' %] selected[% END %]>Oben (mit Javascript)</option>
        <option value="xml"[% IF myconfig_menustyle == 'xml' %] selected[% END %]>Oben (XUL; nur f&uuml;r Mozilla Firefox)</option>
        <option value="old"[% IF myconfig_menustyle == 'old' %] selected[% END %]>Alt (seitlich)</option>
       </select>
      </td>
     </tr>

     <tr valign="top">
      <th align="right">Favoriten</th>
      <td><textarea name="favorites" rows="4" cols="50">[% HTML.escape(myconfig_favorites) %]</textarea></td>
     </tr>

     <tr>
      <th align="right">Formulardetails (zweite Positionszeile)</th>
      <td>
       <select name="show_form_details">
        <option value="1"[% IF  myconfig_show_form_details %] selected[% END %]>Standardm&auml;&szlig;ig anzeigen</option>
        <option value="0"[% IF !myconfig_show_form_details %] selected[% END %]>Standardm&auml;&szlig;ig verstecken</option>
       </select>
      </td>
     </tr>
    </table>

    <br style="clear: left" />
   </div>

   <div id="page_print_options" class="tabcontent">

    <table>
     <input name="printer" type="hidden" value="[% HTML.escape(myconfig_printer) %]">

     <tr>
      <th align="right">Standardvorlagenformat</th>
      <td>
       <select name="template_format">
        [%- FOREACH row = TEMPLATE_FORMATS %]
        <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
        [%- END %]
       </select>
      </td>
     </tr>

     <tr>
      <th align="right">Standardausgabekanal</th>
      <td>
       <select name="default_media">
        [%- FOREACH row = MEDIA %]
        <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
        [%- END %]
       </select>
      </td>
     </tr>

     <tr>
      <th align="right">Standarddrucker</th>
      <td>
       <select name="default_printer_id">
        [%- FOREACH row = PRINTERS %]
        <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
        [%- END %]
       </select>
      </td>
     </tr>

     <tr>
      <th align="right">Anzahl Kopien</th>
      <td><input name="copies" size="10" value="[% HTML.escape(myconfig_copies) %]"></td>
     </tr>
    </table>

    <br style="clear: left" />
   </div>

   <div id="page_todo_list_options" class="tabcontent">

    <table>
     <tr>
      <th align="right">Aufgabenliste nach dem Anmelden anzeigen</th>
      <td colspan="2">
       <input type="radio" name="todo_cfg.show_after_login" id="todo_cfg_show_after_login_1" value="1"[% IF todo_cfg.show_after_login %] checked[% END %]>
       <label for="todo_cfg_show_after_login_1">Ja</label>
       <input type="radio" name="todo_cfg.show_after_login" id="todo_cfg_show_after_login_0" value="0"[% IF !todo_cfg.show_after_login %] checked[% END %]>
       <label for="todo_cfg_show_after_login_0">Nein</label>
      </td>
     </tr>

     <tr class="listheading">
      <th colspan="3">Konfiguration f&uuml;r die einzelnen Aufgabenlistenpunkte</th>
     </tr>

     <tr>
      <th align="right">Zeige Wiedervorlagen...</th>
      <td>
       <input type="checkbox" name="todo_cfg.show_follow_ups" id="todo_cfg_show_follow_ups" value="1"[% IF todo_cfg.show_follow_ups %] checked[% END %]>
       <label for="todo_cfg_show_follow_ups">...auf der Aufgabenliste</label>
      </td>
      <td>
       <input type="checkbox" name="todo_cfg.show_follow_ups_login" id="todo_cfg_show_follow_ups_login" value="1"[% IF todo_cfg.show_follow_ups_login %] checked[% END %]>
       <label for="todo_cfg_show_follow_ups_login">...nach dem Anmelden</label>
      </td>
     </tr>

     [%- IF AUTH_RIGHTS_SALES_QUOTATION_EDIT %]
     <tr>
      <th align="right">Überfällige Angebote und Preisanfragen anzeigen...</th>
      <td>
       <input type="checkbox" name="todo_cfg.show_overdue_sales_quotations" id="todo_cfg_show_overdue_sales_quotations" value="1"[% IF todo_cfg.show_overdue_sales_quotations %] checked[% END %]>
       <label for="todo_cfg_show_overdue_sales_quotations">...auf der Aufgabenliste</label>
      </td>
      <td>
       <input type="checkbox" name="todo_cfg.show_overdue_sales_quotations_login" id="todo_cfg_show_overdue_sales_quotations_login" value="1"[% IF todo_cfg.show_overdue_sales_quotations_login %] checked[% END %]>
       <label for="todo_cfg_show_overdue_sales_quotations_login">...nach dem Anmelden</label>
      </td>
     </tr>
     [%- END %]
    </table>

    <br style="clear: left" />
   </div>
  </div>

  <p><input type="submit" class="submit" name="action" value="Speichern"></p>
 </form>

 <script type="text/javascript">
  <!--
      var maintab = new ddtabcontent("maintab");
      maintab.setpersist(true);
      maintab.setselectedClassTarget("link"); //"link" or "linkparent"
      maintab.init();
    -->
 </script>

</body>
</html>
