[% USE HTML %]<body onLoad="fokus()">

 <p>
  <div class="listtop">[% title %]</div>
 </p>

 <form method="post" action="am.pl" name="Form">

  <ul id="maintab" class="shadetabs">
   <li class="selected"><a href="#" rel="page_personal_settings"><translate>Personal settings</translate></a></li>
   <li><a href="#" rel="page_display_options"><translate>Display options</translate></a></li>
   <li><a href="#" rel="page_print_options"><translate>Print options</translate></a></li>
   <li><a href="#" rel="page_todo_list_options"><translate>TODO list options</translate></a></li>
  </ul>

  <input type="hidden" name="type" value="preferences">
  <input type="hidden" name="role" value="[% HTML.escape(myconfig_role) %]">

  <div class="tabcontentstyle">

   <div id="page_personal_settings" class="tabcontent">

    <table>
     <tr>
      <th align="right"><translate>Name</translate></th>
      <td><input name="name" size="15" value="[% HTML.escape(myconfig_name) %]"></td>
     </tr>

     <tr>
      <th align="right"><translate>Password</translate></th>
      <td>
       [%- IF CAN_CHANGE_PASSWORD %]
       <input type="password" name="new_password" size="10" value="********">
       [%- ELSE %]
       <input type="hidden" name="new_password" value="********">
       [%- END %]
      </td>
     </tr>

     <tr>
      <th align="right"><translate>E-mail</translate></th>
      <td><input name="email" size="30" value="[% HTML.escape(myconfig_email) %]"></td>
     </tr>

     <tr valign="top">
      <th align="right"><translate>Signature</translate></th>
      <td><textarea name="signature" rows="3" cols="50">[% HTML.escape(myconfig_signature) %]</textarea></td>
     </tr>

     <tr>
      <th align="right"><translate>Phone</translate></th>
      <td><input name="tel" size="14" value="[% HTML.escape(myconfig_tel) %]"></td>
     </tr>

     <tr>
      <th align="right"><translate>Fax</translate></th>
      <td><input name="fax" size="14" value="[% HTML.escape(myconfig_fax) %]"></td>
     </tr>
     <tr>
      <th align="right"><translate>Company</translate></th>
      <td><input name="company" size="30" value="[% HTML.escape(myconfig_company) %]"></td>
     </tr>
     <tr valign="top">
      <th align="right"><translate>Address</translate></th>
      <td><textarea name="address" rows="4" cols="50">[% HTML.escape(myconfig_address) %]</textarea></td>
     </tr>
    </table>

    <br style="clear: left" />
   </div>

   <div id="page_display_options" class="tabcontent">

    <table>
     <tr>
      <th align="right"><translate>Date Format</translate></th>
      <td>
       <select name="dateformat">
        [%- FOREACH row = DATEFORMATS %]
        <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
        [%- END %]
       </select>
      </td>
     </tr>
     <tr>
      <th align="right"><translate>Output Number Format</translate></th>
      <td>
       <select name="numberformat">
        [%- FOREACH row = NUMBERFORMATS %]
        <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
        [%- END %]
       </select>
      </td>
     </tr>

     <tr>
      <th align="right"><translate>Dropdown Limit</translate></th>
      <td><input name="vclimit" size="10" value="[% HTML.escape(myconfig_vclimit) %]"></td>
     </tr>

     <tr>
      <th align="right"><translate>Language</translate></th>
      <td>
       <translate>German</translate>
       <input type="hidden" name="countrycode" value="de">
<!--       <select name="countrycode">
        [%- FOREACH row = COUNTRYCODES %]
        <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
        [%- END %]
       </select>-->
      </td>
     </tr>

     <tr>
      <th align="right"><translate>Stylesheet</translate></th>
      <td>
       <select name="usestylesheet">
        [%- FOREACH row = STYLESHEETS %]
        <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
        [%- END %]
       </select>
      </td>
     </tr>

     <tr>
      <th align="right"><translate>Setup Menu</translate></th>
      <td>
       <select name="menustyle">
        <option value="v3"[% IF myconfig_menustyle == 'v3' %] selected[% END %]><translate>Top (CSS)</translate></option>
        <option value="v4"[% IF myconfig_menustyle == 'v4' %] selected[% END %]><translate>Top (CSS) new</translate></option>
        <option value="neu"[% IF myconfig_menustyle == 'neu' %] selected[% END %]><translate>Top (Javascript)</translate></option>
        <option value="xml"[% IF myconfig_menustyle == 'xml' %] selected[% END %]><translate>Top (XUL; only for Mozilla Firefox)</translate></option>
        <option value="old"[% IF myconfig_menustyle == 'old' %] selected[% END %]><translate>Old (on the side)</translate></option>
       </select>
      </td>
     </tr>

     <tr valign="top">
      <th align="right"><translate>Favorites</translate></th>
      <td><textarea name="favorites" rows="4" cols="50">[% HTML.escape(myconfig_favorites) %]</textarea></td>
     </tr>

     <tr>
      <th align="right"><translate>Form details (second row)</translate></th>
      <td>
       <select name="show_form_details">
        <option value="1"[% IF  myconfig_show_form_details %] selected[% END %]><translate>Show by default</translate></option>
        <option value="0"[% IF !myconfig_show_form_details %] selected[% END %]><translate>Hide by default</translate></option>
       </select>
      </td>
     </tr>
    </table>

    <br style="clear: left" />
   </div>

   <div id="page_print_options" class="tabcontent">

    <table>
     <input name="printer" type="hidden" value="[% HTML.escape(myconfig_printer) %]">

     <tr>
      <th align="right"><translate>Default template format</translate></th>
      <td>
       <select name="template_format">
        [%- FOREACH row = TEMPLATE_FORMATS %]
        <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
        [%- END %]
       </select>
      </td>
     </tr>

     <tr>
      <th align="right"><translate>Default output medium</translate></th>
      <td>
       <select name="default_media">
        [%- FOREACH row = MEDIA %]
        <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
        [%- END %]
       </select>
      </td>
     </tr>

     <tr>
      <th align="right"><translate>Default printer</translate></th>
      <td>
       <select name="default_printer_id">
        [%- FOREACH row = PRINTERS %]
        <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
        [%- END %]
       </select>
      </td>
     </tr>

     <tr>
      <th align="right"><translate>Number of copies</translate></th>
      <td><input name="copies" size="10" value="[% HTML.escape(myconfig_copies) %]"></td>
     </tr>
    </table>

    <br style="clear: left" />
   </div>

   <div id="page_todo_list_options" class="tabcontent">

    <table>
     <tr>
      <th align="right"><translate>Show your TODO list after loggin in</translate></th>
      <td colspan="2">
       <input type="radio" name="todo_cfg.show_after_login" id="todo_cfg_show_after_login_1" value="1"[% IF todo_cfg.show_after_login %] checked[% END %]>
       <label for="todo_cfg_show_after_login_1"><translate>Yes</translate></label>
       <input type="radio" name="todo_cfg.show_after_login" id="todo_cfg_show_after_login_0" value="0"[% IF !todo_cfg.show_after_login %] checked[% END %]>
       <label for="todo_cfg_show_after_login_0"><translate>No</translate></label>
      </td>
     </tr>

     <tr class="listheading">
      <th colspan="3"><translate>Configuration of individual TODO items</translate></th>
     </tr>

     <tr>
      <th align="right"><translate>Show follow ups...</translate></th>
      <td>
       <input type="checkbox" name="todo_cfg.show_follow_ups" id="todo_cfg_show_follow_ups" value="1"[% IF todo_cfg.show_follow_ups %] checked[% END %]>
       <label for="todo_cfg_show_follow_ups"><translate>...on the TODO list</translate></label>
      </td>
      <td>
       <input type="checkbox" name="todo_cfg.show_follow_ups_login" id="todo_cfg_show_follow_ups_login" value="1"[% IF todo_cfg.show_follow_ups_login %] checked[% END %]>
       <label for="todo_cfg_show_follow_ups_login"><translate>...after loggin in</translate></label>
      </td>
     </tr>

     [%- IF AUTH_RIGHTS_SALES_QUOTATION_EDIT %]
     <tr>
      <th align="right"><translate>Show overdue sales quotations and requests for quotations...</translate></th>
      <td>
       <input type="checkbox" name="todo_cfg.show_overdue_sales_quotations" id="todo_cfg_show_overdue_sales_quotations" value="1"[% IF todo_cfg.show_overdue_sales_quotations %] checked[% END %]>
       <label for="todo_cfg_show_overdue_sales_quotations"><translate>...on the TODO list</translate></label>
      </td>
      <td>
       <input type="checkbox" name="todo_cfg.show_overdue_sales_quotations_login" id="todo_cfg_show_overdue_sales_quotations_login" value="1"[% IF todo_cfg.show_overdue_sales_quotations_login %] checked[% END %]>
       <label for="todo_cfg_show_overdue_sales_quotations_login"><translate>...after loggin in</translate></label>
      </td>
     </tr>
     [%- END %]
    </table>

    <br style="clear: left" />
   </div>
  </div>

  <p><input type="submit" class="submit" name="action" value="<translate>Save</translate>"></p>
 </form>

 <script type="text/javascript">
  <!--
      var maintab = new ddtabcontent("maintab");
      maintab.setpersist(true);
      maintab.setselectedClassTarget("link"); //"link" or "linkparent"
      maintab.init();
    -->
 </script>

</body>
</html>
