[% USE HTML %]<body>

 <div class="listheading">[% title %]</div>

 <form method="post" name="Form" action="amtemplates.pl">

  [% FOREACH var = HIDDEN %]<input type="hidden" name="[% HTML.escape(var.name) %]" value="[% HTML.escape(var.value) %]">[% END %]

  [% IF SHOW_EDIT_OPTIONS %]
   <p>
    Template
    <select name="formname">
     [% FOREACH row = FORMNAME %]<option value="[% HTML.escape(row.value) %]" [% IF row.value == formname %]selected[% END %]>[% HTML.escape(row.label) %]</option>[% END %]
    </select>

    [% IF LANGUAGE.size %]
     Language
     <select name="language">
      <option></option>
      [% FOREACH row = LANGUAGE %]<option value="[% HTML.escape(row.value) %]" [% IF row.value == language %]selected[% END %]>[% HTML.escape(row.label) %]</option>[% END %]
     </select>
    [% END %]

    [% IF PRINTER.size %]
     Printer
     <select name="printer">
      <option></option>
      [% FOREACH row = PRINTER %]<option value="[% HTML.escape(row.value) %]" [% IF row.value == printer %]selected[% END %]>[% HTML.escape(row.label) %]</option>[% END %]
     </select>
    [% END %]

    <input type="hidden" name="display_nextsub" value="display_template">

    <input name="action" type="submit" class="submit" value="Display">

   </p>

   <hr>
  [% END %]



  [% IF SHOW_CONTENT %]
   <p>
    <div class="listtop">
     [% IF CAN_EDIT %]Edit file[% ELSE %]Display file[% END %] [% HTML.escape(display_filename) %]
    </div>
   </p>

   [% IF CAN_EDIT %]
    <p><textarea name="content" id="content" cols="100" rows="25">[% HTML.escape(content) %]</textarea></p>

    <p>
     <input type="hidden" name="save_nextsub" value="save_template">
     <input type="submit" name="action" value="Save">
     <input type="button" onclick="history.back()" value="Back">
    </p>

    [% ELSE %]

    <input type="hidden" name="edit_nextsub" value="edit_template">

    <p><input name="action" type="submit" class="submit" value="Edit"></p>

    <p><pre class="filecontent">[% HTML.escape(content) %]</pre></p>

    [% IF SHOW_SECOND_EDIT_BUTTON %]
     <p><input name="action" type="submit" class="submit" value="Edit"></p>
    [% END %]

   [% END %] <!-- CAN_EDIT -->

  [% END %] <!-- SHOW_CONTENT -->

 </form>

</body>
</html>
