[%- USE T8 %]
[%- USE HTML %]

 [% IF MESSAGE %]<p>[% MESSAGE %]</p>[% END %]

 <div class="listtop">[% title %]</div>

 <form method="post" action="am.pl">

  <p>
   <table border="0">
    <tr>
     <td align="right">[% 'Description' | $T8 %]</td>
     <td><input id="description" name="description" value="[% HTML.escape(description) %]" class="initial_focus"></td>
    </tr>

    <tr>
     <td align="right">[% 'Factor' | $T8 %]</td>
     <td><input name="factor" value="[% HTML.escape(factor) %]"></td>
    </tr>
   </table>
  </p>

  <p>
   <input type="hidden" name="callback" value="[% HTML.escape(callback) %]">

   <input type="hidden" name="type" value="price_factor">

   <input type="hidden" name="id" value="[% HTML.escape(id) %]">
   <input type="submit" name="action" value="[% 'Save' | $T8 %]">
   [% IF id %][% IF orphaned %]<input type="submit" name="action" value="[% 'Delete' | $T8 %]">[% END %][% END %]
  </p>
 </form>
