[%- USE T8 %][%- USE LxERP %][% USE L %]
[% USE HTML %]
<h1>[% title %]</h1>

[% INCLUDE "common/flash.html" %]

[% PROCESS "am/_units_header_info.html" %]

<hr>

<p>
 [% 'Units that have already been used (e.g. for parts and services or in invoices or warehouse transactions) cannot be changed.' | $T8 %]
</p>

<p>
 [% 'Units marked for deletion will be deleted upon saving.' | $T8 %]
</p>

<p>
 [% 'You can declare different translations for singular and plural for each unit (e.g. &quot;day&quot; and &quot;days).' | $T8 %]
</p>

<form method="post" action="[% HTML.escape(script) %]" id="form">

 <input type="hidden" name="type" value="unit">

 <table id="unit_list">
  <thead>
  <tr class="listheading">
   <th align="center"><img src="image/updown.png" alt="[%- LxERP.t8('reorder item') %]"></th>
   <th>[% 'Delete' | $T8 %]</th>
   <th>[% 'Unit' | $T8 %]</th>
   <th>[% 'Base unit' | $T8 %]</th>
   <th>[% 'Factor' | $T8 %]</th>
   [% FOREACH language = LANGUAGES %]
    <th>[% language.description %]</th>
   [% END %]
  </tr>
  </thead>

  <tbody>
  [% FOREACH row = UNITS %]
   <tr class="listrow[% loop.count % 2 %]" id="unit_id_[% row.id %]">
    <td align="center" class="dragdrop"><img src="image/updown.png" alt="[%- LxERP.t8('reorder item') %]"></td>
    [% IF row.in_use %]
     <td>
      <input type="hidden" name="unchangeable_[% loop.count %]" value="1">
      <input type="hidden" name="old_name_[% loop.count %]" value="[% HTML.escape(row.name) %]">
     </td>

     <td>[% HTML.escape(row.name) %]</td>
     <td>[% IF row.base_unit %][% HTML.escape(row.base_unit) %][% ELSE %]---[% END %]</td>
     <td>[% IF row.base_unit %][% HTML.escape(row.factor) %][% ELSE %]---[% END %]</td>

     [% ELSE %]

     <td align="center"><input type="checkbox" name="delete_[% loop.count %]"></td>
     <td>
      <input type="hidden" name="old_name_[% loop.count %]" value="[% HTML.escape(row.name) %]">
      <input name="name_[% loop.count %]" size="10" maxlength="20" value="[% HTML.escape(row.name) %]">
     </td>
     <td>
      <select name="base_unit_[% loop.count %]">
       [% FOREACH option = row.BASE_UNIT_DDBOX %]<option [% option.selected %]>[% HTML.escape(option.name) %]</option>[% END %]
      </select>
     </td>
     <td><input name="factor_[% loop.count %]" size="8" value="[% row.factor %]"></td>
    [% END %]

    [% FOREACH language = row.UNITLANGUAGES %]
     <td>
      [% 'singular first char' | $T8 %]:
      <input name="localized_[% language.idx %]_[% language.language_id %]" value="[% HTML.escape(language.localized) %]" size="6" maxlength="20">
      [% 'plural first char' | $T8 %]:
      <input name="localized_plural_[% language.idx %]_[% language.language_id %]" value="[% HTML.escape(language.localized_plural) %]" size="6" maxlength="20">
     </td>
    [% END %]
   </tr>
  [% END %]
  </tbody>
 </table>

 <input type="hidden" name="rowcount" value="[% UNITS.size %]">

 </form>

 [% L.sortable_element('#unit_list tbody', url => 'controller.pl?action=Unit/reorder', with => 'unit_id') %]
