[% USE HTML %]<body>

 <div class="listtop">[% title %]</div>

 <form method="post" action="am.pl"name="Form">

  <input type="hidden" name="type" value="defaults">

  <p>
   <table>
    <tr class="listheading">
     <th colspan="4">Ranges of numbers</th>
    </tr>

    <tr>
     <th align="right" nowrap>Last Invoice Number</th>
     <td><input name="invnumber" size="10" value="[% HTML.escape(defaults_invnumber) %]"></td>
     <th align="right" nowrap>Last Customer Number</th>
     <td><input name="customernumber" size="10" value="[% HTML.escape(defaults_customernumber) %]"></td>
    </tr>

    <tr>
     <th align="right" nowrap>Last Credit Note Number</th>
     <td><input name="cnnumber" size="10" value="[% HTML.escape(defaults_cnnumber) %]"></td>
     <th align="right" nowrap>Last Vendor Number</th>
     <td><input name="vendornumber" size="10" value="[% HTML.escape(defaults_vendornumber) %]"></td>
    </tr>

    <tr>
     <th align="right" nowrap>Last Sales Order Number</th>
     <td><input name="sonumber" size="10" value="[% HTML.escape(defaults_sonumber) %]"></td>
    </tr>

    <tr>
     <th align="right" nowrap>Last Purchase Order Number</th>
     <td><input name="ponumber" size="10" value="[% HTML.escape(defaults_ponumber) %]"></td>
     <th align="right" nowrap>Last Article Number</th>
     <td><input name="articlenumber" size="10" value="[% HTML.escape(defaults_articlenumber) %]"></td>
    </tr>

    <tr>
     <th align="right" nowrap>Last Sales Quotation Number</th>
     <td><input name="sqnumber" size="10" value="[% HTML.escape(defaults_sqnumber) %]"></td>
     <th align="right" nowrap>Last Service Number</th>
     <td><input name="servicenumber" size="10" value="[% HTML.escape(defaults_servicenumber) %]"></td>
    </tr>

    <tr>
     <th align="right" nowrap>Last RFQ Number</th>
     <td><input name="rfqnumber" size="10" value="[% HTML.escape(defaults_rfqnumber) %]"></td>
    </tr>

    <tr>
     <th align="right" nowrap>Last Sales Delivery Order Number</th>
     <td><input name="sdonumber" size="10" value="[% HTML.escape(defaults_sdonumber) %]"></td>
     <th align="right" nowrap>Last Purchase Delivery Order Number</th>
     <td><input name="pdonumber" size="10" value="[% HTML.escape(defaults_pdonumber) %]"></td>
    </tr>

    <tr class="listheading">
     <th colspan="4">Default Accounts</th>
    </tr>

    <tr>
     <th align="right" nowrap>Inventory Account</th>
     <td colspan="3">
      <select name="inventory_accno">
       [%- FOREACH row = ACCNOS_IC %]
       <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
       [%- END %]
      </select>
     </td>
    </tr>

    <tr>
     <th align="right" nowrap>Revenue Account</th>
     <td colspan="3">
      <select name="income_accno">
       [%- FOREACH row = ACCNOS_IC_INCOME %]
       <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
       [%- END %]
      </select>
     </td>
    </tr>

    <tr>
     <th align="right" nowrap>Expense Account</th>
     <td colspan="3">
      <select name="expense_accno">
       [%- FOREACH row = ACCNOS_IC_EXPENSE %]
       <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
       [%- END %]
      </select>
     </td>
    </tr>

    <tr>
     <th align="right" nowrap>Foreign Exchange Gain</th>
     <td colspan="3">
      <select name="fxgain_accno">
       [%- FOREACH row = ACCNOS_FX_GAIN %]
       <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
       [%- END %]
      </select>
     </td>
    </tr>

    <tr>
     <th align="right" nowrap>Foreign Exchange Loss</th>
     <td colspan="3">
      <select name="fxloss_accno">
       [%- FOREACH row = ACCNOS_FX_LOSS %]
       <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
       [%- END %]
      </select>
     </td>
    </tr>

    <tr class="listheading">
     <th colspan="4">Miscellaneous</th>
    </tr>

    <tr>
     <th align="right">Business Number</th>
     <td colspan="3"><input name="businessnumber" size="25" value="[% HTML.escape(defaults_businessnumber) %]"></td>
    </tr>

    <tr>
     <th align="right">Year End (mm/dd)</th>
     <td colspan="3"><input name="yearend" size="5" value="[% HTML.escape(defaults_yearend) %]"></td>
    </tr>

    <tr>
     <th align="right">Currencies <sup>(1)</sup></th>
     <td colspan="3"><input name="curr" size="20" value="[% HTML.escape(defaults_curr) %]"></td>
    </tr>

    <tr>
     <th align="right">Weight unit</th>
 <!--    <td colspan="3"><input name="weightunit" size="20" maxlength="5" value="[% HTML.escape(defaults_weightunit) %]"></td> -->
     <td>
      [%- INCLUDE 'generic/multibox.html'
           name          = 'weightunit',
           default       = defaults_weightunit,
           style         = 'size:20; maxength:5',
           DATA          = ALL_UNITS,
           id_key        = 'name',
           label_key     = 'name',
           -%]
      </td>
    </tr>

   </table>
  </p>

  <hr height="3" noshade>

  <p><input type="submit" class="submit" name="action" value="Save"></p>

  <hr height="3" noshade>

  <p>
   (1) Enter up to 3 letters separated by a colon (i.e CAD:USD:EUR) for your native and foreign currencies
  </p>
 </form>

</body>
</html>
