[% USE HTML %]<script type="text/javascript" src="js/FormManager.js" >
/****************************************************
* Form Dependency Manager- By Twey- http://www.twey.co.uk
* Visit Dynamic Drive for this script and more: http://www.dynamicdrive.com
****************************************************/
</script>

<script type="text/javascript">
window.onload = function() {
    setupDependencies('EditAccount'); //name of form(s). Seperate each with a comma (ie: 'weboptions', 'myotherform' )
  };
</script>

<body>
<form method="post" name="EditAccount" action="am.pl">

<input type="hidden" name="id"                 value="[% HTML.escape(id) %]">
<input type="hidden" name="type"               value="account">
<input type="hidden" name="orphaned"           value="[% HTML.escape(orphaned) %]">
<input type="hidden" name="new_chart_valid"    value="[% HTML.escape(new_chart_valid) %]">
<input type="hidden" name="inventory_accno_id" value="[% HTML.escape(inventory_accno_id) %]">
<input type="hidden" name="income_accno_id"    value="[% HTML.escape(income_accno_id) %]">
<input type="hidden" name="expense_accno_id"   value="[% HTML.escape(expense_accno_id) %]">
<input type="hidden" name="fxgain_accno_id"    value="[% HTML.escape(fxgain_accno_id) %]">
<input type="hidden" name="fxloss_accno_id"    value="[% HTML.escape(fxloss_accno_id) %]">

<table border="0" width="100%">
  <tr>
    <th class="listtop">[% title %]</th>
  </tr>
</table>

<fieldset>
  <legend>
    <translate>Main Preferences</translate>
  </legend>
  <table>
    <tr>
      <td>
        <label>
          <translate>Account Number</translate>
        </label></td>
        <td><input name="accno" size="20" value="[% HTML.escape(accno) %]"></td>
    </tr>
    <tr>
      <td>
        <label>
          <translate>Description</translate>
        </label>
      </td>
      <td><input name="description" size="40" value="[% HTML.escape(description) %]"></td>
    </tr>
    <tr>
      <td>
        <label>
          <translate>Chart Type</translate>

        </label>
      </td>
      <td><select name="charttype">[% select_charttype %]</select></td>
    </tr>
  </table>
</fieldset>
<fieldset class="DEPENDS ON charttype BEING A">
  <legend><translate>Account Type</translate></legend>
  <select name="category" id="AccountType" class="DEPENDS ON charttype BEING A">
          [% select_category %]</select>
</fieldset>

[% IF ChartTypeIsAccount %]
<fieldset class="DEPENDS ON charttype BEING A">
  <legend><translate>Is this a summary account to record</translate></legend>
    <input name="AR" type="checkbox" class="checkbox" value="AR" [% HTML.escape(AR) %]>
    &nbsp;<translate>AR</translate>
    <input name="AP" type="checkbox" class="checkbox" value="AP" [% HTML.escape(AP) %]>
    &nbsp;<translate>AP</translate>
    <input name="IC" type="checkbox" class="checkbox" value="IC" [% HTML.escape(IC) %]>
    &nbsp;<translate>Inventory</translate>
</fieldset>

<fieldset class="DEPENDS ON charttype BEING A">
  <legend><translate>Include in drop-down menus</translate></legend>
  <table width="100%">
    <tr>
      <th align="left"><translate>Receivables</translate></th>
      <th align="left"><translate>Payables</translate></th>
      <th align="left"><translate>Parts Inventory</translate></th>
      <th align="left"><translate>Service Items</translate></th>
    </tr>
    <tr>
      <td>
        <input name="AR_amount" type="checkbox" class="checkbox" value="AR_amount"
          [% HTML.escape(AR_amount) %]>&nbsp;
        <translate>Revenue</translate> <br>
        <input name="AR_paid" type="checkbox" class="checkbox" value="AR_paid"
          [% HTML.escape(AR_paid) %]>&nbsp;
        <translate>Receipt</translate> <br>
        <input name="AR_tax" type="checkbox" class="checkbox" value="AR_tax"
          [% HTML.escape(AR_tax) %]>&nbsp;
        <translate>Tax</translate>
      </td>
      <td>
        <input name="AP_amount" type="checkbox" class="checkbox" value="AP_amount"
          [% HTML.escape(AP_amount) %]>&nbsp;
        <translate>Expense/Asset</translate> <br>
        <input name="AP_paid" type="checkbox" class="checkbox" value="AP_paid"
          [% HTML.escape(AP_paid) %]>&nbsp;
        <translate>Payment</translate> <br>
        <input name="AP_tax" type="checkbox" class="checkbox" value="AP_tax"
            [% HTML.escape(AP_tax) %]>&nbsp;
        <translate>Tax</translate>
      </td>
      <td>
        <input name="IC_sale" type="checkbox" class="checkbox" value="IC_sale"
          [% HTML.escape(IC_sale) %]>&nbsp;
        <translate>Revenue</translate> <br>
        <input name="IC_cogs" type="checkbox" class="checkbox" value="IC_cogs"
          [% HTML.escape(IC_cogs) %]>&nbsp;
        <translate>Expense</translate> <br>
        <input name="IC_taxpart" type="checkbox" class="checkbox" value="IC_taxpart"
          [% HTML.escape(IC_taxpart) %]>&nbsp;
        <translate>Tax</translate>
      </td>
      <td>
        <input name=IC_income type=checkbox class=checkbox value="IC_income"
          [% HTML.escape(IC_income) %]>&nbsp;
        <translate>Revenue</translate> <br>
        <input name=IC_expense type=checkbox class=checkbox value="IC_expense"
          [% HTML.escape(IC_expense) %]>&nbsp;
        <translate>Expense</translate> <br>
        <input name=IC_taxservice type=checkbox class=checkbox value="IC_taxservice"
          [% HTML.escape(IC_taxservice) %]>&nbsp;
        <translate>Tax</translate>
      </td>
    </tr>
  </table>
</fieldset>

<fieldset class="DEPENDS ON charttype BEING A">
  <legend>
    <translate>Taxkeys and Taxreport Preferences</translate>
  </legend>

            <table>
[% IF account_exists %]
              <tr>
                <th align="left"><translate>Taxkey</translate></th>
                <th align="left"><translate>valid from</translate></th>
                <th align="left"><translate>pos_ustva</translate></th>
                <th align="left"><translate>delete</translate> ? </th>
              </tr>
[% FOREACH tk = ACCOUNT_TAXKEYS %]
              <tr>
    [% IF tk.id %]
                <input type="hidden" name="taxkey_id_[% tk.runningnumber %]" value="[% tk.id %]">
                <td><select name="taxkey_tax_[% tk.runningnumber %]">[% tk.selecttaxkey %]</select></td>
                <td><input name="taxkey_startdate_[% tk.runningnumber %]" value="[% HTML.escape(tk.startdate) %]"></td>
                <td><select name="taxkey_pos_ustva_[% tk.runningnumber %]">[% tk.select_tax %]</select></td>
                <td><input name="taxkey_del_[% tk.runningnumber %]" type="checkbox"
                class="checkbox" value="delete"></td>
    [% ELSE %]
                <input type="hidden" name="taxkey_id_[% tk.runningnumber %]" value="NEW">
                <td><select name="taxkey_tax_[% tk.runningnumber %]">[% tk.selecttaxkey %]</select></td>
                <td><input name="taxkey_startdate_[% tk.runningnumber %]" value="[% HTML.escape(tk.startdate) %]"></td>
                <td><select name="taxkey_pos_ustva_[% tk.runningnumber %]">[% tk.select_tax %]</select></td>
                <td>&nbsp;</td>
    [% END %]
              </tr>

[% END %]
[% ELSE %]
<tr>
  <td align="center" colspan="4"><p><translate>Save account first to insert taxkeys</translate></p>
  </td>
</tr>
[% END %]
            </table>
</fieldset>

<fieldset class="DEPENDS ON charttype BEING A">
  <legend><translate>Report and misc. Preferences</translate></legend>
  <table>
        <tr>
          <th align="left"><translate>EUER</translate></th>
          <td colspan="3"><select name="pos_eur">[% select_eur %]</select></td>
        </tr>
        <tr>
          <th align="left"><translate>BWA</translate></th>
          <td colspan="3"><select name="pos_bwa">[% select_bwa %]</select></td>
        </tr>
        <tr>
          <th align="left"><translate>Bilanz</translate></th>
          <td colspan="3"><select name="pos_bilanz">[% select_bilanz %]</select></td>
        </tr>
        <tr>
          <th align="left"><translate>Datevautomatik</translate></th>
          <td colspan="3"><input name="datevautomatik" type="checkbox" class="checkbox" value="T" [% IF datevautomatik %]checked [% END %]></td>
        </tr>
        <tr>
          <th align="left"><translate>Folgekonto</translate></th>
          <td><select name="new_chart_id">[% selectnewaccount %]</select></td>
          <th align="left"><translate>Valid from</translate></th>
          <td><input name="valid_from" value="[% valid_from %]"></td>
        </tr>
  </table>
[% END %]
</fieldset>
<hr size="3" noshade>
