[%- USE T8 %]
[%- USE HTML %]
[%- USE L %]
[%- USE LxERP %]
<h1>[% 'Tax-O-Matic' | $T8 %] [% title %]</h1>

 <form method="post" action="am.pl">
  <input type="hidden" name="id" value="[% HTML.escape(id) %]">
  <input type="hidden" name="type" value="tax">

  <table width="100%">
   <tr>
    <td>[% 'tax_taxkey' | $T8 %]</td>
    <td>[% IF tax_already_used %]<p>[% HTML.escape(taxkey) %]</p>
        <input type="hidden" name="taxkey" size="2" value="[% HTML.escape(taxkey) %]">
        [% ELSE %]<input name="taxkey" size="2" value="[% HTML.escape(taxkey) %]">
        [% END %]</td>
   </tr>

   <tr>
    <td>[% 'tax_taxdescription' | $T8 %]</td>
    <td><input name="taxdescription" size="60" value="[% HTML.escape(taxdescription) %]"></td>
   </tr>

   [%- FOREACH language = LANGUAGES %]
    <tr>
     <td>[%- HTML.escape(language.description) %] ([%- LxERP.t8('Translation') %])</td>
     <td>
      <input name="translation_[% language.id %]" value="[%- HTML.escape(TAX.translated_attribute('taxdescription', language, 1)) %]" size="60">
     </td>
    </tr>
   [%- END %]

   <tr>
    <td>[% 'tax_percent' | $T8 %]</td>
    <td>[% IF tax_already_used %]<p>[% HTML.escape(rate) %] %</p>
        <input type="hidden" name="rate" size="10" value="[% HTML.escape(rate) %]">
        [% ELSE %]<input name="rate" size="10" value="[% HTML.escape(rate) %]"> %
        [% END %]</td>
   </tr>

   <tr>
    <td>[% 'tax_chartaccno' | $T8 %]</td>
    <td><select name="chart_id"><option value="">[% 'None' | $T8 %]</option>[% FOREACH row = ACCOUNTS %]<option value="[% HTML.escape(row.id) %]" [% IF row.selected %]selected[% END %]>[% HTML.escape(row.taxaccount) %]</option>[% END %]</select></td>
   </tr>
   <tr>
    <td>[% 'Automatic skonto chart sales' | $T8 %]</td>
    <td> [% L.select_tag('skonto_sales_chart_id', AR_PAID, value_title_sub = \skontochart_value_title_sub, with_empty = 1, default = skonto_sales_chart_id) %]</td>
   </tr>
   <tr>
    <td>[% 'Automatic skonto chart purchase' | $T8 %]</td>
    <td> [% L.select_tag('skonto_purchase_chart_id', AP_PAID, value_title_sub = \skontochart_value_title_sub, with_empty = 1, default = skonto_purchase_chart_id) %]</td>
   </tr>
   <tr>
    <td>[% 'Account categories' | $T8 %]</td>
    <td><table>
          <colgroup>
            <col width="10">
            <col width="130">
            <col width="10">
            <col width="130">
            <col width="10">
            <col width="130">
            <col width="10">
            <col width="130">
            <col width="10">
            <col width="130">
            <col width="10">
            <col width="130">
          </colgroup>
          <tr>
            <td align="right">[% IF asset %]
                                [% L.checkbox_tag('asset', value => 1, checked => 1, class => 'checkbox') %]
                              [% ELSE %]
                                [% L.checkbox_tag('asset', value => 1, checked => 0, class => 'checkbox') %]
                              [% END %]
            </td>
            <td align="left">[% 'Asset' | $T8 %] (A)</td>
            <td align="right">[% IF liability %]
                                [% L.checkbox_tag('liability', value => 1, checked => 1, class => 'checkbox') %]
                              [% ELSE %]
                                [% L.checkbox_tag('liability', value => 1, checked => 0, class => 'checkbox') %]
                              [% END %]
            </td>
            <td align="left">[% 'Liability' | $T8 %] (L)</td>
            <td align="right">[% IF equity %]
                                [% L.checkbox_tag('equity', value => 1, checked => 1, class => 'checkbox') %]
                              [% ELSE %]
                                [% L.checkbox_tag('equity', value => 1, checked => 0, class => 'checkbox') %]
                              [% END %]
            </td>
            <td align="left">[% 'Equity' | $T8 %] (Q)</td>
            <td align="right">[% IF revenue %]
                                [% L.checkbox_tag('revenue', value => 1, checked => 1, class => 'checkbox') %]
                              [% ELSE %]
                                [% L.checkbox_tag('revenue', value => 1, checked => 0, class => 'checkbox') %]
                              [% END %]
            </td>
            <td align="left">[% 'Revenue' | $T8 %] (I)</td>
            <td align="right">[% IF expense %]
                                [% L.checkbox_tag('expense', value => 1, checked => 1, class => 'checkbox') %]
                              [% ELSE %]
                                [% L.checkbox_tag('expense', value => 1, checked => 0, class => 'checkbox') %]
                              [% END %]
            </td>
            <td align="left">[% 'Expense' | $T8 %] (E)</td>
            <td align="right">[% IF costs %]
                                [% L.checkbox_tag('costs', value => 1, checked => 1, class => 'checkbox') %]
                              [% ELSE %]
                                [% L.checkbox_tag('costs', value => 1, checked => 0, class => 'checkbox') %]
                              [% END %]
            </td>
            <td align="left">[% 'Costs' | $T8 %] (C)</td>
          </tr>
        </table>
     </td>
   </tr>

  </table>
  </table>

  [% UNLESS orphaned %]
  <br />
  [% 'Chartaccounts connected to this Tax:' | $T8 %]
  [% FOREACH row = TAXINUSE %]
  <a href="am.pl?action=edit_account&id=[% HTML.url(row.id) %]&callback=[% HTML.url(callback) %]">[% HTML.escape(row.accno) %]</a>&nbsp;
  [% END %]
  <br />
  [% END %]

  <input type="hidden" name="callback" value="[% HTML.escape(callback) %]">

  <input type="submit" class="submit" name="action" value="[% 'Save' | $T8 %]">

  [% IF orphaned AND NOT tax_already_used %]
  <input type="submit" class="submit" name="action" value="[% 'Delete' | $T8 %]">
  [% END %]

</form>

