[% USE HTML %]<body>

 <div class="listtop">[% title %]</div>

 <form method="post" action="am.pl"name="Form">

  <input type="hidden" name="type" value="defaults">

  <p>
   <table>
    <tr class="listheading">
     <th colspan="4"><translate>Ranges of numbers</translate></th>
    </tr>

    <tr>
     <th align="right" nowrap><translate>Last Invoice Number</translate></th>
     <td><input name="invnumber" size="10" value="[% HTML.escape(defaults_invnumber) %]"></td>
     <th align="right" nowrap><translate>Last Customer Number</translate></th>
     <td><input name="customernumber" size="10" value="[% HTML.escape(defaults_customernumber) %]"></td>
    </tr>

    <tr>
     <th align="right" nowrap><translate>Last Credit Note Number</translate></th>
     <td><input name="cnnumber" size="10" value="[% HTML.escape(defaults_cnnumber) %]"></td>
     <th align="right" nowrap><translate>Last Vendor Number</translate></th>
     <td><input name="vendornumber" size="10" value="[% HTML.escape(defaults_vendornumber) %]"></td>
    </tr>

    <tr>
     <th align="right" nowrap><translate>Last Sales Order Number</translate></th>
     <td><input name="sonumber" size="10" value="[% HTML.escape(defaults_sonumber) %]"></td>
    </tr>

    <tr>
     <th align="right" nowrap><translate>Last Purchase Order Number</translate></th>
     <td><input name="ponumber" size="10" value="[% HTML.escape(defaults_ponumber) %]"></td>
     <th align="right" nowrap><translate>Last Article Number</translate></th>
     <td><input name="articlenumber" size="10" value="[% HTML.escape(defaults_articlenumber) %]"></td>
    </tr>

    <tr>
     <th align="right" nowrap><translate>Last Sales Quotation Number</translate></th>
     <td><input name="sqnumber" size="10" value="[% HTML.escape(defaults_sqnumber) %]"></td>
     <th align="right" nowrap><translate>Last Service Number</translate></th>
     <td><input name="servicenumber" size="10" value="[% HTML.escape(defaults_servicenumber) %]"></td>
    </tr>

    <tr>
     <th align="right" nowrap><translate>Last RFQ Number</translate></th>
     <td><input name="rfqnumber" size="10" value="[% HTML.escape(defaults_rfqnumber) %]"></td>
    </tr>

    <tr>
     <th align="right" nowrap><translate>Last Sales Delivery Order Number</translate></th>
     <td><input name="sdonumber" size="10" value="[% HTML.escape(defaults_sdonumber) %]"></td>
     <th align="right" nowrap><translate>Last Purchase Delivery Order Number</translate></th>
     <td><input name="pdonumber" size="10" value="[% HTML.escape(defaults_pdonumber) %]"></td>
    </tr>

    <tr>
     <th align="right" nowrap><translate>Last Return Material Slip Number</translate></th>
     <td><input name="rmsnumber" size="10" value="[% HTML.escape(defaults_rmsnumber) %]"></td>
     <th align="right" nowrap><translate>Last Order Request Number</translate></th>
     <td><input name="oreqnumber" size="10" value="[% HTML.escape(defaults_oreqnumber) %]"></td>
    </tr>

    <tr>
     <th align="right" nowrap><translate>Last Release Material Slip Number</translate></th>
     <td><input name="rlmsnumber" size="10" value="[% HTML.escape(defaults_rlmsnumber) %]"></td>
    </tr>

    <tr class="listheading">
     <th colspan="4"><translate>Default Accounts</translate></th>
    </tr>

    <tr>
     <th align="right" nowrap><translate>Inventory Account</translate></th>
     <td colspan="3">
      <select name="inventory_accno">
       [%- FOREACH row = ACCNOS_IC %]
       <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
       [%- END %]
      </select>
     </td>
    </tr>

    <tr>
     <th align="right" nowrap><translate>Revenue Account</translate></th>
     <td colspan="3">
      <select name="income_accno">
       [%- FOREACH row = ACCNOS_IC_INCOME %]
       <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
       [%- END %]
      </select>
     </td>
    </tr>

    <tr>
     <th align="right" nowrap><translate>Expense Account</translate></th>
     <td colspan="3">
      <select name="expense_accno">
       [%- FOREACH row = ACCNOS_IC_EXPENSE %]
       <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
       [%- END %]
      </select>
     </td>
    </tr>

    <tr>
     <th align="right" nowrap><translate>Foreign Exchange Gain</translate></th>
     <td colspan="3">
      <select name="fxgain_accno">
       [%- FOREACH row = ACCNOS_FX_GAIN %]
       <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
       [%- END %]
      </select>
     </td>
    </tr>

    <tr>
     <th align="right" nowrap><translate>Foreign Exchange Loss</translate></th>
     <td colspan="3">
      <select name="fxloss_accno">
       [%- FOREACH row = ACCNOS_FX_LOSS %]
       <option value="[% HTML.escape(row.value) %]"[% IF row.selected %] selected[% END %]>[% HTML.escape(row.name) %]</option>
       [%- END %]
      </select>
     </td>
    </tr>

    <tr class="listheading">
     <th colspan="4"><translate>Miscellaneous</translate></th>
    </tr>

    <tr>
     <th align="right"><translate>Business Number</translate></th>
     <td colspan="3"><input name="businessnumber" size="25" value="[% HTML.escape(defaults_businessnumber) %]"></td>
    </tr>

    <tr>
     <th align="right"><translate>Year End</translate> (mm/dd)</th>
     <td colspan="3"><input name="yearend" size="5" value="[% HTML.escape(defaults_yearend) %]"></td>
    </tr>

    <tr>
     <th align="right"><translate>Currencies</translate> <sup>(1)</sup></th>
     <td colspan="3"><input name="curr" size="20" value="[% HTML.escape(defaults_curr) %]"></td>
    </tr>

   </table>
  </p>

  <hr height="3" noshade>

  <p><input type="submit" class="submit" name="action" value="<translate>Save</translate>"></p>

  <hr height="3" noshade>

  <p>
   (1) <translate>Enter up to 3 letters separated by a colon (i.e CAD:USD:EUR) for your native and foreign currencies</translate>
  </p>
 </form>

</body>
</html>
