[% USE HTML %]<body>

 [% IF MESSAGE %]<p>[% MESSAGE %]</p>[% END %]

 <div class="listtop">[% title %]</div>

 <form method="post" action="am.pl">

  <p>
   <table border="0">
    <tr>
     <td align="right"><translate>Description</translate></td>
     <td><input name="description" value="[% HTML.escape(description) %]"></td>
    </tr>

    <tr>
     <td align="right"><translate>Factor</translate></td>
     <td><input name="factor" value="[% HTML.escape(factor) %]"></td>
    </tr>
   </table>
  </p>

  <p>
   <input type="hidden" name="login" value="[% HTML.escape(login) %]">
   <input type="hidden" name="password" value="[% HTML.escape(password) %]">
   <input type="hidden" name="callback" value="[% HTML.escape(callback) %]">

   <input type="hidden" name="type" value="price_factor">

   <input type="hidden" name="id" value="[% HTML.escape(id) %]">
   <input type="submit" name="action" value="<translate>Save</translate>">
   [% IF id %][% IF orphaned %]<input type="submit" name="action" value="<translate>Delete</translate>">[% END %][% END %]
  </p>
 </form>

</body>
</html>
