[% USE HTML %]<body [% IF onload %]onload="[% onload %]"[% END %]>

 [% IF saved_message %]
  <p>[% saved_message %]</p>
 [% END %]

 <form method="post" action="am.pl">

  <input type="hidden" name="id" value="[% HTML.escape(id) %]">

  <input type="hidden" name="type" value="warehouse">
  <input type="hidden" name="callback" value="[% HTML.escape(callback) %]">

  <div class="listtop">[% IF id %]Lager bearbeiten[% ELSE %]Lager erfassen[% END %]</div>

  <table border="0">
   <tr>
    <td align="right">Beschreibung</td>
    <td>
     <input name="description" size="60" value="[% HTML.escape(description) %]">
     <input type="hidden" name="orig_description" value="[% HTML.escape(description) %]">
    </td>
   </tr>

   <tr>
    <td align="right">Ung&uuml;ltig</td>
    <td><input type="checkbox" name="invalid" value="1" [% IF invalid %]checked[% END %]></td>
   </tr>

   <tr>
    <td align="right">Anzahl neuer Lagerpl&auml;tze</td>
    <td><input name="number_of_new_bins"></td>
   </tr>

   <tr>
    <td align="right">Namenspr&auml;fix f&uuml;r die neuen Lagerpl&auml;tze</td>
    <td><input name="prefix" value="Lagerplatz"></td>
   </tr>
  </table>

  <p>
   <input type="submit" class="submit" name="action" value="Speichern">
   [%- IF id %][%- UNLESS in_use %]
   <input type="submit" class="submit" name="action" value="Löschen">
   [%- END %][%- END %]
  </p>

 </form>

 [% IF id %]

 <hr height="3">

 <div class="listtop">Lagerpl&auml;tze bearbeiten</div>

 [% UNLESS BINS.size %]
 <p>Es wurden zu diesem Lager noch keine Lagerpl&auml;tze angelegt.</p>

 [% ELSE %]

 <p>
  Lagerpl&auml;tze, die bereits benutzt wurden, k&ouml;nnen nicht mehr gel&ouml;scht werden. Deswegen fehlt bei ihnen die Checkbox in der Spalte &quot;L&ouml;schen&quot;.
 </p>

 <form method="post" action="am.pl">

  <input type="hidden" name="warehouse_id" value="[% HTML.escape(id) %]">

  <input type="hidden" name="type" value="bin">
  <input type="hidden" name="callback" value="[% HTML.escape(callback) %]">

  <table border="0">
   <tr>
    <th class="listheading">Löschen</th><th class="listheading">Beschreibung</th>
    <th class="listheading">Löschen</th><th class="listheading">Beschreibung</th>
   </tr>
   [%- SET row_odd = '1' %]
   [%- USE bin_it = Iterator(BINS) %]
   [%- FOREACH bin = bin_it %]
   [%- IF row_odd %]
   <tr>
    [%- END %]

    <td>[% IF bin.in_use %]&nbsp;[% ELSE %]<input type="checkbox" name="delete_[% bin_it.count %]" value="1">[% END %]</td>
    <td>
     <input type="hidden" name="id_[% bin_it.count %]" value="[% HTML.escape(bin.id) %]">
     <input name="description_[% bin_it.count %]" value="[% HTML.escape(bin.description) %]">
    </td>

    [%- SET end_tr = '0' %]
    [%- UNLESS row_odd %][%- SET end_tr = '1' %][%- END %]
    [%- IF bin_it.last %][%- SET end_tr = '1' %][%- END %]
    [%- IF end_tr %]
   </tr>
   [%- END %]

   [%- IF row_odd %][% SET row_odd = '0' %][% ELSE %][% SET row_odd = '1' %][% END %]
   [%- END %]
  </table>

  <input type="hidden" name="rowcount" value="[% BINS.size %]">

  <p><input type="submit" class="submit" name="action" value="Speichern"></p>
 </form>

 [% END %]

 [% END %]

</body>
</html>
