[% USE HTML %]<body>

 [% IF saved_message %]
  <p>[% saved_message %]</p>

  <hr>
 [% END %]

 <form method="post" action="[% HTML.escape(script) %]">

 <input type="hidden" name="type" value="unit">

 <table width="100%">
  <tr>
   <th class="listtop" colspan="2">[% title %]</th>
  </tr>
  <tr height="5"></tr>
 </table>

 <p>
  Einheiten haben entweder keine oder genau eine Basiseinheit, von der
  sie ein Vielfaches sind. Wenn Sie eine Basiseinheit ausw&auml;hlen,
  dann m&uuml;ssen Sie auch einen Faktor eingeben. Sie m&uuml;ssen
  Einheiten als ein Vielfaches einer kleineren Einheit eingeben. So
  ist die Definition von &quot;kg&quot; mit der Basiseinheit
  &quot;g&quot; und dem Faktor 1000 zul&auml;ssig, die Definition von
  &quot;g&quot; mit der Basiseinheit &quot;kg&quot; und dem Faktor
  &quot;0,001&quot; hingegen nicht.
 </p>

 <hr>

 <table width="100%">
  <tr><th class="listtop"><translate>Add unit</translate></th></tr>
 </table>

 <table>
  <tr>
   <th align="right"><translate>Unit</translate></th>
   <td><input name="new_name" size="20" maxlength="20"></td>
  </tr>
  <tr>
   <th align="right"><translate>Base unit</translate></th>
   <td>
    <select name="new_base_unit">
     [% FOREACH row = NEW_BASE_UNIT_DDBOX %]<option [% row.selected %]>[% row.name %]</option>[% END %]
    </select>
   </td>
  </tr>
  <tr>
   <th align="right"><translate>Factor</translate></th>
   <td><input name="new_factor"></td>
  </tr>

  [% FOREACH language = LANGUAGES %]
   <tr>
    <th align="right">[% language.description %]</th>
    <td><input name="new_localized_[% language.id %]" size="20" maxlength="20"></td>
    <th align="right"><translate>Plural</translate></th>
    <td><input name="new_localized_plural_[% language.id %]" size="20" maxlength="20"></td>
   </tr>
  [% END %]
 </table>

 <input type="submit" class="submit" name="action" value="<translate>Add</translate>">

 <hr>

 <table width="100%">
  <tr><th class="listtop"><translate>Edit units</translate></th></tr>
 </table>

 <p>
  <translate>Units that have already been used (e.g. for parts and
   services or in invoices or warehouse transactions) cannot be
   changed.</translate>
 </p>

 <p>
  <translate>Units marked for deletion will be deleted upon
   saving.</translate>
 </p>

 <p>
  <translate>You can declare different translations for singular and
   plural for each unit (e.g. &quot;day&quot; and
   &quot;days).</translate>
 </p>

 <table>
  <tr>
   <th class="listheading" width="32" align="center" valign="center"><img alt="<translate>up</translate>" src="image/up.png"><img alt="<translate>down</translate>" src="image/down.png"></th>
   <th class="listheading"><translate>Delete</translate></th>
   <th class="listheading"><translate>Unit</translate></th>
   <th class="listheading"><translate>Base unit</translate></th>
   <th class="listheading"><translate>Factor</translate></th>
   [% FOREACH language = LANGUAGES %]
    <th class="listheading">[% language.description %]</th>
   [% END %]
  </tr>

  [% FOREACH row = UNITS %]
   <tr>
    <td width="32" align="center" valign="center">[% IF loop.first %]<img src="image/transparent16x16.gif">[% ELSE %]<a href="[% updownlink %]&dir=up&name=[% HTML.url(row.name) %]"><img alt="<translate>up</translate>" src="image/up.png"></a>[% END %][% IF loop.last %]<img src="image/transparent16x16.gif">[% ELSE %]<a href="[% updownlink %]&dir=down&name=[% HTML.url(row.name) %]"><img alt="<translate>down</translate>" src="image/down.png"></a>[% END %]</td>
    [% IF row.in_use %]
     <td>
      <input type="hidden" name="unchangeable_[% loop.count %]" value="1">
      <input type="hidden" name="old_name_[% loop.count %]" value="[% HTML.escape(row.name) %]">
     </td>

     <td>[% HTML.escape(row.name) %]</td>
     <td>[% IF row.base_unit %][% HTML.escape(row.base_unit) %][% ELSE %]---[% END %]</td>
     <td>[% IF row.base_unit %][% HTML.escape(row.factor) %][% ELSE %]---[% END %]</td>

     [% ELSE %]

     <td align="center"><input type="checkbox" name="delete_[% loop.count %]"></td>
     <td>
      <input type="hidden" name="old_name_[% loop.count %]" value="[% HTML.escape(row.name) %]">
      <input name="name_[% loop.count %]" size="10" maxlength="20" value="[% HTML.escape(row.name) %]">
     </td>
     <td>
      <select name="base_unit_[% loop.count %]">
       [% FOREACH option = row.BASE_UNIT_DDBOX %]<option [% option.selected %]>[% HTML.escape(option.name) %]</option>[% END %]
      </select>
     </td>
     <td><input name="factor_[% loop.count %]" size="8" value="[% row.factor %]"></td>
    [% END %]

    [% FOREACH language = row.UNITLANGUAGES %]
     <td>
      <translate>singular first char</translate>:
      <input name="localized_[% language.idx %]_[% language.language_id %]" value="[% HTML.escape(language.localized) %]" size="6" maxlength="20">
      <translate>plural first char</translate>:
      <input name="localized_plural_[% language.idx %]_[% language.language_id %]" value="[% HTML.escape(language.localized_plural) %]" size="6" maxlength="20">
     </td>
    [% END %]
   </tr>

   [% IF loop.last %]<input type="hidden" name="rowcount" value="[% loop.count %]">[% END %]
  [% END %]
 </table>

 <input type="submit" class="submit" name="action" value="<translate>Save</translate>">

 </form>

</body>
</html>
