[%- USE L %]
[%- USE HTML %]
[%- USE LxERP %]
[%- USE T8 %]

<form method=post action=am.pl>

<input type=hidden name=id value='[% id %]'>
<input type=hidden name=type value=language>

<table width=100%>
  <tr>
    <th class=listtop colspan=2>[% title | html %]</th>
  </tr>
  <tr height="5"></tr>
  <tr>
    <th align=right>[% 'Language' | $T8 %]</th>
    <td><input name=description size=30 value="[% description | html %]"></td>
  <tr>
  <tr>
    <th align=right>[% 'Template Code' | $T8 %]</th>
    <td><input name=template_code size=5 value="[% template_code | html %]"></td>
  </tr>
  <tr>
    <th align=right>[% 'Article Code' | $T8 %]</th>
    <td><input name=article_code size=10 value="[% article_code | html %]"></td>
  </tr>
  <tr>
    <th align=right>[% 'Number Format' | $T8 %]</th>
    <td>[% L.select_tag('output_numberformat', numberformats, default = output_numberformat, with_empty = 1, empty_title = LxERP.t8('use program settings')) %]</td>
  </tr>
  <tr>
    <th align=right>[% 'Date Format' | $T8 %]</th>
    <td>[% L.select_tag('output_dateformat', dateformats, default = output_dateformat, with_empty = 1, empty_title=LxERP.t8('use program settings')) %]</td>
  </tr>
  <tr>
    <th align=right>[% 'Long Dates' | $T8 %]</th>
    <td>[% L.radio_button_tag('output_longdates', checked=output_longdates, label=LxERP.t8('Yes')) %]
        [% L.radio_button_tag('output_longdates', checked=!output_longdates, label=LxERP.t8('No')) %]</td>
  </tr>
  <td colspan=2><hr size=3 noshade></td>
  </tr>
</table>
