[%- USE T8 %]
[% USE HTML %] [% FOREACH row = CA %]
<table width="100%">

 <colgroup>
  <col width="10%">
  <col width="10%">
  <col width="10%">
  <col width="50%">
  <col width="10%">
  <col width="10%">
 </colgroup>

 <tr class="coa_listrow[% loop.count % 2 %]">
  <td rowspan="8" class="coa_detail_emph">[% IF row.id %][% HTML.escape(row.id) %][% ELSE %]-[% END %]</td>
  <td colspan="5" class="coa_detail_emph">[% HTML.escape(row.category) %]&nbsp;</td>
 </tr>

 <tr class="coa_listrow[% loop.count % 2 %]">
  <td colspan="5" class="coa_detail_emph">
   [% IF row.link %][% HTML.escape(row.link) %][% ELSE %]-[% END %]
  </td>
 </tr>

 <tr class="coa_listrow[% loop.count % 2 %]">
  <td colspan="5" class="coa_details_header">[% 'Taxlink_coa' | $T8 %]</td>
 </tr>

 <tr class="coa_listrow[% loop.count % 2 %]">
  <td class="coa_details_header2">[% 'Taxkey_coa' | $T8 %]</td>
  <td class="coa_details_header2">[% 'Taxaccount_coa' | $T8 %]</td>
  <td class="coa_details_header2">[% 'Taxdescription_coa' | $T8 %]</td>
  <td class="coa_details_header2">[% 'Posustva_coa' | $T8 %]</td>
  <td class="coa_details_header2">[% 'Startdate_coa' | $T8 %]</td>
 </tr>

 <tr class="coa_listrow[% loop.count % 2 %]">
  <td class = "coa_detail_emph">[% IF row.taxkeys.size         %][% FOR taxkey         = row.taxkeys         %][% HTML.escape(taxkey)         %]<br>[% END %][% ELSE %]-[% END %]</td>
  <td class = "coa_detail_emph">[% IF row.taxaccounts.size     %][% FOR taxaccount     = row.taxaccounts     %][% HTML.escape(taxaccount)     %]<br>[% END %][% ELSE %]-[% END %]</td>
  <td class = "coa_detail_emph">[% IF row.taxdescriptions.size %][% FOR taxdescription = row.taxdescriptions %][% HTML.escape(taxdescription) %]<br>[% END %][% ELSE %]-[% END %]</td>
  <td class = "coa_detail_emph">[% IF row.pos_ustvas.size      %][% FOR pos_ustva      = row.pos_ustvas      %][% HTML.escape(pos_ustva)      %]<br>[% END %][% ELSE %]-[% END %]</td>
  <td class = "coa_detail_emph">[% IF row.startdates.size      %][% FOR startdate      = row.startdates      %][% HTML.escape(startdate)      %]<br>[% END %][% ELSE %]-[% END %]</td>
 </tr>

 <tr class="coa_listrow[% loop.count % 2 %]">
  <td colspan="5" class="coa_details_header">[% 'Report Positions' | $T8 %]</td>
 </tr>

 <tr class="coa_listrow[% loop.count % 2 %]">
  <td class="coa_details_header2">[% 'pos_bwa' | $T8 %]</td>
  <td class="coa_details_header2">[% 'pos_bilanz' | $T8 %]</td>
  <td class="coa_details_header2">[% 'pos_eur' | $T8 %]</td>
  <td colspan="2" class="coa_details_header2">[% 'Datevautomatik' | $T8 %]</td>
 </tr>

 <tr class="coa_listrow[% loop.count % 2 %]">
  <td class="coa_detail_emph">[% IF row.pos_bwa    %][% HTML.escape(row.pos_bwa)    %][% ELSE %]-[% END %]</td>
  <td class="coa_detail_emph">[% IF row.pos_bilanz %][% HTML.escape(row.pos_bilanz) %][% ELSE %]-[% END %]</td>
  <td class="coa_detail_emph">[% IF row.pos_eur    %][% HTML.escape(row.pos_eur)    %][% ELSE %]-[% END %]</td>
  <td colspan="2" class="coa_detail_emph">[% IF row.datevautomatik %][% 'On' | $T8 %][% ELSE %][% 'Off' | $T8 %][% END %]</td>
 </tr>
</table>

[% END %]
