  <body>

    <table border="0" cellpadding="3" cellspacing="3" width="100%">
      <tr>
        <th class="listtop" colspan="12"><TMPL_VAR title ESCAPE=HTML></th>
      </tr>
      <tr height=5></tr>
      <tr class=listheading>
        <th colspan="3"><b>Kontonummer</b></th>
        <th colspan="8"><b>Beschreibung</b></a></th>
        <th rowspan="3">Haben</th>
        <th rowspan="3">Soll</th>
      </tr>  
      <tr class=listheading>
        <th colspan="3"><b>Kontenart</b></th>
        
        <th colspan="8">Verknüpfungen</th>
      </tr>
      <tr class=listheading>
        <th>Steuerschlüssel</th>
        <th>Beschreibung</th>
        <th>Gültig ab</th>
        <th>tk_ustva</th>
        <th>UStVA</th>
        <th>BWA</th>
        <th>Bilanz</th>
        <th>E/ÜR</th>
        <th>Datev</th>
        <th>Gültig ab</th>
        <th>Folgekonto</th>
      </tr>

<TMPL_LOOP CA>

  <TMPL_IF heading>

      <tr class=listheading>
        <td colspan="3" abbr="Kontonummer">
          <a href=<TMPL_VAR link_edit_account> >
            <TMPL_VAR accno>
          </a>
        </td>
        <td colspan="6">
          <a href=<TMPL_VAR description> >
            <TMPL_VAR accno>
          </a>
        </td>
      </tr>
        
  <TMPL_ELSE>

  
    <TMPL_IF __odd__>
        <tr valign=top class=listrow1>
    <TMPL_ELSE>
        
        <tr valign=top class=listrow0>
    </TMPL_IF>

          <td colspan="3" abbr="Kontonummer"><b>
            <a href="<TMPL_VAR link_edit_account>" ><TMPL_VAR accno></a>
          </td>
          <td colspan="8"><b><TMPL_VAR description ESCAPE=HTML>&nbsp;</b></td>
          <td rowspan="3" align=right><TMPL_VAR debit>&nbsp;</td>
          <td rowspan="3" align=right><TMPL_VAR credit>&nbsp;</td>
  
        </tr> 
                                 
    <TMPL_IF __odd__>
        <tr valign=top class=listrow1>
    <TMPL_ELSE>
        <tr valign=top class=listrow0>
    </TMPL_IF>

          <td colspan="3"><b><TMPL_VAR category ESCAPE=HTML>&nbsp;</b></td>
          <td colspan="8"><TMPL_VAR link>&nbsp;</td>
        </tr>                                

    <TMPL_IF __odd__>
        <tr valign=top class=listrow1>
    <TMPL_ELSE>
        <tr valign=top class=listrow0>
    </TMPL_IF>

          <td><TMPL_VAR taxkey_id                  >&nbsp;</td>
          <td nowrap="nowrap"><TMPL_VAR taxdescription             >&nbsp;</td>
          <td><TMPL_VAR startdate                  >&nbsp;</td>
          <td><TMPL_VAR tk_ustva                   >&nbsp;</td>

          <td><TMPL_VAR pos_ustva       ESCAPE=HTML>&nbsp;</td>
          <td><TMPL_VAR pos_bwa         ESCAPE=HTML>&nbsp;</td>
          <td><TMPL_VAR pos_bilanz      ESCAPE=HTML>&nbsp;</td>
          <td><TMPL_VAR pos_eur         ESCAPE=HTML>&nbsp;</td>
          <td><TMPL_VAR datevautomatik  ESCAPE=HTML>&nbsp;</td>
          <td><TMPL_VAR valid_from      ESCAPE=HTML>&nbsp;</td>
          <td><TMPL_VAR new_account     ESCAPE=HTML>&nbsp;</td>

        </tr>
  </TMPL_IF>


</TMPL_LOOP>

      <tr>
        <td colspan=14><hr size=3 noshade></td>
      </tr>
    </table>
      
  </body>
  </html>
