[% USE HTML %]<body>

 [% IF saved_message %]<p>[% saved_message %]</p>[% END %]

 <div class="listtop">[% title %]</div>

 <p>
  <table width="100%">
   <tr>
    <td class="listheading" width="0%"></td>
    <td class="listheading" width="0%"></td>
    <td class="listheading" width="70%">Description</td>
    <td class="listheading" width="20%">Number of bins</td>
    <td class="listheading" width="10%">Invalid</td>
   </tr>

   [% SET row_odd = '1' %][% FOREACH warehouse = WAREHOUSES %]
   <tr class="listrow[% IF row_odd %]1[% SET row_odd = '0' %][% ELSE %]0[% SET row_odd = '1' %][% END %]">
    <td>[% IF warehouse.previous_id %]<a href="[% url_base %]&action=swap_warehouses&id1=[% HTML.url(warehouse.previous_id) %]&id2=[% HTML.url(warehouse.id) %]"><img border="0" src="image/up.png"></a>[% END %]</td>
    <td>[% IF warehouse.next_id %]<a href="[% url_base %]&action=swap_warehouses&id1=[% HTML.url(warehouse.next_id) %]&id2=[% HTML.url(warehouse.id) %]"><img border="0" src="image/down.png"></a>[% END %]</td>
    <td><a href="[% url_base %]&action=edit_warehouse&id=[% HTML.url(warehouse.id) %]">[% HTML.escape(warehouse.description) %]</a></td>
    <td>[% HTML.escape(warehouse.number_of_bins) %]</td>
    <td>[% IF warehouse.invalid %]Yes[% ELSE %]No[% END %]</td>
   </tr>
   [% END %]
  </table>
 </p>

 <hr height="3">

 <p>
  <form method="post" action="am.pl">
   <input type="hidden" name="type" value="warehouse">

   <input type="submit" class="submit" name="action" value="Add">
  </form>
 </p>

</body>
</html>
