[%- USE T8 %]
[%- USE HTML %]
 <h1>[% title %]</h1>

 <table>
  <tr>
   <th class="listheading">[% 'tax_taxkey' | $T8 %]</th>
   <th class="listheading">[% 'tax_taxdescription' | $T8 %]</th>
   <th class="listheading">[% 'tax_rate' | $T8 %]</th>
   <th class="listheading">[% 'taxnumber' | $T8 %]</th>
   <th class="listheading">[% 'account_description' | $T8 %]</th>
   <th class="listheading">[% 'Automatic skonto chart sales' | $T8 %]</th>
   <th class="listheading">[% 'Automatic skonto chart purchase' | $T8 %]</th>
  </tr>

  [% SET row_odd = '1' %][% FOREACH row = TAX %]
  <tr class="listrow[% IF row_odd %]1[% SET row_odd = '0' %][% ELSE %]0[% SET row_odd = '1' %][% END %]">
   <td align="right">[% HTML.escape(row.taxkey) %]</td>
   <td><a href="am.pl?action=edit_tax&id=[% HTML.url(row.id) %]&callback=[% HTML.url(callback) %]">[% HTML.escape(row.taxdescription) %]</a></td>
   <td align="right">[% HTML.escape(row.rate) %] %</td>
   <td align="right">[% HTML.escape(row.taxnumber) %]</td>
   <td>[% HTML.escape(row.account_description) %]</td>
   <td>[% HTML.escape(row.skonto_chart_accno) %] [% HTML.escape(row.skonto_chart_description) %]</td>
   <td>[% HTML.escape(row.skonto_chart_purchase_accno) %] [% HTML.escape(row.skonto_chart_purchase_description) %]</td>
  </tr>
  [% END %]
 </table>

 <p>
  <a href="am.pl?action=add&type=tax&callback=[% HTML.url(callback) %]">[%- 'Add' | $T8 %]</a>
 </p>
