[% USE HTML %][% USE L %][% USE LxERP %]

 <form method="post" action="controller.pl">
  <div class="listtop">[% FORM.title %]</div>

[%- INCLUDE 'common/flash.html' %]

  <table>
   <tr>
    <td>[% LxERP.t8('Description') %]</td>
    <td>[% L.input_tag("project_type.description" SELF.project_type.description) %]</td>
   </tr>
  </table>

  <p>
   [% L.hidden_tag("id", SELF.project_type.id) %]
   [% L.hidden_tag("action", "ProjectType/dispatch") %]
   [% L.submit_tag("action_" _ (SELF.project_type.id ? 'update' : 'create'), LxERP.t8('Save')) %]
   [%- IF SELF.project_type.id %]
    [% L.submit_tag("action_destroy", LxERP.t8('Delete'), confirm=LxERP.t8('Do you really want to delete this object?')) %]
   [%- END %]
   <a href="[% SELF.url_for(action => 'list') %]">[% LxERP.t8('Abort') %]</a>
  </p>

 </form>
