[% USE LxERP %]
[% USE T8 %]
[% USE L %]
[% USE P %]

[% IF ( follow_up_length && follow_up_due_length ) %]
  [% LxERP.t8('There are #1 unfinished follow-ups of which #2 are due.', follow_up_length , follow_up_due_length) %]
[% END %]

<input type="hidden" name="gldate" value="[% gldate | html %]">
<input type="hidden" name="callback" value="[% callback | html %]">
[% P.hidden_tag('draft_id', draft_id) %]
[% P.hidden_tag('draft_description', draft_description) %]

</form>

<script type="text/javascript"><!--
$(document).ready(function() {
  [% SET row=0 %]
  [% WHILE row < rowcount %]
   [% SET row=row + 1 %]
   $('#AR_amount_chart_id_[% row %]').on('set_item:ChartPicker', function(e, item) {
     kivi.GL.update_taxes(this);
   });
  [% END %]
});
--></script>
