[% USE HTML %]
[% USE L %]
[% USE T8 %]
[% USE LxERP %]
[% USE P %]

<h1>
  [% IF workflow_email_journal_id; LxERP.t8("Email Journal Workflow") _ " - "; END; %]
  [% title %]
</h1>

<form method="post" name="arledger" action="[% script %]" id="form">

[% L.hidden_tag('id', id) %]
[% L.hidden_tag('sort', sort) %]
[% L.hidden_tag('closedto', closedto) %]
[% L.hidden_tag('locked', locked) %]
[% L.hidden_tag('title', title_str) %]
[% L.hidden_tag('follow_up_trans_id_1', id) %]
[% L.hidden_tag('follow_up_trans_type_1', 'ar_transaction') %]
[% L.hidden_tag('follow_up_trans_info_1', follow_up_trans_info) %]
[% L.hidden_tag('follow_up_rowcount', 1) %]
<input type="hidden" name="lastmtime" value="[% HTML.escape(lastmtime) %]">

[% IF !id %]
[%   L.hidden_tag('form_validity_token', form_validity_token) %]
[% END %]
[% L.hidden_tag('email_journal_id',             email_journal_id) %]
[% L.hidden_tag('email_attachment_id',          email_attachment_id) %]
[% L.hidden_tag('workflow_email_journal_id',    workflow_email_journal_id) %]
[% L.hidden_tag('workflow_email_attachment_id', workflow_email_attachment_id) %]
[% L.hidden_tag('workflow_email_callback',      workflow_email_callback) %]

[% IF saved_message %]<p class="message message_info">[% saved_message | html  %]</p>[% END %]

<div id="ar_tabs" class="tabwidget">

<ul>
  <li><a href="#ui-tabs-basic-data">[% 'Basic Data' | $T8 %]</a></li>
  [% IF email_attachment_id || workflow_email_attachment_id %]
    <li><a href="controller.pl?action=EmailJournal/attachment_preview&attachment_id=[% HTML.url(email_attachment_id || workflow_email_attachment_id) %]">[% 'Email Attachment Preview' | $T8 %]</a></li>
  [% END %]
  [% IF id %]
    [% IF INSTANCE_CONF.get_doc_storage %]
      <li><a href="#ui-tabs-docs">[% 'Documents' | $T8 %]</a></li>
      <li><a href="controller.pl?action=File/list&file_type=attachment&object_type=invoice&object_id=[% HTML.url(id) %]">[% 'Attachments' | $T8 %]</a></li>
    [% END %]
    [% IF AUTH.assert('record_links', 1) %]
      <li><a href="controller.pl?action=RecordLinks/ajax_list&object_model=Invoice&object_id=[% HTML.url(id) %]">[% 'Linked Records' | $T8 %]</a></li>
    [% END %]
      <li><a href="[% 'controller.pl?action=AccTrans/list_transactions&trans_id=' _ HTML.url(id) | html %]">[% LxERP.t8('Transactions') %]</a></li>
  [% END %]
</ul>

[% IF id AND INSTANCE_CONF.get_doc_storage %]
  <div id="ui-tabs-docs"></div>
[% END %]

<div id="ui-tabs-basic-data">

[% IF email_attachment_id || workflow_email_attachment_id %]
  <div class="wrapper" id="email_attachment_wrapper">
    [%
      BLOCK panel_1;
        P.email_journal.attachment_preview(
             email_attachment_id || workflow_email_attachment_id,
             style="height:600px"
             );
      END;
      INCLUDE 'common/toggle_panel.html'
        block_name='panel_1'
        button_closed  = LxERP.t8('Show Attachment')
        button_open    = LxERP.t8('Hide Attachment')
        ;
    %]
  </div>
[% END %]

<div class="wrapper">

  <table class="tbl-horizontal">
    <caption>[% 'Customer &amp; Order' | $T8 %]</caption>
    <colgroup><col class="wi-mediumsmall"><col class="wi-lightwide"></colgroup>
    <tbody>
      <tr>
        <th>[% 'Customer' | $T8 %]</th>
        <td class="wi-lightwide">
         [% P.customer_vendor.picker("customer_id", customer_id, type="customer", show_details="1") %]
         [% L.hidden_tag("previous_customer_id", customer_id) %]
         [% L.hidden_tag('terms', terms) %]
       </td>
      </tr>
      [% IF max_dunning_level || invoice_obj.dunning_config_id  %]
      <tr>
        <th>[% LxERP.t8("Dunning status") %]</th>
        <td>
          [% IF invoice_obj.dunning_config_id %]
          <span class="dunned_invoice">[% LxERP.t8("This invoice's dunning level: #1", invoice_obj.dunning_config.dunning_description) %]</span>
            [% IF max_dunning_level %]<br>[% END %]
          [% END %]
          [% IF max_dunning_level %]
          <span class="customer_dunning_level">
            [% LxERP.t8("Customer's current maximum dunning level: #1", max_dunning_level) %] <br>
            [% LxERP.t8("Dunned open amount: #1", LxERP.format_amount(dunning_amount, 2)) %]
          </span>
         [% END %]
        </td>
      </tr>
      [% END %]
      <tr>
        <th>[% LxERP.t8("Credit Limit") %]</th>
        <td>
          <span class="data wi-lightwide">
            [% LxERP.format_amount(creditlimit, 0) %][% L.hidden_tag('creditlimit', LxERP.format_amount(creditlimit, 0)) %],
            [% LxERP.t8("Remaining") %]
            <span class="plus[% creditremaining < 0 ? 0 : 1 %]">[% LxERP.format_amount(creditremaining, 0) %][% L.hidden_tag('creditremaining', LxERP.format_amount(creditremaining, 0)) %]</span>
          </span>
        </td>
      </tr>
      [% IF invoice_obj.sepa_exports.as_list.size %]
      <tr>
        <th>[% LxERP.t8("SEPA exports") %]</th>
        <td>
         [% FOREACH export = invoice_obj.sepa_exports.as_list %]
          <a href="sepa.pl?action=bank_transfer_edit&vc=customer&id=[% HTML.url(export.id) %]">[% HTML.escape(export.id) %]</a>
          [% UNLESS loop.last %], [% END %]
         [% END %]
        </td>
      </tr>
      [% END %]
      <tr>
        <th>[% 'Currency' | $T8 %]</th>
        <td>
          [%- IF readonly  %]
            [% HTML.escape(currency) %]
            [% L.hidden_tag("currency", currency) %]
          [%- ELSE %]
            [% L.select_tag("currency", currencies, default=currency, value_key="name", title_key="name", class="wi-lightwide") %]
          [%- END %]
        </td>
        [% L.hidden_tag('defaultcurrency', defaultcurrency) %]
        [% L.hidden_tag('fxgain_accno', fxgain_accno) %]
        [% L.hidden_tag('fxloss_accno', fxloss_accno) %]
        [% L.hidden_tag('forex', forex) %]
      </tr>
      [% IF show_exch %]
      <tr>
        <th>[% 'Exchangerate' | $T8 %]</th>
        <td>
          [%- IF readonly  %]
            [% LxERP.format_amount(exchangerate, 5) %]
            [% L.hidden_tag("exchangerate", LxERP.format_amount(exchangerate, 5)) %]
          [%- ELSE %]
            [% L.input_tag("exchangerate", LxERP.format_amount(exchangerate), class="wi-lightwide") %]
          [%- END %]
          [% IF record_forex %][% 'record exchange rate' | $T8 %][%- ELSE %][% 'default exchange rate' | $T8 %][%- END %]
        </td>
      </tr>
      [% END %]
      </tr>
      [% IF ALL_DEPARTMENTS %]
        <tr>
          <th>[% 'Department' | $T8 %]</th>
          <td>[% L.select_tag('department_id', ALL_DEPARTMENTS, default=department_id, title_key='description', with_empty=1, class="wi-lightwide") %]</td>
        </tr>
      [% END %]
      <tr>
        <th>[% 'Transaction description' | $T8 %]</th>
        <td>[% L.input_tag("transaction_description", transaction_description, "data-validate"=INSTANCE_CONF.get_require_transaction_description_ps ? 'required' : '', class="wi-lightwide") %]</td>
      </tr>
      <tr>
        <th></th>
        <td>[% L.checkbox_tag('taxincluded', checked=taxincluded, label=LxERP.t8('Tax Included')) %]</td>
      </tr>
      <tr>
        <th></th>
        <td>[% L.checkbox_tag('direct_debit', checked=direct_debit, label=LxERP.t8('direct debit')) %]</td>
      </tr>
    </tbody>
  </table>

  <table class="tbl-horizontal">
    <caption>[% 'Notes' | $T8 %]</caption>
    <colgroup><col class="wi-wide"></colgroup>
    <tbody>
      <tr>
        <td>
          [% L.textarea_tag("notes", HTML.escape(notes), rows=rows, class="wi-wide") %]
        </td>
      </tr>
      <tr>
        <td>
          <span class="label above">[% 'Notes for customer' | $T8 %]</span>
          [% L.textarea_tag("intnotes", HTML.escape(intnotes), rows=rows, readonly=readonly, class="wi-wide") %]
        </td>
      </tr>
    </tbody>
  </table>

  <table class="tbl-horizontal">
    <caption>[% 'Numbers & Dates' | $T8 %]</caption>
    <colgroup><col class="wi-mediumsmall"><col class="wi-lightwide"></colgroup>
    <tbody>
      <tr>
        <th>[% 'Salesperson' | $T8 %]</th>
        <td>[% P.select_tag("employee_id", employees, default=employee_id, title_key='safe_name') %]</td>
      </tr>
      <tr>
        <th>[% 'Invoice Number' | $T8 %]</th>
        <td>[% L.input_tag("invnumber", invnumber, size="11") %]</td>
      </tr>
      <tr>
        <th>[% 'Order Number' | $T8 %]</th>
        <td>[% L.input_tag("ordnumber", ordnumber, size="11") %]</td>
      </tr>
      <tr>
        <th>[% 'Invoice Date' | $T8 %]</th>
        <td>[% L.date_tag('transdate', transdate) %]</td>
      </tr>
      <tr>
        <th>[% 'Due Date' | $T8 %]</th>
        <td>[% L.date_tag('duedate', duedate) %]</td>
      </tr>
      <tr>
        <th>[% LxERP.t8('Tax point') %]</th>
        <td>[% L.date_tag('tax_point', tax_point, id='tax_point') %]</td>
      </tr>
      <tr>
        <th>[% 'Delivery Date' | $T8 %]</th>
        <td>[% L.date_tag('deliverydate', deliverydate) %]</td>
      </tr>
      <tr>
        <th>[% 'Project Number' | $T8 %]</th>
        <td>[% P.project.picker('globalproject_id', globalproject_id, onchange="document.getElementById('update_button').click();") %]</td>
      </tr>
    </tbody>
  </table>

</div><!-- /.wrapper -->

[% L.hidden_tag('rowcount', rowcount) %]

<div class="wrapper">

<table class="tbl-list">
  <caption>[% 'Transactions' | $T8 %]</caption>
  <thead>
    <tr>
      <th>[% 'Account' | $T8 %]</th>
      <th class="right">[% 'Amount' | $T8 %]</th>
      <th class="right">[% 'Tax' | $T8 %]</th>
      <th>[% 'Taxkey' | $T8 %]</th>
      <th>[% 'Project' | $T8 %]</th>
    </tr>
  </thead>
  <tbody>
    [% FOREACH row IN transactions %]
    <tr>
      <td class="wi-wider">[% row.selectAR_amount %]</td>
      <td class="numeric">[% L.input_tag('amount_' _ loop.count, LxERP.format_amount(row.amount, 2), class='wi-small numeric') %]</td>
      <td class="numeric">[% L.hidden_tag('tax_' _ loop.count, LxERP.format_tax(row.tax, 2)) %][% LxERP.format_amount(row.tax, 2) | html %]</td>
      <td>[% row.taxchart %]</td>
      <td>[% P.project.picker("project_id_"_ loop.count, row.project_id) %]</td>
    </tr>
    [% END %]
  </tbody>
  <tfoot>
    <tr>
      <td>[% P.chart.picker("AR_chart_id", AR_chart_id, type="AR", class="wi-wider") %]</td>
      <th class="numeric">[% LxERP.format_amount(invtotal, 2) | html %]</th>
        <input type="hidden" name="oldinvtotal" value="[% oldinvtotal %]">
        <input type="hidden" name="oldtotalpaid" value="[% oldtotalpaid %]">
        <input type="hidden" name="taxaccounts" value="[% taxaccounts | html %]">
      <td colspan="3"></td>
    </tr>
  </tfoot>
</table>


<table class="tbl-list" style="width:90%;">
  <caption>[% 'Incoming Payments' | $T8 %]</caption>
  <thead>
    <tr>
      <th>[% 'Date' | $T8 %]</th>
      <th>[% 'Source' | $T8 %]</th>
      <th>[% 'Memo' | $T8 %]</th>
      <th class="right">[% 'Amount' | $T8 %]</th>
      <th></th>
      [% IF show_exch %]
        <th>[% 'Exch' | $T8 %]</th>
      [% END %]
      <th>[% 'Account' | $T8 %]</th>
      <th>[% 'Project Number' | $T8 %]</th>
    </tr>
  </thead>
  <tbody>
    [% FOREACH row IN payments %]
    <tr>
      <td>
        [% IF row.changeable %]
          [% L.date_tag('datepaid_' _ loop.count, row.datepaid ? row.datepaid : today) %]
        [% ELSE %]
          [% row.datepaid | html %][% L.hidden_tag('datepaid_' _ loop.count, row.datepaid) %]
        [% END %]
      </td>
      <td>
      [% IF row.changeable %]
        <input type="text" name="source_[% loop.count %]" size="11" value="[% row.source | html %]">
      [% ELSE %]
        [% row.source | html %]<input type="hidden" name="source_[% loop.count %]" value="[% row.source | html %]">
      [% END %]
      </td>
      <td>
        [% IF row.changeable %]
          <input type="text" name="memo_[% loop.count %]" size="11" value="[% row.memo | html %]">
        [% ELSE %]
          [% row.memo | html %]<input type="hidden" name="memo_[% loop.count %]" value="[% row.memo | html %]">
        [% END %]
      </td>
      <td class="numeric">
        [% IF row.changeable %]
          <input name="paid_[% loop.count %]" id="payment_paid_[% loop.count %]" value="[% row.paid ? LxERP.format_amount(row.paid, 2) : '' | html %]" size="11" type="text" data-validate="number" class="numeric">
        [% ELSE %]
          [% LxERP.format_amount(row.paid, 2) | html %]<input type="hidden" name="paid_[% loop.count %]" value="[% row.paid ? LxERP.format_amount(row.paid, 2) : '' | html %]"> [% defaultcurrency %]
        [% END %]
      </td>
      <td>
        [% IF row.changeable && loop.last && paid_missing > 0 %]
          <input type="button" id="ar_set_to_paid_missing" value="[% 'Set to paid missing' | $T8 %]">
        [% END %]
      </td>
      [% IF show_exch %]
        <td class="numeric">
          [% IF row.forex || !row.changeable%]
            <input type="hidden" name="exchangerate_[% loop.count %]" value="[% LxERP.format_amount(row.exchangerate, 5, 1) %]">
            [%- LxERP.format_amount(row.exchangerate, 5, 0) -%] = [% LxERP.format_amount(row.defaultcurrency_paid, 2) %] [% defaultcurrency %]</br>
            [% IF $record_forex %][% 'bank transaction exchange rate' | $T8 %][%- ELSE %][% 'default exchange rate' | $T8 %][%- END %]
          [% ELSE %]
            <input type="text" name="exchangerate_[% loop.count %]" size="10" value="[% LxERP.format_amount(row.exchangerate, 5, 1) %]">
          [% END %]
            <input type="hidden" name="forex_[% loop.count %]" value="[% row.forex | html %]">
        </td>
      [% END %]
      <td>
        [% IF row.changeable %]
          [% row.selectAR_paid %]
        [% ELSE %]
          [% row.AR_paid | html %]<input type="hidden" name="AR_paid_[% loop.count %]" value="[% row.AR_paid | html %]">
        [% END %]
      </td>
      <td>
        [% IF row.changeable %]
          [% P.project.picker("paid_project_id_"_ loop.count, row.paid_project_id) %]
        [% ELSE %]
          [% project_labels.${row.paid_project_id} | html %]
          <input type="hidden" name="paid_project_id_[% loop.count %]" value="[% row.paid_project_id %]">
        [% END %]
        <input type="hidden" name="acc_trans_id_[% loop.count %]" value="[% row.acc_trans_id | html %]">
        <input type="hidden" name="gldate_[% loop.count %]" value="[% row.gldate | html %]">
       </td>
    </tr>
    [% END %]
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <th class="right">[% 'Total' | $T8 %]</th>
      <td class="numeric">[% LxERP.format_amount(totalpaid, 2) | html %]  [% currency %] </td>
      <td></td>
      [% IF show_exch %]
        <td align="numeric">[% LxERP.format_amount(defaultcurrency_totalpaid, 2) | html %] [% defaultcurrency %]</td>
        <input type="hidden" name="defaultcurrency_totalpaid" value="[% defaultcurrency_totalpaid %]">
        <input type="hidden" name="is_linked_bank_transaction" value="[% is_linked_bank_transaction %]">
      [% END %]
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <th class="right">[% 'Missing amount' | $T8 %]</th>
      <td class="numeric">
        [% LxERP.format_amount(paid_missing, 2) | html %] [% currency %]
        <input type="hidden" name="paidaccounts" value="[% paidaccounts %]">
      </td>
      <td></td>
      [% IF show_exch %]
        <td></td>
      [% END %]
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>

</div><!-- /.wrapper -->

</div><!-- /#ui-tabs-basic-data -->
</div><!-- ./tabwidget -->

<script type="text/javascript">
 $('#ar_set_to_paid_missing').click(function(){ $('input[id^="payment_paid_"]:last').val("[% LxERP.format_amount(paid_missing, 2) %]") });
</script>
