[% USE T8 %]
[% USE L %]
[% USE P %]
<h1>[% title %]</h1>

<form method=post name="search" id="form" action=[% script %]>
[% L.hidden_tag("action", nextsub) %]
[% L.hidden_tag("sort", "transdate") %]

<div class="wrapper">

    <table class="tbl-horizontal">
      <colgroup> <col class="wi-small"><col class="wi-wide"> </colgroup>
      <caption>[% 'Customer' | $T8 %]</caption>
      <tbody>
        <tr>
          <th>[% 'Customer' | $T8 %]</th>
          <td>[% L.input_tag("customer", customer, class="initial_focus") %]</td>
        </tr>
        <tr>
          <th>[% 'Contact Person' | $T8 %]</th>
          <td>[% L.input_tag("cp_name", '') %]</td>
        </tr>
        <tr>
          <th>[% 'Department' | $T8 %]</th>
          <td>[% L.select_tag('department_id', ALL_DEPARTMENTS, title_key = 'description', with_empty = 1) %]</td>
        </tr>
        <tr>
          <th class="caption" colspan="2">[% 'Employee' | $T8 %]</th>
        </tr>
        <tr>
          <th>[% 'Employee' | $T8 %]</th>
          <td>[% L.select_tag('employee_id', ALL_EMPLOYEES, title_key = 'safe_name', with_empty = 1) %]</td>
        </tr>
        <tr>
          <th>[% 'Salesman' | $T8 %]</th>
          <td>[% L.select_tag('salesman_id', ALL_EMPLOYEES, title_key = 'safe_name', with_empty = 1) %]</td>
        </tr>
        <tr>
          <th class="caption" colspan="2">[% 'Miscellaneous' | $T8 %]</th>
        </tr>
        <tr>
          <th>[% 'Transaction description' | $T8 %]</th>
          <td>[% L.input_tag("transaction_description", "") %]</td>
        </tr>
        <tr>
          <th>[% 'Payment Term' | $T8 %]</th>
          <td>[% L.select_tag('payment_id', ALL_PAYMENT_TERMS, title_key = 'description', with_empty = 1) %]</td>
        </tr>
        <tr>
          <th>[% 'Notes' | $T8 %]</th>
          <td>[% L.input_tag("notes", "") %]</td>
        </tr>
        <tr>
          <th>[% 'Part Description' | $T8 %]</th>
          <td>[% L.input_tag("parts_description", "") %]</td>
        </tr>
        <tr>
          <th>[% 'Part Number' | $T8 %]</th>
          <td>[% L.input_tag("parts_partnumber", "") %]</td>
        </tr>
      </tbody>
    </table>

    <table class="tbl-horizontal">
      <caption>[% 'Record numbers and dates' | $T8 %]</caption>
      <tbody>
        <tr>
          <th>[% 'Invoice Number' | $T8 %]</th>
          <td>[% L.input_tag("invnumber", "") %]</td>
        </tr>
        <tr>
          <th>[% 'Order Number' | $T8 %]</th>
          <td>[% L.input_tag("ordnumber", "") %]</td>
        </tr>
        <tr>
          <th>[% 'Customer Order Number' | $T8 %]</th>
          <td>[% L.input_tag("cusordnumber", "") %]</td>
        </tr>
        <tr>
          <th>[% 'Project Number' | $T8 %]</th>
          <td>[% P.project.picker("project_id", project_id, active="both", valid="both") %]</td>
        </tr>
        [% IF ALL_BUSINESS_TYPES.as_list.size > 0 %]
          <tr>
            <th>[% 'Customer type' | $T8 %]</th>
            <td>[% L.select_tag("business_id", ALL_BUSINESS_TYPES, with_empty=1, title_key="description") %]</td>
          </tr>
        [% END %]
        <tr>
          <th>[% 'Show only marked as paid invoices' | $T8 %]</th>
          <td>[% L.checkbox_tag('show_marked_as_closed') %]</td>
        </tr>
        [% IF INSTANCE_CONF.get_email_journal %]
        <tr>
          <th>[% 'Show only not mailed invoices' | $T8 %]</th>
          <td>[% L.checkbox_tag('show_not_mailed') %]</td>
        </tr>
        [% END %]
        <tr>
          <th>[% 'Invoice Date' | $T8 %]</th>
          <td> [% L.date_tag('transdatefrom') %] [% 'Bis' | $T8 %] [% L.date_tag('transdateto') %] </td>
        </tr>
        <tr>
          <th>[% 'Due Date' | $T8 %]</th>
          <td> [% L.date_tag('duedatefrom') %] [% 'Bis' | $T8 %] [% L.date_tag('duedateto') %] </td>
        </tr>
        <tr>
        <th>[% 'Date Paid' | $T8 %]</th>
         <td>
          [% L.date_tag('datepaidfrom') %]
          [% 'Bis' | $T8 %]
          [% L.date_tag('datepaidto') %]
         </td>
        </tr>
        <tr>
         <th>[% 'Steuersatz' | $T8 %]</th>
         <td>[% L.select_tag('taxzone_id', ALL_TAXZONES, with_empty=1, title_key='description') %]</td>
        </tr>
        [% IF CT_CUSTOM_VARIABLES.size %]
          <tr>
            <th class="caption" colspan="2">[% 'Custom variables for module' | $T8 %]: [%'Customers and vendors' | $T8 %]</th>
          </tr>
          [% CT_CUSTOM_VARIABLES_FILTER_CODE %]
        [% END %]
      </tbody>
    </table>

    <table class="tbl-horizontal">
      <caption>[% 'Shipping Address' | $T8 %]</caption>
      <colgroup> <col class="wi-small"><col class="wi-wide"> </colgroup>
      <tbody>
        <tr>
          <th>[% 'Name' | $T8 %]</th>
          <td>[% L.input_tag("shiptoname", "") %]</td>
        </tr>
        <tr>
          <th>[% 'Department 1' | $T8 %]</th>
          <td>[% L.input_tag("shiptodepartment_1", "") %]</td>
        </tr>
        <tr>
          <th>[% 'Department 2' | $T8 %]</th>
          <td>[% L.input_tag("shiptodepartment_2", "") %]</td>
        </tr>
        <tr>
          <th>[% 'Street' | $T8 %]</th>
          <td>[% L.input_tag("shiptostreet", "") %]</td>
        </tr>
        <tr>
          <th>[% 'Zipcode' | $T8 %]</th>
          <td>[% L.input_tag("shiptozipcode", "") %]</td>
        </tr>
        <tr>
          <th>[% 'City' | $T8 %]</th>
          <td>[% L.input_tag("shiptocity", "") %]</td>
        </tr>
        <tr>
          <th>[% 'Country' | $T8 %]</th>
          <td>[% L.input_tag("shiptocountry", "") %]</td>
        </tr>
      </tbody>
    </table>

   <table class="tbl-horizontal">
     <caption>[% 'Status' | $T8 %]</caption>
     <colgroup> <col class="wi-small"><col class="wi-wide"> </colgroup>
     <tbody>
       <tr>
         <th>[% 'Open' | $T8 %]</th>
         <td><input name="open" id="open" type="checkbox" value="Y" checked></td>
       </tr>
       <tr>
         <th>[% 'Closed' | $T8 %]</th>
         <td><input name="closed" id="closed" type="checkbox" value="Y"></td>
       </tr>
     </tbody>
   </table>

</div><!-- /.wrapper -->

<div class="wrapper form-addition control-panel">
  <h3>[% 'Include in Report' | $T8 %]</h3>
  <div class="list col">
    <h4>[% 'Status' | $T8 %]</h4>
    <div>
      <input name="l_paid" id="l_paid" type="checkbox" checked><label for="l_paid">[% 'Paid' | $T8 %]</label>
    </div>
    <div>
      <input name="l_dunning_description" id="l_dunning_description" type="checkbox"><label for="l_dunning_description">[% 'Dunning level' | $T8 %]</label>
    </div>
  </div>
  <div class="list col">
    <h4>[% 'Numbers' | $T8 %]</h4>
    <div>
      <input name="l_id" id="l_id" type="checkbox"><label for="l_id">[% 'ID' | $T8 %]</label>
    </div>
    <div>
      <input name="l_invnumber" id="l_invnumber" type="checkbox" checked><label for="l_invnumber">[% 'Invoice Number' | $T8 %]</label>
    </div>
    <div>
      <input name="l_ordnumber" id="l_ordnumber" type="checkbox"><label for="l_ordnumber">[% 'Order Number' | $T8 %]</label>
    </div>
    <div>
      <input name="l_globalprojectnumber" id="l_globalprojectnumber" type="checkbox"><label for="l_globalprojectnumber">[% 'Document Project Number' | $T8 %]</label>
    </div>
    <div>
      <input name="l_cusordnumber" id="l_cusordnumber" type="checkbox"><label for="l_cusordnumber">[% 'Customer Order Number' | $T8 %]</label>
    </div>
    <div>
      <input name="l_ustid" id="l_ustid" type="checkbox"><label for="l_ustid">[% 'USt-IdNr.' | $T8 %]</label>
    </div>
    <div>
      <input name="l_donumber" id="l_donumber" class=checkbox type=checkbox value=Y><label for="l_donumber">[% 'Delivery Order Number' | $T8 %]</label>
    </div>
  </div>
  <div class="list col">
    <h4>[% 'Date' | $T8 %]</h4>
    <div>
      <input name="l_transdate" id="l_transdate" type="checkbox" checked><label for="l_transdate">[% 'Invoice Date' | $T8 %]</label>
    </div>
    <div>
      <input name="l_datepaid" id="l_datepaid" type="checkbox"><label for="l_datepaid">[% 'Date Paid' | $T8 %]</label>
    </div>
    <div>
      <input name="l_duedate" id="l_duedate" type="checkbox"><label for="l_duedate">[% 'Due Date' | $T8 %]</label>
    </div>
    <div>
      <input name="l_deliverydate" id="l_deliverydate" class=checkbox type=checkbox value=Y><label for="l_deliverydate">[% 'Delivery Date' | $T8 %]</label>
    </div>
  </div>
  <div class="list col">
    <h4>[% 'Customer' | $T8 %]</h4>
    <div>
      <input name="l_name" id="l_name" type="checkbox" checked><label for="l_name">[% 'Customer' | $T8 %]</label>
    </div>
    <div>
      <input name="l_customernumber" id="l_customernumber" type="checkbox"><label for="l_customernumber">[% 'Customer Number' | $T8 %]</label>
    </div>
    <div>
      <input name="l_department" id="l_department" type="checkbox"><label for="l_department">[% 'Department' | $T8 %]</label>
    </div>
    <div>
      <input name="l_country" id="l_country" type="checkbox"><label for="l_country">[% 'Country' | $T8 %]</label>
    </div>
    <div>
      <input name="l_customer_dunning_lock" id="l_customer_dunning_lock" type="checkbox"><label for="l_customer_dunning_lock">[% 'Dunning lock' | $T8 %]</label>
    </div>
  </div>
  <div class="list col">
    <h4>[% 'Shipping Address' | $T8 %]</h4>
    <div>
      <input name="l_shiptoname" id="l_shiptoname" type="checkbox"><label for="l_shiptoname">[% 'Name' | $T8 %]</label>
    </div>
    <div>
      <input name="l_shiptodepartment_1" id="l_shiptodepartment_1" type="checkbox"><label for="l_shiptodepartment_1">[% 'Department 1' | $T8 %]</label>
    </div>
    <div>
      <input name="l_shiptodepartment_2" id="l_shiptodepartment_2" type="checkbox"><label for="l_shiptodepartment_2">[% 'Department 2' | $T8 %]</label>
    </div>
    <div>
      <input name="l_shiptostreet" id="l_shiptostreet" type="checkbox"><label for="l_shiptostreet">[% 'Street' | $T8 %]</label>
    </div>
    <div>
      <input name="l_shiptozipcode" id="l_shiptozipcode" type="checkbox"><label for="l_shiptozipcode">[% 'Zipcode' | $T8 %]</label>
    </div>
    <div>
      <input name="l_shiptocity" id="l_shiptocity" type="checkbox"><label for="l_shiptocity">[% 'City' | $T8 %]</label>
    </div>
    <div>
      <input name="l_shiptocountry" id="l_shiptocountry" type="checkbox"><label for="l_shiptocountry">[% 'Country' | $T8 %]</label>
    </div>
  </div>
  <div class="list col">
    <h4>[% 'Amounts' | $T8 %]</h4>
    <div>
      <input name="l_netamount" id="l_netamount" type="checkbox" value="Y" checked><label for="l_netamount">[% 'Amount' | $T8 %]</label>
    </div>
    <div>
      <input name="l_amount" id="l_amount" type="checkbox" value="Y" checked><label for="l_amount">[% 'Total' | $T8 %]</label>
    </div>
    <div>
      <input name="l_subtotal" id="l_subtotal" type="checkbox"><label for="l_subtotal">[% 'Subtotal' | $T8 %]</label>
    </div>
    <div>
      <input name="l_due" id="l_due" type="checkbox"><label for="l_due">[% 'Amount Due' | $T8 %]</label>
    </div>
    <div>
      <input name="l_marge_total" id="l_marge_total" type="checkbox"><label for="l_marge_total">[% 'Ertrag' | $T8 %]</label>
    </div>
    <div>
      <input name="l_marge_percent" id="l_marge_percent" type="checkbox"><label for="l_marge_percent">[% 'Ertrag prozentual' | $T8 %]</label>
    </div>
    <div>
      <input name="l_tax" id="l_tax" type="checkbox"><label for="l_tax">[% 'Tax' | $T8 %]</label>
    </div>
    <div>
      <input name="l_taxzone" id="l_taxzone" type="checkbox"><label for="l_taxzone">[% 'Steuersatz' | $T8 %]</label>
    </div>
  </div>
  <div class="list col">
    <h4>[% 'Miscellaneous' | $T8 %]</h4>
    <div>
      <input name="l_notes" id="l_notes" type="checkbox"><label for="l_notes">[% 'Notes' | $T8 %]</label>
    </div>
    <div>
      <input name="l_shippingpoint" id="l_shippingpoint" type="checkbox"><label for="l_shippingpoint">[% 'Shipping Point' | $T8 %]</label>
    </div>
    <div>
      <input name="l_shipvia" id="l_shipvia" type="checkbox"><label for="l_shipvia">[% 'Ship via' | $T8 %]</label>
    </div>
    <div>
      <input name="l_transaction_description" id="l_transaction_description" type="checkbox" [% IF INSTANCE_CONF.get_require_transaction_description_ps %] checked[% END %]><label for="l_transaction_description">[% 'Transaction description' | $T8 %]</label>
    </div>
    <div>
      <input name="l_payment_terms" id="l_payment_terms" type="checkbox"><label for="l_payment_terms">[% 'Payment Terms' | $T8 %]</label>
    </div>
    <div>
      <input name="l_charts" id="l_charts" type="checkbox"><label for="l_charts">[% 'Chart' | $T8 %]</label>
    </div>
    <div>
      <input name="l_direct_debit" id="l_direct_debit" type="checkbox"><label for="l_direct_debit">[% 'direct debit' | $T8 %]</label>
    </div>
    <div>
    [% IF INSTANCE_CONF.get_doc_storage -%]
      <input name="l_attachments" id="l_attachments" class=checkbox type=checkbox value=Y>[% 'Attachments' | $T8 %]
    [% END-%]
    </div>
    <div>
      <input name="l_items" id="l_items" class=checkbox type=checkbox value=Y> [% 'Positions' | $T8 %]
    </div>
  </div>
  <div class="list col">
    <h4>[% 'Employee' | $T8 %]</h4>
    <div>
      <input name="l_salesman" id="l_salesman" type="checkbox"><label for="l_salesman">[% 'Salesperson' | $T8 %]</label>
    </div>
    <div>
      <input name="l_employee" id="l_employee" type="checkbox"><label for="l_employee">[% 'Employee' | $T8 %]</label>
    </div>
  </div>
  <div class="list col">
    <h4>[% 'Custom Variables' | $T8 %]</h4>
    <div class="no-rows">
      [% CT_CUSTOM_VARIABLES_INCLUSION_CODE %]
    </div>
  </div>
</div>
<!-- /.wrapper.form-addition -->

</form>
