[%- USE HTML -%][%- USE LxERP -%]
<table>
 <tr class="listrow">
  <td>[% LxERP.t8("Project Number") %]:</td>
  <td>[% HTML.escape(requirement_spec.project.projectnumber) %]</td>
 </tr>

 <tr class="listrow">
  <td>[% LxERP.t8("Description") %]:</td>
  <td>[% HTML.escape(requirement_spec.project.description) %]</td>
 </tr>

 <tr class="listrow">
  <td>[% LxERP.t8("Customer") %]:</td>
  <td>[% HTML.escape(requirement_spec.project.customer.name) %]</td>
 </tr>

 <tr class="listrow">
  <td>[% LxERP.t8("Type") %]:</td>
  <td>[% HTML.escape(requirement_spec.project.project_type.description) %]</td>
 </tr>

 <tr class="listrow">
  <td>[% LxERP.t8("Status") %]:</td>
  <td>[% HTML.escape(requirement_spec.project.project_status.description) %]</td>
 </tr>
</table>
