[%- USE JSON -%][%- USE HTML %][%- USE L %][%- USE LxERP %][%- USE P -%]

[%- INCLUDE 'common/flash.html' %]

[%- INCLUDE 'requirement_spec/_header.html' %]

[%- L.hidden_tag('requirement_spec_id', SELF.requirement_spec.id) -%]

<div class="tabwidget">
 <ul>
  <li><a href="#function-blocks-tab">[%- LxERP.t8("Content") %]</a></li>
  <li><a href="controller.pl?action=RequirementSpec/ajax_edit&id=[% HTML.url(SELF.requirement_spec.id) %]">[%- LxERP.t8("Basic settings") %]</a></li>
  <li><a href="controller.pl?action=RequirementSpec/ajax_show_time_and_cost_estimate&id=[% HTML.url(SELF.requirement_spec.id) %]">[%- LxERP.t8("Time and cost estimate") %]</a></li>
 </ul>

 <div id="function-blocks-tab">
  <div id="requirement_spec_version">
    [%- INCLUDE 'requirement_spec/_version.html' requirement_spec=SELF.requirement_spec -%]
  </div>

  <div id="column-container" class="clearfix">
   <div id="tree-column">
    <div id="tree"></div>
   </div>

   <div id="content-column" class="clearfix">
    [% L.hidden_tag('current_content_type', SELF.requirement_spec_item.id ? 'section' : '') %]
    [% L.hidden_tag('current_content_id',   SELF.requirement_spec_item.id) %]

    <div id="column-content">
     [%- IF SELF.requirement_spec_item -%]
      [%- INCLUDE 'requirement_spec_item/_section.html' requirement_spec_item=SELF.requirement_spec_item -%]
     [%- ELSE -%]
      [%- INCLUDE 'requirement_spec_item/_no_section.html' -%]
     [%- END -%]
    </div>
   </div>
  </div>
 </div>
</div>

<script type="text/javascript">
 <!--
$(function() {
  var tree_data = [
    { data:     [% JSON.json(LxERP.t8("Text blocks front")) %],
      metadata: { type: "text-blocks-front" },
      attr:     { id: "tb-front", class: "text-block-context-menu" },
      children: [
[% FOREACH tb = SELF.requirement_spec.text_blocks_for_position(0) %]
 [% P.requirement_spec_text_block_jstree_data(tb).json %][% IF !loop.last %],[% END %]
[% END %]
      ]},

    { data:     [% JSON.json(LxERP.t8("Sections")) %],
      metadata: { type: "sections" },
      attr:     { id: "sections", class: "section-context-menu" },
      children: [
[% FOREACH section = SELF.requirement_spec.sections %]
 [% P.requirement_spec_item_jstree_data(section).json %][% IF !loop.last %],[% END %]
[% END %]
      ]},

    { data:     [% JSON.json(LxERP.t8("Text blocks back")) %],
      metadata: { type: "text-blocks-back" },
      attr:     { id: "tb-back", class: "text-block-context-menu" },
      children: [
[% FOREACH tb = SELF.requirement_spec.text_blocks_for_position(1) %]
 [% P.requirement_spec_text_block_jstree_data(tb).json %][% IF !loop.last %],[% END %]
[% END %]
      ]}];

  $('#tree').jstree({
    core: {
      animation: 0,
      initially_open: [ "tb-front", "tb-back", "sections"
[%- FOREACH section = SELF.requirement_spec.sections -%]
        , "fb-[% section.id %]"
 [%- FOREACH function_block = section.children -%]
        , "fb-[% function_block.id -%]"
 [%- END -%]
[%- END -%]
    ]},
    json_data: {
      data: tree_data
    },
    crrm: {
      move: {
        check_move: requirement_spec_tree_check_move,
        open_move:  true
      }
    },
    themes: {
      theme: "requirement-spec"
    },
    plugins: [ "themes", "json_data", "ui", "crrm", "dnd" ]
  })
  .bind("move_node.jstree", requirement_spec_tree_node_moved)
  .bind("click.jstree",     requirement_spec_tree_node_clicked);
[% IF SELF.requirement_spec_item %]
  $.jstree._reference("#tree").select_node('#fb-[% SELF.requirement_spec_item.id %]', true);
[% END %]

  create_requirement_spec_context_menus();
});

  -->
</script>
