[% USE HTML %]
[% USE T8 %]
<body onload="on_load()">

 <script type="text/javascript">
  <!--
      function on_load() {
        Calendar.setup({ inputField : "date_from", ifFormat :"[% MYCONFIG.jsc_dateformat %]", align : "BR", button : "date_from_trigger" });
        Calendar.setup({ inputField : "date_to",   ifFormat :"[% MYCONFIG.jsc_dateformat %]", align : "BR", button : "date_to_trigger" });
        document.Form.subject.focus();
      }
    -->
 </script>

 <div class="listtop">[% title %]</div>

 <form action="letter.pl" method="post" name="Form">
  <input type="hidden" name="nextsub" value="report">

  <p>
   <table>
    <tr>
     <th align='right'>[% 'Letternumber' | $T8 %]</th>
     <td><input name='letternumber' style='width:250px' value='[% letternumber %]'></th>
    </tr>
    <tr>
     <td align="right">[% 'Customer' | $T8 %]</td>
     <td>
        [%- INCLUDE 'generic/multibox.html'
             name          = 'customer',
             style         = 'width:250px',
             DATA          = ALL_CUSTOMERS,
             id_key        = 'id',
             label_key     = 'name',
             select        = vc_select,
             limit         = MYCONFIG.vclimit,
             allow_textbox = 1,
             show_empty    = 1,
             force_textbox = limit_exceeded_all_customer
             onChange      = "document.getElementById('update_button').click();" -%]
[%- IF MYCONFIG.vclimit > ALL_CUSTOMERS.size %]
       <input type="hidden" name='selectcustomer' value="1">
[%- END %]
     </td>
    </tr>

    <tr>
     <td align="right">[% 'Contact' | $T8 %]</td>
     <td><input name="contact" style='width:250px'></td>
    </tr>

    <tr>
     <td align="right">[% 'Subject' | $T8 %]</td>
     <td><input name="subject" style='width:250px'></td>
    </tr>

    <tr>
     <td align="right">[% 'Body' | $T8 %]</td>
     <td><input name="body" style='width:250px'></td>
    </tr>

    <tr>
     <td align='right'>[% 'From' | $T8 %]</td>
     <td>
      <input name="date_from" id="date_from" size="12">
      <input type="button" name="date_from_button" id="date_from_trigger" value="?">
      [% 'To (time)' | $T8 %]
      <input name="date_to" id="date_to" size="12">
      <input type="button" name="date_to_button" id="date_to_trigger" value="?">
     </td>
    </tr>
<!--
    <tr>
     <td align="right">[% 'Include in Report' | $T8 %]</td>
     <td>

      <table>
      </table>

     </td>
    </tr>
-->
   </table>
  </p>

  <p>
   <input type="submit" name="action" value="[% 'Continue' | $T8 %]">
  </p>
 </form>

</body>
</html>
