[%- USE T8 %]
[%- USE HTML %]
<h1>[% HTML.escape(title) %]</h1>

 [%- IF message %]
 <p>
  [% HTML.escape(message) %]
 </p>
 [%- END %]

 <form method="post" action="generictranslations.pl" id="form">

  <table>

   <tr>
    <th class="listheading">&nbsp;</th>
    <th class="listheading">[% 'Factur-X/ZUGFeRD notes for each invoice' | $T8 %]</th>
   </tr>

   [%- FOREACH language = LANGUAGES %]
   <tr>
    <td>
     [%- IF language.id == 'default' %]
     [% 'Default (no language selected)' | $T8 %]
     [%- ELSE %]
     [%- HTML.escape(language.description) %]
     [%- END %]
    </td>
    <td><input name="translation__[% language.id %]" size="40" value="[% HTML.escape(language.translation) %]"></td>
   </tr>
   [%- END %]
  </table>
 </form>
