[%- USE T8 %]
[%- USE HTML %]
<h1>[% HTML.escape(title) %]</h1>

 [%- IF message %]
 <p>
  [% HTML.escape(message) %]
 </p>
 [%- END %]

 <form method="post" action="generictranslations.pl">

  <table>

   <tr>
    <th class="listheading">&nbsp;</th>
    <th class="listheading">[% 'Remittance information prefix' | $T8 %]</th>
   </tr>

   [%- FOREACH language = LANGUAGES %]
   <tr>
    <td>
     [%- IF language.id == 'default' %]
     [% 'Default (no language selected)' | $T8 %]
     [%- ELSE %]
     [%- HTML.escape(language.description) %]
     [%- END %]
    </td>
    <td><input name="translation__[% language.id %]" size="40" value="[% HTML.escape(language.translation) %]"></td>
   </tr>
   [%- END %]
   <tr>
    <th class="listheading">&nbsp;</th>
    <th class="listheading">[% 'Remittance information optional Vendor/Customer No postfix' | $T8 %]</th>
   </tr>

   [%- FOREACH language = LANGUAGES %]
   <tr>
    <td>
     [%- IF language.id == 'default' %]
     [% 'Default (no language selected)' | $T8 %]
     [%- ELSE %]
     [%- HTML.escape(language.description) %]
     [%- END %]
    </td>
    <td><input name="translation__[% language.id %]__vc" size="40" value="[% HTML.escape(language.translation_vc) %]"></td>
   </tr>
   [%- END %]

  </table>

  <p>
   <input type="hidden" name="action" value="save_sepa_strings">
   <input type="submit" class="submit" value="[% 'Save' | $T8 %]">
  </p>

 </form>

