[% USE HTML %][% USE L %][% USE LxERP %]
<h1>[% FORM.title %]</h1>

[%- INCLUDE 'common/flash.html' %]

 <form method="post" action="controller.pl">
  [% IF !REQUIREMENT_SPEC_ACCEPTANCE_STATUSES.size %]
   <p>
    [%- LxERP.t8('No acceptance statuses has been created yet.') %]
   </p>

  [%- ELSE %]
   <table id="requirement_spec_acceptance_status_list">
    <thead>
    <tr class="listheading">
     <th align="center"><img src="image/updown.png" alt="[%- LxERP.t8('reorder item') %]"></th>
     <th>[%- LxERP.t8('Name') %]</th>
     <th>[%- LxERP.t8('Description') %]</th>
    </tr>
    </thead>

    <tbody>
    [%- FOREACH requirement_spec_acceptance_status = REQUIREMENT_SPEC_ACCEPTANCE_STATUSES %]
    <tr class="listrow[% loop.count % 2 %]" id="requirement_spec_acceptance_status_id_[% requirement_spec_acceptance_status.id %]">
     <td align="center" class="dragdrop"><img src="image/updown.png" alt="[%- LxERP.t8('reorder item') %]"></td>
     <td>
      <a href="[% SELF.url_for(action => 'edit', id => requirement_spec_acceptance_status.id) %]">
       [%- HTML.escape(requirement_spec_acceptance_status.name) %]
      </a>
     </td>

     <td>[%- HTML.escape(requirement_spec_acceptance_status.description) %]</td>
    </tr>
    [%- END %]
    </tbody>
   </table>
  [%- END %]

  <p>
   <a href="[% SELF.url_for(action => 'new') %]">[%- LxERP.t8('Create a new acceptance status') %]</a>
  </p>
 </form>

 [% L.sortable_element('#requirement_spec_acceptance_status_list tbody', url => 'controller.pl?action=RequirementSpecAcceptanceStatus/reorder', with => 'requirement_spec_acceptance_status_id') %]
